<table class="table table-hover mt-24px">
  <thead>
    <tr>
      <th></th>
      <th>Patients</th>
      <th>Encounters</th>
      <th>Blood pressures</th>
      <th>Blood sugars</th>
      <th>Prescription drugs</th>
      <th>Appointments</th>
    </tr>
  </thead>
  <tbody>
  <tr class="text-danger">
    <th>Errors</th>
    <th><%= number_or_dash_with_delimiter(summary.dig(:errors, ['Patient', region_id])) %></th>
    <th><%= number_or_dash_with_delimiter(summary.dig(:errors, ['Encounter', region_id])) %></th>
    <th><%= number_or_dash_with_delimiter(summary.dig(:errors, ['BloodPressure', region_id])) %></th>
    <th><%= number_or_dash_with_delimiter(summary.dig(:errors, ['BloodSugar', region_id])) %></th>
    <th><%= number_or_dash_with_delimiter(summary.dig(:errors, ['PrescriptionDrug', region_id])) %></th>
    <th><%= number_or_dash_with_delimiter(summary.dig(:errors, ['Appointment', region_id])) %></th>
  </tr>
  <tr>
    <th>Migrated</th>
    <th><%= number_or_dash_with_delimiter(summary.dig(:migrated, ['Patient', region_id])) %></th>
    <th><%= number_or_dash_with_delimiter(summary.dig(:migrated, ['Encounter', region_id])) %></th>
    <th><%= number_or_dash_with_delimiter(summary.dig(:migrated, ['BloodPressure', region_id])) %></th>
    <th><%= number_or_dash_with_delimiter(summary.dig(:migrated, ['BloodSugar', region_id])) %></th>
    <th><%= number_or_dash_with_delimiter(summary.dig(:migrated, ['PrescriptionDrug', region_id])) %></th>
    <th><%= number_or_dash_with_delimiter(summary.dig(:migrated, ['Appointment', region_id])) %></th>
  </tr>
  <% if summary[:daily].present? %>
    <% summary[:daily].each do |date, daily_summary| %>
      <tr style="background: #eee">
        <td><%= I18n.l(date) %></td>
        <td><%= number_or_dash_with_delimiter(daily_summary[["Patient", region_id]]) %></td>
        <td><%= number_or_dash_with_delimiter(daily_summary[["Encounter", region_id]]) %></td>
        <td><%= number_or_dash_with_delimiter(daily_summary[["BloodPressure", region_id]]) %></td>
        <td><%= number_or_dash_with_delimiter(daily_summary[["BloodSugar", region_id]]) %></td>
        <td><%= number_or_dash_with_delimiter(daily_summary[["PrescriptionDrug", region_id]]) %></td>
        <td><%= number_or_dash_with_delimiter(daily_summary[["Appointment", region_id]]) %></td>
      </tr>
    <% end %>
  <% end %>
  <tr>
    <th>Totals</th>
    <th><%= number_or_dash_with_delimiter(summary.dig(:total, :patients, region_id)) %></th>
    <th><%= number_or_dash_with_delimiter(summary.dig(:total, :encounters, region_id)) %></th>
    <th><%= number_or_dash_with_delimiter(summary.dig(:total, :blood_pressures, region_id)) %></th>
    <th><%= number_or_dash_with_delimiter(summary.dig(:total, :blood_sugars, region_id)) %></th>
    <th><%= number_or_dash_with_delimiter(summary.dig(:total, :prescription_drugs, region_id)) %></th>
    <th><%= number_or_dash_with_delimiter(summary.dig(:total, :appointments, region_id)) %></th>
  </tr>
  </tbody>
</table>
