<div class="page-header">
  <h1 class="page-title">CPHC Migration</h1>

  <div class="page-nav">
    <%= link_to new_admin_facility_group_path, class: "btn btn-sm btn-success" do %>
      <i class="fas fa-plus mr-1"></i> <%= t("facility_group").capitalize %>
  <% end %>
  </div>

</div>

<%= render 'shared/search_form', path: admin_cphc_migration_path, placeholder: "Search by facility name ..." %>

<% if searching? and @facilities.blank? %>
  <%= render "shared/no_search_results", message: "No results for '#{content_tag(:strong, search_query)}'" %>
<% else %>
  <% @organizations.sort_by(&:name).each do |organization| %>
    <% if @organizations.size > 1 %>
      <h2 class="mt-5 mb-3"><span class="heading-label">Organization</span><%= organization.name %></h2>
    <% end %>

    <h2 class="mb-16px"><%= t("facility_group").capitalize %>s</h2>

    <% @facility_groups.dig(organization)&.sort_by(&:name)&.each do |facility_group| %>
      <div class="card">
        <div class="row">
          <div class="col-md-4">
            <h5>
              <b><%= facility_group.name %></b>
            </h5>
          </div>
          <div class="col-md-4">
            <div class="subtitle">
              <p>
              Number of patients synced:
              <%= facility_group.assigned_patients.filter { |p| p.cphc_migration_audit_log.present?}.count %> / <%= facility_group.assigned_patients.count %>
              </p>
            </div>
          </div>
          <% if current_admin.accessible_facility_groups(:manage).find_by_id(facility_group) %>
            <div class="col-md-4 text-md-right mb-16px mb-lg-0">
              <%# <%= link_to new_admin_facility_group_facility_path(facility_group), class: "btn btn-sm btn-outline-success" do %1> %>
              <%#   <i class="fas fa-plus mr-1"></i> Add facility mapping %>
              <%# <% end %1> %>
          </div>
        <% end %>
        </div>

        <% local_facilities = @facilities.dig(facility_group) %>
        <% if local_facilities&.any? %>
          <div class="mb-0">
            <a href="#<%= facility_group.slug %>" data-toggle="collapse" data-target="#<%= facility_group.slug %>" aria-expanded="true" aria-controls="<%= facility_group.slug %>">
              <i class="fas fa-angle-down mr-4px"></i> <%= pluralize(local_facilities.count, "facilities") %>
            </a>
          </div>
          <div class="multi-collapse" id="<%= facility_group.slug %>">
            <h4 class="mt-24px text-grey">Facilities</h4>
            <% local_facilities.sort_by(&:name)&.each do |facility| %>
              <div class="row card-row">
                <div class="col-md-5">
                  <h5 class="pb-md-0 pb-1">
                    <a href="#<%= facility.slug %>">
                      <%= facility.name %>
                    </a>
                  </h5>
                </div>
                <div class="col-md-2">
                  <span class="text-muted">
                    Patients Enrolled: <%= facility.assigned_patients.filter { |p| p.cphc_migration_audit_log.present?}.count %> / <%= facility.assigned_patients.count %>
                  </span>
                </div>
              </div>
              <% if facility.cphc_facility_mappings.present? %>
                <h4 class="mt-24px text-grey">Current Mappings</h4>
                <%= render "admin/cphc_migration/cphc_mappings",
                  facility: facility,
                  show_button: true,
                  mappings: facility.cphc_facility_mappings %>
              <% else %>
                <div class="mb-24px col-md-12"><span class="text-muted">No CPHC facilities mapped yet</span></div>
              <% end %>

            <% end %>
          </div>
        <% else %>
          <div class="mb-0">
            <span class="text-grey">No facilities</span>
          </div>
        <% end %>
      </div>
    <% end %>
  <% end %>
<% end %>

<h2 class="mt-5 mb-3">Unmapped CPHC Facilities</h2>

<%= render "admin/cphc_migration/cphc_mappings",
  show_button: false,
  mappings: @unmapped_cphc_facilites %>
