<div class="page-header">
  <h1 class="page-title">CPHC Migration</h1>

  <div class="page-nav">
    <%= link_to new_admin_facility_group_path, class: "btn btn-sm btn-success" do %>
      <i class="fas fa-plus mr-1"></i> <%= t("facility_group").capitalize %>
  <% end %>
  </div>

</div>

<%= render 'shared/search_form', path: admin_cphc_migration_path, placeholder: "Search by facility name ..." %>

<% if searching? and @facilities.blank? %>
  <%= render "shared/no_search_results", message: "No results for '#{content_tag(:strong, search_query)}'" %>
<% else %>
  <% @organizations.sort_by(&:name).each do |organization| %>
    <% if @organizations.size > 1 %>
      <h2 class="mt-5 mb-3"><span class="heading-label">Organization</span><%= organization.name %></h2>
    <% end %>

    <h2 class="mb-16px"><%= t("facility_group").capitalize %>s</h2>

    <% @facilities.each do |facility_group, local_facilities| %>
      <div class="card">
        <div class="row">
          <div class="col-md-8">
            <h5>
              <b><%= facility_group.name %></b>
            </h5>
          </div>
          <div class="col-md-2">
            <%= link_to admin_cphc_migration_path(
              district_slugs: [facility_group.slug],
              unlinked_facilities: true
            ), class: "btn btn-sm btn-outline-info" do %>
            <i class="fas fa-link-slash mr-1"></i>
            <%= facility_group
              .facilities.includes(:cphc_facility_mappings)
              .filter{ |f| f.cphc_facility_mappings.empty? }.count %> Unlinked Facilities
            <% end %>
          </div>
          <div class="col-md-2">
            <%= link_to admin_cphc_migration_path(
              district_slugs: [facility_group.slug],
              error_facilities: true
            ), class: "btn btn-sm btn-outline-danger" do %>
            <i class="fas fa-bomb mr-1"></i>
            <%= facility_group
              .facilities
              .joins(:cphc_migration_error_logs)
              .joins("left outer join cphc_migration_audit_logs on cphc_migration_audit_logs.cphc_migratable_id = cphc_migration_error_logs.cphc_migratable_id")
              .where("cphc_migration_audit_logs.id is null")
              .distinct(:facility_id)
              .count %> Facilities with errors
            <% end %>
          </div>
          <div class="col-md-12">
            <table class="table mt-24px">
              <thead>
                <tr>
                  <th>Model</th>
                  <th>Migrated</th>
                  <th>Total</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>Patients</td>
                  <td><%= get_migrated_records(:patient, facility_group).count %></td>
                  <td><%= facility_group.assigned_patients.count %></td>
                </tr>
                <tr>
                  <td>Encounters</td>
                  <td><%= get_migrated_records(:encounter, facility_group).count %></td>
                  <td><%= Encounter.where(patient: facility_group.assigned_patients).count %></td>
                </tr>
                <tr>
                  <td>Blood Pressures</td>
                  <td><%= get_migrated_records(:blood_pressure, facility_group).count %></td>
                  <td><%= BloodPressure.where(patient: facility_group.assigned_patients).count %></td>
                </tr>
                <tr>
                  <td>Blood Sugars</td>
                  <td><%= get_migrated_records(:blood_sugar, facility_group).count %></td>
                  <td><%= BloodSugar.where(patient: facility_group.assigned_patients).count %></td>
                </tr>
                <tr>
                  <td>Prescription Drugs</td>
                  <td><%= get_migrated_records(:prescription_drug, facility_group).count %></td>
                  <td><%= PrescriptionDrug.where(patient: facility_group.assigned_patients).count %></td>
                </tr>
                <tr>
                  <td>Appointments</td>
                  <td><%= get_migrated_records(:appointment, facility_group).count %></td>
                  <td><%= Appointment.where(patient: facility_group.assigned_patients).count %></td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>

        <% local_facilities.each do |facility| %>
          <% facility_errors = facility
            .cphc_migration_error_logs
            .joins("left outer join cphc_migration_audit_logs on cphc_migration_audit_logs.cphc_migratable_id = cphc_migration_error_logs.cphc_migratable_id")
            .where("cphc_migration_audit_logs.id is null") %>
          <% mappings = facility.cphc_facility_mappings %>
          <% if mappings.present? %>
            <div class="row card-row mt-24px">
              <div class="col-md-7">
                <a  href="#<%= facility.slug %>"
                    data-toggle="collapse"
                    role="button"
                    aria-expanded="false"
                    data-target="#<%= facility.slug %>"
                    aria-controls="<%= facility.slug %>">
                    <%= facility.name %>
                  </a>
                <p class="c-blue mt-24px">
                <%= mappings.first.cphc_district_name %> | <%= mappings.first.cphc_taluka_name %> | <%= mappings.first.cphc_phc_name %>
                </p>


                <span>CPHC Subcenters:</span>
                <p class="muted"><%= mappings.map(&:cphc_subcenter_name).uniq.join(", ") %></p>
                <span>CPHC Villages:</span>
                <p class="muted"><%= mappings.map(&:cphc_village_name).uniq.join(", ") %></p>
              </div>

              <div class="col-md-1">
                <a  href="#<%= facility.slug %>"
                    class="btn btn-sm btn-outline-info"
                    data-toggle="collapse"
                    role="button"
                    aria-expanded="false"
                    data-target="#<%= facility.slug %>"
                    aria-controls="<%= facility.slug %>">
                    <i class="fas fa-sigma mr-1"></i>
                    Results
                </a>
              </div>

              <div class="col-md-1">
                <%= link_to admin_cphc_migration_path(
                  district_slugs: [facility_group.slug],
                  unlinked_facilities: true
                ), class: "btn btn-sm btn-outline-secondary" do %>
                <i class="fas fa-link-slash mr-1"></i>
                Unlink
                <% end %>
              </div>

              <div class="col-md-1">
                <a  href="#<%= facility.slug %>-errors"
                    class="btn btn-sm btn-outline-info"
                    data-toggle="collapse"
                    role="button"
                    aria-expanded="false"
                    data-target="#<%= facility.slug %>-errors"
                    aria-controls="<%= facility.slug %>-errors">
                    <i class="fas fa-bomb mr-1"></i>
                    <%= facility_errors.count %> Errors
                </a>
              </div>

              <% if get_migrated_records(:patient, facility).count == facility.assigned_patients.count %>
                <div class="col-md-2">
                  <%= link_to href:"#", class: "btn btn-sm btn-outline-secondary" do%>
                    <i class="fas fa-check mr-1"></i>
                    All patients migrated
                  <% end %>
                </div>
              <% else %>
                <div class="col-md-2">
                  <%= form_with url: admin_migrate_facility_to_cphc_path(facility_id: facility.id), method: :post do |form| %>
                    <%= form.button type: "submit", class: "btn btn-sm btn-outline-danger" do %>
                      <i class="fas fa-cloud-exclamation mr-1"></i>
                      Migrate Facility
                    <% end %>
                  <% end %>
                </div>
              <% end %>

              <div class="col-md-12 collapse multi-collapse" id="<%= facility.slug %>">
                <table class="table mt-24px">
                  <thead>
                    <tr>
                      <th>Model</th>
                      <th>Migrated</th>
                      <th>Total</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr>
                      <td>Patients</td>
                      <td><%= get_migrated_records(:patient, facility).count %></td>
                      <td><%= facility.assigned_patients.count %></td>
                    </tr>
                    <tr>
                      <td>Encounters</td>
                      <td><%= get_migrated_records(:encounter, facility).count %></td>
                      <td><%= Encounter.where(patient: facility.assigned_patients).count %></td>
                    </tr>
                    <tr>
                      <td>Blood Pressures</td>
                      <td><%= get_migrated_records(:blood_pressure, facility).count %></td>
                      <td><%= BloodPressure.where(patient: facility.assigned_patients).count %></td>
                    </tr>
                    <tr>
                      <td>Blood Sugars</td>
                      <td><%= get_migrated_records(:blood_sugar, facility).count %></td>
                      <td><%= BloodSugar.where(patient: facility.assigned_patients).count %></td>
                    </tr>
                    <tr>
                      <td>Prescription Drugs</td>
                      <td><%= get_migrated_records(:prescription_drug, facility).count %></td>
                      <td><%= PrescriptionDrug.where(patient: facility.assigned_patients).count %></td>
                    </tr>
                    <tr>
                      <td>Appointments</td>
                      <td><%= get_migrated_records(:appointment, facility).count %></td>
                      <td><%= Appointment.where(patient: facility.assigned_patients).count %></td>
                    </tr>
                  </tbody>
                </table>
              </div>

              <% if facility_errors.present? %>
                <div class="col-md-12 collapse multi-collapse c-red" id="<%= facility.slug %>-errors">
                  <table class="table mt-24px">
                    <thead>
                      <tr>
                        <th>ID</th>
                        <th>Time</th>
                        <th>Model</th>
                        <th>Path</th>
                        <th>Response Code</th>
                        <th>Response Body</th>
                        <th>Retry</th>
                      </tr>
                    </thead>
                    <tbody>
                      <% facility_errors.each do |error_log| %>
                        <tr>
                          <td class="text-danger"><%= error_log.id %></td>
                          <td class="text-danger"><%= error_log.failures["timestamp"] %></td>
                          <td class="text-danger"><%= error_log.cphc_migratable_type %></td>
                          <td class="text-danger"><%= error_log.failures["path"] %></td>
                          <td class="text-danger"><%= error_log.failures["response_code"] %></td>
                          <td> class="text-danger"<%= error_log.failures["response_body"] %></td>
                          <td>
                            <%= form_with url: admin_migrate_patient_to_cphc_path(patient_id: error_log.patient_id), method: :post do |form| %>
                              <%= form.button type: "submit", class: "btn btn-sm btn-outline-danger" do %>
                                <i class="fas fa-cloud-exclamation mr-1"></i>
                                Retry patient
                              <% end %>
                            <% end %>
                          </td>
                        </tr>
                      <% end %>
                    </tbody>
                  </table>

                </div>
              <% end %>
            </div>
          <% else %>
            <div class="row card-row mt-24px">
              <div class="col-md-6">
                <h5 class="c-orange"><%= facility.name %></h5>
              </div>
              <div class="col-md-6">
                <%= form_with url: admin_update_cphc_mapping_path(facility.id) do |form| %>
                  <%= form.collection_select :cphc_phc_id,
                    CphcFacilityMapping.where(facility: nil).search_by_region(facility.district).uniq(&:cphc_phc_name).sort_by(&:cphc_phc_name),
                    :cphc_phc_id,
                    :cphc_phc_name,
                    {},
                    {class: "form-select form-select-sm" }
                  %>
                  <%= form.submit "+ Mapping", class: "btn btn-sm btn-outline-primary" %>
                <% end %>
              </div>
            </div>
          <% end %>
        <% end %>
      </div>
    <% end %>
  <% end %>
<% end %>

<h2 class="mt-5 mb-3">Unmapped CPHC Facilities</h2>

<%= render "admin/cphc_migration/cphc_mappings",
  show_button: false,
  mappings: @unmapped_cphc_facilites %>
