<h1>
  <small><%= @organization.name %></small><br>
  <%= @facility_group.name %>
</h1>

<div class="table-responsive">
  <table class="table table-sm">
    <thead class="thead-light">
      <tr>

        <th><h3>Daily unique patients</h3></th>

        <th class="text-center">Total Patients</th>
        <% @days_previous.downto(0).map { |since| since.days.ago }.each do |day| %>
          <th class="text-center <%= "holiday" if day.sunday? %>">
            <small><strong><%= day.strftime("%b") %><br><%= day.strftime("%d") %></strong></small>
          </th>
        <% end %>
      </tr>
    </thead>
    <tbody>
      <% @facilities.sort_by(&:name).each do |facility| %>
        <% next if @visits_by_facility.fetch(facility.id, 0)  == 0 %>

        <tr class="table-info table-row-small">
          <td class="row-title"><strong><%= facility.name %></strong></td>
          <td class="text-center"><%= lighten_if_zero(@visits_by_facility[facility.id] || 0) %></td>
          <% @days_previous.downto(0).map { |since| since.days.ago }.each do |day| %>
            <td class="text-center <%= "holiday" if day.sunday? %>"></td>
          <% end %>
        </tr>

        <% facility.users.sort_by(&:full_name).each do |user| %>
          <tr class="table-row-small">
            <td class="pl-lg-4"><%= user.full_name %></td>
            <td class="text-center">
              <%= lighten_if_zero(@visits_by_facility_user[[facility.id, user.id]] || 0) %>
            </td>
            <% @days_previous.downto(0).map { |since| since.days.ago }.each do |day| %>
              <td class="text-center <%= "holiday" if day.sunday? %>">
                <%= lighten_if_zero(@visits_by_facility_user_day[[facility.id, user.id, day.in_time_zone("New Delhi").to_date]] || 0) %>
              </td>
            <% end %>
          </tr>
        <% end %>
      <% end %>
    </tbody>
  </table>
</div>
</section>

<section>

<div class="table-responsive">
  <table class="table table-sm">
    <thead class="thead-light">
      <tr>
        <th><h3>New patients registered</h3></th>
        <th class="text-center">Total</th>
        <% @months_previous.downto(0).each do |since| %>
          <th class="text-center">
            <%= since.months.ago.in_time_zone("New Delhi").strftime("%b") %><br>
            <%= since.months.ago.in_time_zone("New Delhi").strftime("%Y") %>
          </th>
        <% end %>
      </tr>
    </thead>
    <tbody>
      <% @facilities.sort_by(&:name).each do |facility| %>
        <% next if @visits_by_facility.fetch(facility.id, 0) == 0 %>

        <tr class="table-light">

          <td class="row-title"><strong><%= facility.name %></strong></td>
          <td class="text-center"><%= lighten_if_zero(@new_patients_by_facility[facility.id] || 0) %></td>
          <% @months_previous.downto(0).each do |since| %>
            <td class="text-center">
              <%= lighten_if_zero(@new_patients_by_facility_month[[facility.id, since.months.ago.in_time_zone("New Delhi").beginning_of_month.to_date]] || 0) %>
            </td>
          <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
</section>


<section>
<div class="table-responsive">
  <table class="table table-sm">
    <thead class="thead-light">
      <tr>
        <th><h3>Monthly unique patients</h3></th>
        <th class="text-center">&nbsp;&nbsp;&nbsp;</th> <!-- Spacer to match next table above -->
        <% @months_previous.downto(0).each do |since| %>
          <th class="text-center">
            <%= since.months.ago.in_time_zone("New Delhi").strftime("%b") %><br>
            <%= since.months.ago.in_time_zone("New Delhi").strftime("%Y") %>
          </th>
        <% end %>
      </tr>
    </thead>
    <tbody>
      <% @facilities.sort_by(&:name).each do |facility| %>
        <% next if @visits_by_facility.fetch(facility.id, 0) == 0 %>

        <tr class="table-light">

          <td class="row-title"><strong><%= facility.name %></strong></td>
          <td>&nbsp;</td> <!-- Spacer to match next able above -->
          <% @months_previous.downto(0).each do |since| %>
            <td class="text-center">
              <%= lighten_if_zero(@visits_by_facility_month[[facility.id, since.months.ago.in_time_zone("New Delhi").beginning_of_month.to_date]] || 0) %>
            </td>
          <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
</section>

<footer class="text-muted">
    <p><small>Note: All times are in India Standard Time</small></p>
</footer>
