<div class="card mt-0 pr-0 pr-md-3 pb-iniside-avoid">
  <h3 class="mb-8px c-black">
    <%= row_resource_title %>
  </h3>
  <p class="c-grey-dark">
    <%= row_resource_description %>
  </p>
  <div class="table-responsive">
    <table class="analytics-table table-compact">
      <colgroup>
          <col>
          <col class="table-divider">
          <col class="table-divider">
          <col>
          <col>
          <col>
          <col>
          <col>
          <col class="table-divider">
          <col>
          <col>
          <col>
          <col>
          <col>
      </colgroup>
      <thead>
        <tr>
          <th></th>
          <th>
            Total reg.<sup>1</sup>
          </th>
          <th colspan="6">
            New registrations<sup>2</sup>
          </th>
          <th colspan="6">
            Follow-ups<sup>3</sup>
          </th>
        </tr>
        <tr class="sorts" data-sort-method="thead">
          <th class="row-label sort-label sort-label-small ta-left" data-sort-default>
            <%= row_resource_column %>
          </th>
          <th class="row-label sort-label sort-label-small ta-left" data-sort-method="number">
            <%= @period %>
          </th>
          <% dates_for_periods(period, 6, include_current_period: @show_current_period).each do |date| %>
            <th class="row-label sort-label sort-label-small" data-sort-method="number">
              <%= format_period(period, date) %>
            </th>
          <% end %>
          <% dates_for_periods(period, 6, include_current_period: @show_current_period).each do |date| %>
            <th class="row-label sort-label sort-label-small" data-sort-method="number">
              <%= format_period(period, date) %>
            </th>
          <% end %>
        </tr>
      </thead>
      <tbody>
        <tr class="row-title row-total" data-sort-method="none">
          <td class="row-title row-total"> 
            <%= @region.name %>
          </td>
          <td class="row-total ta-center">
            <%= dash_if_zero(dashboard_analytics.sum { |_, row| row[:total_registered_patients] || 0 }) %>
          </td>
          <% dates_for_periods(period, 6, include_current_period: @show_current_period).each do |date| %>
            <td class="row-total ta-center">
              <%= dash_if_zero(analytics_totals(dashboard_analytics, :registered_patients_by_period, date)) %>
            </td>
          <% end %>
          <% dates_for_periods(period, 6, include_current_period: @show_current_period).each do |date| %>
            <td class="row-total ta-center">
              <%= dash_if_zero(analytics_totals(dashboard_analytics, :follow_up_patients_by_period, date)) %>
            </td>
          <% end %>
        </tr>
        <% row_resource.each do |resource| %>
          <% if dashboard_analytics[resource.id].present? %>
            <tr>
              <td class="row-title">
                <% if row_resource_link == :reports_region_facility_path %>
                  <%= link_to resource.send(row_resource_display_field),
                              send(row_resource_link, resource, period: @period) %>
                <% else %>
                  <%= link_to resource.send(row_resource_display_field), send(row_resource_link, resource) %>
                <% end %>
              </td>
              <td class="ta-center">
                <%= dash_if_zero(dashboard_analytics.dig(resource.id, :total_registered_patients)) %>
              </td>
              <% dates_for_periods(period, 6, include_current_period: @show_current_period).each do |date| %>
                <td class="ta-center">
                  <%= dash_if_zero(dashboard_analytics.dig(resource.id, :registered_patients_by_period, date)) %>
                </td>
              <% end %>
              <% dates_for_periods(period, 6, include_current_period: @show_current_period).each do |date| %>
                <td class="ta-center">
                  <%= dash_if_zero(dashboard_analytics.dig(resource.id, :follow_up_patients_by_period, date)) %>
                </td>
              <% end %>
            </tr>
          <% end %>
        <% end %>
      </tbody>
    </table>
  </div>
  <div class="mt-20px">
    <p class="mb-8px fs-14px c-grey-dark c-print-black">
      <% if @region.is_a?(Facility) %>
        <strong>1. Total registrations:</strong> Total patients registered by users at <%= @region.name %> till <%= @period %>
      <% else %>
        <strong>1. Total registrations:</strong> Total patients registered at facilities in <%= @region.name %> till <%= @period %>
      <% end %>
    </p>
    <p class="mb-8px fs-14px c-grey-dark c-print-black">
      <% if @region.is_a?(Facility) %>
        <strong>2. New registrations:</strong> New patients registered during a month at <%= @region.name %>
      <% else %>
        <strong>2. New registrations:</strong> New patients registered during a month at facilities in <%= @region.name %>
      <% end %>
    </p>
    <p class="mb-0px fs-14px c-grey-dark c-print-black">
      <% if @region.is_a?(Facility) %>
        <strong>3. Follow-ups:</strong> Total BPs recorded for hypertensive patients during a month at <%= @region.name %>. New registrations are excluded.
      <% else %>
        <strong>3. Follow-ups:</strong> Total BPs recorded for hypertensive patients during a month at facilities in <%= @region.name %>. New registrations are excluded.
      <% end %>
    </p>
  </div>
</div>