<% if is_header_row %>
  <td class="type-title">
    <%= region.name %>
  </td>
<% else %>
  <td class="ta-left">
    <%= link_to(reports_region_diabetes_path(region, report_scope: region.region_type)) do %>
      <%= region.name %>
    <% end %>
  </td>
<% end %>
<% [:rbs_ppbs, :fasting, :hba1c].each do |blood_sugar_type| %>
  <% [:bs_below_200, :bs_200_to_300, :bs_over_300].each do |blood_sugar_risk_state| %>
    <% if blood_sugar_type == :rbs_ppbs
         patients_percentage_in_category =
           row_data.dig(:diabetes_patients_with_bs_taken_breakdown_rates, period) == 0 ? 0 :
             (row_data.dig(:diabetes_patients_with_bs_taken_breakdown_rates, period, [blood_sugar_risk_state, :random]) +
               row_data.dig(:diabetes_patients_with_bs_taken_breakdown_rates, period, [blood_sugar_risk_state, :post_prandial]))

         patients_count_in_category =
           row_data.dig(:diabetes_patients_with_bs_taken_breakdown_counts, period) == 0 ? 0 :
             (row_data.dig(:diabetes_patients_with_bs_taken_breakdown_counts, period, [blood_sugar_risk_state, :random]) +
               row_data.dig(:diabetes_patients_with_bs_taken_breakdown_counts, period, [blood_sugar_risk_state, :post_prandial]))
       else
         patients_percentage_in_category =
           row_data.dig(:diabetes_patients_with_bs_taken_breakdown_rates, period) == 0 ? 0 :
             row_data.dig(:diabetes_patients_with_bs_taken_breakdown_rates, period, [blood_sugar_risk_state, blood_sugar_type])

         patients_count_in_category =
           row_data.dig(:diabetes_patients_with_bs_taken_breakdown_counts, period) == 0 ? 0 :
             row_data.dig(:diabetes_patients_with_bs_taken_breakdown_counts, period, [blood_sugar_risk_state, blood_sugar_type])
       end %>

    <td
      class="type-percent"
      data-sort-column-key="bs-patients-breakdown-<%= period %>"
      data-sort="<%= patients_percentage_in_category %>"
      data-toggle="tooltip"
      title="<%= number_with_delimiter(patients_count_in_category) %> / <%= number_with_delimiter(row_data.dig(:diabetes_patients_with_bs_taken, period)) %> patients">
      <% if is_header_row %>
        <em data-rate="<%= patients_percentage_in_category %>" class="bg-yellow" >
          <%= number_to_percentage(patients_percentage_in_category || 0, precision: 0) %>
        </em>
      <% else %>
        <em data-rate="<%= patients_percentage_in_category %>">
          <%= number_to_percentage(patients_percentage_in_category || 0, precision: 0) %>
        </em>
      <% end %>
    </td>

    <td class="ta-left">
      <%= number_or_dash_with_delimiter(patients_count_in_category) %>
    </td>
  <% end %>
<% end %>
