<div class="card mb-0">
  <div class="d-flex mb-8px">
    <div class="d-flex flex-1">
      <h3 class="mb-0px mr-8px">
        Blood sugar measurement details
      </h3>
      <%= render "definition_tooltip",
                 definitions: { "Blood sugar measurement details" => t("bs_measurement_details_copy.numerator", region_name: @region.name)} %>
    </div>
  </div>
  <p class="c-grey-dark">
    <%= t("bs_measurement_details_copy.reports_card_subtitle",
          region_name: @region.name,
          period_registered: @data.dig(:period_info, @period, :bp_control_registration_date),
          period_start: @data.dig(:period_info, @period, :bp_control_start_date),
          period_end: @data.dig(:period_info, @period, :bp_control_end_date)) %>
  </p>
  <div class="table-responsive-md">
    <table id="region-comparison-table" class="table-compact">
      <colgroup>
        <col>
        <col class="table-divider">
        <col>
        <col class="table-divider">
        <col>
        <col class="table-divider">
        <col>
        <col class="table-divider">
        <col>
        <col class="table-divider">
        <col>
        <col class="table-divider">
        <col>
        <col class="table-divider">
        <col>
        <col class="table-divider">
        <col>
        <col class="table-divider">
        <col>
      </colgroup>
      <thead>
      <tr class="sorts" data-sort-method="thead">
        <th class="row-label sort-label sort-label-small ta-left" data-sort-default>
          <%= localized_region_type.capitalize %>
        </th>
        <th class="row-label sort-label sort-label-small ta-left" data-sort-method="number" colspan="2" class="sticky nowrap">
          RBS/PPBS <200
        </th>
        <th style="display: none" data-sort-method="none"></th>
        <th class="row-label sort-label sort-label-small ta-left" data-sort-method="number" colspan="2" class="sticky nowrap">
          RBS/PPBS
          200-299
        </th>
        <th style="display: none" data-sort-method="none"></th>
        <th class="row-label sort-label sort-label-small ta-left" data-sort-method="number" colspan="2" class="sticky nowrap">
          RBS/PPBS
          ≥300
        </th>
        <th style="display: none" data-sort-method="none"></th>
        <th class="row-label sort-label sort-label-small ta-left" data-sort-method="number" colspan="2" class="sticky nowrap">
          FBS <126
        </th>
        <th style="display: none" data-sort-method="none"></th>
        <th class="row-label sort-label sort-label-small ta-left" data-sort-method="number" colspan="2" class="sticky nowrap">
          FBS 126-199
        </th>
        <th style="display: none" data-sort-method="none"></th>
        <th class="row-label sort-label sort-label-small ta-left" data-sort-method="number" colspan="2" class="sticky nowrap">
          FBS ≥200
        </th>
        <th style="display: none" data-sort-method="none"></th>
        <th class="row-label sort-label sort-label-small ta-left" data-sort-method="number" colspan="2" class="sticky nowrap">
          HbA1c <7.0
        </th>
        <th style="display: none" data-sort-method="none"></th>
        <th class="row-label sort-label sort-label-small ta-left" data-sort-method="number" colspan="2" class="sticky nowrap">
          HbA1c 7.0-8.9
        </th>
        <th style="display: none" data-sort-method="none"></th>
        <th class="row-label sort-label sort-label-small ta-left" data-sort-method="number" colspan="2" class="sticky nowrap">
          HbA1c ≥9.0
        </th>
        <th style="display: none" data-sort-method="none"></th>
      </tr>
      </thead>
      <tbody>
      <tr class="row-total" data-sort-method="none">
        <%= render "bs_measurement_child_table_row", region: @region, row_data: @data, period: @period, is_header_row: true %>
      </tr>

      <% children_data.each do |child_data| %>
          <tr>
            <%= render "bs_measurement_child_table_row", region: child_data[:region], row_data: child_data, period: @period, is_header_row: false %>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
