<div class="card mb-0">
  <h3 class="mb-16px c-black">
    <%= @period %> hypertension indicators
  </h3>
  <div class="table-responsive-md">
    <table id="region-comparison-table" class="table-compact">
      <colgroup>
        <col class="table-first-col">
        <col class="table-divider">
        <col>
        <col class="table-divider">
        <col>
        <col class="table-divider">
        <col>
        <col class="table-divider">
        <col>
      </colgroup>
      <thead>
      <tr>
        <th class="sticky"></th>
        <th colspan="2" class="sticky nowrap">
          BP controlled
          <%= render "definition_tooltip",
                     definitions: {
                       "Numerator" => t("bp_controlled_copy.numerator"),
                       "Denominator" => t("denominator_copy", region_name: @region.name)
                     }
          %>
        </th>
        <th colspan="2" class="sticky nowrap">
          BP not controlled
          <%= render "definition_tooltip",
                     definitions: {
                       "Numerator" => t("bp_not_controlled_copy.numerator"),
                       "Denominator" => t("denominator_copy", region_name: @region.name)
                     }
          %>
        </th>
        <th colspan="2" class="sticky nowrap">
          Missed visits
          <%= render "definition_tooltip",
                     definitions: {
                       "Numerator" => t("missed_visits_copy.numerator"),
                       "Denominator" => t("denominator_copy", region_name: @region.name)
                     }
          %>
        </th>
        <th colspan="2" class="sticky nowrap">
          Registrations
          <%= render "definition_tooltip",
                     definitions: {
                       "Total registered patients" => t("registered_patients_copy.total_registered_patients", region_name: @region.name),
                       "Monthly registered patients" => t("registered_patients_copy.monthly_registered_patients", region_name: @region.name)
                     }
          %>
        </th>
      </tr>
      <tr class="sorts" data-sort-method="thead">
        <th class="row-label sort-label sort-label-small ta-left" data-sort-default>
          <%= localized_region_type.capitalize %>
        </th>
        <th class="row-label sort-label sort-label-small ta-left" data-sort-method="number">
          Percent
        </th>
        <th class="row-label sort-label sort-label-small ta-left" data-sort-method="number">
          Total
        </th>
        <th class="row-label sort-label sort-label-small ta-left" data-sort-method="number">
          Percent
        </th>
        <th class="row-label sort-label sort-label-small ta-left" data-sort-method="number">
          Total
        </th>
        <th class="row-label sort-label sort-label-small ta-left" data-sort-method="number">
          Percent
        </th>
        <th class="row-label sort-label sort-label-small ta-left" data-sort-method="number">
          Total
        </th>
        <th class="row-label sort-label sort-label-small ta-left" data-sort-method="number">
          Total
        </th>
        <th class="row-label sort-label sort-label-small ta-left" data-sort-method="number">
          <%= @period.to_s %>
        </th>
      </tr>
      </thead>
      <tbody>
      <tr class="row-total" data-sort-method="none">
        <td class="type-title">
          <%= @region.name %>
        </td>
        <td
          class="type-percent"
          data-sort-column-key="total-patients-<%= @period %>"
          data-sort="<%= @data.dig(:controlled_patients_rate, @period) %>"
          data-toggle="tooltip"
          title="<%= number_with_delimiter(@data.dig(:controlled_patients, @period)) %> / <%= number_with_delimiter(@data.dig(:adjusted_patient_counts, @period)) %> patients"
        >
          <em data-rate="<%= @data.dig(:controlled_patients_rate, @period) %>" class="high-is-good">
            <%= number_to_percentage(@data.dig(:controlled_patients_rate, @period) || 0, precision: 0) %>
          </em>
        </td>
        <td class="ta-left">
          <%= number_with_delimiter(@data.dig(:controlled_patients, @period), precision: 0) %>
        </td>
        <td
          class="type-percent"
          data-sort-column-key="total-patients-<%= @period %>"
          data-sort="<%= @data.dig(:uncontrolled_patients_rate, @period) %>"
          data-toggle="tooltip"
          title="<%= number_with_delimiter(@data.dig(:uncontrolled_patients, @period)) %> / <%= number_with_delimiter(@data.dig(:adjusted_patient_counts, @period)) %> patients"
        >
          <em data-rate="<%= @data.dig(:uncontrolled_patients_rate, @period) %>" class="low-is-good">
            <%= number_to_percentage(@data.dig(:uncontrolled_patients_rate, @period) || 0, precision: 0) %>
          </em>
        </td>
        <td class="ta-left">
          <%= number_with_delimiter(@data.dig(:uncontrolled_patients, @period)) %>
        </td>
        <td
          class="type-percent"
          data-sort-column-key="total-patients-<%= @period %>"
          data-sort="<%= @data.dig(:missed_visits_rate, @period) %>"
          data-toggle="tooltip"
          title="<%= number_with_delimiter(@data.dig(:missed_visits, @period)) %> / <%= number_with_delimiter(@data.dig(:adjusted_patient_counts, @period)) %> patients"
        >
          <em data-rate="<%= @data.dig(:missed_visits_rate, @period) %>" class="low-is-good">
            <%= number_to_percentage(@data.dig(:missed_visits_rate, @period) || 0, precision: 0) %>
          </em>
        </td>
        <td class="ta-left">
          <%= number_with_delimiter(@data.dig(:missed_visits, @period)) %>
        </td>
        <td class="ta-left">
          <%= number_with_delimiter(@data.dig(:cumulative_registrations, @period)) %>
        </td>
        <td class="ta-left">
          <%= number_with_delimiter(@data.dig(:registrations, @period)) %>
        </td>
      </tr>
      <% data.each do |result| %>
        <% child = result[:region] %>
        <% next if result.dig(:missed_visits_rate, @period).nil? %>
        <tr>
          <td class="ta-left">
            <%= link_to(reports_region_path(child, report_scope: child.region_type)) do %>
              <%= child.name %>
            <% end %>
          </td>
          <td
            class="type-percent"
            data-sort-column-key="total-patients-<%= @period %>"
            data-sort="<%= result.dig(:controlled_patients_rate, @period) %>"
            data-toggle="tooltip"
            title="<%= number_with_delimiter(result.dig(:controlled_patients, @period)) %> / <%= number_with_delimiter(result.dig(:adjusted_patient_counts, @period)) %> patients"
          >
            <em data-rate="<%= result.dig(:controlled_patients_rate, @period) %>" class="high-is-good">
              <%= number_to_percentage(result.dig(:controlled_patients_rate, @period) || 0, precision: 0) %>
            </em>
          </td>
          <td class="ta-left">
            <%= number_with_delimiter(result.dig(:controlled_patients, @period)) %>
          </td>
          <td
            class="type-percent"
            data-sort-column-key="total-patients-<%= @period %>"
            data-sort="<%= result.dig(:uncontrolled_patients_rate, @period) %>"
            data-toggle="tooltip"
            title="<%= number_with_delimiter(result.dig(:uncontrolled_patients, @period)) %> / <%= number_with_delimiter(result.dig(:adjusted_patient_counts, @period)) %> patients"
          >
            <em data-rate="<%= result.dig(:uncontrolled_patients_rate, @period) %>" class="low-is-good">
              <%= number_to_percentage(result.dig(:uncontrolled_patients_rate, @period) || 0, precision: 0) %>
            </em>
          </td>
          <td class="ta-left">
            <%= number_with_delimiter(result.dig(:uncontrolled_patients, @period)) %>
          </td>
          <td
            class="type-percent"
            data-sort-column-key="total-patients-<%= @period %>"
            data-sort="<%= result.dig(:missed_visits_rate, @period) %>"
            data-toggle="tooltip"
            title="<%= number_with_delimiter(result.dig(:missed_visits, @period)) %> / <%= number_with_delimiter(result.dig(:adjusted_patient_counts, @period)) %> patients"
          >
            <em data-rate="<%= result.dig(:missed_visits_rate, @period) %>" class="low-is-good">
              <%= number_to_percentage(result.dig(:missed_visits_rate, @period) || 0, precision: 0) %>
            </em>
          </td>
          <td class="ta-left">
            <%= number_with_delimiter(result.dig(:missed_visits, @period)) %>
          </td>
          <td class="ta-left">
            <%= number_with_delimiter(result.dig(:cumulative_registrations, @period)) %>
          </td>
          <td class="ta-left">
            <%= number_with_delimiter(result.dig(:registrations, @period)) %>
          </td>
        </tr>
      <% end %>
      </tbody>
    </table>
  </div>
</div>
