<div id="diabetes-visit-details"
     data-period="<%= @period.to_s %>"
     class="mt-8px mx-0px mb-16px p-20px py-lg-20px pr-lg-20px pl-lg-0px bg-white br-4px bs-small d-lg-flex fd-lg-column
            justify-lg-between h-lg-full w-lg-full mt-lg-0 pb-inside-avoid pb-after-always b-print-black">
  <h3 class="mb-0px pl-lg-20px">
    Treatment status of patients under care
  </h3>

  <div class="d-flex fd-column fd-lg-row">
      <div class="pl-lg-12px w-lg-50 h-lg-auto minh-300px">
        <canvas id="diabetesVisitDetails"></canvas>
      </div>
      <div class="flex-lg-1 mt-24px ml-lg-24px mt-print-2cm">
        <div>
          <div class="mb-16px d-lg-flex align-lg-center">
            <p class="c-print-black c-blue graph-percent fs-28px"
               data-missed-visits-rate="">
            </p>
            <div>
              <%= render "visit_details_heading",
                    title: "Missed visits",
                    numerator: t("diabetes_missed_visits_copy.numerator"),
                    denominator: t("diabetes_denominator_copy", region_name: @region.name) %>
              <p class="m-0px c-black">
                <span data-missed-visits-patients=""></span>
                patients with no visit from
                <span data-period-start=""></span>
                to
                <span data-period-end=""></span>
              </p>
              <p class="m-0px c-grey-dark c-print-black">
                of
                <span data-adjusted-registrations=""></span>
                patients registered till
                <span data-registrations-period-end=""></span>
              </p>
            </div>
          </div>
        </div>
        <div>
          <div class="mb-16px d-lg-flex align-lg-center">
            <p class="c-print-black c-grey-dark graph-percent fs-28px" data-visit-but-no-bs-measure-rate=""></p>
            <div>
              <%= render "visit_details_heading",
                   title: "Visit but no BS taken",
                   numerator: t("visit_but_no_bs_taken_copy.numerator"),
                   denominator: t("diabetes_denominator_copy", region_name: @region.name) %>
              <p class="m-0px c-black">
                <span data-visit-but-no-bs-measure-patients=""></span>
                patients with a visit but no BS taken from
                <span data-period-start=""></span>
                to
                <span data-period-end=""></span>
              </p>
              <p class="m-0px c-grey-dark c-print-black">
                of
                <span data-adjusted-registrations=""></span>
                patients registered till
                <span data-registrations-period-end=""></span>
              </p>
            </div>
          </div>
        </div>
        <div>
          <div class="mb-16px d-lg-flex align-lg-center">
            <p class="c-print-black c-maroon graph-percent fs-28px"
               data-bs-over-300-rate="">
            </p>
            <div>
              <%= render "visit_details_heading",
                   title: "BS ≥300",
                   numerator: t("bs_over_200_copy.bs_over_300_numerator"),
                   denominator: t("diabetes_denominator_copy", region_name: @region.name) %>
              <p class="m-0px c-black">
                <span data-bs-over-300-patients=""></span>
                patients with BS ≥300 taken between
                <span data-period-start=""></span>
                to
                <span data-period-end=""></span>
              </p>
              <p class="m-0px c-grey-dark c-print-black">
                of
                <span data-adjusted-registrations=""></span>
                patients registered till
                <span data-registrations-period-end=""></span>
              </p>
            </div>
          </div>
        </div>
        <div>
          <div class="mb-16px d-lg-flex align-lg-center">
            <p class="c-print-black c-red graph-percent fs-28px"
               data-bs-200-to-300-rate="">
            </p>
            <div>
              <%= render "visit_details_heading",
                         title: "BS 200-299",
                         numerator: t("bs_over_200_copy.bs_200_to_299_numerator"),
                         denominator: t("diabetes_denominator_copy", region_name: @region.name) %>
              <p class="m-0px c-black">
                <span data-bs-200-to-300-patients=""></span>
                patients with BS 200-299 taken between
                <span data-period-start=""></span>
                to
                <span data-period-end=""></span>
              </p>
              <p class="m-0px c-grey-dark c-print-black">
                of
                <span data-adjusted-registrations=""></span>
                patients registered till
                <span data-registrations-period-end=""></span>
              </p>
            </div>
          </div>
        </div>
        <div>
          <div class="mb-16px d-lg-flex align-lg-center">
            <p class="c-print-black c-green-dark graph-percent fs-28px"
               data-bs-below-200-rate="">
            </p>
            <div>
              <%= render "visit_details_heading",
                   title: "BS <200",
                   numerator: t("bs_below_200_copy.numerator"),
                   denominator: t("diabetes_denominator_copy", region_name: @region.name) %>
              <p class="m-0px c-black">
                <span data-bs-below-200-patients=""></span>
                patients with BS <200 taken between
                <span data-period-start=""></span>
                to
                <span data-period-end=""></span>
              </p>
              <p class="m-0px c-grey-dark c-print-black">
                of
                <span data-adjusted-registrations=""></span>
                patients registered till
                <span data-registrations-period-end=""></span>
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>
