<div class="d-lg-flex flex-lg-wrap">
  <div class="d-lg-flex w-lg-50 pr-lg-2">
    <div id="diabetes-patient-breakdown" data-period="<%= @details_period.to_s %>" class="mt-8px mx-0px mb-16px p-20px bg-white br-4px bs-small w-lg-full mt-lg-0 pb-inside-avoid b-print-black">
      <% if @region.supports_diabetes_population_coverage %>
        <div class="d-flex flex-1 mb-8px">
          <h3 class="mb-0px mr-8px">
            Diabetes coverage
          </h3>
        </div>
        <p class="mb-16px c-grey-dark mr-lg-12px">
          All individuals and patients with diabetes in <%= @region.name %>
        </p>
        <%= render "reports/regions/diabetes_patient_coverage" %>
      <% else %>
        <div class="d-flex flex-1 mb-8px">
          <h3 class="mb-0px mr-8px">
            Diabetes patients
          </h3>
        </div>
        <p class="mb-24px c-grey-dark mr-lg-12px">
          All patients with diabetes in <%= @region.name %>
        </p>
        <div class="d-flex ai-center jc-between">
          <p class="mb-8px fw-bold">
            Total assigned patients
            <span class="p-relative t-1px">
            <i
              class="fas fa-question-circle fs-14px c-grey-dark"
              data-toggle="tooltip"
              data-placement="right"
              data-trigger="hover click"
              data-html="true"
              title="<%= t('diabetes_assigned_patients_copy.total_assigned_patients', region_name: @region.name) %>"
            >
            </i>
          </span>
          </p>
          <p class="mb-8px fw-bold">
            <%= number_with_delimiter(@details_chart_data[:patient_breakdown][:total_assigned_patients]) %>
          </p>
        </div>
      <% end %>
      <div class="ml-lg-8px  c-grey-dark">
        <div class="d-flex ai-center jc-between">
          <p class="mb-8px">
            Patients under care
            <span class="p-relative t-1px">
            <i
              class="fas fa-question-circle fs-14px"
              data-toggle="tooltip"
              data-placement="right"
              data-trigger="hover click"
              data-html="true"
              title="<%= t('diabetes_patients_under_care_copy') %>"
            >
            </i>
          </span>
          </p>
          <p class="mb-8px">
            <%= number_with_delimiter(@details_chart_data[:patient_breakdown][:not_ltfu_patients]) %>
          </p>
        </div>
        <div class="d-flex ai-center jc-between">
          <p class="mb-8px">
            Lost to follow-up
            <span class="p-relative t-1px">
            <i
              class="fas fa-question-circle fs-14px c-grey-dark"
              data-toggle="tooltip"
              data-placement="right"
              data-trigger="hover click"
              data-html="true"
              title="<%= t('diabetes_lost_to_follow_up_copy.reports_card_subtitle') %>"
            >
            </i>
          </span>
          </p>
          <p class="mb-8px">
            <%= number_with_delimiter(@details_chart_data[:patient_breakdown][:ltfu_patients]) %>
          </p>
        </div>
        <div class="d-flex ai-center jc-between">
          <p class="mb-8px">
            Dead patients
          </p>
          <p class="mb-8px">
            <%= number_with_delimiter(@details_chart_data[:patient_breakdown][:dead_patients]) %>
          </p>
        </div>
      </div>
      <div class="d-flex ai-center jc-between">
        <p class="mb-8px fw-bold">
          Total registered patients
          <span class="p-relative t-1px">
              <i
                class="fas fa-question-circle fs-14px c-grey-dark"
                data-toggle="tooltip"
                data-placement="right"
                data-trigger="hover click"
                data-html="true"
                title="<%= t('registered_diabetes_patients_copy.total_registered_patients', region_name: @region.name) %>"
              >
              </i>
            </span>
        </p>
        <p class="mb-8px fw-bold">
          <%= number_with_delimiter(@details_chart_data[:patient_breakdown][:total_registered_patients]) %>
        </p>
      </div>
    </div>
  </div>
  <div class="d-lg-flex w-lg-50 pl-lg-2">
    <div id="ltfu-trend" data-period="<%= @details_period.to_s %>" class="mt-8px mx-0px mb-16px bg-white br-4px bs-small d-lg-flex fd-lg-column justify-lg-between h-lg-full w-lg-full mt-lg-0 pb-inside-avoid b-print-black">
      <div class="pt-20px px-20px">
        <div class="d-flex flex-1 mb-8px">
          <h3 class="mb-0px mr-8px">
            Lost to follow-up
          </h3>
          <%= render "definition_tooltip",
                    definitions: { "Numerator" => t("diabetes_lost_to_follow_up_copy.numerator"),
                                    "Denominator" => t("diabetes_ltfu_denominator_copy", region_name: @region.name) } %>
        </div>
        <p class="c-grey-dark">
          <%= t("diabetes_lost_to_follow_up_copy.reports_card_subtitle") %>
        </p>
        <div class="mb-12px d-lg-flex align-lg-center">
          <p class="c-print-black graph-percent fs-28px
            <% current_ltfu_rate = @details_chart_data[:ltfu_trend][:ltfu_patients_rate][@details_period] %>
            <% if current_ltfu_rate %>
              c-blue-dark
            <% else %>
              c-grey-medium
            <% end %>" data-rate="<%= number_to_percentage(current_ltfu_rate, precision: 0) %>">
            <% if current_ltfu_rate %>
              <%= number_to_percentage(current_ltfu_rate, precision: 0) %>
            <% else %>
              No data
            <% end %>
          </p>
          <div>
            <% current_ltfu_patients = @details_chart_data[:ltfu_trend][:ltfu_patients][@details_period] %>
            <% if current_ltfu_patients %>
              <p class="m-0px c-black">
                <span data-total-patients="<%= number_with_delimiter(current_ltfu_patients) %>">
                  <%= number_with_delimiter(current_ltfu_patients) %>
                </span>
                <%= "patient".pluralize(current_ltfu_patients) %> with no visit since
                <span data-period-start="<%= @details_period.ltfu_since_date %>">
                  <%= @details_period.ltfu_since_date %>
                </span>
              </p>
              <p class="m-0px c-grey-dark c-print-black">
                of
              <% current_assigned = @details_chart_data[:ltfu_trend][:cumulative_assigned_patients][@details_period] %>
                <span data-registrations="<%= number_with_delimiter(current_assigned) %>">
                  <%= number_with_delimiter(current_assigned) %>
                </span>
                <%= "patient".pluralize(current_assigned) %> registered till

                <span data-registrations-period-end="<%= @details_period.bp_control_range_end_date %>">
                  <%= @details_period.bp_control_range_end_date %>
                </span>
              </p>
            <% else %>
              <p class="m-0px c-grey-medium c-print-black">
                No lost to follow-up data available
              </p>
            <% end %>
          </div>
        </div>
      </div>
    <div>
      <div class="p-relative mb-16px">
        <div class="h-250px mr-16px mb-12px ml-13px">
          <canvas id="ltfuPatients"></canvas>
        </div>
        <div class="p-absolute t-0 l-0 pe-none d-flex align-center justify-center w-100pt h-100pt">
          <% unless current_ltfu_rate %>
            <p class="c-grey-medium">
              No data available
            </p>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
</div>

<div id="data-json" style="display: none;">
  <%= raw @data.to_json %>
</div>

<script>
  window.addEventListener("DOMContentLoaded", () => {
    new PatientBreakdownReports().listen();
  });
</script>
