<div class="card mt-0 pr-0 pr-md-3 pb-inside-avoid">
  <div class="d-flex flex-1 mb-8px">
    <h3 class="mb-0px mr-8px">
      Patient registrations and follow-ups
    </h3>
    <%= render "definition_tooltip",
                definitions: { "Monthly registered patients" => t("registered_patients_copy.monthly_registered_patients", region_name: @region.name),
                              "Follow-up patients per user" => t(:follow_up_patients_copy, region_name: @region.name) } %>
  </div>
  <div class="table-responsive-md">
    <table class="analytics-table table-compact">
      <colgroup>
          <col class="table-first-col">
          <col>
          <col class="table-divider">
          <col class="table-divider">
          <col>
          <col>
          <col>
          <col>
          <col class="table-divider">
          <col>
          <col>
          <col>
          <col>
          <col>
      </colgroup>
      <thead>
      <!-- Patient registration and follow ups headers -->
        <tr>
          <th></th>
          <th></th>
          <th colspan="6">
            Monthly registered patients
          </th>
          <th colspan="6">
            Follow-up patients per user
          </th>
        </tr>
        <tr class="sorts" data-sort-method="thead">
          <th class="row-label sort-label sort-label-small ta-center sticky" data-sort-default>
            Users
          </th>
          <th class="row-label sort-label sort-label-small ta-center sticky" data-sort-method="number">
              Total registered<br>
              patients
          </th>
          <% @details_period_range.each do |period| %>
            <th class="row-label sort-label sort-label-small sticky" data-sort-method="number">
              <%= period %>
            </th>
          <% end %>
          <% @details_period_range.each do |period| %>
            <th class="row-label sort-label sort-label-small sticky" data-sort-method="number">
              <%= period %>
            </th>
          <% end %>
        </tr>
      </thead>
      <tbody>
        <% current_admin.accessible_users(:view_reports).order(:full_name).each do |resource| %>
          <% next unless sum_registration_counts(@repository, @region.slug, resource.id)&.nonzero? ||
                         sum_bp_measures(@repository, @region.slug, resource.id)&.nonzero? %>
          <tr>
            <td class="row-title">
              <%= link_to resource.full_name, admin_user_path(resource, period: @period) %>
            </td>
            <td class="ta-center">
              <%= number_or_dash_with_delimiter(sum_registration_counts(@repository, @region.slug, resource.id)) %>
            </td>
            <% @details_period_range.each do |period| %>
              <td class="ta-center">
                <%= number_or_dash_with_delimiter(@repository.monthly_registrations_by_user.dig(@region.slug, period, resource.id)) %>
              </td>
            <% end %>
            <% @details_period_range.each do |period| %>
              <td class="ta-center">
                <%= val = @repository.hypertension_follow_ups(group_by: "blood_pressures.user_id").dig(@region.slug, period, resource.id)
                  number_or_dash_with_delimiter(val) %>
              </td>
            <% end %>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>

<% if current_admin.feature_enabled?(:show_call_results) %>
  <div class="card mt-0 pr-0 pr-md-3 pb-inside-avoid">
  <div class="d-flex flex-1 mb-8px">
    <h3 class="mb-0px mr-8px">
      Healthcare worker activity
    </h3>
    <%= render "definition_tooltip",
                definitions: { "Overdue patients contacted" => t("call_results_copy.monthly_overdue_calls_made", region_name: @region.name),
                              "BP measures taken" => t("bp_measures_taken_copy", region_name: @region.name) } %>
  </div>
  <div class="table-responsive-md">
    <table class="analytics-table table-compact">
      <colgroup>
          <col class="table-first-col">
          <col class="table-divider">
          <col>
          <col>
          <col>
          <col>
          <col>
          <col class="table-divider">
          <col>
          <col>
          <col>
          <col>
          <col>
      </colgroup>
      <thead>
      <!-- Healthcare worker activity headers -->
        <tr>
          <th></th>
          <th colspan="6">
            Overdue Patients Contacted
          </th>
          <th colspan="6">
            BP measures taken
          </th>
        </tr>
        <tr class="sorts" data-sort-method="thead">
          <th class="row-label sort-label sort-label-small ta-center sticky" data-sort-default>
            Users
          </th>
          <% @details_period_range.each do |period| %>
            <th class="row-label sort-label sort-label-small sticky" data-sort-method="number">
              <%= period %>
            </th>
          <% end %>
          <% @details_period_range.each do |period| %>
            <th class="row-label sort-label sort-label-small sticky" data-sort-method="number">
              <%= period %>
            </th>
          <% end %>
        </tr>
      </thead>
      <tbody>
        <% current_admin.accessible_users(:view_reports).order(:full_name).each do |resource| %>
          <% next unless sum_overdue_calls(@repository, @region.slug, resource.id)&.nonzero? ||
                         sum_bp_measures(@repository, @region.slug, resource.id)&.nonzero? %>
          <tr>
            <td class="row-title">
              <%= link_to resource.full_name, admin_user_path(resource, period: @period) %>
            </td>
            <% @details_period_range.each do |period| %>
              <td class="ta-center">
                <%= number_or_dash_with_delimiter(@repository.overdue_calls_by_user.dig(@region.slug, period, resource.id)) %>
              </td>
            <% end %>
            <% @details_period_range.each do |period| %>
              <td class="ta-center">
                <%= number_or_dash_with_delimiter(@repository.bp_measures_by_user.dig(@region.slug, period, resource.id)) %>
              </td>
            <% end %>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
  <% else %>
  <div class="card mt-0 pr-0 pr-md-3 pb-inside-avoid">
    <div class="d-flex flex-1 mb-8px">
      <h3 class="mb-0px mr-8px">
        Healthcare worker activity
      </h3>
      <%= render "definition_tooltip",
                 definitions: { "Monthly registered patients" => t("registered_patients_copy.monthly_registered_patients", region_name: @region.name),
                                "BP measures taken" => t("bp_measures_taken_copy", region_name: @region.name) } %>
    </div>
    <div class="table-responsive-md">
      <table class="analytics-table table-compact">
        <colgroup>
          <col>
          <col>
          <col class="table-divider">
          <col class="table-divider">
          <col>
          <col>
          <col>
          <col>
          <col class="table-divider">
          <col>
          <col>
          <col>
          <col>
          <col>
        </colgroup>
        <thead>
        <!-- Healthcare worker activity headers -->
        <tr>
          <th></th>
          <th></th>
          <th colspan="6">
            Monthly registered patients
          </th>
          <th colspan="6">
            BP measures taken
          </th>
        </tr>
        <tr class="sorts" data-sort-method="thead">
          <th class="row-label sort-label sort-label-small ta-center sticky" data-sort-default>
            Users
          </th>
          <th class="row-label sort-label sort-label-small ta-center sticky" data-sort-method="number">
            Total registered<br>
            patients
          </th>
          <% @details_period_range.each do |period| %>
            <th class="row-label sort-label sort-label-small sticky" data-sort-method="number">
              <%= period %>
            </th>
          <% end %>
          <% @details_period_range.each do |period| %>
            <th class="row-label sort-label sort-label-small sticky" data-sort-method="number">
              <%= period %>
            </th>
          <% end %>
        </tr>
        </thead>
        <tbody>
        <% current_admin.accessible_users(:view_reports).order(:full_name).each do |resource| %>
          <% next unless sum_registration_counts(@repository, @region.slug, resource.id)&.nonzero? ||
            sum_bp_measures(@repository, @region.slug, resource.id)&.nonzero? %>
          <tr>
            <td class="row-title">
              <%= link_to resource.full_name, admin_user_path(resource, period: @period) %>
            </td>
            <td class="ta-center">
              <%= number_or_dash_with_delimiter(sum_registration_counts(@repository, @region.slug, resource.id)) %>
            </td>
            <% @details_period_range.each do |period| %>
              <td class="ta-center">
                <%= number_or_dash_with_delimiter(@repository.monthly_registrations_by_user.dig(@region.slug, period, resource.id)) %>
              </td>
            <% end %>
            <% @details_period_range.each do |period| %>
              <td class="ta-center">
                <%= number_or_dash_with_delimiter(@repository.bp_measures_by_user.dig(@region.slug, period, resource.id)) %>
              </td>
            <% end %>
          </tr>
        <% end %>
        </tbody>
      </table>
    </div>
  </div>
  <% end %>
<%= render "shared/recent_bp_log",
            blood_pressures: @recent_blood_pressures,
            display_model: :facility %>
