<h3 class="mb-8px fs-28px c-black">
  Facilities in <%= @region.name %>
</h3>
<p class="mb-24px fs-16px c-grey-dark">
  <span class="fw-bold">Total:</span> <%= @region.facilities.length %> facilities
</p>
<div class="d-lg-flex flex-lg-wrap">
  <div class="d-lg-flex w-lg-50 pr-lg-2">
    <div class="card d-lg-flex fd-lg-column justify-lg-between h-lg-full w-lg-full mt-lg-0">
      <div class="mb-2">
        <h3 class="mb-8px c-black">
          BP controlled
        </h3>
        <p class="c-grey-dark">
          Hypertensive patients with BP &lt;140/90 at their most recent visit in the last 3 months
        </p>
      </div>
      <div class="table-responsive">
        <table id="htn-controlled-table" class="table-compact">
          <colgroup>
            <col>
            <col class="table-divider">
            <col class="table-divider">
          </colgroup>
          <thead>
            <tr class="sorts" data-sort-method="thead">
              <th class="row-label sort-label sort-label-small ta-left">
                Name
              </th>
              <th class="row-label sort-label sort-label-small ta-left" data-sort-method="number" data-sort-default>
                BP controlled
              </th>
              <th class="row-label sort-label sort-label-small ta-left" data-sort-method="number">
                Number of patients
              </th>
            </tr>
          </thead>
          <tbody>
            <% @region.facilities.order(:name).each do |facility| %>
              <tr>
                <td class="ta-left">
                  <%= link_to(reports_region_path(facility, report_scope: "facility"))do %>
                    <%= facility.name %>
                  <% end %>
                </td>
                <td class="ta-left">
                  <%= number_to_percentage(@data_for_facility[facility.name]["controlled_patients_rate"].values.last, precision: 0) %>
                </td>
                <td class="ta-left">
                  <%= number_with_delimiter(@data_for_facility[facility.name]["controlled_patients"].values.last) %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div class="d-lg-flex w-lg-50 pl-lg-2">
    <div class="card d-lg-flex fd-lg-column justify-lg-between h-lg-full w-lg-full mt-lg-0">
      <div class="mb-2">
        <h3 class="mb-8px c-black">
          BP not controlled
        </h3>
        <p class="c-grey-dark">
          Hypertensive patients with no recent BP measure recorded
        </p>
      </div>
      <div class="table-responsive">
        <table id="htn-not-under-control-table" class="table-compact">
          <colgroup>
            <col>
            <col class="table-divider">
            <col class="table-divider">
          </colgroup>
          <thead>
            <tr class="sorts" data-sort-method="thead">
              <th class="row-label sort-label sort-label-small ta-left">
                Name
              </th>
              <th class="row-label sort-label sort-label-small ta-left" data-sort-method="number" data-sort-default>
                BP not controlled
              </th>
              <th class="row-label sort-label sort-label-small ta-left" data-sort-method="number">
                Number of patients
              </th>
            </tr>
          </thead>
          <tbody>
            <% @region.facilities.order(:name).each do |facility| %>
              <tr>
                <td class="ta-left">
                  <%= link_to(reports_region_path(facility, report_scope: "facility"))do %>
                    <%= facility.name %>
                  <% end %>
                </td>
                <td class="ta-left">
                  <%= number_to_percentage(@data_for_facility[facility.name]["uncontrolled_patients_rate"].values.last, precision: 0) %>
                </td>
                <td class="ta-left">
                  <%= number_with_delimiter(@data_for_facility[facility.name]["uncontrolled_patients"].values.last) %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div class="d-lg-flex w-lg-50 pr-lg-2">
    <div class="card d-lg-flex fd-lg-column justify-lg-between h-lg-full w-lg-full mt-lg-0">
      <div class="mb-2">
        <h3 class="c-black">
          No BP measure
        </h3>
        <p class="mb-8px c-grey-dark">
          Hypertensive patients with no recent BP measure recorded
        </p>
      </div>
      <div class="table-responsive">
        <table id="no-bp-measure-table" class="table-compact">
          <colgroup>
            <col>
            <col class="table-divider">
            <col class="table-divider">
            <col class="table-divider">
          </colgroup>
          <thead>
            <tr class="sorts" data-sort-method="thead">
              <th class="row-label sort-label sort-label-small ta-left">
                Name
              </th>
              <th class="row-label sort-label sort-label-small ta-left" data-sort-method="number" data-sort-default>
                No visit >3 months
              </th>
              <th class="row-label sort-label sort-label-small ta-left" data-sort-method="number">
                Visited in the last 3 months but no BP
              </th>
            </tr>
          </thead>
          <tbody>
            <% @region.facilities.order(:name).each do |facility| %>
              <tr>
                <td class="ta-left">
                  <%= link_to(reports_region_path(facility, report_scope: "facility"))do %>
                    <%= facility.name %>
                  <% end %>
                </td>
                <td class="ta-left">
                  <%= @data_for_facility[facility.name]["missed_visits_rate"].values.last %>%
                </td>
                <td class="ta-left">
                  <%= @data_for_facility[facility.name]["visited_without_bp_taken_rate"].values.last %>%
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
  <div class="d-lg-flex w-lg-50 pl-lg-2">
    <div class="card d-lg-flex fd-lg-column justify-lg-between h-lg-full w-lg-full mt-lg-0">
      <div class="mb-2">
        <h3 class="c-black">
          Cumulative registrations
        </h3>
        <p class="c-grey-dark">
          Total number of hypertensive patient registrations
        </p>
      </div>
      <div class="table-responsive">
        <table id="cumulative-registrations-table" class="table-compact">
          <colgroup>
            <col>
            <col class="table-divider">
            <col class="table-divider">
          </colgroup>
          <thead>
            <tr class="sorts" data-sort-method="thead">
              <th class="row-label sort-label sort-label-small ta-left">
                Name
              </th>
              <th class="row-label sort-label sort-label-small ta-left" data-sort-method="number" data-sort-default>
                Monthly registrations in <%= @period.to_s %>
              </th>
              <th class="row-label sort-label sort-label-small ta-left" data-sort-method="number">
                Total registrations
              </th>
            </tr>
          </thead>
          <tbody>
            <% @region.facilities.order(:name).each do |facility| %>
              <tr>
                <td class="ta-left">
                  <%= link_to(reports_region_path(facility, report_scope: "facility"))do %>
                    <%= facility.name %>
                  <% end %>
                </td>
                <td class="ta-left">
                  <%= number_with_delimiter(@data_for_facility[facility.name]["registrations"].values.last) %>
                </td>
                <td class="ta-left">
                  <%= number_with_delimiter(@data_for_facility[facility.name]["cumulative_registrations"].values.last) %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>