<% period_selector = local_assigns.fetch(:period_selector, true) %>

<div class="dashboard mt-n3 mt-md-0">

  <nav class="breadcrumb mb-0px pb-16px">
    <%= link_to "All reports", dashboard_districts_path %>

    <% @region.ancestors.where(region_type: %w[state district block facility]).order(:path).each do |region| %>
      <i class="fas fa-chevron-right"></i>
      <%= link_to_if(accessible_region?(region, :view_reports), region.name, reports_region_path(region.slug, report_scope: region.region_type)) %>
    <% end %>

    <i class="fas fa-chevron-right"></i>
    <%= @region.name %>
  </nav>

  <h1 class="mb-3 mt-32px page-header">
    <%= @region.name %>
  </h1>

  <p class="d-none fw-bold d-print-block">
    <%= @period %> Report — <% if params[:action] == "show" %>Overview<% elsif params[:action] == "details" %>Details<% elsif params[:action] == "cohort" %>Cohort Reports<% end %>
  </p>
  <%
    # We want to maintain the request params for Overview and Detail nav links, but _only_ in the
    # case where it's _not_ a quarter (as those pages don't support quarters).
    url_params = (params.dig(:period, :type) == "quarter") ? {} : request.params
  %>
  <div class="d-flex fd-column fd-lg-row justify-lg-between mb-24px d-print-none">
    <div class="d-flex order-2 order-lg-1">
      <p class="mr-12px mr-lg-24px mb-0px pb-8px fs-16px fs-lg-20px fw-bold td-none <%= params[:action] == "show" ? "c-red bb-2px bb-red" : "c-grey-dark" %>">
        <%= link_to_unless_current "Overview", url_params.merge(action: "show"), :class => "c-grey-dark td-none" %>
      </p>
      <p class="mr-12px mr-lg-24px mb-0px pb-8px fs-16px fs-lg-20px fw-bold <%= params[:action] == "details" ? "c-red bb-2px bb-red" : "c-grey-dark" %>">
        <%= link_to_unless_current "Details", url_params.merge(action: "details"), :class => "c-grey-dark td-none" %>
      </p>
      <p class="mr-12px mr-lg-24px mb-0px pb-8px fs-16px fs-lg-20px fw-bold <%= params[:action] == "cohort" ? "c-red bb-2px bb-red" : "c-grey-dark" %>">
        <%= link_to_unless_current "Cohort reports", reports_region_cohort_path(@region, report_scope: params[:report_scope]), :class => "c-grey-dark td-none" %>
      </p>
      <% if @region.facility_region? && current_admin.feature_enabled?(:dashboard_progress_reports) %>
        <p class="mr-12px mr-lg-24px mb-0px pb-8px fs-16px fs-lg-20px fw-bold <%= params[:action] == "cohort" ? "c-red bb-2px bb-red" : "c-grey-dark" %>">
          <%= link_to "Progress", reports_progress_path(@region), :class => "c-grey-dark td-none" %>
        </p>
      <% end %>
    </div>
    <div class="d-flex actions order-1 mb-16px order-lg-2 mb-lg-0">
      <% if period_selector %>
        <div class="dropdown show mb-24px mb-lg-0 w-100 w-lg-auto">
          <a
            class="d-block d-lg-inline-block btn btn-sm dropdown-toggle c-black bg-white bs-small"
            href="#"
            role="button"
            id="dropdownMenuLink"
            data-toggle="dropdown"
            aria-haspopup="true"
            aria-expanded="false"
          >
            <i class="far fa-calendar mr-4px c-grey-medium"></i>
            <% if action_name == "cohort" %>
              <%= cohort_report_type(@period) %>
            <% else %>
              <%= @period %>
            <% end %>
          </a>
          <% if action_name == "cohort" %>
            <div class="dropdown-menu dropdown-menu-right w-100pt" aria-labelledby="dropdownMenuLink">
              <% [:month, :quarter].each do |period_type|
                period = Period.new(type: period_type, value: @period.to_date)
                selected = true if period == @period
              %>
                <%= form_for(period, url: request.params, method: :get, enforce_utf8: false) do |f| %>
                  <%= f.hidden_field :type %>
                  <button class="dropdown-item <%= 'active' if selected %>" name="period[value]"
                          type="submit" data-period-type=<%= period.type %> value="<%= period.to_s %>">
                    <%= cohort_report_type(period) %>
                  </button>
                <% end %>
              <% end %>
            </div>
          <% else %>
            <div class="dropdown-menu dropdown-menu-right w-100pt" aria-labelledby="dropdownMenuLink">
              <%= form_for(@period, url: request.params, method: :get, enforce_utf8: false) do |f| %>
                <%= f.hidden_field :type, { id: "dropdown-period-type" } %>

                <% (0..5).each do |num|
                    date = Date.current.beginning_of_month.advance(months: -num)
                    period = Period.new(type: :month, value: date)
                    selected = true if period == @period
                %>
                  <button class="dropdown-item query-filter-month <%= 'active' if selected %>" name="period[value]"
                          type="submit" data-period-type="month" value="<%= period.value %>">
                    <%= period.value.to_s(:mon_year) %>
                  </button>
                <% end %>

                <% if @with_ltfu %>
                  <!-- Preserve LTFU selection -->
                  <input type="hidden" name="with_ltfu" value="true">
                <% end %>
              <% end %>
            </div>
          <% end %>
        </div>
      <% end %>

      <div class="ml-8px">
        <%= render "downloads" %>
      </div>
    </div>
  </div>
</div>
