<div class="alert alert-primary">
  <span class="fw-bold">Early access:</span> Thanks for your patience as we improve this page. The following features are coming soon:
  <ul class="mt-4px mb-0px pl-16px">
    <li>More detailed cohorts</li>
    <li>Top district and facility benchmarks</li>
    <li>Lost to follow-up rate</li>
    <li>Facility comparison tables</li>
    <li>State and block level reports</li>
  </ul>
</div>
<div class="dashboard">
  <nav class="breadcrumb mb-0px">
    <%= link_to 'All reports', dashboard_districts_path %>
    <% if @region.respond_to?(:facility_group) %>
      <i class="fas fa-chevron-right"></i>
      <%= link_to @region.facility_group.name, reports_region_path(@region.facility_group.region_slug) %>
    <% end %>
    <i class="fas fa-chevron-right"></i>
    <%= @region.name %>
  </nav>
  <p class="mb-12px fs-xxlarge fw-bold">
    <%= @region.name %>
  </p>
  <div class="d-flex fd-column fd-lg-row justify-lg-between mb-24px">
    <div class="d-flex order-2 order-lg-1 jc-between">
      <p class="mr-lg-24px mb-0px pb-8px fs-20px fw-bold td-none <%= params[:action] == "show" ? "c-red bb-2px bb-red" : "c-grey-dark" %>">
        <%= link_to_unless_current "Overview", request.params.merge(action: "show"), :class => "c-grey-dark td-none" %>
      </p>
      <p class="mr-lg-24px mb-0px pb-8px fs-20px fw-bold <%= params[:action] == "details" ? "c-red bb-2px bb-red" : "c-grey-dark" %>">
        <%= link_to_unless_current "Details trend", request.params.merge(action: "details"), :class => "c-grey-dark td-none" %>
      </p>
      <p class="mr-lg-24px mb-0px pb-8px fs-20px fw-bold <%= params[:action] == "cohort" ? "c-red bb-2px bb-red" : "c-grey-dark" %>">
        <%= link_to_unless_current "Cohort reports", request.params.merge(action: "cohort"), :class => "c-grey-dark td-none" %>
      </p>
    </div>
    <div class="dropdown show order-1 mb-24px order-lg-2 mb-lg-0">
      <a
        class="d-block d-lg-inline-block btn btn-primary btn-sm dropdown-toggle"
        href="#"
        role="button"
        id="dropdownMenuLink"
        data-toggle="dropdown"
        aria-haspopup="true"
        aria-expanded="false"
      >
        <%= @period.to_s %> report
      </a>
      <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
        <%= form_for(@period, url: request.params, method: :get, enforce_utf8: false) do |f| %>
          <%= f.hidden_field :type, { id: "dropdown-period-type" } %>

          <% (1..6).each do |num|
              selected = false
              date = Date.current.beginning_of_month.advance(months: -num)
              period = Period.new(type: :month, value: date)
          %>
            <button class="dropdown-item query-filter-month <%= 'active' if selected %>" name="period[value]"
                    type="submit" data-period-type="month" value="<%= period.value %>">
              <%= period.value.to_s(:mon_year) %>
            </button>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>