<% if @region.estimated_population&.show_coverage && accessible_region?(@region, :view_reports) %>
  <div class="mb-8px d-lg-flex align-lg-center">
    <p class="mb-0px fs-32px fw-bold c-green-dark mr-lg-12px" id="<%= @region.estimated_population&.show_coverage %>">
      <%= number_to_percentage(@region.estimated_population.hypertension_patient_coverage_rate, precision: 0) %>
    </p>
    <div>
      <p class="m-0px c-black">
        <span>
          <%= number_with_delimiter(@details_chart_data[:patient_breakdown][:total_registered_patients]) %>
        </span>
        <%= "patient".pluralize(@details_chart_data[:patient_breakdown][:total_registered_patients]) %> registered
      </p>
      <p class="m-0px c-grey-dark c-print-black">
        of
        <span>
          <%= number_with_delimiter(@region.estimated_population.population) %>
        </span>
        estimated people with hypertension in <%= @region.name %>
      </p>
    </div>
  </div>
  <div class="d-flex h-24px mb-16px o-hidden <% if @region.estimated_population&.hypertension_patient_coverage_rate == 100.0 %>br-4px<% end %>">
    <div
      class="br-tl-4px br-bl-4px <% if @region.estimated_population&.show_coverage %>bg-green-dark<% else %>bg-grey-light<% end %>"
      style="width: <% if @region.estimated_population&.show_coverage %><%= number_to_percentage(@region.estimated_population.hypertension_patient_coverage_rate, precision: 0) %><% else %>5%<% end %>;"
    ></div>
    <div class="flex-1 br-tr-4px br-br-4px bg-grey-light"></div>
  </div>
<% elsif !(@region.estimated_population&.show_coverage) %>
    <% if @region.district_region? %>
      <% if accessible_region?(@region, :manage) %>
        <div class="mb-16px p-12px br-4px bg-blue-light">
          <p class="m-0px fs-14px c-black">
            Add the estimated hypertensive population to see the coverage rate.
          </p>
          <%= link_to "+ Add population", edit_admin_facility_group_path(@region.source), :class => "fs-14px" %>
        </div>
      <% else %>
        <div class="mb-16px p-12px br-4px bg-yellow-light">
          <p class="m-0px fs-14px c-black">
            Ask a Dashboard admin to add the est. hypertensive population for <%= @region.name %> to see the hypertension coverage rate.
          </p>
        </div>
      <% end %>
    <% elsif @region.state_region? %>
      <% if current_admin.accessible_district_regions(:manage).to_set.superset?(@region.district_regions.to_set) %>
        <div class="mb-16px p-12px br-4px bg-blue-light">
          <p class="m-0px fs-14px c-black">
            Add the estimated hypertensive population for all <%= @region.child_region_type.pluralize %> to see the coverage rate.
          </p>
          <%= link_to "+ Add #{@region.child_region_type} populations", "/admin/facilities", :class => "fs-14px" %>
        </div>
        <% else %>
        <div class="mb-16px p-12px br-4px bg-yellow-light">
          <p class="m-0px fs-14px c-black">
            Ask a Dashboard admin to add the est. hypertensive population for all districts in <%= @region.name %> to see the hypertension coverage rate.
          </p>
        </div>
      <% end %>
    <% end %>
<% end %>
<div class="d-flex ai-center jc-between mb-16px fw-bold">
  <p class="mb-8px">
    Total est. population with hypertension
    <span class="p-relative t-1px">
      <i
        class="fas fa-question-circle fs-14px c-grey-dark"
        data-toggle="tooltip"
        data-placement="right"
        data-trigger="hover click"
        data-html="true"
        title="<%= total_estimated_hypertensive_population_copy(@region) %>"
      >
      </i>
    </span>
  </p>
  <p class="mb-8px">
    <% if @region.estimated_population&.show_coverage %>
      <span>
        <%= number_with_delimiter(@region.estimated_population&.population) %>
      </span>
    <% else %>
      <span>
        N/A
      </span>
    <% end %>
  </p>
</div>
<div class="d-flex ai-center jc-between">
  <p class="mb-8px fw-bold">
    Total assigned patients
    <span class="p-relative t-1px">
      <i
        class="fas fa-question-circle fs-14px c-grey-dark"
        data-toggle="tooltip"
        data-placement="right"
        data-trigger="hover click"
        data-html="true"
        title="<%= t('assigned_patients_copy.total_assigned_patients', region_name: @region.name) %>"
      >
      </i>
    </span>
  </p>
  <p class="mb-8px fw-bold">
    <%= number_with_delimiter(
          @details_chart_data[:patient_breakdown][:total_assigned_patients] - @details_chart_data[:patient_breakdown][:dead_patients]
        ) %>
  </p>
</div>