<% if @region.estimated_population&.show_coverage && accessible_region?(@region, :manage) %>
  <div class="mb-8px d-lg-flex align-lg-center">
    <p class="mb-0px fs-32px fw-bold c-green-dark mr-lg-12px" id="<%= @region.estimated_population&.show_coverage %>">
      <%= number_to_percentage(@region.estimated_population.hypertension_patient_coverage_rate, precision: 0) %>
    </p>
    <div>
      <p class="m-0px c-black">
        <span>
          <%= number_with_delimiter(@chart_data[:patient_breakdown][:total_patients]) %>
        </span>
        <%= "patient".pluralize(@chart_data[:patient_breakdown][:total_patients]) %> registered
      </p>
      <p class="m-0px c-grey-dark c-print-black">
        of
        <span>
          <%= number_with_delimiter(@region.estimated_population.population) %>
        </span>
        estimated hypertensive people in <%= @region.name %>
      </p>
    </div>
  </div>
  <div class="d-flex h-24px mb-16px o-hidden <% if @region.estimated_population&.hypertension_patient_coverage_rate == 100.0 %>br-4px<% end %>">
    <div
      class="br-tl-4px br-bl-4px <% if @region.estimated_population&.show_coverage %>bg-green-dark<% else %>bg-grey-light<% end %>"
      style="width: <% if @region.estimated_population&.show_coverage %><%= number_to_percentage(@region.estimated_population.hypertension_patient_coverage_rate, precision: 0) %><% else %>5%<% end %>;"
    ></div>
    <div class="flex-1 br-tr-4px br-br-4px bg-grey-light"></div>
  </div>
<% elsif !(@region.estimated_population&.show_coverage) && !(accessible_region?(@region, :manage)) %>
  <div class="mb-16px p-12px br-4px bg-yellow-light">
    <% if @region.district_region? %>
      <p class="m-0px fs-14px c-black">
        Ask a Dashboard admin to add the est. hypertensive population for <%= @region.name %> to see the hypertension coverage rate.
      </p>
    <% elsif @region.state_region? %>
      <p class="m-0px fs-14px c-black">
        Ask a Dashboard admin to add the est. hypertensive population for all districts ine<%= @region.name %> to see the hypertension coverage rate.
      </p>
    <% end %>
  </div>
<% else %>
  <div class="mb-16px p-12px br-4px bg-blue-light">
    <% if @region.district_region? %>
      <p class="m-0px fs-14px c-black">
        Add the est. hypertensive population to see the coverage rate.
      </p>
      <%= link_to "+ Add population", edit_admin_facility_group_path(@region.source), :class => "fs-14px" %>
    <% elsif @region.state_region? %>
      <p class="m-0px fs-14px c-black">
        Add the est. hypertensive population for all districts to see the coverage rate.
      </p>
      <%= link_to "+ Add district populations", "/admin/facilities", :class => "fs-14px" %>
    <% end %>
  </div>
<% end %>
<div class="d-flex ai-center jc-between">
  <p class="mb-8px">
    Total registered patients
    <span class="p-relative t-1px">
      <i
        class="fas fa-question-circle fs-14px c-grey-dark"
        data-toggle="tooltip"
        data-placement="right"
        data-trigger="hover click"
        data-html="true"
        title="<%= t('registered_patients_copy.total_registered_patients', region_name: @region.name) %>"
      >
      </i>
    </span>
  </p>
  <p class="mb-8px fw-bold">
    <%= number_with_delimiter(@chart_data[:patient_breakdown][:total_patients]) %>
  </p>
</div>
<div class="d-flex ai-center jc-between mb-16px">
  <p class="mb-8px">
    Total est. hypertensive population
    <span class="p-relative t-1px">
      <i
        class="fas fa-question-circle fs-14px c-grey-dark"
        data-toggle="tooltip"
        data-placement="right"
        data-trigger="hover click"
        data-html="true"
        title="<%= total_estimated_hypertensive_population_copy(@region) %>"
      >
      </i>
    </span>
  </p>
  <p class="mb-8px">
    <% if @region.estimated_population&.show_coverage %>
      <span class="fw-bold">
        <%= number_with_delimiter(@region.estimated_population&.population) %>
      </span>
    <% else %>
      <span class="fw-bold">
        N/A
      </span>
    <% end %>
  </p>
</div>
<p class="mb-12px fs-14px tt-uppercase fw-bold ls-2px">
  Registered patients
</p>
