<div class="d-flex ai-center jc-between">
  <p class="mb-8px">
    Hypertension patient coverage
    <span class="p-relative t-1px">
      <i
        class="fas fa-question-circle fs-14px c-grey-dark"
        data-toggle="tooltip"
        data-placement="right"
        data-trigger="hover click"
        data-html="true"
        title="<%= t('hypertension_patient_coverage_copy') %>"
      >
      </i>
    </span>
  </p>
  <p class="mb-8px fw-bold">
    <% if @region.district_region? ||
      @region.state_region? && @is_population_available_for_all_districts %>
      <span class="c-green-dark">
        <%= number_to_percentage(@hypertension_patient_coverage, precision: 0) %>
      </span>
    <% else %>
      ???
    <% end %>
  </p>
</div>
<div class="d-flex h-8px mb-8px" id="<%= @hypertension_patient_coverage %>">
  <div class="br-tl-4px br-bl-4px <% if @hypertension_patient_coverage.zero? || !@hypertension_patient_coverage %>bg-grey-light<% else %>bg-green-dark<% end %>" style="width: <% if @hypertension_patient_coverage.zero? || !@hypertension_patient_coverage %>5%<% else %><%= number_to_percentage(@hypertension_patient_coverage, precision: 0) %><% end %>;"></div>
  <div class="flex-1 br-tr-4px br-br-4px bg-grey-light"></div>
</div>
<div class="d-flex ai-center jc-between ml-16px">
  <p class="mb-8px">
    Total registered patients
    <span class="p-relative t-1px">
      <i
        class="fas fa-question-circle fs-14px c-grey-dark"
        data-toggle="tooltip"
        data-placement="right"
        data-trigger="hover click"
        data-html="true"
        title="<%= t('registered_patients_copy.total_registered_patients', region_name: @region.name) %>"
      >
      </i>
    </span>
  </p>
  <p class="mb-8px fw-bold">
    <%= number_with_delimiter(@chart_data[:patient_breakdown][:total_patients]) %>
  </p>
</div>
<div class="d-flex ai-center jc-between ml-16px">
  <p class="mb-8px">
    Total estimated hypertensive population
    <span class="p-relative t-1px">
      <i
        class="fas fa-question-circle fs-14px c-grey-dark"
        data-toggle="tooltip"
        data-placement="right"
        data-trigger="hover click"
        data-html="true"
        <% if @region.district_region? %>
          title="<%= t('total_estimated_hypertensive_population.district_copy', region_name: @region.name) %>"
        <% elsif @region.state_region? %>
          title="<%= t('total_estimated_hypertensive_population.state_copy', region_name: @region.name) %>"
        <% end %>
      >
      </i>
    </span>
  </p>
  <p class="mb-8px">
    <% if @region.district_region? && @population ||
      @region.state_region? && @is_population_available_for_all_districts %>
      <span class="fw-bold">
        <%= number_with_delimiter(@region.estimated_population.population) %>
      </span>
    <% elsif current_admin.power_user? || current_admin.accessible_facilities(:manage).any? %>
      <% if @region.district_region? %>
        <%= link_to "+ Add population", edit_admin_facility_group_path(@region) %>
      <% elsif @region.state_region? %>
        <%= link_to "+ Add district populations", "/admin/facilities" %>
      <% end %>
    <% else %>
      ???
    <% end %>
  </p>
</div>