<div class="d-lg-flex flex-lg-wrap">
  <div class="d-lg-flex w-lg-50 pr-lg-2">
    <div id="patient-breakdown" data-period="<%= @period.to_s %>" class="mt-8px mx-0px mb-16px p-20px bg-white br-4px bs-small w-lg-full mt-lg-0 pb-inside-avoid b-print-black w-print-16cm">
      <% if current_admin.feature_enabled?(:estimated_population) && @region.supports_htn_population_coverage %>
        <div class="d-flex flex-1 mb-8px">
          <h3 class="mb-0px mr-8px">
            Hypertension coverage
          </h3>
        </div>
        <p class="mb-24px c-grey-dark mr-lg-12px">
          All hypertensive individuals and patients in <%= @region.name %>
        </p>
        <%= render "reports/regions/hypertension_patient_coverage" %>
      <% else %>
        <div class="d-flex flex-1 mb-8px">
          <h3 class="mb-0px mr-8px">
            Hypertension patients 
          </h3>
        </div>
        <p class="mb-24px c-grey-dark mr-lg-12px">
          All hypertensive patients in <%= @region.name %>
        </p>
        <div class="d-flex ai-center jc-between">
          <p class="mb-8px">
            Total registered patients
            <span class="p-relative t-1px">
              <i
                class="fas fa-question-circle fs-14px c-grey-dark"
                data-toggle="tooltip"
                data-placement="right"
                data-trigger="hover click"
                data-html="true"
                title="<%= t('registered_patients_copy.total_registered_patients', region_name: @region.name) %>"
              >
              </i>
            </span>
          </p>
          <p class="mb-8px fw-bold">
            <%= number_with_delimiter(@chart_data[:patient_breakdown][:total_patients]) %>
          </p>
        </div>
      <% end %>
      <div class="d-flex ai-center jc-between">
        <p class="mb-8px">
          Patients under care
          <span class="p-relative t-1px">
            <i
              class="fas fa-question-circle fs-14px c-grey-dark"
              data-toggle="tooltip"
              data-placement="right"
              data-trigger="hover click"
              data-html="true"
              title="<%= t('patients_under_care_copy') %>"
            >
            </i>
          </span>
        </p>
        <p class="mb-8px fw-bold">
          <%= number_with_delimiter(@chart_data[:patient_breakdown][:not_ltfu_patients]) %>
        </p>
      </div>
      <div class="d-flex ai-center jc-between">
        <p class="mb-8px">
          Lost to follow-up
          <span class="p-relative t-1px">
            <i
              class="fas fa-question-circle fs-14px c-grey-dark"
              data-toggle="tooltip"
              data-placement="right"
              data-trigger="hover click"
              data-html="true"
              title="<%= t('lost_to_follow_up_copy.reports_card_subtitle') %>"
            >
            </i>
          </span>
        </p>
        <p class="mb-8px fw-bold">
          <%= number_with_delimiter(@chart_data[:patient_breakdown][:ltfu_patients]) %>
        </p>
      </div>
      <div class="d-flex ai-center jc-between">
        <p class="mb-8px">
          Dead patients
        </p>
        <p class="mb-8px fw-bold">
          <%= number_with_delimiter(@chart_data[:patient_breakdown][:dead_patients]) %>
        </p>
      </div>
    </div>
  </div>
  <div class="d-lg-flex w-lg-50 pl-lg-2">
    <div id="ltfu-trend" data-period="<%= @period.to_s %>" class="mt-8px mx-0px mb-16px bg-white br-4px bs-small d-lg-flex fd-lg-column justify-lg-between h-lg-full w-lg-full mt-lg-0 pb-inside-avoid b-print-black w-print-16cm">
      <div class="pt-20px px-20px">
        <div class="d-flex flex-1 mb-8px">
          <h3 class="mb-0px mr-8px">
            Lost to follow-up
          </h3>
          <%= render "definition_tooltip",
                    definitions: { "Numerator" => t("lost_to_follow_up_copy.numerator"),
                                    "Denominator" => t("ltfu_denominator_copy", region_name: @region.name) } %>
        </div>
        <p class="c-grey-dark">
          <%= t("lost_to_follow_up_copy.reports_card_subtitle") %>
        </p>
        <div class="mb-12px d-lg-flex align-lg-center">
          <p class="mb-0px fs-32px fw-bold
            <% current_ltfu_rate = @chart_data[:ltfu_trend][:ltfu_patients_rate][@period] %>
            <% if current_ltfu_rate %>
              c-blue-dark
            <% else %>
              c-grey-medium
            <% end %> mr-lg-12px" data-rate="<%= number_to_percentage(current_ltfu_rate, precision: 0) %>">
            <% if current_ltfu_rate %>
              <%= number_to_percentage(current_ltfu_rate, precision: 0) %>
            <% else %>
              No data
            <% end %>
          </p>
          <div>
            <% current_ltfu_patients = @chart_data[:ltfu_trend][:ltfu_patients][@period] %>
            <% if current_ltfu_patients %>
              <p class="m-0px c-black">
                <span data-total-patients="<%= number_with_delimiter(current_ltfu_patients) %>">
                  <%= number_with_delimiter(current_ltfu_patients) %>
                </span>
                <%= "patient".pluralize(current_ltfu_patients) %> with no BP taken since

                <span data-period-start="<%= @period.ltfu_since_date %>">
                  <%= @period.ltfu_since_date %>
                </span>
              </p>
              <p class="m-0px c-grey-dark c-print-black">
                of
              <% current_assigned = @chart_data[:ltfu_trend][:cumulative_assigned_patients][@period] %>
                <span data-registrations="<%= number_with_delimiter(current_assigned) %>">
                  <%= number_with_delimiter(current_assigned) %>
                </span>
                <%= "patient".pluralize(current_assigned) %> registered till

                <span data-registrations-period-end="<%= @period.bp_control_range_end_date %>">
                  <%= @period.bp_control_range_end_date %>
                </span>
              </p>
            <% else %>
              <p class="m-0px c-grey-medium c-print-black">
                No lost to follow-up data available
              </p>
            <% end %>
          </div>
        </div>
      </div>
    <div>
      <div class="p-relative mb-16px">
        <div class="h-250px mr-16px mb-12px ml-13px">
          <canvas id="ltfuPatients"></canvas>
        </div>
        <div class="p-absolute t-0 l-0 pe-none d-flex align-center justify-center w-100pt h-100pt">
          <% unless current_ltfu_rate %>
            <p class="c-grey-medium">
              No data available
            </p>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>

<div id="data-json" style="display: none;">
  <%= raw @chart_data.to_json %>
</div>

<script>
  window.addEventListener("DOMContentLoaded", () => {
    new PatientBreakdownReports().listen();
  });
</script>

<script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0/dist/Chart.min.js" integrity="sha256-Uv9BNBucvCPipKQ2NS9wYpJmi8DTOEfTA/nH2aoJALw=" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-piechart-outlabels@0.1.4/dist/chartjs-plugin-piechart-outlabels.min.js" integrity="sha256-yVxLw9A3MN0xzvzu6ByJRFAGgGH1ALIfgfuMURm3Bnc=" crossorigin="anonymous"></script>