<div id="visit-details" data-period="<%= @period.to_s %>" class="mt-8px mx-0px mb-16px p-20px py-lg-20px pr-lg-20px pl-lg-0px bg-white br-4px bs-small d-lg-flex fd-lg-column justify-lg-between h-lg-full w-lg-full mt-lg-0 pb-inside-avoid pb-after-always b-print-black w-print-16cm">
  <h3 class="mb-0px pl-20px">
    Visit details of all assigned hypertension patients
  </h3>
  <% if @data[:cumulative_assigned_patients].values&.last %>
    <div class="d-flex fd-column fd-lg-row">
      <div class="pl-lg-12px w-lg-50 h-lg-auto h-print-12cm">
        <canvas id="missedVisitDetails"></canvas>
      </div>
      <div class="flex-lg-1 mt-lg-16px ml-lg-24px mt-print-2cm">
        <div>
          <%= render "visit_details_heading",
                     title: "Missed visits",
                     numerator: t("missed_visits_copy.numerator"),
                     denominator: t("denominator_excluding_ltfu_copy", region_name: @region.name) %>
          <div class="mb-12px d-lg-flex align-lg-center">
            <p class="rate mb-0px fs-32px fw-bold <% if @data.last_value(:missed_visits_rate) %>c-blue<% else %>c-grey-medium<% end %> mr-lg-12px" data-missed-visits-rate="<%= number_to_percentage(@data.last_value(:missed_visits_rate), precision: 0) %>">
              <% if @data.last_value(:missed_visits_rate) %>
                <%= number_to_percentage(@data.last_value(:missed_visits_rate), precision: 0) %>
              <% else %>
                No data
              <% end %>
            </p>
            <div>
              <% if @data.last_value(:missed_visits) %>
                <p class="m-0px c-black">
                  <span data-missed-visits-patients="<%= number_with_delimiter(@data.last_value(:missed_visits)) %>">
                    <%= number_with_delimiter(@data.last_value(:missed_visits)) %>
                  </span>
                  patients with no visit from
                  <span data-period-start="<%= @period.bp_control_range_start_date %>">
                    <%= @period.bp_control_range_start_date %>
                  </span>
                  to
                  <span data-period-end="<%= @period.bp_control_range_end_date%>">
                    <%= @period.bp_control_range_end_date%>
                  </span>
                </p>
                <p class="m-0px c-grey-dark c-print-black">
                  of
                  <span data-adjusted-registrations="<%= number_with_delimiter(@data.last_value(:adjusted_registrations)) %>">
                    <%= number_with_delimiter(@data.last_value(:adjusted_registrations)) %>
                  </span>
                  patients registered till
                  <span data-registrations-period-end="<%= @period.bp_control_registrations_until_date %>">
                    <%= @period.bp_control_registrations_until_date %>
                  </span>
                </p>
              <% else %>
                <p class="m-0px c-grey-medium c-print-black">
                  No BP not controlled data available
                </p>
              <% end %>
            </div>
          </div>
        </div>
        <div>
          <%= render "visit_details_heading",
                     title: "Visit but no BP taken",
                     numerator: t("visit_but_no_bp_taken_copy.numerator"),
                     denominator: t("denominator_excluding_ltfu_copy", region_name: @region.name) %>
          <div class="mb-12px d-lg-flex align-lg-center">
            <p class="mb-0px fs-32px fw-bold c-grey-medium mr-lg-12px" data-visit-but-no-bp-measure-rate="<%= number_to_percentage(@data.last_value(:visited_without_bp_taken_rate), precision: 0) %>">
              <% if @data.last_value(:visited_without_bp_taken_rate) %>
                <%= number_to_percentage(@data.last_value(:visited_without_bp_taken_rate), precision: 0) %>
              <% else %>
                No data
              <% end %>
            </p>
            <div>
              <% if @data.last_value(:visited_without_bp_taken) %>
                <p class="m-0px c-black">
                  <span data-visit-but-no-bp-measure-patients="<%= number_with_delimiter(@data.last_value(:visited_without_bp_taken)) %>">
                    <%= number_with_delimiter(@data.last_value(:visited_without_bp_taken)) %>
                  </span>
                  patients with a visit but no BP taken from
                  <span data-period-start="<%= @period.bp_control_range_start_date %>">
                    <%= @period.bp_control_range_start_date %>
                  </span>
                  to
                  <span data-period-end="<%= @period.bp_control_range_end_date %>">
                    <%= @period.bp_control_range_end_date %>
                  </span>
                </p>
                <p class="m-0px c-grey-dark c-print-black">
                  of
                  <span data-adjusted-registrations="<%= number_with_delimiter(@data.last_value(:adjusted_registrations)) %>">
                    <%= number_with_delimiter(@data.last_value(:adjusted_registrations)) %>
                  </span>
                  patients registered till
                  <span data-registrations-period-end="<%= @period.bp_control_registrations_until_date %>">
                    <%= @period.bp_control_registrations_until_date %>
                  </span>
                </p>
              <% else %>
                <p class="m-0px c-grey-medium c-print-black">
                  No BP not controlled data available
                </p>
              <% end %>
            </div>
          </div>
        </div>
        <div>
          <%= render "visit_details_heading",
                     title: "BP not controlled",
                     numerator: t("bp_not_controlled_copy.numerator"),
                     denominator: t("denominator_excluding_ltfu_copy", region_name: @region.name) %>
          <div class="mb-12px d-lg-flex align-lg-center">
            <p class="mb-0px fs-32px fw-bold <% if @data.last_value(:uncontrolled_patients_rate) %>c-red<% else %>c-grey-medium<% end %> mr-lg-12px c-print-black" data-uncontrolled-rate="<%= number_to_percentage(@data.last_value(:uncontrolled_patients_rate), precision: 0) %>">
              <% if @data.last_value(:uncontrolled_patients_rate) %>
                <%= number_to_percentage(@data.last_value(:uncontrolled_patients_rate), precision: 0) %>
              <% else %>
                No data
              <% end %>
            </p>
            <div>
              <% if @data.last_value(:uncontrolled_patients) %>
                <p class="m-0px c-black">
                  <span data-uncontrolled-patients="<%= number_with_delimiter(@data.last_value(:uncontrolled_patients)) %>">
                    <%= number_with_delimiter(@data.last_value(:uncontrolled_patients)) %>
                  </span>
                  patients with not controlled BP from
                  <span data-period-start="<%= @period.bp_control_range_start_date %>">
                    <%= @period.bp_control_range_start_date %>
                  </span>
                  to
                  <span data-period-end="<%= @period.bp_control_range_end_date%>">
                    <%= @period.bp_control_range_end_date%>
                  </span>
                </p>
                <p class="m-0px c-grey-dark c-print-black">
                  of
                  <span data-adjusted-registrations="<%= number_with_delimiter(@data.last_value(:adjusted_registrations)) %>">
                    <%= number_with_delimiter(@data.last_value(:adjusted_registrations)) %>
                  </span>
                  patients registered till
                  <span data-registrations-period-end="<%= @period.bp_control_registrations_until_date %>">
                    <%= @period.bp_control_registrations_until_date %>
                  </span>
                </p>
              <% else %>
                <p class="m-0px c-grey-medium c-print-black">
                  No BP not controlled data available
                </p>
              <% end %>
            </div>
          </div>
        </div>
        <div>
          <%= render "visit_details_heading",
                     title: "BP controlled",
                     numerator: t("bp_controlled_copy.numerator"),
                     denominator: t("denominator_excluding_ltfu_copy", region_name: @region.name) %>
          <div class="mb-12px d-lg-flex align-lg-center">
            <p class="mb-0px fs-32px fw-bold <% if @data.last_value(:controlled_patients_rate) %>c-green-dark<% else %>c-grey-medium<% end %> mr-lg-12px c-print-black" data-controlled-rate="<%= number_to_percentage(@data.last_value(:controlled_patients_rate), precision: 0) %>">
              <% if @data.last_value(:controlled_patients_rate) %>
                <%= number_to_percentage(@data.last_value(:controlled_patients_rate), precision: 0) %>
              <% else %>
                No data
              <% end %>
            </p>
            <div>
              <% if @data.last_value(:controlled_patients) %>
                <p class="m-0px c-black">
                  <span data-controlled-patients="<%= number_with_delimiter(@data.last_value(:controlled_patients)) %>">
                    <%= number_with_delimiter(@data.last_value(:controlled_patients)) %>
                  </span>
                  patients with controlled BP from
                  <span data-period-start="<%= @period.bp_control_range_start_date %>">
                    <%= @period.bp_control_range_start_date %>
                  </span>
                  to
                  <span data-period-end="<%= @period.bp_control_range_end_date%>">
                    <%= @period.bp_control_range_end_date%>
                  </span>
                </p>
                <p class="m-0px c-grey-dark c-print-black">
                  of
                  <span data-adjusted-registrations="<%= number_with_delimiter(@data.last_value(:adjusted_registrations)) %>">
                    <%= number_with_delimiter(@data.last_value(:adjusted_registrations)) %>
                  </span>
                  patients registered till
                  <span data-registrations-period-end="<%= @period.bp_control_registrations_until_date %>">
                    <%= @period.bp_control_registrations_until_date %>
                  </span>
                </p>
              <% else %>
                <p class="m-0px c-grey-medium c-print-black">
                  No BP controlled data available
                </p>
              <% end %>
            </div>
          </div>
        </div>
        <% unless current_admin.feature_enabled?(:report_with_exclusions) %>
          <div class="d-flex fd-column align-baseline mt-20px pt-8px bt-1px bt-grey-light mb-8px mb-lg-16px">
            <p class="mb-8px fs-14px c-grey-dark c-print-black">
              <strong>Visit but no BP taken numerator:</strong> <%= t("visit_but_no_bp_taken_copy.numerator") %>
            </p>
            <p class="mb-8px fs-14px c-grey-dark c-print-black">
              <strong>All other numerators:</strong> Same numerators as cards above
            </p>
            <p class="mb-0px fs-14px c-grey-dark c-print-black">
              <strong>Denominator:</strong> <%= t("denominator_without_exclusions_copy", region_name: @region.name) %>
            </p>
          </div>
        <% end %>
      </div>
    </div>
  <% else %>
    <div class="d-flex align-center justify-center w-100pt h-200px h-lg-380px bl-1px bb-1px bl-grey-medium bb-grey-medium">
      <p class="c-grey-medium c-print-black">
        No data available
      </p>
    </div>
  <% end %>
</div>
