<%= render "header"%>

<div class="d-lg-flex">
  <div class="card d-lg-flex justify-lg-between h-lg-full w-lg-full mt-lg-0">
    <div>
      <div class="mb-lg-2">
        <h3>
          Quarterly cohort trend
        </h3>
        <p class="mb-0px c-grey-dark">
          The result for all HTN patients registered in a quarter at their follow-up visit in the following quarter
        </p>
      </div>
      <div>
        <div>
          <% @quarterly_registrations.each_with_index do |cohort, index| %>
            <div class="split-row mt-lg-1 pt-lg-1">
              <div class="row px-lg-0">
                <div class="col-lg-5 nowrap order-lg-1">
                  <h6 class="<% unless cohort["registered"] == 0 %>c-black<% else %>c-grey-medium<% end %>">
                    <% unless cohort["registered"] == 0 %>
                      <%= cohort["registered"] %> patients registered in <%= cohort["patients_registered"] %>
                    <% else %>
                      <span class="fw-bold">No data</span>
                    <% end %>
                  </h6>
                  <p class="mb-2 fs-14px c-grey-medium">
                    <% unless cohort["registered"] == 0 %>
                      Result from last visit in <%= cohort["results_in"] %>
                    <% else %>
                      No data available for <%= cohort["results_in"] %>
                    <% end %>
                  </p>
                </div>
                <div class="col-lg-7 order-lg-2">
                  <table class="split-bars">
                    <tr>
                      <% if cohort["registered"] > 0 %>
                        <%
                          controlled_percent = compute_percentage(cohort["controlled"], cohort["registered"])
                          uncontrolled_percent = compute_percentage(cohort["uncontrolled"], cohort["registered"])
                          no_bp_percent = compute_percentage(cohort["no_bp"], cohort["registered"])
                        %>
                        <td
                          class="bar bar-1"
                          data-toggle="tooltip"
                          data-placement="top"
                          data-trigger="hover focus click"
                          title="<%= number_with_delimiter(cohort["no_bp"]) %> patients didn't have a BP taken"
                          style="width: <%= no_bp_percent %>;"
                        >
                          <%= (cohort["no_bp"] > 0 && no_bp_percent == 0) ? "< 1" : no_bp_percent %>
                        </td>
                        <td
                          class="bar bar-2"
                          data-toggle="tooltip"
                          data-placement="top"
                          data-trigger="hover focus click"
                          title="<%= number_with_delimiter(cohort["uncontrolled"]) %> patients visited with uncontrolled BP"
                          style="width: <%= uncontrolled_percent %>;"
                        >
                          <%= (cohort["uncontrolled"] > 1 && uncontrolled_percent == 0) ? "< 1" : uncontrolled_percent %>
                        </td>
                        <td
                          class="bar bar-3"
                          data-toggle="tooltip"
                          data-placement="top"
                          data-trigger="hover focus click"
                          title="<%= number_with_delimiter(cohort["controlled"]) %> patients visited with controlled BP"
                          style="width: <%= controlled_percent %>;"
                        >
                          <%= (cohort["controlled"] > 0 && controlled_percent == 0) ? "< 1" : controlled_percent %>
                        </td>
                      <% else %>
                        <td class="bar bar-none" style="width: 100%;">
                          No data available
                        </td>
                      <% end %>
                    </tr>
                  </table>
                </div>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
    <div>
      <div class="mt-4 pt-4 bt-1px bt-grey-light d-lg-flex align-lg-center justify-lg-end mt-lg-3 pt-lg-3">
        <div class="">
          <p class="mb-2 c-grey-dark mb-lg-0 mr-lg-4">
            No BP taken
          </p>
        </div>
        <div class="">
          <p class="mb-3 c-red mb-lg-0 mr-lg-4">
            Visited and BP &ge;140/90
          </p>
        </div>
        <div class="">
          <p class="mb-0px lh-1 c-green-dark mb-lg-0">
            Visited and BP &lt;140/90
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
<div id="data-json" style="display: none;">
  <%= raw @data.to_json %>
</div>
<script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>