<div class="alert alert-primary">
  <span class="fw-bold">Early access:</span> This page is under active development, thanks for your patience as we work on improving it
</div>
<div class="dashboard">
  <nav class="breadcrumb">
    <%= link_to 'All reports', dashboard_districts_path %>
    <% if @region.respond_to?(:facility_group) %>
      <i class="fas fa-chevron-right"></i>
      <%= link_to @region.facility_group.name, reports_district_path(@region.facility_group) %>
    <% end %>
    <i class="fas fa-chevron-right"></i>
    <%= @region.name %>
  </nav>
  <div>
    <h2><%= link_to "Cohort", cohort_reports_district_path(@region) %></h2>
    </div>
  <div class="d-flex ai-center jc-between mb-3">
    <h1>
      <%= @region.name %>
    </h1>
    <div class="dropdown show">
      <a class="btn btn-sm btn-outline btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
          data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="min-width: 12em;">
        Report: <%= @selected_date.to_s(:month_year) %>
      </a>
      <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
      <% url = @report_scope == FacilityGroup ? reports_district_path(@region) : reports_facility_path(@region) %>
        <%= form_tag url, method: :get do %>
          <% last_n_months(n: 12, end_of_month: true).each do |time| %>
            <% selected = (time.year == @selected_date.year && time.month == @selected_date.month) %>
            <button class="dropdown-item query-filter-month <%= 'active' if selected %>"
                    name="selected_date"
                    type="submit" value="<%= time %>">
              <%= time.to_s(:month_year) %>
            </button>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>
<div class="d-lg-flex flex-lg-wrap">
  <div class="d-lg-flex order-lg-4 w-lg-50 pl-lg-2">
    <div class="card d-lg-flex justify-lg-between h-lg-full w-lg-full mt-lg-0">
      <div>
        <div class="mb-lg-2">
          <h3>
            Quarterly cohort trend
          </h3>
          <p class="mb-0 c-grey-dark">
            The result for all HTN patients registered in a quarter at their follow-up visit in the following quarter
          </p>
        </div>
        <div>
          <div>
            <% @quarterly_registrations.each_with_index do |cohort, index| %>
              <div class="split-row mt-lg-1 pt-lg-1">
                <div class="row px-lg-0">
                  <div class="col-lg-5 nowrap order-lg-1">
                    <h6 class="<% unless cohort["registered"] == 0 %>c-black<% else %>c-grey-medium<% end %>">
                      <% unless cohort["registered"] == 0 %>
                        <%= cohort["registered"] %> patients registered in <%= cohort["patients_registered"] %>
                      <% else %>
                        <span class="fw-bold">No data</span>
                      <% end %>
                    </h6>
                    <p class="mb-2 fs-small c-grey-medium">
                      <% unless cohort["registered"] == 0 %>
                        Result from last visit in <%= cohort["results_in"] %>
                      <% else %>
                        No data available for <%= cohort["results_in"] %>
                      <% end %>
                    </p>
                  </div>
                  <div class="col-lg-7 order-lg-2">
                    <table class="split-bars">
                      <tr>
                        <% if cohort["registered"] > 0 %>
                          <%
                            controlled_percent = compute_percentage(cohort["controlled"], cohort["registered"])
                            uncontrolled_percent = compute_percentage(cohort["uncontrolled"], cohort["registered"])
                            no_bp_percent = compute_percentage(cohort["no_bp"], cohort["registered"])
                          %>
                          <td
                            class="bar bar-1"
                            data-toggle="tooltip"
                            data-placement="top"
                            data-trigger="hover focus click"
                            title="<%= number_with_delimiter(cohort["no_bp"]) %> patients didn't have a BP taken"
                            style="width: <%= no_bp_percent %>;"
                          >
                            <%= (cohort["no_bp"] > 0 && no_bp_percent == 0) ? "< 1" : no_bp_percent %>
                          </td>
                          <td
                            class="bar bar-2"
                            data-toggle="tooltip"
                            data-placement="top"
                            data-trigger="hover focus click"
                            title="<%= number_with_delimiter(cohort["uncontrolled"]) %> patients visited with uncontrolled BP"
                            style="width: <%= uncontrolled_percent %>;"
                          >
                            <%= (cohort["uncontrolled"] > 1 && uncontrolled_percent == 0) ? "< 1" : uncontrolled_percent %>
                          </td>
                          <td
                            class="bar bar-3"
                            data-toggle="tooltip"
                            data-placement="top"
                            data-trigger="hover focus click"
                            title="<%= number_with_delimiter(cohort["controlled"]) %> patients visited with controlled BP"
                            style="width: <%= controlled_percent %>;"
                          >
                            <%= (cohort["controlled"] > 0 && controlled_percent == 0) ? "< 1" : controlled_percent %>
                          </td>
                        <% else %>
                          <td class="bar bar-none" style="width: 100%;">
                            No data available
                          </td>
                        <% end %>
                      </tr>
                    </table>
                  </div>
                </div>
              </div>
            <% end %>
          </div>
        </div>
      </div>
      <div>
        <div class="mt-4 pt-4 bt-1px bt-grey-light d-lg-flex align-lg-center justify-lg-end mt-lg-3 pt-lg-3">
          <div class="">
            <p class="mb-2 c-grey-dark mb-lg-0 mr-lg-4">
              No BP taken
            </p>
          </div>
          <div class="">
            <p class="mb-3 c-red mb-lg-0 mr-lg-4">
              Visited and BP &ge;140/90
            </p>
          </div>
          <div class="">
            <p class="mb-0 lh-1 c-green-dark mb-lg-0">
              Visited and BP &lt;140/90
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<% if @region.is_a?(FacilityGroup) %>
  <div class="card">
    <h2>
      Facilities
    </h2>
    <% @region.facilities.order(:name).each do |facility| %>
      <%= link_to(reports_facility_path(facility.friendly_id), class: "link-row") do %>
        <i class='fas fa-angle-right light'></i>
        <%= facility.name %>
      <% end %>
    <% end %>
  </div>
<% end %>
<div class="card o-hidden mt-0 p-0">
  <%= image_tag(
      @region.is_a?(FacilityGroup) ? "screenshot.png" : "facility-screenshot.png",
      :class => "mw-100pt"
  )%>
</div>
<!-- Dump all reporting data in a hidden div to parse in JS -->
<%= content_tag :div,
                id: "reporting",
                data: {
                  control_rate: @data[:controlled_patients_rate],
                  controlled_patients: @controlled_patients,
                  registrations: @registrations
                },
                style: "display: none;" do %>
<% end %>
<script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>