<%= render "header", period_selector: false %>

<%= render "reports/regions/patient_breakdown_charts" %>

<% if @region.facility_region? %>
  <div class="card mt-0 pr-0 pr-md-3 pb-inside-avoid">
    <div class="d-flex flex-1 mb-8px">
      <h3 class="mb-0px mr-8px">
        Patient registrations and follow-ups
      </h3>
      <%= render "definition_tooltip",
                 definitions: { "Monthly registered patients" => t("registered_patients_copy.monthly_registered_patients", region_name: @region.name),
                                "Follow-up patients" => t("follow_up_patients_copy", region_name: @region.name) } %>
    </div>
    <div class="table-responsive">
      <table class="analytics-table table-compact">
        <colgroup>
            <col>
            <col>
            <col class="table-divider">
            <col class="table-divider">
            <col>
            <col>
            <col>
            <col>
            <col class="table-divider">
            <col>
            <col>
            <col>
            <col>
            <col>
        </colgroup>
        <thead>
        <!-- Patient registration and follow ups headers -->
          <tr>
            <th></th>
            <th></th>
            <th colspan="6">
              Monthly registered patients
            </th>
            <th colspan="6">
              Follow-up patients
            </th>
          </tr>
          <tr class="sorts" data-sort-method="thead">
            <th class="row-label sort-label sort-label-small ta-center" data-sort-default>
              Users
            </th>
            <th class="row-label sort-label sort-label-small ta-center" data-sort-method="number">
                Total registered<br>
                patients
            </th>
            <% @period_range.each do |period| %>
              <th class="row-label sort-label sort-label-small" data-sort-method="number">
                <%= period %>
              </th>
            <% end %>
            <% @period_range.each do |period| %>
              <th class="row-label sort-label sort-label-small" data-sort-method="number">
                <%= period %>
              </th>
            <% end %>
          </tr>
        </thead>
        <tbody>
          <tr class="row-title row-total" data-sort-method="none">
            <td class="row-title row-total">
              Total
            </td>
            <td class="row-total ta-center">
              <%= number_or_dash_with_delimiter(@dashboard_analytics.sum { |_, row| row[:total_registered_patients] || 0 }) %>
            </td>
            <% @period_range.each do |period| %>
              <td class="row-total ta-center">
                <%= number_or_dash_with_delimiter(@repository.registration_counts[@region.region.slug][period]) %>
              </td>
            <% end %>
            <% @period_range.each do |period| %>
              <td class="row-total ta-center">
                <%= number_with_delimiter(dash_if_zero(analytics_totals(@dashboard_analytics, :follow_up_patients_by_period, period.value))) %>
              </td>
            <% end %>
          </tr>
          <% current_admin.accessible_users(:view_reports).order(:full_name).each do |resource| %>
            <% if @dashboard_analytics[resource.id].present? %>
              <tr>
                <td class="row-title">
                  <%= link_to resource.send(:full_name), send(:admin_user_path, resource, period: @period) %>
                </td>
                <td class="ta-center">
                  <%= number_or_dash_with_delimiter(@dashboard_analytics.dig(resource.id, :total_registered_patients)) %>
                </td>
                <% @period_range.each do |period| %>
                  <td class="ta-center">
                    <%= number_or_dash_with_delimiter(@dashboard_analytics.dig(resource.id, :registered_patients_by_period, period.value)) %>
                  </td>
                <% end %>
                <% @period_range.each do |period| %>
                  <td class="ta-center">
                    <%= number_or_dash_with_delimiter(@dashboard_analytics.dig(resource.id, :follow_up_patients_by_period, period.value)) %>
                  </td>
                <% end %>
              </tr>
            <% end %>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>

  <div class="card mt-0 pr-0 pr-md-3 pb-inside-avoid">
    <div class="d-flex flex-1 mb-8px">
      <h3 class="mb-0px mr-8px">
        Healthcare worker activity
      </h3>
      <%= render "definition_tooltip",
                 definitions: { "Monthly registered patients" => t("registered_patients_copy.monthly_registered_patients", region_name: @region.name),
                                "BP measures taken" => t("bp_measures_taken_copy", region_name: @region.name) } %>
    </div>
    <div class="table-responsive">
      <table class="analytics-table table-compact">
        <colgroup>
            <col>
            <col>
            <col class="table-divider">
            <col class="table-divider">
            <col>
            <col>
            <col>
            <col>
            <col class="table-divider">
            <col>
            <col>
            <col>
            <col>
            <col>
        </colgroup>
        <thead>
        <!-- Healthcare worker activity headers -->
          <tr>
            <th></th>
            <th></th>
            <th colspan="6">
              Monthly registered patients
            </th>
            <th colspan="6">
              BP measures taken
            </th>
          </tr>
          <tr class="sorts" data-sort-method="thead">
            <th class="row-label sort-label sort-label-small ta-center" data-sort-default>
              Users
            </th>
            <th class="row-label sort-label sort-label-small ta-center" data-sort-method="number">
              Total registered<br>
              patients
            </th>
            <% @period_range.each do |period| %>
              <th class="row-label sort-label sort-label-small" data-sort-method="number">
                <%= period %>
              </th>
            <% end %>
            <% @period_range.each do |period| %>
              <th class="row-label sort-label sort-label-small" data-sort-method="number">
                <%= period %>
              </th>
            <% end %>
          </tr>
        </thead>
        <tbody>
          <% current_admin.accessible_users(:view_reports).order(:full_name).each do |resource| %>
            <% if @dashboard_analytics[resource.id].present? %>
              <tr>
                <td class="row-title">
                  <%= link_to resource.send(:full_name), send(:admin_user_path, resource, period: @period) %>
                </td>
                <td class="ta-center">
                  <%= number_with_delimiter(dash_if_zero(@dashboard_analytics.dig(resource.id, :total_registered_patients))) %>
                </td>
                <% @period_range.each do |period| %>
                  <td class="ta-center">
                    <%= number_with_delimiter(dash_if_zero(@dashboard_analytics.dig(resource.id, :registered_patients_by_period, period.value))) %>
                  </td>
                <% end %>
                <% @period_range.each do |period| %>
                  <td class="ta-center">
                    <%= number_with_delimiter(dash_if_zero(@dashboard_analytics.dig(resource.id, :bp_measures_by_period, period.value))) %>
                  </td>
                <% end %>
              </tr>
            <% end %>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
  <%= render "shared/recent_bp_log",
             blood_pressures: @recent_blood_pressures,
             display_model: :facility %>

 <!-- non Facility Regions -->
<% else %>
  <div class="card mt-0 pr-0 pr-md-3 pb-inside-avoid">
    <div class="d-flex flex-1 mb-8px">
      <h3 class="mb-0px mr-8px">
        Patient registrations and follow-ups
      </h3>
      <%= render "definition_tooltip",
                 definitions: { "Monthly registered patients" => t("registered_patients_copy.monthly_registered_patients", region_name: @region.name),
                                "Follow-up patients" => t("follow_up_patients_copy", region_name: @region.name) } %>
    </div>
    <div class="table-responsive">
      <table class="analytics-table table-compact">
        <colgroup>
            <col>
            <col class="table-divider">
            <col>
            <col class="table-divider">
            <col>
            <col>
            <col>
            <col>
            <col>
            <col class="table-divider">
            <col>
            <col>
            <col>
            <col>
            <col>
        </colgroup>
        <thead>
          <tr>
            <th></th>
            <th colspan="2"></th>
            <th colspan="6">
              Monthly registered patients
            </th>
            <th colspan="6">
              Follow-up patients
            </th>
          </tr>
          <tr class="sorts" data-sort-method="thead">
            <th class="row-label sort-label sort-label-small ta-center" data-sort-default>
              Facilities
            </th>
            <th class="row-label sort-label sort-label-small ta-center" data-sort-method="number">
              Total assigned patients
            </th>
            <th class="row-label sort-label sort-label-small ta-center" data-sort-method="number">
              Total registered patients
            </th>
            <% @period_range.each do |period| %>
              <th class="row-label sort-label sort-label-small" data-sort-method="number">
                <%= period.to_s(:mon_year_multiline) %>
              </th>
            <% end %>
            <% @period_range.each do |period| %>
              <th class="row-label sort-label sort-label-small" data-sort-method="number">
                <%= period.to_s(:mon_year_multiline) %>
              </th>
            <% end %>
          </tr>
        </thead>
        <tbody>
          <tr class="row-title row-total" data-sort-method="none">
            <td class="row-title row-total">
              <%= @region.name %>
            </td>
            <td class="row-total ta-center">
              <%= number_or_dash_with_delimiter(@repository.cumulative_assigned_patients_count[@region.slug][@period]) %>
            </td>
            <td class="row-total ta-center">
              <%= number_or_dash_with_delimiter(@repository.cumulative_registrations[@region.slug][@period]) %>
            </td>
            <% @period_range.each do |period| %>
              <td class="row-total ta-center">
                <%= number_or_dash_with_delimiter(@repository.registration_counts[@region.slug][period]) %>
              </td>
            <% end %>
            <% @period_range.each do |period| %>
              <td class="row-total ta-center">
                <%= number_or_dash_with_delimiter(analytics_totals(@dashboard_analytics, :follow_up_patients_by_period, period.value)) %>
              </td>
            <% end %>
          </tr>
          <% current_admin.accessible_facilities(:view_reports).order(:name).each do |resource| %>
            <% slug = resource.region.slug %>
            <% if @dashboard_analytics[resource.id].present? %>
              <tr>
                <td class="row-title">
                  <%= link_to resource.name, reports_region_facility_details_path(resource.region) %>
                </td>
                <td class="ta-center">
                  <%= number_or_dash_with_delimiter(@repository.cumulative_assigned_patients_count[slug][@period]) %>
                </td>
                <td class="ta-center">
                  <%= number_or_dash_with_delimiter(@repository.cumulative_registrations[slug][@period]) %>
                </td>
                <% @period_range.each do |period| %>
                  <td class="ta-center">
                    <%= number_or_dash_with_delimiter @repository.registration_counts[slug][period] %>
                  </td>
                <% end %>
                <% @period_range.each do |period| %>
                  <td class="ta-center">
                    <%= number_or_dash_with_delimiter(@dashboard_analytics.dig(resource.id, :follow_up_patients_by_period, period.value)) %>
                  </td>
                <% end %>
              </tr>
            <% end %>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
<% end %>
<!-- end non Facility Regions -->

<%= render "details_footnotes" %>
