<% content_for :title do %>
  <%= @region.name %> | Diabetes
<% end %>

<%= render "header" %>

<% denominator_copy = @with_ltfu ? "diabetes_denominator_with_ltfu_copy" : "diabetes_denominator_copy" %>

<div class="d-lg-flex flex-lg-wrap">
  <!-- Blood sugar <200 Graph -->
  <div class="d-lg-flex w-lg-50 pr-lg-2">
    <div id="bs-below-200"
         data-period="<%= @period.to_s %>"
         class="mt-8px mx-0px mb-16px bg-white br-4px bs-small d-lg-flex fd-lg-column
                justify-lg-between h-lg-full w-lg-full mt-lg-0 pb-inside-avoid b-print-black w-print-16cm">

      <div class="pt-20px px-20px">
        <div class="d-flex mb-8px">
          <div class="d-flex flex-1">
            <h3 class="mb-0px mr-8px">
              Blood sugar &lt;200
            </h3>
            <%= render "definition_tooltip",
                       definitions: { "Numerator" => t("bs_below_200_copy.numerator"),
                                      "Denominator" => t(denominator_copy, region_name: @region.name) } %>
          </div>
          <%= render "reports/regions/ltfu_toggle", id: "controlledGraphLtfuToggle", enabled: @with_ltfu %>
        </div>
        <p class="c-grey-dark">
          <%= t("bs_below_200_copy.reports_card_subtitle", region_name: @region.name) %>
        </p>
        <div class="mb-12px d-lg-flex align-lg-center">
          <p class="c-print-black c-green-dark graph-percent fs-28px"
             data-rate="">
          </p>
          <div>
            <p class="m-0px c-black">
              <span data-total-patients=""></span>
              patients with a blood sugar &lt;200 from
              <span data-period-start=""></span>
              to
              <span data-period-end=""></span>
            </p>
            <p class="m-0px c-grey-dark c-print-black">
              of <span data-registrations=""></span>
              patients registered till
              <span data-registrations-period-end=""></span>
            </p>
          </div>
        </div>
      </div>
      <div>
        <div class="p-relative mb-12px">
          <div class="h-320px mr-16px mb-12px ml-13px">
            <canvas id="bsBelow200PatientsTrend"></canvas>
          </div>
        </div>
      </div>

      <div>
        <div class="p-relative px-20px mb-12px">
          <p class="m-0px c-grey-dark c-print-black">
            <strong>
              <span data-rbs-ppbs=""></span>
            </strong> RBS/PPBS, &nbsp;
            <strong>
              <span data-fasting=""></span>
            </strong> Fasting, &nbsp;
            <strong>
              <span data-hba1c=""></span>
            </strong> HbA1c
          </p>
        </div>
      </div>
    </div>
  </div>

  <!-- Registrations Graph -->
  <div class="d-lg-flex w-lg-50 pl-lg-2">
    <div id="cumulative-diabetes-registrations"
         data-period="<%= @period.to_s %>"
         class="mt-8px mx-0px mb-16px pb-4px bg-white br-4px bs-small d-lg-flex fd-lg-column
                justify-lg-between h-lg-full w-lg-full mt-lg-0 pb-inside-avoid b-print-black">
      <div class="pt-20px px-20px">
        <div class="d-flex mb-8px">
          <div class="d-flex flex-1">
            <h3 class="mb-0px mr-8px">
              Registrations and follow-ups
            </h3>
            <%= render "definition_tooltip",
                       definitions: { "Total registered patients" => t("registered_diabetes_patients_copy.total_registered_patients", region_name: @region.name),
                                      "Monthly registered patients" => t("registered_diabetes_patients_copy.monthly_registered_patients", region_name: @region.name),
                                      "Monthly follow-up patients" => t("registered_diabetes_patients_copy.monthly_followup_patients", region_name: @region.name)} %>
          </div>
        </div>
        <p class="c-grey-dark">
          <%= t("registered_diabetes_patients_copy.reports_card_subtitle", region_name: @region.name) %>
        </p>
        <div class="d-flex align-center mb-24px">
          <div class="flex-1 d-lg-flex align-lg-center">
            <p class="c-print-black c-purple graph-percent fs-24px"
               data-total-patients="">
            </p>
            <div>
              <p class="m-0px c-black c-print-black fs-14px">
                total <%= "registration".pluralize(@data.dig(:cumulative_diabetes_registrations, @period)) %><br>till
                <span data-registrations-period-end=""></span>
              </p>
            </div>
          </div>
          <div class="flex-1 d-lg-flex align-lg-center flex-lg-1">
            <p class="c-print-black c-purple-medium graph-percent fs-24px"
               data-monthly-registrations="">
            </p>
            <div>
              <p class="m-0px c-black c-print-black fs-14px">
                new <%= "registration".pluralize(@data.dig(:diabetes_registrations, @period)) %><br>in
                <span data-registrations-month-end=""></span>
              </p>
            </div>
          </div>
          <div class="flex-1 d-lg-flex align-lg-center flex-lg-1">
            <p class="c-print-black c-orange graph-percent fs-24px"
               data-monthly-follow-ups="">
            </p>
            <div>
              <p class="m-0px c-black c-print-black fs-14px">
                follow-up <%= "patient".pluralize(@data.dig(:monthly_diabetes_followups, @period)) %><br>in
                <span data-follow-ups-month-end=""></span>
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="h-320px mr-13px ml-13px pb-4px">
        <canvas id="cumulativeDiabetesRegistrationsTrend"></canvas>
      </div>
    </div>
  </div>

  <!-- Blood sugar 200-299 or blood sugar >= 300 Graph -->
  <div class="d-lg-flex w-lg-50 pr-lg-2">
    <div id="bs-over-200"
         data-period="<%= @period.to_s %>"
         class="mt-8px mx-0px mb-16px bg-white br-4px bs-small d-lg-flex fd-lg-column
                justify-lg-between h-lg-full w-lg-full mt-lg-0 pb-inside-avoid b-print-black w-print-16cm">

      <div class="pt-20px px-20px">
        <div class="d-flex mb-8px">
          <div class="d-flex flex-1">
            <h3 class="mb-0px mr-8px">
              Blood sugar 200-299 or &ge;300
            </h3>
            <%= render "definition_tooltip",
                       definitions: { "Blood sugar 200-299 numerator" => t("bs_over_200_copy.bs_200_to_299_numerator"),
                                     "Blood sugar ≥300 numerator" => t("bs_over_200_copy.bs_over_300_numerator"),
                                      "Denominator" => t(denominator_copy, region_name: @region.name) } %>
          </div>
          <%= render "reports/regions/ltfu_toggle", id: "controlledGraphLtfuToggle", enabled: @with_ltfu %>
        </div>
        <p class="c-grey-dark">
          <%= t("bs_over_200_copy.reports_card_subtitle", region_name: @region.name) %>
        </p>
        <div class="mb-12px d-lg-flex align-lg-center">
          <p class="c-print-black c-maroon graph-percent fs-28px"
             data-bs-over-300-rate="">
          </p>
          <div>
            <p class="m-0px c-black">
              <span data-total-bs-over-300-patients=""></span>
              patients with a blood sugar &ge;300 from
              <span data-period-start=""></span>
              to
              <span data-period-end=""></span>
            </p>
            <p class="m-0px c-grey-dark c-print-black">
              of <span data-registrations=""></span>
              patients registered till
              <span data-registrations-period-end=""></span>
            </p>
          </div>
        </div>
        <div class="mb-12px d-lg-flex align-lg-center">
          <p class="c-print-black c-red graph-percent fs-28px"
             data-bs-200-to-300-rate="">
          </p>
          <div>
            <p class="m-0px c-black">
              <span data-total-bs-200-to-300-patients=""></span>
              patients with a blood sugar 200-299 from
              <span data-period-start=""></span>
              to
              <span data-period-end=""></span>
            </p>
            <p class="m-0px c-grey-dark c-print-black">
              of <span data-registrations=""></span>
              patients registered till
              <span data-registrations-period-end=""></span>
            </p>
          </div>
        </div>
      </div>
      <div>
        <div class="p-relative mb-12px">
          <div class="h-320px mr-16px mb-12px ml-13px">
            <canvas id="bsOver200PatientsTrend"></canvas>
          </div>
        </div>
      </div>
      <div>
      </div>
    </div>
  </div>

  <!-- Missed Visits Graph -->
  <div class="d-lg-flex w-lg-50 pl-lg-2">
    <div id="diabetes-missed-visits"
         data-period="<%= @period.to_s %>"
         class="mt-8px mx-0px mb-16px bg-white br-4px bs-small d-lg-flex fd-lg-column
          justify-lg-between h-lg-full w-lg-full mt-lg-0 pb-inside-avoid b-print-black">
      <div class="pt-20px px-20px">
        <div class="d-flex mb-8px">
          <div class="d-flex flex-1">
            <h3 class="mb-0px mr-8px">
              Missed visits
            </h3>
            <%= render "definition_tooltip",
                       definitions: { "Numerator" => t("diabetes_missed_visits_copy.numerator"),
                                      "Denominator" => t("diabetes_missed_visits_copy.denominator", region_name: @region.name) } %>
          </div>
          <%= render "reports/regions/ltfu_toggle", id: "diabetesMissedVisitsGraphLtfuToggle", enabled: @with_ltfu %>
        </div>
        <p class="c-grey-dark">
          <%= t("diabetes_missed_visits_copy.reports_card_subtitle", region_name: @region.name) %>
        </p>
        <div class="mb-12px d-lg-flex align-lg-center">
          <p class="c-print-black c-blue graph-percent fs-28px"
             data-rate="">
          </p>
          <div>
            <p class="m-0px c-black">
              <span data-total-patients=""></span>
              patients with no visit from
              <span data-period-start=""></span>
              to
              <span data-period-end=""></span>
            </p>
            <p class="m-0px c-grey-dark c-print-black">
              of
              <span data-registrations=""></span>
              patients registered till
              <span data-registrations-period-end=""></span>
            </p>
          </div>
        </div>
      </div>
      <div>
        <div class="h-320px mr-16px mb-16px ml-13px">
          <canvas id="diabetesMissedVisitsTrend"></canvas>
        </div>
      </div>
    </div>
  </div>
</div>

<%= render "diabetes_treatment_outcomes_card" %>

<% if @children_data.any? %>
  <%= render "bs_measurement_child_tables", children_data: @children_data, localized_region_type: @child_regions.first.localized_region_type %>
<% end %>

<div id="data-json" style="display: none;">
  <%= raw @data.to_json %>
</div>
<script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0/dist/Chart.min.js" integrity="sha256-Uv9BNBucvCPipKQ2NS9wYpJmi8DTOEfTA/nH2aoJALw=" crossorigin="anonymous"></script>
<script>
    window.addEventListener("DOMContentLoaded", () => {
        new Reports(<%= @with_ltfu %>).initialize();
    });
</script>
