<%= render "header" %>
<div class="d-lg-flex flex-lg-wrap mb-48px">
  <div class="d-lg-flex w-lg-50 pr-lg-2">
    <div class="mt-8px mx-0px mb-16px bg-white br-4px bs-small d-lg-flex fd-lg-column justify-lg-between h-lg-full w-lg-full mt-lg-0">
      <div class="pt-20px px-20px">
        <div class="mb-2">
          <h3 class="m-8px c-black">
            HTN controlled
          </h3>
          <p class="c-grey-dark">
            HTN patients with BP &lt;140/90 at their most recent visit in the last 3 months
          </p>
        </div>
        <div class="mb-12px">
          <p class="mb-0px fs-xlarge fw-bold <% if @data[:controlled_patients_rate].values.last %>c-green-dark<% else %>c-grey-medium<% end %>">
            <% if @data.last_value(:controlled_patients_rate) %>
              <%= number_to_percentage(@data.last_value(:controlled_patients_rate), precision: 0) %>
            <% else %>
              No data
            <% end %>
          </p>
          <p class="m-0px <% if @data.last_value(:controlled_patients_rate) %>c-black<% else %>c-grey-medium<% end %>">
            <% if @data.last_value(:controlled_patients_rate) %>
              <span class="fw-bold"><%= number_with_delimiter(@data.last_value(:controlled_patients)) %></span> of <%= number_with_delimiter(@data.last_value(:adjusted_registrations)) %> patients
              <span
                data-toggle="tooltip"
                data-placement="top"
                data-trigger="hover"
                title="Patients registered until the end of <%= @adjusted_registration_date %>"
              >
                <i class="fas fa-info-circle ml-4px fs-12px c-grey-dark"></i>
              </span>
            <% else %>
              No control rate data available
            <% end %>
          </p>
        </div>
      </div>
      <div class="pb-4px">
        <div class="p-relative">
          <div class="h-200px mb-16px ml-13px">
            <canvas id="controlledPatientsTrend"></canvas>
          </div>
          <div class="p-absolute t-0 l-0 pe-none d-flex align-center justify-center w-100pt h-100pt">
            <% unless @data.last_value(:controlled_patients_rate) %>
              <p class="c-grey-medium">
                No data available
              </p>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="d-lg-flex w-lg-50 pl-lg-2">
    <div class="mt-8px mx-0px mb-16px bg-white br-4px bs-small d-lg-flex fd-lg-column justify-lg-between h-lg-full w-lg-full mt-lg-0">
      <div class="pt-20px px-20px">
        <h3 class="m-8px c-black">
          No recent BP
        </h3>
        <p class="c-grey-dark">
          HTN patients with no recent BP measure recorded
        </p>
        <div>
          <div class="d-flex align-baseline mb-8px mb-lg-4px">
            <div class="w-12px h-12px mr-12px br-2px bg-grey-medium"></div>
            <div class="d-flex align-baseline">
              <p class="w-32px m-0px fs-16px fw-bold">
                <%= percentage_or_na(@data.last_value(:missed_visits_rate), precision: 0) %>
              </p>
              <p class="flex-1 m-0px fs-14px">
                No visit &gt;3 months
              </p>
            </div>
          </div>
          <div class="d-flex align-baseline">
            <div class="w-12px h-12px mr-12px br-2px bg-grey-dark"></div>
            <div class="d-flex align-baseline">
              <p class="w-32px m-0px fs-16px fw-bold">
                <%= percentage_or_na(@data.last_value(:visited_without_bp_taken_rate), precision: 0) %>
              </p>
              <p class="flex-1 m-0px fs-14px">
                Visited in the last 3 months
                <span
                  data-toggle="tooltip"
                  data-placement="top"
                  data-trigger="hover"
                  title="Patients registered 3 months prior with an appointment scheduled, updated medicines, or blood sugar taken"
                >
                  <i class="fas fa-info-circle ml-4px fs-12px c-grey-dark"></i>
                </span>
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="pb-4px">
        <div class="h-200px mr-13px mb-16px ml-13px">
          <canvas id="noRecentBPTrend"></canvas>
        </div>
      </div>
    </div>
  </div>
  <div class="d-lg-flex w-lg-50 pr-lg-2">
    <div class="mt-8px mx-0px mb-16px bg-white br-4px bs-small d-lg-flex fd-lg-column justify-lg-between h-lg-full w-lg-full mt-lg-0">
      <div class="pt-20px px-20px">
        <div class="mb-2">
          <h3 class="m-8px c-black">
            HTN not under control
          </h3>
          <p class="c-grey-dark">
            HTN patients with BP &ge;140/90 at their most recent visit in the last 3 months
          </p>
        </div>
        <div class="mb-12px">
          <p class="mb-0px fs-xlarge fw-bold <% if @data.last_value(:controlled_patients_rate) %>c-red<% else %>c-grey-medium<% end %>">
            <% if @data.last_value(:uncontrolled_patients_rate) %>
              <%= number_to_percentage(@data.last_value(:uncontrolled_patients_rate), precision: 0) %>
            <% else %>
              No data
            <% end %>
          </p>
          <p class="m-0px <% if @data.last_value(:uncontrolled_patients_rate) %>c-black<% else %>c-grey-medium<% end %>">
            <% if @data.last_value(:uncontrolled_patients_rate) %>
              <span class="fw-bold"><%= number_with_delimiter(@data.last_value(:uncontrolled_patients)) %></span> of <%= number_with_delimiter(@data.last_value(:adjusted_registrations)) %> patients
              <span
                data-toggle="tooltip"
                data-placement="top"
                data-trigger="hover"
                title="Patients registered until the end of <%= @adjusted_registration_date %>"
              >
                <i class="fas fa-info-circle ml-4px fs-12px c-grey-dark"></i>
              </span>
            <% else %>
              No control rate data available
            <% end %>
          </p>
        </div>
      </div>
      <div class="pb-4px">
        <div class="p-relative">
          <div class="h-200px mb-16px ml-13px">
            <canvas id="uncontrolledPatientsTrend"></canvas>
          </div>
          <div class="p-absolute t-0 l-0 pe-none d-flex align-center justify-center w-100pt h-100pt">
            <% unless @data[:controlled_patients_rate].values.last %>
              <p class="c-grey-medium">
                No data available
              </p>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="d-lg-flex w-lg-50 pl-lg-2">
    <div class="mt-8px mx-0px mb-16px pb-4px bg-white br-4px bs-small d-lg-flex fd-lg-column justify-lg-between h-lg-full w-lg-full mt-lg-0">
      <div class="pt-20px px-20px">
        <div class="mb-2">
          <h3 class="m-8px c-black">
            Cumulative registrations
          </h3>
          <p class="c-grey-dark">
            Total number of HTN patient registrations
          </p>
        </div>
        <div class="mb-12px">
          <p class="mb-0px fs-xlarge fw-bold <% if @data.last_value(:cumulative_registrations).zero? %>c-grey-medium<% else %>c-purple<% end %>">
            <% if @data.last_value(:cumulative_registrations).zero? %>
              No data
            <% else %>
              <%= number_with_delimiter(@data.last_value(:cumulative_registrations)) %>
              <span class="fs-16px">
                patients
              </span>
            <% end %>
          </p>
          <p class="m-0px <% if @data.last_value(:cumulative_registrations).zero? %>c-grey-medium<% else %>c-black<% end %>">
            <% if @data.last_value(:cumulative_registrations).zero? %>
              No registration data available
            <% else %>
              <span class="fw-bold"><%= number_with_delimiter(@data.last_value(:registrations)) %> new patients</span> registered in <%= @data[:cumulative_registrations].keys&.last %>
            <% end %>
          </p>
        </div>
      </div>
      <% if @data.last_value(:cumulative_registrations).zero? %>
        <div class="d-flex align-center justify-center h-200px bb-1px bl-1px bb-grey-medium bl-grey-medium">
          <p class="fs-14px c-grey-medium">
            No data available
          </p>
        </div>
      <% else %>
        <div class="h-200px mr-13px mb-16px ml-13px pb-4px">
          <canvas id="cumulativeRegistrationsTrend"></canvas>
        </div>
      <% end %>
    </div>
  </div>
</div>
<% if @region.is_a?(FacilityGroup) %>
  <h3 class="mt-40px mb-8px fs-28px c-black">
    Facilities in <%= @region.name %>
  </h3>
  <p class="mb-24px fs-16px c-grey-dark">
    <span class="fw-bold">Total:</span> <%= @region.facilities.length %> facilities
  </p>
  <div class="d-lg-flex flex-lg-wrap">
    <div class="d-lg-flex w-lg-50 pr-lg-2">
      <div class="card d-lg-flex fd-lg-column justify-lg-between h-lg-full w-lg-full mt-lg-0">
        <div class="mb-2">
          <h3 class="c-black">
            HTN controlled
          </h3>
        </div>
        <div class="table-responsive">
          <table id="htn-controlled-table" class="table-compact">
            <colgroup>
              <col>
              <col class="table-divider">
              <col class="table-divider">
            </colgroup>
            <thead>
              <tr class="sorts" data-sort-method="thead">
                <th class="row-label sort-label sort-label-small ta-left">
                  Name
                </th>
                <th class="row-label sort-label sort-label-small ta-left" data-sort-method="number" data-sort-default>
                  BP &lt;140/90
                </th>
                <th class="row-label sort-label sort-label-small ta-left" data-sort-method="number">
                  Number of patients
                </th>
              </tr>
            </thead>
            <tbody>
              <% @region.facilities.order(:name).each do |facility| %>
                <tr>
                  <td class="ta-left">
                    <%= link_to(reports_region_path(facility, report_scope: "facility"))do %>
                      <%= facility.name %>
                    <% end %>
                  </td>
                  <td class="ta-left">
                    <%= number_to_percentage(@data_for_facility[facility.name]["controlled_patients_rate"].values.last, precision: 0) %>
                  </td>
                  <td class="ta-left">
                    <%= number_with_delimiter(@data_for_facility[facility.name]["controlled_patients"].values.last) %>
                  </td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div class="d-lg-flex w-lg-50 pl-lg-2">
      <div class="card d-lg-flex fd-lg-column justify-lg-between h-lg-full w-lg-full mt-lg-0">
        <div class="mb-2">
          <h3 class="c-black">
            No BP measure
          </h3>
        </div>
        <div class="table-responsive">
          <table id="no-bp-measure-table" class="table-compact">
            <colgroup>
              <col>
              <col class="table-divider">
              <col class="table-divider">
              <col class="table-divider">
            </colgroup>
            <thead>
              <tr class="sorts" data-sort-method="thead">
                <th class="row-label sort-label sort-label-small ta-left">
                  Name
                </th>
                <th class="row-label sort-label sort-label-small ta-left" data-sort-method="number" data-sort-default>
                  No visit >3 months
                </th>
                <th class="row-label sort-label sort-label-small ta-left" data-sort-method="number">
                  Visited but no BP
                </th>
              </tr>
            </thead>
            <tbody>
              <% @region.facilities.order(:name).each do |facility| %>
                <tr>
                  <td class="ta-left">
                    <%= link_to(reports_region_path(facility, report_scope: "facility"))do %>
                      <%= facility.name %>
                    <% end %>
                  </td>
                  <td class="ta-left">
                    <%= @data_for_facility[facility.name]["missed_visits_rate"].values.last %>%
                  </td>
                  <td class="ta-left">
                    <%= @data_for_facility[facility.name]["visited_without_bp_taken_rate"].values.last %>%
                  </td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div class="d-lg-flex w-lg-50 pr-lg-2">
      <div class="card d-lg-flex fd-lg-column justify-lg-between h-lg-full w-lg-full mt-lg-0">
        <div class="mb-2">
          <h3 class="c-black">
            HTN not under control
          </h3>
        </div>
        <div class="table-responsive">
          <table id="htn-not-under-control-table" class="table-compact">
            <colgroup>
              <col>
              <col class="table-divider">
              <col class="table-divider">
            </colgroup>
            <thead>
              <tr class="sorts" data-sort-method="thead">
                <th class="row-label sort-label sort-label-small ta-left">
                  Name
                </th>
                <th class="row-label sort-label sort-label-small ta-left" data-sort-method="number" data-sort-default>
                  BP &ge;140/90
                </th>
                <th class="row-label sort-label sort-label-small ta-left" data-sort-method="number">
                  Number of patients
                </th>
              </tr>
            </thead>
            <tbody>
              <% @region.facilities.order(:name).each do |facility| %>
                <tr>
                  <td class="ta-left">
                    <%= link_to(reports_region_path(facility, report_scope: "facility"))do %>
                      <%= facility.name %>
                    <% end %>
                  </td>
                  <td class="ta-left">
                    <%= number_to_percentage(@data_for_facility[facility.name]["uncontrolled_patients_rate"].values.last, precision: 0) %>
                  </td>
                  <td class="ta-left">
                    <%= number_with_delimiter(@data_for_facility[facility.name]["uncontrolled_patients"].values.last) %>
                  </td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div class="d-lg-flex w-lg-50 pl-lg-2">
      <div class="card d-lg-flex fd-lg-column justify-lg-between h-lg-full w-lg-full mt-lg-0">
        <div class="mb-2">
          <h3 class="c-black">
            Cumulative registrations
          </h3>
        </div>
        <div class="table-responsive">
          <table id="cumulative-registrations-table" class="table-compact">
            <colgroup>
              <col>
              <col class="table-divider">
              <col class="table-divider">
            </colgroup>
            <thead>
              <tr class="sorts" data-sort-method="thead">
                <th class="row-label sort-label sort-label-small ta-left">
                  Name
                </th>
                <th class="row-label sort-label sort-label-small ta-left" data-sort-method="number" data-sort-default>
                  Registrations in <%= @selected_date.to_s %>
                </th>
                <th class="row-label sort-label sort-label-small ta-left" data-sort-method="number">
                  Cumulative
                </th>
              </tr>
            </thead>
            <tbody>
              <% @region.facilities.order(:name).each do |facility| %>
                <tr>
                  <td class="ta-left">
                    <%= link_to(reports_region_path(facility, report_scope: "facility"))do %>
                      <%= facility.name %>
                    <% end %>
                  </td>
                  <td class="ta-left">
                    <%= number_with_delimiter(@data_for_facility[facility.name]["registrations"].values.last) %>
                  </td>
                  <td class="ta-left">
                    <%= number_with_delimiter(@data_for_facility[facility.name]["cumulative_registrations"].values.last) %>
                  </td>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
<% else %>
  <div class="card d-lg-flex fd-lg-column justify-lg-between h-lg-full w-lg-full mt-lg-0">
    <div class="mb-2">
      <h3 class="c-black">
        Users
      </h3>
    </div>
    <div class="table-responsive">
      <table id="users" class="table-compact">
        <colgroup>
          <col>
          <col class="table-divider">
          <col class="table-divider">
          <col>
          <col>
          <col>
          <col>
          <col>
          <col class="table-divider">
          <col>
          <col>
          <col>
          <col>
          <col>
        </colgroup>
        <thead>
          <tr>
            <th></th>
            <th class="row-label">
              <strong>Registered</strong>
            </th>
            <th class="row-label" colspan="6">
              <strong>Follow-up patients</strong>
            </th>
            <th class="row-label" colspan="6">
              <strong>New registrations</strong>
            </th>
          </tr>
          <tr class="sorts">
            <th class="row-label sort-label sort-label-small ta-left">
              Name
            </th>
            <th class="row-label sort-label sort-label-small ta-left" data-sort-method="number" data-sort-default>
              Total
            </th>
            <% dates_for_periods(:month, 6, include_current_period: @show_current_period).each do |date| %>
              <th class="row-label sort-label sort-label-small ta-left" data-sort-method="number">
                <%= format_period(:month, date) %>
              </th>
            <% end %>
            <% dates_for_periods(:month, 6, include_current_period: @show_current_period).each do |date| %>
              <th class="row-label sort-label sort-label-small ta-left" data-sort-method="number">
                <%= format_period(:month, date) %>
              </th>
            <% end %>
          </tr>
        </thead>
        <tbody>
          <tr class="row-total" data-sort-method="none">
            <td class="row-title row-total">
              All
            </td>
            <td class="row-total ta-center">
              <%= dash_if_zero(@region.dashboard_analytics.sum { |_, row| row[:total_registered_patients] || 0 }) %>
            </td>
            <% dates_for_periods(:month, 6, include_current_period: @show_current_period).each do |date| %>
              <td class="row-total ta-center">
                <%= dash_if_zero(analytics_totals(@region.dashboard_analytics, :follow_up_patients_by_period, date)) %>
              </td>
            <% end %>
            <% dates_for_periods(:month, 6, include_current_period: @show_current_period).each do |date| %>
              <td class="row-total ta-center">
                <%= dash_if_zero(analytics_totals(@region.dashboard_analytics, :registered_patients_by_period, date)) %>
              </td>
            <% end %>
          </tr>
          <% policy_scope([:cohort_report, User.order(:full_name)]).each do |user| %>
            <% if @region.dashboard_analytics[user.id].present? %>
              <tr>
                <td class="row-title">
                  <%= link_to user.send(:full_name), send(:admin_user_path, user) %>
                </td>
                <td class="ta-center">
                  <%= dash_if_zero(@region.dashboard_analytics.dig(user.id, :total_registered_patients)) %>
                </td>
                <% dates_for_periods(:month, 6, include_current_period: @show_current_period).each do |date| %>
                  <td class="ta-center">
                    <%= dash_if_zero(@region.dashboard_analytics.dig(user.id, :follow_up_patients_by_period, date)) %>
                  </td>
                <% end %>
                <% dates_for_periods(:month, 6, include_current_period: @show_current_period).each do |date| %>
                  <td class="ta-center">
                    <%= dash_if_zero(@region.dashboard_analytics.dig(user.id, :registered_patients_by_period, date)) %>
                  </td>
                <% end %>
              </tr>
            <% end %>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
<% end %>
<div id="data-json" class="d-none">
  <%= raw @data.to_json %>
</div>
<script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>