<%= render "header" %>
<div class="d-lg-flex flex-lg-wrap">
  <div class="d-lg-flex w-lg-50 pr-lg-2">
    <div class="mt-8px mx-0px mb-16px bg-white br-4px bs-small d-lg-flex fd-lg-column justify-lg-between h-lg-full w-lg-full mt-lg-0">
      <div class="pt-20px px-20px">
        <div class="mb-2">
          <h3 class="mb-8px c-black">
            BP controlled
          </h3>
          <p class="c-grey-dark">
            Hypertensive patients with BP &lt;140/90 at their most recent visit in the last 3 months
          </p>
        </div>
        <div class="mb-12px">
          <p class="mb-0px fs-xlarge fw-bold <% if @data[:controlled_patients_rate].values.last %>c-green-dark<% else %>c-grey-medium<% end %>">
            <% if @data.last_value(:controlled_patients_rate) %>
              <%= number_to_percentage(@data.last_value(:controlled_patients_rate), precision: 0) %>
            <% else %>
              No data
            <% end %>
          </p>
          <p class="m-0px <% if @data.last_value(:controlled_patients_rate) %>c-black<% else %>c-grey-medium<% end %>">
            <% if @data.last_value(:controlled_patients_rate) %>
              <span class="fw-bold"><%= number_with_delimiter(@data.last_value(:controlled_patients)) %></span> of <%= number_with_delimiter(@data.last_value(:adjusted_registrations)) %> patients
            <% else %>
              No control rate data available
            <% end %>
          </p>
        </div>
      </div>
      <div>
        <div class="p-relative mb-16px">
          <div class="h-200px ml-13px">
            <canvas id="controlledPatientsTrend"></canvas>
          </div>
          <div class="p-absolute t-0 l-0 pe-none d-flex align-center justify-center w-100pt h-100pt">
            <% unless @data.last_value(:controlled_patients_rate) %>
              <p class="c-grey-medium">
                No data available
              </p>
            <% end %>
          </div>
        </div>
        <div class="px-20px pb-8px pb-lg-0">
          <div class="mb-2">
            <p class="mb-8px fs-12px c-grey-dark">
              <strong>Numerator:</strong> Patients with BP &lt;140/90 at their most recent visit in the last 3 months
            </p>
            <p class="fs-12px c-grey-dark">
              <% if @region.is_a?(Facility) %>
                <strong>Denominator:</strong> All hypertensive patients assigned to <%= @region.name %> registered before the last 3 months
              <% else %>
                <strong>Denominator:</strong> All hypertensive patients registered in <%= @region.name %> before the last 3 months
              <% end %>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="d-lg-flex w-lg-50 pl-lg-2">
    <div class="mt-8px mx-0px mb-16px bg-white br-4px bs-small d-lg-flex fd-lg-column justify-lg-between h-lg-full w-lg-full mt-lg-0">
      <div class="pt-20px px-20px">
        <div class="mb-2">
          <h3 class="mb-8px c-black">
            BP not controlled
          </h3>
          <p class="c-grey-dark">
            Hypertensive patients with BP &ge;140/90 at their most recent visit in the last 3 months
          </p>
        </div>
        <div class="mb-12px">
          <p class="mb-0px fs-xlarge fw-bold <% if @data.last_value(:controlled_patients_rate) %>c-red<% else %>c-grey-medium<% end %>">
            <% if @data.last_value(:uncontrolled_patients_rate) %>
              <%= number_to_percentage(@data.last_value(:uncontrolled_patients_rate), precision: 0) %>
            <% else %>
              No data
            <% end %>
          </p>
          <p class="m-0px <% if @data.last_value(:uncontrolled_patients_rate) %>c-black<% else %>c-grey-medium<% end %>">
            <% if @data.last_value(:uncontrolled_patients_rate) %>
              <span class="fw-bold"><%= number_with_delimiter(@data.last_value(:uncontrolled_patients)) %></span> of <%= number_with_delimiter(@data.last_value(:adjusted_registrations)) %> patients
            <% else %>
              No control rate data available
            <% end %>
          </p>
        </div>
      </div>
      <div>
        <div class="p-relative mb-16px">
          <div class="h-200px mb-16px ml-13px">
            <canvas id="uncontrolledPatientsTrend"></canvas>
          </div>
          <div class="p-absolute t-0 l-0 pe-none d-flex align-center justify-center w-100pt h-100pt">
            <% unless @data[:controlled_patients_rate].values.last %>
              <p class="c-grey-medium">
                No data available
              </p>
            <% end %>
          </div>
        </div>
        <div class="px-20px pb-8px pb-lg-0">
          <div class="mb-2">
            <p class="mb-8px fs-12px c-grey-dark">
              <strong>Numerator:</strong> Patients with BP &ge;140/90 at their most recent visit in the last 3 months
            </p>
            <p class="fs-12px c-grey-dark">
              <% if @region.is_a?(Facility) %>
                <strong>Denominator:</strong> All hypertensive patients assigned to <%= @region.name %> registered before the last 3 months
              <% else %>
                <strong>Denominator:</strong> All hypertensive patients registered in <%= @region.name %> before the last 3 months
              <% end %>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="d-lg-flex w-lg-50 pr-lg-2">
    <div class="mt-8px mx-0px mb-16px bg-white br-4px bs-small d-lg-flex fd-lg-column justify-lg-between h-lg-full w-lg-full mt-lg-0">
      <div class="pt-20px px-20px">
        <div class="mb-2">
          <h3 class="mb-8px c-black">
            Missed visits
          </h3>
          <p class="c-grey-dark">
            Hypertensive patients with no visit in >3 months
          </p>
        </div>
        <div class="mb-12px">
          <p class="mb-0px fs-xlarge fw-bold <% if @data.last_value(:missed_visits_rate) %>c-blue<% else %>c-grey-medium<% end %>">
            <% if @data.last_value(:missed_visits_rate) %>
              <%= number_to_percentage(@data.last_value(:missed_visits_rate), precision: 0) %>
            <% else %>
              No data
            <% end %>
          </p>
          <p class="m-0px <% if @data.last_value(:missed_visits_rate) %>c-black<% else %>c-grey-medium<% end %>">
            <% if @data.last_value(:missed_visits_rate) %>
              <span class="fw-bold"><%= number_with_delimiter(@data.last_value(:missed_visits)) %></span> of <%= number_with_delimiter(@data.last_value(:adjusted_registrations)) %> patients
            <% else %>
              No missed visits data available
            <% end %>
          </p>
        </div>
      </div>
      <div>
        <div class="h-200px mr-13px mb-16px ml-13px">
          <canvas id="missedVisitsTrend"></canvas>
        </div>
        <div class="px-20px pb-8px pb-lg-0">
          <div class="mb-2">
            <p class="mb-8px fs-12px c-grey-dark">
              <strong>Numerator:</strong> Patients with no visit in >3 months
            </p>
            <p class="fs-12px c-grey-dark">
              <% if @region.is_a?(Facility) %>
                <strong>Denominator:</strong> All hypertensive patients assigned to <%= @region.name %> registered before the last 3 months
              <% else %>
                <strong>Denominator:</strong> All hypertensive patients registered in <%= @region.name %> before the last 3 months
              <% end %>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="d-lg-flex w-lg-50 pl-lg-2">
    <div class="mt-8px mx-0px mb-16px pb-4px bg-white br-4px bs-small d-lg-flex fd-lg-column justify-lg-between h-lg-full w-lg-full mt-lg-0">
      <div class="pt-20px px-20px">
        <div class="mb-2">
          <h3 class="mb-8px c-black">
            <% if @region.is_a?(Facility) %>
              Cumulative patients
            <% else %>
              Cumulative registrations
            <% end %>
          </h3>
          <p class="c-grey-dark">
            <% if @region.is_a?(Facility) %>
              All hypertensive patients assigned to <%= @region.name %>
            <% else %>
              All hypertensive patients registered in <%= @region.name %>
            <% end %>
          </p>
        </div>
        <div class="mb-12px">
          <p class="mb-0px fs-xlarge fw-bold <% if @data.last_value(:cumulative_registrations).zero? %>c-grey-medium<% else %>c-purple<% end %>">
            <% if @data.last_value(:cumulative_registrations).zero? %>
              No data
            <% else %>
              <%= number_with_delimiter(@data.last_value(:cumulative_registrations)) %>
              <span class="fs-16px">
                patients
              </span>
            <% end %>
          </p>
          <p class="m-0px <% if @data.last_value(:cumulative_registrations).zero? %>c-grey-medium<% else %>c-black<% end %>">
            <% if @data.last_value(:cumulative_registrations).zero? %>
              No registration data available
            <% else %>
              <span class="fw-bold"><%= number_with_delimiter(@data.last_value(:registrations)) %> new <% if @data.last_value(:registrations) == 1 %>patient<% else %>patients<% end %></span> registered in <%= @data[:cumulative_registrations].keys&.last %>
            <% end %>
          </p>
        </div>
      </div>
      <% if @data.last_value(:cumulative_registrations).zero? %>
        <div class="d-flex align-center justify-center h-200px mx-20px mb-16px bb-1px bl-1px bb-grey-medium bl-grey-medium">
          <p class="fs-14px c-grey-medium">
            No data available
          </p>
        </div>
      <% else %>
        <div class="h-200px mr-13px mb-16px ml-13px pb-4px">
          <canvas id="cumulativeRegistrationsTrend"></canvas>
        </div>
      <% end %>
      <div class="px-20px pb-8px pb-lg-0">
        <div class="mb-2">
          <p class="mb-0px fs-12px us-none c-transparent h-lg-34px">
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
<% if @region.is_a?(Facility) %>
  <% if current_admin.permissions_v2_enabled? %>
    <%= render "analytics/facilities/analytics_table",
               dashboard_analytics: @dashboard_analytics,
               period: :month,
               row_resource: current_admin.accessible_users(:view_reports).order(:full_name),
               row_resource_description: "New registrations",
               row_resource_subtitle: "Patients registered by users at #{@region.name}. Registrations include patients registered at this facility who are assigned to another facility.",
               row_resource_display_field: :full_name,
               row_resource_link: :admin_user_path %>
  <% else %>
    <%= render "analytics/facilities/analytics_table",
               dashboard_analytics: @dashboard_analytics,
               period: :month,
               row_resource: User.order(:full_name),
               row_resource_description: "New registrations",
               row_resource_subtitle: "Patients registered by users at #{@region.name}. Registrations include patients registered at this facility who are assigned to another facility.",
               row_resource_display_field: :full_name,
               row_resource_link: :admin_user_path %>
  <% end %>
<% else %>
  <%= render "facility_tables" %>
<% end %>

<div id="data-json" style="display: none;">
  <%= raw @data.to_json %>
</div>
<script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
