<%= render "header" %>
<div class="d-lg-flex flex-lg-wrap">
  <div class="d-lg-flex w-lg-50 pr-lg-2">
    <div class="card d-lg-flex fd-lg-column justify-lg-between h-lg-full w-lg-full mt-lg-0">
      <div>
        <div class="mb-2">
          <h3 class="c-black">
            HTN controlled
          </h3>
          <p class="c-grey-dark">
            Registered HTN patients with BP &lt;140/90 at their most recent visit in the last 3 months
          </p>
        </div>
        <div>
          <p class="mb-1 fs-xlarge fw-bold <% if @data[:controlled_patients_rate].values.last %>c-green-dark<% else %>c-grey-medium<% end %>">
            <% if @data[:controlled_patients_rate].values.last %>
              <%= number_to_percentage(@data[:controlled_patients_rate].values.last, precision: 0) %>
            <% else %>
              No data
            <% end %>
          </p>
          <p class="<% if @data[:controlled_patients_rate].values.last %>c-black<% else %>c-grey-medium<% end %>">
            <% if @data[:controlled_patients_rate].values.last %>
              <span class="fw-bold"><%= number_with_delimiter(@data[:controlled_patients].values.last) %></span> of <%= number_with_delimiter(@last_registration_value) %> registered patients
            <% else %>
              No control rate data available
            <% end %>
          </p>
        </div>
      </div>
      <div>
        <div class="p-relative">
          <div class="h-200px">
            <canvas id="controlledPatientsTrend"></canvas>
          </div>
          <div class="p-absolute t-0 l-0 pe-none d-flex align-center justify-center w-100pt h-100pt">
            <% unless @data[:controlled_patients_rate].values.last %>
              <p class="c-grey-medium">
                No data available
              </p>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="d-lg-flex w-lg-50 pl-lg-2">
    <div class="card d-lg-flex fd-lg-column justify-lg-between h-lg-full w-lg-full mt-lg-0">
      <div>
        <div class="mb-2">
          <h3 class="c-black">
            No BP measure
          </h3>
          <p class="c-grey-dark">
            Registered HTN patients with no BP measure recorded in the last 3 months
          </p>
          <div>
            <div class="d-flex align-baseline mb-8px mb-lg-12px">
              <div class="w-12px h-12px mr-12px br-4px bg-grey-lightest"></div>
              <div class="d-flex flex-1 align-baseline">
                <p class="w-48px m-0px fw-bold fs-20px lh-1">
                  N/A
                </p>
                <p class="flex-1 m-0px fs-14px">
                  Lost to follow-up
                </p>
              </div>
            </div>
            <div class="d-flex align-baseline mb-8px mb-lg-12px">
              <div class="w-12px h-12px mr-12px br-4px bg-grey-light"></div>
              <div class="d-flex flex-1 align-baseline">
                <p class="w-48px m-0px fw-bold fs-20px lh-1">
                  N/A
                </p>
                <p class="flex-1 m-0px fs-14px">
                  Missed visit
                </p>
              </div>
            </div>
            <div class="d-flex align-baseline mb-8px mb-lg-12px">
              <div class="w-12px h-12px mr-12px br-4px bg-grey-medium"></div>
              <div class="d-flex flex-1 align-baseline">
                <p class="w-48px m-0px fw-bold fs-20px lh-1">
                  <%= number_to_percentage(@data[:visited_without_bp_taken_rate].values.last, precision: 0) %>
                </p>
                <p class="flex-1 m-0px fs-14px">
                  Visited in the last 3 months but no BP measure
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div>
        <div class="h-200px">
          <canvas id="noBPMeasureTrend"></canvas>
        </div>
      </div>
    </div>
  </div>
  <div class="d-lg-flex w-lg-50 pr-lg-2">
    <div class="card d-lg-flex fd-lg-column justify-lg-between h-lg-full w-lg-full mt-lg-0">
      <div>
        <div class="mb-2">
          <h3 class="c-black">
            HTN not under control
          </h3>
          <p class="c-grey-dark">
            Registered HTN patients with BP &ge;140/90 at their most recent visit in the last 3 months
          </p>
        </div>
        <div>
          <p class="mb-1 fs-xlarge fw-bold <% if @data[:controlled_patients_rate].values.last %>c-red<% else %>c-grey-medium<% end %>">
          <%
            current_uncontrolled_rate = @data[:uncontrolled_patients_rate]&.values&.last
           %>
            <% if current_uncontrolled_rate %>
              <%= number_to_percentage(current_uncontrolled_rate, precision: 0) %>
            <% else %>
              No data
            <% end %>
          </p>
          <p class="<% if current_uncontrolled_rate %>c-black<% else %>c-grey-medium<% end %>">
            <% if current_uncontrolled_rate %>
              <span class="fw-bold">
                <%= number_with_delimiter(@data[:uncontrolled_patients].values.last) %>
                </span> of <%= number_with_delimiter(@last_registration_value) %> registered patients
            <% else %>
              No control rate data available
            <% end %>
          </p>
        </div>
      </div>
      <div>
        <div class="p-relative">
          <div class="h-200px">
            <canvas id="uncontrolledPatientsTrend"></canvas>
          </div>
          <div class="p-absolute t-0 l-0 pe-none d-flex align-center justify-center w-100pt h-100pt">
            <% unless @data[:controlled_patients_rate].values.last %>
              <p class="c-grey-medium">
                No data available
              </p>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="d-lg-flex w-lg-50 pl-lg-2">
    <div class="card d-lg-flex justify-lg-between h-lg-full w-lg-full mt-lg-0">
      <div>
        <div class="mb-2">
          <h3 class="c-black">
            Cumulative registrations
          </h3>
          <p class="c-grey-dark">
            Total number of HTN patient registrations in <%= @region.name %>
          </p>
        </div>
        <div>
          <p class="mb-1 fs-xlarge fw-bold <% if @last_registration_value.zero? %>c-grey-medium<% else %>c-purple<% end %>">
            <% if @last_registration_value.zero? %>
              No data
            <% else %>
              <%= number_with_delimiter(@last_registration_value) %> <span class="fs-16px">patients</span>
            <% end %>
          </p>
          <p class="<% if @last_registration_value.zero? %>c-grey-medium<% else %>c-black<% end %>">
            <% if @last_registration_value.zero? %>
              No registration data available
            <% else %>
              <span class="fw-bold"><%= number_with_delimiter(@new_registrations) %> new patients</span> registered in <%= @registrations.keys&.last %>
            <% end %>
          </p>
        </div>
      </div>
      <% if @last_registration_value.zero? %>
        <div class="d-flex align-center justify-center h-200px bb-1px bl-1px bb-grey-medium bl-grey-medium">
          <p class="fs-14px c-grey-medium">
            No data available
          </p>
        </div>
      <% else %>
        <div class="h-200px">
          <canvas id="cumulativeRegistrationsTrend"></canvas>
        </div>
      <% end %>
    </div>
  </div>
</div>
<% if @region.is_a?(FacilityGroup) %>
  <div class="card">
    <h2>
      Facilities
    </h2>
    <% @region.facilities.order(:name).each do |facility| %>
      <%= link_to(reports_region_path(facility.region_slug), class: "link-row") do %>
        <i class='fas fa-angle-right light'></i>
        <%= facility.name %>
      <% end %>
    <% end %>
  </div>
<% end %>
<div class="card o-hidden mt-0 p-0px">
  <%= image_tag(
      @region.is_a?(FacilityGroup) ? "screenshot.png" : "facility-screenshot.png",
      :class => "mw-100pt"
  )%>
</div>
<div id="data-json" style="display: none;">
  <%= raw @data.to_json %>
</div>
<script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>