<script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0/dist/Chart.min.js" integrity="sha256-Uv9BNBucvCPipKQ2NS9wYpJmi8DTOEfTA/nH2aoJALw=" crossorigin="anonymous"></script>

<% content_for :title do %>
  <%= @region.name %> | Hypertension
<% end %>

<%= render Dashboard::HeaderComponent.new(
  region: @region,
  period: @period,
  current_admin: current_admin,
  with_ltfu: @with_ltfu
) %>

<% args = { data: @data, region: @region, period: @period } %>
<% args_with_ltfu = { data: @data, region: @region, period: @period, with_ltfu: @with_ltfu } %>

<div class="d-lg-flex flex-lg-wrap">
  <%= render Dashboard::Hypertension::BpControlledGraphComponent.new(args_with_ltfu) %>
  <%= render Dashboard::Hypertension::CumulativeRegistrationsGraphComponent.new(args) %>
  <%= render Dashboard::Hypertension::BpUncontrolledGraphComponent.new(args_with_ltfu) %>
  <%= render Dashboard::Hypertension::MissedVisitsGraphComponent.new(args_with_ltfu) %>
</div>

<%= render Dashboard::Hypertension::TreatmentOutcomesCardComponent.new(args) %>

<h4 class="mt-5 mb-32px">Details</h4>
<div class="d-lg-flex flex-lg-wrap">
  <%= render Dashboard::Hypertension::CoverageCardComponent.new(
    region: @region,
    data: @data,
    period: @period,
    current_admin: current_admin
  ) %>

  <%= render(Dashboard::Hypertension::LostToFollowUpComponent.new(args)) %>
</div>

<% if current_admin.feature_enabled?(:medications_dispensation) %>
  <h4 class="mt-5 mb-32px">Medications</h4>
  <%= render Dashboard::MedicationDispensationComponent.new(args) %>
<% end %>

<% if @children_data.any? %>
  <h4 class="mt-5 mb-32px">Compare performance</h4>
  <%= render Dashboard::Hypertension::MeasurementChildComparisonTableComponent.new(
    data: @data,
    children_data: @children_data,
    region: @region,
    period: @period,
    localized_region_type: @child_regions.first.localized_region_type
  ) %>

  <%= render Dashboard::Hypertension::RegistrationsAndFollowUpsTableComponent.new(
    region: @region,
    period: @period,
    repository: @details_repository
  ) %>

  <% if current_admin.feature_enabled?(:show_call_results) %>
    <%= render Dashboard::Hypertension::OverduePatientsContactedTableComponent.new(
      region: @region,
      period: @period,
      repository: @details_repository
    ) %>
  <% end %>
<% end %>

<% if @region.facility_region? %>
  <h4 class="mt-5 mb-32px">Facility activity</h4>
  <%= render Dashboard::Hypertension::RegistrationsAndFollowUpsByUserComponent.new(
    region: @region,
    period: @period,
    repository: @details_repository,
    current_admin: current_admin
  ) %>

  <%= render Dashboard::Hypertension::HealthWorkerActivityComponent.new(
    region: @region,
    period: @period,
    repository: @details_repository,
    current_admin: current_admin
  ) %>
<% end %>

<h4 class="mt-5 mb-32px">Cohort reports</h4>

<div class="d-lg-flex">
  <%= render Reports::CohortComponent.new(@cohort_period, @cohort_data) %>
</div>

<% if @region.facility_region? %>
  <h4 class="mt-5 mb-32px">BP Recording Activity</h4>
  <%= render Dashboard::Hypertension::RecentMeasurementsComponent.new(
    region: @region,
    recent_blood_pressures: @recent_blood_pressures,
    display_model: :facility,
    page: @page
  ) %>
<% end %>

<%= render "overview_footnotes" %>
