<script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0/dist/Chart.min.js" integrity="sha256-Uv9BNBucvCPipKQ2NS9wYpJmi8DTOEfTA/nH2aoJALw=" crossorigin="anonymous"></script>

<% content_for :title do %>
 <%= @region.name %> | Hypertension
<% end %>

<%= render "header" %>

<% control_graph_denominator_copy = @with_ltfu ? "denominator_with_ltfu_copy" : "denominator_copy" %>

<div class="d-lg-flex flex-lg-wrap">
  <div class="d-lg-flex w-lg-50 pr-lg-2">
    <div id="bp-controlled"
         data-period="<%= @period.to_s %>"
         class="mt-8px mx-0px mb-16px bg-white br-4px bs-small d-lg-flex fd-lg-column
                justify-lg-between h-lg-full w-lg-full mt-lg-0 pb-inside-avoid b-print-black">

      <div class="pt-20px px-20px">
        <div class="d-flex mb-8px">
          <div class="d-flex flex-1">
            <h3 class="mb-0px mr-8px">
              BP controlled
            </h3>
            <%= render "definition_tooltip",
                       definitions: { "Numerator" => t("bp_controlled_copy.numerator"),
                                      "Denominator" => t(control_graph_denominator_copy, region_name: @region.name) } %>
          </div>
          <%= render "reports/regions/ltfu_toggle", id: "controlledGraphLtfuToggle", enabled: @with_ltfu %>
        </div>
        <p class="c-grey-dark">
          <%= t("bp_controlled_copy.reports_card_subtitle") %>
        </p>
        <div class="mb-12px d-lg-flex align-lg-center">
          <p class="c-print-black c-green-dark graph-percent fs-28px"
             data-rate="">
          </p>
          <div>
            <p class="m-0px c-black">
              <span data-total-patients=""></span>
              patients with controlled BP from
              <span data-period-start=""></span>
              to
              <span data-period-end=""></span>
            </p>
            <p class="m-0px c-grey-dark c-print-black">
              of <span data-registrations=""></span>
              patients registered till
              <span data-registrations-period-end=""></span>
            </p>
          </div>
        </div>
      </div>
      <div>
        <div class="p-relative mb-12px">
          <div class="h-320px mr-16px mb-12px ml-13px">
            <canvas id="controlledPatientsTrend"></canvas>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="d-lg-flex w-lg-50 pl-lg-2">
    <div id="cumulative-registrations"
         data-period="<%= @period.to_s %>"
         class="mt-8px mx-0px mb-16px pb-4px bg-white br-4px bs-small d-lg-flex fd-lg-column
                justify-lg-between h-lg-full w-lg-full mt-lg-0 pb-inside-avoid b-print-black">
      <div class="pt-20px px-20px">
        <div class="d-flex mb-8px">
          <div class="d-flex flex-1">
            <h3 class="mb-0px mr-8px">
              Registrations
            </h3>
            <%= render "definition_tooltip",
                       definitions: { "Total registered patients" => t("registered_patients_copy.total_registered_patients", region_name: @region.name),
                                      "Monthly registered patients" => t("registered_patients_copy.monthly_registered_patients", region_name: @region.name) } %>
          </div>
        </div>
        <p class="c-grey-dark">
          <%= t("registered_patients_copy.reports_card_subtitle", region_name: @region.name) %>
        </p>
        <div class="d-flex align-center mb-24px">
          <div class="flex-1 d-lg-flex align-lg-center">
            <p class="c-print-black c-purple graph-percent fs-28px"
              data-total-patients="">
            </p>
            <div>
              <p class="m-0px c-black c-print-black">
                total <%= "registration".pluralize(@data.dig(:cumulative_registrations, @period)) %><br>till
                <span data-registrations-period-end=""></span>
              </p>
            </div>
          </div>
          <div class="flex-1 d-lg-flex align-lg-center flex-lg-1">
            <p class="c-print-black c-purple-medium graph-percent fs-28px"
              data-monthly-registrations="">
            </p>
            <div>
              <p class="m-0px c-black c-print-black">
                new <%= "registration".pluralize(@data.dig(:registrations, @period)) %><br>in
                <span data-registrations-month-end=""></span>
              </p>
            </div>
          </div>
        </div>
      </div>
      <div class="h-320px mr-13px ml-13px pb-4px">
        <canvas id="cumulativeRegistrationsTrend"></canvas>
      </div>
      <% if current_admin.feature_enabled?(:diabetes_management_reports) %>
        <% if @region.diabetes_management_enabled? %>
        <div>
          <div class="p-relative px-20px mb-12px">
            <p class="m-0px c-grey-dark c-print-black">
              <strong>00</strong> HTN-only, <strong class="ml-8px">00</strong> DM+HTN (Coming soon)
            </p>
          </div>
        </div>
        <% end %>
      <% end %>
    </div>
  </div>
  <div class="d-lg-flex w-lg-50 pr-lg-2">
    <div id="bp-uncontrolled"
         data-period="<%= @period.to_s %>"
         class="mt-8px mx-0px mb-16px bg-white br-4px bs-small d-lg-flex fd-lg-column
          justify-lg-between h-lg-full w-lg-full mt-lg-0 pb-inside-avoid b-print-black">
      <div class="pt-20px px-20px">
        <div class="d-flex mb-8px">
            <div class="d-flex flex-1">
              <h3 class="mb-0px mr-8px">
                BP not controlled
              </h3>
              <%= render "definition_tooltip",
                         definitions: { "Numerator" => t("bp_not_controlled_copy.numerator"),
                                        "Denominator" => t(control_graph_denominator_copy, region_name: @region.name) } %>
            </div>
            <%= render "reports/regions/ltfu_toggle", id: "uncontrolledGraphLtfuToggle", enabled: @with_ltfu %>
        </div>
        <p class="c-grey-dark">
          <%= t("bp_not_controlled_copy.reports_card_subtitle") %>
        </p>
        <div class="mb-12px d-lg-flex align-lg-center">
          <p class="c-print-black c-red graph-percent fs-28px"
             data-rate="">
          </p>
          <div>
            <p class="m-0px c-black">
              <span data-total-patients=""></span>
              patients with uncontrolled BP from
              <span data-period-start=""></span>
              to
              <span data-period-end=""></span>
            </p>
            <p class="m-0px c-grey-dark c-print-black">
              of
              <span data-registrations=""></span>
              patients registered till
              <span data-registrations-period-end=""></span>
            </p>
          </div>
        </div>
      </div>
      <div>
        <div class="p-relative mb-16px">
          <div class="h-320px mr-16px mb-12px ml-13px">
            <canvas id="uncontrolledPatientsTrend"></canvas>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="d-lg-flex w-lg-50 pl-lg-2">
    <div id="missed-visits"
         data-period="<%= @period.to_s %>"
         class="mt-8px mx-0px mb-16px bg-white br-4px bs-small d-lg-flex fd-lg-column
          justify-lg-between h-lg-full w-lg-full mt-lg-0 pb-inside-avoid b-print-black">
      <div class="pt-20px px-20px">
        <div class="d-flex mb-8px">
          <div class="d-flex flex-1">
            <h3 class="mb-0px mr-8px">
              Missed visits
            </h3>
            <%= render "definition_tooltip",
                       definitions: { "Numerator" => t("missed_visits_copy.numerator"),
                                      "Denominator" => t(control_graph_denominator_copy, region_name: @region.name) } %>
          </div>
          <%= render "reports/regions/ltfu_toggle", id: "missedVisitsGraphLtfuToggle", enabled: @with_ltfu %>
        </div>
        <p class="c-grey-dark">
          <%= t("missed_visits_copy.reports_card_subtitle") %>
        </p>
        <div class="mb-12px d-lg-flex align-lg-center">
          <p class="c-print-black c-blue graph-percent fs-28px"
             data-rate="">
          </p>
          <div>
            <p class="m-0px c-black">
              <span data-total-patients=""></span>
              patients with no visit from
              <span data-period-start=""></span>
              to
              <span data-period-end=""></span>
            </p>
            <p class="m-0px c-grey-dark c-print-black">
              of
              <span data-registrations=""></span>
              patients registered till
              <span data-registrations-period-end=""></span>
            </p>
          </div>
        </div>
      </div>
      <div>
        <div class="h-320px mr-16px mb-16px ml-13px">
          <canvas id="missedVisitsTrend"></canvas>
        </div>
      </div>
    </div>
  </div>
</div>

<%= render "treatment_outcomes_card" %>

<% if !current_admin.feature_enabled?(:diabetes_management_reports) %>
  <% if @children_data.any? %>
    <h4 class="mt-5 mb-32px">Compare performance</h4>
    <%= render "child_data_tables", data: @children_data, localized_region_type: @child_regions.first.localized_region_type %>
  <% end %>
<% end %>

<% if current_admin.feature_enabled?(:diabetes_management_reports) %>

  <h4 class="mt-5 mb-32px">Details</h4>
  <%= render "reports/regions/patient_breakdown_charts" %>

  <% if current_admin.feature_enabled?(:medications_dispensation) %>
    <h4 class="mt-5 mb-32px">Medications</h4>
    <%= render "reports/regions/medications_dispensation" %>
  <% end %>

  <% if @children_data.any? %>
    <h4 class="mt-5 mb-32px">Compare performance</h4>
    <%= render "child_data_tables", data: @children_data, localized_region_type: @child_regions.first.localized_region_type %>
  <% end %>

  <% if @region.facility_region? %>
    <h4 class="mt-5 mb-32px">Facility activity</h4>
    <%= render "facility_details" %>
  <% else %>
    <%= render(RegistrationsAndFollowUpsComponent.new(@region,
      current_admin: current_admin,
      repository: @details_repository,
      current_period: @period)) %>
  <% end %>

  <h4 class="mt-5 mb-32px">Cohort reports</h4>

  <div class="d-lg-flex">
    <%= render Reports::CohortComponent.new(@cohort_period, @cohort_data) %>
  </div>

  <% if @region.facility_region? %>
    <h4 class="mt-5 mb-32px">BP Recording Activity</h4>
    <%= render "shared/recent_bp_log",
                blood_pressures: @recent_blood_pressures,
                  display_model: :facility %>
  <% end %>
<% end %>


<%= render "overview_footnotes" %>

<div id="data-json" style="display: none;">
  <%= raw @data.to_json %>
</div>
<script>
  window.addEventListener("DOMContentLoaded", () => {
    new Reports(<%= @with_ltfu %>).initialize();
  });
</script>
