<div class="dashboard">
  <nav class="breadcrumb">
    <%= link_to 'All districts', admin_root_path %>

    <i class="fas fa-chevron-right"></i>
    <%= link_to @facility.district,
                analytics_organization_district_path(@facility.organization.id, @facility.district) %>

    <i class="fas fa-chevron-right"></i>
    <%= @facility.name %>
  </nav>
  <h1><%= @facility.name %></h1>
</div>

<%= render 'shared/cohort_charts', cohort_analytics: @analytics[:cohort] %>

<%=
  render 'shared/analytics_table',
         dashboard_analytics: @analytics[:dashboard],
         row_resource: User.order(:full_name),
         row_resource_description: "Users",
         row_resource_display_field: :full_name,
         row_resource_link: :admin_user_path
%>

<div class="downloads">
  <h4>Downloads</h4>
  <% if policy(@facility).share_anonymized_data? %>
    <%= link_to analytics_facility_share_path(facility_id: @facility.id),
                class: "download",
                data: { confirm: I18n.t('admin.phi_anonymized_download_alert') } do %>
      <i class="far fa-file-excel" style="margin-right: 4px;"></i> Anonymized Data (XLS)
    <% end %>
  <% end %>
  <br><br>
  <% if policy(@facility).whatsapp_graphics? %>
    <%= link_to "<i class='far fa-file-image mr-2'></i>WhatsApp Graphics".html_safe,
                analytics_facility_graphics_path(facility_id: @facility.id,
                                                              format: "png"),
                class: "download" %>
  <% end %>
</div>
