<div class="dashboard">
  <nav class="breadcrumb">
    <%= link_to 'All districts', admin_root_path %>

    <i class="fas fa-chevron-right"></i>
    <%= link_to @facility.district,
                analytics_organization_district_path(@facility.organization.id, @facility.district) %>

    <i class="fas fa-chevron-right"></i>
    <%= @facility.name %>
  </nav>

  <div class="dropdown show" style="float: right;">
    <a class="btn dropdown-toggle btn-sm btn-outline-primary" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
      <%= @period == :quarter ? "Quarterly" : "Monthly" %> report
    </a>

    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenuLink">
      <% if @period == :quarter %>
        <%= link_to "Monthly report", url_for(period: :month), class: "dropdown-item" %>
      <% else %>
        <%= link_to "Quarterly report", url_for(period: :quarter), class: "dropdown-item" %>
      <% end %>
    </div>
  </div>

  <h1><%= @facility.name %></h1>
</div>

<%= render 'shared/cohort_charts', cohort_analytics: @cohort_analytics %>

<%=
  render 'shared/analytics_table',
    dashboard_analytics: @dashboard_analytics,
    row_resource: User.order(:full_name),
    row_resource_description: "Users",
    row_resource_display_field: :full_name,
    row_resource_link: :admin_user_path
%>

<%=
  render 'shared/recent_bp_log',
    blood_pressures: @recent_blood_pressures,
    display_model: :facility
%>

<div class="downloads">
  <h4>Downloads</h4>
  <% if policy(@facility).whatsapp_graphics? %>
    <%= render "shared/graphics/graphics_download_links",
               graphics_path: -> (options) { analytics_facility_graphics_path(options) },
               options: { facility_id: @facility.id } %>
  <% end %>
</div>

