<div class="dashboard">
  <nav class="breadcrumb"><%= link_to @facility_group.name, analytics_facility_group_path(@facility_group) %></nav>
  <h1><%= @facility.name %></h1>
  <%= link_to "Graphics For Nurses", analytics_facility_graphics_path(@facility) %>
  <p class="dashboard-description">#8 of 16 reporting PHCs in New York State for BP control %</p>
  <p class="dashboard-description">976 patients enrolled since Feb 2, 2018</p>

  <div class="featured">
    <table class="featured-table">
      <tr>
        <td class="featured-td">
          <div class="featured-section">
            <strong class="featured-title" style="color: #007A31;">Newly enrolled</strong>
            <span class="featured-number text-green"><%= @facility_analytics.newly_enrolled_patients_this_month %></span>
            <span class="featured-label">New patients</span>

            <strong class="featured-title" style="color: #007A31;">Return patients</strong>
            <span class="featured-number  text-green"><%= @facility_analytics.newly_enrolled_patients_this_month %></span>
          </div>
        </td>
        <td class="featured-td featured-middle">
          <div class="featured-section">
            <strong class="featured-title" style="color: #E0B000;">Didn't attend</strong>
            <span class="featured-number text-yellow">1,234</span>
            <span class="featured-label">Patients</span>

            <%= render "shared/graph",
                       column_class: 'featured-graph-column-yellow',
                       graph_data: @facility_analytics.overdue_patients_count_per_month(4)
                           .map { |month, no_of_patients| [month.strftime('%b'), no_of_patients] }.to_h,
                       max_value: @facility_analytics.overdue_patients_count_per_month(4).values.max %>

          </div>
        </td>
        <td class="featured-td">
          <div class="featured-section">
            <strong class="featured-title">BP control</strong>
            <span class="featured-number">24%</span>
            <span class="featured-label">Goal: 45%</span>

            <%= render "shared/graph",
                       column_class: nil,
                       graph_data: @facility_analytics.control_rate_per_month(4)
                           .map { |month, percent| [month.strftime('%b'), percent] }.to_h,
                       max_value: @facility_analytics.control_rate_per_month(4).values.max %>

          </div>
        </td>
      </tr>
    </table>

  </div>
</div>


<section class="table-compact">

  <div class="table-responsive">
    <table>
      <thead>
      <tr>
        <th><h4>Active users</h4></th>
        <th class="row-label">Newly<br>enrolled</th>
        <th class="row-label">Calls<br>made</th>
        <th class="row-label">Return and<br>enrolled patients</th>
        <% @user_analytics.values.first.blood_pressures_recorded_per_week.keys.each do |date| %>
          <th class="row-label">
            <div>Week of</div>
            <%= date.strftime('%b %d') %>
          </th>
        <% end %>
      </tr>
      </thead>
      <tbody>
      <% @user_analytics.each do |user, analytics| %>
        <tr>
          <td class="row-title"><%= link_to user.full_name, [:admin, user] %></td>
          <td class="row-default text-green"><%= analytics.registered_patients_count %></td>
          <td class="row-calls text-yellow">5</td>

          <td class="row-unique-date">92</td>

          <% analytics.blood_pressures_recorded_per_week.sort.each do |_key, value| %>
            <td class="row-unique-date"><%= value != 0 ? value : '-' %></td>
          <% end %>
        </tr>
      <% end %>
      </tbody>
      <tfoot>
      <tr class="row-total">
        <td class="row-title row-total">Totals</td>
        <td class="row-enrolled text-green row-total">48</td>
        <td class="row-calls text-yellow">9</td>

        <td class="row-unique-date row-total">176</td>

        <td class="row-unique-date row-month"><span class="null">0</span></td>
        <td class="row-unique-date">19</td>
        <td class="row-unique-date"><span class="null">0</span></td>
        <td class="row-unique-date">11</td>

        <td class="row-unique-date row-month">12</td>
        <td class="row-unique-date">19</td>
        <td class="row-unique-date"><span class="null">0</span></td>
        <td class="row-unique-date"><span class="null">0</span></td>

        <td class="row-unique-date row-month">12</td>
        <td class="row-unique-date"><span class="null">0</span></td>
        <td class="row-unique-date">21</td>
        <td class="row-unique-date">11</td>

        <td>&nbsp;</td>
      </tr>
      </tfoot>
    </table>
  </div>
</section>

<section>

  <h4>Overdue patients: "Didn't Attend"</h4>

  <div class="overdue-patient">
    <div class="overdue-time text-red">4 days overdue <br><span>HIGH RISK</span></div>
    <div class="overdue-title">Anish Acharya, Male, 43</div>
    <table class="overdue-details">
      <tr>
        <td>Last BP:</td>
        <td>175/86 &nbsp; 5 days ago</td>
      </tr>
      <tr>
        <td>Home:</td>
        <td>Carroll Gardens, Brooklyn, NY</td>
      </tr>
      <tr>
        <td>Mobile:</td>
        <td>+91 1234 5678</td>
      </tr>
    </table>
  </div>

  <div class="overdue-patient">
    <div class="overdue-time text-red">4 days overdue <br><span>HIGH RISK</span></div>
    <div class="overdue-title">Anish Acharya, Male, 43</div>
    <table class="overdue-details">
      <tr>
        <td>Last BP:</td>
        <td>175/86 &nbsp; 5 days ago</td>
      </tr>
      <tr>
        <td>Home:</td>
        <td>Carroll Gardens, Brooklyn, NY</td>
      </tr>
      <tr>
        <td>Mobile:</td>
        <td>+91 1234 5678</td>
      </tr>
    </table>
  </div>

  <div class="overdue-patient">
    <div class="overdue-time text-red">4 days overdue <br><span>HIGH RISK</span></div>
    <div class="overdue-title">Anish Acharya, Male, 43</div>
    <table class="overdue-details">
      <tr>
        <td>Last BP:</td>
        <td>175/86 &nbsp; 5 days ago</td>
      </tr>
      <tr>
        <td>Home:</td>
        <td>Carroll Gardens, Brooklyn, NY</td>
      </tr>
      <tr>
        <td>Mobile:</td>
        <td>+91 1234 5678</td>
      </tr>
    </table>
  </div>

</section>

<section>
  <h4>Notes</h4>
  <p class="footnote"><strong>Didn't attend</strong> patients are enrolled hypertensives that have not had a BP recorded
    in the past 3 months.</p>
  <p class="footnote"><strong>BP control</strong> is calculated as a rolling cohort. 3,214 patients enrolled 6-9 months
    ago / 1,446 of those patients had SBP &lt; 140 and DBP &lt; 90 at last measure in past 3 months = 45% BP control</p>
  <p class="footnote"><strong>Top performers:</strong> > 100 enrolled patients and highest BP control.</p>
  <p class="footnote"><strong>Unique patients</strong> indicates how many patients had at least one recorded BP during
    the period. The "Week of" numbers are "Unique patients with a BP recorded during that week".</p>
</section>