<div class="dashboard">
  <nav class="breadcrumb">
    <%= link_to 'All districts', email_authentication_root_path %>

    <i class="fas fa-chevron-right"></i>
    <%= link_to @facility.district,
                analytics_organization_district_path(@facility.organization.id, @facility.district, period: @period) %>

    <i class="fas fa-chevron-right"></i>
    <%= @facility.name %>
  </nav>

  <%= render "period_dropdown" %>

  <h1><%= @facility.name %></h1>
</div>

<%= render 'shared/cohort_charts', cohort_analytics: @cohort_analytics %>

<% if policy([:cohort_report, @facility]).view_health_worker_activity? %>
  <%= render 'shared/analytics_table',
             dashboard_analytics: @dashboard_analytics,
             row_resource: User.order(:full_name),
             row_resource_description: "Users",
             row_resource_display_field: :full_name,
             row_resource_link: :admin_user_path %>

  <%= render 'shared/recent_bp_log',
             blood_pressures: @recent_blood_pressures,
             display_model: :facility %>
<% end %>

<div class="downloads">
  <h4>Downloads</h4>

  <% if policy([:cohort_report, @facility]).patient_list? %>
    <p>
      <%= link_to analytics_facility_patient_list_path(@facility) do %>
        <i class='fas fa-camera mr-2'></i>
        Patient line list
      <% end %>
    </p>
  <% end %>

  <% if FeatureToggle.enabled?('DASHBOARD_SNAPSHOT') %>
    <% if policy([:cohort_report, @facility]).whatsapp_graphics? %>
      <%=
        render "shared/graphics/graphics_download_links",
               graphics_path: -> (options) { analytics_facility_graphics_path(options) },
               options: { facility_id: @facility.id }
      %>
    <% end %>
  <% end %>
</div>
