<%= render 'shared/analytics/analytics_period_links',
           from_time: @from_time,
           to_time: @to_time %>

<% cache @cache_key do %>
  <div class="dashboard">
    <nav class="breadcrumb">
      <%= link_to @facility_group.name, analytics_facility_group_path(
          @facility_group, from_time: @from_time, to_time: @to_time) %>
    </nav>

    <h1><%= @facility.name %></h1>
    <%= string_for_range(@from_time, @to_time) %>
    <p class="text-muted"><small>Last updated: <%= Time.now.strftime("%B %d, %Y") %></small></p>
  </div>

  <% if @user_analytics.values.present? %>
    <section class="table-compact">
      <div class="table-responsive">
        <table>
          <thead>
          <tr>
            <th colspan="2"><h4>Active users</h4></th>
            <th class="row-label">Newly<br>enrolled</th>
            <th class="row-label">Calls<br>made</th>
            <th class="row-label">Return and<br>enrolled patients</th>
            <% @user_analytics.values.first.blood_pressures_recorded_per_week.keys.each do |date| %>
              <th class="row-label">
                <div>Week of</div>
                <%= date.strftime('%b %d') %>
              </th>
            <% end %>
          </tr>
          </thead>
          <tbody>
          <% @user_analytics.each do |user, analytics| %>
            <tr>
              <td><div class="user"></div></td>
              <td class="row-title"><%= link_to user.full_name, [:admin, user] %></td>
              <td class="row-default text-green"><%= dash_if_zero(analytics.registered_patients_count) %></td>
              <td class="row-calls text-yellow"><%= dash_if_zero(analytics.calls_made_by_user_at_facility) %></td>

              <td class="row-unique-date"><%= dash_if_zero(analytics.returning_patients_count_at_facility) %></td>

              <% analytics.blood_pressures_recorded_per_week.sort.each do |_key, value| %>
                <td class="row-unique-date"><%= dash_if_zero(value) %></td>
              <% end %>
            </tr>
          <% end %>
          </tbody>
          <tfoot>
          <tr class="row-total">
            <td></td>
            <td class="row-title row-total">Totals</td>
            <td class="row-enrolled text-green row-total"><%= dash_if_zero(@user_analytics.values.map(&:registered_patients_count).sum) %></td>
            <td class="row-calls text-yellow"><%= dash_if_zero(@user_analytics.values.map(&:calls_made_by_user_at_facility).sum) %></td>

            <td class="row-unique-date row-total"><%= dash_if_zero(@user_analytics.values.map(&:returning_patients_count_at_facility).sum) %></td>
            </td>

            <% @facility_analytics[:blood_pressures_recorded_per_week].sort.each do |_key, value| %>
              <td class="row-unique-date"><%= dash_if_zero(value) %></td>
            <% end %>

          </tr>
          </tfoot>
        </table>
      </div>
    </section>
  <% else %>
    <section class="table-compact">No Users Analytics For Facility</section>
  <% end %>

  <section>
    <h4>Notes</h4>
    <p class="footnote"><strong>Didn't attend</strong> patients are enrolled hypertensives that have not had a BP recorded
      in the past 3 months.</p>
    <p class="footnote">
      <strong><%= t('analytics.control_rate') %></strong>
      <%= t('analytics.control_rate_explanation',
            hypertensive_patients_in_cohort: @facility_analytics[:control_rate][:hypertensive_patients_in_cohort],
            patients_under_control: @facility_analytics[:control_rate][:patients_under_control_in_period],
            control_rate_for_month: @facility_analytics[:control_rate][:control_rate],
            number_of_months: pluralize(3, 'month')) %>
    </p>
    <p class="footnote"><strong>Unique patients</strong> indicates how many patients had at least one recorded BP during
      the period. The "Week of" numbers are "Unique patients with a BP recorded during that week".</p>
  </section>
<% end %>

<footer class="text-muted">
  <p>
    <small>Note: All times are in India Standard Time</small>
  </p>
</footer>
