<div class="row">
  <div class="alert alert-primary mx-3 w-100">
    <span class="fw-bold">Experimental page:</span> The ranking algorithm is a first experiment - email Claudio at claudio@simple.org and let us know how you would rank facilities
  </div>
  <div class="col-lg-12">
    <div class="card card-responsive">
      <div>
        <div class="d-flex align-baseline jc-between">
          <h3>
            Facility performance
          </h3>
          <p class="c-grey-dark">
            Last updated: <%= @last_updated_at %>
          </p>
        </div>
        <p>
          A measure of how close a facility comes to the ideals of 70% BP control rate or higher, 20% missed visits rate or lower, and registering 10% or more of its estimated OPD load. The score is weighted, with up to 50 points for BP control rate, up to 30 points for missed visits rate, and 20 points for registrations.
        </p>
      </div>
      <div class="d-flex fw-wrap mb-16px">
        <%= render "shared/my_facilities_filters" %>
      </div>
      <% if @facilities_by_size.length == 0 %>
        <%= render "shared/my_facilities_table_empty_state" %>
      <% end %>
      <% @facility_sizes.each do |size| %>
        <% next if @facilities_by_size[size].blank? %>
        <p class="mt-20px mb-0px fw-bold">
          <%= Facility.localized_facility_size(size) %>
        </p>
        <table class="mt-3 mt-lg-4 table table-compact table-responsive-md table-hover analytics-table" id="ranked-facilities-table">
          <colgroup>
            <col>
            <col>
            <col class="table-divider">
            <col>
            <col class="table-divider">
            <col>
            <col class="table-divider">
            <col>
            <col>
            <col class="mobile">
          </colgroup>
          <thead>
            <tr data-sort-method="thead" class="sorts">
              <th class="row-label sort-label" data-sort-method="number" data-sort-column-key="rank" data-sort-default style="width: 80px"">
                Grade
              </th>
              <th class="row-label sort-label" style="width: 200px">
                Facilities
              </th>
              <th class="row-label sort-label" data-sort-method="number" data-sort-column-key="controlled_patients_rate" colspan="2">
                Patients with controlled BP from<br>
                <%= @period.start_date.advance(months: -2).to_s(:day_mon_year) %> to <%= @period.end_date.to_s(:day_mon_year) %>
              </th>
              <th class="row-label sort-label" data-sort-method="number" data-sort-column-key="missed_visits_rate" colspan="2">
                Patients with no visit from<br>
                <%= @period.start_date.advance(months: -2).to_s(:day_mon_year) %> to <%= @period.end_date.to_s(:day_mon_year) %>
              </th>
              <th class="row-label sort-label" data-sort-method="number" data-sort-column-key="monthly_registrations" colspan="2">
                Registrations as % of OPD load<br>
                in <%= @period %>
              </th>
              <th class="row-label sort-label" data-sort-method="number" data-sort-column-key="opd_load">
                Estimated monthly<br>
                OPD load
              </th>
              <th class="mobile"></th>
            </tr>
          </thead>
          <tbody>
            <% @facilities_by_size[size].each do |facility| %>
              <% overall_score = number_with_precision(@scores_for_facility[facility.name].overall_score, precision: 2) %>
              <tr>
                <td class="type-grade grade-<%= @scores_for_facility[facility.name].letter_grade.downcase %>"
                    data-sort-column-key="rank"
                    data-sort="<%= overall_score %>"
                    data-toggle="tooltip"
                    title="Overall score: <%= overall_score %>">
                  <%= @scores_for_facility[facility.name].letter_grade %>
                </td>
                <td class="type-title">
                  <%= link_to(reports_region_path(facility, report_scope: "facility"))do %>
                    <%= facility.name %>
                  <% end %>
                </td>
                <td class="type-number">
                  <%= number_with_delimiter(@data_for_facility[facility.name]["controlled_patients"].values.last || 0) %>
                </td>
                <td class="type-percent" data-sort-column-key="controlled_patients_rate">
                  <em>
                    <%= number_to_percentage(@data_for_facility[facility.name]["controlled_patients_rate"].values.last || 0, precision: 0) %>
                  </em>
                </td>
                <td class="type-number">
                  <%= number_with_delimiter(@data_for_facility[facility.name]["missed_visits"].values.last || 0) %>
                </td>
                <td class="type-percent" data-sort-column-key="missed_visits_rate">
                  <em>
                    <%= number_to_percentage(@data_for_facility[facility.name]["missed_visits_rate"].values.last || 0, precision: 0) %>
                  </em>
                </td>
                <td class="type-number" data-sort-column-key="monthly_registrations">
                  <%= number_with_delimiter(@data_for_facility[facility.name]["registrations"].values.last || 0) %>
                </td>
                <td class="type-percent" data-sort-column-key="registration_rate">
                  <em>
                    <%= number_to_percentage(@scores_for_facility[facility.name].registrations_rate, precision: 0) %>
                  </em>
                </td>
                <td class="type-number" data-sort-column-key="opd_load">
                  <% unless facility.opd_load_estimated? %>
                    <small>(est.)</small>
                  <% end %>
                  <%= number_with_delimiter(facility.opd_load) %>
                </td>
              </tr>
            <% end %>
          </tbody>
        </table>
      <% end %>
      <div class="px-20px pb-8px pb-lg-0">
        <div class="mb-2">
          <p class="mb-8px fs-14px c-grey-dark c-print-black">
            <strong>BP controlled:</strong> Hypertensive patients with BP &lt;140/90 at their most recent visit in the last 3 months divided by hypertensive patients registered before the last 3 months
          </p>
          <p class="mb-8px fs-14px c-grey-dark c-print-black">
            <strong>Missed visits:</strong> Hypertensive patients with no visit in the last 3 months divided by hypertensive patients registered before the last 3 months
          </p>
          <p class="mb-8px fs-14px c-grey-dark c-print-black">
            <strong>Registrations:</strong> Monthly registrations divided by a facility's monthly adult OPD load
          </p>
          <p class="mb-8px fs-14px c-grey-dark c-print-black">
            <strong>Grading equation:</strong>
          </p>
          <p class="mb-8px ml-8px fs-14px c-grey-dark c-print-black">
            Grade = (0.5 &times; MIN(100, BP_CONTROLLED / 70 &times; 100)) + (0.3 &times; MIN(100, (100 - MISSED_VISITS) / 80 &times; 100)) + (0.2 * REGISTRATIONS)
          </p>
          <p class="mb-8px fs-14px c-grey-dark c-print-black">
            <strong>Grading scale:</strong>
          </p>
          <p class="mb-0px ml-8px fs-14px c-grey-dark c-print-black">
            <strong>A</strong> = 76 - 100
          </p>
          <p class="mb-0px ml-8px fs-14px c-grey-dark c-print-black">
            <strong>B</strong> = 51 - 75
          </p>
          <p class="mb-0px ml-8px fs-14px c-grey-dark c-print-black">
            <strong>C</strong> = 26 - 50
          </p>
          <p class="mb-0px ml-8px fs-14px c-grey-dark c-print-black">
            <strong>D</strong> = 0 - 25
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
