<div class="card" style="margin-top: -2px;">
  <table class="snapshot-table">
    <thead>
    <tr>
      <th></th>
      <th><%= t('dashboard.graphics.new_patients_registered') %></th>
      <th class="pl-3"><%= t('dashboard.graphics.patients_called_for_followup') %></th>
    </tr>
    </thead>
    <tbody>
    <% dates_for_periods(:quarter, 3, from_time: quarter_datetime(@year.to_i, @quarter.to_i)).reverse.each do |quarter| %>
      <tr>
        <td class="snapshot-quarter"><%= format_period(:quarter, quarter) %></td>

        <td class="green text-right pr-3" style="border-right: 1px solid #dce4e8;">
          <%= dash_if_blank_or_zero(analytics_totals(dashboard_analytics, :registered_patients_by_period, quarter)) %>
        </td>

        <td class="green text-right pl-3 pr-3">
          <%= dash_if_blank_or_zero(analytics_totals(dashboard_analytics, :follow_up_patients_by_period, quarter)) %>
        </td>
      </tr>
    <% end %>
    </tbody>
  </table>
</div>
