<div class="snapshot-header">
  <div class="snapshot-org">
    <div>
      <%= quarter_string(date) %>: <%= quarter_range_string(date, '%b') %>
    </div>
    <div>
      <%= organization_name %> <%= t('dashboard.graphics.report_name') %>
    </div>
  </div>
  <div class="snapshot-location"><%= name %></div>
  <!--    <div class="snapshot-desc">Ranked #2 of 5 districts in New York State</div>-->
</div>