<div class="card" style="margin-top: -2px;">
  <table class="snapshot-table">
    <thead>
    <tr>
      <th></th>
      <th><%= t('dashboard.graphics.new_patients_registered') %></th>
      <th class="pl-3"><%= t('dashboard.graphics.patients_called_for_followup') %></th>
    </tr>
    </thead>
    <tbody>
    <% repeat_for_last_n_quarters(n: 3) do |quarter| %>
      <tr>
        <td class="snapshot-quarter"><%= quarter_string(quarter) %></td>
        <td class="green text-right pr-3" style="border-right: 1px solid #dce4e8;"><%= analytics_totals(dashboard_analytics, :registered_patients_by_period, quarter) %></td>
        <td class="green text-right pl-3 pr-3"><%= analytics_totals(dashboard_analytics, :follow_up_patients_by_period, quarter) %></td>
      </tr>
    <% end %>
    </tbody>
  </table>
</div>
