<div class="row">
  <div class="alert alert-primary mx-3 mr-lg-0 ml-lg-3">
    <span class="fw-bold">Experimental page:</span> The ranking algorithm is a first experiment. Let us know how you would rank facilities in the WhatsApp group or send Claudio a WhatsApp directly at <a href="https://wa.me/16467446707">+1 (646) 744 - 6707</a>. Thanks!
  </div>
  <div class="col-lg-12">
    <div class="card card-responsive">
      <div>
        <div class="d-flex align-baseline jc-between">
          <h3>
            Ranked facilities
          </h3>
          <p class="c-grey-dark">
            Last updated: <%= @last_updated_at.capitalize %>
          </p>
        </div>
        <p>
          Facilities are ranked using their BP controlled, missed visits, and % of target registrations values.
          <br>
          The highest score is 100, where the score = (50% &times; BP controlled) + (30% &times; (100% - missed visits)) + (20% &times; % of target registrations)
        </p>
      </div>
      <div class="d-flex fw-wrap">
        <%= render "shared/size_and_zone_filters" %>
      </div>
      <table class="mt-3 mt-lg-4 table table-compact table-responsive-md table-hover analytics-table" id="ranked-facilities-table">
        <colgroup>
          <col>
          <col>
          <col class="table-divider">
          <col>
          <col class="table-divider">
          <col>
          <col class="table-divider">
          <col>
          <col class="table-divider">
          <col class="mobile">
        </colgroup>
        <thead>
          <tr>
            <th></th>
            <th></th>
            <th colspan="2">BP controlled<sup>1</sup></th>
            <th colspan="2">Missed visits<sup>2</sup></th>
            <th colspan="2">Registrations</th>
            <th>OPD load<sup>3</sup></th>
            <th class="mobile">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</th>
          </tr>
          <tr data-sort-method="thead" class="sorts">
            <th class="row-label sort-label" data-sort-method="number" data-sort-column-key="rank" data-sort-default>Grade</th>
            <th class="row-label sort-label">Facilities</th>
            <th class="row-label sort-label" data-sort-method="number" data-sort-column-key="controlled_patients_rate" colspan="2">
              Patients with BP<br>&lt;140/90 in <%= @period %>
            </th>
            <th class="row-label sort-label" data-sort-method="number" data-sort-column-key="missed_visits_rate" colspan="2">
              Patients with no<br>visit in &gt;3 months
            </th>
            <th class="row-label sort-label" data-sort-method="number" data-sort-column-key="monthly_registrations">New registrations<br>in <%= @period %></th>
            <th class="row-label sort-label" data-sort-method="number" data-sort-column-key="registration_rate">% of target<br>registrations <sup>4</sup></th>
            <th class="row-label sort-label" data-sort-method="number" data-sort-column-key="opd_load">Monthly</th>
            <th class="mobile"></th>
          </tr>
        </thead>
        <tbody>
          <% @facilities.each do |facility| %>
            <tr>
              <td class="type-grade grade-<%= @scores_for_facility[facility.name].letter_grade.downcase %>"
                  data-sort-column-key="rank"
                  data-sort="<%= number_with_precision(@scores_for_facility[facility.name].overall_score, precision: 2) %>">
                <%= @scores_for_facility[facility.name].letter_grade %>
              </td>
              <td class="type-title">
                <%= link_to(reports_region_path(facility, report_scope: "facility"))do %>
                  <%= facility.name %>
                <% end %>
              </td>
              <td class="type-percent" data-sort-column-key="controlled_patients_rate">
                <em>
                  <%= number_to_percentage(@data_for_facility[facility.name]["controlled_patients_rate"].values.last || 0, precision: 0) %>
                </em>
              </td>
              <td class="type-number">
                <%= number_with_delimiter(@data_for_facility[facility.name]["controlled_patients"].values.last || 0) %>
              </td>
              <td class="type-percent" data-sort-column-key="missed_visits_rate">
                <em>
                  <%= number_to_percentage(@data_for_facility[facility.name]["missed_visits_rate"].values.last || 0, precision: 0) %>
                </em>
              </td>
              <td class="type-number">
                <%= number_with_delimiter(@data_for_facility[facility.name]["missed_visits"].values.last || 0) %>
              </td>
              <td class="type-number" data-sort-column-key="monthly_registrations">
                <%= number_with_delimiter(@data_for_facility[facility.name]["registrations"].values.last || 0) %>
              </td>
              <td class="type-percent" data-sort-column-key="registration_rate">
                <em>
                  <%= number_to_percentage(@scores_for_facility[facility.name].registrations_rate, precision: 0) %>
                </em>
              </td>
              <td class="type-number" data-sort-column-key="opd_load">
                <% unless facility.opd_load_estimated? %>
                  <small>(est.)</small>
                <% end %>
                <%= number_with_delimiter(facility.opd_load) %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
    <section class="footnotes">
      <ol>
        <li><strong>BP controlled:</strong> Patients with BP &lt;140/90 at their most recent visit in the last 3 months</li>
        <li><strong>Missed visits:</strong> Patients with no visit in the last 3 months</li>
        <li><strong>OPD load:</strong> A facility's estimated monthly adult outpatient department load. Facilities with no OPD load (marked "est") use the average OPD load of all district facilities of the same size.</li>
        <li><strong>Target registrations:</strong> 10% of a facility's OPD load.</li>
      </ol>
    </section>
  </div>
</div>
