<h1><%= t "devise.invitations.new.header" %></h1>

<div class="row">
  <div class="col-md-6">
    <%= bootstrap_form_for(resource, as: resource_name, url: invitation_path(resource_name), html: { method: :post }) do |f| %>
      <% resource.class.invite_key_fields.each do |field| -%>
        <%= f.text_field field %></p>
        <%= f.select(:role, Admin.roles.keys.map { |role| [role.titleize, role]} ) %>
      <% end %>
      <%= f.primary t("devise.invitations.new.submit_button") %>
    <% end %>
  </div>
</div>
