<div class="mt-48px mb-16px pr-16px pl-16px">
  <h3 class="m-0px p-0px ta-left fw-bold fs-20px c-grey-dark">
    <%= t("progress_tab.diagnosis_report.drug_stock_report.section_title") %>
  </h3>
</div>
<% drugs_by_category.each do |category, drugs| %>
  <% patient_days = drug_stocks_query.patient_days_by_facility_id.dig(current_facility.id, category, :patient_days) || 0 %>
  <div class="mb-8px p-16px bgc-white bs-card">
    <h3 class="m-0px mb-2px p-0px ta-left fw-medium fs-20px c-black">
      <%= protocol_drug_labels[category][:full] %>
    </h3>
    <p class="m-0px mb-16px p-0px ta-left fw-regular fs-16px lh-150 <%= patient_days_css_class(patient_days, prefix: "c") %>">
      <%= patient_days %> days of drug stock
    </p>
    <% drugs.each_with_index do |drug, index| %>
      <% drug_stock = drug_stocks_query.drugs_in_stock_by_facility_id.dig([current_facility.id, drug.rxnorm_code]) %>
      <div class="d-flex ai-center jc-space-between">
        <p class="m-0px p-0px ta-left fw-regular fs-16px c-black">
          <%= drug.name %> <%= drug.dosage %>
        </p>
        <p class="m-0px p-0px ta-left fw-regular fs-16px c-black">
          <% if drug_stock.present? %>
            <%= drug_stock %> tablets
          <% else %>
            &#8212;
          <% end %>
        </p>
      </div>
      <% unless drugs.length == index + 1 %>
        <div class="h-1px mt-8px mb-8px bgc-grey-light"></div>
      <% end %>
    <% end %>
  </div>
<% end %>
