<section class="table-compact">
  <div class="table-responsive">
    <table>
      <thead>
      <tr>
        <th colspan="2"></th>
        <th class="row-label">Newly<br>enrolled</th>
        <th class="row-label">Didn't<br>attend</th>

        <th class="row-label">BP<br>control</th>
        <th class="row-spacer">&nbsp;</th>
        <th class="row-label">Return and<br>enrolled patients</th>

        <% @facility_group_analytics[:blood_pressures_recorded_per_week].keys.each do |date| %>
          <th class="row-label">
            <div>Week of</div>
            <%= date.strftime('%b %d') %>
          </th>
        <% end %>
      </tr>
      </thead>
      <tbody>
      <% @facility_analytics.each do |facility, analytics| %>
        <tr>
          <td class="row-rank"></td>
          <td class="row-title">
            <%= link_to facility.name, analytics_facility_path(facility, from_time: @from_time, to_time: @to_time) %>
            <span>
              <b><%= analytics[:unique_patients_enrolled] %></b> enrolled all time
            </span>
          </td>
          <td class="row-enrolled text-green"><%= dash_if_zero(analytics[:newly_enrolled_patients]) %></td>
          <td class="row-default text-yellow"><%= dash_if_zero(analytics[:non_returning_hypertensive_patients]) %></td>

          <td class="row-control"><%= dash_if_zero(analytics[:control_rate][:control_rate]) %></td>
          <td class="row-spacer">&nbsp;</td>
          <td class="row-unique-date">
            <%= dash_if_zero(analytics[:returning_patients] + analytics[:newly_enrolled_patients]) %>
          </td>

          <% analytics[:blood_pressures_recorded_per_week].sort.each do |_key, value| %>
            <td class="row-unique-date"><%= dash_if_zero(value) %></td>
          <% end %>
        </tr>
      <% end %>
      </tbody>
      <tfoot>
      <tr class="row-total">
        <td class="row-rank row-total"></td>
        <td class="row-title row-total">All facility totals<span><b><%= @facility_group_analytics[:unique_patients_enrolled] %></b> enrolled all time</span></td>
        <td class="row-enrolled text-green row-total"><%= dash_if_zero(@facility_group_analytics[:newly_enrolled_patients]) %></td>
        <td class="row-default text-yellow row-total"><%= dash_if_zero(@facility_group_analytics[:non_returning_hypertensive_patients]) %></td>

        <td class="row-control"><%= dash_if_zero(@facility_group_analytics[:control_rate][:control_rate]) %></td>
        <td class="row-spacer">&nbsp;</td>
<<<<<<< HEAD
        <td class="row-unique-date"><%= dash_if_zero(@facility_group_analytics[:unique_patients_enrolled]) %></td>
=======
        <td class="row-unique-date">
          <%= @facility_group_analytics[:returning_patients] + @facility_group_analytics[:newly_enrolled_patients] %>
        </td>
>>>>>>> master

        <% @facility_group_analytics[:blood_pressures_recorded_per_week].sort.each do |_key, value| %>
          <td class="row-unique-date"><%= dash_if_zero(value) %></td>
        <% end %>
        <td></td>
      </tr>
      </tfoot>
    </table>
  </div>
</section>
