<section class="table-compact">
  <div class="table-responsive">
    <table>
      <thead>
      <tr>
        <th colspan="2">
            <div class="dropdown">
              <button class="btn btn-outline-primary btn-sm dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Sort by BP control
              </button>
              <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" href="#">Sort alphabetical</a>
              </div>
            </div>  
        </th>
        <th class="row-label"></th>
        <th class="row-label"></th>
        <th class="row-label"></th>
        <th class="row-label">Enrolled<br>all time</th>
        <th class="row-label">Enrolled<br>Q2 2019</th>
        <th class="row-label">Calls made to<br>overdue patients</th>
        <th class="row-spacer">&nbsp;</th>
        <th class="row-label">Patient<br>visits</th>

        <% @facility_group_analytics[:blood_pressures_recorded_per_week].keys.each do |date| %>
          <th class="row-label">
            <div>Week of</div>
            <%= date.strftime('%b %d') %>
          </th>
        <% end %>
      </tr>
      </thead>
      <tbody>
      <tr class="row-total">
        <td class="row-rank row-total"></td>
        <td class="row-title row-total">All facilities</td>
        <td colspan="3"></td>
        <td class="row-enrolled row-total"><%= @facility_group_analytics[:unique_patients_enrolled] %></td>
        <td class="row-enrolled row-total"><%= @facility_group_analytics[:newly_enrolled_patients] %></td>
        <td class="row-default text-yellow row-total">4521</td>
        <td class="row-spacer">&nbsp;</td>
        <td class="row-unique-date">
          <%= @facility_group_analytics[:returning_patients] + @facility_group_analytics[:newly_enrolled_patients] %>
        </td>

        <% @facility_group_analytics[:blood_pressures_recorded_per_week].sort.each do |_key, value| %>
          <td class="row-unique-date"><%= value != 0 ? value : '-' %></td>
        <% end %>
        <td></td>
      </tr>
      <% @facility_analytics.each do |facility, analytics| %>
        <tr>
          <td class="row-rank">#1</td>
          <td class="row-title">
            <%= link_to facility.name, analytics_facility_path(facility, from_time: @from_time, to_time: @to_time) %>
          </td>
          <!--td class="row-default text-yellow"><%= analytics[:non_returning_hypertensive_patients] %></td-->
          <td colspan="3">
            <table class="split-bars" style="min-width: 160px; margin: 4px 0;">  
              <tr>
                    <td class="bar bar-1" style="width: 74%; font-size: 10px; padding: 2px 4px;">74%</td>
                    <td class="bar bar-2" style="width: 16%; font-size: 10px; padding: 2px 4px;">16%</td>
                    <td class="bar bar-3" style="width: 10%; font-size: 10px; padding: 2px 4px;">10%</td>
                </tr>
            </table>
          </td>
          <td class="row-enrolled"><%= analytics[:unique_patients_enrolled] %></td>
          <td class="row-enrolled"><%= analytics[:newly_enrolled_patients] %></td>
          <td class="row-enrolled text-yellow">2</td>
          
          <!--td class="row-enrolled text-green"><%= analytics[:newly_enrolled_patients] %></td>
          <td class="row-default text-yellow"><%= analytics[:non_returning_hypertensive_patients] %></td>
          <td class="row-control"><%= analytics[:control_rate][:control_rate] %></td-->

          <td class="row-spacer">&nbsp;</td>
          <td class="row-unique-date">
            <!--<%= analytics[:returning_patients] + analytics[:newly_enrolled_patients] %>-->
          </td>

          <% analytics[:blood_pressures_recorded_per_week].sort.each do |_key, value| %>
            <td class="row-unique-date"><%= value != 0 ? value : '-' %></td>
          <% end %>
        </tr>
      <% end %>
      </tbody>
    </table>
  </div>
</section>
