<%= render 'shared/analytics/analytics_period_links',
           from_time: @from_time,
           to_time: @to_time %>

<div class="dashboard">

  <div class="graphics">
    <%= link_to 'WhatsApp', analytics_facility_group_graphics_path(
      @facility_group,
      month: analytics_date_format(Time.now.at_beginning_of_month)) %>
  </div>

  <h1><%= @facility_group.name %></h1>
  <p>Data updated: April 22, 2019</p>
  <div class="featured">
      <div class="featured-section featured-1">
          <h4>Follow-up visits: Q2 2019</h4>
          
          <table class="split-bars-secondary" style="font-size: 13px; font-family: 'Roboto Condensed';">
            <tr>
                <td valign="bottom" class="bar-desc bar-1-desc" style="line-height: 1.2; width: 45%; position: relative; text-align: right; padding-right: 16px;">
                    475 of 554 patients<br>didn't attend for a follow-up visit
                    <div style="width: 1px; height: 50px; background: #ddd; position: absolute; right: 8px; top: 10px;"></div>
                </td>   
                <td valign="bottom" class="bar-desc bar-3-desc" style="line-height: 1.2; width: 27.5%; color: #B81631; position: relative; text-align: right; padding-right: 16px;">
                    41 patients had uncontrolled BP at follow-up visit
                    <div style="width: 1px; height: 50px; background: #ddd; position: absolute; right: 8px; top: 10px;"></div>
                </td>
                <td valign="bottom" class="bar-desc bar-3-desc" style="line-height: 1.2; width: 27.5%; position: relative; text-align: right; padding-right: 16px;">
                    38 patients had BP controlled at follow-up visit
                    <div style="width: 1px; height: 50px; background: #ddd; position: absolute; right: 8px; top: 10px;"></div>
                </td>
            </tr>
          </table>
          
          
          <table class="split-bars" style="margin-bottom: 5px;"> 
              <tr>
                    <td style="font-weight: bold; white-space: nowrap; font-size: 12px; border-radius: 2px; padding: 0 12px; min-width: 100px;">Q2 2019</td>
                    <td class="bar bar-1" style="width: 65%;">65%</td>
                    <td class="bar bar-2" style="width: 18%;">18%</td>
                    <td class="bar bar-3" style="width: 17%;">17%</td>
                </tr>
          </table>
          
          <table class="split-bars" style="margin-bottom: 5px;"> 
              <tr>
                    <td style="white-space: nowrap; font-size: 12px; color: #666; border-radius: 2px; padding: 0 12px; min-width: 100px;">Q1 2019</td>
                    <td class="bar bar-1" style="width: 68%;">68%</td>
                    <td class="bar bar-2" style="width: 18%;">18%</td>
                    <td class="bar bar-3" style="width: 14%;">14%</td>
                </tr>
          </table>
          
          <table class="split-bars">  
              <tr>
                    <td style="white-space: nowrap; font-size: 12px; color: #666; border-radius: 2px; padding: 0 12px; min-width: 100px;">Q4 2018</td>
                    <td class="bar bar-1" style="width: 75%;">75%</td>
                    <td class="bar bar-2" style="width: 13%;">13%</td>
                    <td class="bar bar-3" style="width: 12%;">12%</td>
                </tr>
                
                <tr>
                    <td></td>
                    <td colspan="2" class="bar-label"><div>Uncontrolled BP</div><em></em></td>
                    <td></td>
                </tr>
          </table>
      </div>
      <div class="featured-section featured-2">
          <h4>Enrolled: Q2 2019</h4>
          <div class="featured-count">
            <div class="featured-count-number">45</div>
            New patients enrolled since 1 Apr 2019
            <div class="light" style="font-size: 85%;">There are now 599 patients enrolled</div>
          </div>
          <div>
            <table class="bars">
                <tr>
                    <td valign="bottom"><div style="height: 18px;"></div> Nov</td>
                    <td valign="bottom"><div style="height: 22px;"></div> Dec</td>
                    <td valign="bottom"><div style="height: 23px;"></div> Jan</td>
                    <td valign="bottom"><div style="height: 24px;"></div> Feb</td>
                    <td valign="bottom"><div style="height: 25px;"></div> Mar</td>
                    <td valign="bottom"><div style="height: 27px;"></div> Apr</td>
                </tr>  
            </table>
          </div>
      </div>
  </div>

</div>


<%= render 'facility_table' %>

<section>
  <h4>Notes</h4>
  <p class="footnote"><strong>Didn't attend</strong> patients are enrolled hypertensives that have not had a BP recorded
    in the past 3 months.</p>
  <p class="footnote">
    <strong><%= t('analytics.control_rate') %></strong>
    <%= t('analytics.control_rate_explanation',
          hypertensive_patients_in_cohort: @facility_group_analytics[:control_rate][:hypertensive_patients_in_cohort],
          patients_under_control: @facility_group_analytics[:control_rate][:patients_under_control_in_period],
          control_rate_for_month: @facility_group_analytics[:control_rate][:control_rate],
          number_of_months: pluralize(1, 'month')) %>
  </p>
  <p class="footnote"><strong>Top performers:</strong> 100 enrolled patients and highest BP control.</p>
  <p class="footnote"><strong>Unique patients</strong> indicates how many patients had at least one recorded BP during
    the period. The "Week of" numbers are "Unique patients with a BP recorded during that week".</p>
</section>

<footer class="text-muted">
  <p>
    <small>Note: All times are in India Standard Time</small>
  </p>
</footer>
