<div class="sub-nav">
  <a href="#" class="sub-nav-link sub-nav-link-active">Last 90 days</a>
  <a href="#" class="sub-nav-link">Q4 Report</a>
  <a href="#" class="sub-nav-link">&#8226;&#8226;&#8226;</a>
</div>

<div class="dashboard">

  <h1><%= @facility_group.name %></h1>
  <%= link_to "Graphics For Supervisors", analytics_facility_group_graphics_path(@facility_group) %>
  <p class="dashboard-description">#2 of 19 reporting districts in New York State. State BP control average is 25% from
    reporting facilities.</p>

  <div class="featured">
    <table class="featured-table">
      <tr>
        <td class="featured-td">
          <div class="featured-section">
            <strong class="featured-title" style="color: #007A31;"><%= t('analytics.graphics.facility_groups.newly_enrolled') %></strong>
            <span id='newly-enrolled-patients-count' class="featured-number text-green">
              <%= @facility_group_analytics.newly_enrolled_patients.count %>
            </span>
            <span class="featured-label">New patients</span>

            <strong class="featured-title" style="color: #007A31;"><%= t('analytics.graphics.facility_groups.return_patients') %></strong>
            <span id='returning-patients-count' class="featured-number text-green">
              <%= @facility_group_analytics.returning_patients.count %>
            </span>
          </div>
        </td>
        <td class="featured-td featured-middle">
          <div class="featured-section">
            <strong class="featured-title" style="color: #E0B000;"><%= t('analytics.graphics.facility_groups.non_returning_hypertensive_patients') %></strong>
            <span id='non-returning-hypertensive-patients-count' class="featured-number text-yellow">
              <%= @facility_group_analytics.non_returning_hypertensive_patients.count %>
            </span>
            <span class="featured-label">Patients</span>

            <%= render "shared/graph",
                       options: { id: 'non-returning-hypertensive-patients-graph' },
                       column_class: 'featured-graph-column-yellow',
                       graph_data: @facility_group_analytics.non_returning_hypertensive_patients_per_month(4)
                           .map { |month, no_of_patients| [month.strftime('%b'), no_of_patients] }.to_h,
                       max_value: @facility_group_analytics.non_returning_hypertensive_patients_per_month(4).values.max %>

          </div>
        </td>
        <td class="featured-td">
          <div class="featured-section">
            <strong class="featured-title"><%= t('analytics.graphics.facility_groups.control_rate') %></strong>
            <span id='control-rate' class="featured-number">
              <%= @facility_group_analytics.control_rate %>%
            </span>
            <span class="featured-label">Goal: 45%</span>

            <%= render "shared/graph",
                       options: { id: 'control-rate-graph' },
                       column_class: 'featured-graph-column',
                       graph_data: @facility_group_analytics.control_rate_per_month(4)
                           .map { |month, no_of_patients| [month.strftime('%b'), no_of_patients] }.to_h,
                       max_value: @facility_group_analytics.control_rate_per_month(4).values.max %>
          </div>
        </td>
      </tr>
    </table>

  </div>
</div>


<section class="table-compact">

  <div class="table-responsive">
    <table>
      <thead>
      <tr>
        <th colspan="2"><h4>Hospitals &amp; Clinics</h4></th>
        <th class="row-label">Newly<br>enrolled</th>
        <th class="row-label">Didn't<br>attend</th>

        <!-- We currently do not record any communications. This column will be zero for all facilities -->
        <!-- <th class="row-label">Calls<br>made</th>-->

        <th class="row-label">BP<br>control</th>
        <th class="row-spacer">&nbsp;</th>
        <th class="row-label">Return and<br>enrolled patients</th>

        <% @facility_analytics.values.first.blood_pressures_recorded_per_week.keys.each do |date| %>
          <th class="row-label">
            <div>Week of</div>
            <%= date.strftime('%b %d') %>
          </th>
        <% end %>

      </tr>
      </thead>
      <tbody>
      <% @facility_analytics.each do |facility, analytics| %>
        <tr>
          <td class="row-rank">1</td>
          <td class="row-title">
            <%= link_to facility.name, analytics_facility_path(facility) %>
            <span><b>4567</b> enrolled all time</span></td>
          <td class="row-enrolled text-green"><%= analytics.newly_enrolled_patients.count %></td>
          <td class="row-default text-yellow"><%= analytics.non_returning_hypertensive_patients.count %></td>

          <!-- We currently do not record any communications. This column will be zero for all facilities -->
          <!-- <td class="row-calls text-yellow">5</td> -->

          <td class="row-control"><%= analytics.control_rate %></td>
          <td class="row-spacer">&nbsp;</td>
          <td class="row-unique-date"><%= analytics.unique_patients_enrolled.count %></td>

          <% analytics.blood_pressures_recorded_per_week.sort.each do |_key, value| %>
            <td class="row-unique-date"><%= value != 0 ? value : '-' %></td>
          <% end %>
        </tr>
      <% end %>
      </tbody>
      <tfoot>
      <tr class="row-total">
        <td class="row-rank row-total"></td>
        <td class="row-title row-total">All facility totals<span><b>24,342</b> enrolled all time</span></td>
        <td class="row-enrolled text-green row-total">1,345</td>
        <td class="row-default text-yellow row-total">10,321</td>
        <td class="row-calls text-yellow">124</td>
        <td class="row-control row-total">30%</td>
        <td class="row-spacer">&nbsp;</td>
        <td class="row-unique-date row-total">13,801</td>

        <td class="row-unique-date row-month"><span class="null">0</span></td>
        <td class="row-unique-date">19</td>
        <td class="row-unique-date"><span class="null">0</span></td>
        <td class="row-unique-date">11</td>

        <td class="row-unique-date row-month">12</td>
        <td class="row-unique-date">19</td>
        <td class="row-unique-date"><span class="null">0</span></td>
        <td class="row-unique-date"><span class="null">0</span></td>

        <td class="row-unique-date row-month">12</td>
        <td class="row-unique-date"><span class="null">0</span></td>
        <td class="row-unique-date">21</td>
        <td class="row-unique-date">11</td>

        <td>&nbsp;</td>
      </tr>
      </tfoot>
    </table>
  </div>
</section>

<section>
  <h4>Notes</h4>
  <p class="footnote"><strong>Didn't attend</strong> patients are enrolled hypertensives that have not had a BP recorded
    in the past 3 months.</p>
  <p class="footnote"><strong>BP control</strong> is calculated as a rolling cohort. 12,456 patients enrolled 6-9 months
    ago / 3,736 of those patients had SBP &lt; 140 and DBP &lt; 90 at last measure in past 3 months = 30% BP control</p>
  <p class="footnote"><strong>Top performers:</strong> > 100 enrolled patients and highest BP control.</p>
  <p class="footnote"><strong>Unique patients</strong> indicates how many patients had at least one recorded BP during
    the period. The "Week of" numbers are "Unique patients with a BP recorded during that week".</p>
</section>

<footer class="text-muted">
  <p>
    <small>Note: All times are in India Standard Time</small>
  </p>
</footer>