<%= render 'shared/analytics/analytics_period_links' %>

<div class="dashboard">

  <h1><%= @facility_group.name %></h1>
  <%= link_to 'Graphics For Supervisors', analytics_facility_group_graphics_path(
      @facility_group,
      month: analytics_date_format(Time.now.at_beginning_of_month)) %>

  <div class="featured">
    <table class="featured-table">
      <tr>
        <td class="featured-td">
          <%= render "shared/analytics/patients_count_panel",
                     newly_enrolled_patients_count: @facility_group_analytics[:newly_enrolled_patients],
                     returning_patients_count: @facility_group_analytics[:returning_patients] %>
        </td>

        <td class="featured-td featured-middle">
          <%= render "shared/analytics/non_returning_hypertensive_patients_panel",
                     number_of_months: 4,
                     non_returning_hypertensive_patients_count: @facility_group_analytics[:non_returning_hypertensive_patients],
                     non_returning_hypertensive_patients_per_month: @facility_group_analytics[:non_returning_hypertensive_patients_per_month].drop(2) %>
        </td>
        <td class="featured-td">
          <%= render "shared/analytics/control_rate_panel",
                     goal: 45,
                     number_of_months: 4,
                     control_rate: @facility_group_analytics[:control_rate][:control_rate],
                     control_rate_per_month: @facility_group_analytics[:control_rate_per_month].drop(2).to_h %>
        </td>
      </tr>
    </table>
  </div>
</div>


<%= render 'facility_table' %>

<section>
  <h4>Notes</h4>
  <p class="footnote"><strong>Didn't attend</strong> patients are enrolled hypertensives that have not had a BP recorded
    in the past 3 months.</p>
  <p class="footnote">
    <strong><%= t('analytics.control_rate') %></strong>
    <%= t('analytics.control_rate_explanation',
          hypertensive_patients_in_cohort: @facility_group_analytics[:control_rate][:hypertensive_patients_in_cohort],
          patients_under_control: @facility_group_analytics[:control_rate][:patients_under_control_in_period],
          control_rate_for_month: @facility_group_analytics[:control_rate][:control_rate],
          number_of_months: pluralize(1, 'month')) %>
  </p>
  <p class="footnote"><strong>Top performers:</strong> 100 enrolled patients and highest BP control.</p>
  <p class="footnote"><strong>Unique patients</strong> indicates how many patients had at least one recorded BP during
    the period. The "Week of" numbers are "Unique patients with a BP recorded during that week".</p>
</section>

<footer class="text-muted">
  <p>
    <small>Note: All times are in India Standard Time</small>
  </p>
</footer>
