<div class="sub-nav">
  <a href="#" class="sub-nav-link sub-nav-link-active">Last 90 days</a>
  <a href="#" class="sub-nav-link">Q4 Report</a>
  <a href="#" class="sub-nav-link">&#8226;&#8226;&#8226;</a>
</div>

<div class="dashboard">

  <h1><%= @facility_group.name %></h1>
  <%= link_to "Graphics For Supervisors", analytics_facility_group_graphics_path(@facility_group) %>
  <!--
  <p class="dashboard-description">#2 of 19 reporting districts in New York State. State BP control average is 25% from
    reporting facilities.</p>
    -->

  <div class="featured">
    <table class="featured-table">
      <tr>
        <td class="featured-td">
          <%= render "shared/analytics/patients_count_panel",
                     newly_enrolled_patients_count: @facility_group_analytics[:newly_enrolled_patients],
                     returning_patients_count: @facility_group_analytics[:returning_patients] %>
        </td>

        <td class="featured-td featured-middle">
          <%= render "shared/analytics/non_returning_hypertensive_patients_panel",
                     non_returning_hypertensive_patients_count: @facility_group_analytics[:newly_enrolled_patients],
                     non_returning_hypertensive_patients_per_month: @facility_group_analytics[:non_returning_hypertensive_patients_per_month] %>
        </td>
        <td class="featured-td">
          <%= render "shared/analytics/control_rate_panel",
                     goal: 45,
                     control_rate: @facility_group_analytics[:control_rate][:control_rate],
                     control_rate_per_month: @facility_group_analytics[:control_rate_per_month] %>
        </td>
      </tr>
    </table>
  </div>
</div>


<section class="table-compact">

  <div class="table-responsive">
    <table>
      <thead>
      <tr>
        <th colspan="2"><h4>Hospitals &amp; Clinics</h4></th>
        <th class="row-label">Newly<br>enrolled</th>
        <th class="row-label">Didn't<br>attend</th>

        <!-- We currently do not record any communications. This column will be zero for all facilities -->
        <!-- <th class="row-label">Calls<br>made</th>-->

        <th class="row-label">BP<br>control</th>
        <th class="row-spacer">&nbsp;</th>
        <th class="row-label">Return and<br>enrolled patients</th>

        <% @facility_analytics.values.first[:blood_pressures_recorded_per_week].keys.each do |date| %>
          <th class="row-label">
            <div>Week of</div>
            <%= date.strftime('%b %d') %>
          </th>
        <% end %>

      </tr>
      </thead>
      <tbody>
      <% @facility_analytics.each do |facility, analytics| %>
        <tr>
          <td class="row-rank">1</td>
          <td class="row-title">
            <%= link_to facility.name, analytics_facility_path(facility) %>
            <span><b><%= analytics[:unique_patients_enrolled] %></b> enrolled all time</span></td>
          <td class="row-enrolled text-green"><%= analytics[:newly_enrolled_patients] %></td>
          <td class="row-default text-yellow"><%= analytics[:non_returning_hypertensive_patients] %></td>

          <!-- We currently do not record any communications. This column will be zero for all facilities -->
          <!-- <td class="row-calls text-yellow">5</td> -->

          <td class="row-control"><%= analytics[:control_rate][:control_rate] %></td>
          <td class="row-spacer">&nbsp;</td>
          <td class="row-unique-date"><%= analytics[:unique_patients_enrolled] %></td>

          <% analytics[:blood_pressures_recorded_per_week].sort.each do |_key, value| %>
            <td class="row-unique-date"><%= value != 0 ? value : '-' %></td>
          <% end %>
        </tr>
      <% end %>
      </tbody>
      <tfoot>
      <tr class="row-total">
        <td class="row-rank row-total"></td>
        <td class="row-title row-total">All facility totals<span><b>24,342</b> enrolled all time</span></td>
        <td class="row-enrolled text-green row-total"><%= @facility_group_analytics[:newly_enrolled_patients] %></td>
        <td class="row-default text-yellow row-total"><%= @facility_group_analytics[:non_returning_hypertensive_patients] %></td>

        <!-- <td class="row-calls text-yellow">124</td>-->

        <td class="row-control"><%= @facility_group_analytics[:control_rate][:control_rate] %></td>
        <td class="row-spacer">&nbsp;</td>
        <td class="row-unique-date"><%= @facility_group_analytics[:unique_patients_enrolled] %></td>

        <% @facility_group_analytics[:blood_pressures_recorded_per_week].sort.each do |_key, value| %>
          <td class="row-unique-date"><%= value != 0 ? value : '-' %></td>
        <% end %>


        <td>&nbsp;</td>
      </tr>
      </tfoot>
    </table>
  </div>
</section>

<section>
  <h4>Notes</h4>
  <p class="footnote"><strong>Didn't attend</strong> patients are enrolled hypertensives that have not had a BP recorded
    in the past 3 months.</p>
  <p class="footnote">
    <strong><%= t('analytics.control_rate') %></strong>
    <%= t('analytics.control_rate_explanation',
          hypertensive_patients_in_cohort: @facility_group_analytics[:control_rate][:hypertensive_patients_in_cohort],
          patients_under_control: @facility_group_analytics[:control_rate][:patients_under_control_in_period],
          control_rate_for_month: @facility_group_analytics[:control_rate][:control_rate],
          number_of_months: pluralize(1, 'month')) %>
  </p>
  <p class="footnote"><strong>Top performers:</strong> > 100 enrolled patients and highest BP control.</p>
  <p class="footnote"><strong>Unique patients</strong> indicates how many patients had at least one recorded BP during
    the period. The "Week of" numbers are "Unique patients with a BP recorded during that week".</p>
</section>

<footer class="text-muted">
  <p>
    <small>Note: All times are in India Standard Time</small>
  </p>
</footer>