<div class="card mb-16px mt-0 w-full">
  <%= render Dashboard::Card::TitleComponent.new(
    title: "Overdue patients called",
    subtitle: t("overdue_patients_call_activity.reports_card_subtitle") 
  ) do |c| %>
    <%= c.tooltip({ "Patients called" => t("overdue_patients_call_activity.patients_called"),
                    "Percent called" => "",
                    "Numerator" => t("overdue_patients_call_activity.percent_called_numerator"),
                    "divider" => "",
                    "Denominator" => t("overdue_patients_call_activity.percent_called_denominator", region_name: @region.name)
                  }) %>
  <% end %>
  <%= render Dashboard::Card::TableComponent.new(id: "overdueCalledActivity") do |table| %>
      <% table.column_group do %>
        <colgroup>
          <col>
          <col class="table-divider">
          <col>
          <col class="table-divider">
          <col>
          <col class="table-divider">
        </colgroup>
      <% end %>
      <% periods.each do |period| %>
       <%= table.header(period, colspan: 2) %>
      <% end %>
      <%= table.sub_header(facility? ? 'Users' : region.child_region_type.capitalize, sort_default: true, sort_method: :string) %>

      <% periods.each do %>
        <%= table.sub_header("Patients called") %>
        <%= table.sub_header("Percent") %>
      <% end %>

      <%= table.row do %>
        <tr class="row-title row-total" data-sort-method="none">
          <td class="row-title row-total">
            <%= region.name %>
          </td>

          <% periods.each do |period| %>
            <td class="row-total ta-right">
              <%=total_calls(period)%>
            </td>
            <td class="type-percent" data-sort-column-key="population-coverage" data-toggle="tooltip" title="" data-original-title="<%=patients_called_tooltip(total_calls(period), overdue_patients(region, period))%>">
              <em data-rate="<%=percentage(total_calls(period), overdue_patients(region, period))%>" class="<%= facility? ? "header" : class_names('overdue-high-is-good')  %>">
                <%=percentage_or_dash(total_calls(period), overdue_patients(region, period))%>
              </em>
              <span>of <%=overdue_patients(region, period)%></span>
            </td>
          <% end %>

        </tr>
      <% end %>
        <% children_data.each do |(row, count_by_period)| %>
          <% table.row do %>
            <tr>
              <td class="row-title">
              <%= link_to row.name, reports_region_path(row.region, report_scope: row.region_type) unless facility?%>
              <%= link_to row.full_name, admin_user_path(row, period: @period) if facility?%>
              </td>
              <% periods.each do |period| %>
                <td class="row-total ta-right">
                  <%= count_by_period[period] %>
                </td>
                <td class="type-percent" data-sort-column-key="population-coverage" data-toggle="tooltip" title="" data-original-title="<%=patients_called_tooltip(count_by_period[period], overdue_patients(region, period)) %>">
                  <em data-rate="<%=percentage(count_by_period[period], overdue_patients(region, period))%>" class="<%= class_names('overdue-high-is-good') unless facility? %>">
                    <%=percentage_or_dash(count_by_period[period], overdue_patients(region, period))%>
                  </em>
                  <span><%= facility? ? "" : "of #{overdue_patients(row, period)}" %></span>
                </td>
              <% end %>
            </tr>
         <% end %>
      <% end %>
  <% end %>
</div>
