<!--Implementation Pending - Overdue Patients Graph-->
<div id="overdue-patients-called-trend" class="d-lg-flex w-lg-50 pl-lg-2">
  <%= render Dashboard::Card::GraphComponent.new(id: "overduePatientsCalledTrend", data: graph_data, period: @period) do |c| %>
    <%# <%= c.title(title: "Overdue Patients Called".html_safe)do |title| %>
      <%= c.title(title: "Overdue patients called".html_safe, subtitle: t("overdue_patients_called.reports_card_subtitle")) do |title| %>
        <%= title.tooltip({ "Numerator" => t("overdue_patients_called.numerator"),
                            "Note" => t("overdue_patients_called.numerator_note"),
                            "Denominator" => t("overdue_patients_called.denominator", region_name: @region.name) }) %>
      <%end%>
      <%= c.summary do %>
        <div class="mb-12px d-lg-flex align-lg-center">
          <p class="c-print-black graph-percent fs-28px" data-key="percentageCalled" data-format="percentage"></p>
          <div>
            <p class="m-0px c-black">
              <span data-key="called" data-format="numberWithCommas"></span>
              patients called in
              <span data-key="endDate"></span>
            </p>
            <p class="m-0px c-grey-dark c-print-black">
              of
              <span data-key="overdue" data-format="numberWithCommas"></span>
              patients that are overdue at the start of
              <span data-key="endDate"></span>
            </p>
          </div>
        </div>
        <p style="font-weight: 600; margin-bottom: 2px;">Call outcomes</p>
        <%# <div style="display: flex; grid-gap: 16px; padding: 0 10px;">
        <div>
          <p style="background: rgba(78, 206, 0, 0.15); margin: 0; border-radius: 1000px; padding-right: 10px;"><span style="width: 50px; display: inline-block; text-align: center; padding: 3px 12px;">76%</span> <span>'Agreed to vist'</span></p>
        </div>
        <div>
          <p style="background: rgba(255, 201, 63, 0.20); margin: 0; border-radius: 1000px; padding-right: 10px;"><span style="width: 50px; display: inline-block; text-align: center; padding: 3px 12px;">23%</span> <span>'Remind to call'</span></p>
        </div>
        <div>
          <p style="background: rgba(232, 144, 80, 0.20); margin: 0; border-radius: 1000px; padding-right: 10px;"><span style="width: 50px; display: inline-block; text-align: center; padding: 3px 12px;">3%</span> <span>'Removed from overdue list'</span></p>
        </div>
      </div> %>
        <div style="white-space: nowrap; display: flex; flex-direction: row; grid-gap: 8px;">
          <p style="border-radius: 30px; text-align: center; width: 33%; margin: 0; padding: 2px 8px; overflow: hidden; color: rgba(44, 115, 0, 1); background: rgba(78, 206, 0, 0.15);">
            <span data-key="percentageCalledWithResultAgreedToVisit"></span>%
            'Agreed to visit'
          </p>
          <p style="border-radius: 30px; text-align: center; background: rgba(255, 201, 63, 0.30); margin: 0; white-space: nowrap;  width: 33%; margin: 0; padding: 2px 8px; overflow: hidden;">
            <span data-key="percentageCalledWithResultRemindToCallLater"></span>%
            'Remind to call'</p>
          <p title="28% of 'Removed from overdue list'" style="background: rgba(232, 144, 80, 0.15); border-radius: 30px; margin: 0; text-align: center; white-space: nowrap; overflow: hidden; width: 33%; margin: 0; padding: 2px 16px; overflow: hidden;">
            <span data-key="percentageCalledWithResultRemoveFromOverdueList"></span>%
            'Removed from...'
          </p>
        </div>
        <%# <div style="white-space: nowrap; display: flex; flex-direction: row; grid-gap: 8px;">
        <p style="display: flex; align-items: center; border-radius: 30px; width: 33%; margin: 0; padding: 0; overflow: hidden; color: rgba(44, 115, 0, 1); background: rgba(78, 206, 0, 0.15);">
          <span style=" background: rgba(78, 206, 0, 0.15); margin: 0; width: 42px; text-align: center; padding: 2px 0 2px 5px;">100%</span>
          <span style=" margin-left:6px ;">(10) 'Agreed to visit'</span>
        </p>
        <p style="display: flex; align-items: center; border-radius: 30px; width: 33%; margin: 0; padding: 0; overflow: hidden; color: rgba(140, 101, 0, 1); background: rgba(255, 201, 63, 0.30);">
          <span style=" background: rgba(255, 201, 63, 0.30); margin: 0; width: 42px; text-align: center; padding: 2px 0 2px 5px;">1%</span>
          <span style=" margin-left:6px ;">(1) 'Remind to call'</span>
        </p>
        <p style="display: flex; align-items: center; border-radius: 30px; width: 33%; margin: 0; padding: 0; overflow: hidden; color: rgba(152, 18, 0, 1); background: rgba(232, 144, 80, 0.15);">
          <span style=" background: rgba(232, 144, 80, 0.15); margin: 0; width: 42px; text-align: center; padding: 2px 0 2px 5px;">67%</span>
          <span style=" margin-left:6px ;">(19) 'Removed from...'</span>
        </p>
      </div> %>
      <%end%>
    <% end %>
  </div>
