<div class="card mb-16px mt-0 w-full">
  <%= render Dashboard::Card::TitleComponent.new(
    title: "Overdue patients called",
    subtitle: t("overdue_patients_call_activity.reports_card_subtitle") 
  ) do |c| %>
    <%= c.tooltip({ "Patients called" => t("overdue_patients_call_activity.patients_called"),
                    "Percent called" => "",
                    "Numerator" => t("overdue_patients_call_activity.percent_called_numerator"),
                    "divider" => "",
                    "Denominator" => t("overdue_patients_call_activity.percent_called_denominator", region_name: @region.name)
                  }) %>
  <% end %>
  <%= render Dashboard::Card::TableComponent.new(id: "overdueCalledActivity") do |table| %>
      <% table.column_group do %>
        <colgroup>
          <col>
          <col class="table-divider">
          <col>
          <col class="table-divider">
          <col>
          <col class="table-divider">
        </colgroup>
      <% end %>
      <% periods.each do |period| %>
       <%= table.header(period, colspan: 2) %>
      <% end %>
      <%= table.sub_header(facility? ? 'Users' : region.child_region_type.capitalize, sort_default: true, sort_method: :string) %>

      <% periods.each do %>
        <%= table.sub_header("Patients called") %>
        <%= table.sub_header("Percent") %>
      <% end %>

      <%= table.row do %>
        <tr class="row-title row-total" data-sort-method="none">
          <td class="row-title row-total">
            <%= region.name %>
          </td>

          <% periods.each do |period| %>
            <td class="row-total ta-right">
              <%=total_calls(period)%>
            </td>
            <td class="type-percent" data-sort-column-key="population-coverage" data-sort="30%" data-toggle="tooltip" title="" data-original-title="2,201 / 20,000 patients">
              <em data-rate="30" class="overdue-high-is-good"><%=percentage(total_calls(period), overdue_patients(period))%></em>
              <span>of <%=overdue_patients(period)%></span>
            </td>
          <% end %>

        </tr>
      <% end %>
        <% children_data.each do |(user, period_range)| %>
          <% table.row do %>
            <tr>
              <td class="row-title">
                <%= user[:full_name] %>
              </td>
              <% period_range.each do |(period, calls_made)| %>
                <td class="row-total ta-right">
                  <%= calls_made %>
                </td>
                <td class="type-percent" data-sort-column-key="population-coverage" data-sort="30%" data-toggle="tooltip" title="" data-original-title="2,201 / 20,000 patients">
                  <em data-rate="30" class="<%= class_names('overdue-high-is-good': facility?) %>"><%=percentage(calls_made, total_calls(period))%></em>
                  <span></span>
                </td>
              <% end %>
            </tr>
         <% end %>
      <% end %>
  <% end %>
</div>
