<div class="card w-100pt mt-0 pr-0 pr-md-3 pb-inside-avoid">
  <%= render Dashboard::Card::TitleComponent.new(
    title: 'Overdue patients contacted',
    subtitle: t("call_results_copy.monthly_overdue_calls_made")
  ) %>

  <div class="table-responsive-md">
    <%= render Dashboard::Card::TableComponent.new(id: 'overduePatientsContacted') do |table| %>
      <% table.column_group do %>
        <colgroup>
          <col class="table-first-col">
          <col class="table-divider">
          <col>
          <col>
          <col>
          <col>
          <col>
        </colgroup>
      <% end %>

      <% table.sub_header(region.localized_child_region_type.capitalize) %>
      <% range.each do |period| %>
        <% table.sub_header(period.to_s) %>
      <% end %>

      <% table.row do %>
        <tr class="row-title row-total" data-sort-method="none">
          <td class="row-title row-total">
            <%= region.name %>
          </td>
          <% range.each do |period| %>
            <td class="row-total ta-right">
              <%= number_or_dash_with_delimiter(repository.monthly_overdue_calls[region.slug][period]) %>
            </td>
          <% end %>
        </tr>
      <% end %>

      <% region.reportable_children.filter { |r| repository.earliest_patient_recorded_at[r.slug].present? }.each do |resource| %>
        <% table.row do %>
          <tr>
            <td class="row-title">
              <%= link_to resource.name, reports_region_path(resource.region, report_scope: resource.region_type) %>
            </td>
            <% range.each do |period| %>
              <td class="ta-right">
                <%= number_or_dash_with_delimiter repository.monthly_overdue_calls[resource.slug][period] %>
              </td>
            <% end %>
          </tr>
        <% end %>
      <% end %>
    <% end %>
  </div>
</div>
