<div class="page-header">
  <h1 class="page-title">
    <%= language_names[params[:id]] %>
  </h1>
</div>

<div class="card">
  <div class="row">
    <div class="col-12">
      <p>
        Enter the desired patient reminder message for the <%= language_names[params[:id]] %> language below. This message will be sent
        to patients if they miss their expected follow-up date.
      </p>

      <%= bootstrap_form_with(
            model: @configuration,
            url: admin_patient_reminder_path(params[:id]),
            method: :put,
            local: true) do |f| %>
        <%= f.text_area :value, label: "Reminder message: 160 characters remaining" %>

        <h3>Personalization options</h3>

        <h4>Facility name</h4>
        <p>
          <span class="btn btn-outline"><code>%{facility_name}</code></span>
          <span class="input-group-append">Copy code</span>
        </p>
        <h4>Patient name</h4>
        <p>
          <span class="btn btn-outline"><code>%{patient_name}</code></span>
        </p>
        <h4>Appointment date</h4>
        <p>
          <span class="btn btn-outline"><code>%{appointment_date}</code></span>
        </p>

        <p>If left blank, the default message shown below will be sent to patients.</p>

        <p><i><%= default_message(params[:id])%></i></p>

        <%= f.submit "Save", class: "btn btn-primary" %>
        <%= link_to 'Reset to default', admin_patient_reminder_path(params[:id]), method: :delete, class: "btn btn-danger" %>
      <% end %>
    </div>
  </div>
</div>

<style media="screen">
  .patient_reminder_message_code {

  }
</style>
