<div class="page-header">
  <h1 class="page-title">
    Patient reminders
  </h1>
  <p>
    Manage the SMS reminder messages that are sent to overdue patients. Leave variables like <code>%{facility_name}</code>
    and <code>%{patient_name}</code> exactly formatted as they will be replaced with data when the message is sent.
  </p>
</div>

<% @languages.each do |language| %>
  <div class="card">
    <div class="row">
      <div class="col-8">
        <h3><%= language_names[language] %></h3>
        <p><%= @messages[language] %></p>
      </div>
      <div class="col-4 text-right">
        <% if configured_message(language) %>
          <%= link_to 'Reset to default', admin_patient_reminder_path(language), method: :delete, class: "btn btn-sm btn-outline-danger" %>
        <% end %>
        <%= link_to 'Edit', edit_admin_patient_reminder_path(language), class: "btn btn-sm btn-outline-primary" %>
      </div>
    </div>
    <% if configured_message(language) %>
      <div class="card-footer">
        Default message: <%= default_message(language) %>
      </div>
    <% end %>
  </div>
<% end %>
