<% if current_admin.permissions_v2_enabled? %>
  <div class="row">
    <div class="col-md-6">
      <div class="admin-header">
        <h1>Edit admin</h1>
        <input type="submit" value="Save" class="btn btn-primary" onclick="document.getElementById('form-submit').click()">
      </div>

      <% form_params = {
          url: admin_path(admin),
          method: 'PATCH',
          local: true,
          autocomplete: "off",
          label_errors: true
      } %>

      <%= bootstrap_form_with(form_params) do |form| %>
        <%= form.text_field(
                :full_name,
                {
                    value: admin.full_name,
                    id: :full_name,
                    required: true,
                    autocomplete: "off",
                    label: "Full name *",
                    placeholder: "Full name"
                }
            ) %>

        <%= form.text_field(
                :email,
                {
                    value: admin.email,
                    id: :email,
                    required: true,
                    disabled: true,
                    label: "Email *",
                    placeholder: "Email"
                }
            ) %>

        <%= form.text_field(
                :role,
                {
                    value: admin.role,
                    id: :role,
                    required: true,
                    help: "CVHO, STS, State Official etc.",
                    label: 'Job title *',
                    placeholder: "Job title"
                }
            ) %>

        <%= access_level_select(form, current_admin.permitted_access_levels,
            {
                required: true,
                disabled: !current_admin.modify_access_level?,
                current_access_level: admin.access_level
            }) %>

        <%= form.label "Facility access *" %>
        <div id="facility-access-power-user" class=<%= "hidden" unless admin.power_user? %>>
          Admin has access to all facilities in the system
        </div>

        <div id="facility-access" class=<%= "hidden" if admin.power_user? %>>
          <div class="card access-tree">
            <div id="select-all-facilities" hidden="hidden">
              <%= form.check_box :select_all_facilities, id: "select-all-facilities-input" %>
              <div class="counter" id="total-selected-facilities"></div>
            </div>

            <%= render_async(access_tree_admin_path(admin, :edit), error_message: access_tree_load_error) do %>
              <div class="spinner-wrapper">
                <div class="spinner spinner-border text-primary" role="status">
                  <span class="sr-only">Loading...</span>
                </div>
              </div>
            <% end %>
          </div>
        </div>

        <%= form.submit "Send Invite", class: "btn btn-primary", id: "form-submit", hidden: :hidden %>
      <% end %>
    </div>
  </div>

  <script>
    new AdminAccessEdit("facility-access").initialize()
  </script>
<% else %>
  <%= javascript_include_tag "standalone/react_components" %>
  <% user_permissions = current_admin.user_permissions.pluck(:permission_slug) %>
  <%= react_component "InviteAdminForm",
      admin: admin,
      email: admin.email,
      selected_permissions: admin.user_permissions.map { |permission| Permissions::ALL_PERMISSIONS[permission.permission_slug.to_sym] }.uniq,
      selected_facility_groups: admin.user_permissions.where(resource_type: 'FacilityGroup').map { |permission| {resource_id: permission.resource.id, resource_type: permission.resource_type, resource_name: permission.resource.name} if permission.resource.present? }.compact.uniq,
      organizations: policy_scope([:manage, :admin, Organization.all]),
      facility_groups: policy_scope([:manage, :admin, FacilityGroup.all]),
      facilities: policy_scope([:manage, :admin, Facility.all]),
      permissions: policy([:manage, :admin, User]).allowed_permissions,
      access_levels: policy([:manage, :admin, User]).allowed_access_levels,
      submit_route: admin_path(admin),
      allow_email_edit: false,
      submit_text: 'Update Admin',
      submit_method: 'PATCH' %>
<% end %>

