<div class="page-header">
  <h1 class="page-title">Admins</h1>
  <nav class="page-nav">
    <% if FeatureToggle.enabled?("INVITE_ADMINS") %>
      <div class="dropdown">
        <%= link_to "Add new Admin",
                    new_email_authentication_invitation_path,
                    class: "btn btn-sm btn-primary" %>
      </div>
    <% end %>
  </nav>
</div>

<% @admins.each do |admin| %>
  <div class="card" title="<%= admin.email %>">
    <div class="row">
      <div class="col col-md-6">
        <h5>
          <%= link_to admin.email, admin_path(admin) %>
        </h5>
        <div class="mt-2"><i class="fas fa-shield-alt light mr-2"></i> <%= admin.role %></div>
      </div>
      <div class="col-md-6 text-right">
        <% if admin.invited_to_sign_up? %>
          <span class="badge badge-success badge-pill mr-4 mt-1" style="font-size: 90%; font-weight: normal;">Invite sent</span>
        <% end %>
        <% if FeatureToggle.enabled?("INVITE_ADMINS") %>
          <% if policy([:manage, :admin, admin]).edit? %>
            <%= link_to 'Edit', edit_admin_path(admin), class: "btn btn-sm btn-outline-primary" %>
          <% end %>
        <% end %>
        <% if policy([:manage, :admin, admin]).destroy? %>
          <%= link_to '<i class="fas fa-trash-alt"></i>'.html_safe, admin_path(admin), method: :delete, data: { confirm: "Are you sure you want to delete #{admin.email}?" }, class: "btn btn-sm btn-outline-danger" %>
        <% end %>
      </div>
    </div>
  </div>
<% end %>
