<div class="top-buttons">
  <% if policy(:invitation).invite_owner? %>
    <%= link_to 'Invite Owner', new_admin_invitation_path(role: 'owner'), class: "btn btn-sm btn-primary" %>
  <% end %>
  <% if policy(:invitation).invite_organization_owner? %>
    <%= link_to 'Invite Organization Owner', new_admin_invitation_path(role: 'organization_owner'), class: "btn btn-sm btn-primary" %>
  <% end %>
  <% if policy(:invitation).invite_supervisor? %>
    <%= link_to 'Invite Supervisor', new_admin_invitation_path(role: 'supervisor'), class: "btn btn-sm btn-primary" %>
  <% end %>
  <% if policy(:invitation).invite_analyst? %>
    <%= link_to 'Invite Analyst', new_admin_invitation_path(role: 'analyst'), class: "btn btn-sm btn-primary" %>
  <% end %>
  <% if policy(:invitation).invite_healthcare_counsellor? %>
    <%= link_to 'Invite Healthcare Counsellor', new_admin_invitation_path(role: 'healthcare_counsellor'), class: "btn btn-sm btn-primary" %>
  <% end %>
</div>

<h1>Admins</h1>
<div class="table-responsive">
  <table class="table">
    <thead class="thead-light">
    <tr>
      <th>Email</th>
      <th>Role</th>
      <th colspan="3"></th>
    </tr>
    </thead>

    <tbody>
    <% @admins.each do |admin| %>
      <tr>
        <td><%= link_to admin.email, admin %></td>
        <td><%= admin.role.humanize %></td>
        <td>
          <% if admin.invited_to_sign_up? %>
            Invitation sent
          <% end %>
        </td>
        <% if policy(admin).edit? %>
          <td><%= link_to 'Edit', edit_admin_path(admin) %></td>
        <% end %>
        <% if policy(admin).destroy? %>
          <td><%= link_to 'Delete', admin, method: :delete, data: { confirm: "Are you sure you want to delete #{admin.email}?" } %></td>
        <% end %>
      </tr>
    <% end %>
    </tbody>
  </table>
</div>
