<div class="page-header">
  <h1 class="page-title">Admins</h1>
  <nav class="page-nav">
    <div class="dropdown">
      <%= link_to "Invite admin",
          new_email_authentication_invitation_path,
          class: "btn btn-sm btn-primary" %>
    </div>
  </nav>
</div>
<%= render 'shared/search_form', path: admins_path, placeholder: 'Search by name or email...' %>
<% if @admins.exists? %>
  <% if searching? %>
    <span><%= search_entries_info(@admins) %></span>
  <% end %>

  <div class="admin-list mb-5">
    <% @admins.sort_by(&:email).each do |admin| %>
      <% admin = AdminAccessPresenter.new(admin) %>
      <div class="admin-list-item">
        <div class="wrap-auto">
          <h5 class="title">
            <%= link_to admin.full_name, admin_path(admin) %>,
            <span class="role"><%= admin.role %></span>
            <% if admin.invited_to_sign_up? %>
              <span class="badge badge-success badge-pill mr-4 mt-1" style="font-size: 85%; font-weight: normal;">Invite sent</span>
            <% end %>
          </h5>
          <span class="access"><%= admin.display_access_level.name %> &nbsp;&centerdot;&nbsp; <%= admin.email %></span>
        </div>

        <div class="text-right">
          <% if admin.invited_to_sign_up? %>
            <%= link_to "Resend invite", resend_invitation_admin_path(admin), class: 'btn btn-sm btn-outline-primary', method: :post %>
          <% end %>
        </div>
      </div>

    <% end %>
  </div>
<% else %>
  <%= render "shared/no_search_results", message: "No results for '#{content_tag(:strong, search_query)}'" %>
<% end %>

<%= paginate @admins %>
