<p id="notice"><%= notice %></p>

<h1>Admins</h1>

<table class="table">
  <thead class="thead-light">
    <tr>
      <th>Email</th>
      <th>Role</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @facilities.each do |admin| %>
      <tr>
        <td><%= link_to admin.email, admin %></td>
        <td><%= admin.role.titleize %></td>
        <% if policy(admin).edit? %>
          <td><%= link_to 'Edit', edit_admin_path(admin) %></td>
        <% end %>
        <% if policy(admin).destroy? %>
          <td><%= link_to 'Delete', admin, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<% if policy(Admin).new? %>
  <%= link_to 'Invite Admin', new_admin_invitation_path, class: "btn btn-primary" %>
<% end %>
