<% admin = AdminAccessPresenter.new(@admin) %>

<div class="page-header">
  <nav class="breadcrumb mt-n3 mt-md-0">
    <%= link_to "Admins", admins_path, class: "#{active_controller?("email_authentications")}" %>
    <i class="fas fa-chevron-right"></i> <%= admin.full_name %>
  </nav>
</div>

<div class="row mt-2">
  <div class="col-md-5">
    <h1 class="page-title"><%= admin.full_name %></h1>
    <p class="mb-16px">
      <span class="user-role"><%= admin.role %> • </span>
      <a class="user-email" href="mailto:<%= admin.email %>"><%= admin.email %></a>
    </p>
  </div>
  <div class="col-md-7" style="text-align:right;">
    <%= link_to 'Edit admin', edit_admin_path(admin), class: "btn btn-sm btn-primary" %>
  </div>
</div>

<div class="card show-admin-info">
  <div class="">
    <h3 class="card-title"><%= admin.display_access_level.name %></h3>
    <h6 class="card-subtitle mb-1 text-muted"><%= admin.display_access_level.description %></h6>
  </div>
</div>

<div id="facility-access" data-page="show">
  <div class="card show">
    <h3 class="card-title">Facility access</h3>
    <div class="access-tree__section-header">
      
    </div>

    <%= render_async(access_tree_admin_path(admin, :show), error_message: access_tree_load_error) do %>
      <div class="spinner-wrapper">
        <div class="spinner spinner-border text-primary" role="status">
          <span class="sr-only">Loading...</span>
        </div>
      </div>
    <% end %>
  </div>
</div>

<script>
  new AdminAccess("facility-access").initialize()
</script>
