<div class="page-header">
  <nav class="breadcrumb">
    <% if policy([:manage, :admin, User]).index? %><%= link_to "Admins", admins_path, class: "#{active_controller?("email_authentications")}" %>
    <% end %> <i class="fas fa-chevron-right"></i> <%= @admin.full_name %>
  </nav>
</div>

<% if Flipper.enabled?(:new_permissions_system_aug_2020, current_admin) %>
  <div class="row mb-3">
    <div class="col-md-8">
      <h2><%= @admin.full_name %></h2>
      <span><%= @admin.role %> • <a href="mailto:first.last@example.com"><%= @admin.email %></a></span>
    </div>
    <div class="col-md-4" style="text-align:right;">
      <% if policy([:manage, :admin, @admin]).edit? %>
        <%= link_to 'Edit admin', edit_admin_path(@admin), class: "btn btn-sm btn-primary" %>
      <% end %>
    </div>
  </div>

  <div class="card">
    <div class="card-body">
      <h3 class="card-title"><%= @admin.display_access_level.name %></h3>
      <h6 class="card-subtitle mb-2 text-muted"><%= @admin.display_access_level.description %></h6>
    </div>
  </div>

  <div id="facility-access">
    <div class="card access-tree">
      <% access_tree = @admin.visible_access_tree %>
      <%= render access_tree[:render_partial],
          tree: access_tree[:data],
          user_being_edited: nil,
          tree_depth: 0,
          page: :show,
          form: nil %>
    </div>
  </div>
<% else %>
  <div class="card">
    <div class="row mb-3">
      <div class="col-md-8">
        <h2><%= @admin.full_name %></h2>
      </div>
      <div class="col-md-4" style="text-align:right;">
        <% if policy([:manage, :admin, @admin]).edit? %>
          <%= link_to 'Edit admin', edit_admin_path(@admin), class: "btn btn-sm btn-primary" %>
        <% end %>
      </div>
    </div>
    <p><strong>Email:</strong> <%= mail_to @admin.email %></p>
    <p><strong>Role:</strong> <%= @admin.role %></p>
    <p><strong>Permissions:</strong></p>
    <ul>
      <% @admin.user_permissions.group_by(&:permission_slug).each do |permission_slug, user_permissions| %>
        <li><%= permission_slug.titleize %></li>
        <ul>
          <% user_permissions.each do |user_permission| %>
            <% if user_permission.resource.present? %>
              <li><%= link_to user_permission.resource.name, [:admin, user_permission.resource] %></li>
            <% end %>
          <% end %>
        </ul>
      <% end %>
    </ul>
  </div>
<% end %>
