<div class="page-header">
  <h1 class="page-title">
    <% if policy(User).index? %>
      <%= link_to "Admins", admins_path, class: "#{active_controller?("email_authentications")}" %>
      <i class="fas fa-angle-right light"></i>
    <% end %>

    Admin
  </h1>
  <nav class="page-nav">
    <% if policy(@admin).edit? %>
      <%= link_to 'Edit admin', edit_admin_path(@admin), class: "btn btn-sm btn-primary" %>
    <% end %>
  </nav>
</div>

<div class="card">
  <h2>
    <%= @admin.full_name %>
  </h2>
  <div class="card-row">
    <h5><i class="fas fa-envelope"></i> Email: <%= mail_to @admin.email %></h5>
    <h5><i class="fas fa-shield-alt"></i> Role: <%= @admin.role.humanize %></h5>
    <h5><i class="fas fa-lock"></i> Permissions:</h5>
    <ul>
      <% @admin.user_permissions.group_by(&:permission_slug).each do |permission_slug, user_permissions| %>
        <li><%= permission_slug.titleize %></li>
        <ul>
          <% user_permissions.each do |user_permission| %>
            <% if user_permission.resource.present? %>
              <li><%= link_to user_permission.resource.name, [:admin, user_permission.resource] %></li>
            <% end %>
          <% end %>
        </ul>
      <% end %>
    </ul>
  </div>
</div>