<div id="cumulative-diabetes-registrations-trend" class="d-lg-flex w-lg-50 pl-lg-2">
  <%= render Dashboard::Card::GraphComponent.new(id: "cumulativeDiabetesRegistrationsTrend", data: graph_data, period: period) do |c| %>
    <%= c.title(title: "Registrations and follow-ups", subtitle:t("registered_diabetes_patients_copy.reports_card_subtitle", region_name: region.name)) do |title| %>
      <%= title.tooltip({ "Total registered patients" => t("registered_diabetes_patients_copy.total_registered_patients", region_name: region.name),
                      "Monthly registered patients" => t("registered_diabetes_patients_copy.monthly_registered_patients", region_name: region.name),
                      "Monthly follow-up patients" => t("registered_diabetes_patients_copy.monthly_followup_patients", region_name: region.name) }) %>
    <% end %>

    <%= c.summary do %>
      <div class="d-flex align-center mb-24px">
        <div class="flex-1 d-lg-flex align-lg-center">
          <p class="c-print-black c-purple graph-percent fs-24px" data-key="cumulativeDiabetesRegistrations" data-format="numberWithCommas"></p>
          <div>
            <p class="m-0px c-black c-print-black fs-14px">
              total registrations<br>till
              <span data-key="endDate"></span>
            </p>
          </div>
        </div>
        <div class="flex-1 d-lg-flex align-lg-center flex-lg-1">
          <p class="c-print-black c-purple-medium graph-percent fs-24px" data-key="monthlyDiabetesRegistrations" data-format="numberWithCommas"></p>
          <div>
            <p class="m-0px c-black c-print-black fs-14px">
              new registrations<br>in
              <span data-key="periodName"></span>
            </p>
          </div>
        </div>
        <div class="flex-1 d-lg-flex align-lg-center flex-lg-1">
          <p class="c-print-black c-teal graph-percent fs-24px" data-key="monthlyDiabetesFollowups" data-format="numberWithCommas"></p>
          <div>
            <p class="m-0px c-black c-print-black fs-14px">
              follow-up patients<br>in
              <span data-key="periodName"></span>
            </p>
          </div>
        </div>
      </div>
    <% end %>

    <%= c.footer do %>
      <div class="p-relative px-20px mb-12px">
        <p class="m-0px c-grey-dark c-print-black">
          <strong data-key="cumulativeDiabetesOnlyRegistrations" data-format="numberWithCommas"></strong> DM-only,
          <strong class="ml-8px" data-key="cumulativeHypertensionAndDiabetesRegistrations" data-format="numberWithCommas"></strong> DM+HTN
        </p>
      </div>
    <% end %>
  <% end %>
</div>
