<% if @users_requesting_approval.any? %>
  <h4><%= pluralize(@users_requesting_approval.count || 0, "user") %> waiting for access</h4>

  <% @users_requesting_approval.each do |user| %>
    <div class="card">
      <div class="card-body">
        <div class="row">
          <div class="col-lg-3">
            <%= link_to user.full_name, [:admin, user] %>
            <br>
            <small><%= user.sync_approval_status_reason %></small>
          </div>
          <div class="col">
            <div class="row">
              <div class="col">
                <div class="card-cell-header">Phone:</div>
                <a href="tel:<%= user.phone_number %>"><%= user.phone_number %></a><br>
              </div>
              <div class="col">
                <div class="card-cell-header">Facility:</div>
                <%= user.registered_at_facility.present? ? link_to(user.registered_at_facility.name, [:admin, user.registered_at_facility]) : "N/A" %><br>
              </div>
            </div>
          </div>
          <div class="col-lg-4">
            <%= link_to "Allow access", admin_user_enable_access_path(user), method: :put, class: "btn btn-sm btn-success", data: { confirm: I18n.t('admin.enable_access_alert') } %>
            <%= link_to 'Deny access', '#deny-access-modal-' + user.id, 'data-toggle' => 'modal', class: "btn btn-sm btn-outline-danger" %>

            <%= render partial: "admin/users/deny_access_modal", locals: {user: user} %>
          </div>
        </div>
      </div>
    </div>
  <% end %>
<% end %>

<hr>

<h3>Patients registered</h3>
<table class="table">
  <thead class="thead-light">
    <tr>
      <th>Facility name</th>
      <th>Control rate</th>
      <th>Last 30 days</th>
      <th>Total</th>
    </tr>
  </thead>
  <tbody>
    <% @facilities.each do |facility| %>
      <tr>
        <td><%= facility.name %></td>
        <td><%= number_to_percentage(@control_rate_per_facility[facility.id], precision: 1) || 'N/A' %></td>
        <td><%= @patients_per_facility_30days[facility.id] || 0 %></td>
        <td><%= @patients_per_facility_total[facility.id] || 0 %></td>
      </tr>
    <% end %>
  </tbody>
</table>
