<% if policy(User).enable_access? && @users_requesting_approval.any? %>
  <h4><%= pluralize(@users_requesting_approval.count || 0, "user") %> waiting for access</h4>

  <% @users_requesting_approval.each do |user| %>
    <div class="card">
      <div class="card-body">
        <div class="row">
          <div class="col-lg-3">
            <%= link_to user.full_name, [:admin, user] %>
            <br>
            <small><%= user.sync_approval_status_reason %></small>
          </div>
          <div class="col">
            <div class="row">
              <div class="col">
                <div class="card-cell-header">Phone:</div>
                <a href="tel:<%= user.phone_number %>"><%= user.phone_number %></a><br>
              </div>
              <div class="col">
                <div class="card-cell-header">Facility:</div>
                <%= user.registered_at_facility.present? ? link_to(user.registered_at_facility.name, [:admin, user.registered_at_facility]) : "N/A" %><br>
              </div>
            </div>
          </div>
          <div class="col-lg-4 text-lg-right">
            <%= link_to "Allow access", admin_user_enable_access_path(user), method: :put, class: "btn btn-sm btn-success", data: { confirm: I18n.t('admin.enable_access_alert') } %>
            <%= link_to 'Deny access', '#deny-access-modal-' + user.id, 'data-toggle' => 'modal', class: "btn btn-sm btn-outline-danger" %>

            <%= render partial: "admin/users/deny_access_modal", locals: { user: user } %>
          </div>
        </div>
      </div>
    </div>
  <% end %>

  <hr>
<% end %>

<h3>Recent BPs recorded</h3>
<div class="table-responsive">
  <table class="table table-sm">
    <thead class="thead-light">
      <tr>
        <th>Facility &amp; Users</th>
        <th class="text-center">Total BPs</th>
        <% @days_previous.downto(0).map { |since| since.days.ago }.each do |day| %>
          <th class="text-center <%= "holiday" if day.sunday? %>">
            <small><strong><%= day.strftime("%b") %><br><%= day.strftime("%d") %></strong></small>
          </th>
        <% end %>
      </tr>
    </thead>
    <tbody>
      <% @facilities.sort_by(&:name).each do |facility| %>
        <% next if @bps_by_facility.fetch(facility.id, 0)  == 0 %>

        <tr class="table-info table-row-small">
          <td><strong><%= facility.name %></strong></td>
          <td class="text-center"><%= lighten_if_zero(@bps_by_facility[facility.id] || 0) %></td>
          <% @days_previous.downto(0).map { |since| since.days.ago }.each do |day| %>
            <td class="text-center <%= "holiday" if day.sunday? %>"></td>
          <% end %>
        </tr>

        <% facility.users.sort_by(&:full_name).each do |user| %>
          <tr class="table-row-small">
            <td class="pl-lg-4"><%= user.full_name %></td>
            <td class="text-center">
              <%= lighten_if_zero(@bps_by_facility_user[[facility.id, user.id]] || 0) %>
            </td>
            <% @days_previous.downto(0).map { |since| since.days.ago }.each do |day| %>
              <td class="text-center <%= "holiday" if day.sunday? %>">
                <%= lighten_if_zero(@bps_by_facility_user_day[[facility.id, user.id, day.in_time_zone("New Delhi").to_date]] || 0) %>
              </td>
            <% end %>
          </tr>
        <% end %>
      <% end %>
    </tbody>
  </table>
</div>

<hr>

<h3>Control rates and new patients registered</h3>
<div class="table-responsive">
  <table class="table table-sm">
    <thead class="thead-light">
      <tr>
        <th>Facility</th>
        <th class="text-center">Control rate</th>
        <th class="text-center">All-time<br>total</th>
        <% @months_previous.downto(0).each do |since| %>
          <th class="text-center">
            <%= since.months.ago.in_time_zone("New Delhi").strftime("%b") %><br>
            <%= since.months.ago.in_time_zone("New Delhi").strftime("%Y") %>
          </th>
        <% end %>
      </tr>
    </thead>
    <tbody>
      <% @facilities.sort_by(&:name).each do |facility| %>
        <% next if @bps_by_facility.fetch(facility.id, 0) == 0 %>

        <tr class="table-light">
          <td><%= facility.name %></td>
          <td class="text-center"><%= number_to_percentage((@control_rate_by_facility[facility.id] || 0) * 100, precision: 1) || 'N/A' %></td>
          <td class="text-center"><%= lighten_if_zero(@new_patients_by_facility[facility.id] || 0) %></td>
          <% @months_previous.downto(0).each do |since| %>
            <td class="text-center">
              <%= lighten_if_zero(@new_patients_by_facility_month[[facility.id, since.months.ago.in_time_zone("New Delhi").beginning_of_month.to_date]] || 0) %>
            </td>
          <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<h3>Unique patients seen</h3>
<div class="table-responsive">
  <table class="table table-sm">
    <thead class="thead-light">
      <tr>
        <th>Facility</th>
        <% @months_previous.downto(0).each do |since| %>
          <th class="text-center">
            <%= since.months.ago.in_time_zone("New Delhi").strftime("%b") %><br>
            <%= since.months.ago.in_time_zone("New Delhi").strftime("%Y") %>
          </th>
        <% end %>
      </tr>
    </thead>
    <tbody>
      <% @facilities.sort_by(&:name).each do |facility| %>
        <% next if @bps_by_facility.fetch(facility.id, 0) == 0 %>

        <tr class="table-light">
          <td><%= facility.name %></td>
          <% @months_previous.downto(0).each do |since| %>
            <td class="text-center">
              <%= lighten_if_zero(@visits_by_facility_month[[facility.id, since.months.ago.in_time_zone("New Delhi").beginning_of_month.to_date]] || 0) %>
            </td>
          <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<p class="text-muted"><small>Note: All times are in India Standard Time</small><p>
