<% if @users_requesting_approval.any? %>
  <h3><%= pluralize(@users_requesting_approval.count || 0, "user") %> waiting for access</h3>

  <% @users_requesting_approval.each do |user| %>
    <% if policy(user).enable_access? %>
      <div class="card">
        <div class="card-body">
          <div class="row">
            <div class="col-lg-3">

              <strong><%= link_to user.full_name, [:admin, user] %></strong>
              <% if user.sync_approval_status_reason.present? %>
                (
                <small><%= user.sync_approval_status_reason %></small>
                )
              <% end %>

            </div>
            <div class="col">
              <div class="row tight">
                <div class="col">

                  <small>Ph: <a href="tel:<%= user.phone_number %>"><%= user.phone_number %></a></small>
                </div>
                <div class="col tight">
                  <small>
                    <%= user.registered_at_facility.present? ? link_to(user.registered_at_facility.name, [:admin, user.registered_at_facility]) : "N/A" %>
                  </small>
                </div>
              </div>
            </div>
            <div class="col-lg-4 text-lg-right">
              <%= link_to "Allow access", admin_user_enable_access_path(user), method: :put, class: "btn btn-sm btn-success", data: { confirm: I18n.t('admin.enable_access_alert') } %>
              <%= link_to 'Deny access', '#deny-access-modal-' + user.id, 'data-toggle' => 'modal', class: "btn btn-sm btn-outline-danger" %>

              <%= render partial: "admin/users/deny_access_modal", locals: { user: user } %>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  <% end %>

<% end %>

<br/>

<div id="statistics">
  <h1>Statistics</h1>

  <div class="input-group mb-3">
    <div class="input-group-prepend">
      <label class="input-group-text" for="organization-select">Select Organization</label>
    </div>
    <select class="custom-select" id="organization-select">
      <option selected>Choose...</option>
      <% @organizations.each do |organization| %>
        <option data-toggle="collapse"
                data-target="#organization-facility-groups-<%= organization.id %>">
          <%= organization.name %>
        </option>
      <% end %>
    </select>
  </div>

  <div class="accordion-group">
    <% @organizations.each do |organization| %>
      <div class="input-group mb-3 collapse"
           id="organization-facility-groups-<%= organization.id %>"
           data-parent="#statistics">
        <div class="input-group-prepend">
          <label class="input-group-text" for="facility-group-select-<% organization.id %>">Select Facility Group</label>
        </div>
        <%= select_tag "facility_group_id",
                       options_from_collection_for_select(organization.facility_groups, "id", "name"),
                       prompt: "Choose #{organization.name} facility group",
                       class: "custom-select organization-facility-groups",
                       id: "facility-group-select-#{organization.id}",
                       data: { remote: true,
                               url: admin_facility_group_analytics_path } %>
      </div>
    <% end %>
  </div>
</div>

<div class="facility-group-statistics-spinner invisible d-flex justify-content-center">
  <div class="spinner-border" style="width: 3rem; height: 3rem;" role="status">
    <span class="sr-only">Loading...</span>
  </div>
</div>

<div id="facility_group_analytics"></div>