<div class="sub-nav">
    <a href="#" class="sub-nav-link sub-nav-link-active">Last 90 days</a>
    <a href="#" class="sub-nav-link">Nov Report</a>
    <a href="#" class="sub-nav-link">Q3 Report</a>
    <a href="#" class="sub-nav-link">&#8226;&#8226;&#8226;</a>
</div>

<!--******************************************************************************
District Dashboard
******************************************************************************-->

<div class="dashboard">
    
    <h1>Brooklyn &amp; Queens</h1>
    <p class="dashboard-description">#2 of 19 reporting districts in New York State. State BP control average is 25% from reporting facilities.</p>
    
    <div class="featured">
        <table class="featured-table">
        <tr>
        <td class="featured-td">
            <div class="featured-section">
                <strong class="featured-title" style="color: #007A31;">Enrolled</strong>
                <span class="featured-number text-green">+1,345</span>
                <span class="featured-label">New patients</span>
                
                <strong class="featured-title" style="color: #007A31;">Follow-ups</strong>
                <span class="featured-number  text-green">12,456</span>
            </div>
        </td>
        <td class="featured-td featured-middle">
            <div class="featured-section">
                <strong class="featured-title" style="color: #E0B000;">Didn't attend</strong>
                <span class="featured-number text-yellow">10,321</span>
                <span class="featured-label">Patients</span>

                <div class="featured-graph">
                    <table>
                        <tr>
                            <td>
                                <div class="featured-graph-column featured-graph-column-yellow" style="height: 27.5px; margin-top: 22.5px;">55%</div>
                                <span class="featured-month">Sep</span>
                            </td>
                            <td>
                                <div class="featured-graph-column featured-graph-column-yellow" style="height: 32.5px; margin-top: 17.5px;">65%</div>
                                <span class="featured-month">Oct</span>
                            </td>
                            <td>
                                <div class="featured-graph-column featured-graph-column-yellow" style="height: 25.5px; margin-top: 24.5px;">51%</div>
                                <span class="featured-month">Nov</span></td>
                            <td>
                                <div class="featured-graph-column featured-graph-column-yellow" style="height: 21px; margin-top: 29px;">42%</div>
                                <span class="featured-month">Dec</span>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </td>
        <td class="featured-td">
            <div class="featured-section">
                <strong class="featured-title">BP control</strong>
                <span class="featured-number">30%</span>
                <span class="featured-label">Goal: 45%</span>

                <div class="featured-graph">
                    <table>
                        <tr>
                            <td>
                                <div class="featured-graph-column" style="height: 25px; margin-top: 25px;">25%</div>
                                <span class="featured-month">Sep</span>
                            </td>
                            <td>
                                <div class="featured-graph-column" style="height: 26px; margin-top: 24px;">26%</div>
                                <span class="featured-month">Oct</span>
                            </td>
                            <td>
                                <div class="featured-graph-column" style="height: 28px; margin-top: 22px;">28%</div>
                                <span class="featured-month">Nov</span>
                            </td>
                            <td>
                                <div class="featured-graph-column" style="height: 30px; margin-top: 20px;">30%</div>
                                <span class="featured-month">Dec</span>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </td>
        </tr>
        </table>
        
    </div>
</div>


<section class="table-compact">

<div class="table-responsive">
  <table>
    <thead>
        <tr>
            <th colspan="2"><h4>Hospitals &amp; Clinics</h4></th>
            <th class="row-label">Enrolled<br>patients</th>
            <th class="row-label">Didn't<br>attend</th>
            <th class="row-label">Calls<br>made</th>
            <th class="row-label">BP<br>control</th>
            <th class="row-spacer">&nbsp;</th>
            <th class="row-label">Unique<br>patients</th>
            
            <th class="row-label row-month"><div>Week of</div>Sep 23</th>
            <th class="row-label"><div>Week of</div>Sep 30</th>
            <th class="row-label"><div>Week of</div>Oct 7</th>
            <th class="row-label"><div>Week of</div>Oct 14</th>
            
            <th class="row-label row-month"><div>Week of</div>Oct 21</th>
            <th class="row-label"><div>Week of</div>Oct 28</th>
            <th class="row-label"><div>Week of</div>Nov 4</th>
            <th class="row-label"><div>Week of</div>Nov 11</th>
            
            <th class="row-label row-month"><div>Week of</div>Nov 18</th>
            <th class="row-label"><div>Week of</div>Nov 25</th>
            <th class="row-label"><div>Week of</div>Dec 2</th>
            <th class="row-label">This<br>week</th>
            
            <th>&nbsp;</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td class="row-rank">1</td>
            <td class="row-title"><a href="#">CHC Brooklyn Bridge</a><span><b>4567</b> enrolled all time</span></td>
            <td class="row-enrolled text-green">+98</td>
            <td class="row-default text-yellow">1321</td>
            <td class="row-calls text-yellow">5</td>
            <td class="row-control">65%</td>
            <td class="row-spacer">&nbsp;</td>
            <td class="row-unique-date">241</td>
            
            <td class="row-unique-date row-month">12</td>
            <td class="row-unique-date">19</td>
            <td class="row-unique-date">21</td>
            <td class="row-unique-date">11</td>
            
            <td class="row-unique-date row-month">12</td>
            <td class="row-unique-date">19</td>
            <td class="row-unique-date">21</td>
            <td class="row-unique-date">11</td>
            
            <td class="row-unique-date row-month">12</td>
            <td class="row-unique-date">19</td>
            <td class="row-unique-date">21</td>
            <td class="row-unique-date">11</td>
            
            <td>&nbsp;</td>
        </tr>
        <tr>
            <td class="row-rank">2</td>
            <td class="row-title"><a href="#">PHC Coney</a><span><b>165</b> enrolled all time</span></td>
            <td class="row-enrolled text-green">+37</td>
            <td class="row-default text-yellow">43</td>
            <td class="row-calls text-yellow">2</td>
            <td class="row-control">58%</td>
            <td class="row-spacer">&nbsp;</td>
            <td class="row-unique-date">121</td>
            
            <td class="row-unique-date row-month"><span class="null">0</span></td>
            <td class="row-unique-date">19</td>
            <td class="row-unique-date"><span class="null">0</span></td>
            <td class="row-unique-date">11</td>
            
            <td class="row-unique-date row-month">12</td>
            <td class="row-unique-date">19</td>
            <td class="row-unique-date"><span class="null">0</span></td>
            <td class="row-unique-date"><span class="null">0</span></td>
            
            <td class="row-unique-date row-month">12</td>
            <td class="row-unique-date"><span class="null">0</span></td>
            <td class="row-unique-date">21</td>
            <td class="row-unique-date">11</td>
            
            <td>&nbsp;</td>
        </tr>
        <tr>
            <td class="row-rank">3</td>
            <td class="row-title"><a href="#">CHC Prospect Heights</a><span><b>890</b> enrolled all time</span></td>
            <td class="row-enrolled text-green">+16</td>
            <td class="row-default text-yellow">140</td>
            <td class="row-calls text-yellow"><span class="null">0</span></td>
            <td class="row-control">52%</td>
            <td class="row-spacer">&nbsp;</td>
            <td class="row-unique-date">423</td>
            
            <td class="row-unique-date row-month"><span class="null">0</span></td>
            <td class="row-unique-date">19</td>
            <td class="row-unique-date"><span class="null">0</span></td>
            <td class="row-unique-date">11</td>
            
            <td class="row-unique-date row-month">12</td>
            <td class="row-unique-date">19</td>
            <td class="row-unique-date"><span class="null">0</span></td>
            <td class="row-unique-date"><span class="null">0</span></td>
            
            <td class="row-unique-date row-month">12</td>
            <td class="row-unique-date"><span class="null">0</span></td>
            <td class="row-unique-date">21</td>
            <td class="row-unique-date">11</td>
            
            <td>&nbsp;</td>
        </tr>
        <tr>
            <td class="row-rank">4</td>
            <td class="row-title"><a href="#">District Hospital Brooklyn Downtown</a><span><b>5723</b> enrolled all time</span></td>
            <td class="row-enrolled text-green">+321</td>
            <td class="row-default text-yellow">1234</td>
            <td class="row-calls text-yellow"><span class="null">0</span></td>
            <td class="row-control">50%</td>
            <td class="row-spacer">&nbsp;</td>
            <td class="row-unique-date">1232</td>
            
            <td class="row-unique-date row-month"><span class="null">0</span></td>
            <td class="row-unique-date">19</td>
            <td class="row-unique-date"><span class="null">0</span></td>
            <td class="row-unique-date">11</td>
            
            <td class="row-unique-date row-month">12</td>
            <td class="row-unique-date">19</td>
            <td class="row-unique-date"><span class="null">0</span></td>
            <td class="row-unique-date"><span class="null">0</span></td>
            
            <td class="row-unique-date row-month">12</td>
            <td class="row-unique-date"><span class="null">0</span></td>
            <td class="row-unique-date">21</td>
            <td class="row-unique-date">11</td>
            
            <td>&nbsp;</td>
        </tr>
        <tr>
            <td class="row-rank">5</td>
            <td class="row-title"><a href="#">PHC Bedford-Stuyvesant</a><span><b>4567</b> enrolled all time</span></td>
            <td class="row-enrolled text-green">+98</td>
            <td class="row-default text-yellow">1321</td>
            <td class="row-calls text-yellow"><span class="null">0</span></td>
            <td class="row-control">65%</td>
            <td class="row-spacer">&nbsp;</td>
            <td class="row-unique-date">241</td>
            
            <td class="row-unique-date row-month"><span class="null">0</span></td>
            <td class="row-unique-date">19</td>
            <td class="row-unique-date"><span class="null">0</span></td>
            <td class="row-unique-date">11</td>
            
            <td class="row-unique-date row-month">12</td>
            <td class="row-unique-date">19</td>
            <td class="row-unique-date"><span class="null">0</span></td>
            <td class="row-unique-date"><span class="null">0</span></td>
            
            <td class="row-unique-date row-month">12</td>
            <td class="row-unique-date"><span class="null">0</span></td>
            <td class="row-unique-date">21</td>
            <td class="row-unique-date">11</td>
            
            <td>&nbsp;</td>
        </tr>
        <tr>
            <td class="row-rank">6</td>
            <td class="row-title"><a href="#">PHC Hoyt</a><span><b>165</b> enrolled all time</span></td>
            <td class="row-enrolled text-green">+37</td>
            <td class="row-default text-yellow">43</td>
            <td class="row-calls text-yellow">2</td>
            <td class="row-control">58%</td>
            <td class="row-spacer">&nbsp;</td>
            <td class="row-unique-date">121</td>
            
            <td class="row-unique-date row-month"><span class="null">0</span></td>
            <td class="row-unique-date">19</td>
            <td class="row-unique-date"><span class="null">0</span></td>
            <td class="row-unique-date">11</td>
            
            <td class="row-unique-date row-month">12</td>
            <td class="row-unique-date">19</td>
            <td class="row-unique-date"><span class="null">0</span></td>
            <td class="row-unique-date"><span class="null">0</span></td>
            
            <td class="row-unique-date row-month">12</td>
            <td class="row-unique-date"><span class="null">0</span></td>
            <td class="row-unique-date">21</td>
            <td class="row-unique-date">11</td>
            
            <td>&nbsp;</td>
        </tr>
        <tr>
            <td class="row-rank">7</td>
            <td class="row-title"><a href="#">CHC Marine Park</a><span><b>890</b> enrolled all time</span></td>
            <td class="row-enrolled text-green">+16</td>
            <td class="row-default text-yellow">140</td>
            <td class="row-calls text-yellow">14</td>
            <td class="row-control">52%</td>
            <td class="row-spacer">&nbsp;</td>
            <td class="row-unique-date">423</td>
            
            <td class="row-unique-date row-month"><span class="null">0</span></td>
            <td class="row-unique-date">19</td>
            <td class="row-unique-date"><span class="null">0</span></td>
            <td class="row-unique-date">11</td>
            
            <td class="row-unique-date row-month">12</td>
            <td class="row-unique-date">19</td>
            <td class="row-unique-date"><span class="null">0</span></td>
            <td class="row-unique-date"><span class="null">0</span></td>
            
            <td class="row-unique-date row-month">12</td>
            <td class="row-unique-date"><span class="null">0</span></td>
            <td class="row-unique-date">21</td>
            <td class="row-unique-date">11</td>
            
            <td>&nbsp;</td>
        </tr>
        <tr>
            <td class="row-rank">8</td>
            <td class="row-title"><a href="#">SDH Long Island City</a><span><b>5723</b> enrolled all time</span></td>
            <td class="row-enrolled text-green">+321</td>
            <td class="row-default text-yellow">1234</td>
            <td class="row-calls text-yellow"><span class="null">0</span></td>
            <td class="row-control">50%</td>
            <td class="row-spacer">&nbsp;</td>
            <td class="row-unique-date">1232</td>
            
            <td class="row-unique-date row-month"><span class="null">0</span></td>
            <td class="row-unique-date">19</td>
            <td class="row-unique-date"><span class="null">0</span></td>
            <td class="row-unique-date">11</td>
            
            <td class="row-unique-date row-month">12</td>
            <td class="row-unique-date">19</td>
            <td class="row-unique-date"><span class="null">0</span></td>
            <td class="row-unique-date"><span class="null">0</span></td>
            
            <td class="row-unique-date row-month">12</td>
            <td class="row-unique-date"><span class="null">0</span></td>
            <td class="row-unique-date">21</td>
            <td class="row-unique-date">11</td>
            
            <td>&nbsp;</td>
        </tr>
    </tbody>
    <tfoot>
        <tr class="row-total">
            <td class="row-rank row-total"></td>
            <td class="row-title row-total">All facility totals<span><b>24,342</b> enrolled all time</span></td>
            <td class="row-enrolled text-green row-total">+1,345</td>
            <td class="row-default text-yellow row-total">10,321</td>
            <td class="row-calls text-yellow">124</td>
            <td class="row-control row-total">30%</td>
            <td class="row-spacer">&nbsp;</td>
            <td class="row-unique-date row-total">13,801</td>
            
            <td class="row-unique-date row-month"><span class="null">0</span></td>
            <td class="row-unique-date">19</td>
            <td class="row-unique-date"><span class="null">0</span></td>
            <td class="row-unique-date">11</td>
            
            <td class="row-unique-date row-month">12</td>
            <td class="row-unique-date">19</td>
            <td class="row-unique-date"><span class="null">0</span></td>
            <td class="row-unique-date"><span class="null">0</span></td>
            
            <td class="row-unique-date row-month">12</td>
            <td class="row-unique-date"><span class="null">0</span></td>
            <td class="row-unique-date">21</td>
            <td class="row-unique-date">11</td>
            
            <td>&nbsp;</td>
        </tr>
    </tfoot>
  </table>
</div>
</section>

<section>
    <h4>Notes</h4>
    <p class="footnote"><strong>Didn't attend</strong> patients are enrolled hypertensives that have not had a BP recorded in the past 3 months.</p>
    <p class="footnote"><strong>BP control</strong> is calculated as a rolling cohort. A patient who was seen 6-9 months ago is controlled if their last BP in the last 3 months has SBP &lt; 140 and DBP &lt; 90.</p>
    <p class="footnote"><strong>Top performers:</strong> > 100 enrolled patients and highest BP control.</p>
    <p class="footnote"><strong>Unique patients</strong> indicates how many patients had at least one recorded BP during the period. The "Week of" numbers are "Unique patients with a BP recorded during that week".</p>
</section>

<!--******************************************************************************
Facility Dashboard
******************************************************************************-->
<div style="padding: 60px 0;">&nbsp;</div>


<div class="dashboard">
    <nav class="breadcrumb"><a href="#">Brooklyn</a></nav>
    <h1>PHC Bedford-Stuyvesant</h1>
    <p class="dashboard-description">#8 of 16 reporting PHCs in New York State for BP control %</p>
    <p class="dashboard-description">976 patients enrolled since Feb 2, 2018</p>
    
    <div class="featured">
        <table class="featured-table">
        <tr>
        <td class="featured-td">
            <div class="featured-section">
                <strong class="featured-title" style="color: #007A31;">Enrolled</strong>
                <span class="featured-number text-green">+14</span>
                <span class="featured-label">New patients</span>
                
                <strong class="featured-title" style="color: #007A31;">Follow-ups</strong>
                <span class="featured-number  text-green">845</span>
            </div>
        </td>
        <td class="featured-td featured-middle">
            <div class="featured-section">
                <strong class="featured-title" style="color: #E0B000;">Didn't attend</strong>
                <span class="featured-number text-yellow">1,234</span>
                <span class="featured-label">Patients</span>

                <div class="featured-graph">
                    <table>
                        <tr>
                            <td>
                                <div class="featured-graph-column featured-graph-column-yellow" style="height: 27.5px; margin-top: 22.5px;">55%</div>
                                <span class="featured-month">Sep</span>
                            </td>
                            <td>
                                <div class="featured-graph-column featured-graph-column-yellow" style="height: 32.5px; margin-top: 17.5px;">65%</div>
                                <span class="featured-month">Oct</span>
                            </td>
                            <td>
                                <div class="featured-graph-column featured-graph-column-yellow" style="height: 25.5px; margin-top: 24.5px;">51%</div>
                                <span class="featured-month">Nov</span></td>
                            <td>
                                <div class="featured-graph-column featured-graph-column-yellow" style="height: 21px; margin-top: 29px;">42%</div>
                                <span class="featured-month">Dec</span>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </td>
        <td class="featured-td">
            <div class="featured-section">
                <strong class="featured-title">BP control</strong>
                <span class="featured-number">24%</span>
                <span class="featured-label">Goal: 45%</span>

                <div class="featured-graph">
                    <table>
                        <tr>
                            <td>
                                <div class="featured-graph-column" style="height: 25px; margin-top: 25px;">25%</div>
                                <span class="featured-month">Sep</span>
                            </td>
                            <td>
                                <div class="featured-graph-column" style="height: 26px; margin-top: 24px;">26%</div>
                                <span class="featured-month">Oct</span>
                            </td>
                            <td>
                                <div class="featured-graph-column" style="height: 28px; margin-top: 22px;">28%</div>
                                <span class="featured-month">Nov</span>
                            </td>
                            <td>
                                <div class="featured-graph-column" style="height: 24px; margin-top: 26px;">24%</div>
                                <span class="featured-month">Dec</span>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
        </td>
        </tr>
        </table>
        
    </div>
</div>


<section class="table-compact">

<div class="table-responsive">
  <table>
    <thead>
        <tr>
            <th><h4>Active users</h4></th>
            <th class="row-label">Enrolled<br>patients</th>
            <th class="row-label">Calls<br>made</th>
            <th class="row-label">Unique<br>patients</th>
            
            <th class="row-label row-month"><div>Week of</div>Sep 23</th>
            <th class="row-label"><div>Week of</div>Sep 30</th>
            <th class="row-label"><div>Week of</div>Oct 7</th>
            <th class="row-label"><div>Week of</div>Oct 14</th>
            
            <th class="row-label row-month"><div>Week of</div>Oct 21</th>
            <th class="row-label"><div>Week of</div>Oct 28</th>
            <th class="row-label"><div>Week of</div>Nov 4</th>
            <th class="row-label"><div>Week of</div>Nov 11</th>
            
            <th class="row-label row-month"><div>Week of</div>Nov 18</th>
            <th class="row-label"><div>Week of</div>Nov 25</th>
            <th class="row-label"><div>Week of</div>Dec 2</th>
            <th class="row-label">This<br>week</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td class="row-title"><a href="#">Anisha Jain</a></td>
            <td class="row-default text-green">+43</td>
            <td class="row-calls text-yellow">5</td>
        
            <td class="row-unique-date">92</td>
            
            <td class="row-unique-date row-month">12</td>
            <td class="row-unique-date">19</td>
            <td class="row-unique-date">21</td>
            <td class="row-unique-date">11</td>
            
            <td class="row-unique-date row-month">12</td>
            <td class="row-unique-date">19</td>
            <td class="row-unique-date">21</td>
            <td class="row-unique-date">11</td>
            
            <td class="row-unique-date row-month">12</td>
            <td class="row-unique-date">19</td>
            <td class="row-unique-date">21</td>
            <td class="row-unique-date">11</td>
            
            <td>&nbsp;</td>
        </tr>
        <tr>
            <td class="row-title"><a href="#">Rajwinder Singh</a></td>
            <td class="row-default text-green">+1</td>
            <td class="row-calls text-yellow">2</td>
        
            <td class="row-unique-date">43</td>
            
            <td class="row-unique-date row-month">12</td>
            <td class="row-unique-date">19</td>
            <td class="row-unique-date">21</td>
            <td class="row-unique-date">11</td>
            
            <td class="row-unique-date row-month">12</td>
            <td class="row-unique-date">19</td>
            <td class="row-unique-date">21</td>
            <td class="row-unique-date">11</td>
            
            <td class="row-unique-date row-month">12</td>
            <td class="row-unique-date">19</td>
            <td class="row-unique-date">21</td>
            <td class="row-unique-date">11</td>
            
            <td>&nbsp;</td>
        </tr>
        <tr>
            <td class="row-title"><a href="#">Alka Kaur</a></td>
            <td class="row-default text-green">+4</td>
            <td class="row-calls text-yellow">2</td>
        
            <td class="row-unique-date">41</td>
            
            <td class="row-unique-date row-month">12</td>
            <td class="row-unique-date">19</td>
            <td class="row-unique-date">21</td>
            <td class="row-unique-date">11</td>
            
            <td class="row-unique-date row-month">12</td>
            <td class="row-unique-date">19</td>
            <td class="row-unique-date">21</td>
            <td class="row-unique-date">11</td>
            
            <td class="row-unique-date row-month">12</td>
            <td class="row-unique-date">19</td>
            <td class="row-unique-date">21</td>
            <td class="row-unique-date">11</td>
            
            <td>&nbsp;</td>
        </tr>
    </tbody>
    <tfoot>
        <tr class="row-total">
            <td class="row-title row-total">Totals</td>
            <td class="row-enrolled text-green row-total">+48</td>
            <td class="row-calls text-yellow">9</td>
            
            <td class="row-unique-date row-total">176</td>
            
            <td class="row-unique-date row-month"><span class="null">0</span></td>
            <td class="row-unique-date">19</td>
            <td class="row-unique-date"><span class="null">0</span></td>
            <td class="row-unique-date">11</td>
            
            <td class="row-unique-date row-month">12</td>
            <td class="row-unique-date">19</td>
            <td class="row-unique-date"><span class="null">0</span></td>
            <td class="row-unique-date"><span class="null">0</span></td>
            
            <td class="row-unique-date row-month">12</td>
            <td class="row-unique-date"><span class="null">0</span></td>
            <td class="row-unique-date">21</td>
            <td class="row-unique-date">11</td>
            
            <td>&nbsp;</td>
        </tr>
    </tfoot>
  </table>
</div>
</section>

<section>
    
    <h4>Overdue patients: "Didn't Attend"</h4>
        
    <div class="overdue-patient">
        <div class="overdue-time text-red">4 days overdue <br><span>HIGH RISK</span></div>
        <div class="overdue-title">Anish Acharya, Male, 43</div>
        <table class="overdue-details">
            <tr>
                <td>Last BP:</td>
                <td>175/86 &nbsp; 5 days ago</td>
            </tr>
            <tr>
                <td>Home:</td>
                <td>Carroll Gardens, Brooklyn, NY</td>
            </tr>
            <tr>
                <td>Mobile:</td>
                <td>+91 1234 5678</td>
            </tr>
        </table>    
    </div>
    
    <div class="overdue-patient">
        <div class="overdue-time text-red">4 days overdue <br><span>HIGH RISK</span></div>
        <div class="overdue-title">Anish Acharya, Male, 43</div>
        <table class="overdue-details">
            <tr>
                <td>Last BP:</td>
                <td>175/86 &nbsp; 5 days ago</td>
            </tr>
            <tr>
                <td>Home:</td>
                <td>Carroll Gardens, Brooklyn, NY</td>
            </tr>
            <tr>
                <td>Mobile:</td>
                <td>+91 1234 5678</td>
            </tr>
        </table>    
    </div>
    
    <div class="overdue-patient">
        <div class="overdue-time text-red">4 days overdue <br><span>HIGH RISK</span></div>
        <div class="overdue-title">Anish Acharya, Male, 43</div>
        <table class="overdue-details">
            <tr>
                <td>Last BP:</td>
                <td>175/86 &nbsp; 5 days ago</td>
            </tr>
            <tr>
                <td>Home:</td>
                <td>Carroll Gardens, Brooklyn, NY</td>
            </tr>
            <tr>
                <td>Mobile:</td>
                <td>+91 1234 5678</td>
            </tr>
        </table>    
    </div>
    
</section>

<section>
    <h4>Notes</h4>
    <p class="footnote"><strong>Didn't attend</strong> patients are enrolled hypertensives that have not had a BP recorded in the past 3 months.</p>
    <p class="footnote"><strong>BP control</strong> is calculated as a rolling cohort. A patient who was seen 6-9 months ago is controlled if their last BP in the last 3 months has SBP &lt; 140 and DBP &lt; 90.</p>
    <p class="footnote"><strong>Top performers:</strong> > 100 enrolled patients and highest BP control.</p>
    <p class="footnote"><strong>Unique patients</strong> indicates how many patients had at least one recorded BP during the period. The "Week of" numbers are "Unique patients with a BP recorded during that week".</p>
</section>


<!--******************************************************************************
Snapshot for SMO at Facility
******************************************************************************-->

<div style="padding: 400px 0; color: #eee;">TEMP</div>


<div class="snapshot">
    <div class="dashboard">
    <div class="snapshot-header">
        <span>IHCI Hypertension Control Report</span>
        Nov 2018
    </div>

        <h1>Brooklyn District</h1>
        <p class="dashboard-description"><b>#2 of 5</b> reporting districts in New York State.<br>State BP control average is 26% from reporting facilities. Albany is the #1 district with BP control of 45%.</p>

        <div class="featured">
            <table class="featured-table">
            <tr>
            <td class="featured-td">
                <div class="featured-section">
                    <strong class="featured-title" style="color: #007A31;">Enrolled</strong>
                    <span class="featured-number text-green">+1,345</span>
                    <span class="featured-label">New patients</span>

                    <strong class="featured-title" style="color: #007A31; margin-top: 8px;">Follow-ups</strong>
                    <span class="featured-number  text-green">12,456</span>
                    <!--span class="featured-label">Return patients</span-->
                </div>
            </td>
            <td class="featured-td featured-middle">
                <div class="featured-section">
                    <strong class="featured-title" style="color: #E0B000;">Didn't attend</strong>
                    <span class="featured-number text-yellow">10,321</span>
                    <span class="featured-label">Patients</span>

                    <div class="featured-graph">
                        <table>
                            <tr>
                                <td>
                                    <div class="featured-graph-column featured-graph-column-yellow" style="height: 27.5px; margin-top: 22.5px;">55%</div>
                                    <span class="featured-month">Sep</span>
                                </td>
                                <td>
                                    <div class="featured-graph-column featured-graph-column-yellow" style="height: 32.5px; margin-top: 17.5px;">65%</div>
                                    <span class="featured-month">Oct</span>
                                </td>
                                <td>
                                    <div class="featured-graph-column featured-graph-column-yellow" style="height: 25.5px; margin-top: 24.5px;">51%</div>
                                    <span class="featured-month">Nov</span></td>
                                <td>
                                    <div class="featured-graph-column featured-graph-column-yellow" style="height: 21px; margin-top: 29px;">42%</div>
                                    <span class="featured-month">Dec</span>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </td>
            <td class="featured-td">
                <div class="featured-section">
                    <strong class="featured-title">BP control</strong>
                    <span class="featured-number">30%</span>
                    <span class="featured-label">Goal: 45%</span>

                    <div class="featured-graph">
                        <table>
                            <tr>
                                <td>
                                    <div class="featured-graph-column" style="height: 25px; margin-top: 25px;">25%</div>
                                    <span class="featured-month">Sep</span>
                                </td>
                                <td>
                                    <div class="featured-graph-column" style="height: 26px; margin-top: 24px;">26%</div>
                                    <span class="featured-month">Oct</span>
                                </td>
                                <td>
                                    <div class="featured-graph-column" style="height: 28px; margin-top: 22px;">28%</div>
                                    <span class="featured-month">Nov</span>
                                </td>
                                <td>
                                    <div class="featured-graph-column" style="height: 30px; margin-top: 20px;">30%</div>
                                    <span class="featured-month">Dec</span>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </td>
            </tr>
            </table>

        </div>
    </div>


    <section class="table-compact" style="margin-right: 16px !important; width: auto !important;">
    <div>
      <table>
        <thead>
            <tr>
                <th colspan="2"><h4>TOP PERFORMERS</h4></th>
                
                <th class="row-label">Enrolled<br>patients</th>
                <th class="row-label">Follow<br>-up</th>
                <th class="row-label">Didn't<br>attend</th>
                <th class="row-label">Calls<br>made</th>
                <th class="row-label">BP<br>control</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td class="row-rank">1</td>
                <td class="row-title"><a href="#">CHC Brooklyn Bridge</a><span><b>4567</b> enrolled all time</span></td>
                
                <td class="row-enrolled text-green">+98</td>
                <td class="row-enrolled text-green">430</td>
                <td class="row-default text-yellow">1321</td>
                <td class="row-default text-yellow">6</td>
                <td class="row-control text-grey-dark">65%</td>
            </tr>
            <tr>
                <td class="row-rank">2</td>
                <td class="row-title"><a href="#">PHC Coney</a><span><b>165</b> enrolled all time</span></td>
                
                <td class="row-enrolled text-green">+37</td>
                <td class="row-enrolled text-green">65</td>
                <td class="row-default text-yellow">43</td>
                <td class="row-default text-yellow"><span class="null">0</span></td>
                <td class="row-control text-grey-dark">58%</td>
            </tr>
            <tr>
                <td class="row-rank">3</td>
                <td class="row-title"><a href="#">CHC Prospect Heights</a><span><b>890</b> enrolled all time</span></td>
                
                <td class="row-enrolled text-green">+16</td>
                <td class="row-enrolled text-green">43</td>
                <td class="row-default text-yellow">140</td>
                <td class="row-default text-yellow">154</td>
                <td class="row-control text-grey-dark">52%</td>

            </tr>
            <tr>
                <td class="row-rank">4</td>
                <td class="row-title"><a href="#">Civil Hospital Brooklyn Downtown</a><span><b>5723</b> enrolled all time</span></td>
                
                <td class="row-enrolled text-green">+321</td>
                <td class="row-enrolled text-green">1356</td>
                <td class="row-default text-yellow">1234</td>
                <td class="row-default text-yellow">9</td>
                <td class="row-control text-grey-dark">50%</td>

            </tr>
            <tr>
                <td class="row-rank">5</td>
                <td class="row-title"><a href="#">PHC Bedford-Stuyvesant</a><span><b>4567</b> enrolled all time</span></td>
                
                <td class="row-enrolled text-green">+98</td>
                <td class="row-enrolled text-green">876</td>
                <td class="row-default text-yellow">1321</td>
                <td class="row-default text-yellow">16</td>
                <td class="row-control text-grey-dark">48%</td>
            </tr>
        </tbody>
      </table>
    </div>

    </section>

    <div style="margin-top: -26px; padding-top: 6px; color: #999; margin-right: 0; border-top: 1px solid #F0F2F5;">
        <p class="footnote"><strong>Didn't attend</strong> patients are enrolled hypertensives that have not had a BP recorded in the past 3 months.</p>
        <p class="footnote"><strong>BP control</strong> is calculated as a rolling cohort. A patient who was seen 6-9 months ago is controlled if their last BP in the last 3 months has SBP &lt; 140 and DBP &lt; 90.</p>
        <p class="footnote"><strong>Top performers</strong> have > 100 enrolled patients and highest BP control.</p>
    </div>
</div>

<div style="margin: 2em 0;">&nbsp;</div>

<div class="snapshot">
    <div class="dashboard">
    <div class="snapshot-header">
        <span>IHCI Hypertension Control Report</span>
        Nov 2018
    </div>
        
        <h1>PHC Bedford-Stuyvesant</h1>
        <p class="dashboard-description"><b>#5 of 22</b> reporting PHCs in Brooklyn District.</p>

        <div class="featured">
            <table class="featured-table">
            <tr>
            <td class="featured-middle featured-td">
                <div class="featured-section">
                    <strong class="featured-title" style="color: #007A31;">Enrolled</strong>
                    <span class="featured-number text-green">+98</span>
                    <span class="featured-label">New patients</span>

                    <strong class="featured-title" style="color: #007A31; margin-top: 8px;">Follow-ups</strong>
                    <span class="featured-number  text-green">1,987</span>
                    <!--span class="featured-label">Return patients</span-->
                </div>
                <div class="featured-footer">
                    <strong>All time:</strong>
                    <span>3,406 enrolled</span>
                </div>
            </td>
            <td class="featured-td">
                <div class="featured-section">
                    <strong class="featured-title" style="color: #E0B000;">Didn't attend</strong>
                    <span class="featured-number text-yellow">1,321</span>
                    <span class="featured-label">Patients</span>

                    <div class="featured-graph">
                        <table>
                            <tr>
                                <td>
                                    <div class="featured-graph-column featured-graph-column-yellow" style="height: 27.5px; margin-top: 22.5px;">55%</div>
                                    <span class="featured-month">Sep</span>
                                </td>
                                <td>
                                    <div class="featured-graph-column featured-graph-column-yellow" style="height: 32.5px; margin-top: 17.5px;">65%</div>
                                    <span class="featured-month">Oct</span>
                                </td>
                                <td>
                                    <div class="featured-graph-column featured-graph-column-yellow" style="height: 25.5px; margin-top: 24.5px;">51%</div>
                                    <span class="featured-month">Nov</span></td>
                                <td>
                                    <div class="featured-graph-column featured-graph-column-yellow" style="height: 21px; margin-top: 29px;">42%</div>
                                    <span class="featured-month">Dec</span>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
                <div class="featured-footer">
                    <strong>Contact attempts:</strong>
                    <span>401 calls</span>
                </div>
            </td>
            <td class="featured-td">
                <div class="featured-section">
                    <strong class="featured-title">BP control</strong>
                    <span class="featured-number">48%</span>
                    <span class="featured-label">Goal: 65%</span>

                    <div class="featured-graph">
                        <table>
                            <tr>
                                <td>
                                    <div class="featured-graph-column" style="height: 41px; margin-top: 9px;">41%</div>
                                    <span class="featured-month">Sep</span>
                                </td>
                                <td>
                                    <div class="featured-graph-column" style="height: 42px; margin-top: 8px;">42%</div>
                                    <span class="featured-month">Oct</span>
                                </td>
                                <td>
                                    <div class="featured-graph-column" style="height: 42px; margin-top: 8px;">42%</div>
                                    <span class="featured-month">Nov</span>
                                </td>
                                <td>
                                    <div class="featured-graph-column" style="height: 48px; margin-top: 2px;">48%</div>
                                    <span class="featured-month">Dec</span>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
                <div class="featured-footer">
                    <strong>District average:</strong>
                    <span>42% control</span>
                </div>
            </td>
            </tr>
            </table>

        </div>
    </div>
    
    <div class="snapshot-goal">
        <b>Goal: 65% BP control.</b> To achieve the goal, 776 more hypertensive patients need to get their BP &lt; 140/90    
    </div>

    <div style="margin-top: 8px; padding-top: 6px; color: #999; margin-right: 0; border-top: 1px solid #F0F2F5;">
        <p class="footnote"><strong>Didn't attend</strong> patients are enrolled hypertensives that have not had a BP recorded in the past 3 months.</p>
        <p class="footnote"><strong>BP control</strong> is calculated as a rolling cohort. A patient who was seen 6-9 months ago is controlled if their last BP in the last 3 months has SBP &lt; 140 and DBP &lt; 90.</p>
        <p class="footnote"><strong>District average</strong> is calculated for all PHCs with > 100 enrolled patients.</p>
    </div>
</div>

<!--******************************************************************************
Snapshot for Nurse/User at Facility Level
******************************************************************************-->

<div style="margin: 2em 0;">&nbsp;</div>

<div class="snapshot snapshot-simple">
    <div class="dashboard">
    <div class="snapshot-header">
        <span>IHCI Hypertension Control Report</span>
        Nov 2018
    </div>
        
        <h1>PHC Bedford-Stuyvesant</h1>
        <p style="line-height: 1.3; margin: 0.5em 0 0.5em 0;">Thank you for your hard work. You are truly saving lives from heart attacks and strokes.</p>

        <div class="featured">
            <table class="featured-table">
            <tr>
            <td class="featured-td">
                <div class="featured-section" style="background-image: url(/assets/icon-bp.png);">
                    <strong class="featured-title">Recorded BPs this month for:</strong>
                    <span class="featured-number">142 patients</span>

                    <div class="featured-graph" style="text-align: center;">
                        <table>
                            <tr>
                                <td style="opacity: 0.5;">
                                    <div class="featured-graph-column" style="height: 20px; margin-top: 30px;">64</div>
                                    <span class="featured-month">Jul</span>
                                </td>
                                <td style="opacity: 0.5;">
                                    <div class="featured-graph-column" style="height: 22px; margin-top: 28px;">74</div>
                                    <span class="featured-month">Aug</span>
                                </td>
                                <td style="opacity: 0.5;">
                                    <div class="featured-graph-column" style="height: 23px; margin-top: 27px;">76</div>
                                    <span class="featured-month">Sep</span>
                                </td>
                                <td style="opacity: 0.5;">
                                    <div class="featured-graph-column" style="height: 45px; margin-top: 5px;">145</div>
                                    <span class="featured-month">Oct</span>
                                </td>
                                <td style="opacity: 0.5;">
                                    <div class="featured-graph-column" style="height: 40px; margin-top: 10px;">110</div>
                                    <span class="featured-month">Nov</span>
                                </td>
                                <td>
                                    <div class="featured-graph-column" style="height: 45px; margin-top: 5px; border-width: 2px;">142</div>
                                    <span class="featured-month">Dec</span>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </td>
            </tr>
            <tr>
            <td class="featured-td">
                <div class="featured-section">
                    <strong class="featured-title">Enrolled this month:</strong>
                    <span class="featured-number text-green">16 new patients</span>

                    <div class="featured-graph" style="text-align: center;">
                        <table>
                            <tr>
                                <td style="opacity: 0.5;">
                                    <div class="featured-graph-column featured-graph-column-green" style="height: 20px; margin-top: 30px;">4</div>
                                    <span class="featured-month">Jul</span>
                                </td>
                                <td style="opacity: 0.5;">
                                    <div class="featured-graph-column featured-graph-column-green" style="height: 22px; margin-top: 28px;">5</div>
                                    <span class="featured-month">Aug</span>
                                </td>
                                <td style="opacity: 0.5;">
                                    <div class="featured-graph-column featured-graph-column-green" style="height: 23px; margin-top: 27px;">6</div>
                                    <span class="featured-month">Sep</span>
                                </td>
                                <td style="opacity: 0.5;">
                                    <div class="featured-graph-column featured-graph-column-green" style="height: 45px; margin-top: 5px;">17</div>
                                    <span class="featured-month">Oct</span>
                                </td>
                                <td style="opacity: 0.5;">
                                    <div class="featured-graph-column featured-graph-column-green" style="height: 40px; margin-top: 10px;">14</div>
                                    <span class="featured-month">Nov</span>
                                </td>
                                <td>
                                    <div class="featured-graph-column featured-graph-column-green" style="height: 45px; margin-top: 5px; border-width: 2px;">16</div>
                                    <span class="featured-month">Dec</span>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
            </td>
            </tr>
            <tr>
            <td class="featured-td">
                <div class="featured-section" style="background-image: url(/assets/icon-sad.png);">
                    <strong class="featured-title">Hypertensives with no BP in 3+ months:</strong>
                    <span class="featured-number text-yellow">94 overdue patients</span>

                    <div class="featured-graph" style="text-align: center;">
                        <table>
                            <tr>
                                <td style="opacity: 0.5;">
                                    <div class="featured-graph-column featured-graph-column-yellow" style="height: 36px; margin-top: 14px;">84</div>
                                    <span class="featured-month">Jul</span>
                                </td>
                                <td style="opacity: 0.5;">
                                    <div class="featured-graph-column featured-graph-column-yellow" style="height: 37px; margin-top: 13px;">87</div>
                                    <span class="featured-month">Aug</span>
                                </td>
                                <td style="opacity: 0.5;">
                                    <div class="featured-graph-column featured-graph-column-yellow" style="height: 38px; margin-top: 12px;">88</div>
                                    <span class="featured-month">Sep</span>
                                </td>
                                <td style="opacity: 0.5;">
                                    <div class="featured-graph-column featured-graph-column-yellow" style="height: 39px; margin-top: 11px;">90</div>
                                    <span class="featured-month">Oct</span>
                                </td>
                                <td style="opacity: 0.5;">
                                    <div class="featured-graph-column featured-graph-column-yellow" style="height: 40px; margin-top: 10px;">92</div>
                                    <span class="featured-month">Nov</span>
                                </td>
                                <td>
                                    <div class="featured-graph-column featured-graph-column-yellow" style="height: 45px; margin-top: 5px; border-width: 2px;">94</div>
                                    <span class="featured-month">Dec</span>
                                </td>
                            </tr>
                        </table>
                    </div>
                </div>
                <p style="margin-bottom: 0; padding: 16px 70px 0 0; text-align: right; background: url(/assets/icon-arrow.png) 90% 30% no-repeat; background-size: 40px; line-height: 1.2;" class="text-yellow">Try calling these patients to ask<br>them to return for treatment?</p>
            </td>
            </tr>
            </table>

        </div>
    </div>
</div>

<div style="padding: 400px 0; color: #eee;">TEMP</div>

<% if policy(User).enable_access? && @users_requesting_approval.any? %>
  <h3><%= pluralize(@users_requesting_approval.count || 0, "user") %> waiting for access</h3>

  <% @users_requesting_approval.each do |user| %>
    <div class="card">
      <div class="card-body">
        <div class="row">
          <div class="col-lg-3">

              <strong><%= link_to user.full_name, [:admin, user] %></strong>
              (<small><%= user.sync_approval_status_reason %></small>)

          </div>
          <div class="col">
            <div class="row tight">
              <div class="col">

                <small>Ph: <a href="tel:<%= user.phone_number %>"><%= user.phone_number %></a></small>
              </div>
              <div class="col tight">
                <small>
                <%= user.registered_at_facility.present? ? link_to(user.registered_at_facility.name, [:admin, user.registered_at_facility]) : "N/A" %>
                </small>
              </div>
            </div>
          </div>
          <div class="col-lg-4 text-lg-right">
            <%= link_to "Allow access", admin_user_enable_access_path(user), method: :put, class: "btn btn-sm btn-success", data: { confirm: I18n.t('admin.enable_access_alert') } %>
            <%= link_to 'Deny access', '#deny-access-modal-' + user.id, 'data-toggle' => 'modal', class: "btn btn-sm btn-outline-danger" %>

            <%= render partial: "admin/users/deny_access_modal", locals: { user: user } %>
          </div>
        </div>
      </div>
    </div>
  <% end %>

<% end %>

<section>

<div class="table-responsive">
  <table class="table table-sm">
    <thead class="thead-light">
      <tr>

        <th><h3>Daily unique patients</h3></th>

        <th class="text-center">Total Patients</th>
        <% @days_previous.downto(0).map { |since| since.days.ago }.each do |day| %>
          <th class="text-center <%= "holiday" if day.sunday? %>">
            <small><strong><%= day.strftime("%b") %><br><%= day.strftime("%d") %></strong></small>
          </th>
        <% end %>
      </tr>
    </thead>
    <tbody>
      <% @facilities.sort_by(&:name).each do |facility| %>
        <% next if @visits_by_facility.fetch(facility.id, 0)  == 0 %>

        <tr class="table-info table-row-small">
          <td class="row-title"><strong><%= facility.name %></strong></td>
          <td class="text-center"><%= lighten_if_zero(@visits_by_facility[facility.id] || 0) %></td>
          <% @days_previous.downto(0).map { |since| since.days.ago }.each do |day| %>
            <td class="text-center <%= "holiday" if day.sunday? %>"></td>
          <% end %>
        </tr>

        <% facility.users.sort_by(&:full_name).each do |user| %>
          <tr class="table-row-small">
            <td class="pl-lg-4"><%= user.full_name %></td>
            <td class="text-center">
              <%= lighten_if_zero(@visits_by_facility_user[[facility.id, user.id]] || 0) %>
            </td>
            <% @days_previous.downto(0).map { |since| since.days.ago }.each do |day| %>
              <td class="text-center <%= "holiday" if day.sunday? %>">
                <%= lighten_if_zero(@visits_by_facility_user_day[[facility.id, user.id, day.in_time_zone("New Delhi").to_date]] || 0) %>
              </td>
            <% end %>
          </tr>
        <% end %>
      <% end %>
    </tbody>
  </table>
</div>
</section>

<section>

<div class="table-responsive">
  <table class="table table-sm">
    <thead class="thead-light">
      <tr>
        <th><h3>New patients registered</h3></th>
        <th class="text-center">Total</th>
        <% @months_previous.downto(0).each do |since| %>
          <th class="text-center">
            <%= since.months.ago.in_time_zone("New Delhi").strftime("%b") %><br>
            <%= since.months.ago.in_time_zone("New Delhi").strftime("%Y") %>
          </th>
        <% end %>
      </tr>
    </thead>
    <tbody>
      <% @facilities.sort_by(&:name).each do |facility| %>
        <% next if @visits_by_facility.fetch(facility.id, 0) == 0 %>

        <tr class="table-light">

          <td class="row-title"><strong><%= facility.name %></strong></td>
          <td class="text-center"><%= lighten_if_zero(@new_patients_by_facility[facility.id] || 0) %></td>
          <% @months_previous.downto(0).each do |since| %>
            <td class="text-center">
              <%= lighten_if_zero(@new_patients_by_facility_month[[facility.id, since.months.ago.in_time_zone("New Delhi").beginning_of_month.to_date]] || 0) %>
            </td>
          <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
</section>


<section>
<div class="table-responsive">
  <table class="table table-sm">
    <thead class="thead-light">
      <tr>
        <th><h3>Monthly unique patients</h3></th>
        <th class="text-center">&nbsp;&nbsp;&nbsp;</th> <!-- Spacer to match next table above -->
        <% @months_previous.downto(0).each do |since| %>
          <th class="text-center">
            <%= since.months.ago.in_time_zone("New Delhi").strftime("%b") %><br>
            <%= since.months.ago.in_time_zone("New Delhi").strftime("%Y") %>
          </th>
        <% end %>
      </tr>
    </thead>
    <tbody>
      <% @facilities.sort_by(&:name).each do |facility| %>
        <% next if @visits_by_facility.fetch(facility.id, 0) == 0 %>

        <tr class="table-light">

          <td class="row-title"><strong><%= facility.name %></strong></td>
          <td>&nbsp;</td> <!-- Spacer to match next able above -->
          <% @months_previous.downto(0).each do |since| %>
            <td class="text-center">
              <%= lighten_if_zero(@visits_by_facility_month[[facility.id, since.months.ago.in_time_zone("New Delhi").beginning_of_month.to_date]] || 0) %>
            </td>
          <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
</section>

<footer class="text-muted">
    <p><small>Note: All times are in India Standard Time</small></p>
</footer>
