<div class="bottom-navigation-bar">
  <div class="navigation-tab">
    <%= render partial: "components/icon", :locals => {
        name: "house",
        size: "large",
        style: "outline",
        color: "red"
      }
    %>
    <p class="navigation-tab-name text-red">
      Home
    </p>
  </div>
  <div class="navigation-tab">
    <%= render partial: "components/icon", :locals => {
        name: "bar-chart",
        size: "large",
        style: "outline",
        color: "dark-grey"
      }
    %>
    <p class="navigation-tab-name text-dark-grey">
      Reports
    </p>
  </div>
  <div class="navigation-tab">
    <%= render partial: "components/icon", :locals => {
        name: "clock",
        size: "large",
        style: "outline",
        color: "dark-grey"
      }
    %>
    <p class="navigation-tab-name text-dark-grey">
      Overdue
    </p>
  </div>
  <div class="navigation-tab">
    <%= render partial: "components/icon", :locals => {
        name: "capsule",
        size: "large",
        style: "outline",
        color: "dark-grey"
      }
    %>
    <p class="navigation-tab-name text-dark-grey">
      Drug stock
    </p>
  </div>
  <div class="navigation-tab">
    <%= render partial: "components/icon", :locals => {
        name: "gear",
        size: "large",
        style: "outline",
        color: "dark-grey"
      }
    %>
    <p class="navigation-tab-name text-dark-grey">
      Settings
    </p>
  </div>
</div>