<div class="dashboard">
  <nav class="breadcrumb">
    <%= link_to 'All reports', dashboard_districts_path %>
    <i class="fas fa-chevron-right"></i>
    <%= @district.name %>
  </nav>
  <%#= render "period_dropdown" %>
  <div>
    <h1>
      <%= @district.name %>
    </h1>
    <p class="grey-dark">
      Last updated PENDING
    </p>
  </div>
</div>
<div class="pt-4 px-4 pb-4 md:flex md:flex-wrap md:max-w-6xl md:m-auto md:pb-0">
  <div class="md:w-1/2 md:pr-2">
    <div class="mb-4 p-4 rounded-md bg-white shadow-md md:flex md:flex-col md:justify-between md:h-96">
      <div>
        <div class="mb-4">
          <p class="mb-1 font-roboto font-bold text-lg text-black">
            Control rate of all HTN patients
          </p>
          <p class="font-roboto font-normal text-sm text-black md:w-2/3">
            Registered HTN patients with BP &lt;140/90 at their most recent visit in the last 3 months
          </p>
        </div>
        <div>
          <p class="font-roboto font-bold text-3xl text-green-200">
            <%= compute_percentage(@controlled_patients.values.last.to_f, @registrations.values.last.to_f, precision: 1) %>
          </p>
          <p class="font-roboto font-normal text-sm text-black mb-1">
              <span class="font-bold"><%= number_with_delimiter(@controlled_patients.values.last) %></span> of <%= number_with_delimiter(@registrations.values.last) %> registered patients
          </p>
        </div>
      </div>
      <div>
        <div class="md:relative md:h-32">
          <canvas id="controlledPatientsTrend"></canvas>
        </div>
        <div class="flex justify-between mt-2">
          <div>
            <p class="font-roboto font-bold text-sm text-black">
              Start
            </p>
            <p class="font-roboto font-normal text-sm text-black">
              <%= @controlled_patients.keys[0] %>
            </p>
          </div>
          <div class="text-right">
            <p class="font-roboto font-bold text-sm text-black">
              Current
            </p>
            <p class="font-roboto font-normal text-sm text-black">
              <% total_controlled_patient_periods = @controlled_patients.length - 1 %>
              <%= @controlled_patients.keys[total_controlled_patient_periods] %>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="md:w-1/2 md:pl-2">
    <div class="mb-4 p-4 rounded-md bg-white shadow-md md:flex md:flex-col md:justify-start md:h-96">
      <div class="mb-2">
        <p class="mb-1 font-roboto font-bold text-lg text-black">
          Benchmarks
        </p>
      </div>
      <div class="overflow-x-scroll md:overflow-x-hidden">
        <div class="inline-flex flex-col md:flex">
          <div class="inline-flex py-2 border-t border-b border-grey-200 md:flex">
            <p class="w-48 mr-4 font-roboto font-semibold text-sm text-grey-400">
              Benchmark
            </p>
            <p class="w-24 mr-4 font-roboto font-semibold text-sm text-grey-400 md:w-auto md:flex-1">
              Top district
            </p>
            <p class="w-24 mr-4 font-roboto font-semibold text-sm text-grey-400 md:w-auto md:flex-1">
              Bathinda
            </p>
            <p class="w-12 font-roboto font-semibold text-sm text-grey-400 md:w-auto md:flex-1">
              Difference
            </p>
          </div>
          <div class="inline-flex py-2 border-b border-grey-100">
            <p class="w-48 mr-4 font-roboto text-sm font-semibold text-black">
              Control of registered patients
            </p>
            <p class="w-24 mr-4 font-roboto text-sm text-black md:w-auto md:flex-1">
              34.3%
            </p>
            <p class="w-24 mr-4 font-roboto text-sm text-black md:w-auto md:flex-1">
              29.3%
            </p>
            <p class="w-12 font-roboto text-sm text-red-200 md:w-auto md:flex-1">
              -5.0%
            </p>
          </div>
          <div class="inline-flex py-2 border-b border-grey-100">
            <p class="w-48 mr-4 font-roboto font-semibold text-sm text-black">
              Control of estimated hypertensive pop.
            </p>
            <p class="w-24 mr-4 font-roboto text-sm text-black md:w-auto md:flex-1">
              4.3%
            </p>
            <p class="w-24 mr-4 font-roboto text-sm text-black md:w-auto md:flex-1">
              1.9%
            </p>
            <p class="w-12 font-roboto text-sm text-red-200 md:w-auto md:flex-1">
              -2.4%
            </p>
          </div>
          <div class="inline-flex py-2 border-b border-grey-100">
            <p class="w-48 mr-4 font-roboto font-semibold text-sm text-black">
              Registered % of estimated pop.
            </p>
            <p class="w-24 mr-4 font-roboto text-sm text-black md:w-auto md:flex-1">
              8.1%
            </p>
            <p class="w-24 mr-4 font-roboto text-sm text-black md:w-auto md:flex-1">
              6.7%
            </p>
            <p class="w-12 font-roboto text-sm text-red-200 md:w-auto md:flex-1">
              -1.4%
            </p>
          </div>
          <div class="inline-flex py-2 border-b border-grey-100">
            <p class="w-48 mr-4 font-roboto font-semibold text-sm text-black">
              Q2-2020 cohort BP control
            </p>
            <p class="w-24 mr-4 font-roboto text-sm text-black md:w-auto md:flex-1">
              38.0%
            </p>
            <p class="w-24 mr-4 font-roboto text-sm text-black md:w-auto md:flex-1">
              39.0%
            </p>
            <p class="w-12 font-roboto text-sm text-green-200 md:w-auto md:flex-1">
              +1.0%
            </p>
          </div>
          <div class="inline-flex py-2 border-b border-grey-100">
            <p class="w-48 mr-4 font-roboto font-semibold text-sm text-black">
              Q2-2020 cohort BP missed visit
            </p>
            <p class="w-24 mr-4 font-roboto text-sm text-black md:w-auto md:flex-1">
              27.0%
            </p>
            <p class="w-24 mr-4 font-roboto text-sm text-black md:w-auto md:flex-1">
              36.0%
            </p>
            <p class="w-12 font-roboto text-sm text-red-200 md:w-auto md:flex-1">
              -9.0%
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="md:w-1/2 md:pr-2">
    <div class="mb-4 p-4 rounded-md bg-white shadow-md md:flex md:flex-col md:justify-between md:h-96">
      <div>
        <div class="mb-4">
          <p class="mb-1 font-roboto font-bold text-lg text-black">
            Cumulative registrations
          </p>
          <p class="font-roboto font-normal text-sm text-black md:w-2/3">
            Total number of HTN patient registrations across all facilities
          </p>
        </div>
        <div>
          <p class="font-roboto font-bold text-3xl text-purple-200">
            <%= number_with_delimiter(@registrations.values.last) %> patients
          </p>
        </div>
      </div>
      <div>
        <div class="md:relative md:h-32">
          <canvas id="cumulativeRegistrations"></canvas>
        </div>
        <div class="flex justify-between mt-2">
          <div>
            <p class="font-roboto font-bold text-sm text-black">
              Start
            </p>
            <p class="font-roboto font-normal text-sm text-black">
              <%= @registrations.keys[0] %>
            </p>
          </div>
          <div class="text-right">
            <p class="font-roboto font-bold text-sm text-black">
              Current
            </p>
            <p class="font-roboto font-normal text-sm text-black">
              <% total_controlled_patient_periods = @registrations.length - 1 %>
              <%= @registrations.keys[total_controlled_patient_periods] %>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="md:w-1/2 md:pl-2">
    <div class="p-4 rounded-md bg-white shadow-md md:flex md:flex-col md:h-96">
      <div class="mb-4">
        <div class="mb-1">
          <p class="mb-1 font-roboto font-bold text-lg text-black">
            Quarterly cohort trend
          </p>
          <p class="font-roboto font-normal text-sm text-black md:w-2/3">
            The result for all HTN patients registered in a quarter at their follow-up visit in the following quarter
          </p>
        </div>
      </div>
      <div class="md:flex-grow">
        <% @quarterly_registrations.each_with_index do |cohort, index| %>
          <div class="mb-3 md:flex md:items-center">
            <div class="mb-2 md:mb-0 md:w-2/5">
              <p class="font-roboto font-bold text-sm text-black">
                <%= cohort["results_in"] %> results for patients
              </p>
              <p class="font-roboto font-medium text-sm text-black">
                registered in <%= cohort["patients_registered"] %>
              </p>
            </div>
            <div class="relative flex items-center w-full md:w-3/5">
              <div class="flex items-center justify-center h-8 bg-green-300 hover:bg-green-hover rounded-l md:h-10" style="box-sizing: content-box; padding: 0 4px; width: <%= compute_percentage(cohort["controlled"], cohort["registered"]) %>;" data-element="bar-chart" data-id="<%= cohort["results_in"].parameterize %>-controlled">
                <p class="font-roboto font-bold text-sm text-white">
                  <%= compute_percentage(cohort["controlled"], cohort["registered"]) %>
                </p>
                <div class="hidden absolute -top-74 p-3 text-center bg-black rounded-md md:-top-68" data-element="tooltip" data-id="<%= cohort["results_in"].parameterize %>-controlled" style="width: 160px;">
                  <p class="font-roboto font-medium text-sm text-white">
                    <%= number_with_delimiter(cohort["controlled"]) %> patients visited with controlled BP
                  </p>
                  <span class="absolute right-0 left-0 w-2 h-2 my-0 mx-auto" style="border-left: 17px solid transparent; border-right: 17px solid transparent; border-top: 17px solid #000000;"></span>
                </div>
              </div>
              <div class="flex items-center justify-center h-8 bg-yellow-100 hover:bg-yellow-hover md:h-10" style="box-sizing: content-box; padding: 0 4px; width: <%= compute_percentage(cohort["uncontrolled"], cohort["registered"]) %>;" data-element="bar-chart" data-id="<%= cohort["results_in"].parameterize %>-uncontrolled">
                <p class="font-roboto font-bold text-sm text-white" style="color: #AB8600;">
                   <%= compute_percentage(cohort["uncontrolled"], cohort["registered"]) %>
                </p>
                <div class="hidden absolute -top-74 p-3 text-center bg-black rounded-md md:-top-68" data-element="tooltip" data-id="<%= cohort["results_in"].parameterize %>-uncontrolled" style="width: 160px;">
                  <p class="font-roboto font-medium text-sm text-white">
                    <%= number_with_delimiter(cohort["uncontrolled"]) %> patients visited with uncontrolled BP
                  </p>
                  <span class="absolute right-0 left-0 w-2 h-2 my-0 mx-auto" style="border-left: 17px solid transparent; border-right: 17px solid transparent; border-top: 17px solid #000000;"></span>
                </div>
              </div>
              <div class="flex items-center justify-center h-8 bg-red-200 rounded-r hover:bg-red-hover md:h-10" style="box-sizing: content-box; padding: 0 4px; width: <%= compute_percentage(cohort["no_bp"], cohort["registered"]) %>;" data-element="bar-chart" data-id="<%= cohort["results_in"].parameterize %>-no-bp">
                <p class="font-roboto font-bold text-sm text-white">
                    <%= compute_percentage(cohort["no_bp"], cohort["registered"]) %>
                </p>
                <div class="hidden absolute -top-74 p-3 text-center bg-black rounded-md md:-top-68" data-element="tooltip" data-id="<%= cohort["results_in"].parameterize %>-no-bp" style="width: 160px;">
                  <p class="font-roboto font-medium text-sm text-white">
                    <%= number_with_delimiter(cohort["no_bp"]) %> patients didn’t have a BP taken
                  </p>
                  <span class="absolute right-0 left-0 w-2 h-2 my-0 mx-auto" style="border-left: 17px solid transparent; border-right: 17px solid transparent; border-top: 17px solid #000000;"></span>
                </div>
              </div>
            </div>
          </div>
        <% end %>
      </div>
      <div class="flex pt-4 border-t border-grey-200 md:justify-end">
        <div class="flex items-center mr-6">
          <p class="font-roboto font-bold text-sm text-green-200 leading-tight">
            Visited and BP &lt;140/90
          </p>
        </div>
        <div class="flex items-center mr-6">
          <p class="font-roboto font-bold text-sm text-yellow-300 leading-tight" style="color: #AB8600;">
            Visited and BP &ge;140/90
          </p>
        </div>
        <div class="flex items-center">
          <p class="font-roboto font-bold text-sm text-red-200 leading-tight">
            No BP measure
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="px-4 pb-4 md:flex md:m-auto md:max-w-6xl md:pb-20">
  <div class="p-2 rounded-md bg-white shadow-md">
    <%= image_tag("screenshot.png") %>
  </div>
</div>
<script>
  const controlledPatientData = JSON.parse('<%= raw(@controlled_patients.to_json) %>');
  const registrationsData = JSON.parse('<%= raw(@registrations.to_json) %>');
  const quarterlyRegistrationsData = JSON.parse('<%= raw(@quarterly_registrations.to_json) %>');
  const controlledPatients = Object.entries(controlledPatientData);
  const registrations = Object.entries(registrationsData);
  const controlRate = controlledPatients.map((key, index) => {
    const registrationData = registrations[index];
    const controlRate = parseFloat(((key[1]/registrationData[1])*100).toFixed(2));
    return [key[0], controlRate];
  });
  var controlledPatientsTrendCanvas =
    document.getElementById("controlledPatientsTrend").getContext("2d");
  var greenGradientFill =
    controlledPatientsTrendCanvas.createLinearGradient(0, 400, 0, -300);
  greenGradientFill.addColorStop(0, "rgba(81, 205, 130, 0)");
  greenGradientFill.addColorStop(1, "rgba(81, 205, 130, 0.2)");
  var controlledPatientsTrendChart = new Chart(
    controlledPatientsTrendCanvas,
    {
      type: "line",
      data: {
        labels: controlRate.map(key => key[0]),
        datasets: [{
          backgroundColor: greenGradientFill,
          borderColor: "rgba(81, 205, 130, 1)",
          data: controlRate.map(key => key[1]),
        }],
      },
      options: {
        animation: false,
        responsive: true,
        maintainAspectRatio: false,
        elements: {
          point: {
            pointStyle: "circle",
            backgroundColor: "rgba(81, 205, 130, 1)",
            hoverRadius: 5,
          },
        },
        legend: {
          display: false,
        },
        scales: {
          xAxes: [{
            display: false,
            gridLines: {
              display: false,
              drawBorder: false,
            },
          }],
          yAxes: [{
            display: false,
            gridLines: {
              display: false,
              drawBorder: false,
            },
          }],
        },
        tooltips: {
          titleFontFamily: "Roboto",
          bodyFontFamily: "Roboto",
          backgroundColor: "rgb(0, 0, 0)",
          titleFontSize: 16,
          bodyFontSize: 14,
          displayColors: false,
          yPadding: 12,
          xPadding: 12,
          callbacks: {
            label: function(tooltipItem, data) {
              const controlledPatientValue = controlledPatients.map(key => key[1])[tooltipItem.index];
              const formattedValue = controlledPatientValue.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
              let value = parseInt(tooltipItem.value).toFixed(1);
              return `${value}% (${formattedValue} patients)`;
            },
          },
        }
      }
    }
  );
  var cumulativeRegistrationsCanvas =
    document.getElementById("cumulativeRegistrations").getContext("2d");
  var purpleGradientFill =
    cumulativeRegistrationsCanvas.createLinearGradient(0, 400, 0, -300);
    purpleGradientFill.addColorStop(0, "rgba(157, 74, 199, 0)");
    purpleGradientFill.addColorStop(1, "rgba(157, 74, 199, 0.2)");
  var cumulativeRegistrationsChart = new Chart(
    cumulativeRegistrationsCanvas,
    {
      type: "bar",
      data: {
        labels: registrations.map(key => key[0]),
        datasets: [{
          data: registrations.map(key => key[1]),
          backgroundColor: purpleGradientFill,
          borderColor: "rgba(157, 74, 199, 1)",
          borderWidth:{ top:2, right:0, bottom:0, left:0 },
          hoverBackgroundColor: "rgba(157, 74, 199, 1)",
        },],
      },
      options: {
        animation: false,
        responsive: true,
        maintainAspectRatio: false,
        elements: {
          point: {
            radius: 0,
          },
        },
        legend: {
          display: false,
        },
        scales: {
          xAxes: [{
            stacked: true,
            barPercentage: 1,
            display: false,
            gridLines: {
              display: false,
              drawBorder: false,
            },
          }],
          yAxes: [{
            stacked: true,
            display: false,
            gridLines: {
              display: false,
              drawBorder: false,
            },
          }],
        },
        tooltips: {
          titleFontFamily: "Roboto",
          bodyFontFamily: "Roboto",
          backgroundColor: "rgb(0, 0, 0)",
          titleFontSize: 16,
          bodyFontSize: 14,
          displayColors: false,
          yPadding: 12,
          xPadding: 12,
          callbacks: {
            label: function(tooltipItem, data) {
              var value = tooltipItem.value.replace(/\B(?=(\d{3})+(?!\d))/g, ",");
              value += " registered patients";
              return value;
            },
          },
        }
      }
    }
  );
  const barChartNodes = document.querySelectorAll('[data-element="bar-chart"]');
  const tooltipNodes = document.querySelectorAll('[data-element="tooltip"]');
  barChartNodes.forEach(node => {
    const tooltipId = node.getAttribute("data-id");
    node.addEventListener("mouseenter", () => {
      toggleTooltipVisibility(tooltipId);
    });
    node.addEventListener("mouseleave", () => {
      toggleTooltipVisibility(tooltipId);
    });
  });
  function toggleTooltipVisibility(tooltipId) {
    const tooltipNode =
      Array.from(tooltipNodes).find(node => node.getAttribute("data-id") === tooltipId);
    tooltipNode.classList.toggle("hidden");
    tooltipNode.classList.toggle("block");
  }
  // Nav
  let isUserDropdownVisible = false;
  const lightBackgroundToggle = ['bg-white', 'bg-grey-100'];
  const lightOpacityToggle = ['opacity-0', 'opacity-25'];
  const fullOpacityToggle = ['opacity-0', 'opacity-100'];
  const translateXFullToggle = ['translate-x-0', 'translate-x-full'];
  const pointerEventToggle = ['pointer-events-none', 'pointer-events-auto'];
  const translateYToggle = ['translate-y-0', 'translate-y-1'];
  const $body = document.getElementsByTagName('body')[0];
  const $menuButton = document.querySelector('[data-js="menu-button"]');
  const $sidebarButton = document.querySelector('[data-js="sidebar-button"]');
  const $overlay = document.querySelector('[data-js="overlay"]');
  const $sidebar = document.querySelector('[data-js="sidebar"]');
  const $accountButton = document.querySelector('[data-js="account-button"]');
  const $accountDropdown = document.querySelector('[data-js="account-dropdown"]');

  document.addEventListener('click', (event) => {
    const wasAccountDropdownClicked = $accountDropdown.contains(event.target);
    const wasAccountButtonClicked = $accountButton.contains(event.target);

    if (!wasAccountDropdownClicked && !wasAccountButtonClicked && isUserDropdownVisible) {
      toggleAccountDropdownPosition();
    }
  });

  $menuButton.addEventListener('click', () => {
    toggleMenuBackground();
    toggleSidebarPosition();
  });

  $menuButton.addEventListener('touchstart', () => {
    toggleMenuBackground();
  });

  $menuButton.addEventListener('touchend', () => {
    toggleMenuBackground();
    toggleSidebarPosition();
  });

  $overlay.addEventListener('touchend', () => {
    toggleSidebarPosition();
  });

  $sidebarButton.addEventListener('click', () => {
    toggleSidebarPosition();
  });

  $accountButton.addEventListener('click', () => {
    toggleAccountDropdownPosition();
  });

  function toggleAccountDropdownPosition() {
    if (isUserDropdownVisible) {
      isUserDropdownVisible = false;
    } else {
      isUserDropdownVisible = true;
    };

    toggleClasses($accountDropdown, translateYToggle);
    toggleClasses($accountDropdown, fullOpacityToggle);
  }

  function toggleMenuBackground() {
    toggleClasses($menuButton, lightBackgroundToggle);
  }

  function toggleSidebarPosition() {
    toggleClasses($overlay, lightOpacityToggle);
    toggleClasses($overlay, pointerEventToggle);
    toggleClasses($sidebar, translateXFullToggle);
  }

  function toggleClasses($element, cssClasses) {
    cssClasses.forEach(cssClass => {
      $element.classList.toggle(cssClass);
    });
  }
</script>