<div class="dashboard">
  <nav class="breadcrumb">
    <%= link_to 'All reports', dashboard_districts_path %>
    <i class="fas fa-chevron-right"></i>
    <%= @district.name %>
  </nav>
  <%#= render "period_dropdown" %>
  <div>
    <h1>
      <%= @district.name %>
    </h1>
    <p class="c-grey-dark">
      Last updated PENDING
    </p>
  </div>
</div>
<div class="d-lg-flex flex-lg-wrap">
  <div class="d-lg-flex order-lg-1 w-lg-50 pr-lg-2">
    <div class="card pb-4 d-lg-flex fd-lg-column justify-lg-between h-lg-full w-lg-full mt-lg-0">
      <div>
        <div class="mb-2">
          <h3>
            Control rate of all HTN patients
          </h3>
          <p class="c-grey-dark">
            Registered HTN patients with BP &lt;140/90 at their most recent visit in the last 3 months
          </p>
        </div>
        <div>
          <h3 class="mb-1 fs-xlarge fw-bold c-green-dark">
            <%= compute_percentage(
              @controlled_patients.values.last.to_f,
              @registrations.values.last.to_f, precision: 1
            ) %>
          </h3>
          <p>
            <span class="fw-bold"><%= number_with_delimiter(@controlled_patients.values.last) %></span> of <%= number_with_delimiter(@registrations.values.last) %> registered patients
          </p>
        </div>
      </div>
      <div>
        <div>
          <canvas id="controlledPatientsTrend"></canvas>
        </div>
        <div class="d-flex justify-content-between mt-2">
          <p class="mb-0">
            <%= @controlled_patients.keys[0] %>
          </p>
          <p class="mb-0">
            <% total_controlled_patient_periods = @registrations.length - 1 %>
            <%= @registrations.keys[total_controlled_patient_periods] %>
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="d-lg-flex order-lg-3 w-lg-50 pr-lg-2">
    <div class="card pb-4 d-lg-flex justify-lg-between h-lg-full w-lg-full mt-lg-0">
      <div>
        <div class="mb-2">
          <h3>
            Cumulative registrations
          </h3>
          <p class="c-grey-dark">
            Total number of HTN patient registrations across all facilities
          </p>
        </div>
        <div>
          <h3 class="mb-1 fs-xlarge fw-bold c-purple">
            <%= number_with_delimiter(@registrations.values.last) %> patients
          </h3>
          <p>
            <span class="fw-bold"><%= number_with_delimiter(@controlled_patients.values.last) %></span> of <%= number_with_delimiter(@registrations.values.last) %> registered patients
          </p>
        </div>
      </div>
      <div>
        <div>
          <canvas id="cumulativeRegistrations"></canvas>
        </div>
        <div class="d-flex justify-content-between mt-2">
          <p class="mb-0">
            <%= @registrations.keys[0] %>
          </p>
          <p class="mb-0">
            <% total_controlled_patient_periods = @controlled_patients.length - 1 %>
            <%= @controlled_patients.keys[total_controlled_patient_periods] %>
          </p>
        </div>
      </div>
    </div>
  </div>
  <div class="d-lg-flex order-lg-4 w-lg-50 pl-lg-2">
    <div class="card pb-4 d-lg-flex justify-lg-between h-lg-full w-lg-full mt-lg-0">
      <div>
        <div class="mb-lg-2">
          <h3>
            Quarterly cohort trend
          </h3>
          <p class="mb-0 c-grey-dark">
            The result for all HTN patients registered in a quarter at their follow-up visit in the following quarter
          </p>
        </div>
        <div>
          <div>
            <% @quarterly_registrations.each_with_index do |cohort, index| %>
              <div class="split-row mt-lg-1 pt-lg-1"> 
                <div class="row px-lg-0">
                  <div class="col-lg-4 nowrap order-lg-1">
                    <h6>
                      <%= cohort["results_in"] %> results for patients
                    </h6>
                    <p class="mb-2 fs-small c-grey-medium">
                      registered in <%= cohort["patients_registered"] %>
                    </p>
                  </div>
                  <div class="col-lg-8 order-lg-2">
                    <table class="split-bars"> 
                      <tr>
                        <% if cohort["registered"] > 0 %>
                          <%
                            controlled_percent = compute_percentage(cohort["controlled"], cohort["registered"])
                            uncontrolled_percent = compute_percentage(cohort["uncontrolled"], cohort["registered"])
                            no_bp_percent = compute_percentage(cohort["no_bp"], cohort["registered"])
                          %>
                          <td
                            class="bar bar-1"
                            data-toggle="tooltip"
                            data-placement="top"
                            data-trigger="hover focus click"
                            title="<%= number_with_delimiter(cohort["no_bp"]) %> patients didn't have their BP taken"
                            style="width: <%= no_bp_percent %>;"
                          >
                            <%= (cohort["no_bp"] > 0 && no_bp_percent == 0) ? "< 1" : no_bp_percent %>
                          </td>
                          <td
                            class="bar bar-2"
                            data-toggle="tooltip"
                            data-placement="top"
                            data-trigger="hover focus click"
                            title="<%= number_with_delimiter(cohort["uncontrolled"]) %> patients visited with uncontrolled BP"
                            style="width: <%= uncontrolled_percent %>;"
                          >
                            <%= (cohort["uncontrolled"] > 1 && uncontrolled_percent == 0) ? "< 1" : uncontrolled_percent %>
                          </td>
                          <td
                            class="bar bar-3"
                            data-toggle="tooltip"
                            data-placement="top"
                            data-trigger="hover focus click"
                            title="<%= number_with_delimiter(cohort["controlled"]) %> patients visited with controlled BP"
                            style="width: <%= controlled_percent %>;"
                          >
                            <%= (cohort["controlled"] > 0 && controlled_percent == 0) ? "< 1" : controlled_percent %>
                          </td>
                        <% else %>
                          <td class="bar bar-none" style="width: 100%;">
                            No data available
                          </td>
                        <% end %>
                      </tr>
                    </table>
                  </div>
                </div>
              </div>
            <% end %>
          </div>
        </div>
      </div>
      <div>
        <div class="mt-4 pt-4 bt bt-grey-light d-lg-flex align-lg-center justify-lg-end mt-lg-3 pt-lg-3">
          <div class="">
            <p class="mb-2 c-grey-dark mb-lg-0 mr-lg-4">
              No BP measure
            </p>
          </div>
          <div class="">
            <p class="mb-3 c-red mb-lg-0 mr-lg-4">
              Visited and BP &ge;140/90
            </p>
          </div>
          <div class="">
            <p class="mb-0 lh-1 c-green-dark mb-lg-0">
              Visited and BP &lt;140/90
            </p>
          </div>
        </div>
      </div>
    </div>
  </div> 
  <div class="d-lg-flex order-lg-2 w-lg-50 pl-lg-2">
    <div class="card pb-4 h-lg-full w-lg-full mt-lg-0">
      <div class="mb-2">
        <h3>
          Benchmarks
        </h3>
      </div>
      <div>
        <div class="d-none d-lg-block d-lg-flex bb bb-grey-light">
          <div class="pt-lg-4 pb-lg-4 flex-lg-2 align-lg-center justify-lg-center br-lg br-lg-grey-light">
            <p class="mb-lg-0 c-lg-grey-dark">
              Benchmark
            </p>
          </div>
          <div class="pt-lg-4 pb-lg-4 flex-lg-1 align-lg-center justify-lg-center br-lg br-lg-grey-light">
            <p class="ta-lg-center mb-lg-0 c-lg-grey-dark">
              Top district
            </p>
          </div>
          <div class="pt-lg-4 pb-lg-4 flex-lg-1 align-lg-center justify-lg-center br-lg br-lg-grey-light">
            <p class="ta-lg-center mb-lg-0 c-lg-grey-dark">
              <%= @district.name %>
            </p>
          </div>
          <div class="pt-lg-4 pb-lg-4 flex-lg-1 align-lg-center justify-lg-center">
            <p class="ta-lg-center mb-lg-0 c-lg-grey-dark">
              Difference
            </p>
          </div>
        </div>
        <div class="mb-3 pb-3 bb bb-grey-light d-lg-flex mb-lg-0 pb-lg-0">
          <div class="mb-1 mb-lg-0 pt-lg-4 pb-lg-4 flex-lg-2 align-lg-center justify-lg-center br-lg br-lg-grey-light">
            <p class="mb-0 ls-145">
              Control of registered patients
            </p>
          </div>
          <div class="mb-0 mb-lg-0 pt-lg-4 pb-lg-4 flex-lg-1 align-lg-center justify-lg-center br-lg br-lg-grey-light">
            <p class="mb-0 ta-lg-center c-grey-dark">
              <span class="fw-bold d-lg-none">Bathinda: </span> PENDING
            </p>
          </div>
          <div class="mb-0 mb-lg-0 pt-lg-4 pb-lg-4 flex-lg-1 align-lg-center justify-lg-center br-lg br-lg-grey-light">
            <p class="mb-0 ta-lg-center c-grey-dark">
              <span class="fw-bold d-lg-none">Top district: </span> PENDING
            </p>
          </div>
          <div class="mb-0 mb-lg-0 pt-lg-4 pb-lg-4 flex-lg-1 align-lg-center justify-lg-center">
            <p class="mb-0 ta-lg-center c-grey-dark">
              <span class="fw-bold d-lg-none">Difference: </span> PENDING
            </p>
          </div>
        </div>
        <div class="mb-3 pb-3 bb bb-grey-light d-lg-flex mb-lg-0 pb-lg-0">
          <div class="mb-1 mb-lg-0 pt-lg-4 pb-lg-4 flex-lg-2 align-lg-center justify-lg-center br-lg br-lg-grey-light">
            <p class="mb-0 ls-145">
              Q2 cohort BP control
            </p>
          </div>
          <div class="mb-0 mb-lg-0 pt-lg-4 pb-lg-4 flex-lg-1 align-lg-center justify-lg-center br-lg br-lg-grey-light">
            <p class="mb-0 ta-lg-center c-grey-dark">
              <span class="fw-bold d-lg-none">Bathinda: </span> PENDING
            </p>
          </div>
          <div class="mb-0 mb-lg-0 pt-lg-4 pb-lg-4 flex-lg-1 align-lg-center justify-lg-center br-lg br-lg-grey-light">
            <p class="mb-0 ta-lg-center c-grey-dark">
              <span class="fw-bold d-lg-none">Top district: </span> PENDING
            </p>
          </div>
          <div class="mb-0 mb-lg-0 pt-lg-4 pb-lg-4 flex-lg-1 align-lg-center justify-lg-center">
            <p class="mb-0 ta-lg-center c-grey-dark">
              <span class="fw-bold d-lg-none">Difference: </span> PENDING
            </p>
          </div>
        </div>
        <div class="d-lg-flex mb-lg-0 pb-lg-0">
          <div class="mb-1 mb-lg-0 pt-lg-4 pb-lg-4 flex-lg-2 align-lg-center justify-lg-center br-lg br-lg-grey-light">
            <p class="mb-0 ls-145">
              Q2 cohort missed visit
            </p>
          </div>
          <div class="mb-0 mb-lg-0 pt-lg-4 pb-lg-4 flex-lg-1 align-lg-center justify-lg-center br-lg br-lg-grey-light">
            <p class="mb-0 ta-lg-center c-grey-dark">
              <span class="fw-bold d-lg-none">Bathinda: </span> PENDING
            </p>
          </div>
          <div class="mb-0 mb-lg-0 pt-lg-4 pb-lg-4 flex-lg-1 align-lg-center justify-lg-center br-lg br-lg-grey-light">
            <p class="mb-0 ta-lg-center c-grey-dark">
              <span class="fw-bold d-lg-none">Top district: </span> PENDING
            </p>
          </div>
          <div class="mb-0 mb-lg-0 pt-lg-4 pb-lg-4 flex-lg-1 align-lg-center justify-lg-center">
            <p class="mb-0 ta-lg-center c-grey-dark">
              <span class="fw-bold d-lg-none">Difference: </span> PENDING
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!--
<div class="px-4 pb-4 md:flex md:m-auto md:max-w-6xl md:pb-20">
  <div class="p-2 rounded-md bg-white shadow-md">
    <%= image_tag("screenshot.png") %>
  </div>
</div>
-->
<!-- Dump all reporting data in a hidden div to parse in JS -->
<%= content_tag :div,
                id: "reporting",
                data: {
                  controlled_patients: @controlled_patients,
                  registrations: @registrations,
                  quarterly_registrations: @quarterly_registrations
                },
                style: "display: none;" do %>
<% end %>
<script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>