<div class="row">
  <div class="col-lg-12">
    <div class="card card-responsive">
      <div class="d-flex align-baseline jc-between">
        <h3>
          BP controlled
        </h3>
        <p class="c-grey-dark">
          Last updated: <%= @last_updated_at %>
        </p>
      </div>
      <p class="mb-4px c-grey-dark">
        <strong>What to look for:</strong> High percentages are good, and 70% or higher is ideal 
      </p>
      <p class="c-grey-dark c-print-black">
        <strong>Numerator:</strong> Hypertension patients with BP &lt;140/90 at their most recent visit in the last 3 months, <%= render "denominator_footer" %>
      </p>
      <div class="d-flex fw-wrap mb-16px">
        <%= render "shared/size_and_zone_filters" %>
      </div>
      <% %w(large medium small community).each do |size| %>
        <% next if @facilities_by_size[size].blank? %>
        <p class="mt-20px mb-0px fw-bold">
          <%= Facility.localized_facility_size(size) %> facilities
        </p>
        <table class="mt-3 mt-lg-4 table table-compact table-responsive-md table-hover analytics-table">
          <colgroup>
            <col style="width: 12%;">
            <col style="width: 10%;">
            <col style="width: 10%;">
            <col class="table-divider" style="width: 5%;">
            <col style="width: 5%;">
            <col class="table-divider" style="width: 4%;">
            <col style="width: 4%;">
            <col class="table-divider" style="width: 4%;">
            <col style="width: 4%;">
            <col class="table-divider" style="width: 4%;">
            <col style="width: 4%;">
            <col class="table-divider" style="width: 4%;">
            <col style="width: 4%;">
            <col class="table-divider" style="width: 4%;">
            <col style="width: 4%;">
            <col class="table-divider" style="width: 4%;">
            <col style="width: 4%;">
          </colgroup>
          <thead>
            <tr data-sort-method="thead" class="sorts">
              <th class="row-label sort-label sort-label-small">
                Facilities
              </th>
              <th class="row-label sort-label sort-label-small" data-sort-method="number">
                Total assigned<br>patients
              </th>
              <th class="row-label sort-label sort-label-small" data-sort-method="number">
                Total registered<br>patients
              </th>
              <th
                class="row-label sort-label sort-label-small"
                colspan="2"
                data-sort-column-key="6-month-change"
                data-sort-method="number"
              >
                6-month change
              </th>
              <% (@start_period..@period).each do |period| %>
                <th
                  class="row-label sort-label sort-label-small"
                  colspan="2"
                  data-sort-column-key="total-patients-<%= period %>"
                  data-sort-method="number"
                >
                  <%= period %>
                </th>
              <% end %>
            </tr>
          </thead>
          <tbody>
            <% @facilities_by_size[size].each do |facility| %>
              <% six_month_rate_change = six_month_rate_change(facility, "controlled_patients_rate") %>
              <tr data-row="<%= facility.slug %>" data-trend-color="<% if six_month_rate_change > 0 %>green<% elsif six_month_rate_change < 0 %>red<% else %>grey<% end %>">
                <td class="type-title">
                  <%= link_to(reports_region_path(facility, report_scope: "facility")) do %>
                    <%= facility.name %>
                  <% end %>
                </td>
                <td>
                  <%= number_or_zero_with_delimiter(@data_for_facility[facility.name]["adjusted_registrations"].values.last) %>
                </td>
                <td>
                  <%= number_or_zero_with_delimiter(@data_for_facility[facility.name]["cumulative_registrations"].values.last) %>
                </td>
                <td>
                  <div class="w-80px h-20px">
                    <canvas id=<%= facility.slug %>></canvas>
                  </div>
                </td>
                <td
                  class="fw-bold ta-center <% if six_month_rate_change > 0 %>c-green-dark<% elsif six_month_rate_change < 0 %>c-red-dark<% else %>c-grey-dark<% end %>"
                  data-sort-column-key="6-month-change"
                  data-sort="<%= six_month_rate_change %>"
                >
                  <%= number_to_percentage_with_symbol(six_month_rate_change, precision: 0) %>
                </td>
                <% (@start_period..@period).each do |period| %>
                  <% controlled_patients_rate = @data_for_facility[facility.name]["controlled_patients_rate"][period] %>
                  <td>
                    <%= @data_for_facility[facility.name]["controlled_patients"][period] %>
                  </td>
                  <td
                    class="type-percent"
                    data-sort-column-key="total-patients-<%= period %>"
                    data-sort="<%= controlled_patients_rate %>"
                  >
                    <em data-rate="<%= controlled_patients_rate %>">
                      <%= number_to_percentage(controlled_patients_rate || 0, precision: 0) %>
                    </em>
                  </td>
                <% end %>
              </tr>
            <% end %>
          </tbody>
        </table>
      <% end %>
    </div>
  </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>