<div class="row">
  <div class="col-lg-12 pr-lg-0">
    <div class="card card-responsive">
      <% cohort_period = @selected_cohort_period[:cohort_period] %>
      <% registration_quarter =  @selected_cohort_period[:registration_quarter] %>
      <% registration_month = @selected_cohort_period[:registration_month] %>
      <% registration_year = @selected_cohort_period[:registration_year] %>
      <% visited_in_period = case cohort_period %>
      <% when :month %>
        <% month_short_name(month_start(registration_year, registration_month) + 1.months) + '/' + month_short_name(month_start(registration_year, registration_month) + 2.months) %>
      <% when :quarter %>
        <% visited_in_year, visited_in_quarter = next_year_and_quarter(registration_year, registration_quarter) %>
        <% "Q#{visited_in_quarter}-#{visited_in_year}" %>
      <% end %>
      <% registration_period = case cohort_period %>
      <% when :month %>
        <% month_short_name_and_year(month_start(registration_year, registration_month)) %>
      <% when :quarter %>
        <%  "Q#{registration_quarter}-#{registration_year}" %>
      <% end %>
      <div class="row">
        <div class="col-lg-9 pr-5 pr-md-0">
          <h3>BP control</h3>
          <p><%= registration_period %> cohort is the outcome for <%= number_with_delimiter(@totals[:registered]) %> patients registered in <%= registration_period %>,
            at their last visit in <%= visited_in_period %>. Patients with a ‘missed visit’ had no BP recorded.</p>
        </div>

        <div class="mt-1 mb-3 col-lg-3">
          <div class="dropdown show">
            <a class="btn btn-sm btn-outline btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
               data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="min-width: 12em;">
              Patients registered in <%= registration_period %>
            </a>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
              <h6 class="dropdown-header">Quarterly</h6>
              <% last_n_quarters(n: 6).each do |year, quarter| %>
                <% selected = (year == registration_year && quarter == registration_quarter && cohort_period == :quarter) %>
                <button class="dropdown-item query-filter-quarter <%= 'active' if selected %>"
                        type="submit" data-quarter="<%= quarter %>" data-year="<%= year %>" form="query-filters">
                  <%= "Q#{quarter}-#{year}" %>
                </button>
              <% end %>
              <div class="dropdown-divider"></div>
              <h6 class="dropdown-header">Monthly</h6>
              <% last_n_months(n: 6).each do |month| %>
                <% selected = (month.year == registration_year && month.month == registration_month && cohort_period == :month) %>
                <button class="dropdown-item query-filter-month <%= 'active' if selected %>"
                        type="submit" data-month="<%= month.month %>" data-year="<%= month.year %>" form="query-filters">
                  <%= month_short_name_and_year(month) %>
                </button>
              <% end %>

              <input class="selected-quarter" name="registration_quarter" value="<%= registration_quarter %>" form="query-filters" hidden>
              <input class="selected-month" name="registration_month" value="<%= registration_month %>" form="query-filters" hidden>
              <input class="selected-year" name="registration_year" value="<%= registration_year %>" form="query-filters" hidden>
              <input class="selected-cohort-period" name="cohort_period" value="<%= cohort_period %>" form="query-filters" hidden>
              <input class="selected-quarter" name="registration_quarter" value="<%= registration_quarter %>" form="query-filters-mobile" hidden>
              <input class="selected-month" name="registration_month" value="<%= registration_month %>" form="query-filters-mobile" hidden>
              <input class="selected-year" name="registration_year" value="<%= registration_year %>" form="query-filters-mobile" hidden>
              <input class="selected-cohort-period" name="cohort_period" value="<%= cohort_period %>" form="query-filters-mobile" hidden>
            </div>
          </div>
        </div>
      </div>

      <table class="mt-3 mt-lg-4 table table-compact table-responsive-md table-hover" id="analytics-table">
        <colgroup>
          <col>
          <col class="table-divider">
          <col>
          <col class="table-divider">
          <col>
          <col class="table-divider">
          <col>
          <col class="table-divider">
          <col>
          <col class="mobile">
        </colgroup>
        <thead>
        <tr>
          <th></th>
          <th colspan="6">Cohort of patients registered in <%= registration_period %></th>
          <th colspan="2">Overall BP control<sup>1</sup></th>
          <th class="mobile">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</th>
        </tr>
        <tr data-sort-method="thead" class="sorts">
          <th class="row-label sort-label">Facilities</th>
          <th class="row-label sort-label" data-sort-method="number" data-sort-column-key="controlled" colspan="2" data-sort-default>Visited with controlled
            <br>BP in <%= visited_in_period %>
          </th>
          <th class="row-label sort-label" data-sort-method="number" data-sort-column-key="uncontrolled" colspan="2">Visited with uncontrolled<br>BP
            in <%= visited_in_period %>
          </th>
          <th class="row-label sort-label" data-sort-method="number" data-sort-column-key="missed" colspan="2">Missed visit<br>in <%= visited_in_period %>
          </th>
          <th class="row-label sort-label" data-sort-method="number" data-sort-column-key="overall-percent">Percent</th>
          <th class="row-label sort-label" data-sort-method="number" data-sort-column-key="overall-controlled">Controlled</th>
          <th class="row-label sort-label" data-sort-method="number" data-sort-column-key="overall-registered">Registered</th>
          <th class="mobile"></th>
        </tr>
        </thead>
        <tbody>
        <tr class="row-total" data-sort-method="none">
          <td class="type-title">All</td>
          <td class="type-percent"><em><%= percentage(@totals[:controlled], @totals[:registered]) %></em></td>
          <td class="type-number"><%= @totals[:controlled] %></td>
          <td class="type-percent"><em><%= percentage(@totals[:uncontrolled], @totals[:registered]) %></em></td>
          <td class="type-number"><%= @totals[:uncontrolled] %></td>
          <td class="type-percent"><em><%= percentage(@totals[:missed], @totals[:registered]) %></em></td>
          <td class="type-number"><%= @totals[:missed] %></td>
          <td class="type-percent">
            <em><%= percentage(@totals[:overall_controlled_bps], @totals[:overall_patients]) %></em></td>
          <td class="type-number"><%= @totals[:overall_controlled_bps] %></td>
          <td class="type-number"><%= @totals[:overall_patients] %></td>
        </tr>
        <% @facilities.each do |facility| %>
          <% bp_stats = { registered: @registered_patients_per_facility[facility.id].to_i,
                          controlled: @controlled_bps_per_facility[facility.id].to_i,
                          uncontrolled: @uncontrolled_bps_per_facility[facility.id].to_i,
                          missed: @missed_visits_by_facility[facility.id].to_i,
                          overall_patients: @overall_patients_per_facility[facility.id].to_i,
                          overall_controlled_bps: @overall_controlled_bps_per_facility[facility.id].to_i } %>
          <tr>
            <td class="type-title"><%= link_to facility.name, analytics_facility_path(facility) %></td>
            <td class="type-percent" data-sort-column-key="controlled">
              <em><%= percentage(bp_stats[:controlled], bp_stats[:registered]) %></em>
            </td>
            <td class="type-number"><%= bp_stats[:controlled] %></td>
            <td class="type-percent" data-sort-column-key="uncontrolled">
              <em><%= percentage(bp_stats[:uncontrolled], bp_stats[:registered]) %></em>
            </td>
            <td class="type-number"><%= bp_stats[:uncontrolled] %></td>
            <td class="type-percent" data-sort-column-key="missed">
              <em><%= percentage(bp_stats[:missed], bp_stats[:registered]) %></em>
            </td>
            <td class="type-number"><%= bp_stats[:missed] %></td>
            <td class="type-percent" data-sort-column-key="overall-percent">
              <em><%= percentage(bp_stats[:overall_controlled_bps], bp_stats[:overall_patients]) %></em>
            </td>
            <td class="type-number" data-sort-column-key="overall-controlled">
              <%= bp_stats[:overall_controlled_bps] %>
            </td>
            <td class="type-number" data-sort-column-key="overall-registered">
              <%= bp_stats[:overall_patients] %>
            </td>
          </tr>
        <% end %>
        </tbody>
      </table>
    </div>
    <section class="footnotes">
      <ol>
        <li><strong>Overall BP control:</strong>
        <ul>
          <li>Percent: <i>(Controlled ÷ Registered)</i> × 100</li>
          <li>Controlled: Patients registered at this facility whose most recent BP in the past 90 days was under 140/90.</li>
          <li>Registered: Patients registered at this facility.</li>
          <li>Patients registered in the last 2 months are excluded from both <i>Controlled</i> and <i>Registered</i>.</li>
          <li>Note: Follow-up BPs may be recorded at any facility.</li>
        </ul>
      </ol>
    </section>
    <script>
        function setSelectedQuarter(quarter, year) {
            $('.selected-quarter').val(quarter);
            $('.selected-year').val(year);
            $('.selected-cohort-period').val('quarter');
            $('.selected-month').remove();
        }

        function setSelectedMonth(month, year) {
            $('.selected-month').val(month);
            $('.selected-year').val(year);
            $('.selected-cohort-period').val('month');
            $('.selected-quarter').remove();
        }

        $('.query-filter-quarter').click(function() {
            setSelectedQuarter($(this).data('quarter'), $(this).data('year'))
        });

        $('.query-filter-month').click(function() {
            setSelectedMonth($(this).data('month'), $(this).data('year'))
        })
    </script>
  </div>
</div>
