<h1 class="page-header">
  BP controlled
</h1>
<div class="d-flex fd-column fd-lg-row justify-lg-between mb-24px d-print-none">
  <div class="d-flex order-2 order-lg-1">
    <p class="mr-24px mb-0px pb-8px fs-20px fw-bold td-none <%= params[:action] == "show" ? "c-red bb-2px bb-red" : "c-grey-dark" %>">
      <%= link_to(my_facilities_bp_controlled_path(preserve_query_params(request.query_parameters, ["zone", "size", "facility_group"])), class: "#{active_action?("bp_controlled")}") do %>
        BP controlled
      <% end %>
    </p>
    <p class="mr-24px mb-0px pb-8px fs-20px fw-bold <%= params[:action] == "details" ? "c-red bb-2px bb-red" : "c-grey-dark" %>">
      <%= link_to(my_facilities_bp_not_controlled_path(preserve_query_params(request.query_parameters, ["zone", "size", "facility_group"])), class: "#{active_action?("bp_not_controlled")}") do %>
        BP not controlled
      <% end %>
    </p>
    <p class="mr-24px mb-0px pb-8px fs-20px fw-bold <%= params[:action] == "cohort" ? "c-red bb-2px bb-red" : "c-grey-dark" %>">
      <%= link_to(my_facilities_missed_visits_path(preserve_query_params(request.query_parameters, ["zone", "size", "period", "facility_group"])), class: "#{active_action?("missed_visits")}") do %>
        Missed visits
      <% end %>
    </p>
  </div>
  <div class="d-flex actions order-1 mb-24px order-lg-2 mb-lg-0">
    Last updated on <%= @last_updated_at %>
  </div>
</div>
<div class="row">
  <div class="col-lg-12">
    <div class="card-responsive bg-white bs-small br-4px">
      <div class="pt-16px ph-16px">
        <div class="d-lg-flex align-lg-baseline justify-lg-between">
          <h3 class="mb-8px">
            Compare BP control across facilities
          </h3>
        </div>
        <p class="mb-4px c-grey-dark">
          <strong>What to look for:</strong> High percentages are good, and 70% or higher is ideal
        </p>
        <p class="mb-4px c-grey-dark c-print-black">
          <strong>Numerator:</strong> <%= t("bp_controlled_copy.numerator") %>
        </p>
        <p class="c-grey-dark c-print-black">
          <strong>Denominator:</strong>
          <%= t("denominator_copy", region_name: "each facility") %>
        </p>
      </div>
      <div class="d-flex fw-wrap mb-16px ph-16px">
        <%= render "shared/my_facilities_filters", type: "controlled_patients" %>
      </div>
      <%= render "shared/facility_size_overview",
            rate_name: :controlled_patients_rate,
            is_increase_positive: true %>
      <div class="ph-16px pb-16px">
        <% if @facility_sizes.empty? %>
          <%= render "shared/my_facilities_table_empty_state" %>
        <% end %>
        <% @display_sizes.each do |size| %>
          <p class="mt-18px mb-0px fw-bold mt-lg-24px">
            <%= Facility.localized_facility_size(size) %>
          </p>
          <table class="mt-12px table table-compact table-responsive-md table-hover analytics-table tl-fixed">
            <colgroup>
              <col style="width: 14%;">
              <col style="width: 10%;">
              <col style="width: 10%;">
              <col class="table-divider" style="width: 10%;">
              <col style="width: 5%;">
              <col class="table-divider" style="width: 8.5%;">
              <col style="width: 8.5%;">
              <col style="width: 8.5%;">
              <col style="width: 8.5%;">
              <col style="width: 8.5%;">
              <col style="width: 8.5%;">
            </colgroup>
            <thead>
              <tr data-sort-method="thead" class="sorts">
                <th class="row-label sort-label sort-label-small" data-sort-default>
                  Facilities
                </th>
                <th class="row-label sort-label sort-label-small" data-sort-method="number">
                  Total assigned<br>patients
                </th>
                <th class="row-label sort-label sort-label-small" data-sort-method="number">
                  Total registered<br>patients
                </th>
                <th
                  class="row-label sort-label sort-label-small"
                  colspan="2"
                  data-sort-column-key="6-month-change"
                  data-sort-method="number"
                >
                  6-month change
                </th>
                <% (@start_period..@period).each do |period| %>
                  <th
                    class="row-label sort-label sort-label-small"
                    data-sort-column-key="total-patients-<%= period %>"
                    data-sort-method="number"
                  >
                    <%= period %>
                  </th>
                <% end %>
              </tr>
            </thead>
            <tbody>
              <% facility_size_six_month_rate_change = facility_size_six_month_rate_change(@stats_by_size[size][:periods], :controlled_patients_rate) %>
              <tr
                class="row-total"
                data-sort-method="none"
                data-row="<%= size %>"
                data-trend-color="<% if facility_size_six_month_rate_change > 0 %>green<% elsif facility_size_six_month_rate_change < 0 %>red<% else %>grey<% end %>"
              >
                <td class="type-title">
                  All <%= Facility.localized_facility_size(size) %>s
                </td>
                <td>
                  <%= number_or_zero_with_delimiter(@stats_by_size[size][:periods][@period][:cumulative_assigned_patients]) %>
                </td>
                <td>
                  <%= number_or_zero_with_delimiter(@stats_by_size[size][:periods][@period][:cumulative_registrations]) %>
                </td>
                <td>
                  <div class="w-90px h-20px">
                    <canvas id="<%= size %>"></canvas>
                  </div>
                </td>
                <td
                  class="fw-bold ta-center <% if facility_size_six_month_rate_change > 0 %>c-green-dark<% elsif facility_size_six_month_rate_change < 0 %>c-red-dark<% else %>c-grey-dark<% end %>"
                  data-sort-column-key="6-month-change"
                  data-sort="<%= facility_size_six_month_rate_change %>"
                >
                  <%= number_to_percentage_with_symbol(facility_size_six_month_rate_change, precision: 0) %>
                </td>
                <% @stats_by_size[size][:periods].each_pair do |period, data| %>
                  <% controlled_patients_rate = data[:controlled_patients_rate] %>
                  <td
                    class="type-percent"
                    data-sort-column-key="total-patients-<%= period %>"
                    data-sort="<%= controlled_patients_rate %>"
                    data-toggle="tooltip"
                    title="<%= data[:controlled_patients] %> / <%= data[:adjusted_patient_counts] %> patients"
                  >
                    <em data-rate="<%= controlled_patients_rate %>">
                      <%= number_to_percentage(controlled_patients_rate || 0, precision: 0) %>
                    </em>
                  </td>
                <% end %>
              </tr>
              <% @data_for_facility.each do |_, facility_data| %>
                <% facility = facility_data[:facility] %>
                <% next if facility.facility_size != size %>
                <% six_month_rate_change = six_month_rate_change(facility, :controlled_patients_rate) %>
                <tr data-row="<%= facility.slug %>" data-trend-color="<% if six_month_rate_change > 0 %>green<% elsif six_month_rate_change < 0 %>red<% else %>grey<% end %>">
                  <td class="type-title">
                    <%= link_to(reports_region_path(facility, report_scope: :facility)) do %>
                      <%= facility.name %>
                    <% end %>
                  </td>
                  <td>
                    <%= number_or_zero_with_delimiter(facility_data[:cumulative_assigned_patients].values.last) %>
                  </td>
                  <td>
                    <%= number_or_zero_with_delimiter(facility_data[:cumulative_registrations].values.last) %>
                  </td>
                  <td>
                    <div class="w-90px h-20px">
                      <canvas id=<%= facility.slug %>></canvas>
                    </div>
                  </td>
                  <td
                    class="fw-bold ta-center <% if six_month_rate_change > 0 %>c-green-dark<% elsif six_month_rate_change < 0 %>c-red-dark<% else %>c-grey-dark<% end %>"
                    data-sort-column-key="6-month-change"
                    data-sort="<%= six_month_rate_change %>"
                  >
                    <%= number_to_percentage_with_symbol(six_month_rate_change, precision: 0) %>
                  </td>
                  <% (@start_period..@period).each do |period| %>
                    <% controlled_patients_rate = facility_data[:controlled_patients_rate][period] %>
                    <td
                      class="type-percent"
                      data-sort-column-key="total-patients-<%= period %>"
                      data-sort="<%= controlled_patients_rate %>"
                      data-toggle="tooltip"
                      title="<%= facility_data[:controlled_patients][period] %> / <%= facility_data[:adjusted_patient_counts][period] %> patients"
                    >
                      <em data-rate="<%= controlled_patients_rate %>">
                        <%= number_to_percentage(controlled_patients_rate || 0, precision: 0) %>
                      </em>
                    </td>
                  <% end %>
                </tr>
              <% end %>
            </tbody>
          </table>
        <% end %>
      </div>
    </div>
  </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0/dist/Chart.min.js" integrity="sha256-Uv9BNBucvCPipKQ2NS9wYpJmi8DTOEfTA/nH2aoJALw=" crossorigin="anonymous"></script>
