<% content_for :title do %>
 Overview
<% end %>

<p class="mb-12px fs-xxlarge fw-bold mb-2">
  Home
</p>
<div class="d-flex row">
  <div class="col-lg-6">
    <%= render "shared/user_approvals" %>
    <%= render "recent_updates" %>
    <%= render "upcoming_improvements" %>
  </div>
  <div class="col-lg-6">
    <%= render 'shared/my_facilities/facilities_by_size' %>
    <%= render 'shared/my_facilities/inactive_facilities' %>
  </div>
</div>