<div class="container">

  <div class="row">
    <div class="col-lg-2 pl-lg-0">
            <nav class="secondary-nav">
                <a class="nav-link active" href="#">Overview</a>
                <a class="nav-link" href="#">Ranked facilities</a>
                <a class="nav-link" href="#">BP control</a>
                <a class="nav-link" href="#">Missed visits</a>
                <a class="nav-link" href="#">Registrations</a>
                <a class="nav-link" href="#">Drug supply</a>
                <a class="nav-link" href="#">Digit prefereence</a>
                <a class="nav-link" href="#">Treatment inertia</a>
                <a class="nav-link" href="#">Downloads</a>
            </nav>
            <section id="facility-filters" class="secondary-nav-filters">
                <h4>Facility Filters</h4>
                <div class="dropdown show">
                  <a class="btn btn-sm dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    All areas
                  </a>

                  <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                    <a class="dropdown-item" href="#">Block: Aadhari</a>
                    <a class="dropdown-item" href="#">Block: Bangalore</a>
                    <a class="dropdown-item" href="#">Block: Bengaluru</a>
                    <a class="dropdown-item" href="#">Block: Cava</a>
                    <a class="dropdown-item" href="#">Block: Durban</a>
                    <a class="dropdown-item" href="#">Block: England</a>
                    <a class="dropdown-item" href="#">Block: Far Enough</a>
                    <a class="dropdown-item" href="#">Block: Gurgaon</a>
                  </div>
                </div>
                <form>
                    <div><label for="facility-large"><input type="checkbox" id="facility-large" checked> Large</label></div>
                    <div><label for="facility-medium"><input type="checkbox" id="facility-medium" checked> Medium</label></div>
                    <div><label for="facility-small"><input type="checkbox" id="facility-small" checked> Small</label></div>
                    <div><label for="facility-community"><input type="checkbox" id="facility-community" checked> Community</label></div>
                </form>
            </section>
    </div>
    <div class="col-lg-10 pr-lg-0">
        <div class="row">
          <div class="col-lg-6 mb-lg-3 pr-lg-0">
              <div class="card mb-3">
                <h2>Facilities</h2>
                <p>Facilities where Simple is deployed</p>
                <section id="facilities-by-size">
                  <table class="table-compact">
                    <thead>
                    <tr>
                      <th></th>
                      <th>Total</th>
                      <th>Inactive*</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr class="row-total">
                      <td>All</td>
                      <td class="text-right"><%= @facilities.count %></td>
                      <td class="text-right"><%= @facilities.count - @active_facilities.count %></td>
                    </tr>
                    <tr>
                      <td>Large</td>
                      <td class="text-right"><%= @facilities.count %></td>
                      <td class="text-right"><%= @facilities.count - @active_facilities.count %></td>
                    </tr>
                    <tr>
                      <td>Medium</td>
                      <td class="text-right"><%= @facilities.count %></td>
                      <td class="text-right"><%= @facilities.count - @active_facilities.count %></td>
                    </tr>
                    <tr>
                      <td>Small</td>
                      <td class="text-right"><%= @facilities.count %></td>
                      <td class="text-right"><%= @facilities.count - @active_facilities.count %></td>
                    </tr>
                    <tr>
                      <td>Community</td>
                      <td class="text-right"><%= @facilities.count %></td>
                      <td class="text-right"><%= @facilities.count - @active_facilities.count %></td>
                    </tr>
                    </tbody>
                  </table>
                </section>
              </div>
              <div class="card">
                <h2>Inactive facilities</h2>
                <p>Facilities with &lt;10 patients with BPs recorded in the last 7 days</p>
                <section id="facilities-inactive">
                  <table class="table-compact">
                    <thead>
                    <tr>
                      <th></th>
                      <th>Last 7 days</th>
                      <th>Last 30 days</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                      <td><a href="#">CHC Bathinda</a></td>
                      <td class="text-right">0</td>
                      <td class="text-right">4</td>
                    </tr>
                    <tr>
                      <td><a href="#">DH Ballianwali</a></td>
                      <td class="text-right">0</td>
                      <td class="text-right">4</td>
                    </tr>
                    <tr>
                      <td><a href="#">HWC Salazar California</a></td>
                      <td class="text-right">0</td>
                      <td class="text-right">4</td>
                    </tr>
                    <tr>
                      <td><a href="#">PHC Placename</a></td>
                      <td class="text-right">0</td>
                      <td class="text-right">4</td>
                    </tr>
                    <tr>
                      <td><a href="#">Facility Name A</a></td>
                      <td class="text-right">0</td>
                      <td class="text-right">4</td>
                    </tr>
                    </tbody>
                  </table>
                </section>
              </div>
            </div>
            <div class="col-lg-6 mb-lg-3 pr-lg-0">
                <div class="card d-flex h-100 mb-3">
                  <%= render "shared/user_approvals" %>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 pr-lg-0">
                <div class="card card-responsive">
                    <div class="row">
                        <div class="col-6 col-lg-9">
                            <h3>Ranked facilities</h3>
                            <p>Ranking by a weighted algorithm of factors below.<sup>1</sup></p>
                        </div>
                        <div class="col-5 col-lg-3">
                            <div class="dropdown show">
                              <a class="btn btn-sm btn-outline btn-secondary dropdown-toggle w-100" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Nov-2019
                              </a>

                              <div class="dropdown-menu w-100" aria-labelledby="dropdownMenuLink">
                                <a class="dropdown-item" href="#">Oct-2019</a>
                                <a class="dropdown-item" href="#">Sep-2019</a>
                                <a class="dropdown-item" href="#">Aug-2019</a>
                                <a class="dropdown-item" href="#">Jul-2019</a>
                                <a class="dropdown-item" href="#">Jun-2019</a>
                              </div>
                            </div>
                        </div>
                    </div>
                    
                    <table class="table table-compact table-responsive-md" id="analytics-table">
                        <thead>
                            <tr>
                              <th></th>
                              <th>Facilities</th>
                              <th>BP control<sup>2</sup></th>
                              <th colspan="2">Registrations</th>
                              <th>OPD load</th>
                              <th>Missed visits</th>
                              <th></th>
                            </tr>
                            <tr class="sorts" data-sort-method="thead">
                              <th class="row-label sort-label" data-sort-method="number">Rank</th>
                              <th class="row-label sort-label">Name</th>
                              <th class="row-label sort-label" data-sort-method="number">Oct-2019</th>
                              <th class="row-label sort-label" data-sort-method="number">Oct-2019</th>
                              <th class="row-label sort-label" data-sort-method="number">All-time</th>
                              <th class="row-label sort-label" data-sort-method="number">Monthly</th>
                              <th class="row-label sort-label" data-sort-method="number">Oct-2019</th>
                              <th class="row-label sort-label" data-sort-method="number">Rank last month</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr class="row-total">
                                <td class="type-rank"></td>
                                <td class="type-title">All</td>
                                <td class="type-percent"><em>100%</em></td>
                                <td class="type-number">12,345</td>
                                <td class="type-number">1,987</td>
                                <td class="type-number">64,230</td>
                                <td class="type-number">1,413</td>
                                <td class="type-rank"></td>
                            </tr>
                            <tr>
                                <td class="type-rank">1</td>
                                <td class="type-title"><a href="#">CHC Nameplace Two</a></td>
                                <td class="type-percent"><em>56%</em></td>
                                <td class="type-number">345</td>
                                <td class="type-number">987</td>
                                <td class="type-number">4230</td>
                                <td class="type-number">143</td>
                                <td class="type-rank">3 <i class="fas fa-long-arrow-alt-up"></i></td>
                            </tr>
                            <tr>
                                <td class="type-rank">2</td>
                                <td class="type-title"><a href="#">CHC Nameplace Two</a></td>
                                <td class="type-percent"><em>48%</em></td>
                                <td class="type-number">322</td>
                                <td class="type-number">1023</td>
                                <td class="type-number">5435</td>
                                <td class="type-number">164</td>
                                <td class="type-rank">1 <i class="fas fa-long-arrow-alt-down"></i></td>
                            </tr>
                            <tr>
                                <td class="type-rank">3</td>
                                <td class="type-title"><a href="#">CHC Nameplace Two</a></td>
                                <td class="type-percent"><em>23%</em></td>
                                <td class="type-number">156</td>
                                <td class="type-number">234</td>
                                <td class="type-number">909</td>
                                <td class="type-number">64</td>
                                <td class="type-rank">3 <i class="fas fa-long-arrow-alt-up"></i></td>
                            </tr>
                            <tr>
                                <td class="type-rank">4</td>
                                <td class="type-title"><a href="#">CHC Nameplace Two</a></td>
                                <td class="type-percent"><em>56%</em></td>
                                <td class="type-number">345</td>
                                <td class="type-number">987</td>
                                <td class="type-number">4230</td>
                                <td class="type-number">143</td>
                                <td class="type-rank">3 <i class="fas fa-long-arrow-alt-up"></i></td>
                            </tr>
                            <tr>
                                <td class="type-rank">5</td>
                                <td class="type-title"><a href="#">CHC Nameplace Two</a></td>
                                <td class="type-percent"><em>56%</em></td>
                                <td class="type-number">345</td>
                                <td class="type-number">987</td>
                                <td class="type-number">4230</td>
                                <td class="type-number">143</td>
                                <td class="type-rank">3 <i class="fas fa-long-arrow-alt-up"></i></td>
                            </tr>
                            <tr>
                                <td class="type-rank">6</td>
                                <td class="type-title"><a href="#">CHC Nameplace Two</a></td>
                                <td class="type-percent"><em>56%</em></td>
                                <td class="type-number">345</td>
                                <td class="type-number">987</td>
                                <td class="type-number">4230</td>
                                <td class="type-number">143</td>
                                <td class="type-rank">3 <i class="fas fa-long-arrow-alt-up"></i></td>
                            </tr>
                            <tr>
                                <td class="type-rank">7</td>
                                <td class="type-title"><a href="#">CHC Nameplace Two</a></td>
                                <td class="type-percent"><em>56%</em></td>
                                <td class="type-number">345</td>
                                <td class="type-number">987</td>
                                <td class="type-number">4230</td>
                                <td class="type-number">143</td>
                                <td class="type-rank">3 <i class="fas fa-long-arrow-alt-up"></i></td>
                            </tr>
                            <tr>
                                <td class="type-rank">8</td>
                                <td class="type-title"><a href="#">CHC Nameplace Two</a></td>
                                <td class="type-percent"><em>56%</em></td>
                                <td class="type-number">345</td>
                                <td class="type-number">987</td>
                                <td class="type-number">4230</td>
                                <td class="type-number">143</td>
                                <td class="type-rank">3 <i class="fas fa-long-arrow-alt-up"></i></td>
                            </tr>
                            <tr>
                                <td class="type-rank">9</td>
                                <td class="type-title"><a href="#">CHC Nameplace Two</a></td>
                                <td class="type-percent"><em>56%</em></td>
                                <td class="type-number">345</td>
                                <td class="type-number">987</td>
                                <td class="type-number">4230</td>
                                <td class="type-number">143</td>
                                <td class="type-rank">3 <i class="fas fa-long-arrow-alt-up"></i></td>
                            </tr>
                            <tr>
                                <td class="type-rank">10</td>
                                <td class="type-title"><a href="#">CHC Nameplace Two</a></td>
                                <td class="type-percent"><em>56%</em></td>
                                <td class="type-number">345</td>
                                <td class="type-number">987</td>
                                <td class="type-number">4230</td>
                                <td class="type-number">143</td>
                                <td class="type-rank">3 <i class="fas fa-long-arrow-alt-up"></i></td>
                            </tr>
                            <tr>
                                <td class="type-rank">11</td>
                                <td class="type-title"><a href="#">CHC Nameplace Two</a></td>
                                <td class="type-percent"><em>56%</em></td>
                                <td class="type-number">345</td>
                                <td class="type-number">987</td>
                                <td class="type-number">4230</td>
                                <td class="type-number">143</td>
                                <td class="type-rank">3 <i class="fas fa-long-arrow-alt-up"></i></td>
                            </tr>
                            <tr>
                                <td class="type-rank">12</td>
                                <td class="type-title"><a href="#">CHC Nameplace Two</a></td>
                                <td class="type-percent"><em>56%</em></td>
                                <td class="type-number">345</td>
                                <td class="type-number">987</td>
                                <td class="type-number">4230</td>
                                <td class="type-number">143</td>
                                <td class="type-rank">3 <i class="fas fa-long-arrow-alt-up"></i></td>
                            </tr>
                            <tr>
                                <td class="type-rank">13</td>
                                <td class="type-title"><a href="#">CHC Nameplace Two</a></td>
                                <td class="type-percent"><em>56%</em></td>
                                <td class="type-number">345</td>
                                <td class="type-number">987</td>
                                <td class="type-number">4230</td>
                                <td class="type-number">143</td>
                                <td class="type-rank">3 <i class="fas fa-long-arrow-alt-up"></i></td>
                            </tr>
                            <tr>
                                <td class="type-rank">14</td>
                                <td class="type-title"><a href="#">CHC Nameplace Two</a></td>
                                <td class="type-percent"><em>56%</em></td>
                                <td class="type-number">345</td>
                                <td class="type-number">987</td>
                                <td class="type-number">4230</td>
                                <td class="type-number">143</td>
                                <td class="type-rank">3 <i class="fas fa-long-arrow-alt-up"></i></td>
                            </tr>
                            <tr>
                                <td class="type-rank">15</td>
                                <td class="type-title"><a href="#">CHC Nameplace Two</a></td>
                                <td class="type-percent"><em>56%</em></td>
                                <td class="type-number">345</td>
                                <td class="type-number">987</td>
                                <td class="type-number">4230</td>
                                <td class="type-number">143</td>
                                <td class="type-rank">3 <i class="fas fa-long-arrow-alt-up"></i></td>
                            </tr>
                            <tr>
                                <td class="type-rank">16</td>
                                <td class="type-title"><a href="#">CHC Nameplace Two</a></td>
                                <td class="type-percent"><em>56%</em></td>
                                <td class="type-number">345</td>
                                <td class="type-number">987</td>
                                <td class="type-number">4230</td>
                                <td class="type-number">143</td>
                                <td class="type-rank">3 <i class="fas fa-long-arrow-alt-up"></i></td>
                            </tr>
                            <tr>
                                <td class="type-rank">17</td>
                                <td class="type-title"><a href="#">CHC Nameplace Two</a></td>
                                <td class="type-percent"><em>56%</em></td>
                                <td class="type-number">345</td>
                                <td class="type-number">987</td>
                                <td class="type-number">4230</td>
                                <td class="type-number">143</td>
                                <td class="type-rank">3 <i class="fas fa-long-arrow-alt-up"></i></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
  </div>
</div>
