<%= render "facilities_tables_nav" %>

<div class="row">
  <div class="col-lg-12">
    <div class="card-responsive bg-white bs-small br-4px">
      <div class="p-16px">
        <h2 class="mb-8px">
          Missed visits
        </h2>
        <p class="c-grey-dark">
          <%= t("missed_visits_copy.reports_card_subtitle") %>
        </p>
      </div>
      <div class="d-flex fw-wrap mb-16px ph-16px">
        <%= render "shared/my_facilities_filters", type: "missed_visits" %>
      </div>
      <%= render "shared/facility_size_overview",
            rate_name: :missed_visits_rate,
            is_increase_positive: false %>
      <div class="ph-16px pb-16px">
        <% if @facility_sizes.empty? %>
          <%= render "shared/my_facilities_table_empty_state" %>
        <% end %>
        <% @display_sizes.each do |size| %>
          <p class="mb-0px fw-bold mt-48px">
            <%= Facility.localized_facility_size(size) %>
          </p>
          <table class="mt-12px table table-compact table-responsive-md table-hover analytics-table tl-fixed">
            <colgroup>
              <col style="width: 14%;">
              <col style="width: 10%;">
              <col style="width: 10%;">
              <col class="table-divider" style="width: 10%;">
              <col style="width: 5%;">
              <col class="table-divider" style="width: 8.5%;">
              <col style="width: 8.5%;">
              <col style="width: 8.5%;">
              <col style="width: 8.5%;">
              <col style="width: 8.5%;">
              <col style="width: 8.5%;">
            </colgroup>
            <thead>
              <tr data-sort-method="thead" class="sorts">
                <th class="row-label sort-label sort-label-small sticky" data-sort-default>
                  Facilities
                </th>
                <th class="row-label sort-label sort-label-small sticky" data-sort-method="number">
                  Total assigned<br>patients
                </th>
                <th class="row-label sort-label sort-label-small sticky" data-sort-method="number">
                  Total registered<br>patients
                </th>
                <th
                  class="row-label sort-label sort-label-small sticky"
                  colspan="2"
                  data-sort-column-key="6-month-change"
                  data-sort-method="number"
                >
                  6-month change
                </th>
                <% (@start_period..@period).each do |period| %>
                  <th
                    class="row-label sort-label sort-label-small sticky"
                    data-sort-column-key="total-patients-<%= period %>"
                    data-sort-method="number"
                  >
                    <%= period %>
                  </th>
                <% end %>
              </tr>
            </thead>
            <tbody>
              <% facility_size_six_month_rate_change = facility_size_six_month_rate_change(@stats_by_size[size][:periods], :missed_visits_rate) %>
              <tr
                class="row-total"
                data-sort-method="none"
                data-row="<%= size %>"
                data-trend-color="<% if facility_size_six_month_rate_change > 0 %>red<% elsif facility_size_six_month_rate_change < 0 %>green<% else %>grey<% end %>"
              >
                <td class="type-title">
                  All <%= Facility.localized_facility_size(size) %>s
                </td>
                <td>
                  <%= number_or_zero_with_delimiter(@stats_by_size[size][:periods][@period][:cumulative_assigned_patients]) %>
                </td>
                <td>
                  <%= number_or_zero_with_delimiter(@stats_by_size[size][:periods][@period][:cumulative_registrations]) %>
                </td>
                <td>
                  <div class="w-90px h-20px">
                    <canvas id="<%= size %>"></canvas>
                  </div>
                </td>
                <td
                  class="fw-bold ta-center <% if facility_size_six_month_rate_change > 0 %>c-red-dark<% elsif facility_size_six_month_rate_change < 0 %>c-green-dark<% else %>c-grey-dark<% end %>"
                  data-sort-column-key="6-month-change"
                  data-sort="<%= facility_size_six_month_rate_change %>"
                >
                  <%= number_to_percentage_with_symbol(facility_size_six_month_rate_change, precision: 0) %>
                </td>
                <% @stats_by_size[size][:periods].each_pair do |period, data| %>
                  <% missed_visits_rate = data[:missed_visits_rate] %>
                  <td
                    class="type-percent"
                    data-sort-column-key="total-patients-<%= period %>"
                    data-sort="<%= missed_visits_rate %>"
                    data-toggle="tooltip"
                    title="<%= data[:missed_visits] %> / <%= data[:adjusted_patient_counts] %> patients"
                  >
                    <em data-rate="<%= missed_visits_rate %>" class="low-is-good">
                      <%= number_to_percentage(missed_visits_rate || 0, precision: 0) %>
                    </em>
                  </td>
                <% end %>
              </tr>
              <% @data_for_facility.each do |_, facility_data| %>
                <% facility = facility_data[:facility] %>
                <% next if facility.facility_size != size %>
                <% six_month_rate_change = six_month_rate_change(facility, :missed_visits_rate) %>
                <tr data-row="<%= facility.slug %>" data-trend-color="<% if six_month_rate_change > 0 %>red<% elsif six_month_rate_change < 0 %>green<% else %>grey<% end %>">
                  <td class="type-title">
                    <%= link_to(reports_region_path(facility, report_scope: :facility)) do %>
                      <%= facility.name %>
                    <% end %>
                  </td>
                  <td>
                    <%= number_or_zero_with_delimiter(facility_data[:cumulative_assigned_patients].values.last) %>
                  </td>
                  <td>
                    <%= number_or_zero_with_delimiter(facility_data[:cumulative_registrations].values.last) %>
                  </td>
                  <td>
                    <div class="w-90px h-20px">
                      <canvas id=<%= facility.slug %>></canvas>
                    </div>
                  </td>
                  <td
                    class="fw-bold ta-center <% if six_month_rate_change > 0 %>c-red-dark<% elsif six_month_rate_change < 0 %>c-green-dark<% else %>c-grey-dark<% end %>"
                    data-sort-column-key="6-month-change"
                  >
                    <%= number_to_percentage_with_symbol(six_month_rate_change, precision: 0) %>
                  </td>
                  <% (@start_period..@period).each do |period| %>
                    <% missed_visits_rate = facility_data[:missed_visits_rate][period] %>
                    <td
                      class="type-percent"
                      data-sort-column-key="total-patients-<%= period %>"
                      data-sort="<%= missed_visits_rate %>"
                      data-toggle="tooltip"
                      title="<%= facility_data[:missed_visits][period] %> / <%= facility_data[:adjusted_patient_counts][period] %> patients"
                    >
                      <em data-rate="<%= missed_visits_rate %>" class="low-is-good">
                        <%= number_to_percentage(missed_visits_rate || 0, precision: 0) %>
                      </em>
                    </td>
                  <% end %>
                </tr>
              <% end %>
            </tbody>
          </table>
        <% end %>
        <div class="d-flex mt-5">
          <em class="h-12px w-12px mr-8px bg-red br-6px"></em>
          <p class="fs-12px lh-1 c-grey-dark">
            &ge;31%
          </p>
        </div>
        <div class="d-flex">
          <em class="h-12px w-12px mr-8px bg-orange br-6px"></em>
          <p class="fs-12px lh-1 c-grey-dark">
            21-30%
          </p>
        </div>
        <div class="d-flex">
          <em class="h-12px w-12px mr-8px bg-yellow br-6px"></em>
          <p class="fs-12px lh-1 c-grey-dark">
            11-20%
          </p>
        </div>
        <div class="d-flex">
          <em class="h-12px w-12px mr-8px bg-green-medium br-6px"></em>
          <p class="fs-12px lh-1 c-grey-dark">
            1-10%
          </p>
        </div>
        <div class="d-flex">
          <em class="h-12px w-12px mr-8px bg-grey-medium br-6px"></em>
          <p class="fs-12px lh-1 c-grey-dark">
            0%
          </p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="mt-32px mb-64px ph-20px">
  <h3 class="mb-16px pb-8px fw-bold c-grey-dark bb-1px bb-grey-medium">
    How to interpret this table?
  </h3>
  <div class="mb-24px">
    <p class="mb-8px fs-16px fw-bold c-grey-dark">
      What to look for
    </p>
    <div class="pl-16px">
      <p class="mb-8px fs-14px c-grey-dark">
        Low percentages are good, and 20% or lower is ideal
      </p>
    </div>
  </div>
  <div class="mb-24px">
    <p class="mb-8px fs-16px fw-bold c-grey-dark">
      Numerator
    </p>
    <div class="pl-16px">
      <p class="mb-8px fs-14px c-grey-dark">
        <%= t("missed_visits_copy.numerator") %>
      </p>
    </div>
  </div>
  <div class="mb-24px">
    <p class="mb-8px fs-16px fw-bold c-grey-dark">
      Denominator
    </p>
    <div class="pl-16px">
      <p class="mb-8px fs-14px c-grey-dark">
        <%= t("denominator_copy", region_name: "each facility") %>
      </p>
    </div>
  </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0/dist/Chart.min.js" integrity="sha256-Uv9BNBucvCPipKQ2NS9wYpJmi8DTOEfTA/nH2aoJALw=" crossorigin="anonymous"></script>
