<!DOCTYPE html>
<html lang="en" style="scroll-behavior: auto;">
  <head>
    <meta charset="utf-8">
    <meta name="HandheldFriendly" content="True">
    <meta name="MobileOptimized" content="320">
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,minimum-scale=1,shrink-to-fit=no"/>
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <title>
      <%= raw t("analytics.page_title") %>
    </title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap" rel="stylesheet">
    <%= inline_stylesheet("user_analytics.css") %>
  </head>
  <body id="progress">
    <div class="p-fixed b-0 l-0 zi-100 w-100 p-8px bgc-blue-light bs-border-box bs-fixed-card" style="padding-bottom: 12px;">
      <a href="simple://progress-tab" class="d-block w-100 p-16px ta-center bgc-blue tt-uppercase ls-1_25px br-4px fs-16px b-none bs-primary-button bs-border-box" style="font-weight: 700; color: #ffffff;">
        Done
      </a>
    </div>
    <div id="progress-start">
      <div class="pb-96px">
        <div class="d-flex fd-column ai-center jc-center mb-32px p-16px bgc-white bs-card">
          <div class="d-flex ai-center jc-center w-96px h-96px mb-16px bgc-green-light br-100">
            <%= inline_file("check-mark-large.svg") %>
          </div>
          <h2 class="m-0px mb-8px ta-center fw-bold fs-20px c-black">
            Complete!
          </h2>
          <p class="m-0px p-0px ta-center fw-regular fs-16px lh-150 c-grey-dark">
            See stock in estimated patient days below
          </p>
        </div>
        <h3 class="m-0px p-0px pl-16px pb-12px ta-left fw-medium fs-18px c-grey" style="color: #82878F;">
          Report for end of <%= @for_end_of_month.to_s(:mon_year) %>
        </h3>
        <% @drugs_by_category.each do |category, drugs| %>
          <% patient_days = @query.patient_days_by_facility_id.dig(@current_facility.id, category, :patient_days) || 0 %>
          <div class="mb-8px p-16px bgc-white bs-card">
            <h3 class="m-0px mb-2px p-0px ta-left fw-medium fs-20px c-black">
              <%= protocol_drug_labels[category][:full] %>
            </h3>
            <p class="m-0px mb-16px p-0px ta-left fw-regular fs-16px lh-150 <%= patient_days_css_class(patient_days, prefix: "c") %>">
              <%= patient_days %> days of drug stock
            </p>
            <% drugs.each_with_index do |drug, index| %>
              <% drug_stock = @query.drugs_in_stock_by_facility_id.dig([@current_facility.id, drug.rxnorm_code]) %>
              <div class="d-flex ai-center jc-space-between">
                <p class="m-0px p-0px ta-left fw-regular fs-16px c-black">
                  <%= drug.name %> <%= drug.dosage %>
                </p>
                <p class="m-0px p-0px ta-left fw-regular fs-16px c-black">
                  <% if drug_stock.present? %>
                    <%= drug_stock %> tablets
                  <% else %>
                    &#8212;
                  <% end %>
                </p>
              </div>
              <% unless drugs.length == index + 1 %>
                <div class="h-1px mt-8px mb-8px bgc-grey-light"></div>
              <% end %>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>
  </body>
</html>