<!DOCTYPE html>
<html lang="en" style="scroll-behavior: auto;">
<head>
  <meta charset="utf-8">
  <meta name="HandheldFriendly" content="True">
  <meta name="MobileOptimized" content="320">
  <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,minimum-scale=1,shrink-to-fit=no"/>
  <meta name="apple-mobile-web-app-capable" content="yes"/>
  <title><%= raw t("analytics.page_title") %></title>

  <%= inline_stylesheet("user_analytics.css") %>
</head>

<body id="progress">
  <div id="progress-start" class="progress-body">
    <div class="progress-contents">

      <a href="#" title="Go Back" class="help-back">
        <%= inline_svg("icon_back.svg") %>
      </a>
      
      <div class="card" style="margin-top: 100px; text-align: center;">
        <div style="padding: 40px 0 20px 0;"><%= inline_svg("check.svg") %></div>
        <p>We automatically estimated how many days of drug stock remain, based on the number of patients registered at your facility.</p>
      </div>

      <h3>For end of <%= @for_end_of_month %></h3>
      <% facility_report = @report[:facilities][current_facility.id] %>

      <% @drugs_by_category.each do |category, drugs| %>
        <% patient_days = facility_report.dig(category, :patient_days) %>

        <div class="card">
          <h3 style="margin-bottom: 8px;"><%= protocol_drug_labels[category][:full] %></h3>
          <span class="<%= patient_days_css_class(patient_days, prefix: "text") %>"><%= patient_days %> days of drug stock</span>

          <% drugs.each do |drug| %>
            <% drug_stock = facility_report.dig(category, :drug_stocks, drug.id) %>

            <div class="card-row">
              <span class="light float-right"><%= drug_stock.in_stock %> tablets</span>
              <h6><%= drug.name %> <%= drug.dosage %> </h6>
            </div>

          <% end %>

        </div>
      <% end %>
    </div>
  </div>
</body>