<!DOCTYPE html>
<html lang="en" style="scroll-behavior: auto;">
  <head>
    <meta charset="utf-8">
    <meta name="HandheldFriendly" content="True">
    <meta name="MobileOptimized" content="320">
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,minimum-scale=1,shrink-to-fit=no"/>
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <title>
      <%= raw t("analytics.page_title") %>
    </title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <%= inline_stylesheet("user_analytics.css") %>
  </head>
  <body id="progress">
    <div id="progress-start" class="progress-body">
        <div id="drug-stock-form">
          <div class="p-16px bgc-white bs-card">
            <a href="simple://progress-tab" title="Go back to progress" class="d-block mb-24px">
              <div class="d-inline-block">
                <%= inline_file("chevron-left.svg") %>
              </div>
            </a>
            <h2 class="m-0px mb-8px fw-bold c-black">
              Drug stock report
            </h2>
            <p class="m-0px mb-8px p-0px ta-left fw-regular fs-16px lh-150 c-grey-dark">
              Enter the tablets in stock at the end of a month
            </p>
            <div class="d-flex ai-center mb-8px">
              <div class="d-inline-block mr-12px">
                <%= inline_file("check-mark.svg") %>
              </div>
              <p class="m-0px p-0px ta-left fw-regular fs-16px c-grey-dark">
                Enter the number of tablets for each drug
              </p>
            </div>
            <div class="d-flex ai-center mb-8px">
              <div class="mr-12px">
                <%= inline_file("check-mark.svg") %>
              </div>
              <p class="m-0px p-0px ta-left fw-regular fs-16px c-grey-dark">
                Leave black if you don't know an amount
              </p>
            </div>
            <div class="d-flex ai-center">
              <div class="mr-12px">
                <%= inline_file("check-mark.svg") %>
              </div>
              <p class="m-0px p-0px ta-left fw-regular fs-16px c-grey-dark">
                Enter "0" if a drug's stock is out
              </p>
            </div>
          </div>
          <%= bootstrap_form_with(url: webview_drug_stocks_url(format: :json), method: :post, autocomplete: "off", label_errors: true) do |form| %>
            <%= form.hidden_field :facility_id, value: current_facility.id %>
            <%= form.hidden_field :user_id, value: current_user.id %>
            <%= form.hidden_field :access_token, value: current_user.access_token %>
            <div class="form-group">
              <div class="form-row">
                <% choices = last_n_months(n: 6, inclusive: @show_current_month).map { |d| [d.to_date.to_s(:mon_year), d.to_date.to_s(:mon_year)] }
                %>
                <%= form.select :for_end_of_month, choices, { selected: @for_end_of_month.to_date.to_s(:mon_year) }, { id: "for_end_of_month", class: "card-dropdown" } %>
              </div>
            </div>
            <% @protocol_drugs.each_with_index do |protocol_drug, index| %>
              <%= form.fields_for "drug_stocks[#{index}]", DrugStock.new do |drug_stock_form| %>
                <%= drug_stock_form.hidden_field :protocol_drug_id, value: protocol_drug.id %>
                <div class="form-group">
                    <label>
                      <%= "#{protocol_drug.name} #{protocol_drug.dosage}"%> tablets
                    </label>
                    <div class="form-row">
                      <div class="col">
                        <%= drug_stock_form.number_field :received, class: :received, value: @drug_stocks[protocol_drug.id].try(&:received), hide_label: true, help: "Received this month" %>
                      </div>
                      <div class="col">
                        <%= drug_stock_form.number_field :in_stock, class: :in_stock, value: @drug_stocks[protocol_drug.id].try(&:in_stock), hide_label: true, help: "Stock on hand" %>
                      </div>
                    </div>
                </div>
              <% end %>
            <% end %>
            <div class="redistribution-question">
              <div class="redistribution-switch-label">
                <label for="redistribution-fields-toggle">
                  Did your facility issue drugs to other facilities this month?
                </label>
              </div>
              <div class="redistribution-switch-wrapper">
                <input type="checkbox" id="redistribution-fields-toggle" class="switch" <%= "checked" if @drug_stocks.values.map(&:redistributed).any? %> />
              </div>
            </div>
            <div id="redistribution-fields">
              <% @protocol_drugs.each_with_index do |protocol_drug, index| %>
                <%= form.fields_for "drug_stocks[#{index}]", DrugStock.new do |drug_stock_form| %>
                  <%= drug_stock_form.hidden_field :protocol_drug_id, value: protocol_drug.id %>

                  <div class="form-group">
                    <label><%= "#{protocol_drug.name} #{protocol_drug.dosage}"%> tablets</label>
                    <div class="form-row">
                      <div style="width: 95%">
                        <%= drug_stock_form.number_field :redistributed,
                            class: :redistributed,
                            value: @drug_stocks[protocol_drug.id].try(&:redistributed),
                            hide_label: true,
                            help: "Stock issued to other facilities" %>
                      </div>
                    </div>
                  </div>
                <% end %>
              <% end %>
            </div>
            <div class="button-fixed-bottom">
              <%= form.button "SAVE", class: "button" %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </body>
  <script type="text/javascript" charset="utf-8">
    window.addEventListener("load", function() {
      let monthSelect = document.getElementById("for_end_of_month");
      monthSelect.addEventListener("change", function(e) {
        window.location.href = location.origin + location.pathname + location.search + "&for_end_of_month=" + encodeURIComponent(monthSelect.value);
      });

      let redistributionFieldsToggle = document.getElementById("redistribution-fields-toggle")
      let redistributionFields = document.getElementById("redistribution-fields")

      function showRedistributionFields(show) {
        redistributionFields.style.display = show ? "block" : "none";
      }

      redistributionFieldsToggle.onchange = function(e) {
        showRedistributionFields(e.target.checked);
      }

      showRedistributionFields(redistributionFieldsToggle.checked);
    })
  </script>
</html>
