<div id="dr-rai--progress">
  <div class="actions-block">
    <div class="actions-header">
      <h4>Action plans</h4>
      <% quarterlies.each do |period, info| %>
        <%# TODO: Do a JS which moves the "action-header-selected" onClick %>
        <%= link_to human_readable(period), "#{request.path}?#{request.query_parameters.merge(selected_quarter: period.value.to_s).to_param}", class: classes_for_period(period) %>
      <% end %>
      <button class="actions-header-add-action" type="button" data-toggle="canvas" data-target="#action-plan-offcanvas" aria-expanded="false" aria-controls="action-plan-offcanvas">&#x2b; Add an action</button>
    </div>

    <% if period_goals.present? %>
      <% period_goals.each do |goal| %>
        <div class="action-progress-block">
          <div class="progress-options">
            <button targetpopover="progress-options">
              <i class="fa-solid fa-ellipsis"></i>
            </button>
            <%# <div class="popover" popover="manual" id="progress-options"> %>
              <%#   <ul> %>
                <%#     <li class="edit">Edit</li> %>
                <%#     <hr /> %>
                <%#     <li class="delete">Delete</li> %>
                <%#   </ul> %>
              <%# </div> %>
          </div>
          <div>
            <h3>Call 1,000 overdue patients by <%= end_of(selected_period) %></h3>
          <ul>
            <li>
              <p>Man a stand at Holi festival event near town hall - 15th Mar</p>
            </li>
            <li>
              <p>Provide phone data for overdue calling</p>
            </li>
            <li>
              <p>Test Whatsapp messaging with patients that have 2 calls with no answer</p>
            </li>
          </ul>
          </div>
          <div class="progress-right-col">
            <p class="progress-statement">0 of 1200 overdue patients</p>
            <div class="progress-bar">
              <div class="progress-bar-fill" style="width: 89%">
                <span class="progress-number progress-number-over-88-percent">89%</span>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    <% else %>
      <div class="empty-goals-block">
        <p class="empty-goals-message">
        Add an action for <%= start_of(selected_period) %> to <%= end_of(selected_period) %>
      </p>
      <p class="empty-goals-message">
      No actions for <%= start_of(selected_period) %> to <%= end_of(selected_period) %>
    </p>
    <button class="empty-goals-add-button" type="button" data-toggle="canvas" data-target="#action-plan-offcanvas" aria-expanded="false" aria-controls="action-plan-offcanvas">
      &#x2b; Add an action
    </button>
      </div>
    <% end %>
  </div>
</div>

<div class="sidepanel bs-canvas bs-canvas-right position-fixed bg-light h-100" tabindex="-1" id="action-plan-offcanvas">
  <div class="header">
    <p>Create action</p>
    <button class="bs-canvas-close float-left close" aria-label="Close">
      <i class="fa-solid fa-xmark-large"></i>
    </button>
  </div>
  <div class="content">
    <h1><%= start_of(selected_period) %> - <%= end_of(selected_period) %> (<%= human_readable(selected_period) %>)</h1>
  <div class="step-block" id="step-1">
    <div class="active">
      <h2>Which indicator to improve?</h2>
      <button class="link-button edit">Edit</button>
      <ul>
      <% indicators.each do |indicator| %>
        <li><button class="link-button advancer" data-indicator-type="<%= indicator.target_type %>" data-indicator-ui="<%= indicator.target_type_frontend %>" data-indicator-id=<%= indicator.id %>>Contact overdue patients</button></li>
      <% end %>
      </ul>
    </div>
    <div class='inactive d-none'>
      <p class="step-statement"></p>
    </div>
  </div>
  <div class="step-block d-none" id="step-2-percent">
    <div class='active'>
      <h2>What is the goal?</h2>
      <button class="link-button edit">Edit</button>
      <label class="goal-input-block">
        <input type="text" placeholder="Q2 goal">
        <%# Note that this could also be a unit. In some cases "patient" %>
        <span class="">%</span>
      </label>
      <p>Contact <span class="highlight">500</span> overdue patients by <%= end_of(selected_period) %></p>
      <%# The activity statement is the outcome of the goal in the last period %>
      <p class="activity-statement"><span>6%</span> overdue patients called (600 of 10,000) in <%= human_readable(selected_period.previous) %></p>
      <button class="next-button">Next</button>
    </div>
    <div class="inactive d-none">
      <%# The step statement is what we plan to achieve this period %>
      <p class="step-statement">Call 500 overdue patients by Jun 30</p>
    </div>
  </div>
  <div class="step-block d-none" id="step-2-numeric">
    <div class='active'>
      <h2>What is the goal?</h2>
      <button class="link-button edit">Edit</button>
      <label class="goal-input-block">
        <input type="text" placeholder="Q2 goal">
        <%# Note that this could also be a unit. In some cases "patient" %>
        <span class="">patients</span>
      </label>
      <p>Contact <span class="highlight">500</span> overdue patients by <%= end_of(selected_period) %></p>
      <%# The activity statement is the outcome of the goal in the last period %>
      <p class="activity-statement"><span>6%</span> overdue patients called (600 of 10,000) in <%= human_readable(selected_period.previous) %></p>
      <button class="next-button">Next</button>
    </div>
    <div class="inactive d-none">
      <%# The step statement is what we plan to achieve this period %>
      <p class="step-statement">Call 3600 overdue patients by Jun 30</p>
    </div>
  </div>
  <div class="step-block d-none" id="step-2-boolean">
    <div class='active'>
      <h2>What is the goal?</h2>
      <button class="link-button edit">Edit</button>
      <button class="next-button">Next</button>
    </div>
    <div class="inactive d-none">
      <p class="step-statement">Mark as done when completed</p>
    </div>
  </div>
  <div class="step-block d-none" id="step-3">
    <h2>What action should be taken?</h2>
    <textarea class="custom-actions-list" rows="4" placeholder="Write actions or select from list below..."></textarea>
    <p>Common actions:</p>
    <ul class="common-actions-list">
      <li><button class="link-button">Allocate staff time for calling patients</button></li>
      <li><button class="link-button">Train staff on SOP for calling overdue patients</button></li>
      <li><button class="link-button">Call 25 patients per day</button></li>
      <li classs="clicked"><button class="link-button ">Record call outcomes in Simple</button></li>
    </ul>
  </div>
  <div class="action-buttons-block">
    <button class="action-button cancel-button">Cancel</button>
    <button class="action-button save-button" disabled>Saving</button>
  </div>
  </div>
</div>

<script type="text/javascript" charset="utf-8">
  jQuery(document).ready(function($) {
    var bsDefaults = { offset: false, overlay: true, width: '450px' },
        bsMain = $('.bs-offset-main'),
        bsOverlay = $('.bs-canvas-overlay')

    const toHide = [], toReveal = []

    // Opening the offcanvas
    $('[data-toggle="canvas"][aria-expanded="false"]').on('click', function() {
      var canvas = $(this).data('target'),
          opts = $.extend({}, bsDefaults, $(canvas).data()),
          prop = $(canvas).hasClass('bs-canvas-right') ? 'margin-right' : 'margin-left'

      if (opts.width === '100%') {
        opts.offset = false
      }

      $(canvas).css('width', opts.width)
      if (opts.offset && bsMain.length) {
        bsMain.css(prop, opts.width)
      }

      $(canvas + ' .bs-canvas-close').attr('aria-expanded', "true")
      $('[data-toggle="canvas"][data-target="' + canvas + '"]').attr('aria-expanded', "true")
      if (opts.overlay && bsOverlay.length)
        bsOverlay.addClass('show')
      return false
    })

    // Closing the offcanvas
    // NOTE: When wiring this up with data, consider adding the save button
    // here, or extracting this into a function so the save button can reuse its
    // logic.
    $('.bs-canvas-close, .bs-canvas-overlay').on('click', function() {
      var canvas, aria
      if ($(this).hasClass('bs-canvas-close')) {
        canvas = $(this).closest('.bs-canvas')
        aria = $(this).add($('[data-toggle="canvas"][data-target="#' + canvas.attr('id') + '"]'))
        if (bsMain.length) {
          bsMain.css(($(canvas).hasClass('bs-canvas-right') ? 'margin-right' : 'margin-left'), '')
        }
      } else {
        canvas = $('.bs-canvas')
        aria = $('.bs-canvas-close, [data-toggle="canvas"]')
        if (bsMain.length) {
          bsMain.css({
            'margin-left': '',
            'margin-right': ''
          })
        }
      }
      canvas.css('width', '')
      aria.attr('aria-expanded', "false")
      if (bsOverlay.length) {
        bsOverlay.removeClass('show')
      }
      return false
    })

    // ===================
    // BEGIN DR. RAI LOGIC
    // ===================

    // TODO: Handle state through "step-through"
    // Here, we should be answering the questions
    //   - What state do we want to pass along from the frontend to the back?
    //   - Do we want health workers to be able to recover from halfway through?
    $('.step-block').on('step-through', (e, nextUI, targetType) => {
      const targets = ['.active', '.inactive']
      targets.forEach((target) => $(e.currentTarget).find(target).toggleClass('d-none'))
      $(e.currentTarget).find('.active').addClass('d-none')
      toReveal.push($(e.currentTarget).find('.active'))
      $(e.currentTarget).find('.inactive').removeClass('d-none')
      toHide.push($(e.currentTarget).find('.inactive'))
      const nextStep = parseInt(e.currentTarget.id.split('-')[1]) + 1
      if (nextUI === undefined) {
        $('#step-' + nextStep).removeClass('d-none')
        toHide.push($('#step-' + nextStep))
      } else {
        $('#step-' + nextStep + '-' + nextUI).removeClass('d-none')
        toHide.push($('#step-' + nextStep + '-' + nextUI))
      }
      if (nextStep === 3) {
        // FIXME: Make the styling follow the state of the button.
        // Since there's custom CSS here, this button which starts out as
        // disabled is styled as a primary button. Though this does not impact
        // functionality since a disabled button cannot be clicked, it would
        // confuse the user; thus it needs to be fixed
        $('.action-buttons-block .save-button').prop('disabled', false)
      } else {
        if (nextUI !== undefined) {
          $('#step-3').data('target-type', targetType)
        }
      }
    })

    $('.action-buttons-block .save-button').on('click', (e) => {
      // FIXME: Handle saving a goal via POST to the database.
      // This is where we do the post call to the Rails backend and handle all
      // possibilities which may arise from saving a goal
    })

    $('.step-block .next-button, .advancer').on('click', (e) => {
      $('#action-plan-offcanvas').data('indicator-id', $(e.currentTarget).data('indicator-id'))
      $(e.currentTarget)
        .closest('.step-block')
        .trigger("step-through", [
          $(e.currentTarget).data('indicator-ui'),
          $(e.currentTarget).data('indicator-type'),
        ])
    })

    $('.link-button.advancer').on('click', (e) => {
      $(e.currentTarget)
        .closest(".active")
        .siblings('.inactive')
        .children('.step-statement')
        .first()
        .text($(e.currentTarget).text())
    })

    $('.cancel-button').on('click', (e) => {
      // Clear "state"
      $('#action-plan-offcanvas').removeData('indicator-id')

      // Reset UI
      toHide.forEach((el) => el.addClass('d-none'))
      toReveal.forEach((el) => el.removeClass('d-none'))
      $('.action-buttons-block .save-button').prop('disabled', true)

      // Close the offcanvas
      $('.bs-canvas-close').trigger('click')
    })

    // A poor man's state update
    $('.common-actions-list .link-button').on('click', (e) => {
      if ($('.custom-actions-list').val() === '') {
        $('.custom-actions-list').val($(e.currentTarget).text())
      } else {
        $('.custom-actions-list').val($('.custom-actions-list').val() + "\n" + $(e.currentTarget).text())
      }
    })
  });
</script>
