<div class="card pr-0 pr-md-3">
      <div class="table-responsive table-compact">
        <table>
          <colgroup>
              <col>
              <col style="border-left: 1px solid #dce4e8;">
              <col style="border-left: 1px solid #dce4e8;">
              <col>
              <col>
              <col style="border-left: 1px solid #dce4e8;">
              <col>
              <col>
          </colgroup>
          <thead>
          <tr>
            <th rowspan="2"><h3><%= row_resource_description %></h3></th>
            <th class="row-label"><strong>Registered patients</strong></th>
            <th class="row-label" colspan="3"><strong>Follow-up patients</strong></th>
            <th class="row-label" colspan="3"><strong>New registrations</strong></th>
          </tr>

          <tr>
            <!--Registered patients-->
            <th class="row-label" style="padding-bottom: 8px;">Total</th>

            <!--Follow-up patients-->
            <% repeat_for_last(months: 3) do |month| %>
              <th class="row-label" style="padding-bottom: 8px;"><%= month.strftime("%B %Y") %></th>
            <% end %>

            <!--New registrations-->
            <% repeat_for_last(months: 3) do |month| %>
              <th class="row-label" style="padding-bottom: 8px;"><%= month.strftime("%B %Y") %></th>
            <% end %>
          </tr>

          </thead>
          <tbody>

          <tr class="row-total">
            <td class="row-title row-total">All</td>

            <!--Registered patients-->
            <td class="row-total" style="text-align: center;">
              <%= dash_if_zero(analytics.sum { |_, row| row[:total_registered_patients] || 0 }) %>
            </td>

            <!--Follow-up patients-->
            <% repeat_for_last(months: 3) do |month| %>
              <td class="row-total" style="text-align: center;">
                <%= analytics_month_totals(analytics, :follow_up_patients_by_month, month) %>
              </td>
            <% end %>

            <!--New registrations-->
            <% repeat_for_last(months: 3) do |month| %>
              <td class="row-total" style="text-align: center;">
                <%= analytics_month_totals(analytics, :registered_patients_by_month, month) %>
              </td>
            <% end %>
          </tr>

          <% policy_scope(row_resource).each do |resource| %>
            <% if analytics[resource.id].present? %>
              <tr>

                <td class="row-title">
                  <%= link_to resource.send(row_resource_display_field),
                              send(row_resource_link, resource) %>
                </td>

                <!--Registered patients-->
                <td style="text-align: center;">
                  <%= dash_if_zero(analytics.dig(resource.id, :total_registered_patients)) %>
                </td>

                <!--Follow-up patients-->
                <% repeat_for_last(months: 3) do |month| %>
                  <td style="text-align: center;">
                    <%= dash_if_zero(analytics.dig(resource.id, :follow_up_patients_by_month, month)) %>
                  </td>
                <% end %>

                <!--New registrations-->
                <% repeat_for_last(months: 3) do |month| %>
                  <td style="text-align: center;">
                    <%= dash_if_zero(analytics.dig(resource.id, :registered_patients_by_month, month)) %>
                  </td>
                <% end %>
              </tr>
            <% end %>
          <% end %>
          </tbody>
        </table>
      </div>
</div>
