<div class="card pb-4">
  <div class="row">
      <div class="col-lg-3">
            <h3>Cohort report</h3>
      </div>
      <div class="desc col-lg-9">
        <div class="key desktop">
          <div class="key-definition didntattend">Didn't attend for<br class="mobile"> follow-up visit</div>
          &nbsp;
          <div class="key-definition uncontrolled">Visited and <br class="mobile">BP &ge;&nbsp;140/90</div>
          &nbsp;
          <div class="key-definition controlled">Visited and <br class="mobile">BP &lt;&nbsp;140/90</div>
        </div>
      </div>
  </div>

  <% cohort_analytics.each_with_index do |(report_dates, analytics), index| %>
    <%
      cohort_start, report_start = report_dates

      registered = analytics[:registered]
      followed_up = analytics[:followed_up]
      defaulted = analytics[:defaulted]
      controlled = analytics[:controlled]
      uncontrolled = analytics[:uncontrolled]

      if @period == :quarter
        report_period = quarter_string(report_start)
        cohort_period = quarter_string(cohort_start)
      else
        report_period = [report_start.strftime("%b"), (report_start + 1.month).end_of_month.strftime("%b")].join("/")
        cohort_period = cohort_start.strftime("%b-%Y")
      end
    %>

    <div class="split-row <%= 'split-row-first' if index == 0 %>">
      <div class="row px-lg-0">
        <div class="col-lg-3 nowrap order-lg-1">
          <h6><%= registered %> patients registered in <%= "#{cohort_period}" %></h6>
          <div class="small light">Result from last visit in <%= report_period %></div>
        </div>
        <div class="col-lg-9 order-lg-2">
          <table class="split-bars">
            <tr>
              <% if registered > 0 %>
                <%
                  controlled_percent = (controlled.to_f / registered * 100).round
                  uncontrolled_percent = (uncontrolled.to_f / registered * 100).round
                  default_percent = (defaulted.to_f / registered * 100).round
                %>

                <td class="bar bar-1" data-toggle="tooltip" data-placement="top" data-trigger="hover focus click" title="<%= (defaulted > 0 && default_percent == 0) ? "< 1" : default_percent %>% didn't attend" style="width: <%= default_percent %>%;"><%= defaulted %></td>
                <td class="bar bar-2" data-toggle="tooltip" data-placement="top" data-trigger="hover focus click" title="<%= (uncontrolled > 0 && uncontrolled_percent == 0) ? "< 1" : uncontrolled_percent %>% visited and uncontrolled" style="width: <%= uncontrolled_percent %>%;"><%= uncontrolled %></td>
                <td class="bar bar-3" data-toggle="tooltip" data-placement="top" data-trigger="hover focus click" title="<%= (controlled > 0 && controlled_percent == 0) ? "< 1" : controlled_percent %>% visited and controlled" style="width: <%= controlled_percent %>%;"><%= controlled %></td>
              <% else %>
                <td class="bar bar-1 bar-none" style="width: 100%;">No patients</td>
              <% end %>
            </tr>
          </table>
        </div>
      </div>
    </div>
  <% end %>

  <div class="key mobile">
    <div class="row">
      <div class="col-4 key-definition didntattend">Didn't attend for follow-up visit</div>
      <div class="col-4 key-definition uncontrolled">Visited and BP &ge;&nbsp;140/90</div>
      <div class="col-4 key-definition controlled">Visited and BP &lt;&nbsp;140/90</div>
    </div>
  </div>
</div>
