<div class="card pb-4">
  <h3>Cohort report</h3>
  <div class="desc">Outcomes for patients registered 3-6 months previously:
      <div class="key">
        <div class="didntattend">Didn't attend for<br class="mobile"> follow-up visit</div>
        <div class="uncontrolled">Visited and <br class="mobile">BP &ge; 140/90</div>
        <div class="controlled">Visited and <br class="mobile">BP &lt; 140/90</div>
      </div>
  </div>

  <% @cohort_analytics.each_with_index do |(date, analytics), quarters_back| %>
    <%
      registered = analytics[:registered]
      followed_up = analytics[:followed_up]
      defaulted = analytics[:defaulted]
      controlled = analytics[:controlled]
      uncontrolled = analytics[:uncontrolled]

      is_current_quarter = (quarters_back == 0)
    %>

    <div class="split-row">
      <div class="row px-lg-0">
          <div class="col-lg-3 nowrap order-lg-3">
              <div class="bar-total float-right float-lg-none mb-n5 mb-lg-0">Outcomes for <%= registered %> patients reg. <%= "Q#{quarter(date - 3.months)} #{(date - 3.months).year}" %></div>
          </div>
          <div class="col-lg-1 nowrap order-lg-1 pt-lg-2">
              <h6<% if is_current_quarter %> class="bold"<% end %>  data-toggle="tooltip" data-placement="top" data-trigger="hover focus click" title="<%= "#{l date.to_date.beginning_of_quarter} to #{l date.to_date.end_of_quarter}" %>"><%= is_current_quarter ? "This quarter " : "Q#{quarter(date)} #{date.year}" %></h6>
          </div>
          <div class="col-lg-8 order-lg-2 pr-lg-0">

              <table class="split-bars">
                <tr>
                  <% if registered > 0 %>
                    <%
                      controlled_percent = (controlled.to_f / registered * 100).round
                      uncontrolled_percent = (uncontrolled.to_f / registered * 100).round
                      default_percent = (defaulted.to_f / registered * 100).round
                    %>

                    <td class="bar bar-1" data-toggle="tooltip" data-placement="top" data-trigger="hover focus click" title="<%= (defaulted > 0 && default_percent == 0) ? "< 1" : default_percent %>% didn't attend" style="width: <%= default_percent %>%;"><%= defaulted %></td>
                    <td class="bar bar-2" data-toggle="tooltip" data-placement="top" data-trigger="hover focus click" title="<%= (uncontrolled > 0 && uncontrolled_percent == 0) ? "< 1" : uncontrolled_percent %>% visited and uncontrolled" style="width: <%= uncontrolled_percent %>%;"><%= uncontrolled %></td>
                    <td class="bar bar-3" data-toggle="tooltip" data-placement="top" data-trigger="hover focus click" title="<%= (controlled > 0 && controlled_percent == 0) ? "< 1" : controlled_percent %>% visited and controlled" style="width: <%= controlled_percent %>%;"><%= controlled %></td>
                  <% else %>
                    <td class="bar bar-1 bar-none" style="width: 100%;">No patients</td>
                  <% end %>
                </tr>
              </table>

        </div>
      </div>
    </div>
  <% end %>
</div>
