<div class="overdue-patient">
  <div class="row">
    <div class="col-sm">
    
          <h5>
            <%= patient.full_name %>,
            <%= patient.gender.capitalize %>,
            <%= patient.current_age %>
              
            <% if high_risk %>
              <span class="high-risk">HIGH RISK</span>
            <% end %>
          </h5>
          <% if show_enrolment_date %>
            <div class="overdue-details">
              Enrolled on:
              <%= handle_impossible_registration_date(patient.device_created_at, format: "%d-%b-%Y") %><br>
            </div>
          <% end %>
          <% if show_last_interaction %>
            <div class="overdue-details">
              <%= show_last_interaction_date_and_result(patient) %>
            </div>
          <% end %>
          <% if bp = patient.latest_blood_pressure %>
            <div class="overdue-details">
              Last BP:
              <%= bp.to_s %> recorded at <%= bp.facility.name %>
              <%= rounded_time_ago_in_words(bp.device_created_at.to_date) %>
            </div>
          <% end %>
          <div class="overdue-details">
            Home:
            <% if patient.address.has_street_address? %><%= patient.address.street_address %>,<% end %>
            <%= patient.address.village_or_colony %>
          </div>
        
      </div>
      <div class="col-sm">
            
            <% if days_overdue.present? %>
                <div class="overdue-time">
                  <%= days_overdue %> days overdue
                </div>
            <% end %>
          
            <div class="form-row">
                <div class="col">
                    <% if phone_number = patient.phone_numbers.first&.number %>
                        <a href="tel:<%= phone_number %>" class="btn btn-sm btn-info btn-phone" style="min-width: 13em;"><i class="fas fa-phone" style="font-size: 80%;"></i> <%= phone_number %></a>
                      <% else %>
                        <a href="3" class="btn btn-sm btn-info disabled" style="min-width: 13em;">&lt; No mobile &gt;</a>
                      <% end %>
                </div>
                <div class="col">
                  <%= bootstrap_form_with(model: form_model) do |form| %>
                    <%= form.select :call_result,
                                    call_result_options,
                                    {
                                        prompt: "Result of follow-up...",
                                        hide_label: true
                                    },
                                    onchange: "this.form.submit();",
                                    class: "form-control-sm"
                    %>
                  
                  <% end %>
                </div>
            </div>
      </div>
  </div>
</div>
