<nav class="<%= style_class_for_environment %> d-print-none" id="navigation">
  <div class="navigation-brand">
    <%= logo_for_environment %>
  </div>

  <% if email_authentication_signed_in? %>
    <% if current_admin.accessible_facilities(:view_reports).any? || current_admin.power_user? %>
    <!-----------------
      Home
    ----------------->

		  <%= link_to(root_path, class: "nav-link #{active_controller?("my_facilities") && active_action?("index")}") do %>
        <i class="fa-regular fa-house-chimney main-menu-icon w-16px"></i> <span>Home</span>
		  <% end %>

    <!-----------------
      Reports
    ----------------->
      <%= link_to(reports_regions_path, class: "nav-link #{active_controller?("reports/regions")}") do %>
        <i class="fa-regular fa-chart-line main-menu-icon w-16px"></i> <span>Reports</span>
      <% end %>

    <!-----------------
      My Facilities
    ----------------->
      <%= link_to(my_facilities_bp_controlled_path(preserve_query_params(request.query_parameters, ["zone", "size", "facility_group"])), class: "nav-link #{active_action?("bp_controlled")} #{active_action?("bp_not_controlled")} #{active_action?("missed_visits")}") do %>
        <i class="fa-regular fa-table main-menu-icon w-16px"></i> <span>Facility trends</span>
      <% end %>

    <!-----------------
      Drug stock
    ----------------->
      <% if current_admin.drug_stocks_enabled? %>
        <%= link_to(my_facilities_drug_stocks_path(preserve_query_params(request.query_parameters, ["facility_group", "zone", "size", "for_end_of_month"])), class: "nav-link #{active_action?("drug_stocks")} #{active_action?("drug_consumption")}") do %>
          <i class="fa-regular fa-tablets main-menu-icon w-16px"></i> <span>Drug stock</span>
        <% end %>
      <% end %>

    <!-----------------
      Overdue patients
    ----------------->
      <% if current_admin.accessible_facilities(:manage_overdue_list).any? || current_admin.power_user? %>
          <%= link_to(appointments_path, class: "nav-link #{active_controller?("appointments")}") do %>
           <i class="fa-regular fa-circle-phone main-menu-icon w-16px"></i> <span>Overdue patients</span>
          <% end %>
      <% end %>

    <div class="nav-divider"></div>

    <% if current_admin.accessible_facilities(:manage).any? %>
      <%= link_to admin_deduplication_path, class: "nav-link #{active_controller?("admin/deduplicate_patients")}" do %>
        <i class="fa-regular fa-merge main-menu-icon w-16px"></i> <span>Merge duplicate patients</span>
      <% end %>
    <% end %>

    <!-----------------
      Resources
    ----------------->
      <%= link_to (resources_path), class: "nav-link #{active_controller?("resources")}" do %>
        <i class="fa-regular fa-chalkboard-teacher main-menu-icon w-16px"></i> <span>Resource &amp; training</span>
      <% end %>

    <!-----------------
    Settings
    ----------------->
          <%= link_to (settings_path), class: "nav-link #{active_controller?("settings")}" do %>
            <i class="fa-regular fa-cog main-menu-icon w-16px"></i> <span>Settings</span>
          <% end %>

      <div class="nav-divider"></div>

      <a href="https://www.simple.org/privacy/" class="sub-nav-link" target="_blank">
        Privacy policy
      </a>
      <a href="https://www.simple.org/license/" class="sub-nav-link" target="_blank">
        License
      </a>

      <% end %>
    </div>

    <!-----------------
    User
    ------------------>

    <%= link_to(destroy_email_authentication_session_path, method: :delete, class: "nav-link mobile", id: "nav-more-logout") do %>
      <i class="fas fa-user-circle main-menu-icon"></i>  <span>Logout</span>
    <% end %>

    <div class="desktop">
      <div class="nav-user">

        <%= link_to(destroy_email_authentication_session_path, method: :delete, class: "float-right", id: "nav-more-logout") do %>
          <span>Logout</span>
        <% end %>

        <%= current_admin.email %>
      </div>
    </div>
  <% end %>

  <a href="#" onclick="openMenu()" class="navigation-shim">Close</a>
  <script>
    const async = false;
    new AdminAccess("facility-access").initialize(async);

    function openMenu() {
      var element = document.getElementById("navigation");
      element.classList.toggle("navigation-open");
    }
  </script>

</nav>
</div>

<div class="mobile-header d-print-none">
    <a href="#" onclick="openMenu()" class="navigation-icon"><i class="fa-regular fa-bars pr-1"></i> MENU</a>
    <%= link_to root_path, class: "navigation-brand" do %>
      <%= logo_for_environment %>
    <% end %>
</div>
