<nav class="<%= style_class_for_environment %>">
  <div class="container">
    <%= link_to root_path, class: "navbar-brand navbar-right" do %>
      <%= logo_for_environment %>
    <% end %>
    <% if email_authentication_signed_in? %>
			<ul class="navbar-nav mr-auto">
				<% if current_admin.accessible_facilities(:view_reports).any? || current_admin.power_user? %>
					<li class="nav-item">
						<%= link_to(my_facilities_overview_path, class: "nav-link #{active_controller?("my_facilities") || active_controller?("my_facilities/drug_stocks")}") do %>
              Home
						<% end %>
					</li>
          <li class="nav-item">
            <%= link_to(reports_regions_path, class: "nav-link #{active_controller?("reports/regions")}") do %>
              Reports
            <% end %>
          </li>
				<% end %>
        <% if current_admin.accessible_facilities(:manage_overdue_list).any? || current_admin.power_user? %>
          <li class="nav-item">
            <%= link_to(appointments_path, class: "nav-link #{active_controller?("appointments")}") do %>
              Overdue
            <% end %>
          </li>
        <% end %>
				<li class="nav-item dropdown">
          <a
            id="nav-more-link"
            class="nav-link dropdown-toggle"
            href="#"
            data-toggle="dropdown"
            aria-haspopup="true"
            aria-expanded="false"
          >
            More
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <% if current_admin.power_user? || current_admin.accessible_facilities(:manage).any? %>
              <h6 class="dropdown-header">
                Settings
              </h6>
              <%= link_to (admin_facilities_path), class: "dropdown-item #{active_controller?("admin/facilities")}" do %>
                <i class="fas fa-hospital main-menu-icon"></i> Facilities
              <% end %>
              <% if current_admin.power_user? || current_admin.accessible_organizations(:manage).any? %>
                <%= link_to (admin_organizations_path), class: "dropdown-item #{active_controller?("admin/organizations")}", id: "nav-organizations-link" do %>
                  <i class="fas fa-network-wired main-menu-icon"></i> Organizations
                <% end %>
              <% end %>
              <% if current_admin.power_user? || current_admin.accessible_organizations(:manage).any? %>
                <%= link_to (admin_protocols_path), class: "dropdown-item #{active_controller?("admin/protocols")}" do %>
                  <i class="fas fa-prescription-bottle-alt main-menu-icon"></i> Mobile app medications
                <% end %>
              <% end %>
              <% if current_admin.power_user? || current_admin.accessible_facilities(:manage).any? %>
                <%= link_to (admins_path), class: "dropdown-item #{active_controller?("admins")}" do %>
                  <i class="fas fa-user-friends main-menu-icon"></i> Dashboard admins
                <% end %>
              <% end %>
              <% if current_admin.power_user? || current_admin.accessible_users(:manage).any?  %>
                <%= link_to (admin_users_path), class: "dropdown-item #{active_controller?("admin/users")}", id: "mobile-app-users" do %>
                  <i class="fas fa-user-md main-menu-icon"></i> Mobile app users
                <% end %>
              <% end %>
              <% if current_admin.power_user?  %>
                <%= link_to (new_admin_patient_import_path), class: "dropdown-item #{active_controller?("admin/patient_imports")}", id: "patient-import" do %>
                  <i class="fas fa-upload main-menu-icon"></i> Patient import
                <% end %>
              <% end %>
              <% if current_admin.power_user? %>
                <%= link_to ("/sidekiq"), class: "dropdown-item #{active_controller?("sidekiq")}" do %>
                  <i class="fas fa-running main-menu-icon"></i> Sidekiq
                <% end %>
              <% end %>
              <% if current_admin.power_user? %>
                <%= link_to ("/flipper"), class: "dropdown-item #{active_controller?("flipper")}" do %>
                  <i class="fas fa-flag main-menu-icon"></i> Flipper
                <% end %>
              <% end %>
              <% if current_admin.power_user? %>
                <%= link_to admin_error_traces_path, class: "dropdown-item #{active_controller?("admin/error_traces")}" do %>
                  <i class="fas fa-wrench main-menu-icon"></i> Error traces
                <% end %>
              <% end %>
              <% if current_admin.accessible_facilities(:manage).any? %>
                <%= link_to admin_deduplication_path, class: "dropdown-item #{active_controller?("admin/deduplicate_patients")}" do %>
                  <i class="fas fa-share-alt main-menu-icon"></i> Merge duplicate patients
                <% end %>
              <% end %>
            <% end %>
              <div class="dropdown-divider"></div>
              <h6 class="dropdown-header">
                Resources
              </h6>
              <%= link_to (resources_path), class: "dropdown-item #{active_controller?("resources")}" do %>
                <i class="fas fa-chalkboard-teacher main-menu-icon"></i> Resources &amp; training
              <% end %>
              <div class="dropdown-divider"></div>
              <h6 class="dropdown-header">
                Legal
              </h6>
              <a href="https://www.simple.org/privacy/" class="dropdown-item" target="_blank">
                <i class="fas fa-external-link-alt main-menu-icon"></i> Privacy policy
              </a>
              <a href="https://www.simple.org/license/" class="dropdown-item" target="_blank">
                <i class="fas fa-external-link-alt main-menu-icon"></i> License
              </a>
              <div class="dropdown-divider"></div>
              <h6 class="dropdown-header">
                Account
              </h6>
              <span class="dropdown-item disabled">
                <i class="fas fa-user-circle main-menu-icon"></i> <%= current_admin.email %>
              </span>
              <%= link_to(destroy_email_authentication_session_path, method: :delete, class: "dropdown-item", id: "nav-more-logout") do %>
                <i class="fas fa-door-open main-menu-icon"></i> Logout
              <% end %>
          </div>
				</li>
			</ul>
    <% end %>
  </div>
</nav>
