<nav class="<%= style_class_for_environment %> d-print-none" id="navigation">
    <%= link_to root_path, class: "navigation-brand" do %>
      <%= logo_for_environment %>
    <% end %>
    <% if email_authentication_signed_in? %>
    
    <!-----------------
      Home
    ----------------->
  		<% if current_admin.accessible_facilities(:view_reports).any? || current_admin.power_user? %>
  		  <%= link_to(my_facilities_overview_path, class: "nav-link #{active_controller?("my_facilities")}") do %>
        <i class="fas fa-home main-menu-icon"></i> <span>Home</span>
  		<% end %>
		
    <!-----------------
      Reports
    ----------------->			
      <a data-toggle="collapse" href="#facility-access" role="button" aria-expanded="false" aria-controls="facility-access" class="nav-link nav-link-dropdown">
        <i class="fas fa-chart-line main-menu-icon"></i> <span>Reports</span>
      </a>
    
   <!-----------------
      Reports tree
   ----------------->		          
      <div id="facility-access" class="nav-section collapse">
        <% @accessible_regions.each do |org, children| %>
          <% if current_admin.feature_enabled?(:organization_reports) %>
            <%= link_to(org.name, reports_region_path(org.source.slug, report_scope: org.region_type), class: "sub-nav-link") %>
          <% else %>
            <div class="sub-nav-link"><span><%= org.name %></span></div>
          <% end %>

            <%= render Reports::RegionTreeComponent.new(parent: org, children: children) %>
          </div>
        <% end %>
      </div>
            
			<% end %>
      
    <!-----------------
      Facilities
    -----------------> 
      <%= link_to(my_facilities_bp_controlled_path(preserve_query_params(request.query_parameters, ["zone", "size", "facility_group"])), class: "nav-link #{active_action?("bp_controlled")}") do %>
        <i class="fas fa-table main-menu-icon"></i> <span>Facilities tables</span>
      <% end %>
    
    <!-----------------
      Drug stock
    ----------------->  
    <a data-toggle="collapse" href="#nav-drug_stocks" role="button" aria-expanded="false" aria-controls="nav-drug_stocks" class="nav-link nav-link-dropdown <% active_controller?("my_facilities/drug_stocks") %>">
      <i class="fas fa-tablets main-menu-icon"></i> <span>Drug stock</span>
    </a>
    
    <div id="nav-drug_stocks" class="nav-section collapse">
      
      <% if current_admin.drug_stocks_enabled? %>
      
        <%= link_to(my_facilities_drug_stocks_path(preserve_query_params(request.query_parameters, ["facility_group", "zone", "size", "for_end_of_month"])), class: "sub-nav-link #{active_action?("drug_stocks")}") do %>
          Drug stock-on-hand
        <% end %>
      
        <%= link_to(my_facilities_drug_consumption_path(preserve_query_params(request.query_parameters, ["facility_group", "zone", "size", "for_end_of_month"])), class: "sub-nav-link #{active_action?("drug_consumption")}") do %>
            Drug consumption
        <% end %>
      <% end %>
    </div>
    
    <!-----------------
      Overdue patients
    ----------------->     
      <% if current_admin.accessible_facilities(:manage_overdue_list).any? || current_admin.power_user? %>
          <%= link_to(appointments_path, class: "nav-link #{active_controller?("appointments")}") do %>
           <i class="fas fa-phone main-menu-icon"></i> <span>Overdue patients</span>
          <% end %>
      <% end %>
      
    <div class="nav-divider"></div>
    
    <!-----------------
      Training
    ----------------->
      <%= link_to (resources_path), class: "nav-link #{active_controller?("resources")}" do %>
        <i class="fas fa-chalkboard-teacher main-menu-icon"></i> <span>Training materials</span>
      <% end %>
		
    <!-----------------
      Settings
    ----------------->	
      <a data-toggle="collapse" href="#nav-settings" role="button" aria-expanded="false" aria-controls="nav-settings" class="nav-link nav-link-dropdown">
        <i class="fas fa-cog main-menu-icon"></i> <span>Settings</span>
      </a>
      
      <div id="nav-settings" class="nav-section collapse">    
        <% if current_admin.power_user? || current_admin.accessible_facilities(:manage).any? %>
        <%= link_to (admin_facilities_path), class: "sub-nav-link #{active_controller?("admin/facilities")}" do %>
            Facilities
        <% end %>
        <% if current_admin.power_user? || current_admin.accessible_organizations(:manage).any? %>
          <%= link_to (admin_organizations_path), class: "sub-nav-link #{active_controller?("admin/organizations")}", id: "nav-organizations-link" do %>
            Organizations
          <% end %>
        <% end %>
        <% if current_admin.power_user? || current_admin.accessible_organizations(:manage).any? %>
          <%= link_to (admin_protocols_path), class: "sub-nav-link #{active_controller?("admin/protocols")}" do %>
            Mobile app medications
          <% end %>
        <% end %>
        <% if current_admin.power_user? || current_admin.accessible_facilities(:manage).any? %>
          <%= link_to (admins_path), class: "sub-nav-link #{active_controller?("admins")}" do %>
            Dashboard admins
          <% end %>
        <% end %>
        <% if current_admin.power_user? || current_admin.accessible_users(:manage).any?  %>
          <%= link_to (admin_users_path), class: "sub-nav-link #{active_controller?("admin/users")}", id: "mobile-app-users" do %>
            Mobile app users
          <% end %>
        <% end %>
        <% if current_admin.power_user?  %>
          <%= link_to (new_admin_patient_import_path), class: "sub-nav-link #{active_controller?("admin/patient_imports")}", id: "patient-import" do %>
            Patient import
          <% end %>
        <% end %>
        
        <% if current_admin.power_user? %>
        <div class="nav-divider"></div>
        <% end %>
        
        <% if current_admin.power_user? %>
          <%= link_to ("/sidekiq"), class: "sub-nav-link #{active_controller?("sidekiq")}" do %>
            Sidekiq
          <% end %>
        <% end %>
        <% if current_admin.power_user? %>
          <%= link_to ("/flipper"), class: "sub-nav-link #{active_controller?("flipper")}" do %>
            Flipper
          <% end %>
        <% end %>
        <% if current_admin.power_user? %>
          <%= link_to admin_error_traces_path, class: "sub-nav-link #{active_controller?("admin/error_traces")}" do %>
            Error traces
          <% end %>
        <% end %>
        <% if current_admin.accessible_facilities(:manage).any? %>
          <%= link_to admin_deduplication_path, class: "sub-nav-link #{active_controller?("admin/deduplicate_patients")}" do %>
            Merge duplicate patients
          <% end %>
        <% end %>
      <% end %>
      
      <div class="nav-divider"></div>
      
      <a href="https://www.simple.org/privacy/" class="sub-nav-link" target="_blank">
        Privacy policy
      </a>
      <a href="https://www.simple.org/license/" class="sub-nav-link" target="_blank">
        License
      </a>
          
      <% end %>
    </div>
    
    <!-----------------
    User
    ------------------>
    
    <%= link_to(destroy_email_authentication_session_path, method: :delete, class: "nav-link mobile", id: "nav-more-logout") do %>
      <i class="fas fa-user-circle main-menu-icon"></i>  <span>Logout</span>
    <% end %>
    
    <div class="desktop">
      <div class="nav-user">
        
        <%= link_to(destroy_email_authentication_session_path, method: :delete, class: "float-right", id: "nav-more-logout") do %>
          <span>Logout</span>
        <% end %>
      
        <%= current_admin.email %>
      </div>
    </div>
    
  </div>
  <a href="#" onclick="openMenu()" class="navigation-shim">Close</a>
  <script>
    const async = false;
    new AdminAccess("facility-access").initialize(async);
    
    function openMenu() {
      var element = document.getElementById("navigation");
      element.classList.toggle("navigation-open");
    }
  </script>

    </div>
</nav>

<div class="mobile-header">
    <a href="#" onclick="openMenu()" class="navigation-icon">MENU</a>
    <%= link_to root_path, class: "navigation-brand" do %>
      <%= logo_for_environment %>
    <% end %>
</div>