<div class="card">
  <div class="table-responsive table-compact">
    <table>
      <thead>
        <tr>
            <th colspan="2" class="pl-1"><h3>Recent BPs</h3></th>  
            <th class="pl-1">BP</th>
            <th class="pl-1">Patient</th>
            <th class="pl-1">Recorded by</th>
        </tr>  
      </thead>
      <% last_date = nil %>
      <% blood_pressures.each do |bp| %>
        <tr>
          <td class="nowrap">
            <strong>
            <% if bp.recorded_at.to_date != last_date %>
              <%= l bp.recorded_at.to_date %>
              <% last_date = bp.recorded_at.to_date %>
            <% end %>
            </strong>
          </td>
          <td class="nowrap text-muted"><%= bp.recorded_at.strftime("%I:%M %p") %></td>
          <td class="nowrap <%= bp.hypertensive? ? "bp-uncontrolled" : "bp-controlled text-muted" %>"><i class="fas fa-heart mr-2"></i> <%= bp.to_s %></td>
          <td class="nowrap">
            <% if bp.recorded_at.to_date > bp.patient.recorded_at.to_date %>
              <span class="patient-return text-muted">Return patient</span>
            <% else %>
              <span class="patient-new">New registration</span>
            <% end %>
          </td>
          <td class="nowrap"><%= bp.user.present? ? bp.user.full_name : "unknown" %></td>
        </tr>

      <% end %>
    </table>
  </div>
</div>
