<div class="card">
  <h3>Recent BPs</h3>
  <div class="table-responsive table-compact">
    <table>
      <thead>
        <tr>
            <th colspan="2" class="pl-0 pb-3" style="font-weight: normal;">A log of all recent BPs recorded at this facility.</th>
            <th class="pl-1 pb-3">BP</th>
            <th class="pl-1 pb-3">Patient</th>
            <th class="pl-1 pb-3">Recorded by</th>
        </tr>
      </thead>
      <% last_date = nil %>
      <% blood_pressures.each do |bp| %>
        <% if print_date = (bp.recorded_at.to_date != last_date) %>
          <% last_date = bp.recorded_at.to_date %>
        <% end %>
        <tr class="<%= "date-row" if print_date %>">
          <td class="nowrap" style="width: 10em;">
            <% if print_date %>
              <strong>
                <%= l bp.recorded_at.to_date %>
              </strong>
            <% end %>
          </td>
          <td class="nowrap text-muted"><%= bp.recorded_at.strftime("%I:%M %p") %></td>
          <td class="nowrap <%= bp.hypertensive? ? "bp-uncontrolled" : "bp-controlled text-muted" %>"><i class="fas fa-heart mr-2"></i> <%= bp.to_s %></td>
          <td class="nowrap">
            <% if bp.recorded_at.to_date > bp.patient.recorded_at.to_date %>
              <span class="patient-return text-muted">Return patient</span>
            <% else %>
              <span class="patient-new">New registration</span>
            <% end %>
          </td>
          <td class="nowrap"><%= bp.user.present? ? link_to(bp.user.full_name, [:admin, bp.user]) : "unknown" %></td>
        </tr>

      <% end %>
    </table>
  </div>
</div>
