<div class="typeahead">
  <%= search_field_tag :search_query,
                       nil,
                       id: :search_query,
                       class: "typeahead-input form-control mb-1",
                       hide_label: true,
                       placeholder: placeholder,
                       onkeyup: "debouncedSearch(this)",
                       autocomplete: "off" %>
  <div class="typeahead-dropdown"></div>
  <div class="typeahead-spinner">
    <div class="spinner-border text-primary"></div>
  </div>
</div>

<script>
  function emptyTypeahead() {
    $(".typeahead-dropdown").empty();
    $(".typeahead-input").val("");
  }

  function resultsJSONToHTML(results) {
    return results.map(function (result) {
      return <%= search_result_to_row %>(result);
    })
  }

  function noResultsHTML(searchQuery) {
    return <%= no_results_message %>(searchQuery)
  }

  function searchResultsToHTML(searchQuery, results) {
    return results.length ? resultsJSONToHTML(results) : noResultsHTML(searchQuery);
  }

  function populateDropdown(body) {
    $(".typeahead .typeahead-dropdown").html(body);
  }

  function populateSearchResults(searchQuery, response) {
    let filteredResults = <%= json_transformer %>(response);
    let results = searchResultsToHTML(searchQuery, filteredResults);

    populateDropdown(results);
  }

  function search(e) {
    let searchQuery = e.value;
    showSpinner();
    $.ajax({
      url: "<%= url %>",
      data: {"search_query": searchQuery},
      success: (res) => {
        populateSearchResults(searchQuery, res)
      }
    });
  }

  function debounce(func, wait = 500) {
    let timeout;
    return function (...args) {
      const later = () => {
        clearTimeout(timeout);
        func(...args);
      };

      clearTimeout(timeout);
      timeout = setTimeout(later, wait);
    };
  }

  let debouncedSearch = debounce(search);

  function showSpinner() {
    let spinner = $(".typeahead-spinner").first().clone();
    spinner.css({display: "block"});

    populateDropdown(spinner);
  }
</script>
