<% if @users_requesting_approval.any? %>
  <h3><%= pluralize(@users_requesting_approval.count || 0, "user") %> waiting for access</h3>

  <% @users_requesting_approval.each do |user| %>
    <% if policy(user).enable_access? %>
      <div class="card mb-3">
        <div class="card-body">
          <div class="row">
            <div class="col-lg-3">

              <strong style="margin-top: -4px; display: block;"><%= link_to user.full_name, admin_user_path(user) %></strong>
              <% if user.sync_approval_status_reason.present? %>
                <span class="approval-reason"><%= user.sync_approval_status_reason %></span>
              <% end %>

            </div>
            <div class="col">
              <div class="row tight">
                <div class="col">

                  <small>Mobile: <a href="tel:<%= user.phone_number %>"><%= user.phone_number %></a></small>
                </div>
                <div class="col tight">
                  <small>
                    Facility: <%= user.registration_facility.present? ? link_to(user.registration_facility.name, admin_facilities_path(user.registration_facility)) : "N/A" %>
                  </small>
                </div>
              </div>
            </div>
            <div class="col-lg-4 text-lg-right">
              <%= link_to "Allow access", admin_user_enable_access_path(user), method: :put, class: "btn btn-sm btn-success", data: { confirm: I18n.t('admin.enable_access_alert') } %>
              <%= link_to 'Deny access', '#deny-access-modal-' + user.id, 'data-toggle' => 'modal', class: "btn btn-sm btn-outline-danger" %>

              <%= render partial: "admin/users/deny_access_modal", locals: { user: user } %>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  <% end %>
<% end %>

