<% grouped = @district_reports.group_by { |district, _| district.state }.sort_by { |state, _| state } %>
<div class="district-drug-consumption-table mb-5">
  <div class="table-responsive">
    <table class="mt-4 table table-compact table-hover analytics-table">
      <colgroup>
        <col>
        <col>
        <% first_report_with_drugs = @district_reports.values.find { |data| data[:drugs_by_category].present? } %>
        <% drugs_by_category = first_report_with_drugs&.dig(:drugs_by_category) || {} %>

        <% if drugs_by_category.present? %>
          <% drugs_by_category.each do |_, drugs| %>
            <% (drugs || []).each_with_index do |_drug, index| %>
              <col class="<%= "table-divider" if index.zero? %>">
            <% end %>
          <% end %>
        <% end %>

        <%# Columns for base doses %>
        <% (drugs_by_category || {}).each_with_index do |(_drug_category, _drugs), index| %>
          <col class="<%= "table-divider" if index.zero? %>">
        <% end %>
      </colgroup>

      <thead>
        <%# --- Category Headers --- %>
        <tr>
          <th></th>
          <th></th>
          <% if drugs_by_category.present? %>
            <% drugs_by_category.each do |drug_category, drugs| %>
              <th colspan="<%= (drugs || []).count %>"><%= protocol_drug_labels[drug_category]&.dig(:full) %></th>
            <% end %>
            <%# Base doses header %>
            <th colspan="<%= drugs_by_category.count %>">Overall in base doses</th>
          <% end %>
        </tr>

        <%# --- Column Headers --- %>
        <tr data-sort-method="thead" class="sorts">
          <th class="row-label sort-label sticky" data-sort-default>Districts</th>
          <th class="row-label sort-label sticky" data-sort-method="number">Patients <br/> under <br/> care</th>

          <% if drugs_by_category.present? %>
            <% drugs_by_category.each do |_drug_category, drugs| %>
              <% (drugs || []).each do |drug| %>
                <th class="row-label sort-label row-medicine sticky"
                    data-sort-method="number"
                    data-sort-column-key="<%= drug.id %>">
                  <%= drug.name %><br>
                  <%= drug.dosage %>
                </th>
              <% end %>
            <% end %>

            <%# Base doses column headers %>
            <% drugs_by_category.each do |drug_category, _drugs| %>
              <th class="row-label sort-label sticky" data-sort-method="number" data-sort-column-key="<%= "#{drug_category}_base_doses" %>">
                <%= protocol_drug_labels[drug_category]&.dig(:short) %><br> base doses
              </th>
            <% end %>
          <% end %>
        </tr>
      </thead>

      <%# --- All States Total Row --- %>
      <% all_totals = Hash.new(0) %>
      <% all_base_totals = Hash.new(0) %>
      <% all_patient_count = 0 %>
      <% @district_reports&.each do |_, data| %>
        <% report = data[:report] %>
        <% all_patient_count += report[:district_patient_count].to_i %>

        <% drugs_by_category.each do |drug_category, drugs| %>
          <% (drugs || []).each do |drug| %>
            <% consumed = report[:total_drug_consumption]&.dig(drug_category, drug, :consumed) %>
            <% all_totals[drug.id] += consumed.to_i if consumed.present? && consumed != "error" %>
          <% end %>
          <%# Base doses %>
          <% total_base = report[:total_drug_consumption]&.dig(drug_category, :base_doses, :total) %>
          <% all_base_totals[drug_category] += total_base.to_i if total_base.present? && total_base != "error" %>
        <% end %>
      <% end %>

      <tr class="row-total font-weight-bold warning" data-sort-method="none">
        <td class="type-title"
            data-html="true"
            data-toggle="tooltip"
            data-placement="top"
            data-trigger="hover focus click"
            data-original-title='<%= "All States: #{all_totals.values.sum} units, #{all_patient_count} patients" %>'>
          All
        </td>
        <td class="type-number text-center" data-sort-value="<%= all_patient_count %>">
          <%= all_patient_count.positive? ? all_patient_count : '0' %>
        </td>

        <% if drugs_by_category.present? %>
          <% drugs_by_category.each do |_, drugs| %>
            <% (drugs || []).each do |drug| %>
              <% consumed = all_totals[drug.id] %>
              <td class="<%= consumed.zero? ? 'type-blank' : 'type-number text-center' %>" data-sort-value="<%= consumed %>">
                <%= consumed.zero? ? '&#8212;'.html_safe : consumed %>
              </td>
            <% end %>
          <% end %>

          <%# Base doses totals %>
          <% drugs_by_category.each do |drug_category, _drugs| %>
            <% base_total = all_base_totals[drug_category] %>
            <td class="<%= base_total.zero? ? 'type-blank' : 'type-number text-center' %>" data-sort-value="<%= base_total %>">
              <%= base_total.zero? ? '&#8212;'.html_safe : base_total %>
            </td>
          <% end %>
        <% end %>
      </tr>

      <%# --- State & District Rows --- %>
      <% grouped.each do |state, districts| %>
        <% state_totals = Hash.new(0) %>
        <% state_base_totals = Hash.new(0) %>
        <% state_patient_count = 0 %>

        <% districts.each do |_, data| %>
          <% report = data[:report] %>
          <% state_patient_count += report[:district_patient_count].to_i %>

          <% drugs_by_category.each do |drug_category, drugs| %>
            <% (drugs || []).each do |drug| %>
              <% consumed = report[:total_drug_consumption]&.dig(drug_category, drug, :consumed) %>
              <% state_totals[drug.id] += consumed.to_i if consumed.present? && consumed != "error" %>
            <% end %>
            <% base_total = report[:total_drug_consumption]&.dig(drug_category, :base_doses, :total) %>
            <% state_base_totals[drug_category] += base_total.to_i if base_total.present? && base_total != "error" %>
          <% end %>
        <% end %>

        <tbody class="state-group">
          <%# State subtotal row %>
          <tr class="row-total font-weight-bold warning" data-sort-method="none">
            <td class="type-title"
                data-html="true"
                data-toggle="tooltip"
                data-placement="top"
                data-trigger="hover focus click"
                data-original-title='<%= "#{state}: #{state_totals.values.sum} units, #{state_patient_count} patients" %>'>
              <%= state %><br><span> subtotal </span>
            </td>
            <td class="type-number text-center" data-sort-value="<%= state_patient_count %>">
              <%= state_patient_count.positive? ? state_patient_count : '0' %>
            </td>

            <% drugs_by_category.each do |_, drugs| %>
              <% (drugs || []).each do |drug| %>
                <% consumed = state_totals[drug.id] %>
                <td class="<%= consumed.zero? ? 'type-blank' : 'type-number text-center' %>" data-sort-value="<%= consumed %>">
                  <%= consumed.zero? ? '&#8212;'.html_safe : consumed %>
                </td>
              <% end %>
            <% end %>

            <% drugs_by_category.each do |drug_category, _drugs| %>
              <% base_total = state_base_totals[drug_category] %>
              <td class="<%= base_total.zero? ? 'type-blank' : 'type-number text-center' %>" data-sort-value="<%= base_total %>">
                <%= base_total.zero? ? '&#8212;'.html_safe : base_total %>
              </td>
            <% end %>
          </tr>

          <%# District rows --- sortable %>
          <% districts.each do |district, data| %>
            <% report = data[:report] %>
            <tr class="type-number district-row">
              <td class="type-title"
                  data-html="true"
                  data-toggle="tooltip"
                  data-placement="top"
                  data-trigger="hover focus click"
                  data-original-title='<%= "#{district.name}: #{report[:district_patient_count]} patients" %>'>
                <a href="<%= my_facilities_drug_consumption_path(facility_group: district.slug, for_end_of_month: @for_end_of_month_display) %>" target="_blank">
                  <%= district.name %>
                </a>
              </td>
              <td class="type-number text-center" data-sort-value="<%= report[:district_patient_count].to_i %>">
                <%= report[:district_patient_count].present? ? report[:district_patient_count] : '<span class="type-blank">?</span>'.html_safe %>
              </td>

              <% drugs_by_category.each do |drug_category, drugs| %>
                <% (drugs || []).each do |drug| %>
                  <% consumed = report[:total_drug_consumption]&.dig(drug_category, drug, :consumed) %>
                  <% if consumed == "error" %>
                    <td class="type-blank"><span>?</span></td>
                  <% elsif consumed.nil? %>
                    <td class="type-blank"><span>&#8212;</span></td>
                  <% else %>
                    <td class="type-number text-center"
                        data-html="true"
                        data-toggle="tooltip"
                        data-placement="top"
                        data-trigger="hover focus click"
                        data-original-title="<%= render 'drug_consumption_tooltip', report: report[:total_drug_consumption][drug_category][drug] %>"
                        data-sort-value="<%= consumed %>"
                        data-sort-column-key="<%= drug&.id %>">
                      <%= consumed %>
                    </td>
                  <% end %>
                <% end %>
                <%# Base doses column for this category %>
                <% base_total = report[:total_drug_consumption]&.dig(drug_category, :base_doses, :total) %>
                <td class="<%= base_total.nil? || base_total == 0 ? 'type-blank' : 'type-number text-center' %>" data-sort-value="<%= base_total.to_i %>">
                  <%= base_total.present? && base_total != "error" ? base_total : '&#8212;'.html_safe %>
                </td>
              <% end %>
            </tr>
          <% end %>
        </tbody>
      <% end %>
    </table>
  </div>
</div>

-<%# --- Legend --- %>
-<div class="d-flex align-center">
-  <em class="h-16px w-16px mr-8px b-2px bg-red br-8px"></em>
-  <p class="fs-12px lh-1 c-grey-dark mt-2 mb-2">&lt;30 patients days of stock</p>
-</div>
-<div class="d-flex align-center">
-  <em class="h-16px w-16px mr-8px b-2px bg-orange br-8px"></em>
-  <p class="fs-12px lh-1 c-grey-dark mt-2 mb-2">&lt;60 patients days of stock</p>
-</div>
-<div class="d-flex align-center">
-  <em class="h-16px w-16px mr-8px b-2px bg-yellow br-8px"></em>
-  <p class="fs-12px lh-1 c-grey-dark mt-2 mb-2">&lt;90 patients days of stock</p>
-</div>
-<div class="d-flex align-center">
-  <em class="h-16px w-16px mr-8px bg-green br-8px"></em>
-  <p class="fs-12px lh-1 c-grey-dark mt-2 mb-2">&gt;90 patients days of stock</p>
-</div>
-

<script>
document.addEventListener("DOMContentLoaded", function() {
  document.querySelectorAll("th[data-sort-column-key]").forEach(function(header) {
    header.addEventListener("click", function() {
      const columnIndex = Array.from(header.parentNode.children).indexOf(header);

      document.querySelectorAll("tbody.state-group").forEach(function(tbody) {
        const subtotalRow = tbody.querySelector(".row-total");
        const districtRows = Array.from(tbody.querySelectorAll(".district-row"));
        const currentOrder = tbody.dataset.sortOrder || "asc";

        const sortedRows = districtRows.sort(function(a, b) {
          const aValue = parseFloat(a.children[columnIndex]?.dataset.sortValue || 0);
          const bValue = parseFloat(b.children[columnIndex]?.dataset.sortValue || 0);
          return currentOrder === "asc" ? bValue - aValue : aValue - bValue;
        });

        tbody.dataset.sortOrder = currentOrder === "asc" ? "desc" : "asc";

        tbody.innerHTML = "";
        tbody.appendChild(subtotalRow);
        sortedRows.forEach(row => tbody.appendChild(row));
      });
    });
  });
});
</script>
