<div>
  <% return nil if report.nil? || report[:total] == "error" %>

  <% report[:drugs].each_with_index do |drug, i| %>
    <span class='math'><%= '+' unless i == 0 %><%= drug[:consumption] %>*<%= drug[:coefficient] %></span>
    <%= drug[:name] %>
    <br>
  <% end %>
  <span class='math'>=<%= report[:total] %></span>Base doses
</div>
