<div class="modal fade" id=<%= "DrugReportModal-#{facility.id}" %> tabindex="-1" role="dialog" aria-labelledby="Drug Report" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h2 class="modal-title" id="exampleModalLabel">Drug stock report</h2>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true"><i class="fas fa-times"></i></span>
        </button>
      </div>
      <div class="modal-body">
        <div class="form-group">
          <label> Facility: </label>
          <span> <%= facility.name %> </span>
        </div>
        <div class="form-group">

          <label for="medicationDate">Date</label>

          <input type="date" class="form-control" id="medicationDate" value="" max=""></input>


          <script>

              var today = new Date();

              var dateTime = today.getFullYear() + '-' + (today.getMonth() + 1) + '-' + today.getDate();

              document.getElementById("medicationDate").value = dateTime;
              document.getElementById("medicationDate").max = dateTime;

          </script>

        </div>
        <h3 class="pt-4">Tablets</h3>
        <p>Leave blank if unknown. Enter "0" if stock is empty.</p>

        <% facility.protocol.protocol_drugs.where(stock_tracked: true).each do |protocol_drug| %>
          <div class="form-group mt-4">
            <label>
              <%= "#{protocol_drug.name} #{protocol_drug.dosage}" %>
            </label>
            <div class="form-row">
              <div class="col">
                <input type="number" class="form-control" id=<%= "#{protocol_drug.id}-received" %>>
                <small class="form-text text-muted">Received during the month</small>
              </div>
              <div class="col">
                <input type="number" class="form-control" id=<%= "#{protocol_drug.id}-in-stock" %>>
                <small class="form-text text-muted">Stock at end of the month</small>
              </div>
            </div>
          </div>
        <% end %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary btn-block" data-dismiss="modal" aria-label="Close">Save report
        </button>
      </div>
    </div>
  </div>
</div>
