<div class="modal fade" id=<%= "DrugReportModal-#{facility.id}" %> tabindex="-1" role="dialog" aria-labelledby="Drug Report" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content" style="text-align: left">
      <div class="modal-header">
        <h2 class="modal-title" id="exampleModalLabel">Drug stock report</h2>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true"><i class="fas fa-times"></i></span>
        </button>
      </div>
      <%= bootstrap_form_with(url: "/my_facilities/drug_stocks",
                              method: 'POST',
                              local: true,
                              autocomplete: "off",
                              label_errors: true) do |form| %>

        <div class="modal-body">
          <div class="form-group">
            <label> Facility: </label>
            <span> <%= facility.name %> </span>
            <%= form.hidden_field :facility_id, value: facility.id %>
          </div>
          <div class="form-group">
            <%= form.date_field :recorded_at, label: "Date", max: 1.month.from_now %>
          </div>
          <h3 class="pt-4">Tablets</h3>
          <p>Leave blank if unknown. Enter "0" if stock is empty.</p>
          <% facility.protocol.protocol_drugs.where(stock_tracked: true).each do |protocol_drug| %>
            <%= form.fields_for "drug_stocks[]", DrugStock.new do |drug_stock_form| %>
              <div class="form-group mt-4">
                <label>
                  <%= "#{protocol_drug.name} #{protocol_drug.dosage}" %>
                </label>
                <%= drug_stock_form.hidden_field :protocol_drug_id, value: protocol_drug.id %>
                <div class="form-row">
                  <div class="col">
                    <%= drug_stock_form.number_field :received, hide_label: true, help: "Received during the month" %>
                  </div>
                  <div class="col">
                    <%= drug_stock_form.number_field :in_stock, hide_label: true, help: "Stock at end of the month" %>
                  </div>
                </div>
              </div>
            <% end %>
          <% end %>
        </div>
        <div class="modal-footer">
          <%= form.primary "Save Report", class: "btn btn-primary btn-block", onclick: "$('#DrugReportModal-#{facility.id}').modal('toggle')" %>
        </div>
      <% end %>
    </div>
  </div>
</div>
