<h1 class="page-header">
  Drug stock
</h1>
<div class="row">
  <div class="col-lg-12">
    <div class="card card-responsive">
      <div>
        <div class="d-flex align-baseline jc-between">
          <h3>
            Stock on hand: end of <%= @for_end_of_month_display %>
          </h3>
          <% if @facilities.present? %>
            <p class="c-grey-dark">
              Last updated: <%= @report&.fetch(:last_updated_at) %>
            </p>
          <% end %>
        </div>

        <p class="mb-4">
          <!--a href="#" type="button" class="float-right ml-4 btn btn-sm btn-primary" data-toggle="modal" data-target="#DrugReportModal"><i class="fas fa-plus-circle mr-2"></i> Drug stock report</a-->
          Patient days is calculated by comparing assigned patients against current stock on hand, normalized by
          estimated patients at each step of the hypertension protocol. Hover over cells to see calculation.
        </p>
        <p>

        </p>
      </div>
      <div class="d-flex fw-wrap mb-16px">
        <%= render "shared/my_facilities_filters" %>
        <div class="dropdown show mb-8px mr-8px">
          <a id="dropdownMenuLink" class="btn btn-sm btn-outline btn-secondary dropdown-toggle" href="#" role="button" data-toggle="dropdown" data-display="static" aria-haspopup="true" aria-expanded="false">
            <%= @for_end_of_month_display %>
          </a>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
            <% last_n_months(n: 6, inclusive: @show_current_month).each do |month| %>
              <% button_class = "dropdown-item query-filter-size filter-by-size" %>
              <% button_class = "dropdown-item active " if month.end_of_month == @for_end_of_month %>
              <button class="<%= button_class %>" value="<%= month.strftime("%b-%Y") %>" name="for_end_of_month" type="submit" form="query-filters" onclick="$('#selected-month').remove()">
                <%= month.strftime("%b-%Y") %>
              </button>
            <% end %>
          </div>
        </div>
        <% if @facilities.present? %>
          <div class="mb-8px mr-8px d-flex flex-grow-1 justify-content-sm-end">
            <%= link_to "Download Report",
                      my_facilities_drug_stocks_path(format: :csv, **request.query_parameters.symbolize_keys),
                      class: "btn btn-sm btn-outline-primary" %>
          </div>
        <% end %>
      </div>
      <% if @facilities.present? %>
        <%= render "drug_stocks_table" %>
      <% else %>
        <p>There is no data for this selection.</p>
      <% end %>
    </div>
  </div>
</div>
