<div class="row">
  <div class="col-lg-12">
    <div class="card card-responsive">
      <div>
        <div class="d-flex align-baseline jc-between">
          <h3>
            Drug stock on hand: end of Dec-2020
          </h3>
          <p class="c-grey-dark">
            Last updated: <%= @last_updated_at %>
          </p>
        </div>

        <p class="mb-4">
          <!--a href="#" type="button" class="float-right ml-4 btn btn-sm btn-primary" data-toggle="modal" data-target="#DrugReportModal"><i class="fas fa-plus-circle mr-2"></i> Drug stock report</a-->
          Patient days is calculated by comparing assigned patients against current stock on hand, normalized by
          estimated patients at each step of the hypertension protocol. Hover over cells to see calculation.
        </p>
        <p>

        </p>
      </div>
      <div class="d-flex fw-wrap mb-16px">
        <%= render "shared/my_facilities_filters" %>
        <div class="dropdown show mb-8px mr-8px">
          <a id="dropdownMenuLink" class="btn btn-sm btn-outline btn-secondary dropdown-toggle" href="#" role="button" data-toggle="dropdown" data-display="static" aria-haspopup="true" aria-expanded="false">
            Dec-2020
          </a>
          <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
            <button class="dropdown-item active" value="" name="size" type="submit" form="query-filters" onclick="$('#selected-size').remove()">
              Dec-2020
            </button>
            <button class="dropdown-item query-filter-size  filter-by-size" value="large" name="size" type="submit" form="query-filters" onclick="$('#selected-size').remove()">
              Nov-2020
            </button>
            <button class="dropdown-item query-filter-size  filter-by-size" value="medium" name="size" type="submit" form="query-filters" onclick="$('#selected-size').remove()">
              Oct-2020
            </button>
            <button class="dropdown-item query-filter-size  filter-by-size" value="small" name="size" type="submit" form="query-filters" onclick="$('#selected-size').remove()">
              Sep-2020
            </button>
            <button class="dropdown-item query-filter-size  filter-by-size" value="community" name="size" type="submit" form="query-filters" onclick="$('#selected-size').remove()">
              Aug-2020
            </button>
          </div>
        </div>
        <div class="d-flex fw-wrap mb-16px">
          <button class="btn btn-sm btn-link dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Download
          </button>
          <div class="dropdown-menu">
            <button type="submit" name="period" value="May-2020" class="dropdown-item" form="query-filters">Download XLS
              for Dec-2020
            </button>
          </div>
        </div>
      </div>

      <table class="mt-4 table table-compact table-responsive-md table-hover analytics-table">
        <colgroup>
          <col>
          <col>
          <% @drugs_by_category.map do |_drug_category, drugs| %>
            <col class="table-divider">
            <% drugs.map do |_drug| %>
              <col>
            <% end %>
          <% end %>
          <col class="mobile">
        </colgroup>
        <thead>
        <tr>
          <th colspan="2"></th>
          <% @drugs_by_category.map do |drug_category, drugs| %>
            <th colspan=<%= drugs.count.next.to_s %>><%= drug_category.humanize %></th>
          <% end %>

        </tr>
        <tr data-sort-method="thead" class="sorts">
          <th class="row-label sort-label" colspan="2" data-sort-default>Facilities</th>
          <% @drugs_by_category.map do |drug_category, drugs| %>
            <% drugs.map do |drug| %>
              <th class="row-label sort-label row-medicine" data-sort-method="number" data-sort-column-key=<%= drug.id %>>
                <%= drug.name %><br> <%= drug.dosage %>
              </th>
            <% end %>
            <th class="row-label sort-label" data-sort-method="number" data-sort-column-key=<%= "#{drug_category}_patient_days" %>>
              Patient<br>days
            </th>
          <% end %>

          <th class="mobile"></th>
        </tr>
        </thead>
        <tbody>
          <tr class="row-total" data-sort-method="none">
            <td class="type-title" colspan="2" data-html="true" data-toggle="tooltip" data-placement="top" data-trigger="hover focus click" title="" data-original-title="All facilities: 23,489 patients">
              All
            </td>
          <% @drugs_by_category.map do |_drug_category, drugs| %>
            <% drugs.map do |drug| %>
                <td class="type-number">-</td>
            <% end %>
              <%  %>
              <td class="type-percent" data-html="true" data-toggle="tooltip" data-placement="top" data-trigger="hover focus click" data-original-title="<span class='math'>886,915</span>Telmisartin 20 mg<br><span class='math'>+1,000,000*2</span>Amlodipine 10 mg<br><span class='math'>+128,760</span>Losartan 50 mg<br><span class='math'>/23,489*0.37</span>Patients<br><span class='math'>=117 days</span>Patient days">
                <em class="bg-green">-</em>
              </td>
          <% end %>
          </tr>

        <% @report.each do |(_facility_id, facility_report)| %>
          <tr>
            <% facility = facility_report[:facility] %>
            <td class="type-title" data-html="true" data-toggle="tooltip" data-placement="top" data-trigger="hover focus click" title=""
                data-original-title='<%= "#{facility.name}: #{facility_report[:patient_count]} patients" %>'>
              <%= link_to(reports_region_path(facility, report_scope: "facility")) do %>
                <%= facility.name %>
              <% end %>
            </td>
            <td class="text-center">
              <a id=<%= "form_button_#{facility.id}" %> href=<%= my_facilities_drug_stock_form_path(facility.id, for_end_of_month: Date.today.strftime("%B %Y")) %>>
                <i class="fas fa-plus"></i>
              </a>
            </td>
            <% @drugs_by_category.map do |drug_category, drugs| %>
              <% drugs.map do |drug| %>
                <% drug_stock = facility_report.dig(drug_category, :drug_stocks, drug.id) %>
                <% if drug_stock.present? %>
                  <td class="type-number" data-sort-column-key=<%= drug.id %>>
                    <%= drug_stock[:in_stock] %>
                  </td>
                <% else %>
                  <td class="type-blank"><span>&#8212;</span></td>
                <% end %>
              <% end %>
              <td class="type-percent" data-html="true" data-toggle="tooltip" data-placement="top" data-trigger="hover focus click" data-original-title=<%= drug_stock_tooltip(facility_report[drug_category]) %> data-sort-column-key=<%= "#{drug_category}_patient_days" %>>
                <em class="bg-red"><%= facility_report.dig(drug_category, :patient_days) %></em>
              </td>
            <% end %>
          </tr>
        <% end %>
        </tbody>
      </table>


      <div class="d-flex mt-4">
        <em class="h-12px w-12px mr-8px b-2px bg-red br-6px"></em>
        <p class="fs-12px lh-1 c-grey-dark">
          &lt;30 patients days of stock
        </p>
      </div>
      <div class="d-flex">
        <em class="h-12px w-12px mr-8px b-2px bg-orange br-6px"></em>
        <p class="fs-12px lh-1 c-grey-dark">
          &lt;60 patients days of stock
        </p>
      </div>
      <div class="d-flex">
        <em class="h-12px w-12px mr-8px b-2px bg-yellow br-6px"></em>
        <p class="fs-12px lh-1 c-grey-dark">
          &lt;90 patients days of stock
        </p>
      </div>
    </div>
  </div>
</div>
