<div class="row">
  <div class="col-md-6">
    <%= bootstrap_form_with(model: [:admin, facility_group], local: true, autocomplete: "off", label_errors: true) do |form| %>

      <%= form.select(:organization_id, organizations.map { |organization| [organization.name, organization.id]} ) %>

      <%= form.text_field :name, id: :facility_name, required: true, help: "Usually the name of a District", autocomplete: "off" %>

      <% if facility_group.facilities.present? %>
        <%= form.collection_check_boxes :facility_ids, facility_group.facilities, :id, :name, label: "Associated facilities", checked_value: 1 %>
      <% end %>

      <% if Facility.where(facility_group: nil).present? %>
        <%= form.collection_check_boxes :facility_ids, Facility.where(facility_group: nil), :id, :name, label: "Unassociated facilities", checked: true %>
      <% else %>
        <% if facility_group.new_record? %>
          <div class="row">
            <div class="col-md-9 mb-3 text-warning">All existing facilities belong to a facility group.</div>
            <!-- <div class="col-md-3 mb-3 text-warning">
              <%#= link_to 'New facility', new_admin_facility_path, class: "float-right btn btn-sm btn-primary" %>
            </div> -->
          </div>
        <% end %>
      <% end %>

      <%= form.select(:protocol_id, protocols.order(:name).map { |protocol| [protocol.name, protocol.id]} ) %>

      <%= form.primary("Save facility group") %>
    <% end %>
  </div>
</div>
