<div class="row">
  <div class="col-md-6">
    <%= bootstrap_form_with(model: [:admin, facility_group], local: true, autocomplete: "off", label_errors: true, html: {id: "facility-group-form"}) do |form| %>
      <% if @facility_group.errors.any? %>
        <div id="errors">
          <%= form.label "Saving the #{t("facility_group").capitalize} failed, please fix the following errors: #{@facility_group.errors.full_messages.to_sentence}", class: "text-danger" %>
        </div>
      <% end %>
      <% if @facility_group.facilities.map(&:invalid?).any? %>
        <div class="alert alert-warning pt-4">
          <p>Some facilities in this <%= t("facility_group") %> have errors. Please fix them before updating this <%= t("facility_group") %>:</p>
          <ul>
            <% @facility_group.facilities.each do |f| %>
              <% if f.errors.present? %>
                <li><%= f.errors.full_messages.to_sentence %>
                  in <%= link_to f.name, edit_admin_facility_group_facility_path(@facility_group.id, f.id) %></li>
              <% end %>
            <% end %>
          </ul>
        </div>
      <% end %>

      <%= form.select(:organization_id,
          organizations.pluck(:name, :id),
          {},
          {disabled: action_name == "edit"}) %>
      <%= form.text_field :name, id: :facility_name, required: true, autocomplete: "off" %>
      <%= form.form_group :state do %>
        <%= form.select :state,
            @available_states.zip(@available_states),
            {include_blank: true},
            required: true,
            disabled: action_name == "edit" %>
      <% end %>

      <%= form.form_group :protocol do %>
        <%= form.select(:protocol_id, protocols.order(:name).map { |protocol| [protocol.name, protocol.id] }) %>
      <% end %>

      <% if Flipper.enabled?(:estimated_population) %>
        <%= form.number_field :district_estimated_population, label: "Estimated hypertensive population", autocomplete: "off", 
          help: "Leave blank if unknown" %>
      <% end %>

      <div class="mt-3">
        <label><%= I18n.t("region_type.block").pluralize.capitalize %></label>
        <div class="input-group mb-2">
          <input type="text" class="form-control" id="new-block-name" placeholder="Add new <%= I18n.t("region_type.block") %>">
          <div class="input-group-append">
            <a class="btn btn-primary text-white add-block">Add</a>
          </div>
        </div>
        <ul class="list-group list-group-flush" id="block-list">
          <% @blocks&.each do |block| %>
            <li class="list-group-item align-middle" data-block-identifier="<%= block.id %>">
              <div class="row">
                <div class="col-10 block-name"><%= block.name %></div>
                <div class="col-2 text-right">
                  <% if block.children.present? %>
                    <i class="fas fa-trash-alt text-grey"
                       data-toggle="tooltip"
                       data-placement="right"
                       title="Cannot delete when child facilities exist"></i>
                  <% else %>
                    <i class="fas fa-trash-alt remove-block text-danger cursor-pointer"
                       data-block-identifier="<%= block.id %>"></i>
                  <% end %>
                </div>
              </div>
            </li>
          <% end %>
        </ul>
      </div>

      <div class="form-group mt-4 mb-5">
        <label class="mb-0">Diabetes enabled?</label>
        <small class="form-text text-muted mt-0 mb-1">
          <% is_diabetes_enabled = facility_group.diabetes_enabled? %>

          <% if is_diabetes_enabled && facility_group.facilities.present? %>
            Diabetes management is already enabled for all facilities in this <%= t("facility_group") %>.
          <% else %>
            This will enable diabetes management for all associated facilities in this <%= t("facility_group") %>.
          <% end %>
        </small>

        <%= form.check_box :enable_diabetes_management,
            {id: :facility_group_enable_diabetes_management,
                checked: is_diabetes_enabled,
                onclick: "confirmDisableDM(this)"},
            true,
            false %>
      </div>

      <%= form.primary("Save #{t("facility_group")}") %>
    <% end %>
  </div>
</div>

<template id="block-row">
  <li class="list-group-item align-middle">
    <div class="row">
      <div class="col-10 block-name">
      </div>
      <div class="col-2 text-right">
        <i class="fas fa-trash-alt remove-block text-danger cursor-pointer"></i>
      </div>
    </div>
  </li>
</template>

<script>
  let existingBlocks = <%= raw @blocks&.pluck(:id) || [] %>

    function confirmDisableDM(el) {
      if (!el.checked && <%= facility_group.diabetes_enabled? && facility_group.facilities.present? %>)
        confirm("Are you sure? This will disable diabetes management for all associated facilities.")
    }

  // initialize block management UI
  new FacilityGroupBlockFields().listen();
</script>
