<div class="mb-3">
  <%= link_to "&larr;".html_safe + " Go back to #{@organization.name}", admin_organization_path(@organization) %>
</div>

<div class="page-header">
  <h1 class="page-title"><%= @facility_group.name %></h1>
  <nav class="page-nav">
    <% if policy(@facility_group).edit? %>
      <%= link_to 'Edit facility group', edit_admin_organization_facility_group_path(@organization, @facility_group), class: "btn btn-sm btn-primary" %>
    <% end %>
  </nav>
</div>

<div class="row">
  <div class="col-md-6">
    <h3>Protocol</h3>

    <p><%= link_to @facility_group.protocol.name, admin_protocol_path(@facility_group.protocol) %></p>

    <h3>Facilities</h3>

    <ul class="list-unstyled">
      <% @facility_group.facilities.each do |facility| %>
        <li><%= link_to facility.name, admin_facility_path(facility) %></li>
      <% end %>
    </ul>
  </div>

  <div class="col-md-6">
    <h3>Users</h3>

    <ul class="list-unstyled">
      <% @facility_group.users.each do |user| %>
        <li><%= link_to user.full_name, admin_user_path(user) %></li>
      <% end %>
    </ul>
  </div>
</div>
