<% denominator_copy = with_ltfu ? "diabetes_denominator_with_ltfu_copy" : "diabetes_denominator_copy" %>
<% data = pivot_period_data(@data.slice(:bs_below_200_rates, :bs_below_200_patients, :adjusted_diabetes_patient_counts)) %>

<div class="d-lg-flex w-lg-50 pr-lg-2">
  <div id="bs-below-200"
       data-chart-container
       data-period="<%= period.to_s %>"
       class="mt-8px mx-0px mb-16px bg-white br-4px bs-small d-lg-flex fd-lg-column
              justify-lg-between h-lg-full w-lg-full mt-lg-0 pb-inside-avoid b-print-black w-print-16cm">

    <div class="pt-20px px-20px">
      <div class="d-flex mb-8px">
        <div class="d-flex flex-1">
          <h3 class="mb-0px mr-8px">
            BS <200
          </h3>
          <%= render "definition_tooltip",
                     definitions: { "Numerator" => t("bs_below_200_copy.numerator"),
                                    "Denominator" => t(denominator_copy, region_name: @region.name) } %>
        </div>
        <%= render "reports/regions/ltfu_toggle", id: "controlledGraphLtfuToggle", enabled: @with_ltfu %>
      </div>
      <p class="c-grey-dark">
        <%= t("bs_below_200_copy.reports_card_subtitle", region_name: @region.name) %>
      </p>
      <div class="mb-12px d-lg-flex align-lg-center">
        <p class="mb-0px fs-32px fw-bold mr-lg-12px c-green-dark minw-32px"
           data-format="percentage"
           data-key="bs_below_200_rates">
        </p>
        <div>
          <p class="m-0px c-black">
            <span data-format="numberWithCommas" data-key="bs_below_200_patients"></span>
            patients with a BS <200 from
            <span data-key="bp_control_start_date"></span>
            to
            <span data-key="bp_control_end_date"></span>
          </p>
          <p class="m-0px c-grey-dark c-print-black">
            of <span data-format="numberWithCommas" data-key="adjusted_diabetes_patient_counts"></span>
            patients registered till
            <span data-key="bp_control_registration_date"></span>
          </p>
        </div>
      </div>
    </div>
    <div>
      <div class="p-relative mb-12px">
        <div class="h-320px mr-16px mb-12px ml-13px">
          <%= chart :line,
                    "bsBelow200PatientsTrend",
                    data,
                    { labels: data.keys.map(&:to_s),
                      datasets: [
                        { parsing: {
                            yAxisKey: :bs_below_200_rates
                          },
                          label: "BS <200",
                          background_color: light_green,
                          border_color: medium_green,
                          border_width: 2,
                          hover_background_color: white,
                          point_background_color: white,
                          hover_border_width: 2,
                        }]} %>
        </div>
      </div>
    </div>

    <div>
      <div class="p-relative px-20px mb-12px">
        <p class="m-0px c-grey-dark c-print-black">
          <span data-rbs-ppbs=""></span> RBS/PPBS
          <span data-fasting=""></span> Fasting
          <span data-hba1c=""></span> HbA1c
        </p>
      </div>
    </div>
  </div>
</div>