<h1>Overdue Appointments</h1>

<% @overdue_appointments_per_facility.each do |facility, overdue_appointments| %>
<section>
<h2><%= facility.name %></h2>
<table class="table table-sm">
  <thead class="thead-light">
    <tr>
      <th>Name</th>
      <th>Phone Number</th>
      <th>Last Visit Date</th>
      <th>BP Recorded on Last Visit</th>
      <th>Appointment Date</th>
      <th>Remind on Date</th>
      <th>Agreed to Visit</th>
      <th colspan="1"></th>
    </tr>
  </thead>

  <tbody>
  <% overdue_appointments.each do |overdue_appointment| %>
    <tr class="table-light">
      <td><%= overdue_appointment.patient.full_name %></td>
      <td><%= overdue_appointment.patient.phone_numbers.first&.number %></td>
      <td><%= overdue_appointment.latest_blood_pressure.device_created_at.strftime('%a, %b %e, %Y') %></td>
      <td>
        <%= overdue_appointment.latest_blood_pressure.systolic %> /
        <%= overdue_appointment.latest_blood_pressure.diastolic %>
      </td>
      <td>
        <%= overdue_appointment.latest_scheduled_appointment.scheduled_date.strftime('%a, %b %e, %Y') %>
      </td>
      <td>
        <%= overdue_appointment.latest_scheduled_appointment.remind_on&.strftime('%a, %b %e, %Y') %>
      </td>
      <td>
        <%= overdue_appointment.latest_scheduled_appointment.agreed_to_visit ? '✅' : '❌' %>
      </td>
      <td>
        <%= link_to 'Edit', edit_admin_overdue_appointment_path(overdue_appointment.patient), method: :get%> |
        <%= link_to 'Cancel', admin_overdue_appointment_cancel_path(overdue_appointment.patient), method: :get%>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>
</section>
<% end %>