<h1>Protocol drugs</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Dosage</th>
      <th>RxNorm code</th>
      <th>Protocol</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @protocol_drugs.each do |protocol_drug| %>
      <tr>
        <td><%= link_to protocol_drug.name, [:admin, protocol_drug] %></td>
        <td><%= protocol_drug.dosage %></td>
        <td><%= protocol_drug.rxnorm_code %></td>
        <td><%= protocol_drug.protocol %></td>
        <% if policy(protocol_drug).edit? %>
          <td><%= link_to 'Edit', edit_admin_protocol_drug_path(protocol_drug) %></td>
        <% end %>
        <% if policy(protocol_drug).destroy? %>
          <td><%= link_to 'Delete', [:admin, protocol_drug], method: :delete, data: { confirm: "Are you sure you want to delete #{protocol_drug.name}?" } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<% if policy(ProtocolDrug).new? %>
  <%= link_to 'New protocol drug', new_admin_protocol_drug_path %>
<% end %>
