<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @protocol_drug.name %>
</p>

<p>
  <strong>Dosage:</strong>
  <%= @protocol_drug.dosage %>
</p>

<p>
  <strong>Rxnorm code:</strong>
  <%= @protocol_drug.rxnorm_code %>
</p>

<p>
  <strong>Protocol:</strong>
  <%= @protocol_drug.protocol %>
</p>

<% if policy(@protocol_drug).edit? %>
  <%= link_to 'Edit', edit_protocol_drug_path(@protocol_drug) %> |
<% end %>
<%= link_to 'Back', protocol_drugs_path %>
