<h1>48 Hour Patient Followups</h1>

<div class="row">
  <div class="col-md-6">
    <%= bootstrap_form_with(url: patients_path, method: :get, layout: :horizontal, class: "mt-4") do |form| %>
      <div class="form-row">
        <div class="form-group col-9">
          <%= form.select :facility_id,
                          current_admin.facilities.sort_by(&:name).map { |facility| [facility.name, facility.id] },
                          {
                              hide_label: true,
                              include_blank: "All facilities",
                              selected: @facility_id,
                              wrapper: false
                          },
                          onchange: "this.form.submit();"
          %>
        </div>
        <div class="form-group col-3">
          <%= form.select :per_page,
                          [20, 50, "All"],
                          {
                              help: "Per page",
                              hide_label: true,
                              selected: @per_page,
                          },
                          onchange: "this.form.submit();"
          %>
        </div>
      </div>
    <% end %>
  </div>
</div>

<%
  patients_with_bp = @patients.select { |p| p.latest_blood_pressure.present? }
  if patients_with_bp.present?
%>
  <% patients_with_bp.each do |patient| %>
    <section>
      <div class="overdue-patient">
        <div class="overdue-title">
          <%= patient.full_name %>,
          <%= patient.gender.capitalize %>,
          <%= patient.current_age %>
        </div>
        <% if bp = patient.latest_blood_pressure %>
          <div class="overdue-details">
            Last BP:
            <%= bp.to_s %>&nbsp
            recorded at <%= bp.facility.name %>
            <%= time_ago_in_words(bp.device_created_at.to_date) %> ago
          </div>
        <% end %>
        <div class="overdue-details">
          Home:
          <%= patient.address.street_address %>,
          <%= patient.address.village_or_colony %>
        </div>
        <div class="row mt-2">
          <div class="col-md-6 col-lg-4">
            <% if phone_number = patient.phone_numbers.first&.number %>
              <p>
                <%= link_to phone_number, "tel:#{phone_number}", class: "btn btn-info w-100" %>
              </p>
            <% end %>
          </div>
          <div class="col-md-6 col-lg-4">
            <%= bootstrap_form_with(model: patient) do |form| %>
              <%= form.select :call_result,
                              {
                                  'Patient contacted' => [['Contacted', 'contacted']],
                                  'Remove from list' => Patient.could_not_contact_reasons.map { |key, value| [key.humanize, value] }
                              },
                              {
                                  prompt: 'Result of call...',
                                  hide_label: true
                              },
                              onchange: 'this.form.submit();'
              %>
            <% end %>
          </div>
        </div>
      </div>
    </section>
  <% end %>
<% else %>
  <div class="overdue-patient">
    <p class="overdue-title" style="color: #999;">&lt; No patients to followup &gt;</p>
  </div>
<% end %>

<%= paginate @patients %>