<h1>48 Hour Patient Followups</h1>

<div class="row">
  <div class="col-md-6">
    <%= bootstrap_form_with(url: patients_path, method: :get, layout: :horizontal, class: "mt-4") do |form| %>
      <div class="form-row">
        <div class="form-group col-9">
          <%= form.select :facility,
                          current_admin.facilities.sort_by(&:name).map { |facility| [facility.name, facility.slug] },
                          {
                              hide_label: true,
                              include_blank: "All facilities",
                              selected: @facility_slug,
                              wrapper: false
                          },
                          onchange: "this.form.submit();"
          %>
        </div>
        <div class="form-group col-3">
          <%= form.select :per_page,
                          [20, 50, "All"],
                          {
                              help: "Per page",
                              hide_label: true,
                              selected: @per_page,
                          },
                          onchange: "this.form.submit();"
          %>
        </div>
      </div>
    <% end %>
  </div>
</div>

<% @patients.group_by(&:registration_facility).sort_by { |facility, _| facility.name }.each do |facility, patients| %>
  <%
    patients_with_bp = patients.select { |p| p.latest_blood_pressure.present? }
    if patients_with_bp.present?
  %>
    <section class="overdue-facility">
      <h3><%= facility.name %></h3>

      <% patients_with_bp.each do |patient| %>
        <div class="overdue-patient">
          <div class="overdue-title">
            <%= patient.full_name %>,
            <%= patient.gender.capitalize %>,
            <%= patient.current_age %>
          </div>
          <div class="overdue-details">
            Last BP: <%= patient.latest_blood_pressure.to_s %>,
            &nbsp<%= time_ago_in_words(patient.latest_blood_pressure.device_created_at.to_date) %> ago
          </div>
          <div class="overdue-details">
            Home:
            <%= patient.address.street_address %>,
            <%= patient.address.village_or_colony %>
          </div>
          <div class="row mt-2">
            <div class="col-md-6 col-lg-4">
              <% if phone_number = patient.phone_numbers.first&.number %>
                <p>
                  <%= link_to phone_number, "tel:#{phone_number}", class: "btn btn-info w-100" %>
                </p>
              <% end %>
            </div>
            <div class="col-md-6 col-lg-4">
              <%= bootstrap_form_with(model: patient) do |form| %>
                <%= form.select :call_result,
                                {
                                    'Patient contacted' => [['Contacted', 'contacted']],
                                    'Remove from list' => Patient.could_not_contact_reasons.map { |key, value| [key.humanize, value] }
                                },
                                {
                                    prompt: 'Result of call...',
                                    hide_label: true
                                },
                                onchange: 'this.form.submit();'
                %>
              <% end %>
            </div>
          </div>
        </div>
      <% end %>
      </div>
    </section>
  <% end %>
<% end %>

<%= paginate @patients %>