<h1>Lookup Patients</h1>

<p class="info">
  <i class="fas fa-question-circle"></i>
  This is a hidden page and is only visible to you because you have the
  <em><%= Permissions::ALL_PERMISSIONS.dig(:view_adherence_follow_up_list, :slug) %></em>
  permission.
</p>

<%= render 'shared/search_form', path: lookup_patients_path, placeholder: 'Search by village or street address...' %>

<div>
  <% if @patients.exists? %>
    <%= search_entries_info(@patients) %>

    <% @patients.each do |patient| %>
      <div class="card">
        <h5 class="mb-3">
          <%= patient.full_name %>,
          <%= patient.gender.capitalize %>,
          <%= patient.current_age %>
        </h5>

        <span class="text-secondary">Address:</span>
        <address>
          <%= patient.address.street_address %><br/>
          <%= patient.address.village_or_colony %><br/>
          <%= patient.address.district %><br/>
          <%= patient.address.state %>
        </address>

        <div>
          <span class="text-secondary">Registered at:</span>
          <%= patient.registration_facility.name %>
        </div>
        <div>
          <span class="text-secondary">District:</span>
          <%= patient.address.district %>
        </div>
      </div>
    <% end %>
  <% elsif !@patients.exists? && !searching? %>
    <%= render "shared/no_search_results",
        message: "Search for something to populate a list of matching patients..." %>
  <% else %>
    <%= render "shared/no_search_results",
        message: "No results for '#{content_tag(:strong, search_query)}'" %>
  <% end %>
</div>

<%= paginate @patients %>
