<div class="card card-responsive">
  <% selected_period = case @period %>
  <% when :month %>
    <% month_short_name(*previous_year_and_month(@year, @month)) + '/' + month_short_name_and_year(@year, @month) %>
  <% when :quarter %>
    <%  "Q#{@quarter}-#{@year}" %>
  <% end %>
  <% registration_period = case @period %>
    <% when :month %>
      <% month_short_name(*previous_year_and_month(@year, @month, 2)) %>
    <% when :quarter %>
      <% registration_year, registration_quarter = previous_year_and_quarter(@year, @quarter) %>
      <% "Q#{registration_quarter}-#{registration_year}" %>
  <% end %>
  <div class="row">
    <div class="col-lg-9 pr-5 pr-md-0">
      <h3>BP control (All data on this page is fake)</h3>
      <p>Q2-2019 cohort is the outcomes for 37,000 patients registered in Q2-2019 at their last visit in Q3-2019.
        Patients with ‘missed visit’ had no BP recorded.</p>
    </div>

    <div class="mt-1 mb-3 col-lg-3">
      <div class="dropdown show">
        <a class="btn btn-sm btn-outline btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="min-width: 12em;">
            Patients registered in <%= registration_period %>
        </a>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
          <h6 class="dropdown-header">Quarterly</h6>
          <% last_n_quarters(6).each do |year, quarter| %>
            <% selected = (year == @year && quarter == @quarter && @period == :quarter) %>
            <button class="dropdown-item query-filter-quarter <%= 'active' if selected %>"
                    type="submit" data-quarter="<%= quarter %>" data-year="<%= year %>" form="query-filters">
              <%= "Q#{quarter}-#{year}" %>
            </button>
          <% end %>
          <div class="dropdown-divider"></div>
          <h6 class="dropdown-header">Monthly</h6>
          <% last_n_months(6).each do |year, month| %>
            <% selected = (year == @year && month == @month && @period == :month) %>
            <button class="dropdown-item query-filter-month <%= 'active' if selected %>"
                    type="submit" data-month="<%= month %>" data-year="<%= year %>" form="query-filters">
              <%= month_short_name_and_year(year, month) %>
            </button>
          <% end %>

          <input class="selected-quarter" name="quarter" value="<%= @quarter %>" form="query-filters" hidden>
          <input class="selected-month" name="month" value="<%= @month %>" form="query-filters" hidden>
          <input class="selected-year" name="year" value="<%= @year %>" form="query-filters" hidden>
          <input class="selected-period" name="period" value="<%= @period %>" form="query-filters" hidden>
          <input class="selected-quarter" name="quarter" value="<%= @quarter %>" form="query-filters-mobile" hidden>
          <input class="selected-month" name="month" value="<%= @month %>" form="query-filters-mobile" hidden>
          <input class="selected-year" name="year" value="<%= @year %>" form="query-filters-mobile" hidden>
          <input class="selected-period" name="period" value="<%= @period %>" form="query-filters-mobile" hidden>
        </div>
      </div>
    </div>
  </div>

  <table class="mt-3 mt-lg-4 table table-compact table-responsive-md table-hover" id="analytics-table">
    <colgroup>
      <col>
      <col class="table-divider">
      <col>
      <col class="table-divider">
      <col>
      <col class="table-divider">
      <col>
      <col class="table-divider">
      <col>
      <col class="mobile">
    </colgroup>
    <thead>
    <tr>
      <th></th>
      <th colspan="6">Cohort of patients registered in <%= registration_period %></th>
      <th colspan="2">All-time</th>
      <th class="mobile">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</th>
    </tr>
    <tr data-sort-method="thead" class="sorts">
      <th class="row-label sort-label">Facilities</th>
      <th class="row-label sort-label" data-sort-method="number" colspan="2" data-sort-default>Visited with controlled
        <br>BP in <%= selected_period %>
      </th>
      <th class="row-label sort-label" data-sort-method="number" colspan="2">Visited with uncontrolled<br>BP
        in <%= selected_period %>
      </th>
      <th class="row-label sort-label" data-sort-method="number" colspan="2">Missed visit<br>in <%= selected_period %>
      </th>
      <th class="row-label sort-label" data-sort-method="number" colspan="2">All registered patients<br>with controlled
        BP<sup>1</sup></th>
      <th class="mobile"></th>
    </tr>
    </thead>
    <tbody>
    <tr class="row-total" data-sort-method="none">
      <td class="type-title">All</td>
      <td class="type-percent"><em><%= percentage(@totals[:controlled], @totals[:registered]) %></em></td>
      <td class="type-number"><%= @totals[:controlled] %></td>
      <td class="type-percent"><em><%= percentage(@totals[:uncontrolled], @totals[:registered]) %></em></td>
      <td class="type-number"><%= @totals[:uncontrolled] %></td>
      <td class="type-percent"><em><%= percentage(@totals[:missed], @totals[:registered]) %></em></td>
      <td class="type-number"><%= @totals[:missed] %></td>
      <td class="type-percent"><em>22%</em></td>
      <td class="type-number">42,098</td>
    </tr>
    <% @facilities.each do |facility| %>
      <% bp_stats = { registered: @registered_patients_per_facility[facility.id].to_i,
                      controlled: @controlled_bps_per_facility[facility.id].to_i,
                      uncontrolled: @uncontrolled_bps_per_facility[facility.id].to_i,
                      missed: @missed_visits_by_facility[facility.id].to_i } %>
      <tr>
        <td class="type-title"><a href="#"><%= facility.name %></a></td>
        <td class="type-percent">
          <em><%= percentage(bp_stats[:controlled], bp_stats[:registered]) %></em>
        </td>
        <td class="type-number"><%= bp_stats[:controlled] %></td>
        <td class="type-percent">
          <em><%= percentage(bp_stats[:uncontrolled], bp_stats[:registered]) %></em>
        </td>
        <td class="type-number"><%= bp_stats[:uncontrolled] %></td>
        <td class="type-percent">
          <em><%= percentage(bp_stats[:missed], bp_stats[:registered]) %></em>
        </td>
        <td class="type-number"><%= bp_stats[:missed] %></td>
        <td class="type-percent"><em>22%</em></td>
        <td class="type-number">42,098</td>
      </tr>
    <% end %>
    </tbody>
  </table>
</div>
<section class="footnotes">
    <ol>
        <li><strong>Controlled BP all-time:</strong>
          Patient had at least 1 BP recorded in the previous 90 days and BP &lt;140/90 at last visit
          — snapshot taken at end of the time period. For example, in the Nov-2019 BP control report,
          the all-time BP control shows how many patients had controlled BP as of 31-Nov-2019.</li>
    </ol>
</section>
<script>
    function setSelectedQuarter(quarter, year) {
        $('.selected-quarter').val(quarter);
        $('.selected-year').val(year);
        $('.selected-period').val('quarter');
        $('.selected-month').remove();
    }

    function setSelectedMonth(month, year) {
        $('.selected-month').val(month);
        $('.selected-year').val(year);
        $('.selected-period').val('month');
        $('.selected-quarter').remove();
    }

    $('.query-filter-quarter').click(function() {
        setSelectedQuarter($(this).data('quarter'), $(this).data('year'))
    });

    $('.query-filter-month').click(function() {
        setSelectedMonth($(this).data('month'), $(this).data('year'))
    })
</script>
