<div class="card mb-3">
  <h2>Facilities</h2>
  <p>Facilities where Simple is deployed</p>
  <section id="facilities-by-size">
    <table class="table table-compact table-hover">
      <colgroup>
        <col>
        <col style="width: 7em;" class="table-divider">
        <col style="width: 7em;" class="table-divider">
      </colgroup>
      <thead>
      <tr>
        <th></th>
        <th>Total</th>
        <th>Inactive<sup>1</sup></th>
      </tr>
      </thead>
      <tbody>
      <tr class="row-total">
        <td>All</td>
        <td class="text-right"><%= @facilities.count %></td>
        <td class="text-right"><%= @inactive_facilities.count %></td>
      </tr>
      <tr>
        <td>Large</td>
        <td class="text-right"><%= @facility_counts_by_size[:total]["large"].to_i %></td>
        <td class="text-right"><%= @facility_counts_by_size[:inactive]["large"].to_i %></td>
      </tr>
      <tr>
        <td>Medium</td>
        <td class="text-right"><%= @facility_counts_by_size[:total]["medium"].to_i %></td>
        <td class="text-right"><%= @facility_counts_by_size[:inactive]["medium"].to_i %></td>
      </tr>
      <tr>
        <td>Small</td>
        <td class="text-right"><%= @facility_counts_by_size[:total]["small"].to_i %></td>
        <td class="text-right"><%= @facility_counts_by_size[:inactive]["small"].to_i %></td>
      </tr>
      <tr>
        <td>Community</td>
        <td class="text-right"><%= @facility_counts_by_size[:total]["community"].to_i %></td>
        <td class="text-right"><%= @facility_counts_by_size[:inactive]["community"].to_i %></td>
      </tr>
      </tbody>
    </table>
    <ol style="padding-left: 15px"><li>
      <strong>Inactive:</strong>
      Facilities with &lt;10 patients with BPs recorded in the last 7 days.
    </li></ol>
  </section>
</div>
