<div class="card mb-3">
  <h2>
    Facilities using Simple
  </h2>
  <section id="facilities-by-size">
    <table class="table table-compact mb-0px mt-18px">
      <colgroup>
        <col>
        <col class="table-divider">
        <col class="table-divider">
        <col class="table-divider">
      </colgroup>
      <thead>
      <tr>
        <th></th>
        <th>
          Total
        </th>
        <th>
          Inactive
        </th>
        <th>
          Active
        </th>
      </tr>
      </thead>
      <tbody>
      <tr class="row-total">
        <td>
          All
        </td>
        <td class="text-right">
          <%= number_with_delimiter(@facilities.count) %>
        </td>
        <td class="text-right">
          <%= number_with_delimiter(@inactive_facilities.count) %>
        </td>
        <td class="text-right">
            
        </td>
      </tr>
      <tr>
        <td>
          <%= Facility.localized_facility_size("large") %>
        </td>
        <td class="text-right">
          <%= number_with_delimiter(@facility_counts_by_size[:total]["large"].to_i) %>
        </td>
        <td class="text-right">
          <%= number_with_delimiter(@facility_counts_by_size[:inactive]["large"].to_i) %>
        </td>
        <td class="text-right">
          
        </td>
      </tr>
      <tr>
        <td>
          <%= Facility.localized_facility_size("medium") %>
        </td>
        <td class="text-right">
          <%= number_with_delimiter(@facility_counts_by_size[:total]["medium"].to_i) %>
        </td>
        <td class="text-right">
          <%= number_with_delimiter(@facility_counts_by_size[:inactive]["medium"].to_i) %>
        </td>
        <td class="text-right">
            
        </td>
      </tr>
      <tr>
        <td>
          <%= Facility.localized_facility_size("small") %>
        </td>
        <td class="text-right">
          <%= number_with_delimiter(@facility_counts_by_size[:total]["small"].to_i) %>
        </td>
        <td class="text-right">
          <%= number_with_delimiter(@facility_counts_by_size[:inactive]["small"].to_i) %>
        </td>
        <td class="text-right">
            
        </td>
      </tr>
      <tr>
        <td>
          <%= Facility.localized_facility_size("community") %>
        </td>
        <td class="text-right">
          <%= number_with_delimiter(@facility_counts_by_size[:total]["community"].to_i) %>
        </td>
        <td class="text-right">
          <%= number_with_delimiter(@facility_counts_by_size[:inactive]["community"].to_i) %>
        </td>
        <td class="text-right">
            
        </td>
      </tr>
      </tbody>
    </table>
  </section>
</div>
