<div class="row">
  <div class="col-md-6">
    <%= bootstrap_form_with(model: [:admin, facility_group, facility], local: true, autocomplete: "off", label_errors: true) do |form| %>
      <% if @facility.errors.any? %>
        <div id="errors">
          <%= form.label "Update failed, please fix the indicated errors", class: "text-danger" %>
        </div>
      <% end %>
      <%= form.text_field :name, id: :facility_name, required: true, autocomplete: "off", help: "Include the facility type in the name. Example: PHC Brooklyn", label: "Facility name *" %>
      <%= form.text_field :facility_type, id: :facility_type, help: "Examples: DH, SDH, CHC, PHC, UPHC, HWC, SC", required: true %>
      <%= form.select :facility_size, Facility.facility_sizes.map { |key, value| [key.capitalize, value] }, id: :facility_size, help: "Select the closest relative size", required: true %>
      <h3 class="mt-5">Address</h3>
      <%= form.text_field :street_address, id: :facility_street_address %>
      <%= form.text_field :village_or_colony, id: :facility_village_or_colony %>
      <%= form.text_field :zone, id: :facility_zone %>
      <%= form.text_field :district, id: :facility_district, required: true %>
      <%= form.text_field :state, id: :facility_state, required: true %>
      <%= form.text_field :country, id: :facility_country, required: true %>
      <%= form.text_field :pin, id: :facility_pin %>

      <div class="row">
        <div class="col">
          <%= form.text_field :latitude, id: :facility_latitude %>
        </div>
        <div class="col">
          <%= form.text_field :longitude, id: :facility_longitude %>
        </div>
      </div>

      <%= form.number_field :monthly_estimated_opd_load, id: :facility_monthly_estimated_opd_load, label: "Estimated outpatient load (monthly)", help: "Estimate the TOTAL ADULT PATIENTS seen in the outpatient dept each month. Leave blank if unknown." %>

      <div class="mb-3">
        <h3 class="mt-5">Diabetes enabled?</h3>
        <%= form.check_box :enable_diabetes_management, id: :facility_enable_diabetes_management %>
        <h3 class="mt-5">Teleconsultation enabled?</h3>
        <%= form.check_box :enable_teleconsultation, id: :facility_enable_teleconsultation, onclick: "toggleTeleconsultationFields(this)" %>
        <div id="teleconsultation_fields" style=<%= "#{'display:none' unless @facility[:enable_teleconsultation]}" %> >
          <div class="alert alert-primary mt-3" role="alert">
            <strong>How does the teleconsultation pilot work?</strong>
            <br>Healthcare workers at this facility can make a teleconsult request to a medical officer at a higher level facility by searching for a patient in Simple and tapping a new "WhatsApp Doctor" button. Enter the MO's WhatsApp number below.
            <br>You can enter multiple MOs for this facility by clicking on the "Add a Medical Officer" button.
          </div>
          <% if @facility.errors["teleconsultation_phone_numbers_attributes"].present? %>
            <div id="teleconsultation-errors" class="col col-md-12 pl-0">
              <%= form.label @facility.errors["teleconsultation_phone_numbers_attributes"].first, class: "text-danger" %>
            </div>
          <% end %>
         <div id="mo_rows">
           <div id="header_row" class="row mt-2">
           <div class="col col-md-4">
             <%= label_tag 'Country code' %>
           </div>
           <div class="col col-md-7">
             <%= label_tag 'Medical officer\'s WhatsApp number' %>
           </div>
           <div class="col col-md-1">
             <%= label_tag "delete" %>
           </div>
         </div>
           <% if @facility[:teleconsultation_phone_numbers].empty? %>
             <% @facility.build_teleconsultation_phone_number %>
           <% end %>
           <%= form.fields_for :teleconsultation_phone_numbers do |phone_number_form| %>
             <%= render 'phone_number_fields', f: phone_number_form %>
           <% end %>
         </div>
          <%= button_tag type: "button", class: "btn btn-sm btn-outline-success", onclick: "addPhoneNumberFields()" do %>
            <i class="fas fa-plus mr-1"></i>
            Add a Medical Officer
          <% end %>

          <div class="typeahead">
            <%= search_field_tag :search_query,
                                 nil,
                                 id: :search_query,
                                 class: "typeahead-input form-control mb-1",
                                 hide_label: true,
                                 placeholder: "Find medical officers by name or phone number",
                                 value: search_query,
                                 onkeyup: "debounce(searchUser(this))",
                                 autocomplete: "off" %>
            <div class="typeahead-dropdown"></div>

            <div class="typeahead-spinner">
              <div class="spinner-border text-primary"></div>
            </div>
          </div>

          <div class="no-medical-officers mt-1 mb-3">
            <h5>No medical officers</h5>
          </div>
        </div>
      </div>

      <%= form.primary %>
    <% end %>
  </div>
</div>

<script>
  function searchUser(e) {
    let searchQuery = e.value;
    if (searchQuery.length > 2) {
      showSpinner();
      $.ajax({
        url: "/admin/users.js",
        data: {"search_query": searchQuery}
      });
    }
  }

  function debounce(func, wait = 500) {
    let timeout;

    return function (...args) {
      const later = () => {
        clearTimeout(timeout);
        func(...args);
      };

      clearTimeout(timeout);
      timeout = setTimeout(later, wait);
    };
  }

  function showSpinner() {
    let spinner = $(".typeahead-spinner").clone();
    spinner.css({display: "block"});

    $(".typeahead .typeahead-dropdown").html(spinner);
  }
</script>
