<div class="row">
  <div class="col-md-6">
    <%= bootstrap_form_with(model: [:admin, facility_group, facility], local: true, autocomplete: "off", label_errors: true) do |form| %>
      <%= form.text_field :name, id: :facility_name, required: true, autocomplete: "off" %>
      <%= form.text_field :facility_type, id: :facility_type, required: true %>
      <%= form.select :facility_size, Facility.facility_sizes.map { |key, value| [key.capitalize, value] }, id: :facility_type, required: true %>
      <%= form.text_field :street_address, id: :facility_street_address %>
      <%= form.text_field :village_or_colony, id: :facility_village_or_colony %>
      <%= form.text_field :zone, id: :facility_zone %>
      <%= form.text_field :district, id: :facility_district, required: true %>
      <%= form.text_field :state, id: :facility_state, required: true %>
      <%= form.text_field :country, id: :facility_country, required: true, value: "India" %>
      <%= form.text_field :pin, id: :facility_pin %>
      <%= form.text_field :latitude, id: :facility_latitude %>
      <%= form.text_field :longitude, id: :facility_longitude %>
      <%= form.number_field :monthly_opd_load, id: :facility_monthly_opd_load, label: "Monthly OPD Load"%>
      <%= form.check_box :enable_diabetes_management, id: :facility_enable_diabetes_management, wrapper_class: 'pad-bottom' %>
      <%= form.primary %>
    <% end %>
  </div>
</div>
