<div class="page-header">
  <h1 class="page-title">All facilities</h1>

  <div>
    <% if policy([:manage, :facility, Facility]).upload? %>
      <%= link_to '+ Upload facilities CSV', upload_admin_facilities_path, class: "btn btn-sm btn-default" %>
    <% end %>
    <% if policy([:manage, FacilityGroup]).new? %>
      <%= link_to '<i class="fas fa-plus mr-1"></i> New facility group' .html_safe, new_admin_facility_group_path, class: "btn btn-sm btn-primary" %>
    <% end %>
  </div>
</div>

<div class="alert alert-info alert-dismissible fade show" role="alert">
    <i class="far fa-question-circle mr-2"></i> A <span class="term">Facility Group</span> is usually a <span class="term">District</span>. First, add a new facility group and then add facilities inside it.
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true"><i class="fas fa-times"></i></span>
  </button>
</div>

<% @organizations.order(:name).each do |organization| %>
  <% if @organizations.size > 1 %><h2 class="mt-5"><%= organization.name %></h2>
  <% end %>

  <% policy_scope([:manage, :facility, organization.facility_groups]).order(:name).each do |facility_group| %>
    <div class="card">
      <div class="row">
        <div class="col-6">
          <h3><%= facility_group.name %></h3>
        </div>
        <div class="col-6 text-right">
          <% if policy([:manage, facility_group]).edit? %>
            <%= link_to 'Edit group', edit_admin_facility_group_path(facility_group), class: "btn btn-sm btn-outline-primary" %>
          <% end %>
          <% if policy([:manage, :facility, facility_group.facilities.new]).new? %>
            <%= link_to '<i class="fas fa-plus mr-1"></i> Add a facility' .html_safe, new_admin_facility_group_facility_path(facility_group), class: "btn btn-sm btn-primary" %>
          <% end %>
        </div>
      </div>

      <% policy_scope([:manage, :facility, facility_group.facilities]).order(:name).each do |facility| %>

        <div class="row card-row">
          <div class="col-md-4">
            <h5>
              <% if policy([:manage, :facility, facility]).show? %>
                <%= link_to facility.name, [:admin, facility_group, facility], class: "d-block" %>
              <% else %>
                <%= facility.name %>
              <% end %>
            </h5>
          </div>
          <div class="col-md-5">
            <div class="card-details">
              <i class="fas fa-map-marker-alt light mr-2"></i> <%= facility.street_address %>
              <%= facility.village_or_colony %>
              <%= facility.zone %>
              <%= facility.district %>
              <%= facility.state %>
              <!-- <%= facility.country %></td-->
              <%= facility.pin %>
            </div>
          </div>
          <div class="col-md-3"><i class="fas fa-hospital light mr-2"></i> <%= facility.facility_type %> <span class="text-muted">(<%= facility.facility_size&.capitalize || "No size set" %>)</span></div>
        </div>

      <% end %>
    </div>
  <% end %>
<% end %>
