<% if policy(Organization).new? %>
  <%= link_to '+ Facility group', new_admin_facility_group_path, class: "btn btn-sm btn-primary float-right" %>
<% end %>

<h1 style="margin-bottom: 32px;">All facilities</h1>

<% @organizations.order(:name).each do |organization| %>
  <!--h1><%= organization.name %></h1-->

  <% policy_scope(organization.facility_groups).order(:name).each do |facility_group| %>

    <h2>
      <%= facility_group.name %>
      <% if policy(facility_group).edit? %>
        <small style="margin-left: 8px;"><%= link_to 'EDIT', edit_admin_facility_group_path(facility_group) %></small>
      <% end %>
    </h2>

    <div>
        <% if policy(facility_group).edit? %>
          <%= link_to "+ New Facility", new_admin_facility_group_facility_path(facility_group), class: "btn btn-default float-right" %>
        <% end %>
    </div>

    <p>
        Organization: <%= organization.name %><br>
        Protocol: <%= facility_group.protocol&.name %>
    </p>

    <div style="padding-bottom: 32px; clear: both;">
          <% policy_scope(facility_group.facilities).order(:name).each do |facility| %>
              <div class="card">
                  <div class="card-body">
                  <% if policy(facility).edit? %>
                    <%= link_to 'Edit', edit_admin_facility_group_facility_path(facility_group, facility), class: "btn btn-default float-right" %>
                  <% end %>

                  <h5><%= link_to facility.name, [:admin, facility_group, facility] %> <!-- <%= facility.facility_type %> --></h5>

                      <div class="card-details">
                      <%= facility.street_address %>
                      <%= facility.village_or_colony %>
                      <%= facility.district %>
                      <%= facility.state %>
                      <!-- <%= facility.country %></td-->
                      <%= facility.pin %>
                     </div>
                  </div>
              </div>
          <% end %>
    </div>
  <% end %>
<% end %>
