<p id="notice"><%= notice %></p>

<h1>Facilities</h1>

<table class="table">
  <thead class="thead-light">
    <tr>
      <th>Name</th>
      <th>Street address</th>
      <th>Village or colony</th>
      <th>District</th>
      <th>State</th>
      <th>Country</th>
      <th>Pin</th>
      <th>Facility type</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @facilities.each do |facility| %>
      <tr>
        <td><%= link_to facility.name, [:admin, facility] %></td>
        <td><%= facility.street_address %></td>
        <td><%= facility.village_or_colony %></td>
        <td><%= facility.district %></td>
        <td><%= facility.state %></td>
        <td><%= facility.country %></td>
        <td><%= facility.pin %></td>
        <td><%= facility.facility_type %></td>
        <% if policy(facility).edit? %>
          <td><%= link_to 'Edit', edit_admin_facility_path(facility) %></td>
        <% end %>
        <% if policy(facility).destroy? %>
          <td><%= link_to 'Destroy', [:admin, facility], method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<% if policy(Facility).new? %>
  <%= link_to 'New Facility', new_admin_facility_path, class: "btn btn-primary" %>
<% end %>
