<div class="page-header">
  <h1 class="page-title">Facilities</h1>
  <nav class="page-nav">
    <% if policy(Facility).new? %>
      <%= link_to 'New facility', new_admin_facility_path, class: "btn btn-sm btn-primary" %>
    <% end %>
  </nav>
</div>

<table class="table-responsive table">
  <thead class="thead-light">
    <tr>
      <th>Facility</th>
      <th>Organization</th>
      <!--th>Address</th-->
      <!--th>Type</th-->
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @facilities.each do |facility| %>
      <% facility_group = facility.facility_group %>
      <tr>
        <td>
            <%= link_to facility.name, [:admin, facility] %>
        </td>
        <td><small><%= link_to facility_group.name, admin_organization_facility_group_path(facility_group.organization, facility_group) if facility_group.present? %></small></td>
        <!--td><small><%= facility.street_address %>, 
            <%= facility.village_or_colony %>, 
            <%= facility.district %>, 
            <%= facility.state %>, 
            <%= facility.country %>, 
            <%= facility.pin %>
            </small>
        </td-->
        <!--td><small><%= facility.facility_type %></small></td-->
        <% if policy(facility).edit? %>
          <td><%= link_to 'Edit', edit_admin_facility_path(facility), class: "btn btn-sm btn-outline-primary" %></td>
        <% end %>
        <% if policy(facility).destroy? %>
          <td><%= link_to 'Delete', [:admin, facility], method: :delete, class: "btn btn-sm btn-outline-danger", data: { confirm: "Are you sure you want to delete #{facility.name}?" } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
