<div class="page-header">
  <h1 class="page-title">All facilities</h1>
  <nav class="page-nav">
    <% if policy([:manage, :facility, Facility]).upload? %>
      <%= link_to '+ Upload facilities CSV', upload_admin_facilities_path, class: "btn btn-sm btn-default" %>
    <% end %>
    <% if policy([:manage, FacilityGroup]).new? %>
      <%= link_to 'New facility group', new_admin_facility_group_path, class: "btn btn-sm btn-primary" %>
    <% end %>
  </nav>
</div>

<% @organizations.order(:name).each do |organization| %>
  <% if @organizations.size > 1 %><h2 class="mt-5"><%= organization.name %></h2>
  <% end %>

  <% policy_scope([:manage, :facility, organization.facility_groups]).order(:name).each do |facility_group| %>
    <div class="card">
      <div class="row">
        <div class="col-6">
          <h3><%= facility_group.name %></h3>
        </div>
        <div class="col-6 text-right">
          <% if policy([:manage, facility_group]).edit? %>
            <%= link_to 'Edit', edit_admin_facility_group_path(facility_group), class: "btn btn-sm btn-outline-primary" %>
          <% end %>
          <% if policy([:manage, facility_group]).new? %>
            <%= link_to "New Facility", new_admin_facility_group_facility_path(facility_group), class: "btn btn-sm btn-outline-success" %>
          <% end %>
        </div>
      </div>

      <% policy_scope([:manage, :facility, facility_group.facilities]).order(:name).each do |facility| %>

        <div class="row card-row">
          <div class="col-md-4">
            <h5><%= link_to facility.name, [:admin, facility_group, facility], class: "d-block" %></h5>
          </div>
          <div class="col-md-5">
            <div class="card-details">
              <i class="fas fa-map-marker-alt light mr-2"></i> <%= facility.street_address %>
              <%= facility.village_or_colony %>
              <%= facility.district %>
              <%= facility.state %>
              <!-- <%= facility.country %></td-->
              <%= facility.pin %>
            </div>
          </div>
          <div class="col-md-3"><i class="fas fa-hospital light mr-2"></i> <%= facility.facility_type %></div>
        </div>

      <% end %>
    </div>
  <% end %>
<% end %>