<div class="page-header">
  <h1 class="page-title">Facilities</h1>

  <div class="page-nav">
    <% if policy([:upcoming, :manage, FacilityGroup]).allowed? %>
      <%= link_to 'Bulk add facilities', upload_admin_facilities_path, class: "btn btn-sm btn-default" %>
    <% end %>

    <% if policy([:upcoming, :manage, current_admin.organization]).allowed? %>
      <%= link_to new_admin_facility_group_path, class: "btn btn-sm btn-success" do %>
        <i class="fas fa-plus mr-1"></i>
        Add facility group
      <% end %>
    <% end %>
  </div>
</div>

<%= render 'shared/search_form', path: admin_facilities_path, placeholder: "Search by facility name ..." %>

<% if searching? and @facilities.blank? %>
  <%= render "shared/no_search_results", message: "No results for '#{content_tag(:strong, search_query)}'" %>
<% else %>
  <div class="alert alert-info alert-dismissible fade show" role="alert">
    <i class="far fa-question-circle mr-2"></i> A <span class="term">Facility Group</span> is usually a <span class="term">District</span>. First, add a new facility group and then add facilities inside it.
    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
      <span aria-hidden="true"><i class="fas fa-times"></i></span>
    </button>
  </div>

  <% @organizations.order(:name).each do |organization| %>
    <% if @organizations.size > 1 %><h2 class="mt-5 mb-3"><span class="heading-label">Organization</span><%= organization.name %></h2>
    <% end %>

    <% @facility_groups.dig(organization).sort_by(&:name).each do |facility_group| %>
      <div class="card">
        <div class="row">
          <div class="col-10">
            <h3><span class="heading-label">Facility group</span><%= facility_group.name %></h3>
          </div>

          <% if policy([:upcoming, :manage, facility_group]).allowed? %>
            <div class="col-2 text-right">
              <strong><%= link_to 'Edit group', edit_admin_facility_group_path(facility_group), class: "btn btn-sm btn-outline-primary" %></strong>
            </div>
          <% end %>
        </div>

        <h3 class="mb-0"><span class="mt-3 mb-0 heading-label">Facilities</span></h3>

        <div class="row card-row">
          <div class="col-md-4">
            <% if policy([:upcoming, :manage, facility_group]).allowed? %>
              <%= link_to new_admin_facility_group_facility_path(facility_group), class: "btn btn-sm btn-outline-success" do %>
                <i class="fas fa-plus mr-1"></i>
                Add a facility
              <% end %>
            <% end %>
          </div>
        </div>

        <% @facilities.dig(facility_group).sort_by(&:name).each do |facility| %>

          <div class="row card-row">
            <div class="col-md-4">
              <h5>
                <% if policy([:upcoming, :manage, facility]).allowed? %>
                  <%= link_to facility.name, [:admin, facility_group, facility], class: "d-block" %>
                <% else %>
                  <%= facility.name %>
                <% end %>
              </h5>
            </div>
            <div class="col-md-1"><span class="text-muted"><%= facility.facility_type %></span></div>
            <div class="col-md-2"><span class="text-muted"><%= facility.facility_size&.capitalize || "No size set" %></span></div>
            <div class="col-md-2"><span class="text-muted">OPD: <%= facility.monthly_estimated_opd_load || "N/A" %></span></div>
          </div>

        <% end %>
      </div>
    <% end %>
  <% end %>
<% end %>
