<div class="page-header">
  <h1 class="page-title">
    <small><%= @facility.facility_group.name %></small><br>
    <%= @facility.name %>
  </h1>
  <nav class="page-nav">
    <% if policy(@facility).edit? %>
      <%= link_to 'Edit facility', edit_admin_facility_path(@facility), class: "btn btn-sm btn-primary" %>
    <% end %>
  </nav>
</div>

<h2>Address</h2>
<p>
  <%= @facility.street_address %><br>
  <%= @facility.village_or_colony %><br>
  <%= @facility.district %>, <%= @facility.state %><br>
  <%= @facility.pin %><br>
  <%= @facility.country %>
</p>

<% if @facility.latitude.present? && @facility.longitude.present? %>
  <h3>Latitude/Longitude</h3>
  <p><%= @facility.latitude %>, <%= @facility.longitude %></p>
<% end %>

<h2>Users</h2>
<div class="table-responsive">
  <table class="table">
    <thead class="thead-light">
    <tr>
      <th>Name</th>
      <th>Sync status</th>
      <th>Status reason</th>
      <th>Phone number</th>
      <th>Last login</th>
      <th colspan="2"></th>
    </tr>
    </thead>

    <tbody>
    <% @facility.users.order(:full_name).each do |user| %>
      <tr>
        <td class="nowrap"><%= link_to user.full_name, [:admin, user] %></td>
        <td class="sync_approval_status nowrap">
          <span class="label <%= user.sync_approval_status %>"><%= user.sync_approval_status&.capitalize %></span>
        </td>
        <td class="sync_approval_status_reason"><%= user.sync_approval_status_reason %></td>
        <td class="nowrap"><a href="tel:<%= user.phone_number %>"><%= user.phone_number %></a></td>
        <td class="nowrap">
          <%=
            if (user.logged_in_at.present?)
              'Logged in at:' + user.logged_in_at.to_s
            else
              'Has not logged in yet'
            end
          %>
        </td>
        <td class="nowrap">
          <% if policy(user).edit? %>
            <%= link_to 'Edit', edit_admin_user_path(user) %>
          <% end %>
          <% if policy(user).destroy? %>
            <span class="light divider">|</span> <%= link_to 'Delete', [:admin, user], method: :delete, data: { confirm: "Are you sure you want to delete #{user.full_name}?" } %>
          <% end %>
          <% unless user.sync_approval_status == 'denied' %>
            <span class="light divider">|</span> <%= link_to 'Deny access', '#deny-access-modal-' + user.id, 'data-toggle' => 'modal' %>
          <% end %>
          <% unless user.sync_approval_status == 'allowed' %>
            <span class="light divider">|</span> <%= link_to 'Allow access', admin_user_enable_access_path(user), method: :put, data: { confirm: I18n.t('admin.enable_access_alert') } %>
          <% end %>

          <%= render partial: "admin/users/deny_access_modal", locals: { user: user } %>
        </td>
      </tr>
    <% end %>
    </tbody>
  </table>
</div>
