<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @facility.name %>
</p>

<p>
  <strong>Street address:</strong>
  <%= @facility.street_address %>
</p>

<p>
  <strong>Village or colony:</strong>
  <%= @facility.village_or_colony %>
</p>

<p>
  <strong>District:</strong>
  <%= @facility.district %>
</p>

<p>
  <strong>State:</strong>
  <%= @facility.state %>
</p>

<p>
  <strong>Country:</strong>
  <%= @facility.country %>
</p>

<p>
  <strong>Pin:</strong>
  <%= @facility.pin %>
</p>

<p>
  <strong>Facility type:</strong>
  <%= @facility.facility_type %>
</p>

<h1>Users for <%= @facility.name %> </h1>

<table>
  <thead>
  <tr>
    <th>Name</th>
    <th>Phone Number</th>
    <th>OTP Valid Until</th>
    <th>Is access token valid?</th>
    <th colspan="5"></th>
  </tr>
  </thead>

  <tbody>
  <% @facility.users.each do |user| %>
    <tr>
      <td><%= user.full_name %></td>
      <td><%= user.phone_number %></td>
      <td><%= user.otp_valid_until %></td>
      <td><%= user.is_access_token_valid %></td>
      <td><%= link_to 'Show', [:admin, user] %></td>
      <td><%= link_to 'Edit', edit_admin_user_path(user) %></td>
      <td><%= link_to 'Destroy', [:admin, user], method: :delete, data: { confirm: 'Are you sure?' } %></td>
      <td><%= link_to 'Reset OTP', admin_user_reset_otp_path(user), method: :put, data: { confirm: I18n.t('admin.reset_otp_alert') } %></td>
      <td><%= link_to 'Disable Access', admin_user_disable_access_path(user), method: :put, data: { confirm: I18n.t('admin.disable_access_alert') } %></td>
    </tr>
  <% end %>
  </tbody>
</table>

<%= link_to 'New User', new_admin_user_path(facility: @facility) %>
<br>

<%= link_to 'Edit', edit_admin_facility_path(@facility) %> |
<%= link_to 'Back', admin_facilities_path %>
