<nav class="breadcrumb mt-n3 mt-md-0">
  <%= link_to 'All facilities', admin_facilities_path %>
  <i class="fas fa-angle-right light"></i> <%= @facility.facility_group.name %>
  <i class="fas fa-angle-right light"></i> <%= @facility.name %>
</nav>
<div class="page-header">
  <h1 class="page-title mt-32px">
    <%= @facility.name %>
  </h1>
  <nav class="page-nav">
    <% if current_admin.power_user? %>
      <%= link_to 'Import patients', new_admin_patient_import_path(facility_id: @facility.id), class: "btn btn-sm btn-primary" %>
    <% end %>
    <% if current_admin.accessible_facilities(:manage).find_by_id(@facility) %>
      <%= link_to 'Edit facility', edit_admin_facility_group_facility_path(@facility_group, @facility), class: "btn btn-sm btn-primary" %>
    <% end %>
  </nav>
</div>

<div class="card">
  <h2>Address</h2>
  <div>
    <div><%= @facility.street_address %></div>
    <div><%= @facility.village_or_colony %></div>
    <div><%= @facility.zone %></div>
    <div><%= @facility.district %>, <%= @facility.state %></div>
    <div><%= @facility.pin %></div>
    <div><%= @facility.country %></div>
  </div>
</div>
<div class="row">
  <div class="col-md-3 d-flex">
    <div class="card flex-fill">
      <h3>Latitude/longitude</h3>
      <% if @facility.latitude.present? && @facility.longitude.present? %>
        <div><i class="fas fa-map-marker-alt light mr-2"></i> <%= @facility.latitude %>, <%= @facility.longitude %>
        </div>
      <% else %>
        <div><i class="fas fa-angle-left light"></i> None entered <i class="fas fa-angle-right light"></i></div>
      <% end %>
    </div>
  </div>
  <div class="col-md-3 d-flex">
    <div class="card flex-fill">
      <h3>Estimated OPD load</h3>
      <div><%= @facility.monthly_estimated_opd_load || "(N/A)" %> adult patients per month</div>
    </div>
  </div>
  <div class="col-md-3 d-flex">
    <div class="card flex-fill">
      <h3>Facility type &amp; size</h3>
      Type: <%= @facility.facility_type || "(No type set)" %>
      <br>
      Size: <%= @facility.localized_facility_size || "No size set" %>
    </div>
  </div>
  <div class="col-md-3 d-flex">
    <div class="card flex-fill">
      <h3>Features</h3>
      Diabetes Management: <%= @facility.diabetes_enabled? ? "Enabled" : "Disabled" %>
      Teleconsultation:    <%= @facility.teleconsultation_enabled? ? "Enabled" : "Disabled" %>
    </div>
  </div>
</div>

<div class="card">
  <h2>Users</h2>
  <% if @facility_users.present? %>
    <% @facility_users.order(:full_name).each do |user| %>
      <div class="card-row row">
        <div class="col">
          <h5>
            <%= link_to user.full_name, [:admin, user] %>
            <% unless user.sync_approval_status == 'allowed' %>
              <span class="badge badge-primary <%= user.sync_approval_status %>"><%= user.sync_approval_status&.capitalize %></span>
            <% end %>
          </h5>
          <div class="mt-1 mb-1">
            <%=
              if (user.logged_in_at.present?)
                'Last login: ' + rounded_time_ago_in_words(user.logged_in_at)
              else
                'Has not logged in yet'
              end
            %>
            <div class="text-info mt-2 mb-2">Access: <%= user.sync_approval_status_reason %></div>
          </div>
          <div>
            <a href="tel:<%= user.phone_number %>" class="btn btn-sm btn-phone btn-outline-primary"><i class="fas fa-phone"></i> <%= user.phone_number %>
            </a>
          </div>
        </div>
        <div class="col text-right">
          <%= link_to 'Edit', edit_admin_user_path(user), class: "btn btn-sm btn-outline-primary" %>
          <% unless user.sync_approval_status == 'denied' %>
            <% unless user.sync_approval_status == 'allowed' %>
              <%= link_to 'Deny', '#deny-access-modal-' + user.id, 'data-toggle' => 'modal', class: "btn btn-sm btn-outline-danger" %>
            <% end %>
          <% end %>

          <% unless user.sync_approval_status == 'allowed' %>
            <%= link_to 'Allow access', admin_user_enable_access_path(user), method: :put, data: {confirm: I18n.t('admin.enable_access_alert')}, class: "btn btn-sm btn-outline-success" %>
          <% end %>

          <%= render partial: "admin/users/deny_access_modal", locals: {user: user} %>

        </div>
      </div>
    <% end %>
  <% else %>
    <div><i class="fas fa-angle-left light"></i> No users <i class="fas fa-angle-right light"></i></div>
  <% end %>
</div>
