<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type'/>
</head>
<body>

<h3>New user registered.</h3>

<p class=<%= @user.access_token_valid? ? 'active' : 'inactive' %>>
  <strong><%= t('name') %>:</strong>
  <%= @user.full_name %>
</p>

<p>
  <strong><%= t('phone_number') %>:</strong>
  <a href="tel:<%= @user.phone_number %>"><%= @user.phone_number %></a>
</p>

<p>
  <strong><%= t('registration_approval_email.registration_facility') %>:</strong>
  <%= @user.facility.name %>
</p>

<p>
  <strong><%= t('registration_approval_email.accessible_facilities') %>:</strong>
  <ul>
    <% @user.facility_group.facilities.each do |facility| %>
      <li><%= facility.name %></li>
    <% end %>
  </ul>
</p>

<%= link_to t('registration_approval_email.allow_or_deny_access'), admin_user_url(@user) %>
</body>
</html>
