<div class="page-header">
  <h1 class="page-title">Organizations</h1>

  <nav class="page-nav">
    <% if current_admin.power_user? %>
      <%= link_to 'Add organization', new_admin_organization_path, class: "btn btn-sm btn-success" %>
    <% end %>
  </nav>
</div>

<% @organizations.each do |organization| %>
  <div class="card">
    <div class="row">
      <div class="col-10">
        <h5 class="mb-1">
            <%= link_to organization.name, edit_admin_organization_path(organization) %>
        </h5>
        <div class="desc"><%= organization.description %>.</div>

        <div class="text-secondary mt-2">
          Facility groups: <%= organization.facility_groups.count %>
        </div>
        <div class="text-secondary mt-2">
          Facilities: <%= organization.facilities.count %>
        </div>
        <div class="text-secondary mt-2">
          Users: <%= organization.users.count %>
        </div>
      </div>
      <div class="col-2 text-right">

        <%= link_to([:admin, organization], method: :delete, class: "btn btn-outline-danger btn-sm", data: { confirm: "Are you sure you want to delete #{organization.name}?" }) do %>
          <i class="fas fa-trash-alt"></i>
        <% end %>
      </div>
    </div>
  </div>
<% end %>

