<div class="page-header">
  <h1 class="page-title">Organizations</h1>
  <nav class="page-nav">
    <% if policy(Organization).new? %>
      <%= link_to '+ Organization', new_admin_organization_path, class: "btn btn-sm btn-primary" %>
    <% end %>
  </nav>
</div>

<table class="table-responsive table">
  <thead class="thead-light">
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Facility Groups</th>
      <th>Facilities</th>
      <th>Users</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @organizations.each do |organization| %>
      <tr>
        <td class="nowrap"><%= link_to organization.name, [:admin, organization] %></td>
        <td><%= organization.description %></td>
        <td><%= organization.facility_groups.count %></td>
        <td><%= organization.facilities.count %></td>
        <td><%= organization.users.count %></td>
        <% if policy(organization).edit? %>
          <td><%= link_to 'Edit', edit_admin_organization_path(organization) %></td>
        <% end %>
        <% if policy(organization).destroy? %>
          <td><%= link_to 'Delete', [:admin, organization], method: :delete, data: { confirm: "Are you sure you want to delete #{organization.name}?" } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
