<div class="page-header">
  <div class="page-title">
    <h1><%= @organization.name %></h1>
    <p>
      <strong>Description:</strong> <%= @organization.description %>
    </p>
  </div>

  <nav class="page-nav">
    <% if policy(@organization).edit? %>
      <%= link_to "Edit organization", edit_admin_organization_path(@organization), class: "btn btn-sm btn-primary" %>
    <% end %>
    <% if policy(FacilityGroup).new? %>
      <%= link_to 'New facility group', new_admin_organization_facility_group_path(@organization), class: "btn btn-sm btn-primary" %>
    <% end %>
  </nav>
</div>

<div class="table-responsive">
  <table class="table">
    <thead class="thead-light">
    <tr>
      <th class="nowrap">Facility Groups</th>
      <th class="nowrap">Description</th>
      <th class="nowrap">Number of facilities</th>
      <th colspan="2"></th>
    </tr>
    </thead>

    <tbody>
    <% @organization.facility_groups.each do |facility_group| %>
      <tr>
        <td class="nowrap"><%= link_to facility_group.name, admin_organization_facility_group_path(@organization, facility_group) %></td>
        <td class="nowrap"><%= facility_group.description %></td>
        <td class="nowrap"><%= facility_group.facilities.count %></td>
        <% if policy(facility_group).edit? %>
          <td><%= link_to 'Edit', edit_admin_organization_facility_group_path(@organization, facility_group) %></td>
        <% end %>
        <% if policy(facility_group).destroy? %>
          <td><%= link_to 'Delete', [:admin, @organization, facility_group], method: :delete, data: { confirm: "Are you sure you want to delete #{facility_group.name}?" } %></td>
        <% end %>
      </tr>
    <% end %>
    </tbody>
  </table>
</div>
