<div
  id="<%= id.to_s %>"
  data-period="<%= period.to_s %>"
  class="pt-20px px-20px mt-8px mx-0px grid-mb-16px bg-white br-4px bs-small d-lg-flex fd-lg-column
         justify-lg-between h-lg-full w-lg-full mt-lg-0 pb-inside-avoid b-print-black w-print-16cm p-relative pb-24px">
  <div>
    <%= title %>
    <%= summary %>
  </div>
  <div class="p-relative">
    <div class="h-320px wider-charts">
      <canvas></canvas>
    </div>
  </div>
    <% if footer.present? %>
    <div class="p-absolute l-0 w-100 b-8px d-flex justify-center">
      <div class="fs-13px d-inline">
        <%= footer %>
      </div>
    </div>
    <% end %>
  <script> DashboardReports().ReportsGraph("<%= id %>", <%= data.to_json.html_safe %>)</script>
</div>
