<h1 class="page-header">
  Training materials
</h1>
<div class="page" id="resources">
  <div class="container">
    <div class="row">
      <div class="col-lg-2 pl-lg-0">
        <nav class="secondary-nav">
          <h4 class="pl-2 mt-3">
            Resources
          </h4>
          <a href="#card-office-hours" class="nav-link">
            Tech team office hours
          </a>
          <a href="#card-checklist" class="nav-link">
            Deployment checklist
          </a>
          <a href="#card-presentations" class="nav-link">
            Training presentations
          </a>
          <a href="#card-videos" class="nav-link">
            Training videos
          </a>
          <a href="#card-1pager" class="nav-link">
            1-pager about Simple
          </a>
          <a href="#card-print" class="nav-link">
            Print material
          </a>
          <a href="#card-faq" class="nav-link">
            Common questions
          </a>
          <a href="#card-contact" class="nav-link">
            Contact
          </a>
        </nav>
      </div>
      <div class="col-12 col-lg-10">
        <% if CountryConfig.current[:name] == "India" %>
          <%= render "shared/office_hours_india" %>
        <% elsif CountryConfig.current[:name] == "Bangladesh" %>
          <%= render "shared/office_hours_bangladesh" %>
        <% elsif CountryConfig.current[:name] == "Ethiopia" %>
          <%= render "shared/office_hours_ethiopia" %>
        <% end %>
        <div class="card" id="card-checklist">
          <h2>
            Deployment checklist
          </h2>
          <div class="resource-link resource-doc">
            <a href="<%= ExternalLinksHelper::DEPLOYMENT_CHECKLIST_LINK %>" class="resource-url">
              Deployment checklist
              <span>
                Print and use this checklist when deploying Simple in a new district or region.
              </span>
              <i class="far fa-file-alt"></i>
            </a>
          </div>
        </div>
        <div class="card" id="card-presentations">
          <h2>
            Training presentations
          </h2>
          <% if CountryConfig.current[:name] == "Ethiopia" %>
            <%= render "shared/simple_training_guide_ethiopia" %>
          <% elsif CountryConfig.current[:name] == "India" %>
            <%= render "shared/simple_training_guide_india" %>
            <%= render "shared/simple_training_guide_telemedicine" %>
          <% elsif CountryConfig.current[:name] == "Bangladesh" %>
            <%= render "shared/simple_training_guide_bangladesh" %>
          <% elsif CountryConfig.current[:name] == "Sri Lanka" %>
            <%= render "shared/simple_training_guide_sri_lanka" %>
          <% end %>
        </div>
        <div class="card" id="card-videos">
          <h2>
            Training videos
          </h2>
          <div class="row">
            <div class="col-sm-3 col-video">
              <%= image_tag 'resources/video-chapter-all.jpg', style: 'width: 100%;' %>
              <strong>
                Training video: All Chapters
              </strong>
              <span>
                36 min
              </span>
              <a href="<%= ExternalLinksHelper::TRAINING_VIDEO_ALL_CHAPTERS_YOUTUBE_LINK %>">
                <i class="fab fa-youtube"></i> English YouTube
              </a>
              <% if CountryConfig.current[:name] == "Ethiopia" %>
                <a href="<%= ExternalLinksHelper::TRAINING_VIDEO_ALL_CHAPTERS_AMHARIC_YOUTUBE_LINK %>">
                  <i class="fab fa-youtube"></i> Amharic YouTube
                </a>
                <a href="<%= ExternalLinksHelper::TRAINING_VIDEO_ALL_CHAPTERS_OROMO_YOUTUBE_LINK %>">
                  <i class="fab fa-youtube"></i> Oromo YouTube
                </a>
              <% end %>
              <a href="<%= ExternalLinksHelper::TRAINING_VIDEO_ALL_CHAPTERS_DOWNLOAD_LINK %>">
                <i class="fas fa-arrow-circle-down"></i> Download English: 515 <small>MB</small>
              </a>
              <% if CountryConfig.current[:name] == "Ethiopia" %>
                <a href="<%= ExternalLinksHelper::TRAINING_VIDEO_ALL_CHAPTERS_AMHARIC_DOWNLOAD_LINK %>">
                  <i class="fas fa-arrow-circle-down"></i> Download Amharic: 892 <small>MB</small>
                </a>
                <a href="<%= ExternalLinksHelper::TRAINING_VIDEO_ALL_CHAPTERS_OROMO_DOWNLOAD_LINK %>">
                  <i class="fas fa-arrow-circle-down"></i> Download Oromo: 857 <small>MB</small>
                </a>
              <% end %>
            </div>
            <div class="col-sm-3 col-video">
              <%= image_tag 'resources/video-trainers.jpg', style: 'width: 100%;' %>
              <strong>
                How to conduct a training
              </strong>
              <span>
                5 min 42 sec
              </span>
              <a href="<%= ExternalLinksHelper::HOW_TO_CONDUCT_A_TRAINING_YOUTUBE_LINK %>">
                <i class="fab fa-youtube"></i> English YouTube
              </a>
              <a href="<%= ExternalLinksHelper::HOW_TO_CONDUCT_A_TRAINING_DOWNLOAD_LINK %>">
                <i class="fas fa-arrow-circle-down"></i> Download English: 87 <small>MB</small>
              </a>
            </div>
          </div>
          <h4 class="mt-5">
            Training chapters
          </h4>
          <div class="row">
            <div class="col-sm-3 col-video mb-3">
              <%= image_tag 'resources/video-chapter-1.jpg', style: 'width: 100%;' %>
              <strong>
                1: Install the app
              </strong>
              <span>
                4 min
              </span>
              <a href="<%= ExternalLinksHelper::INSTALL_THE_APP_YOUTUBE_LINK %>">
                <i class="fab fa-youtube"></i> English YouTube
              </a>
              <% if CountryConfig.current[:name] == "Ethiopia" %>
                <a href="<%= ExternalLinksHelper::INSTALL_THE_APP_AMHARIC_YOUTUBE_LINK %>">
                  <i class="fab fa-youtube"></i> Amharic YouTube
                </a>
                <a href="<%= ExternalLinksHelper::INSTALL_THE_APP_OROMO_YOUTUBE_LINK %>">
                  <i class="fab fa-youtube"></i> Oromo YouTube
                </a>
              <% end %>
              <a href="<%= ExternalLinksHelper::INSTALL_THE_APP_DOWNLOAD_LINK %>">
                <i class="fas fa-arrow-circle-down"></i> Download English: 48 <small>MB</small>
              </a>
              <% if CountryConfig.current[:name] == "Ethiopia" %>
                <a href="<%= ExternalLinksHelper::INSTALL_THE_APP_AMHARIC_DOWNLOAD_LINK %>">
                  <i class="fas fa-arrow-circle-down"></i> Download Amharic: 89 <small>MB</small>
                </a>
                <a href="<%= ExternalLinksHelper::INSTALL_THE_APP_OROMO_DOWNLOAD_LINK %>">
                  <i class="fas fa-arrow-circle-down"></i> Download Oromo: 75 <small>MB</small>
                </a>
              <% end %>
            </div>
            <div class="col-sm-3 col-video mb-3">
              <%= image_tag 'resources/video-chapter-2.jpg', style: 'width: 100%;' %>
              <strong>
                2: Introduction
              </strong>
              <span>
                4 min
              </span>
              <a href="<%= ExternalLinksHelper::INTRODUCTION_YOUTUBE_LINK %>">
                <i class="fab fa-youtube"></i> English YouTube
              </a>
              <% if CountryConfig.current[:name] == "Ethiopia" %>
                <a href="<%= ExternalLinksHelper::INTRODUCTION_AMHARIC_YOUTUBE_LINK %>">
                  <i class="fab fa-youtube"></i> Amharic YouTube
                </a>
                <a href="<%= ExternalLinksHelper::INTRODUCTION_OROMO_YOUTUBE_LINK %>">
                  <i class="fab fa-youtube"></i> Oromo YouTube
                </a>
              <% end %>
              <a href="<%= ExternalLinksHelper::INTRODUCTION_DOWNLOAD_LINK %>">
                <i class="fas fa-arrow-circle-down"></i> Download English: 59 <small>MB</small>
              </a>
              <% if CountryConfig.current[:name] == "Ethiopia" %>
                <a href="<%= ExternalLinksHelper::INTRODUCTION_AMHARIC_DOWNLOAD_LINK %>">
                  <i class="fas fa-arrow-circle-down"></i> Download Amharic: 83 <small>MB</small>
                </a>
                <a href="<%= ExternalLinksHelper::INTRODUCTION_OROMO_DOWNLOAD_LINK %>">
                  <i class="fas fa-arrow-circle-down"></i> Download Oromo: 78 <small>MB</small>
                </a>
              <% end %>
            </div>
            <div class="col-sm-3 col-video mb-3">
              <%= image_tag 'resources/video-chapter-3.jpg', style: 'width: 100%;' %>
              <strong>
                3: Register a patient
              </strong>
              <span>
                8 min
              </span>
              <a href="<%= ExternalLinksHelper::REGISTER_A_PATIENT_YOUTUBE_LINK %>">
                <i class="fab fa-youtube"></i> English YouTube
              </a>
              <% if CountryConfig.current[:name] == "Ethiopia" %>
                <a href="<%= ExternalLinksHelper::REGISTER_A_PATIENT_AMHARIC_YOUTUBE_LINK %>">
                  <i class="fab fa-youtube"></i> Amharic YouTube
                </a>
                <a href="<%= ExternalLinksHelper::REGISTER_A_PATIENT_OROMO_YOUTUBE_LINK %>">
                  <i class="fab fa-youtube"></i> Oromo YouTube
                </a>
              <% end %>
              <a href="<%= ExternalLinksHelper::REGISTER_A_PATIENT_DOWNLOAD_LINK %>">
                <i class="fas fa-arrow-circle-down"></i> Download English: 86 <small>MB</small>
              </a>
              <% if CountryConfig.current[:name] == "Ethiopia" %>
                <a href="<%= ExternalLinksHelper::REGISTER_A_PATIENT_AMHARIC_DOWNLOAD_LINK %>">
                  <i class="fas fa-arrow-circle-down"></i> Download Amharic: 179 <small>MB</small>
                </a>
                <a href="<%= ExternalLinksHelper::REGISTER_A_PATIENT_OROMO_DOWNLOAD_LINK %>">
                  <i class="fas fa-arrow-circle-down"></i> Download Oromo: 160 <small>MB</small>
                </a>
              <% end %>
            </div>
            <div class="col-sm-3 col-video mb-3">
              <%= image_tag 'resources/video-chapter-4.jpg', style: 'width: 100%;' %>
              <strong>
                4: Search for a follow-up patient
              </strong>
                <span>
                  4 min
                </span>
                <a href="<%= ExternalLinksHelper::SEARCH_FOR_PATIENT_YOUTUBE_LINK %>">
                  <i class="fab fa-youtube"></i> English YouTube
                </a>
                <% if CountryConfig.current[:name] == "Ethiopia" %>
                  <a href="<%= ExternalLinksHelper::SEARCH_FOR_PATIENT_AMHARIC_YOUTUBE_LINK %>">
                    <i class="fab fa-youtube"></i> Amharic YouTube
                  </a>
                  <a href="<%= ExternalLinksHelper::SEARCH_FOR_PATIENT_OROMO_YOUTUBE_LINK %>">
                    <i class="fab fa-youtube"></i> Oromo YouTube
                  </a>
                <% end %>
                <a href="<%= ExternalLinksHelper::SEARCH_FOR_PATIENT_DOWNLOAD_LINK %>">
                  <i class="fas fa-arrow-circle-down"></i> Download English: 64 <small>MB</small>
                </a>
                <% if CountryConfig.current[:name] == "Ethiopia" %>
                  <a href="<%= ExternalLinksHelper::SEARCH_FOR_PATIENT_AMHARIC_DOWNLOAD_LINK %>">
                    <i class="fas fa-arrow-circle-down"></i> Download Amharic: 96 <small>MB</small>
                  </a>
                  <a href="<%= ExternalLinksHelper::SEARCH_FOR_PATIENT_OROMO_DOWNLOAD_LINK %>">
                    <i class="fas fa-arrow-circle-down"></i> Download Oromo: 106 <small>MB</small>
                  </a>
                <% end %>
            </div>
            <div class="col-sm-3 col-video mb-3">
              <%= image_tag 'resources/video-chapter-5.jpg', style: 'width: 100%;' %>
              <strong>
                5: Find the right patient
              </strong>
              <span>
                3 min
              </span>
              <a href="<%= ExternalLinksHelper::FIND_PATIENT_YOUTUBE_LINK %>">
                <i class="fab fa-youtube"></i> English YouTube
              </a>
              <% if CountryConfig.current[:name] == "Ethiopia" %>
                <a href="<%= ExternalLinksHelper::FIND_PATIENT_AMHARIC_YOUTUBE_LINK %>">
                  <i class="fab fa-youtube"></i> Amharic YouTube
                </a>
                <a href="<%= ExternalLinksHelper::FIND_PATIENT_OROMO_YOUTUBE_LINK %>">
                  <i class="fab fa-youtube"></i> Oromo YouTube
                </a>
              <% end %>
              <a href="<%= ExternalLinksHelper::FIND_PATIENT_DOWNLOAD_LINK %>">
                <i class="fas fa-arrow-circle-down"></i> Download English: 33 <small>MB</small>
              </a>
              <% if CountryConfig.current[:name] == "Ethiopia" %>
                <a href="<%= ExternalLinksHelper::FIND_PATIENT_AMHARIC_DOWNLOAD_LINK %>">
                  <i class="fas fa-arrow-circle-down"></i> Download Amharic: 43 <small>MB</small>
                </a>
                <a href="<%= ExternalLinksHelper::FIND_PATIENT_OROMO_DOWNLOAD_LINK %>">
                  <i class="fas fa-arrow-circle-down"></i> Download Oromo: 30 <small>MB</small>
                </a>
              <% end %>
            </div>
            <div class="col-sm-3 col-video mb-3">
              <%= image_tag 'resources/video-chapter-6.jpg', style: 'width: 100%;' %>
              <strong>
                6: Call overdue patients
              </strong>
              <span>
                3 min
              </span>
              <a href="<%= ExternalLinksHelper::CALL_OVERDUE_PATIENTS_YOUTUBE_LINK %>">
                <i class="fab fa-youtube"></i> English YouTube
              </a>
              <% if CountryConfig.current[:name] == "Ethiopia" %>
                <a href="<%= ExternalLinksHelper::CALL_OVERDUE_PATIENTS_AMHARIC_YOUTUBE_LINK %>">
                  <i class="fab fa-youtube"></i> Amharic YouTube
                </a>
                <a href="<%= ExternalLinksHelper::CALL_OVERDUE_PATIENTS_OROMO_YOUTUBE_LINK %>">
                  <i class="fab fa-youtube"></i> Oromo YouTube
                </a>
              <% end %>
              <a href="<%= ExternalLinksHelper::CALL_OVERDUE_PATIENTS_DOWNLOAD_LINK %>">
                <i class="fas fa-arrow-circle-down"></i> Download English: 35 <small>MB</small>
              </a>
              <% if CountryConfig.current[:name] == "Ethiopia" %>
                <a href="<%= ExternalLinksHelper::CALL_OVERDUE_PATIENTS_AMHARIC_DOWNLOAD_LINK %>">
                  <i class="fas fa-arrow-circle-down"></i> Download Amharic: 68 <small>MB</small>
                </a>
                <a href="<%= ExternalLinksHelper::CALL_OVERDUE_PATIENTS_OROMO_DOWNLOAD_LINK %>">
                  <i class="fas fa-arrow-circle-down"></i> Download Oromo: 63 <small>MB</small>
                </a>
              <% end %>
            </div>
            <div class="col-sm-3 col-video mb-3">
              <%= image_tag 'resources/video-chapter-7.jpg', style: 'width: 100%;' %>
              <strong>
                7: Important features
              </strong>
              <span>
                4 min
              </span>
              <a href="<%= ExternalLinksHelper::IMPORTANT_FEATURES_YOUTUBE_LINK %>">
                <i class="fab fa-youtube"></i> English YouTube
              </a>
              <% if CountryConfig.current[:name] == "Ethiopia" %>
                <a href="<%= ExternalLinksHelper::IMPORTANT_FEATURES_AMHARIC_YOUTUBE_LINK %>">
                  <i class="fab fa-youtube"></i> Amharic YouTube
                </a>
                <a href="<%= ExternalLinksHelper::IMPORTANT_FEATURES_OROMO_YOUTUBE_LINK %>">
                  <i class="fab fa-youtube"></i> Oromo YouTube
                </a>
              <% end %>
              <a href="<%= ExternalLinksHelper::IMPORTANT_FEATURES_DOWNLOAD_LINK %>">
                <i class="fas fa-arrow-circle-down"></i> Download English: 52 <small>MB</small>
              </a>
              <% if CountryConfig.current[:name] == "Ethiopia" %>
                <a href="<%= ExternalLinksHelper::IMPORTANT_FEATURES_AMHARIC_DOWNLOAD_LINK %>">
                  <i class="fas fa-arrow-circle-down"></i> Download Amharic: 84 <small>MB</small>
                </a>
                <a href="<%= ExternalLinksHelper::IMPORTANT_FEATURES_OROMO_DOWNLOAD_LINK %>">
                  <i class="fas fa-arrow-circle-down"></i> Download Oromo: 64 <small>MB</small>
                </a>
              <% end %>
            </div>
            <div class="col-sm-3 col-video mb-3">
              <%= image_tag 'resources/video-chapter-8.jpg', style: 'width: 100%;' %>
              <strong>
                8: FAQ
              </strong>
              <span>
                3 min 35 sec
              </span>
              <a href="<%= ExternalLinksHelper::FAQ_YOUTUBE_LINK %>">
                <i class="fab fa-youtube"></i> English YouTube
              </a>
              <% if CountryConfig.current[:name] == "Ethiopia" %>
                <a href="<%= ExternalLinksHelper::FAQ_AMHARIC_YOUTUBE_LINK %>">
                  <i class="fab fa-youtube"></i> Amharic YouTube
                </a>
                <a href="<%= ExternalLinksHelper::FAQ_OROMO_YOUTUBE_LINK %>">
                  <i class="fab fa-youtube"></i> Oromo YouTube
                </a>
              <% end %>
              <a href="<%= ExternalLinksHelper::FAQ_DOWNLOAD_LINK %>">
                <i class="fas fa-arrow-circle-down"></i> Download English: 39 <small>MB</small>
              </a>
              <% if CountryConfig.current[:name] == "Ethiopia" %>
                <a href="<%= ExternalLinksHelper::FAQ_AMHARIC_DOWNLOAD_LINK %>">
                  <i class="fas fa-arrow-circle-down"></i> Download Amharic: 72 <small>MB</small>
                </a>
                <a href="<%= ExternalLinksHelper::FAQ_OROMO_DOWNLOAD_LINK %>">
                  <i class="fas fa-arrow-circle-down"></i> Download Oromo: 73 <small>MB</small>
                </a>
              <% end %>
            </div>
            <div class="col-sm-3 col-video mb-3">
              <%= image_tag 'resources/video-chapter-9.jpg', style: 'width: 100%;' %>
              <strong>
                9: How to get help
              </strong>
              <span>
                1 min 22 sec
              </span>
              <a href="<%= ExternalLinksHelper::HOW_TO_GET_HELP_YOUTUBE_LINK %>">
                <i class="fab fa-youtube"></i> English YouTube
              </a>
              <% if CountryConfig.current[:name] == "Ethiopia" %>
                <a href="<%= ExternalLinksHelper::HOW_TO_GET_HELP_AMHARIC_YOUTUBE_LINK %>">
                  <i class="fab fa-youtube"></i> Amharic YouTube
                </a>
                <a href="<%= ExternalLinksHelper::HOW_TO_GET_HELP_OROMO_YOUTUBE_LINK %>">
                  <i class="fab fa-youtube"></i> Oromo YouTube
                </a>
              <% end %>
              <a href="<%= ExternalLinksHelper::HOW_TO_GET_HELP_DOWNLOAD_LINK %>">
                <i class="fas fa-arrow-circle-down"></i> Download English: 20 <small>MB</small>
              </a>
              <% if CountryConfig.current[:name] == "Ethiopia" %>
                <a href="<%= ExternalLinksHelper::HOW_TO_GET_HELP_AMHARIC_DOWNLOAD_LINK %>">
                  <i class="fas fa-arrow-circle-down"></i> Download Amharic: 31 <small>MB</small>
                </a>
                <a href="<%= ExternalLinksHelper::HOW_TO_GET_HELP_OROMO_DOWNLOAD_LINK %>">
                  <i class="fas fa-arrow-circle-down"></i> Download Oromo: 37 <small>MB</small>
                </a>
              <% end %>
            </div>
            <div class="col-sm-3 col-video mb-3">
              <%= image_tag 'resources/video-chapter-10.jpg', style: 'width: 100%;' %>
              <strong>
                10: Start using Simple
              </strong>
              <span>
                2 min
              </span>
              <a href="<%= ExternalLinksHelper::START_USING_SIMPLE_YOUTUBE_LINK %>">
                <i class="fab fa-youtube"></i> English YouTube
              </a>
              <% if CountryConfig.current[:name] == "Ethiopia" %>
                <a href="<%= ExternalLinksHelper::START_USING_SIMPLE_AMHARIC_YOUTUBE_LINK %>">
                  <i class="fab fa-youtube"></i> Amharic YouTube
                </a>
                <a href="<%= ExternalLinksHelper::START_USING_SIMPLE_OROMO_YOUTUBE_LINK %>">
                  <i class="fab fa-youtube"></i> Oromo YouTube
                </a>
              <% end %>
              <a href="<%= ExternalLinksHelper::START_USING_SIMPLE_DOWNLOAD_LINK %>">
                <i class="fas fa-arrow-circle-down"></i> Download English: 30 <small>MB</small>
              </a>
              <% if CountryConfig.current[:name] == "Ethiopia" %>
                <a href="<%= ExternalLinksHelper::START_USING_SIMPLE_AMHARIC_DOWNLOAD_LINK %>">
                  <i class="fas fa-arrow-circle-down"></i> Download Amharic: 48 <small>MB</small>
                </a>
                <a href="<%= ExternalLinksHelper::START_USING_SIMPLE_OROMO_DOWNLOAD_LINK %>">
                  <i class="fas fa-arrow-circle-down"></i> Download Oromo: 55 <small>MB</small>
                </a>
              <% end %>
            </div>
          </div>
          <h4 class="mt-5">
            Other videos
          </h4>
          <div class="row">
            <div class="col-sm-3 col-video">
              <%= image_tag 'resources/video-telemedicine.jpg', style: 'width: 100%;' %>
              <strong>
                Telemedicine Training
              </strong>
              <span>
                5 min
              </span>
              <a href="<%= ExternalLinksHelper::TELEMEDICINE_TRAINING_ENGLISH_YOUTUBE_LINK %>">
                <i class="fab fa-youtube"></i> English YouTube
              </a>
              <% if CountryConfig.current[:name] == "India" %>
                <a href="<%= ExternalLinksHelper::TELEMEDICINE_TRAINING_HINDI_YOUTUBE_LINK %>">
                  <i class="fab fa-youtube"></i> Hindi YouTube
                </a>
              <% end %>
              <a href="<%= ExternalLinksHelper::TELEMEDICINE_TRAINING_ENGLISH_DOWNLOAD_LINK %>">
                <i class="fas fa-arrow-circle-down"></i> Download English: 82 <small>MB</small>
              </a>
              <% if CountryConfig.current[:name] == "India" %>
                <a href="<%= ExternalLinksHelper::TELEMEDICINE_TRAINING_HINDI_DOWNLOAD_LINK %>">
                  <i class="fas fa-arrow-circle-down"></i> Download Hindi: 88 <small>MB</small>
                </a>
              <% end %>
            </div>
            <div class="col-sm-3 col-video">
              <%= image_tag 'resources/video-how.jpg', style: 'width: 100%;' %>
              <strong>
                Quick Simple Training
              </strong>
              <span>
                5 min
              </span>
              <a href="<%= ExternalLinksHelper::QUICK_SIMPLE_TRAINING_ENGLISH_YOUTUBE_LINK %>">
                <i class="fab fa-youtube"></i> English YouTube
              </a>
              <% if CountryConfig.current[:name] == "India" %>
                <a href="<%= ExternalLinksHelper::QUICK_SIMPLE_TRAINING_HINDI_YOUTUBE_LINK %>">
                  <i class="fab fa-youtube"></i> Hindi YouTube
                </a>
              <% end %>
            </div>
            <div class="col-sm-3 col-video">
              <%= image_tag 'resources/video-passport.jpg', style: 'width: 100%;' %>
              <strong>
                How to use a BP Passport
              </strong>
              <span>
                3 min 21 sec
              </span>
              <a href="<%= ExternalLinksHelper::HOW_TO_USE_BP_PASSPORT_HINDI_YOUTUBE_LINK %>">
                <i class="fab fa-youtube"></i> Hindi (English subtitles)
              </a>
            </div>
            <div class="col-sm-3 col-video">
              <%= image_tag 'resources/video-doc.jpg', style: 'width: 100%;' %>
              <strong>
                Simple Documentary
              </strong>
              <span>
                3 min / 5 min 30 sec
              </span>
              <a href="<%= ExternalLinksHelper::SIMPLE_DOCUMENTARY_SHORT_YOUTUBE_LINK %>">
                <i class="fab fa-youtube"></i> Short version
              </a>
              <a href="<%= ExternalLinksHelper::SIMPLE_DOCUMENTARY_LONG_YOUTUBE_LINK %>">
                <i class="fab fa-youtube"></i> Long version
              </a>
            </div>
          </div>
        </div>
        <div class="card" id="card-1pager">
          <h2>
            1-pagers about Simple
          </h2>
          <% if CountryConfig.current[:name] == "India" %>
            <%= render "shared/one_pager_india" %>
          <% end %>
          <%= render "shared/one_pager_simple" %> 
        </div>
        <div class="card" id="card-print">
          <h2>
            Print material
          </h2>
          <div class="row">
            <div class="col-sm-3 col-video mt-3 mb-0px">
              <%= image_tag 'resources/user-handbook.jpg', style: 'width: 100%;' %>
              <strong class="mt-2 d-block">
                App Users Guidebook
              </strong>
              <div class="mt-2">
                <% if CountryConfig.current[:name] == "India" %>
                  <a href="<%= ExternalLinksHelper::APP_USERS_GUIDE_BENGALI_DOWNLOAD_LINK %>" class="doc-download">
                    <i class="fas fa-arrow-circle-down"></i> Download Bengali PDF
                  </a>
                  <a href="<%= ExternalLinksHelper::APP_USERS_GUIDE_HINDI_DOWNLOAD_LINK %>" class="doc-download">
                    <i class="fas fa-arrow-circle-down"></i> Download Hindi PDF
                  </a>
                  <a href="<%= ExternalLinksHelper::APP_USERS_GUIDE_MARATHI_DOWNLOAD_LINK %>" class="doc-download">
                    <i class="fas fa-arrow-circle-down"></i> Download Marathi PDF
                  </a>
                  <a href="<%= ExternalLinksHelper::APP_USERS_GUIDE_PUNJABI_DOWNLOAD_LINK %>" class="doc-download">
                    <i class="fas fa-arrow-circle-down"></i> Download Punjabi PDF
                  </a>
                  <a href="<%= ExternalLinksHelper::APP_USERS_GUIDE_TAMIL_DOWNLOAD_LINK %>" class="doc-download">
                    <i class="fas fa-arrow-circle-down"></i> Download Tamil PDF
                  </a>
                  <a href="<%= ExternalLinksHelper::APP_USERS_GUIDE_TELUGU_DOWNLOAD_LINK %>" class="doc-download">
                    <i class="fas fa-arrow-circle-down"></i> Download Telugu PDF
                  </a>
                <% elsif CountryConfig.current[:name] == "Bangladesh" %>
                  <a href="<%= ExternalLinksHelper::APP_USERS_GUIDE_BENGALI_DOWNLOAD_LINK %>" class="doc-download">
                    <i class="fas fa-arrow-circle-down"></i> Download Bengali PDF
                  </a>
                  <a href="<%= ExternalLinksHelper::APP_USERS_GUIDE_HINDI_DOWNLOAD_LINK %>" class="doc-download">
                    <i class="fas fa-arrow-circle-down"></i> Download Hindi PDF
                  </a>
                <% elsif CountryConfig.current[:name] == "Ethiopia" %>
                  <a href="<%= ExternalLinksHelper::APP_USERS_GUIDE_AMHARIC_DOWNLOAD_LINK %>" class="doc-download">
                    <i class="fas fa-arrow-circle-down"></i> Download Amharic PDF
                  </a>
                  <a href="<%= ExternalLinksHelper::APP_USERS_GUIDE_OROMO_DOWNLOAD_LINK %>" class="doc-download">
                    <i class="fas fa-arrow-circle-down"></i> Download Oromo PDF
                  </a>
                  <a href="<%= ExternalLinksHelper::APP_USERS_GUIDE_TIGRINYA_DOWNLOAD_LINK %>" class="doc-download">
                    <i class="fas fa-arrow-circle-down"></i> Download Tigrinya PDF
                  </a>
                <% end %>
                <a href="<%= ExternalLinksHelper::APP_USERS_GUIDE_ENGLISH_DOWNLOAD_LINK %>" class="doc-download">
                  <i class="fas fa-arrow-circle-down"></i> Download English PDF
                </a>
              </div>
            </div>
            <div class="col-sm-3 col-video mt-3">
              <%= image_tag 'resources/bp-poster.jpg', style: 'width: 100%' %>
              <strong class="mt-2 d-block">
                BP Measurement Checklist
              </strong>
              <div class="mt-2">
                <% if CountryConfig.current[:name] == "India" %>
                  <a class="doc-download" href="<%= ExternalLinksHelper::HOW_TO_TAKE_A_BP_POSTER_BENGALI_DOWNLOAD_LINK %>">
                    <i class="fas fa-arrow-circle-down"></i> Download Bengali PDF
                  </a>
                  <a class="doc-download" href="<%= ExternalLinksHelper::HOW_TO_TAKE_A_BP_POSTER_HINDI_DOWNLOAD_LINK %>">
                    <i class="fas fa-arrow-circle-down"></i> Download Hindi PDF
                  </a>
                  <a class="doc-download" href="<%= ExternalLinksHelper::HOW_TO_TAKE_A_BP_POSTER_MARATHI_DOWNLOAD_LINK %>">
                    <i class="fas fa-arrow-circle-down"></i> Download Marathi PDF
                  </a>
                  <a class="doc-download" href="<%= ExternalLinksHelper::HOW_TO_TAKE_A_BP_POSTER_PUNJABI_DOWNLOAD_LINK %>">
                    <i class="fas fa-arrow-circle-down"></i> Download Punjabi PDF
                  </a>
                  <a class="doc-download" href="<%= ExternalLinksHelper::HOW_TO_TAKE_A_BP_POSTER_TAMIL_DOWNLOAD_LINK %>">
                    <i class="fas fa-arrow-circle-down"></i> Download Tamil PDF
                  </a>
                  <a class="doc-download" href="<%= ExternalLinksHelper::HOW_TO_TAKE_A_BP_POSTER_TELUGU_DOWNLOAD_LINK %>">
                    <i class="fas fa-arrow-circle-down"></i> Download Telugu PDF
                  </a>
                <% elsif CountryConfig.current[:name] == "Bangladesh" %>
                  <a class="doc-download" href="<%= ExternalLinksHelper::HOW_TO_TAKE_A_BP_POSTER_BENGALI_DOWNLOAD_LINK %>">
                    <i class="fas fa-arrow-circle-down"></i> Download Bengali PDF
                  </a>
                  <a class="doc-download" href="<%= ExternalLinksHelper::HOW_TO_TAKE_A_BP_POSTER_HINDI_DOWNLOAD_LINK %>">
                    <i class="fas fa-arrow-circle-down"></i> Download Hindi PDF
                  </a>
                <% elsif CountryConfig.current[:name] == "Ethiopia" %>
                  <a class="doc-download" href="<%= ExternalLinksHelper::HOW_TO_TAKE_A_BP_POSTER_AMHARIC_DOWNLOAD_LINK %>">
                    <i class="fas fa-arrow-circle-down"></i> Download Amharic PDF
                  </a>
                  <a class="doc-download" href="<%= ExternalLinksHelper::HOW_TO_TAKE_A_BP_POSTER_OROMO_DOWNLOAD_LINK %>">
                    <i class="fas fa-arrow-circle-down"></i> Download Oromo PDF
                  </a>
                  <a class="doc-download" href="<%= ExternalLinksHelper::HOW_TO_TAKE_A_BP_POSTER_TIGRINYA_DOWNLOAD_LINK %>">
                    <i class="fas fa-arrow-circle-down"></i> Download Tigrinya PDF
                  </a>
                <% end %>
                <a class="doc-download" href="<%= ExternalLinksHelper::HOW_TO_TAKE_A_BP_POSTER_ENGLISH_DOWNLOAD_LINK %>">
                  <i class="fas fa-arrow-circle-down"></i> Download English PDF
                </a>
              </div>
            </div>
        </div>
      </div>
        <div class="card" id="card-faq">
          <h2>
            Common questions
          </h2>
          <div class="question">
            <h6 class="question">
              User can't find a patient
            </h6>
            <ol type="a">
              <li>
                Try searching with a different spelling, e.g <span class="badge badge-info">Aakash</span> instead of <span class="badge badge-info">Akash</span>
              </li>
              <li>
                Make sure to match patient details - <span class="badge badge-info">Full name</span> <span class="badge badge-info">Age</span> <span class="badge badge-info">Address</span> <span class="badge badge-info">Last visit date</span> to check if patient is already registered.
              </li>
              <li>
                Enter full name <span class="badge badge-info">First name</span> <span class="badge badge-info">Last name</span> for e.g. type 'Parminder Kaur Ahluwalia'
              </li>
              <li>
                Ask the patient if they have already been registered at the same or different facility.
              </li>
            </ol>
          </div>
          <div class="question">
            <h6 class="question">
              Duplicate patients at a facility
            </h6>
            Contact the Simple team. We will provide a spreadsheet of all patients registered at a facility. If you indicate the duplicate patients, we will remove the duplicates.
          </div>
          <div class="question">
            <h6 class="question">
              Patient registered at the wrong facility
            </h6>
            <ol type="a">
              <li>
                Make sure that the users have currently selected correct facility from the home screen of the app.
              </li>
              <li>
                Make a note of the patient that is recorded at the wrong facility and report it to the Simple team.
              </li>
            </ol>
          </div>
          <div class="question">
            <h6 class="question">
              Edit patient details
            </h6>
            Ask the users to tap on the <span class="badge badge-info">EDIT</span> button on the top right corner of the patient details screen.
          </div>
          <div class="question">
            <h6 class="question">
              Calls to overdue patients get disconnected
            </h6>
            <ol type="a">
              <li>
                Ensure that the phone number they are trying to call is correct (i.e. has correct number of digits).
              </li>
              <li>
                Ask the user to wait patiently while the call is being connected.
              </li>
              <li>
                Inform the users that they will hear a funny beeping noise (when the call is being connected) which is completely normal. They should not hang up.
              </li>
            </ol>
          </div>
          <div class="question">
            <h6 class="question">
              Is calling overdue patients free?
            </h6>
            There are two ways to call a patient. Secure calls are free and the user’s phone number is hidden from the patient.
            Normal calls are charged as per the user's network provider.
          </div>
          <div class="question">
            <h6 class="question">
              Recent patients list isn't updated
            </h6>
            <ol type="a">
              <li>
                If the users have recently downloaded the app, they must be approved in order to be able to see recent patients.
              </li>
              <li>
                If there are no patients recorded in the facility, the recent patients list will be empty.
              </li>
              <li>
                Ask the users to tap on the cloud icon on the home screen to refresh the recent patients list.
              </li>
              <li>
                Ensure that the phone is connected to internet.
              </li>
              <li>
                The first time when the app syncs data, it can take some time for the recent patients list to load.
              </li>
            </ol>
          </div>
          <div class="question">
            <h6 class="question">
              Data is not syncing
            </h6>
            Ensure that the user’s phone is connected to the internet. If the user is trying to access patient data on another device, then they need to wait for a few minutes for the sync to finish.
          </div>
          <div class="question">
            <h6 class="question">
              How to download the app
            </h6>
            <ol type="a">
              <li>
                Type <span class="badge badge-info">Simple Resolve</span> in the Google Play app search to download the app.
              </li>
              <li>
                User must be using a modern Android phone or tablet, version 5 or above. Ask them to check their Android phone version: Go to Settings, scroll all the way down, look for ‘About Phone’. Tap on it to check the phone version.
              </li>
            </ol>
          </div>
          <div class="question">
            <h6 class="question">
              What does "high risk" mean?
            </h6>
            Patients who are overdue and had their last BP greater than 160/100 or has previously had a heart attack or stroke are critical and at high risk.
          </div>
          <div class="question">
            <h6 class="question">
              What is a High BP in Simple?
            </h6>
            BP &ge; 140/90 mmHg
          </div>
          <div class="question">
            <h6 class="question">
              Remove medicines
            </h6>
            To remove a current medicine, tap on the medicine name and select 'NONE'.
          </div>
          <div class="question">
            <h6 class="question">
              Order more BP Passports
            </h6>
            <ol type="a">
              <li>
                Ask the users to ensure they have 2 boxes of BP passport in reserve at all times.
              </li>
              <li>
                In case they do not have BP passports, they can still continue to register and update patients using 'SEARCH'.
              </li>
              <li>
                Contact the Simple team to place a new request for BP passports.
              </li>
              <li>
                It takes about a month for the passports to arrive after placing a request.
              </li>
            </ol>
          </div>
          <div class="question">
            <h6 class="question">
              Should I issue a new BP passport to old patients?
            </h6>
            Yes, ask the users to issue BP Passports to all hypertensive patients and discontinue the old IHMI patient cards.
          </div>
          <div class="question">
            <h6 class="question">
              "I want to change my handset, but continue to use Simple with same mobile number. How can I do it?"
            </h6>
            <ol type="a">
              <li>
                Download the Simple app on the new handset from Google Play store.
              </li>
              <li>
                Ensure that user's new handset has the same SIM card as their registered mobile number with Simple.
              </li>
              <li>
                Ask them to open the Simple app and tap on <span class="badge badge-info">Get started</span>.
              </li>
              <li>
                Enter the mobile number and then their 4-digit security PIN
              </li>
              <li>
                After successfully entering the correct PIN, they will see the following message...
              </li>
              <li>
                Ask them to tap on <span class="badge badge-info">GOT IT</span> and they can start using Simple as they normally do.
              </li>
              <li>
                They will be logged out of their old device.
              </li>
            </ol>
          </div>
          <div class="question">
            <h6 class="question">
              Using two handsets with the Simple app
            </h6>
            Sorry, users cannot use two handsets with the same phone number to use Simple. Users can only be logged in on one device at a time.
          </div>
          <div class="question">
            <h6 class="question">
              Wrong facility selected during registration
            </h6>
            The CVHO is requested to immediately get in touch with the Simple team and share the user's details to get the facility corrected.
          </div>
          <div class="question">
            <h6 class="question">
              User transferred to a new facility
            </h6>
            If the user transferred within the district, they can change it in the app themselves. Tap on the icon next to current facility name on the home screen , and select another facility. If users are not able find the facility name, then their CVHO is requested to immediately get in touch with the Simple team and share user's details to get the facility changed.
          </div>
          <div class="question">
            <h6 class="question">
              Patient registered in a different facility
            </h6>
            If the patient is already registered in another facility, they should not be registered again in the new facility.
            Their details (e.g. blood pressure, medicines) can be updated normally.
          </div>
          <p>&nbsp;</p>
        </div>
        <div class="card" id="card-contact">
          <h2 id="resource-contact">
            Contact
          </h2>
          <p>
            Suggest new resources by emailing: <a href="mailto:team@simple.org">team@simple.org</a>
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
