<div class="page-header">
  <h1 class="page-title">
    Questionnaires
  </h1>
  <nav class="page-nav">
    <% if current_admin.accessible_organizations(:manage).any? || current_admin.power_user? %>
      <%= link_to new_admin_questionnaire_path, class: "btn btn-sm btn-success" do %>
        <i class="fas fa-plus mr-1"></i> Questionnaire
      <% end %>
    <% end %>
  </nav>
</div>

<!-- filters by: dsl_version, active -->
<% @questionnaires.group_by(&:questionnaire_type).each do |questionnaire_type, questionnaires| %>
  <h3><%= questionnaire_type.humanize %></h3>
  <table class="mt-20px table table-responsive table-striped" id="questionnaires-table"">
    <thead>
    <tr>
      <th>Questionnaire ID</th>
      <th>Questionnaire Type</th>
      <th>DSL Version</th>
      <th>Active</th>
      <th>Created on</th>
      <th></th>
    </tr>
    </thead>
    <tbody>
    <% questionnaires.sort_by(&:created_at).reverse.each do |q| %>
      <tr class="<%= q.is_active ? "bg-infogreen" : "text-muted" %>">
        <td><%= link_to q.id, admin_questionnaire_path(q.id) %></td>
        <td><%= q.questionnaire_type %></td>
        <td><%= q.dsl_version %></td>
        <td>
          <%= bootstrap_form_for(q, url: admin_questionnaire_url(q.id)) do |f| %>
                <%= f.check_box :is_active,
                                class: "custom-control-input",
                                id: "is-active-switch-#{q.id}",
                                onChange: "this.form.submit()",
                                custom: :switch,
                                # This label contains an empty unicode charatcer
                                # since the interface doesn't allow disabling the label and
                                # using a switch at the same time.
                                label: "⠀"
                %>
          <% end %>
        </td>
        <td><%= I18n.l(q.created_at.to_date) %></td>
        <td>
              <%= link_to admin_questionnaire_url(q.id),
                          method: :delete,
                          class: "btn btn-outline-danger",
                          data: {confirm: "Are you sure you want to delete the questionnaire?"} do %>
                <i class="fa fa-trash-alt"></i>
          <% end %>

            </td>
      </tr>
    <% end %>
    </tbody>
  </table>
<% end %>

<style>
#questionnaires-table td {
    vertical-align: middle;
}
</style>
