<div class="card pr-0 pr-md-3">
  <h2>Facilities</h2>

  <div class="table-responsive">
    <table id="analytics-table" class="table-compact">
      <colgroup>
        <col>
        <col class="table-divider">
        <col class="table-divider">
        <col>
        <col>
        <col>
        <col>
        <col>
        <col class="table-divider">
        <col>
        <col>
        <col>
        <col>
        <col>
      </colgroup>
      <thead>
      <tr>
        <th></th>
        <th class="row-label"><strong>Total</strong></th>
        <th class="row-label" colspan="6"><strong>Patients with BP taken</strong></th>
        <th class="row-label" colspan="6"><strong>New registrations</strong></th>
      </tr>

      <tr class="sorts" data-sort-method="thead">
        <th class="row-label sort-label sort-label-small" style="text-align: left;" data-sort-default>Name</th>
        <!--Total assigned patients-->
        <th class="row-label sort-label" data-sort-default data-sort-method="number">Total patients</th>

        <!--Patients with BP taken-->
        <% dates_for_periods(@period, 6, include_current_period: @show_current_period).each do |date| %>
          <th class="row-label sort-label sort-label-small" data-sort-method="number">
            <%= format_period(@period, date) %>
          </th>
        <% end %>

        <!--New registrations-->
        <% dates_for_periods(@period, 6, include_current_period: @show_current_period).each do |date| %>
          <th class="row-label sort-label sort-label-small" data-sort-method="number">
            <%= format_period(@period, date) %>
          </th>
        <% end %>
      </tr>

      </thead>
      <tbody>

      <tr class="row-total" data-sort-method="none">
        <td class="row-title row-total">All</td>

        <!--Total assigned patients-->
        <td class="row-total" style="text-align: center;">
          <%= dash_if_zero(dashboard_analytics.sum { |_, row| row[:total_patients] || 0 }) %>
        </td>

        <!--Patients with BP taken-->
        <% dates_for_periods(@period, 6, include_current_period: @show_current_period).each do |date| %>
          <td class="row-total" style="text-align: center;">
            <%= dash_if_zero(analytics_totals(dashboard_analytics, :patients_with_bp_by_period, date)) %>
          </td>
        <% end %>

        <!--New registrations-->
        <% dates_for_periods(@period, 6, include_current_period: @show_current_period).each do |date| %>
          <td class="row-total" style="text-align: center;">
            <%= dash_if_zero(analytics_totals(dashboard_analytics, :registered_patients_by_period, date)) %>
          </td>
        <% end %>
      </tr>

      <% policy_scope([:cohort_report, Facility.order(:name)]).each do |facility| %>
        <% if dashboard_analytics[facility.id].present? %>
          <tr>
            <td class="row-title">
              <%= link_to facility.name, analytics_facility_path(facility, period: @period) %>
            </td>

            <!--Total assigned patients-->
            <td style="text-align: center;">
              <%= dash_if_zero(dashboard_analytics.dig(facility.id, :total_patients)) %>
            </td>

            <!--Patients with BP taken-->
            <% dates_for_periods(@period, 6, include_current_period: @show_current_period).each do |date| %>
              <td style="text-align: center;">
                <%= dash_if_zero(dashboard_analytics.dig(facility.id, :patients_with_bp_by_period, date)) %>
              </td>
            <% end %>

            <!--New registrations-->
            <% dates_for_periods(@period, 6, include_current_period: @show_current_period).each do |date| %>
              <td style="text-align: center;">
                <%= dash_if_zero(dashboard_analytics.dig(facility.id, :registered_patients_by_period, date)) %>
              </td>
            <% end %>
          </tr>
        <% end %>
      <% end %>
      </tbody>
    </table>
  </div>
</div>
