<section class="table-compact">
  <div class="table-responsive">
    <table>
      <thead>
      <tr>
        <th colspan="2"></th>
        <th class="row-label" colspan="1">Registered patients</th>
        <th class="row-label" colspan="3">Follow-up patients<br></th>
        <th class="row-label" colspan="3">New registrations<br></th>
      </tr>

      <tr>
        <td colspan="2"></td>
        <td class="row-label"><strong>Total</strong></td>

        <td class="row-label"><strong><%= (Date.current - 2.month).strftime("%B %Y") %></strong></td>
        <td class="row-label"><strong><%= (Date.current - 1.month).strftime("%B %Y") %></strong></td>
        <td class="row-label"><strong><%= Date.current.strftime("%B %Y") %></strong></td>

        <td class="row-label"><strong><%= (Date.current - 2.month).strftime("%B %Y") %></strong></td>
        <td class="row-label"><strong><%= (Date.current - 1.month).strftime("%B %Y") %></strong></td>
        <td class="row-label"><strong><%= Date.current.strftime("%B %Y") %></strong></td>
      </tr>

      </thead>
      <tbody>

      <tr class="row-total">
        <td class="row-rank row-total"></td>
        <td class="row-title row-total">All

        <td class="row-enrolled text-green row-total">
          <%= dash_if_zero(1) %>
        </td>

        <!--follow-up-->
        <td class="row-enrolled text-green row-total">
          <%= dash_if_zero(1) %>
        </td>
        <td class="row-enrolled text-green row-total">
          <%= dash_if_zero(1) %>
        </td>
        <td class="row-enrolled text-green row-total">
          <%= dash_if_zero(1) %>
        </td>

        <!--new registrations-->
        <td class="row-enrolled text-green row-total">
          <%= dash_if_zero(1) %>
        </td>
        <td class="row-enrolled text-green row-total">
          <%= dash_if_zero(1) %>
        </td>
        <td class="row-enrolled text-green row-total">
          <%= dash_if_zero(1) %>
        </td>
      </tr>

      <% policy_scope(Facility.order(:name)).each do |facility| %>
        <% if analytics[:registered_patients][facility.id].present? && analytics[:total_registered_patients][facility.id].present? && analytics[:follow_up_patients_by_month][facility.id].present? %>
          <tr>
            <td class="row-rank"></td>

            <td class="row-title">
              <%= link_to facility.name, analytics_facility_path(facility,
                                                                 from_time: analytics_date_format(90.days.ago.yesterday),
                                                                 to_time: analytics_date_format(Time.now.yesterday)) %>
            </td>

            <td class="row-enrolled text-green">
              <%= dash_if_zero(analytics[:total_registered_patients][facility.id]) %>
            </td>

            <% %>
            <% analytics[:registered_patients][facility.id].each do |_, v| %>
              <td class="row-enrolled text-green">
                <%= dash_if_zero(v) %>
              </td>
            <% end %>

            <% analytics[:follow_up_patients_by_month][facility.id].each do |_, v| %>
              <td class="row-enrolled text-green">
                <%= dash_if_zero(v) %>
              </td>
            <% end %>
          </tr>
        <% end %>
      <% end %>
      </tbody>
    </table>
  </div>
</section>
