<div class="dashboard">
  <nav class="breadcrumb">
    <%= link_to 'All districts', email_authentication_root_path %>
    <i class="fas fa-chevron-right"></i>

    <%= @organization_district.district_name %>
  </nav>
  <h1><%= @organization_district.district_name %></h1>
</div>

<%= render 'shared/cohort_charts', cohort_analytics: @cohort_analytics, quarter: current_quarter, year: current_year %>

<%= render 'shared/analytics_table',
           dashboard_analytics: @dashboard_analytics,
           row_resource: Facility.order(:name),
           row_resource_description: "Facilities",
           row_resource_display_field: :name,
           row_resource_link: :analytics_facility_path %>

<% if FeatureToggle.enabled?('DASHBOARD_SNAPSHOT') %>
  <div class="downloads">
    <h4>Downloads</h4>
    <% if policy(@organization_district).whatsapp_graphics? %>
      <%= render "shared/graphics/graphics_download_links",
                 graphics_path: -> (options) { analytics_organization_district_graphics_path(options) },
                 options: { organization_id: @organization_district.organization.id,
                            district_id: @organization_district.district_name } %>
    <% end %>
  </div>
<% end %>
