<%= render 'shared/analytics/analytics_period_links',
           from_time: @from_time,
           to_time: @to_time %>

<div class="dashboard">

  <div class="graphics d-none">
    <%= link_to 'WhatsApp', analytics_organization_district_graphics_path(
        @organization_district.organization.id,
        @organization_district.district_name,
        month: analytics_date_format(Time.now.at_beginning_of_month)) %>
  </div>

  <h1><%= @organization_district.district_name %></h1>
  <%= string_for_range(@from_time, @to_time) %>

  <div class="featured d-none">

    <%= render "shared/analytics/patients_count_panel",
               newly_enrolled_patients_count: @district_analytics[:newly_enrolled_patients],
               returning_patients_count: @district_analytics[:returning_patients] %>

    <%= render "shared/analytics/non_returning_hypertensive_patients_panel",
               number_of_months: 3,
               non_returning_hypertensive_patients_count: @district_analytics[:non_returning_hypertensive_patients],
               non_returning_hypertensive_patients_per_month: @district_analytics[:non_returning_hypertensive_patients_per_month] %>

    <%= render "shared/analytics/control_rate_panel",
               goal: 30,
               number_of_months: 3,
               control_rate: @district_analytics[:control_rate][:control_rate],
               control_rate_per_month: @district_analytics[:control_rate_per_month] %>
  </div>
</div>

<%= render 'facility_table' %>

<section>
  <h4>Notes</h4>
  <p class="footnote"><strong>Didn't attend</strong> patients are enrolled hypertensives that have not had a BP recorded
    in the past 3 months.</p>
  <p class="footnote">
    <strong><%= t('analytics.control_rate') %></strong>
    <%= t('analytics.control_rate_explanation',
          hypertensive_patients_in_cohort: @district_analytics[:control_rate][:hypertensive_patients_in_cohort],
          patients_under_control: @district_analytics[:control_rate][:patients_under_control_in_period],
          control_rate_for_month: @district_analytics[:control_rate][:control_rate],
          number_of_months: pluralize(1, 'month')) %>
  </p>
  <p class="footnote"><strong>Unique patients</strong> indicates how many patients had at least one recorded BP during
    the period. The "Week of" numbers are "Unique patients with a BP recorded during that week".</p>
</section>

<footer class="text-muted">
  <p>
    <small>Note: All times are in India Standard Time</small>
  </p>
</footer>
