<p id="notice"><%= notice %></p>

<h1>Protocols</h1>

<table class="table">
  <thead class="thead-light">
    <tr>
      <th>Name</th>
      <th>Follow up days</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @protocols.each do |protocol| %>
      <tr>
        <td><%= link_to protocol.name, [:admin, protocol] %></td>
        <td><%= protocol.follow_up_days %></td>
        <% if policy(protocol).edit? %>
          <td><%= link_to 'Edit', edit_admin_protocol_path(protocol) %></td>
        <% end %>
        <% if policy(protocol).destroy? %>
          <td><%= link_to 'Destroy', [:admin, protocol], method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<% if policy(Protocol).new? %>
  <%= link_to 'New Protocol', new_admin_protocol_path, class: "btn btn-sm btn-primary" %>
<% end %>
