<div class="page-header">
  <h1 class="page-title">Protocols</h1>
  <nav class="page-nav">
    <% if policy(Protocol).new? %>
      <%= link_to 'New protocol', new_admin_protocol_path, class: "btn btn-sm btn-primary" %>
    <% end %>
  </nav>
</div>

<table class="table table-responsive">
  <thead class="thead-light">
    <tr>
      <th>Name</th>
      <th class="nowrap">Follow up days</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @protocols.each do |protocol| %>
      <tr>
        <td class="nowrap"><%= link_to protocol.name, [:admin, protocol] %></td>
        <td><%= protocol.follow_up_days %></td>
        <% if policy(protocol).edit? %>
          <td><%= link_to 'Edit', edit_admin_protocol_path(protocol) %></td>
        <% end %>
        <% if policy(protocol).destroy? %>
          <td><%= link_to 'Delete', [:admin, protocol], method: :delete, data: { confirm: "Are you sure you want to delete #{protocol.name}?" } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
