<div class="page-header">
  <h1 class="page-title">Protocols</h1>
  <nav class="page-nav">
    <% if policy(Protocol).new? %>
      <%= link_to 'New protocol', new_admin_protocol_path, class: "btn btn-sm btn-primary" %>
    <% end %>
  </nav>
</div>

<% @protocols.each do |protocol| %>
    <div class="card">
      <div class="row">
          <div class="col-9">
                <h5 class="mb-1"><%= link_to protocol.name, [:admin, protocol] %></h5>
                <div><i class="far fa-calendar-alt light mr-2"></i> Follow-up days: <%= protocol.follow_up_days %></div>
          </div>
          <div class="col-3 text-right">
                <% if policy(protocol).edit? %>
                  <%= link_to 'Edit', edit_admin_protocol_path(protocol), class: "btn btn-sm btn-outline-primary" %>
                <% end %>
                <% if policy(protocol).destroy? %>
                  <%= link_to '<i class="fas fa-trash-alt"></i>' .html_safe, [:admin, protocol], method: :delete, data: { confirm: "Are you sure you want to delete #{protocol.name}?" }, class: "btn btn-sm btn-outline-danger" %>
                <% end %>
          </div>
      </div>
    </div>
<% end %>