<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @protocol.name %>
</p>

<p>
  <strong>Follow up days:</strong>
  <%= @protocol.follow_up_days %>
</p>

<%= link_to 'Edit', edit_admin_protocol_path(@protocol) %> |
<%= link_to 'Back', admin_protocols_path %>
