<div class="page-header">
  <div class="page-title">
    <h1 class="page-title"><%= @protocol.name %></h1>
    <p>
      <strong>Follow up days:</strong> <%= @protocol.follow_up_days %>
    </p>
  </div>
  <nav class="page-nav">
    <% if policy(@protocol).edit? %>
      <%= link_to "Edit protocol", edit_admin_protocol_path(@protocol), class: "btn btn-sm btn-primary" %>
    <% end %>
    <% if policy(ProtocolDrug).new? %>
      <%= link_to 'New protocol drug', new_admin_protocol_protocol_drug_path(@protocol), class: "btn btn-sm btn-primary" %>
    <% end %>
  </nav>
</div>

<div class="table-responsive">
<table class="table">
  <thead class="thead-light">
    <tr>
      <th class="nowrap">Protocol drugs</th>
      <th>Dosage</th>
      <th class="nowrap">RxNorm code</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @protocol_drugs.each do |protocol_drug| %>
      <tr>
        <td class="nowrap"><%= protocol_drug.name %></td>
        <td class="nowrap"><%= protocol_drug.dosage %></td>
        <td class="nowrap"><%= protocol_drug.rxnorm_code %></td>
        <% if policy(protocol_drug).edit? %>
          <td><%= link_to 'Edit', edit_admin_protocol_protocol_drug_path(@protocol, protocol_drug) %></td>
        <% end %>
        <% if policy(protocol_drug).destroy? %>
          <td><%= link_to 'Delete', [:admin, @protocol, protocol_drug], method: :delete, data: { confirm: "Are you sure you want to delete #{protocol_drug.name}?" } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>
</div>
