<div class="page-header">
  <div class="page-title">
    <nav class="breadcrumb">
        <%= link_to "Protocols", admin_protocols_path, class: "#{active_controller?("admin/protocols")}" %> <i class="fas fa-chevron-right"></i> <%= @protocol.name %>
    </nav>
    <h1 class="page-title">
        <%= @protocol.name %>
    </h1>
    <p>
      <strong>Follow up days:</strong> <%= @protocol.follow_up_days %>
    </p>
  </div>
  <nav class="page-nav">
    <% if policy(@protocol).edit? %>
      <%= link_to "Edit protocol", edit_admin_protocol_path(@protocol), class: "btn btn-sm btn-primary" %>
    <% end %>
    <% if policy(ProtocolDrug).new? %>
      <%= link_to 'New protocol drug', new_admin_protocol_protocol_drug_path(@protocol), class: "btn btn-sm btn-primary" %>
    <% end %>
  </nav>
</div>

    <% @protocol_drugs.each do |protocol_drug| %>
      <div class="card">
        <div class="row">
            <div class="col-md-4">
                <h5 class="mb-1"><%= protocol_drug.dosage %> <%= protocol_drug.name %></h5>
            </div>
            <div class="col-md-3 mb-2"><i class="fas fa-pills light mr-1"></i>
                    <span class="text-secondary">RXnorm Code:</span> 
                    <% if protocol_drug.rxnorm_code.present? %>
                        <%= protocol_drug.rxnorm_code %>
                    <% else %>
                        <span class="light"><i class="fas fa-angle-left"></i>NONE<i class="fas fa-angle-right"></i></span>
                    <% end %>
                </div>
            <div class="col-5 text-md-right">
                <% if policy(protocol_drug).edit? %>
                  <%= link_to 'Edit', edit_admin_protocol_protocol_drug_path(@protocol, protocol_drug), class: "btn btn-sm btn-outline-primary" %>
                <% end %>
                <% if policy(protocol_drug).destroy? %>
                  <%= link_to '<i class="fas fa-trash-alt"></i>' .html_safe, [:admin, @protocol, protocol_drug], method: :delete, data: { confirm: "Are you sure you want to delete #{protocol_drug.name}?" }, class: "btn btn-sm btn-outline-danger" %>
                <% end %>
            </div>
        </div>
      </div>
    <% end %>