<div class="card" style="min-height: 210px;">
  <div class="next-prev">
    <button onclick="nextSlide(+1)" class="button-next">
      <span>
        <%= inline_svg('icon_arrow_back.svg') %>
      </span>
    </button>
    <button onclick="nextSlide(-1)" class="button-prev">
      <span>
        <%= inline_svg('icon_arrow_forward.svg') %>
      </span>
    </button>
  </div>
  <div id="daily-stats-card">
    <div class="day count-empty" style="display: none">
      <h3 class="stat-day"></h3>
      <%= inline_svg('icon_sync_cloud.svg') %>
      <p>
        <%= raw t("analytics.tap_sync") %>
      </p>
    </div>
    <% @user_analytics.daily_period_list.each do |day_date| %>
      <div class="day">
        <h3 class="stat-day">
          <span class="num">
            <%= display_date(day_date) %>
          </span>
        </h3>
        <div class="counts">
          <div class="count count-1">
            <strong>
              <%= raw t("analytics.registered") %>
            </strong>
            <div class="big-number">
              <%= @user_analytics.daily_stats_by_date(:registrations, day_date) %>
            </div>
            <%= raw t("analytics.patient", count: @user_analytics.daily_stats_by_date(:registrations, day_date)) %>
          </div>
          <div class="count count-2">
            <strong>
              <%= raw t("analytics.follow_up") %>
            </strong>
            <div class="big-number">
              <%= @user_analytics.daily_stats_by_date(:follow_ups, day_date) %>
            </div>
            <%= raw t("analytics.patient", count: @user_analytics.daily_stats_by_date(:follow_ups, day_date)) %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>