<% min_width = 5 %>
<% bp_controlled = data[:controlled_rate] || 0 %>
<% bp_not_controlled = data[:uncontrolled_rate] || 0 %>
<% visited_but_no_bp_taken = data[:no_bp_rate] || 0 %>
<% missed_visits = data[:missed_visits_rate] || 0 %>
<div class="p-relative d-flex br-4px" data-graph-type="stacked-bar-chart">
  <% if bp_controlled == 0 && bp_not_controlled == 0 && visited_but_no_bp_taken == 0 && missed_visits == 0 %>
    <div class="d-flex ai-center jc-center w-100 p-16px br-4px bgc-grey-light-new">
      <p class="m-0px p-0px ta-center fw-bold fs-16px c-grey-dark pe-none">
        No data
      </p>
    </div>
  <% else %>
    <div
      class="d-flex ai-center jc-center mr-1px p-16px bgc-green-dark-new btlr-4px bblr-4px ttf-ease-in-out td-0_25s tp-opacity"
      style="width: <%= bp_controlled %>%;"
      data-graph-element="stacked-bar"
    >
      <p class="m-0px p-0px ta-center fw-bold fs-16px c-black pe-none">
        <%= data[:controlled_rate] %>%
      </p>
      <div
        class="o-0 pe-none p-absolute l-0 zi-100 d-flex fd-column w-100 bs-tooltip ttf-ease-in-out td-0_25s tp-opacity"
        data-element-type="tooltip"
        data-tooltip-index="0"
        data-tooltip-length="3"
      >
        <div
          class="p-absolute b--8px w-0px h-0px br-8px-transparent bl-8px-transparent bt-8px-black"
          data-element-type="tooltip-tip"
        >
        </div>
        <div class="p-absolute l-0 w-auto mw-100 p-8px bgc-black br-4px" data-element-type="tooltip-copy">
          <p class="m-0px p-0px ta-left fw-regular fs-14px lh-150 c-white">
            <%= t("progress_tab.diagnosis_report.cohort_report.cohort_bar_tooltip", total_patients: data[:controlled], patient_or_patients: "patient".pluralize(data[:controlled]), threshold: t("progress_tab.diagnosis_report.diagnosis_thresholds.hypertension_controlled_long")) %>
          </p>
        </div>
      </div>
    </div>
    <div
      class="d-flex ai-center jc-center ml-1px mr-1px p-16px bgc-yellow-dark-new ttf-ease-in-out td-0_25s tp-opacity"
      style="width: <%= bp_not_controlled %>%;"
      data-graph-element="stacked-bar"
    >
      <p class="m-0px p-0px ta-center fw-bold fs-16px c-black pe-none">
        <%= data[:uncontrolled_rate] %>%
      </p>
      <div
        class="o-0 pe-none p-absolute l-0 zi-100 d-flex fd-column w-100 bs-tooltip ttf-ease-in-out td-0_25s tp-opacity"
        data-element-type="tooltip"
        data-tooltip-index="1"
        data-tooltip-length="3"
      >
        <div
          class="p-absolute b--8px w-0px h-0px br-8px-transparent bl-8px-transparent bt-8px-black"
          data-element-type="tooltip-tip"
        >
        </div>
        <div class="p-absolute l-0 w-auto mw-100 p-8px bgc-black br-4px" data-element-type="tooltip-copy">
          <p class="m-0px p-0px ta-left fw-regular fs-14px lh-150 c-white">
            <%= t("progress_tab.diagnosis_report.cohort_report.cohort_bar_tooltip", total_patients: data[:uncontrolled], patient_or_patients: "patient".pluralize(data[:uncontrolled]), threshold: t("progress_tab.diagnosis_report.diagnosis_thresholds.hypertension_uncontrolled_long")) %>
          </p>
        </div>
      </div>
    </div>
    <div
      class="d-flex ai-center jc-center ml-1px mr-1px p-16px bgc-orange-dark-new ttf-ease-in-out td-0_25s tp-opacity"
      style="width: <%= visited_but_no_bp_taken %>%;"
      data-graph-element="stacked-bar"
    >
      <p class="m-0px p-0px ta-center fw-bold fs-16px c-black pe-none">
        <%= data[:no_bp_rate] %>%
      </p>
      <div
        class="o-0 pe-none p-absolute l-0 zi-100 d-flex fd-column w-100 bs-tooltip ttf-ease-in-out td-0_25s tp-opacity"
        data-element-type="tooltip"
        data-tooltip-index="1"
        data-tooltip-length="3"
      >
        <div
          class="p-absolute b--8px w-0px h-0px br-8px-transparent bl-8px-transparent bt-8px-black"
          data-element-type="tooltip-tip"
        >
        </div>
        <div class="p-absolute l-0 w-auto mw-100 p-8px bgc-black br-4px" data-element-type="tooltip-copy">
          <p class="m-0px p-0px ta-left fw-regular fs-14px lh-150 c-white">
            <%= t("progress_tab.diagnosis_report.cohort_report.cohort_bar_tooltip", total_patients: data[:no_bp], patient_or_patients: "patient".pluralize(data[:no_bp]), threshold: t("progress_tab.diagnosis_report.diagnosis_thresholds.hypertension_visited_but_no_bp_taken_long")) %>
          </p>
        </div>
      </div>
    </div>
    <div
      class="d-flex ai-center jc-center ml-1px p-16px bgc-red-dark-new btrr-4px bbrr-4px ttf-ease-in-out td-0_25s tp-opacity"
      style="width: <%= missed_visits %>%;"
      data-graph-element="stacked-bar"
    >
      <p class="m-0px p-0px ta-center fw-bold fs-16px c-white pe-none">
        <%= data[:missed_visits_rate] %>%
      </p>
      <div
        class="o-0 pe-none p-absolute l-0 zi-100 d-flex fd-column w-100 bs-tooltip ttf-ease-in-out td-0_25s tp-opacity"
        data-element-type="tooltip"
        data-tooltip-index="2"
        data-tooltip-length="3"
      >
        <div
          class="p-absolute b--8px w-0px h-0px br-8px-transparent bl-8px-transparent bt-8px-black"
          data-element-type="tooltip-tip"
        >
        </div>
        <div class="p-absolute l-0 w-auto mw-100 p-8px bgc-black br-4px" data-element-type="tooltip-copy">
          <p class="m-0px p-0px ta-left fw-regular fs-14px lh-150 c-white">
            <%= t("progress_tab.diagnosis_report.cohort_report.cohort_bar_tooltip", total_patients: data[:missed_visits], patient_or_patients: "patient".pluralize(data[:missed_visits]), threshold: t("progress_tab.diagnosis_report.diagnosis_thresholds.missed_visits_long")) %>
          </p>
        </div>
      </div>
    </div>
  <% end %>
</div>