<div id="<%= pageId %>" style="display: none;">
  <div class="mb-8px pt-16px pb-16px bgc-white br-4px bs-card">
    <a class="d-block pl-16px mb-24px" href="#" onclick="goToPage('<%= pageId %>', 'home-page'); return false;">
      <div class="d-inline-block">
        <%= inline_file("chevron-left.svg") %>
      </div>
    </a>
    <div class="mb-12px pr-16px pl-16px">
      <h1 class="m-0px mb-8px fw-bold fs-24px">
        <%= title %>
      </h1>
      <% if subtitle %>
        <p class="m-0px p-0px ta-left fw-normal fs-16px c-grey-dark">
          <%= subtitle %>
        </p>
      <% end %>
    </div>
  </div>
  <div class="mb-8px p-16px bgc-white br-4px bs-card">
    <div class="d-flex ai-center jc-space-between mb-8px">
      <h2 class="m-0px p-0px ta-left fw-medium fs-18px c-black">
        <%= data["hypertension_assigned_patients"]["name"] %>
      </h2>
      <p class="m-0px p-0px ta-right fw-medium fs-18px c-black">
        <%= data["hypertension_assigned_patients"]["total"]  %>
      </p>
    </div>
    <p class="m-0px mb-24px p-0px ta-left fw-normal fs-16px lh-150 c-grey-dark">
      <%= data["hypertension_assigned_patients"]["subtitle"] %>
    </p>
    <% data["hypertension_assigned_patients"]["breakdown"].each_with_index do |row, index| %>
      <%= render partial: "api/v3/analytics/user_analytics/data_table_plusminus_row",
                 locals: {
                          title: row["title"],
                          value: row["value"],
                          css_text_color: row["value"] > 0 ? "c-green-new" : "c-red-new",
                          include_bottom_border: index == data["hypertension_assigned_patients"]["breakdown"].length - 1 ? false : true
                         }
      %>
    <% end %>
  </div>
  <div class="mb-8px p-16px bgc-white br-4px bs-card">
    <div class="d-flex ai-center jc-space-between mb-8px">
      <h2 class="m-0px p-0px ta-left fw-medium fs-18px c-black">
        <%= data["hypertension_registered_patients"]["name"] %>
      </h2>
      <p class="m-0px p-0px ta-right fw-medium fs-18px c-black">
        <%= data["hypertension_registered_patients"]["total"]  %>
      </p>
    </div>
    <p class="m-0px mb-24px p-0px ta-left fw-normal fs-16px lh-150 c-grey-dark">
      <%= data["hypertension_assigned_patients"]["subtitle"] %>
    </p>
    <%= render partial: "api/v3/analytics/user_analytics/data_bar_graph",
               locals: {
                          data: data["hypertension_registered_patients"]["breakdown"],
                          graph_css_color: "bgc-purple-new"
                        }
    %>
  </div>
</div>