<div id="<%= page_id %>" class="d-none">
  <div class="mb-8px pt-16px pb-16px bgc-white bs-card">
    <a
      class="d-block pl-16px mb-24px"
      href="#"
      onclick="goToPage('<%= page_id %>', 'home-page'); return false;"
    >
      <div class="d-inline-block">
        <%= inline_file("chevron-left.svg") %>
      </div>
    </a>
    <div class="mb-12px pr-16px pl-16px">
      <h1 class="m-0px mb-8px fw-bold fs-24px">
        <%= title %>
      </h1>
      <% if subtitle %>
        <p class="m-0px p-0px ta-left fw-normal fs-16px c-grey-dark">
          <%= subtitle %>
        </p>
      <% end %>
    </div>
  </div>
  <div class="mb-8px p-16px bgc-white bs-card">
    <div class="d-flex ai-center jc-space-between mb-8px">
      <h2 class="m-0px p-0px ta-left fw-medium fs-18px c-black">
        <%= data["hypertension_assigned_patients"]["name"] %>
      </h2>
      <p class="m-0px p-0px ta-right fw-medium fs-18px c-black">
        <%= data["hypertension_assigned_patients"]["total"]  %>
      </p>
    </div>
    <p class="m-0px mb-24px p-0px ta-left fw-normal fs-16px lh-150 c-grey-dark">
      <%= data["hypertension_assigned_patients"]["subtitle"] %>
    </p>
    <% data["hypertension_assigned_patients"]["breakdown"].each_with_index do |row, index| %>
      <%= render partial: "api/v3/analytics/user_analytics/data_table_plusminus_row",
                 locals: {
                          title: row["title"],
                          value: row["value"],
                          css_text_color: row["value"] > 0 ? "c-green-new" : "c-red-new",
                          include_bottom_border: index == data["hypertension_assigned_patients"]["breakdown"].length - 1 ? false : true
                         }
      %>
    <% end %>
  </div>
  <div class="mb-8px p-16px bgc-white bs-card">
    <div class="d-flex ai-center jc-space-between mb-8px">
      <h2 class="m-0px p-0px ta-left fw-medium fs-18px c-black">
        <%= data["hypertension_registered_patients"]["name"] %>
      </h2>
      <p class="m-0px p-0px ta-right fw-medium fs-18px c-black">
        <%= data["hypertension_registered_patients"]["total"]  %>
      </p>
    </div>
    <p class="m-0px mb-24px p-0px ta-left fw-normal fs-16px lh-150 c-grey-dark">
      <%= data["hypertension_assigned_patients"]["subtitle"] %>
    </p>
    <%= render partial: "api/v3/analytics/user_analytics/data_bar_graph",
               locals: {
                          data: data["hypertension_registered_patients"]["breakdown"],
                          data_type: data["hypertension_registered_patients"]["data_type"],
                          graph_css_color: "bgc-purple-new",
                          show_tooltip: false
                        }
    %>
  </div>
  <div class="mb-8px p-16px bgc-white bs-card">
    <div class="d-flex ai-center jc-space-between mb-8px">
      <h2 class="m-0px p-0px ta-left fw-medium fs-18px c-black">
        <%= data["hypertension_monthly_follow_up_patients"]["name"] %>
      </h2>
      <p class="m-0px p-0px ta-right fw-medium fs-18px c-black">
        <%= data["hypertension_monthly_follow_up_patients"]["total"]  %>
      </p>
    </div>
    <p class="m-0px mb-24px p-0px ta-left fw-normal fs-16px lh-150 c-grey-dark">
      <%= data["hypertension_monthly_follow_up_patients"]["subtitle"] %>
    </p>
    <%= render partial: "api/v3/analytics/user_analytics/data_bar_graph",
               locals: {
                          data: data["hypertension_monthly_follow_up_patients"]["breakdown"],
                          data_type: data["hypertension_monthly_follow_up_patients"]["data_type"],
                          graph_css_color: "bgc-blue-new",
                          show_tooltip: false
                        }
    %>
  </div>
  <div class="mt-24px mb-8px pr-16px pl-16px">
    <h3 class="m-0px p-0px ta-left fw-bold fs-20px c-grey">
      Patient treatment outcomes
    </h3>
  </div>
  <div class="mb-8px p-16px bgc-white bs-card">
    <div class="p-relative d-flex ai-center mb-8px" data-element-type="header">
      <h2 class="m-0px mr-8px p-0px ta-left fw-medium fs-18px c-black">
        <%= data["hypertension_bp_controlled"]["name"] %>
      </h2>
      <div class="d-flex ai-center" data-element-type="help-circle">
        <%= inline_file("help-circle.svg") %>
      </div>
      <div class="d-none p-absolute l-0 zi-100 d-flex fd-column w-100 bs-tooltip" data-element-type="tooltip">
        <div
          class="p-absolute t--8px w-0px h-0px br-8px-transparent bl-8px-transparent bb-8px-black"
          style="left: 8px;"
          data-element-type="tip"
        >
        </div>
        <div class="p-8px bgc-black br-4px">
          <p class="m-0px mb-4px p-0px ta-left fw-regular fs-14px lh-150 c-white">
            <span class="fw-bold">Numerator:</span> Patients with BP &lt;140/90 at their last visit in the last 3 months.
          </p>
          <p class="m-0px p-0px ta-left fw-regular fs-14px lh-150 c-white">
            <span class="fw-bold">Denominator:</span> Hypertension patients assigned to <%= current_facility.name %>, registered before the last 3 months. Dead and lost to follow-up patients are excluded.
          </p>
        </div>
      </div>
    </div>
    <p class="m-0px mb-24px p-0px ta-left fw-normal fs-16px lh-150 c-grey-dark">
        <%= data["hypertension_bp_controlled"]["subtitle"] %>
    </p>
    <%= render partial: "api/v3/analytics/user_analytics/data_bar_graph",
               locals: {
                          data: data["hypertension_bp_controlled"]["breakdown"],
                          data_type: data["hypertension_bp_controlled"]["data_type"],
                          graph_css_color: "bgc-green-new",
                          show_tooltip: true
                        }
    %>
  </div>
  <div class="mb-8px p-16px bgc-white bs-card">
    <div class="d-flex ai-center mb-8px" data-element-type="header">
      <h2 class="m-0px mr-8px p-0px ta-left fw-medium fs-18px c-black">
        <%= data["hypertension_bp_not_controlled"]["name"] %>
      </h2>
      <div class="d-flex ai-center" data-element-type="help-circle">
        <%= inline_file("help-circle.svg") %>
      </div>
      <div class="d-none p-absolute l-0 zi-100 d-flex fd-column w-100 bs-tooltip" data-element-type="tooltip">
        <div
          class="p-absolute t--8px w-0px h-0px br-8px-transparent bl-8px-transparent bb-8px-black"
          style="left: 8px;"
          data-element-type="tip"
        >
        </div>
        <div class="p-8px bgc-black br-4px">
          <p class="m-0px mb-4px p-0px ta-left fw-regular fs-14px lh-150 c-white">
            <span class="fw-bold">Numerator:</span> Patients with BP &ge;140/90 at their last visit in the last 3 months.
          </p>
          <p class="m-0px p-0px ta-left fw-regular fs-14px lh-150 c-white">
            <span class="fw-bold">Denominator:</span> Hypertension patients assigned to <%= current_facility.name %>, registered before the last 3 months. Dead and lost to follow-up patients are excluded.
          </p>
        </div>
      </div>
    </div>
    <p class="m-0px mb-24px p-0px ta-left fw-normal fs-16px lh-150 c-grey-dark">
        <%= data["hypertension_bp_not_controlled"]["subtitle"] %>
    </p>
    <%= render partial: "api/v3/analytics/user_analytics/data_bar_graph",
               locals: {
                          data: data["hypertension_bp_not_controlled"]["breakdown"],
                          data_type: data["hypertension_bp_not_controlled"]["data_type"],
                          graph_css_color: "bgc-yellow-new",
                          show_tooltip: true
                        }
    %>
  </div>
  <div class="mb-8px p-16px bgc-white bs-card">
    <div class="d-flex ai-center mb-8px" data-element-type="header">
      <h2 class="m-0px mr-8px p-0px ta-left fw-medium fs-18px c-black">
        <%= data["hypertension_missed_visits"]["name"] %>
      </h2>
      <div class="d-flex ai-center" data-element-type="help-circle">
        <%= inline_file("help-circle.svg") %>
      </div>
      <div class="d-none p-absolute l-0 zi-100 d-flex fd-column w-100 bs-tooltip" data-element-type="tooltip">
        <div
          class="p-absolute t--8px w-0px h-0px br-8px-transparent bl-8px-transparent bb-8px-black"
          style="left: 8px;"
          data-element-type="tip"
        >
        </div>
        <div class="p-8px bgc-black br-4px">
          <p class="m-0px mb-4px p-0px ta-left fw-regular fs-14px lh-150 c-white">
            <span class="fw-bold">Numerator:</span> Patients with no visit in the last 3 months.
          </p>
          <p class="m-0px p-0px ta-left fw-regular fs-14px lh-150 c-white">
            <span class="fw-bold">Denominator:</span> Hypertension patients assigned to <%= current_facility.name %>, registered before the last 3 months. Dead and lost to follow-up patients are excluded.
          </p>
        </div>
      </div>
    </div>
    <p class="m-0px mb-24px p-0px ta-left fw-normal fs-16px lh-150 c-grey-dark">
        <%= data["hypertension_missed_visits"]["subtitle"] %>
    </p>
    <%= render partial: "api/v3/analytics/user_analytics/data_bar_graph",
               locals: {
                          data: data["hypertension_missed_visits"]["breakdown"],
                          data_type: data["hypertension_missed_visits"]["data_type"],
                          graph_css_color: "bgc-red-new",
                          show_tooltip: true
                        }
    %>
  </div>
  <% if report_diagnosis == "Hypertension" %>
    <div class="mt-24px mb-8px pr-16px pl-16px">
      <h3 class="m-0px p-0px ta-left fw-bold fs-20px c-grey">
        Drug stock report
      </h3>
    </div>
    <!-- LOOP THROUGH DATA -->
    <div class="mb-8px p-16px bgc-white bs-card">
      <h3 class="m-0px mb-2px p-0px ta-left fw-medium fs-20px c-black">
        CCB tablets
      </h3>
      <p class="m-0px mb-16px p-0px ta-left fw-regular fs-16px lh-150 c-yellow">
        65 days of tablets in stock
      </p>
    </div>
    <div class="mt-24px mb-8px pr-16px pl-16px">
      <h3 class="m-0px p-0px ta-left fw-bold fs-20px c-grey">
        Cohort reports
      </h3>
    </div>
    <div class="mb-8px p-16px bgc-white bs-card">
      <h2 class="m-0px mb-8px p-0px ta-left fw-medium fs-18px c-black">
        <%= data["hypertension_quarterly_cohort_reports"]["name"] %>
      </h2>
      <p class="m-0px mb-12px p-0px ta-left fw-normal fs-16px lh-150 c-grey-dark">
          <%= data["hypertension_quarterly_cohort_reports"]["subtitle"] %>
      </p>
      <div class="mb-32px">
        <div class="d-flex ai-center jc-center mb-8px">
          <div class="w-16px h-16px mr-8px br-4px bgc-green-new"></div>
          <p class="f-1 m-0px p-0px ta-left fw-regular fs-14px c-black">
            BP controlled
          </p>
        </div>
        <div class="d-flex ai-center jc-center mb-8px">
          <div class="w-16px h-16px mr-8px br-4px bgc-yellow-new"></div>
          <p class="f-1 m-0px p-0px ta-left fw-regular fs-14px c-black">
            BP not controlled
          </p>
        </div>
        <div class="d-flex ai-center jc-center">
          <div class="w-16px h-16px mr-8px br-4px bgc-red-new"></div>
          <p class="f-1 m-0px p-0px ta-left fw-regular fs-14px c-black">
            Missed visits
          </p>
        </div>
      </div>
      <% data["hypertension_quarterly_cohort_reports"]["breakdown"].each_with_index do |cohort, index| %>
        <div class="<% if data["hypertension_quarterly_cohort_reports"]["breakdown"].length - 1 > index %>mb-24px<% end %>">
          <p class="m-0px mb-2px p-0px ta-left fw-regular fs-16px c-black">
            Result from last visit in <%= cohort["result_period"] %>
          </p>
          <p class="m-0px mb-8px p-0px ta-left fw-reguar fs-16px c-grey-dark">
            <%= cohort["total_patients"] %> patients registered in <%= cohort["registration_period"] %>
          </p>
          <%= render partial: "api/v3/analytics/user_analytics/data_stacked_bar_graph",
                      locals: { data: cohort }
          %>
        </div>
      <% end %>
    </div>
  <% end %>
</div>