<div id="drug-stock-form" class="progress-body" style="display: none;">
  <div class="progress-contents">
    <a href="#" onclick="closeWindow('drug-stock-form', 'progress-start'); return false" class="help-back">
      <%= inline_svg('icon_back.svg') %>
    </a>
    <h2 style="padding-top: 80px; padding-left: 8px;">Number of tablets</h2>
    <p style="text-align: left; padding: 0 8px 1em 8px;">Leave blank if unknown. Enter "0" if stock is empty.</p>

    <%= bootstrap_form_for(api_v3_analytics_user_analytics_path(format: :html)) do |form| %>

    <div class="form-group mt-4">
      <label for="drug-stock-date">Drug stock report for:</label>
      <div class="form-row">
        <select class="card-dropdown" id="drug-stock-date">
          <option value="02-2021">
            End of February 2021
          </option>
        </select>
      </div>

    </div>

    <% @protocol_drugs.each do |protocol_drug| %>
      <%= form.fields_for "drug_stocks[]", DrugStock.new do |drug_stock_form| %>
        <%= drug_stock_form.hidden_field :protocol_drug_id, value: protocol_drug.id %>

        <div class="form-group mt-4">
            <label for=""><%= "#{protocol_drug.name} #{protocol_drug.dosage}"%></label>
            <div class="form-row">
              <div class="col">
                <%= drug_stock_form.number_field :received, class: :received, value: @drug_stocks[protocol_drug.id].try(&:received), hide_label: true, help: "Received during the month" %>
              </div>
              <div class="col">
                <%= drug_stock_form.number_field :in_stock, class: :in_stock, value: @drug_stocks[protocol_drug.id].try(&:in_stock), hide_label: true, help: "Stock at end of the month" %>
              </div>
            </div>
        </div>
      <% end %>
    <% end %>

    <div class="button-fixed-bottom">
      <%= form.submit "SAVE" %>

      <button onclick="openWindow('drug-stock-submitted', 'drug-stock-form'); return false" class="button">SAVE</button>
    </div>
    <% end %>
  </div>
</div>