<form>
  <select class="card-dropdown <%= data_table_name %>" onchange='filterDataByGender("<%= data_table_name %>")'>
    <% if is_diabetes_enabled %>
      <option value="all">All hypertension and diabetes</option>
    <% end %>

    <% hypertension_option_text = is_diabetes_enabled ? 'Hypertension: ' : '' %>

    <option value="hypertension:all"><%= "#{hypertension_option_text}All" %></option>
    <% Patient::GENDERS.each do |gender| %>
      <option value="hypertension:<%= gender %>">
        <%= hypertension_option_text + gender.capitalize %>
      </option>
    <% end %>

    <% if is_diabetes_enabled %>
      <option value="diabetes:all">Diabetes: All</option>
      <% Patient::GENDERS.each do |gender| %>
        <option value="diabetes:<%= gender %>">
          Diabetes: <%= gender.capitalize %>
        </option>
      <% end %>
    <% end %>
  </select>
</form>
