<!-- the "all" table -->
<table class="progress-table <%= data_table_name %> hypertension:all">
  <tr class="total">
    <td class="row-label">All-time</td>
    <td>
      <%= zero_if_unavailable(@statistics
                                  .dig(:all_time, :grouped_by_gender, resource)
                                  .values
                                  .inject(:+)) %>
    </td>
  </tr>
  <% @monthly_period_list.each do |month_date| %>
    <tr>
      <td class="row-label no-padding"><%= month_date.strftime("%B") %></td>
      <td>
        <% data_for_resource = @statistics.dig(:monthly, :grouped_by_gender_and_date, resource).values %>
        <% sum_across_gender_and_months =
               data_for_resource
                   .inject { |by_month, count_for_gender| by_month.merge(count_for_gender) { |_, v1, v2| v1 + v2 } } %>

        <%= zero_if_unavailable(sum_across_gender_and_months&.dig(month_date)) %>
      </td>
    </tr>
  <% end %>
</table>

<!-- gender-wise tables -->
<% Patient::GENDERS.each do |gender| %>
  <table class="progress-table <%= data_table_name %> hypertension:<%= gender %>" style="display: none">
    <tr class="total">
      <td class="row-label">All-time</td>
      <td>
        <%= zero_if_unavailable(@statistics.dig(:all_time, :grouped_by_gender, resource, gender)) %>
      </td>
    </tr>
    <% @monthly_period_list.each do |month_date| %>
      <tr>
        <td class="row-label no-padding"><%= month_date.strftime("%B") %></td>
        <td>
          <%= zero_if_unavailable(@statistics.dig(:monthly,
                                                  :grouped_by_gender_and_date,
                                                  resource,
                                                  gender,
                                                  month_date)) %>
        </td>
      </tr>
    <% end %>
  </table>
<% end %>
