<div class="mb-8px p-16px bgc-white bs-card">
  <h1 class="m-0px mb-4px fw-bold fs-24px c-black">
    <%= t("progress_tab.reports_card.title") %>
  </h1>
  <p class="m-0px mb-16px p-0px ta-left fw-normal fs-16px lh-150 c-grey-dark">
    <%= t("progress_tab.reports_card.subtitle", facility_name: current_facility.name) %>
  </p>
  <div class="d-flex ai-center jc-space-between">
    <a
      class="f-1 d-flex fd-column ai-center jc-center h-96px mr-8px p-12px td-none bgc-red-light br-8px"
      href="#"
      onclick="openWindow('progress-hypertension-report', 'progress-start'); return false;"
    >
      <div class="d-flex ai-center jc-center w-32px h-32px mb-8px bgc-white br-8px">
        <%= inline_file("graph-red.svg") %>
      </div>
      <p class="m-0px p-0px ta-left fw-medium fs-16px c-red">
        <%= t("progress_tab.hypertension_report_title") %>
      </p>
    </a>
    <a
      class="p-relative f-1 d-flex fd-column ai-center jc-center h-96px ml-8px p-12px td-none bgc-grey-light-new br-8px"
      href="#"
    >
      <div class="d-flex ai-center jc-center w-32px h-32px mb-8px bgc-white br-8px">
        <%= inline_file("graph-grey.svg") %>
      </div>
      <p class="m-0px p-0px ta-left fw-medium fs-16px c-grey-dark">
        <%= t("progress_tab.diabetes_report_title") %>
      </p>
      <p class="p-absolute b-0 l-0 w-100 fw-regular fs-12px c-grey ta-center bs-border-box">
        Coming soon
      </p>
    </a>
  </div>
</div>