<select
  id="<%= element_id %>"
  class="w-100 mb-24px p-12px fw-medium fs-14px ls-1_25px tt-uppercase c-blue bgc-blue-light b-none br-1px bs-secondary-button o-none a-none chevron-down-icon"
  onchange="updateMonthlyReport('<%= element_id %>');"
>
  <% if @is_diabetes_enabled %>
    <option value="monthly_<%= element_id %>_all">
      All hypertension and diabetes
    </option>
  <% end %>
  <option value="monthly_<%= element_id %>_htn_all">
    Hypertension: All
  </option>
  <% Patient::GENDERS.each do |gender| %>
    <option value="monthly_<%= element_id %>_htn_<%= gender %>">
      Hypertension: <%= gender %>
    </option>
  <% end %>
  <% if @is_diabetes_enabled %>
    <option value="monthly_<%= element_id %>_dm_all">
      Diabetes: All
    </option>
    <% Patient::GENDERS.each do |gender| %>
      <option value="monthly_<%= element_id %>_dm_<%= gender %>">
        Diabetes: <%= gender %>
      </option>
    <% end %>
  <% end %>
<select>