<div id="progress-hypertension-report" style="display: none;">
  <div class="mb-8px pt-16px pb-16px bgc-white bs-card">
    <a
      class="d-inline-flex ai-center h-24px mb-24px pl-16px tt-uppercase"
      href="#"
      onclick="closeWindow('progress-hypertension-report', 'progress-start'); return false;"
    >
      <%= inline_file("chevron-left.svg") %>
      back
    </a>
    <div class="pr-16px pl-16px">
      <h1 class="m-0px mb-8px fw-bold fs-24px">
        <%= t("progress_tab.hypertension_report_title") %> report
      </h1>
      <p class="m-0px p-0px ta-left fw-normal fs-16px c-grey-dark">
        <%= t("progress_tab.last_updated_at",
              date: display_date(@user_analytics.last_updated_at),
              time: display_time(@user_analytics.last_updated_at))
        %>
      </p>
    </div>
  </div>
  <%= render(Reports::ProgressAssignedPatientsComponent.new(@service, @period)) %>
  <%= render(Reports::ProgressTotalRegistrationsComponent.new(@service, @period)) %>
  <%= render(Reports::ProgressMonthlyFollowUpsComponent.new(@service, @period)) %>
  <div class="mt-48px mb-16px pr-16px pl-16px">
    <h3 class="m-0px p-0px ta-left fw-bold fs-20px c-grey-dark">
      <%= t("progress_tab.diagnosis_report.patient_treatment_outcomes.section_title") %>
    </h3>
  </div>
  <%= render(ProgressTab::Hypertension::ControlComponent.new(@service, @current_user)) %>
  <%= render(ProgressTab::Hypertension::UncontrolledComponent.new(@service)) %>
  <%= render(ProgressTab::Hypertension::MissedVisitsComponent.new(@service)) %>
  <%= render(ProgressTab::DrugStockComponent.new(
    drug_stocks_query: @drug_stocks_query,
    drugs_by_category: @drugs_by_category,
    current_facility: @current_facility
  )) %>
<%= render(ProgressTab::CohortReportsComponent.new(data: @user_analytics.statistics.dig(:cohorts))) %>
</div>
