<div id="<%= page_id %>" class="d-none">
  <div class="mb-8px pt-16px pb-16px bgc-white bs-card">
    <a
      class="d-block w-24px h-24px mb-24px pl-16px"
      href="#"
      onclick="closeWindow('<%= page_id %>', 'progress-start'); return false;"
    >
      <div class="d-inline-block">
        <%= inline_file("chevron-left.svg") %>
      </div>
    </a>
    <div class="pr-16px pl-16px">
      <h1 class="m-0px mb-8px fw-bold fs-24px">
        <%= title %> report
      </h1>
      <% if subtitle %>
        <p class="m-0px p-0px ta-left fw-normal fs-16px c-grey-dark">
          <%= subtitle %>
        </p>
      <% end %>
    </div>
  </div>
  <div class="mt-48px mb-8px pr-16px pl-16px">
    <h3 class="m-0px p-0px ta-left fw-bold fs-20px c-grey-dark">
      <%= t("progress_tab.diagnosis_report.patient_treatment_outcomes.section_title") %>
    </h3>
  </div>
  <%= render(Reports::ProgressControlComponent.new(@service)) %>
  <%= render(Reports::ProgressUncontrolledComponent.new(@service)) %>
  <%= render(Reports::ProgressMissedVisitsComponent.new(@service)) %>
</div>