<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="HandheldFriendly" content="True">
    <meta name="MobileOptimized" content="320">
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,minimum-scale=1,shrink-to-fit=no"/>
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <title>
      <%= raw t("analytics.page_title") %>
    </title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap" rel="stylesheet">
    <%= inline_stylesheet("user_analytics.css") %>
  </head>
  <body>
    <div class="mb-8px p-16px bgc-white bs-card">
      <h1 class="m-0px mb-4px fw-bold fs-24px c-black">
        Reports
      </h1>
      <p class="m-0px mb-16px p-0px ta-left fw-normal fs-16px lh-150 c-grey-dark">
        Data last updated on <%= DateTime.parse(@user_analytics.last_updated_at).to_date.strftime("%d-%b-%y at %I:%M %P") %>
      </p>
      <div class="d-flex ai-center jc-space-between mb-16px">
        <a class="f-1 d-flex fd-column ai-center jc-center td-none mr-10px p-12px bgc-blue-green-light br-8px">
          <div class="p-relative d-flex ai-center jc-center w-32px h-32px mb-8px bgc-white br-8px o-hidden">
            <div class="p-absolute t-0 l-0 w-100 h-6px bgc-blue-green"></div>
            <p class="m-0px mt-6px p-0px ta-center fw-bold fs-14px c-blue-green">
              <%= Date.today.strftime("%d") %> 
            </p>
          </div>
          <p class="m-0px p-0px ta-center fw-medium fs-16px c-blue-green">
            Daily
          </p>
        </a>
        <a class="f-1 d-flex fd-column ai-center jc-center td-none mr-4px ml-4px p-12px bgc-blue-light br-8px">
          <div class="p-relative d-flex ai-center jc-center w-32px h-32px mb-8px bgc-white br-8px o-hidden">
            <div class="p-absolute t-0 l-0 w-100 h-6px bgc-blue"></div>
            <p class="m-0px mt-6px p-0px ta-center tt-uppercase fw-bold ls-0_4px fs-12px c-blue">
              <%= Date.today.strftime("%b") %> 
            </p>
          </div>
          <p class="m-0px p-0px ta-center fw-medium fs-16px c-blue">
            Monthly
          </p>
        </a>
        <a class="f-1 d-flex fd-column ai-center jc-center td-none ml-10px p-12px bgc-navy-light br-8px">
          <div class="p-relative d-flex ai-center jc-center w-32px h-32px mb-8px bgc-white br-8px o-hidden">
            <div class="p-absolute t-0 l-0 w-100 h-6px bgc-navy"></div>
            <p class="m-0px mt-6px p-0px ta-center fw-bold fs-10px c-navy">
              <%= Date.today.strftime("%Y") %> 
            </p>
          </div>
          <p class="m-0px p-0px ta-center fw-medium fs-16px c-navy">
            Yearly
          </p>
        </a>
      </div>
      <a class="d-flex ai-center mb-16px p-12px td-none bgc-red-light br-8px">
        <div class="d-flex ai-center jc-center w-32px h-32px mr-12px bgc-white br-8px">
          <%= inline_file("graph-red.svg") %>
        </div>
        <p class="m-0px p-0px ta-left fw-medium fs-16px c-red">
          Hypertension
        </p>
      </a>
      <a class="d-flex ai-center p-12px td-none bgc-purple-light br-8px">
        <div class="d-flex ai-center jc-center w-32px h-32px mr-12px bgc-white br-8px">
          <%= inline_file("graph-purple.svg") %>
        </div>
        <p class="m-0px p-0px ta-left fw-medium fs-16px c-purple">
          Diabetes
        </p>
      </a>
    </div>
    <div class="mb-16px p-16px bgc-white br-4px bs-card">
      <div class="d-flex ai-flex-start jc-space-between mb-16px">
        <div class="f-1">
          <h1 class="m-0px mb-8px fw-bold fs-24px">
            Drug stock report
          </h1>
          <p class="m-0px p-0px ta-left fw-normal fs-16px lh-150 c-grey-dark">
            Submit <%= current_facility.name %>'s drug stock report for end of <%= @period.to_s(:mon_year) %>
          </p>
        </div>
        <div>
          <%= inline_svg("drug-stock.svg") %>
        </div>
      </div>
      <%= link_to "Enter drug stock", new_webview_drug_stock_url(user_id: current_user.id,
        access_token: current_user.access_token,
        facility_id: current_facility.id),
        style: "font-weight: 700;",
        class: "d-block p-16px ta-center fs-16px tt-uppercase ls-1_25px c-blue b-none bb-blue-mid br-2px bgc-blue-light bs-secondary-button"
      %>
    </div>
    <div class="mb-16px p-16px bgc-white br-4px bs-card">
      <h1 class="m-0px mb-8px fw-bold fs-24px">
        Achievements
      </h1>
      <p class="m-0px mb-24px p-0px ta-left fw-normal fs-16px lh-150 c-grey-dark">
        <%= current_facility.name %>'s all-time progress
      </p>
      <div class="mb-32px">
        <p class="m-0px p-0px ta-left fw-normal fs-16px c-black">
          <span class="fw-bold">4,124</span> follow-up visits recorded
        </p>
        <div class="oy-hidden ox-auto ws-nowrap">
          <div class="d-inline-block w-32px h-32px mr-24px bgc-blue-green"></div>
          <div class="d-inline-block w-32px h-32px mr-24px bgc-blue-green"></div>
          <div class="d-inline-block w-32px h-32px mr-24px bgc-blue-green"></div>
          <div class="d-inline-block w-32px h-32px mr-24px bgc-blue-green"></div>
          <div class="d-inline-block w-32px h-32px mr-24px bgc-blue-green"></div>
          <div class="d-inline-block w-32px h-32px mr-24px bgc-blue-green"></div>
          <div class="d-inline-block w-32px h-32px mr-24px bgc-blue-green"></div>
          <div class="d-inline-block w-32px h-32px mr-24px bgc-blue-green"></div>
          <div class="d-inline-block w-32px h-32px mr-24px bgc-blue-green"></div>
          <div class="d-inline-block w-32px h-32px mr-24px bgc-blue-green"></div>
          <div class="d-inline-block w-32px h-32px mr-24px bgc-blue-green"></div>
          <div class="d-inline-block w-32px h-32px mr-24px bgc-blue-green"></div>
          <div class="d-inline-block w-32px h-32px mr-24px bgc-blue-green"></div>
          <div class="d-inline-block w-32px h-32px mr-24px bgc-blue-green"></div>
          <div class="d-inline-block w-32px h-32px mr-24px bgc-blue-green"></div>
          <div class="d-inline-block w-32px h-32px mr-24px bgc-blue-green"></div>
        </div>
      </div>
    </div>
  </body>
</html>