<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="HandheldFriendly" content="True">
    <meta name="MobileOptimized" content="320">
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,minimum-scale=1,shrink-to-fit=no"/>
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <title>
      <%= raw t("analytics.page_title") %>
    </title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap" rel="stylesheet">
    <%= inline_stylesheet("user_analytics.css") %>
  </head>
  <body>
    <div id="home-page">
      <div class="mb-8px p-16px bgc-white bs-card">
        <h1 class="m-0px mb-4px fw-bold fs-24px c-black">
          <%= t("progress_tab.reports_card.title") %>
        </h1>
        <p class="m-0px mb-16px p-0px ta-left fw-normal fs-16px lh-150 c-grey-dark">
          <%= t("progress_tab.reports_card.subtitle", date: DateTime.parse(@user_analytics.last_updated_at).to_date.strftime("%d-%b-%y at %I:%M %P")) %>
        </p>
        <div class="d-flex ai-center jc-space-between mb-16px">
          <a class="f-1 d-flex fd-column ai-center jc-center td-none mr-10px p-12px bgc-blue-green-light br-8px" href="#" onclick="goToPage('home-page', 'daily-report-page'); return false;">
            <div class="p-relative d-flex ai-center jc-center w-32px h-32px mb-8px bgc-white br-8px o-hidden">
              <div class="p-absolute t-0 l-0 w-100 h-6px bgc-blue-green"></div>
              <p class="m-0px mt-6px p-0px ta-center fw-bold fs-14px c-blue-green">
                <%= Date.today.strftime("%d") %> 
              </p>
            </div>
            <p class="m-0px p-0px ta-center fw-medium fs-16px c-blue-green">
              <%= t("progress_tab.daily_report_title") %>
            </p>
          </a>
          <a class="f-1 d-flex fd-column ai-center jc-center td-none mr-4px ml-4px p-12px bgc-blue-light br-8px" href="#" onclick="goToPage('home-page', 'monthly-report-page'); return false;">
            <div class="p-relative d-flex ai-center jc-center w-32px h-32px mb-8px bgc-white br-8px o-hidden">
              <div class="p-absolute t-0 l-0 w-100 h-6px bgc-blue"></div>
              <p class="m-0px mt-6px p-0px ta-center tt-uppercase fw-bold ls-0_4px fs-12px c-blue">
                <%= Date.today.strftime("%b") %> 
              </p>
            </div>
            <p class="m-0px p-0px ta-center fw-medium fs-16px c-blue">
              <%= t("progress_tab.monthly_report_title") %>
            </p>
          </a>
          <a class="f-1 d-flex fd-column ai-center jc-center td-none ml-10px p-12px bgc-navy-light br-8px" href="#" onclick="goToPage('home-page', 'yearly-report-page'); return false;">
            <div class="p-relative d-flex ai-center jc-center w-32px h-32px mb-8px bgc-white br-8px o-hidden">
              <div class="p-absolute t-0 l-0 w-100 h-6px bgc-navy"></div>
              <p class="m-0px mt-6px p-0px ta-center fw-bold fs-10px c-navy">
                <%= Date.today.strftime("%Y") %> 
              </p>
            </div>
            <p class="m-0px p-0px ta-center fw-medium fs-16px c-navy">
              <%= t("progress_tab.yearly_report_title") %>
            </p>
          </a>
        </div>
        <a
          class="d-flex ai-center mb-16px p-12px td-none bgc-red-light br-8px"
          href="#"
          onclick="goToPage('home-page', 'hypertension-report'); return false;"
        >
          <div class="d-flex ai-center jc-center w-32px h-32px mr-12px bgc-white br-8px">
            <%= inline_file("graph-red.svg") %>
          </div>
          <p class="m-0px p-0px ta-left fw-medium fs-16px c-red">
            <%= t("progress_tab.hypertension_report_title") %>
          </p>
        </a>
        <a
          class="d-flex ai-center p-12px td-none bgc-purple-light br-8px"
          href="#"
          onclick="goToPage('home-page', 'diabetes-report'); return false;"
        >
          <div class="d-flex ai-center jc-center w-32px h-32px mr-12px bgc-white br-8px">
            <%= inline_file("graph-purple.svg") %>
          </div>
          <p class="m-0px p-0px ta-left fw-medium fs-16px c-purple">
            <%= t("progress_tab.diabetes_report_title") %>
          </p>
        </a>
      </div>
      <div class="mb-8px p-16px bgc-white bs-card">
        <div class="d-flex ai-flex-start jc-space-between mb-16px">
          <div class="f-1">
            <h1 class="m-0px mb-8px fw-bold fs-24px">
              <%= t("progress_tab.drug_stock_report_card.title") %>
            </h1>
            <p class="m-0px p-0px ta-left fw-normal fs-16px lh-150 c-grey-dark">
              <%= t("progress_tab.drug_stock_report_card.subtitle", facility_name: current_facility.name, period: @period.to_s(:mon_year)) %>
            </p>
          </div>
          <div>
            <%= inline_svg("drug-stock.svg") %>
          </div>
        </div>
        <%= link_to t("progress_tab.drug_stock_report_card.button_title"), new_webview_drug_stock_url(user_id: current_user.id,
          access_token: current_user.access_token,
          facility_id: current_facility.id),
          style: "font-weight: 700;",
          class: "d-block p-16px ta-center fs-16px tt-uppercase ls-1_25px c-blue b-none bb-blue-mid br-2px bgc-blue-light bs-secondary-button"
        %>
      </div>
      <div class="mb-8px pt-16px pb-16px bgc-white bs-card">
        <div class="pr-16px pl-16px">
          <h1 class="m-0px mb-8px fw-bold fs-24px">
            <%= t("progress_tab.achievements_card.title") %>
          </h1>
          <p class="m-0px mb-24px p-0px ta-left fw-normal fs-16px lh-150 c-grey-dark">
            <%= t("progress_tab.achievements_card.subtitle", facility_name: current_facility.name) %>
          </p>
        </div>
        <div class="mb-24px">
          <p class="m-0px mb-8px p-0px pl-16px ta-left fw-normal fs-16px c-black">
            <span class="fw-bold">7,051</span> <%= t("progress_tab.achievements_card.follow_up_visits_section_title", visit_or_visits: "visit".pluralize(7051)) %>
          </p>
          <div class="ws-nowrap ox-scroll pt-4px pb-4px pl-16px d-none-scrollbar">
            <% follow_up_badge_goals = create_badge_array(7051) %>
            <% follow_up_badge_goals.each do |badge| %>
              <%= render partial: "api/v3/analytics/user_analytics/achievement_badge",
                locals: { value: badge["goal_value"],
                          is_goal_completed: badge["is_goal_completed"],
                          badge_color: "lavander",
                          icon_completed: "refresh-arrow-white.svg",
                          icon_goal: "refresh-arrow-grey.svg"
              } %>
            <% end %>
          </div>
        </div>
        <div class="mb-24px">
          <p class="m-0px mb-8px p-0px pl-16px ta-left fw-normal fs-16px c-black">
            <span class="fw-bold">2,501</span> <%= t("progress_tab.achievements_card.overdue_patients_section_title", call_or_calls: "call".pluralize(2501)) %>
          </p>
          <div class="ws-nowrap ox-scroll pt-4px pb-4px pl-16px d-none-scrollbar">
            <% overdue_call_badge_goals = create_badge_array(2501) %>
            <% overdue_call_badge_goals.each do |badge| %>
              <%= render partial: "api/v3/analytics/user_analytics/achievement_badge",
                locals: { value: badge["goal_value"],
                          is_goal_completed: badge["is_goal_completed"],
                          badge_color: "baby-blue",
                          icon_completed: "phone-white.svg",
                          icon_goal: "phone-grey.svg"
              } %>
            <% end %>
          </div>
        </div>
        <div>
          <p class="m-0px mb-8px p-0px pl-16px ta-left fw-normal fs-16px c-black">
            <span class="fw-bold">1,512</span> <%= t("progress_tab.achievements_card.registered_patients_title", patient_or_patients: "patient".pluralize(1512)) %>
          </p>
          <div class="ws-nowrap ox-scroll pt-4px pb-4px pl-16px d-none-scrollbar">
            <% registered_patients_badge_goals = create_badge_array(1512) %>
            <% registered_patients_badge_goals.each do |badge| %>
              <%= render partial: "api/v3/analytics/user_analytics/achievement_badge",
                locals: { value: badge["goal_value"],
                          is_goal_completed: badge["is_goal_completed"],
                          badge_color: "yellow",
                          icon_completed: "face-yellow-darkest.svg",
                          icon_goal: "face-grey.svg"
              } %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
    <%= render partial: "api/v3/analytics/user_analytics/period_report",
               locals: {
                 page_id: "daily-report-page",
                 title: t("progress_tab.daily_report_title"),
                 subtitle: false,
                 periods: @period_reports_data["daily_periods"],
                 registered_patients: @period_reports_data["daily_registered_patients"],
                 follow_up_patients: @period_reports_data["daily_follow_up_patients"]
               } 
    %>
    <%= render partial: "api/v3/analytics/user_analytics/period_report",
               locals: {
                 page_id: "monthly-report-page",
                 title: t("progress_tab.monthly_report_title"),
                 subtitle: false,
                 periods: @period_reports_data["monthly_periods"],
                 registered_patients: @period_reports_data["monthly_registered_patients"],
                 follow_up_patients: @period_reports_data["monthly_follow_up_patients"]
               }
    %>
    <%= render partial: "api/v3/analytics/user_analytics/period_report",
               locals: {
                 page_id: "yearly-report-page",
                 title: t("progress_tab.yearly_report_title"),
                 subtitle: "Apr-2021 to Mar-2022",
                 periods: @period_reports_data["yearly_periods"],
                 registered_patients: @period_reports_data["yearly_registered_patients"],
                 follow_up_patients: @period_reports_data["yearly_follow_up_patients"]
               }
    %>
    <%= render partial: "api/v3/analytics/user_analytics/diagnosis_report",
               locals: {
                 page_id: "hypertension-report",
                 report_diagnosis: t("progress_tab.diagnoses.hypertension"),
                 title: t("progress_tab.hypertension_report_title"),
                 subtitle: t("progress_tab.reports_card.subtitle", date: DateTime.parse(@user_analytics.last_updated_at).to_date.strftime("%d-%b-%y at %I:%M %P")),
                 diagnosis_data: @hypertension_reports_data
               }
    
    %>
    <%= render partial: "api/v3/analytics/user_analytics/diagnosis_report",
               locals: {
                 page_id: "diabetes-report",
                 report_diagnosis: t("progress_tab.diagnoses.diabetes"),
                 title: t("progress_tab.diabetes_report_title"),
                 subtitle: t("progress_tab.reports_card.subtitle", date: DateTime.parse(@user_analytics.last_updated_at).to_date.strftime("%d-%b-%y at %I:%M %P")),
                 diagnosis_data: @diabetes_reports_data
               }
    
    %>
    <%= inline_js "standalone/progress_tab.js" %>
  </body>
</html>