<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="HandheldFriendly" content="True">
    <meta name="MobileOptimized" content="320">
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,minimum-scale=1,shrink-to-fit=no"/>
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap" rel="stylesheet">
    <title>
      <%= raw t("analytics.page_title") %>
    </title>
    <%= inline_stylesheet("user_analytics.css") %>
  </head>
  <body>
    <div id="home-page">
      <% if Flipper.enabled?(:world_htn_day_2023) %>
        <div class="mb-8px p-20px bgc-white bs-card htnday-card" style="background: #FFFEE3;">
          <%# here %>
          <% if CountryConfig.current[:name] == "India" %>
            <div class="fw-bold ta-center" style="font-size: 82px;">
              <svg style="max-width: 480px; margin-top: 30px;" viewBox="-60 -80 500 120">
                <%# <path id="curve" d="M73.2,148.6c4-6.1,65.5-96.8,178.6-95.6c111.3,1.2,170.8,90.3,175.1,97" /> %>
                <path id="curve" d="M369.978 45H0.0214844C30.6605 18.5446 101.948 0 185 0C268.052 0 339.339 18.5446 369.978 45Z"/>
                <text width="500" x="380">
                  <textPath xlink:href="#curve">
                    33,38,244
                  </textPath>
                </text>
              </svg>
            </div>
          <% end %>
          <%# here %>
          <% if CountryConfig.current[:name] == "Bangladesh" %>
            <div class="fw-bold ta-center" style="font-size: 100px;">
              <svg style="max-width: 480px; margin-top: 30px;" viewBox="-60 -80 500 120">
                <%# <path id="curve" d="M73.2,148.6c4-6.1,65.5-96.8,178.6-95.6c111.3,1.2,170.8,90.3,175.1,97" /> %>
                <path id="curve" d="M369.978 45H0.0214844C30.6605 18.5446 101.948 0 185 0C268.052 0 339.339 18.5446 369.978 45Z"/>
                <text width="500" x="380">
                  <textPath xlink:href="#curve">
                    195,045
                  </textPath>
                </text>
              </svg>
            </div>
          <% end %>
          <% if CountryConfig.current[:name] == "Ethiopia" %>
            <div class="fw-bold ta-center" style="font-size: 100px;">
              <svg style="max-width: 480px; margin-top: 30px;" viewBox="-60 -80 500 120">
                <%# <path id="curve" d="M73.2,148.6c4-6.1,65.5-96.8,178.6-95.6c111.3,1.2,170.8,90.3,175.1,97" /> %>
                <path id="curve" d="M369.978 45H0.0214844C30.6605 18.5446 101.948 0 185 0C268.052 0 339.339 18.5446 369.978 45Z"/>
                <text width="500" x="410">
                  <textPath xlink:href="#curve">
                    23,395
                  </textPath>
                </text>
              </svg>
            </div>
          <% end %>
          <% if CountryConfig.current[:name] == "Sri Lanka" %>
            <div class="fw-bold ta-center" style="font-size: 100px;">
              <svg style="max-width: 480px; margin-top: 30px;" viewBox="-60 -80 500 120">
                <%# <path id="curve" d="M73.2,148.6c4-6.1,65.5-96.8,178.6-95.6c111.3,1.2,170.8,90.3,175.1,97" /> %>
                <path id="curve" d="M369.978 45H0.0214844C30.6605 18.5446 101.948 0 185 0C268.052 0 339.339 18.5446 369.978 45Z"/>
                <text width="500" x="442">
                  <textPath xlink:href="#curve">
                    7,406
                  </textPath>
                </text>
              </svg>
            </div>
          <% end %>
          <svg style="margin-top: -20px; max-width: 480px;" width="420" viewBox="0 0 420 280" fill="none" xmlns="http://www.w3.org/2000/svg">
            <g class="animate-heart-arms">
              <path d="M351.395 162.758C351.395 162.758 351.893 162.922 352.772 163.209C353.172 163.322 353.807 163.588 354.51 163.865C354.861 164.008 355.223 164.162 355.613 164.316C355.975 164.48 356.346 164.664 356.736 164.849C357.527 165.207 358.348 165.648 359.207 166.119C360.086 166.57 360.945 167.134 361.863 167.677C362.752 168.271 363.689 168.845 364.587 169.511C365.037 169.839 365.496 170.167 365.955 170.495L367.292 171.551C368.191 172.237 369.04 173.006 369.9 173.744C370.73 174.512 371.56 175.25 372.312 176.039C373.083 176.798 373.796 177.587 374.47 178.335C375.143 179.083 375.739 179.862 376.296 180.559C376.823 181.317 377.331 181.963 377.741 182.619C378.141 183.285 378.503 183.828 378.776 184.34C379.303 185.375 379.596 185.97 379.596 185.97C380.583 187.917 379.88 190.325 378.024 191.36C376.169 192.395 373.874 191.657 372.888 189.71L372.712 189.372C372.712 189.372 372.517 188.993 372.175 188.327C372.009 187.988 371.716 187.579 371.442 187.107C371.159 186.636 370.739 186.113 370.349 185.539C369.89 184.986 369.421 184.361 368.865 183.736C368.308 183.11 367.712 182.444 367.048 181.799C366.413 181.122 365.681 180.497 364.968 179.821C364.216 179.185 363.484 178.509 362.693 177.915L361.521 176.992C361.121 176.705 360.72 176.419 360.32 176.132C359.539 175.547 358.719 175.056 357.947 174.533C357.156 174.072 356.404 173.57 355.662 173.19C354.93 172.791 354.236 172.412 353.582 172.125C353.26 171.971 352.947 171.827 352.654 171.684C352.381 171.571 352.117 171.459 351.863 171.366C351.375 171.161 350.975 170.987 350.487 170.844C349.608 170.557 349.11 170.393 349.11 170.393C347.108 169.727 345.995 167.493 346.62 165.392C347.245 163.291 349.383 162.123 351.385 162.778L351.395 162.758Z" fill="#911D36"/>
              <path d="M350.975 160.76C350.975 160.76 351.502 160.76 352.42 160.76C352.84 160.749 353.514 160.801 354.266 160.852C354.637 160.883 355.037 160.913 355.447 160.944C355.838 160.995 356.248 161.047 356.668 161.108C357.527 161.2 358.435 161.374 359.392 161.559C360.359 161.723 361.336 162 362.371 162.235C363.377 162.533 364.441 162.789 365.486 163.147C366.013 163.322 366.54 163.496 367.068 163.67L368.64 164.264C369.695 164.644 370.72 165.125 371.745 165.556C372.751 166.037 373.747 166.488 374.694 167.011C375.642 167.493 376.55 168.036 377.399 168.548C378.249 169.06 379.04 169.624 379.772 170.116C380.495 170.669 381.159 171.141 381.725 171.643C382.292 172.155 382.799 172.565 383.19 172.965C383.981 173.795 384.43 174.266 384.43 174.266C385.914 175.824 385.914 178.345 384.43 179.903C382.946 181.461 380.544 181.461 379.059 179.903L378.805 179.636C378.805 179.636 378.512 179.329 378.005 178.806C377.751 178.54 377.36 178.232 376.97 177.874C376.559 177.515 376.022 177.146 375.485 176.716C374.89 176.326 374.274 175.875 373.562 175.445C372.849 175.015 372.107 174.564 371.286 174.154C370.495 173.703 369.616 173.324 368.747 172.903C367.859 172.535 366.96 172.114 366.033 171.776L364.656 171.254C364.187 171.1 363.728 170.946 363.269 170.792C362.351 170.475 361.433 170.259 360.554 169.993C359.666 169.798 358.807 169.552 357.996 169.419C357.186 169.265 356.414 169.112 355.711 169.04C355.359 168.989 355.018 168.948 354.695 168.907C354.402 168.886 354.119 168.866 353.856 168.845C353.328 168.804 352.899 168.753 352.401 168.763C351.483 168.763 350.955 168.763 350.955 168.763C348.856 168.753 347.167 166.949 347.176 164.746C347.186 162.543 348.905 160.77 351.004 160.78L350.975 160.76Z" fill="#911D36"/>
              <path d="M352.732 157.439C352.732 157.439 353.24 157.316 354.139 157.111C354.549 156.999 355.213 156.886 355.955 156.763C356.326 156.701 356.717 156.64 357.127 156.578C357.517 156.537 357.928 156.496 358.357 156.445C359.216 156.343 360.134 156.291 361.101 156.25C362.078 156.179 363.093 156.22 364.148 156.209C365.193 156.261 366.286 156.261 367.38 156.373C367.927 156.425 368.484 156.466 369.04 156.517L370.7 156.722C371.813 156.845 372.907 157.07 374.001 157.255C375.085 157.49 376.149 157.685 377.184 157.982C378.21 158.228 379.206 158.546 380.143 158.843C381.081 159.14 381.969 159.509 382.789 159.807C383.61 160.186 384.352 160.483 385.016 160.831C385.68 161.19 386.256 161.477 386.735 161.774C387.682 162.399 388.219 162.748 388.219 162.748C389.996 163.916 390.533 166.375 389.42 168.241C388.307 170.106 385.963 170.669 384.186 169.501L383.873 169.296C383.873 169.296 383.522 169.071 382.916 168.671C382.604 168.466 382.164 168.261 381.705 168.005C381.237 167.749 380.631 167.513 380.006 167.226C379.342 166.98 378.649 166.683 377.858 166.447C377.077 166.201 376.247 165.935 375.358 165.72C374.489 165.474 373.552 165.299 372.614 165.094C371.667 164.941 370.71 164.736 369.733 164.633L368.279 164.449C367.79 164.408 367.312 164.367 366.833 164.326C365.876 164.234 364.929 164.234 364.011 164.182C363.103 164.203 362.214 164.162 361.394 164.223C360.564 164.264 359.783 164.295 359.08 164.387C358.728 164.428 358.386 164.459 358.064 164.49C357.771 164.541 357.488 164.582 357.224 164.623C356.697 164.705 356.267 164.756 355.789 164.889C354.891 165.094 354.383 165.217 354.383 165.217C352.332 165.699 350.301 164.346 349.842 162.194C349.383 160.042 350.672 157.911 352.723 157.429L352.732 157.439Z" fill="#911D36"/>
              <path d="M253.969 217.021C253.969 217.021 254.164 216.621 254.545 215.873C254.73 215.504 254.965 215.043 255.238 214.5C255.502 213.967 255.961 213.25 256.39 212.502C256.839 211.743 257.337 210.882 257.914 210.093C258.5 209.284 259.066 208.341 259.798 207.449C261.195 205.615 262.845 203.637 264.759 201.629C265.716 200.634 266.712 199.579 267.806 198.575C268.343 198.062 268.89 197.55 269.446 197.027C270.022 196.525 270.598 196.023 271.194 195.5C273.548 193.44 276.135 191.432 278.86 189.444C281.604 187.497 284.465 185.529 287.473 183.715C288.957 182.772 290.5 181.922 292.013 181.01C293.566 180.159 295.099 179.267 296.671 178.458C299.796 176.787 302.989 175.26 306.143 173.805C309.317 172.381 312.452 171.038 315.547 169.86C318.623 168.651 321.65 167.605 324.531 166.662C327.422 165.75 330.175 164.92 332.763 164.285C335.331 163.609 337.743 163.117 339.892 162.717C340.966 162.522 341.991 162.379 342.928 162.225C343.885 162.112 344.755 162.01 345.546 161.918C347.157 161.784 348.416 161.692 349.325 161.702C350.213 161.702 350.692 161.692 350.692 161.692C352.791 161.672 354.51 163.445 354.529 165.648C354.549 167.851 352.86 169.655 350.76 169.675H350.535C350.535 169.675 350.155 169.675 349.432 169.696C348.719 169.675 347.635 169.768 346.249 169.87C345.546 169.952 344.774 170.044 343.934 170.147C343.085 170.29 342.167 170.413 341.181 170.587C339.208 170.956 336.982 171.418 334.56 172.053C324.863 174.492 312.09 179.247 300.109 185.601C298.605 186.38 297.13 187.23 295.656 188.04C294.21 188.901 292.736 189.71 291.33 190.612C288.478 192.344 285.773 194.189 283.186 196.023C280.637 197.898 278.215 199.763 276.038 201.67C275.491 202.141 274.954 202.612 274.426 203.073C273.919 203.555 273.421 204.027 272.923 204.488C271.917 205.4 271.028 206.353 270.159 207.255C268.431 209.069 266.976 210.821 265.765 212.42C265.12 213.198 264.652 213.998 264.144 214.705C263.626 215.422 263.265 216.058 262.913 216.632C262.572 217.236 262.249 217.667 261.986 218.22C261.712 218.763 261.488 219.224 261.292 219.593C260.921 220.341 260.716 220.741 260.716 220.741C259.74 222.688 257.445 223.446 255.58 222.422C253.715 221.397 253.002 218.989 253.978 217.031L253.969 217.021Z" fill="#911D36"/>
              <path d="M362.732 142.867C362.732 142.867 362.644 143.236 362.488 143.891C362.41 144.219 362.312 144.609 362.205 145.06C362.088 145.521 362 145.992 361.795 146.617C361.609 147.222 361.414 147.878 361.209 148.564C361.101 148.913 360.994 149.261 360.886 149.63C360.759 149.979 360.633 150.327 360.506 150.686C360.242 151.403 359.978 152.141 359.705 152.899C359.392 153.637 359.07 154.385 358.758 155.144C358.455 155.902 358.094 156.64 357.723 157.357C357.351 158.085 357.029 158.802 356.629 159.479C356.228 160.155 355.848 160.811 355.477 161.426C355.135 162.051 354.676 162.604 354.324 163.137C353.943 163.66 353.631 164.152 353.279 164.562C352.918 164.971 352.596 165.33 352.332 165.627C351.805 166.211 351.502 166.55 351.502 166.55C350.067 168.148 347.664 168.21 346.141 166.703C344.637 165.207 344.559 162.727 345.946 161.128L346.307 160.719C346.307 160.719 346.502 160.493 346.844 160.104C347.02 159.909 347.225 159.673 347.469 159.407C347.713 159.13 347.957 158.73 348.241 158.351C348.514 157.941 348.846 157.562 349.129 157.04C349.422 156.537 349.735 156.015 350.057 155.461C350.379 154.918 350.653 154.283 350.965 153.688C351.278 153.084 351.58 152.459 351.844 151.803C352.117 151.157 352.391 150.501 352.664 149.866C352.899 149.21 353.133 148.564 353.358 147.939C353.475 147.622 353.582 147.314 353.69 147.017C353.777 146.72 353.865 146.433 353.953 146.146C354.129 145.582 354.285 145.049 354.441 144.558C354.598 144.096 354.715 143.533 354.822 143.092C354.93 142.641 355.027 142.241 355.105 141.924C355.262 141.278 355.35 140.899 355.35 140.899C355.867 138.767 357.937 137.476 359.978 138.019C362.019 138.562 363.24 140.735 362.722 142.877L362.732 142.867Z" fill="#911D36"/>
              <path d="M71.0878 184.463C71.0878 184.463 70.6191 184.709 69.7988 185.129C69.3496 185.344 68.9786 185.59 68.5196 185.867C68.2852 186.011 68.0411 186.154 67.7872 186.308C67.5138 186.492 67.2306 186.687 66.9279 186.892C66.3225 187.281 65.6975 187.773 65.0237 188.286C64.3499 188.778 63.6761 189.392 62.9633 189.977C62.2797 190.612 61.5473 191.237 60.854 191.944C60.5025 192.293 60.1509 192.641 59.7994 192.989L58.7741 194.086C58.0807 194.814 57.4558 195.592 56.8015 196.341C56.1961 197.119 55.5711 197.867 55.0438 198.626C54.4774 199.374 53.9892 200.122 53.5302 200.829C53.0615 201.536 52.7002 202.223 52.3291 202.858C52.0166 203.494 51.6846 204.068 51.4698 204.58C51.2647 205.092 51.0401 205.543 50.9229 205.902C50.6886 206.609 50.5519 207.019 50.5519 207.019L50.4249 207.388C49.7316 209.468 47.5637 210.565 45.5814 209.827C43.5991 209.099 42.5543 206.834 43.2476 204.764C43.2476 204.764 43.4526 204.129 43.8237 203.022C44.0092 202.479 44.2924 201.874 44.5952 201.157C44.8979 200.44 45.308 199.722 45.7181 198.892C46.1673 198.113 46.6458 197.242 47.2024 196.402C47.7493 195.551 48.3449 194.65 48.9894 193.779C49.6144 192.877 50.3273 192.016 51.0303 191.124C51.7725 190.264 52.4951 189.372 53.2861 188.542L54.4579 187.292C54.8583 186.892 55.2684 186.492 55.6688 186.093C56.4597 185.293 57.2995 184.566 58.0905 183.838C58.9205 183.151 59.692 182.455 60.4927 181.87C61.2837 181.266 62.0161 180.692 62.7484 180.21C63.1098 179.964 63.4515 179.729 63.7835 179.503C64.1449 179.278 64.4866 179.073 64.8089 178.878C65.4631 178.489 66.049 178.13 66.4299 177.945C67.2501 177.515 67.7189 177.279 67.7189 177.279C69.6035 176.306 71.8788 177.115 72.8162 179.093C73.7439 181.071 72.9725 183.459 71.0878 184.443V184.463Z" fill="#911D36"/>
              <path d="M69.0567 183.131C69.0567 183.131 68.5391 183.223 67.631 183.377C67.133 183.449 66.7131 183.572 66.2053 183.695C65.9416 183.756 65.6682 183.828 65.385 183.9C65.0725 183.992 64.7405 184.094 64.3987 184.197C63.7152 184.381 62.973 184.658 62.1918 184.945C61.4106 185.211 60.6001 185.591 59.7506 185.929C58.9205 186.328 58.0417 186.697 57.1823 187.158C56.7527 187.384 56.3132 187.609 55.8836 187.835L54.5946 188.573C53.7255 189.054 52.9052 189.608 52.085 190.12C51.294 190.673 50.4835 191.196 49.7609 191.77C49.009 192.313 48.3352 192.877 47.7004 193.41C47.056 193.943 46.5091 194.486 45.9818 194.978C45.5131 195.49 45.0346 195.941 44.683 196.361C44.3413 196.781 44.0092 197.15 43.7944 197.458C43.3647 198.062 43.1206 198.411 43.1206 198.411L42.896 198.728C41.6559 200.501 39.2732 200.88 37.5838 199.569C35.8945 198.267 35.5234 195.777 36.7733 194.004C36.7733 194.004 37.1542 193.461 37.8084 192.518C38.1404 192.057 38.5799 191.565 39.0681 190.971C39.5564 190.387 40.152 189.813 40.777 189.147C41.4313 188.542 42.1246 187.855 42.896 187.22C43.6577 186.574 44.478 185.898 45.3373 185.263C46.1869 184.596 47.1145 183.992 48.0325 183.356C48.9797 182.762 49.9269 182.127 50.9132 181.584L52.3877 180.743C52.8857 180.487 53.3837 180.221 53.8817 179.964C54.8583 179.442 55.8738 179.011 56.8308 178.56C57.8171 178.161 58.7448 177.73 59.6724 177.413C60.5904 177.074 61.4594 176.757 62.2992 176.531C62.7094 176.408 63.1098 176.285 63.4808 176.173C63.891 176.07 64.2718 175.978 64.6331 175.886C65.3655 175.711 66.0197 175.558 66.4396 175.496C67.3478 175.343 67.8653 175.25 67.8653 175.25C69.9355 174.902 71.8886 176.378 72.2303 178.55C72.5624 180.723 71.1562 182.772 69.086 183.131H69.0567Z" fill="#911D36"/>
              <path d="M65.1312 180.221C65.1312 180.221 64.6038 180.19 63.6957 180.118C63.1977 180.067 62.768 180.087 62.2309 180.087C61.9673 180.087 61.6841 180.087 61.3814 180.087C61.0591 180.108 60.7173 180.128 60.356 180.149C59.6432 180.169 58.8717 180.262 58.0417 180.354C57.2214 180.425 56.3523 180.61 55.454 180.733C54.5556 180.928 53.6279 181.081 52.6904 181.327C52.2217 181.44 51.753 181.563 51.2745 181.676L49.8586 182.096C48.9113 182.362 47.9934 182.711 47.0755 183.018C46.1869 183.377 45.2885 183.695 44.4585 184.074C43.6187 184.422 42.8375 184.822 42.0953 185.191C41.3532 185.56 40.7087 185.959 40.0837 186.308C39.5173 186.697 38.951 187.025 38.5213 187.353C38.1014 187.691 37.6913 187.958 37.4178 188.204C36.871 188.696 36.5683 188.972 36.5683 188.972L36.2851 189.228C34.6934 190.663 32.3009 190.479 30.9241 188.808C29.5569 187.138 29.723 184.637 31.3147 183.192C31.3147 183.192 31.7932 182.752 32.6427 181.983C33.0724 181.604 33.5997 181.235 34.1954 180.774C34.8008 180.313 35.4941 179.903 36.246 179.401C37.0077 178.97 37.828 178.458 38.7166 178.017C39.6052 177.566 40.5329 177.095 41.5192 176.685C42.4957 176.234 43.521 175.865 44.5561 175.455C45.601 175.097 46.6654 174.697 47.7395 174.4L49.3508 173.928C49.8879 173.795 50.4347 173.662 50.962 173.518C52.0264 173.231 53.1006 173.057 54.1357 172.842C55.1805 172.688 56.1766 172.483 57.1531 172.391C58.1198 172.278 59.0377 172.176 59.8971 172.145C60.3267 172.125 60.7369 172.094 61.1275 172.073C61.5474 172.073 61.938 172.073 62.3188 172.073C63.0707 172.073 63.7445 172.073 64.1644 172.125C65.0823 172.186 65.5999 172.227 65.5999 172.227C67.6994 172.371 69.2813 174.266 69.1446 176.47C69.0079 178.673 67.2014 180.333 65.1019 180.19L65.1312 180.221Z" fill="#911D36"/>
              <path d="M165.838 219.921C165.838 219.921 165.585 219.563 165.106 218.886C164.862 218.548 164.569 218.128 164.227 217.636C163.876 217.134 163.505 216.755 163.075 216.211C162.655 215.699 162.196 215.125 161.581 214.5C160.975 213.885 160.39 213.178 159.638 212.512C158.202 211.128 156.503 209.632 154.54 208.126C153.554 207.378 152.529 206.578 151.406 205.84C150.849 205.461 150.283 205.072 149.716 204.682C149.13 204.314 148.525 203.934 147.92 203.555C145.498 202.028 142.832 200.563 140.029 199.128C137.207 197.734 134.268 196.341 131.192 195.09C129.678 194.424 128.096 193.871 126.544 193.246C124.962 192.682 123.39 192.077 121.788 191.555C109.025 187.21 95.6959 184.576 85.7648 183.736C83.2747 183.5 81.0092 183.408 79.0171 183.367C78.0211 183.346 77.0934 183.367 76.2341 183.367C75.3845 183.408 74.6033 183.438 73.9002 183.469C72.5233 183.592 71.4296 183.674 70.7363 183.807C70.0235 183.91 69.6426 183.971 69.6426 183.971L69.4083 184.002C67.3283 184.32 65.4046 182.803 65.1019 180.62C64.8089 178.437 66.2346 176.419 68.3146 176.111C68.3146 176.111 68.7833 176.039 69.6622 175.906C70.5508 175.752 71.8105 175.64 73.4217 175.506C74.2127 175.476 75.1013 175.435 76.0583 175.394C77.0055 175.394 78.0406 175.373 79.1343 175.394C81.3119 175.445 83.7629 175.547 86.3995 175.793C89.0459 176.009 91.8875 176.378 94.8756 176.808C97.8637 177.279 100.998 177.823 104.221 178.519C107.443 179.185 110.744 180.005 114.084 180.907C117.413 181.829 120.792 182.834 124.122 183.971C125.792 184.514 127.452 185.15 129.102 185.734C130.743 186.39 132.383 186.974 133.995 187.671C137.227 188.983 140.342 190.458 143.34 191.934C146.318 193.461 149.169 195.029 151.806 196.679C152.46 197.089 153.115 197.499 153.749 197.898C154.374 198.329 154.989 198.749 155.605 199.169C156.825 199.979 157.968 200.86 159.062 201.69C161.249 203.371 163.163 205.051 164.813 206.64C165.663 207.398 166.366 208.238 167.059 208.946C167.743 209.642 168.368 210.401 168.924 211.087C169.461 211.754 170.018 212.389 170.36 212.881C170.711 213.373 171.004 213.793 171.239 214.131C171.717 214.807 171.971 215.166 171.971 215.166C173.221 216.939 172.869 219.44 171.18 220.751C169.491 222.063 167.108 221.694 165.858 219.921H165.838Z" fill="#911D36"/>
              <path d="M60.6098 156.343C60.6098 156.343 60.7563 156.691 61.0004 157.306C61.1274 157.613 61.2739 157.993 61.4496 158.413C61.6254 158.823 61.8207 159.366 62.0453 159.796C62.2699 160.257 62.5043 160.76 62.7582 161.292C62.8851 161.559 63.012 161.836 63.139 162.112C63.2952 162.389 63.4417 162.676 63.6077 162.973C63.9202 163.557 64.2522 164.162 64.5745 164.767C64.9358 165.351 65.3068 165.945 65.6682 166.55C66.0197 167.154 66.4201 167.728 66.8107 168.271C67.211 168.814 67.5723 169.388 67.9727 169.88C68.3731 170.372 68.7539 170.833 69.125 171.284C69.4765 171.756 69.8671 172.073 70.1894 172.432C70.5312 172.77 70.8241 173.119 71.1073 173.354C71.3905 173.58 71.6249 173.785 71.8299 173.938C72.2303 174.277 72.4549 174.461 72.4549 174.461L72.865 174.81C74.4958 176.183 74.7594 178.683 73.4509 180.405C72.1522 182.106 69.8085 182.393 68.168 181.061C68.168 181.061 67.8165 180.774 67.211 180.282C66.9083 180.036 66.5372 179.729 66.1173 179.38C65.7072 179.021 65.3264 178.591 64.8674 178.14C64.4378 177.679 63.9007 177.197 63.471 176.634C63.0218 176.08 62.5433 175.496 62.0453 174.892C61.5571 174.287 61.1274 173.631 60.6587 172.975C60.1899 172.319 59.7212 171.653 59.3111 170.956C58.8912 170.27 58.4615 169.573 58.0416 168.896C57.6608 168.2 57.2897 167.513 56.9284 166.847C56.7526 166.509 56.5671 166.181 56.4011 165.863C56.2351 165.525 56.0788 165.187 55.9226 164.869C55.6199 164.223 55.3269 163.609 55.0633 163.035C54.7801 162.45 54.6238 162 54.4383 161.559C54.2625 161.128 54.1063 160.76 53.9891 160.452C53.7352 159.837 53.5985 159.479 53.5985 159.479C52.7685 157.449 53.6669 155.103 55.6003 154.242C57.5338 153.371 59.77 154.314 60.5903 156.343H60.6098Z" fill="#911D36"/>
            </g>
            <g class="animate-heart">
              <path d="M99.9144 150.051C117.882 183.684 161.552 228.724 215.035 255C241.01 240.089 303.966 192.272 323.359 133.357C333.212 103.422 333.788 72.1762 313.194 48.9953C301.72 36.0828 277.785 24.2669 260.618 25.0355C239.858 25.9681 221.519 36.8617 209.078 53.5351C195.27 38.0197 176.16 28.7453 155.351 29.6574C125.763 30.9589 103.723 53.6069 93.1374 80.9075C83.6946 105.236 88.4111 128.509 99.9242 150.04L99.9144 150.051Z" fill="#FF3355"/>
              <path d="M311.202 50.9629C300.079 38.4502 277.659 27.8743 262.23 27.8743C261.722 27.8743 261.224 27.8845 260.726 27.905C242.231 28.7351 224.742 38.1427 212.438 53.7607C213.883 55.5643 215.318 57.5114 216.822 59.684C229.585 35.673 259.779 21.3566 283.654 37.1897C304.132 50.7682 306.514 75.968 302.013 98.6365C301.495 107.481 299.689 116.161 296.359 124.646C291.75 136.37 286.389 147.735 279.475 158.157C275.862 163.609 271.897 168.784 267.825 173.857C262.63 180.323 256.009 185.14 249.477 189.997C195.632 230.056 140.86 196.976 99.4263 142.969C100.305 144.855 101.252 146.751 102.278 148.657C118.829 179.636 161.054 224.953 214.918 251.803C239.028 237.609 301.573 190.725 320.762 132.445C328.505 108.915 333.134 75.6811 311.182 50.9732L311.202 50.9629Z" fill="#D6224D"/>
              <path d="M172.879 110.483C167.469 94.6499 143.32 96.4228 141.338 113.629C140.908 117.349 146.328 117.759 147.314 114.48C149.892 105.933 163.016 102.356 166.337 112.379C167.762 116.683 174.344 114.808 172.869 110.493L172.879 110.483Z" fill="#911D36"/>
              <path d="M285.197 112.471C281.662 96.0745 257.484 94.7423 253.529 111.559C252.67 115.197 258.001 116.294 259.369 113.168C262.923 105.011 276.37 103.146 278.498 113.517C279.416 117.974 286.164 116.95 285.207 112.471H285.197Z" fill="#911D36"/>
              <path d="M139.492 133.439C137.783 132.414 136.123 132.516 134.268 132.885C135.411 132.66 132.872 133.131 132.608 133.193C131.7 133.387 130.977 133.91 130.255 134.484C128.145 136.144 128.145 138.819 130.255 140.489C133.233 142.836 138.945 142.651 140.84 138.829C141.777 136.943 141.328 134.545 139.492 133.449V133.439Z" fill="#F7728F"/>
              <path d="M295.499 128.95C293.654 128.53 290.939 129.032 289.299 130.169C288 131.071 285.5 132.588 286.623 134.617C287.453 136.113 289.425 136.82 291.037 136.902C293.185 137.015 295.499 136.861 297.032 135.068C298.693 133.141 298.195 129.565 295.49 128.95H295.499Z" fill="#F7728F"/>
              <path d="M252.972 149.682C249.144 170.956 233.169 186.912 214.01 186.912C194.851 186.912 178.865 170.956 175.037 149.682C192.194 133.551 234.389 130.631 252.972 149.682Z" fill="#911D36"/>
              <path d="M239.213 169.296C233.589 177.699 224.244 183.08 214.01 183.08C203.776 183.08 194.431 177.699 188.806 169.296C196.579 167.113 205.133 165.904 214.019 165.904C222.906 165.904 231.44 167.113 239.213 169.296Z" fill="#F9988D"/>
              <path d="M202.399 177.556C208.268 173.447 215.719 170.598 222.037 169.101C219.39 168.876 216.705 168.763 214 168.763C207.008 168.763 200.172 169.522 193.63 171.008C196.14 173.785 199.118 175.998 202.389 177.556H202.399Z" fill="#FFB6AD"/>
            </g>
          </svg>
          <div style="max-width: 560px; margin: auto;">
            <p class="m-0px fw-bold fs-24px c-brown-new align-center mt-16px mb-16px">World Hypertension Day!</p>
            <p class="c-brown-new">May 17 is World Hypertension Day. Thanks to you, there are now 
              <% if CountryConfig.current[:name] == "India" %>33,38,244<% end %>
              <% if CountryConfig.current[:name] == "Bangladesh" %>195045<% end %>
              <% if CountryConfig.current[:name] == "Ethiopia" %>23395<% end %>
              <% if CountryConfig.current[:name] == "Sri Lanka" %>7406<% end %>
              patients with hypertension managed in 
              <% if CountryConfig.current[:name] == "India" %>India<% end %><% if CountryConfig.current[:name] == "Bangladesh" %>Bangladesh<% end %><% if CountryConfig.current[:name] == "Ethiopia" %>Ethiopia<% end %><% if CountryConfig.current[:name] == "Sri Lanka" %>Sri Lanka<% end %>.
            </p>
            <p class="c-brown-new">Your hard work saves lives from heart attacks and strokes.</p>
            <p class="fw-bold fs-20px c-brown-new" style="transform: rotate(-0deg)">Thank you! ❤️</p>
          </div>
        </div>
      <% end %>
      <div class="mb-8px p-16px bgc-white bs-card">
        <h1 class="m-0px mb-16px fw-bold fs-24px c-black">
          <%= t("progress_tab.registrations_and_follow_ups_card.title") %>
        </h1>
        <div class="d-flex ai-center jc-space-between">
          <a class="f-1 d-flex fd-column ai-center jc-center td-none h-96px mr-10px p-12px bgc-blue-green-light bs-blue-green-light-button br-8px"
             href="#"
             onclick="goToPage('home-page', 'daily-report-page'); return false;">

            <div class="p-relative d-flex ai-center jc-center w-32px h-32px mb-8px bgc-white br-8px o-hidden">
              <div class="p-absolute t-0 l-0 w-100 h-6px bgc-blue-green"></div>
            </div>
            <p class="m-0px p-0px ta-center fw-medium fs-16px c-blue-green">
              <%= t("progress_tab.daily_report_title") %>
            </p>
          </a>
          <a class="f-1 d-flex fd-column ai-center jc-center td-none h-96px mr-4px ml-4px p-12px bgc-blue-light bs-blue-light-button br-8px" href="#" onclick="goToPage('home-page', 'monthly-report-page'); return false;">
            <div class="p-relative d-flex ai-center jc-center w-32px h-32px mb-8px bgc-white br-8px o-hidden">
              <div class="p-absolute t-0 l-0 w-100 h-6px bgc-blue"></div>
            </div>
            <p class="m-0px p-0px ta-center fw-medium fs-16px c-blue">
              <%= t("progress_tab.monthly_report_title") %>
            </p>
          </a>
          <a class="f-1 d-flex fd-column ai-center jc-center td-none h-96px mr-4px ml-4px p-12px bgc-navy-light bs-navy-light-button br-8px"
             href="#" onclick="goToPage('home-page', 'yearly-report-page'); return false;">
            <div class="p-relative d-flex ai-center jc-center w-32px h-32px mb-8px bgc-white br-8px o-hidden">
              <div class="p-absolute t-0 l-0 w-100 h-6px bgc-blue-new"></div>
            </div>
            <p class="m-0px p-0px ta-left fw-medium fs-16px c-navy">
              <%= t("progress_tab.yearly_report_title") %>
            </p>
          </a>
        </div>
      </div>
      <div class="mb-8px p-16px bgc-white bs-card">
        <h1 class="m-0px mb-4px fw-bold fs-24px c-black">
          <%= t("progress_tab.reports_card.title") %>
        </h1>
        <p class="m-0px mb-16px p-0px ta-left fw-normal fs-16px lh-150 c-grey-dark">
          <%= t("progress_tab.reports_card.subtitle", facility_name: current_facility.name) %>
        </p>
        <div class="d-flex ai-center jc-space-between">
          <a
            class="f-1 d-flex fd-column ai-center jc-center h-96px mr-8px p-12px td-none bgc-red-light bs-red-light-button br-8px"
            href="#"
            onclick="goToPage('home-page', 'hypertension-report'); return false;"
          >
            <div class="d-flex ai-center jc-center w-32px h-32px mb-8px bgc-white br-8px">
              <%= inline_file("graph-red.svg") %>
            </div>
            <p class="m-0px p-0px ta-left fw-medium fs-16px c-red">
              <%= t("progress_tab.hypertension_report_title") %>
            </p>
          </a>
          <a
            class="p-relative f-1 d-flex fd-column ai-center jc-center h-96px ml-8px p-12px td-none bgc-grey-light-new br-8px"
            href="#"
          >
            <div class="d-flex ai-center jc-center w-32px h-32px mb-8px bgc-white br-8px">
              <%= inline_file("graph-grey.svg") %>
            </div>
            <p class="m-0px p-0px ta-left fw-medium fs-16px c-grey-dark">
              <%= t("progress_tab.diabetes_report_title") %>
            </p>
            <p class="p-absolute b-0 l-0 w-100 fw-regular fs-12px c-grey ta-center bs-border-box">
              <%= t("progress_tab.coming_soon") %>
            </p>
          </a>
        </div>
      </div>
      <% if current_facility_group.region.feature_enabled?(:drug_stocks) && controller_name == "user_analytics" %>
        <div class="mb-8px p-16px bgc-white bs-card">
        <div class="d-flex ai-flex-start jc-space-between mb-16px">
          <div class="f-1">
            <h1 class="m-0px mb-8px fw-bold fs-24px">
              <%= t("progress_tab.drug_stock_report_card.title") %>
            </h1>
            <p class="m-0px p-0px ta-left fw-normal fs-16px lh-150 c-grey-dark">
              <%= t("progress_tab.drug_stock_report_card.subtitle", facility_name: current_facility.name, period: @period.to_s(:mon_year)) %>
            </p>
          </div>
          <div class="w-76px h-76px">
            <%= inline_svg("drug-stock.svg") %>
          </div>
        </div>
        <%= link_to t("progress_tab.drug_stock_report_card.button_title"), new_webview_drug_stock_url(user_id: current_user.id,
          access_token: current_user.access_token,
          facility_id: current_facility.id),
          style: "font-weight: 500;",
          class: "d-block p-16px ta-center fs-16px fw-regular tt-uppercase ls-1_25px c-blue b-none bgc-blue-light bs-secondary-button br-2px"
        %>
      </div>
      <% end %>
      <div class="mb-8px pt-16px pb-16px bgc-white bs-card">
        <h1 class="m-0px mb-24px pr-16px pl-16px fw-bold fs-24px">
          <%= t("progress_tab.achievements_card.title") %>
        </h1>
        <div class="mb-24px">
          <p class="m-0px mb-8px p-0px pl-16px ta-left fw-normal fs-16px c-black">
            <% visit_or_visits = t("progress_tab.achievements_card.visit", count: @service.total_follow_ups)%>
            <span class="fw-bold"><%= number_with_delimiter(@service.total_follow_ups) %></span> <%= t("progress_tab.achievements_card.follow_up_visits_section_title", visit_or_visits: visit_or_visits) %>
          </p>
          <div class="d-flex ai-center jc-space-between pt-4px pb-4px pr-16px pl-16px">
            <% follow_up_badge_goals = create_badge_array(@service.total_follow_ups) %>
            <% follow_up_badge_goals.each do |badge| %>
              <%= render partial: "api/v3/analytics/user_analytics/achievement_badge",
                locals: { value: badge["goal_value"],
                          is_goal_completed: badge["is_goal_completed"],
                          text_color: "c-lavander",
                          circle_color: "bgc-lavander",
                          badge_color: "bgc-lavander-light",
                          icon_completed: "refresh-arrow-white.svg",
                          icon_goal: "refresh-arrow-grey.svg"
              } %>
            <% end %>
          </div>
        </div>
        <div class="mb-24px">
          <p class="m-0px mb-8px p-0px pl-16px ta-left fw-normal fs-16px c-black">
            <% call_or_calls = t("progress_tab.achievements_card.call", count: @service.total_overdue_calls)%>
            <span class="fw-bold"><%= number_with_delimiter(@service.total_overdue_calls) %></span> <%= t("progress_tab.achievements_card.overdue_patients_section_title", call_or_calls: call_or_calls) %>
          </p>
          <div class="d-flex ai-center jc-space-between pt-4px pb-4px pr-16px pl-16px">
            <% overdue_call_badge_goals = create_badge_array(@service.total_overdue_calls) %>
            <% overdue_call_badge_goals.each do |badge| %>
              <%= render partial: "api/v3/analytics/user_analytics/achievement_badge",
                locals: { value: badge["goal_value"],
                          is_goal_completed: badge["is_goal_completed"],
                          text_color: "c-baby-blue",
                          circle_color: "bgc-baby-blue",
                          badge_color: "bgc-baby-blue-light",
                          icon_completed: "phone-white.svg",
                          icon_goal: "phone-grey.svg"
              } %>
            <% end %>
          </div>
        </div>
        <div>
          <p class="m-0px mb-8px p-0px pl-16px ta-left fw-normal fs-16px c-black">
            <span class="fw-bold"><%= number_with_delimiter(@service.total_registrations) %></span>
            <% patient_or_patients = t("progress_tab.achievements_card.patient", count: @service.total_registrations)%>
            <%= t("progress_tab.achievements_card.registered_patients_title", patient_or_patients: patient_or_patients) %>
          </p>
          <div class="d-flex ai-center jc-space-between pt-4px pb-4px pr-16px pl-16px">
            <% registered_patients_badge_goals = create_badge_array(@service.total_registrations) %>
            <% registered_patients_badge_goals.each do |badge| %>
              <%= render partial: "api/v3/analytics/user_analytics/achievement_badge",
                locals: { value: badge["goal_value"],
                          is_goal_completed: badge["is_goal_completed"],
                          text_color: "c-yellow-dark-new",
                          circle_color: "bgc-yellow-new",
                          badge_color: "bgc-yellow-light",
                          icon_completed: "face-yellow-darkest.svg",
                          icon_goal: "face-grey.svg"
              } %>
            <% end %>
          </div>
        </div>
      </div>
    </div>

    <%= render(ProgressTab::DailyProgressComponentV2.new(
      service: @service,
      current_user: @current_user,
      title: t("progress_tab.daily_report_title"),
      subtitle: t("progress_tab.last_updated_at",
                   date: display_date(@service.last_updated_at),
                   time:  display_time(@service.last_updated_at))
       ))
    %>

    <%= render(ProgressTab::MonthlyReportComponentV2.new(
      service: @service,
      current_user: @current_user,
      title: t("progress_tab.monthly_report_title"),
      subtitle: t("progress_tab.last_updated_at",
                  date: display_date(@service.last_updated_at),
                  time:  display_time(@service.last_updated_at))
    ))
    %>

    <%= render(ProgressTab::YearlyReportComponentV2.new(
      @service,
      @current_user,
      title: t("progress_tab.yearly_report_title"),
      subtitle: t("progress_tab.last_updated_at",
                  date: display_date(@service.last_updated_at),
                  time:  display_time(@service.last_updated_at))
    ))
    %>

    <%= render(ProgressTab::Hypertension::DiagnosisReportComponent.new(
      hypertension_reports_data: @service.hypertension_reports_data,
      cohort_data: @user_analytics.statistics.dig(:cohorts),
      last_updated_at: @user_analytics.last_updated_at
    ))
    %>
<!--  TODO:  The partial "api/v3/analytics/user_analytics/diagnosis_report" need to be removed once the Diabetes reports are released -->
  </body>
  <%= inline_js("standalone/progress_tab.js") %>
</html>
