<!DOCTYPE html>
<html lang="en" style="scroll-behavior: auto;">
  <head>
    <meta charset="utf-8">
    <meta name="HandheldFriendly" content="True">
    <meta name="MobileOptimized" content="320">
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,minimum-scale=1,shrink-to-fit=no"/>
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap" rel="stylesheet">
    <title>
      <%= raw t("analytics.page_title") %>
    </title>
    <%= inline_stylesheet("user_analytics.css") %>
  </head>
  <body class="bgc-grey-lightest">
    <div id="progress-start">
      <div class="mb-8px">
        <p>
          <%= raw t("analytics.updated", time: @service.last_updated_at ? l(@service.last_updated_at) : "") %>
        </p>
        <%= content_tag :div,
                         id: "statistics",
                         data: { statistics: @service.daily_statistics },
                         style: "display: none" do %>
        <% end %>
        <%= render(Reports::DailyProgressComponent.new(@service)) %>
        <div class="mb-8px p-16px bgc-white bs-card">
          <div class="d-flex ai-center">
            <h3 class="m-0px mr-4px fw-bold fs-24px c-black">
              <%= raw t("analytics.registered_patients") %>
            </h3>
            <a
              class="d-flex ai-center w-32px h-32px"
              href="#"
              onclick="openWindow('progress-help-registered', 'progress-start'); return false"
            >
              <%= inline_file("help-circle.svg") %>
            </a>
          </div>
          <% registrations_table_name = 'registrations' %>
          <%= render partial: 'api/v3/analytics/user_analytics/gender_filter',
                    locals: { data_table_name: registrations_table_name,
                              is_diabetes_enabled: current_facility.diabetes_enabled? } %>
          <% @service.dimension_combinations_for(:registrations).each do |dimension| %>
            <%= render(Reports::MonthlyProgressComponent.new(dimension, service: @service)) %>
          <% end %>
        </div>
        <div class="mb-8px p-16px bgc-white bs-card">
          <div class="d-flex ai-center">
            <h3 class="m-0px mr-4px fw-bold fs-24px c-black">
              <%= raw t("analytics.follow_up_patients") %>
            </h3>
            <a
              class="d-flex ai-center w-32px h-32px"
              href="#"
              onclick="openWindow('progress-help-followup', 'progress-start'); return false"
            >
              <%= inline_file("help-circle.svg") %>
            </a>
          </div>
          <% follow_ups_table_name = 'follow_ups' %>
          <%= render partial: 'api/v3/analytics/user_analytics/gender_filter',
                    locals: { data_table_name: follow_ups_table_name,
                              is_diabetes_enabled: current_facility.diabetes_enabled? } %>
          <% @service.dimension_combinations_for(:follow_ups).each do |dimension| %>
            <%= render(Reports::MonthlyProgressComponent.new(dimension, service: @service)) %>
          <% end %>
        </div>
        <div class="mb-8px p-16px bgc-white bs-card">
          <h1 class="m-0px mb-4px fw-bold fs-24px c-black">
            <%= t("progress_tab.reports_card.title") %>
          </h1>
          <p class="m-0px mb-16px p-0px ta-left fw-normal fs-16px lh-150 c-grey-dark">
            <%= t("progress_tab.reports_card.subtitle", facility_name: current_facility.name) %>
          </p>
          <div class="d-flex ai-center jc-space-between">
            <a
              class="f-1 d-flex fd-column ai-center jc-center h-96px mr-8px p-12px td-none bgc-red-light br-8px"
              href="#"
              onclick="goToPage('home-page', 'hypertension-report'); return false;"
            >
              <div class="d-flex ai-center jc-center w-32px h-32px mb-8px bgc-white br-8px">
                <%= inline_file("graph-red.svg") %>
              </div>
              <p class="m-0px p-0px ta-left fw-medium fs-16px c-red">
                <%= t("progress_tab.hypertension_report_title") %>
              </p>
            </a>
            <a
              class="p-relative f-1 d-flex fd-column ai-center jc-center h-96px ml-8px p-12px td-none bgc-grey-light-new br-8px"
              href="#"
              onclick="goToPage('home-page', 'diabetes-report'); return false;"
            >
              <div class="d-flex ai-center jc-center w-32px h-32px mb-8px bgc-white br-8px">
                <%= inline_file("graph-grey.svg") %>
              </div>
              <p class="m-0px p-0px ta-left fw-medium fs-16px c-grey-dark">
                <%= t("progress_tab.diabetes_report_title") %>
              </p>
              <p class="p-absolute b-0 l-0 w-100 fw-regular fs-12px c-grey ta-center bs-border-box">
                Coming soon
              </p>
            </a>
          </div>
        </div>
        <% if current_facility_group.region.feature_enabled?(:drug_stocks) && controller_name == "user_analytics" %>
          <div class="mb-16px p-16px bgc-white br-4px bs-card">
            <div class="d-flex ai-flex-start jc-space-between mb-16px">
              <div class="f-1">
                <h3 class="m-0px mb-8px fw-bold fs-24px">
                  Drug stock report
                </h3>
                <p class="m-0px p-0px ta-left fw-normal fs-16px lh-150 c-grey-dark">
                  Submit <%= current_facility.name %>'s drug stock report for end of <%= @period.to_s(:mon_year) %>
                </p>
              </div>
              <div>
                <%= inline_svg("drug-stock.svg") %>
              </div>
            </div>
            <%= link_to "Enter drug stock", new_webview_drug_stock_url(user_id: current_user.id,
              access_token: current_user.access_token,
              facility_id: current_facility.id),
              style: "font-weight: 500;",
              class: "d-block p-16px ta-center fs-16px fw-regular tt-uppercase ls-1_25px c-blue b-none bb-blue-mid br-1px bgc-blue-light bs-secondary-button"
            %>
          </div>
        <% end %>
        <div class="mb-8px pt-16px pb-16px bgc-white bs-card">
          <h1 class="m-0px mb-24px pr-16px pl-16px fw-bold fs-24px">
            <%= t("progress_tab.achievements_card.title") %>
          </h1>
          <div class="mb-24px">
            <p class="m-0px mb-8px p-0px pl-16px ta-left fw-normal fs-16px c-black">
              <span class="fw-bold"><%= number_with_delimiter(@total_follow_ups) %></span> <%= t("progress_tab.achievements_card.follow_up_visits_section_title", visit_or_visits: "visit".pluralize(@total_follow_ups)) %>
            </p>
            <div class="d-flex ai-center jc-space-between pt-4px pb-4px pr-16px pl-16px">
              <% follow_up_badge_goals = create_badge_array(@total_follow_ups) %>
              <% follow_up_badge_goals.each do |badge| %>
                <%= render partial: "api/v3/analytics/user_analytics/achievement_badge",
                  locals: { value: badge["goal_value"],
                            is_goal_completed: badge["is_goal_completed"],
                            text_color: "c-lavander",
                            circle_color: "bgc-lavander",
                            badge_color: "bgc-lavander-light",
                            icon_completed: "refresh-arrow-white.svg",
                            icon_goal: "refresh-arrow-grey.svg"
                } %>
              <% end %>
            </div>
          </div>
          <div>
            <p class="m-0px mb-8px p-0px pl-16px ta-left fw-normal fs-16px c-black">
              <span class="fw-bold"><%= number_with_delimiter(@total_registrations) %></span> <%= t("progress_tab.achievements_card.registered_patients_title", patient_or_patients: "patient".pluralize(@total_registrations)) %>
            </p>
            <div class="d-flex ai-center jc-space-between pt-4px pb-4px pr-16px pl-16px">
              <% registered_patients_badge_goals = create_badge_array(@total_registrations) %>
              <% registered_patients_badge_goals.each do |badge| %>
                <%= render partial: "api/v3/analytics/user_analytics/achievement_badge",
                  locals: { value: badge["goal_value"],
                            is_goal_completed: badge["is_goal_completed"],
                            text_color: "c-yellow-dark-new",
                            circle_color: "bgc-yellow-new",
                            badge_color: "bgc-yellow-light",
                            icon_completed: "face-yellow-darkest.svg",
                            icon_goal: "face-grey.svg"
                } %>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div id="progress-help-registered" class="progress-body" style="display: none;">
      <div class="progress-contents">
        <a href="#" onclick="closeWindow('progress-help-registered', 'progress-start'); return false" class="help-back">
          <%= inline_svg('icon_back.svg') %>
        </a>
        <h2 style="padding-top: 80px; padding-left: 8px;">
          <%= raw t("analytics.definition") %>
        </h2>
        <div class="card">
          <h3 style="margin-bottom: 1em;">
            <%= raw t("analytics.registered_patients") %>
          </h3>
          <p class="desc" style="margin-bottom: 1em;">
            <%= raw t("analytics.registered_patients_desc") %>
          </p>
        </div>
      </div>
    </div>
    <div id="progress-help-followup" class="progress-body" style="display: none;">
      <div class="progress-contents">
        <a
          href="#"
          onclick="closeWindow('progress-help-followup', 'progress-start'); return false"
          class="help-back"
        >
          <%= inline_svg('icon_back.svg') %>
        </a>
        <h2 style="padding-top: 80px; padding-left: 8px;">
          <%= raw t("analytics.definition") %>
        </h2>
        <div class="card">
          <h3 style="margin-bottom: 1em;">
            <%= raw t("analytics.follow_up_patients") %>
          </h3>
          <p class="desc" style="margin-bottom: 1em;">
            <%= raw t("analytics.follow_up_patients_desc") %>
          </p>
        </div>
      </div>
    </div>
    <div id="progress-help-controlled" class="progress-body" style="display: none;">
      <div class="progress-contents">
        <a
          href="#"
          onclick="closeWindow('progress-help-controlled', 'progress-start'); return false"
          class="help-back"
        >
          <%= inline_svg('icon_back.svg') %>
        </a>
        <h2 style="padding-top: 80px; padding-left: 8px;">
          <%= raw t("analytics.definition") %>
        </h2>
        <div class="card">
          <h3 style="margin-bottom: 1em;">
            <%= raw t("analytics.hypertension_controlled") %>
          </h3>
          <p class="desc" style="margin-bottom: 1em;">
            <b>
              <%= raw t("analytics.numerator") %>
            </b>
            <br>
            <%= raw t("analytics.hypertension_controlled_numerator") %>
          </p>
          <p class="desc">
            <b>
              <%= raw t("analytics.denominator") %>
            </b>
            <br>
            <%= raw t("analytics.hypertension_controlled_denominator") %>
          </p>
        </div>
      </div>
    </div>
    <div id="progress-cohort" class="progress-body" style="display: none;">
      <div class="progress-contents">
        <a
          href="#"
          onclick="closeWindow('progress-cohort', 'progress-start'); return false"
          class="help-back"
        >
          <%= inline_svg('icon_back.svg') %>
        </a>
        <h2 style="padding-top: 80px; padding-left: 8px;">
          <%= raw t("analytics.hypertension_cohort_report") %>
        </h2>
        <p class="left">
          <%= raw t("analytics.hypertension_cohort_report_desc") %>
        </p>
        <div class="key">
          <p class="left" style="color: #007A31;">
            <span class="key-color green"></span> <%= raw t("analytics.patients_with_controlled_bp") %>
          </p>
          <p class="left" style="color: #FF3355;">
            <span class="key-color red"></span> <%= raw t("analytics.patients_with_uncontrolled_bp") %>
          </p>
          <p class="left" style="color: #6C737A;">
            <span class="key-color grey"></span> <%= raw t("analytics.patients_with_no_bp_measure") %>
          </p>
        </div>
        <% @user_analytics.statistics.dig(:cohorts).each do |cohort| %>
          <div class="card cohort">
            <h6>
              <%= cohort[:registered] %> <%= raw t("analytics.patient", count: cohort[:registered]) %>
              <%= raw t("analytics.registered_in") %> <%= cohort[:patients_registered] %>
            </h6>
            <div style="font-size: 16px; margin: 8px 0 12px 0;">
              <%= raw t("analytics.result_from_last_visit_in") %> <%= cohort[:results_in] %>
            </div>
            <table class="cohort-bars">
              <tr>
                <% if cohort[:registered].blank? %>
                  <td class="cohort-none">
                      <%= raw t("analytics.no_patients") %>
                  </td>
                <% else %>
                  <td class="cohort-nobp" style="width: <%= @user_analytics.cohort_no_bp(cohort) %>;">
                    <%= @user_analytics.cohort_no_bp(cohort) %>
                  </td>
                  <td class="cohort-uncontrolled" style="width: <%= @user_analytics.cohort_uncontrolled(cohort) %>;">
                    <%= @user_analytics.cohort_uncontrolled(cohort) %>
                  </td>
                  <td class="cohort-controlled" style="width: <%= @user_analytics.cohort_controlled(cohort) %>;">
                    <%= @user_analytics.cohort_controlled(cohort) %>
                  </td>
                <% end %>
              </tr>
            </table>
          </div>
        <% end %>
        <h3 style="padding-top: 40px; padding-left: 8px;">
           <%= raw t("analytics.notes") %>
        </h3>
        <ul class="footnotes">
          <li>
            <strong> <%= raw t("analytics.numerator") %>:</strong> <%= raw t("analytics.cohort_report_footnote_1") %>
          </li>
          <li>
            <strong> <%= raw t("analytics.denominator") %>:</strong> <%= raw t("analytics.cohort_report_footnote_2") %>
          </li>
          <li>
            <%= raw t("analytics.cohort_report_footnote_3") %>
          </li>
        </ul>
      </div>
    </div>
  </body>
  <%= inline_js("standalone/user_analytics.js") %>
</html>