<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="HandheldFriendly" content="True">
  <meta name="MobileOptimized" content="320">
  <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,minimum-scale=1,shrink-to-fit=no"/>
  <meta name="apple-mobile-web-app-capable" content="yes"/>
  <title>User Analytics</title>

  <%= inline_stylesheet('common_webview.css') %>
  <%= inline_stylesheet('user_analytics.css') %>
</head>

<body>
<div class="progress-contents">
  <div class="updated-date">Updated: <span><%= @statistics.dig(:metadata, :last_updated_at) %></span></div>

  <div class="card" style="min-height: 210px;">
    <!-- daily card switcher -->
    <div class="next-prev">
      <button onclick="nextSlide(+1)" class="button-next">
        <span><%= inline_svg('icon_arrow_back.svg') %></span>
      </button>
      <button onclick="nextSlide(-1)" class="button-prev">
        <span><%= inline_svg('icon_arrow_forward.svg') %></span>
      </button>
    </div>

    <!-- dump all statistics in a hidden div so that we can parse it in JS -->
    <%= content_tag :div, id: "statistics", data: { statistics: @statistics }, style: "display: none" do %>
    <% end %>

    <!-- daily stats view -->
    <div id="daily-stats-card">
      <div class="day count-empty" style="display: none">
        <h3 class="stat-day"></h3>
        <%= inline_svg('icon_sync_cloud.svg') %>
        <p>Tap "Sync" on the home screen for new data.</p>
      </div>

      <% @user_analytics.daily_period_list.each do |day_date| %>
        <div class="day">
          <h3 class="stat-day">
            <span class="num"><%= display_date(day_date) %></span>
          </h3>

          <div class="counts">
            <div class="count count-1">
              <strong>Registered</strong>
              <div class="big-number">
                <% daily_registration_count = @statistics.dig(:daily,
                                                              :grouped_by_date,
                                                              :registrations,
                                                              day_date) %>
                <%= zero_if_unavailable(daily_registration_count) %>
              </div>
              <%= "Patient".pluralize(daily_registration_count) %>
            </div>

            <div class="count count-2">
              <strong>Follow-up</strong>
              <div class="big-number">
                <% daily_follow_up_count = @statistics.dig(:daily,
                                                           :grouped_by_date,
                                                           :follow_ups,
                                                           day_date) %>
                <%= zero_if_unavailable(daily_follow_up_count) %>
              </div>
              <%= "Patient".pluralize(daily_follow_up_count) %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>

  <!-- monthly registered patients view -->
  <div class="card">
    <h3>Registered patients</h3>

    <% registrations_table_name = 'registrations' %>

    <%= render partial: 'gender_filter',
               locals: { data_table_name: registrations_table_name,
                         is_diabetes_enabled: @statistics.dig(:metadata, :is_diabetes_enabled) } %>

    <%= render partial: 'monthly_gender_table',
               locals: { resource: :registrations,
                         statistics: @statistics,
                         data_table_name: registrations_table_name,
                         monthly_period_list: @user_analytics.monthly_period_list,
                         is_diabetes_enabled: @statistics.dig(:metadata, :is_diabetes_enabled) } %>
  </div>

  <!-- monthly follow-up patients view -->
  <div class="card">
    <h3>Follow-up<%= @statistics.dig(:metadata, :is_diabetes_enabled) ? ' ' : ' hypertension ' %>patients</h3>

    <% follow_ups_table_name = 'follow_ups' %>

    <%= render partial: 'gender_filter',
               locals: { data_table_name: follow_ups_table_name,
                         is_diabetes_enabled: @statistics.dig(:metadata, :is_diabetes_enabled) } %>

    <%= render partial: 'monthly_gender_table',
               locals: { resource: :follow_ups,
                         statistics: @statistics,
                         data_table_name: follow_ups_table_name,
                         monthly_period_list: @user_analytics.monthly_period_list,
                         is_diabetes_enabled: @statistics.dig(:metadata, :is_diabetes_enabled) } %>
  </div>

  <!-- monthly hypertension control view -->
  <div class="card">
    <h3>Hypertension control</h3>
    <p class="desc">
      How many patients with hypertension had BP below 140/90 at their last follow-up visit in the month?
    </p>

    <table class="progress-table">
      <% @user_analytics.monthly_period_list.each do |month_date| %>
        <tr>
          <td class="row-label no-padding"><%= month_date.strftime("%B") %></td>
          <td><span class="percent">
                  <%=
                    @user_analytics.display_percentage(@statistics.dig(:monthly,
                                                                       :grouped_by_date,
                                                                       :hypertension,
                                                                       :controlled_visits,
                                                                       month_date),
                                                       @statistics.dig(:monthly,
                                                                       :grouped_by_date,
                                                                       :hypertension,
                                                                       :follow_ups,
                                                                       month_date))
                  %>
                </span></td>
          <td>
            <%= zero_if_unavailable(@statistics.dig(:monthly,
                                                    :grouped_by_date,
                                                    :hypertension,
                                                    :controlled_visits,
                                                    month_date)) %>
            of
            <%= zero_if_unavailable(@statistics.dig(:monthly,
                                                    :grouped_by_date,
                                                    :hypertension,
                                                    :follow_ups,
                                                    month_date)) %>
          </td>
        </tr>
      <% end %>
    </table>
  </div>

  <!-- all trophies view -->
  <!-- do not show achievements if the only locked trophy available is the first one -->
  <% unless @statistics.dig(:trophies, :locked_trophy_value) == UserAnalyticsPresenter::TROPHY_MILESTONES.first %>

    <div class="trophies">
      <h4>Achievements</h4>
      <% @statistics.dig(:trophies, :unlocked_trophy_values).sort.each do |trophy| %>
        <div class="trophy trophy-<%= trophy %>">
          <%= inline_svg('ribbon.svg') %>
          <em></em>
          <span>
              <%= number_to_human(trophy, :format => '%n%u', :units => { thousand: 'K', million: 'M' }) %>
            </span>
          <div><%= trophy %> follow-up<br>hypertension patients</div>
        </div>
      <% end %>

      <div class="trophy trophy-<%= @statistics.dig(:trophies, :locked_trophy_value) %> trophy-upcoming">
        <%= inline_svg('ribbon.svg') %>
        <em></em>
        <span>
            <%= inline_svg('icon_lock.svg') %>
          </span>
        <div><%= @statistics.dig(:trophies, :locked_trophy_value) %> follow-up<br>hypertension patients</div>
      </div>
    </div>
  <% end %>

  <!-- footer -->
  <footer>
    <h4 style="padding-top: 60px;">Notes</h4>
    <p>Data is for all activity at <%= @current_facility.name %>. If data appears out of date, tap the "Sync
      pending" link on the home screen.</p>
    <p>A follow-up patient is only counted for one visit each month. If a patient follows up multiple times in a month,
      he or she is
      only counted once.</p>
    <h4 style="padding-top: 60px;">Thank you</h4>
    <p>Thank you for all of your hard work treating patients with hypertension. Your work saves lives from heart
      attacks
      and strokes.</p>
    <div style="height: 100px;"></div>
  </footer>
</div>
</body>

<!-- always insert JS here -->
<%= inline_js('user_analytics.js') %>
</html>
