<!DOCTYPE html>
<html lang="en" style="scroll-behavior: auto;">
<head>
  <meta charset="utf-8">
  <meta name="HandheldFriendly" content="True">
  <meta name="MobileOptimized" content="320">
  <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,minimum-scale=1,shrink-to-fit=no"/>
  <meta name="apple-mobile-web-app-capable" content="yes"/>
  <title>User Analytics</title>

  <%= inline_stylesheet('common_webview.css') %>
  <%= inline_stylesheet('user_analytics.css') %>

     <script type="text/javascript">// Hides and shows each page of Progress

        function open_window(id) {
           var element = document.getElementById(id);
           element.style.display = 'block';
           document.body.scrollTop = 0; // For Safari
           document.documentElement.scrollTop = 0; // For Chrome, Firefox, IE and Opera
        }

        function close_window(id) {
           var element = document.getElementById(id);
           element.style.display = 'none';
        }
     </script>
</head>

<body id="progress">
<div id="progress-start" class="progress-body">
  <div class="progress-contents">

  <div class="updated-date">
    Updated: <span><%= @user_analytics.last_updated_at %></span>
  </div>

  <div class="card" style="min-height: 210px;">
    <!-- daily card switcher -->
    <div class="next-prev">
      <button onclick="nextSlide(+1)" class="button-next">
        <span><%= inline_svg('icon_arrow_back.svg') %></span>
      </button>
      <button onclick="nextSlide(-1)" class="button-prev">
        <span><%= inline_svg('icon_arrow_forward.svg') %></span>
      </button>
    </div>

    <!-- dump all statistics in a hidden div so that we can parse it in JS -->
    <%= content_tag :div,
                    id: "statistics",
                    data: { statistics: @user_analytics.statistics },
                    style: "display: none" do %>
    <% end %>

    <!-- daily stats view -->
    <div id="daily-stats-card">
      <div class="day count-empty" style="display: none">
        <h3 class="stat-day"></h3>
        <%= inline_svg('icon_sync_cloud.svg') %>
        <p>Tap "Sync" on the home screen for new data.</p>
      </div>

      <% @user_analytics.daily_period_list.each do |day_date| %>
        <div class="day">
          <h3 class="stat-day">
            <span class="num"><%= display_date(day_date) %></span>
          </h3>

          <div class="counts">
            <div class="count count-1">
              <strong>Registered</strong>
              <div class="big-number">
                <%= @user_analytics.daily_stats_by_date(:registrations, day_date) %>
              </div>
              <%= "Patient".pluralize(@user_analytics.daily_stats_by_date(:registrations, day_date)) %>
            </div>

            <div class="count count-2">
              <strong>Follow-up</strong>
              <div class="big-number">
                <%= @user_analytics.daily_stats_by_date(:follow_ups, day_date) %>
              </div>
              <%= "Patient".pluralize(@user_analytics.daily_stats_by_date(:follow_ups, day_date)) %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>

  <!-- monthly registered patients view -->
  <div class="card">
    <h3>Registered patients</h3>

    <% registrations_table_name = 'registrations' %>

    <%= render partial: 'gender_filter',
               locals: { data_table_name: registrations_table_name,
                         is_diabetes_enabled: @user_analytics.diabetes_enabled? } %>

    <%= render partial: 'monthly_gender_table',
               locals: { stat: :registrations,
                         user_analytics: @user_analytics,
                         data_table_name: registrations_table_name } %>
  </div>

  <!-- monthly follow-up patients view -->
  <div class="card">
    <h3>Follow-up patients</h3>

    <% follow_ups_table_name = 'follow_ups' %>

    <%= render partial: 'gender_filter',
               locals: { data_table_name: follow_ups_table_name,
                         is_diabetes_enabled: @user_analytics.diabetes_enabled? } %>

    <%= render partial: 'monthly_gender_table',
               locals: { stat: :follow_ups,
                         user_analytics: @user_analytics,
                         data_table_name: follow_ups_table_name } %>
  </div>

  <!-- monthly hypertension control view -->
  <div class="card">
    <h3>Patients with hypertension controlled</h3>
    <p class="desc">
      Hypertension patients with BP &lt;140/90 at their most recent visit in the last 3 months
    </p>

    <p class="desc control-desc">
        <strong><%= @user_analytics.monthly_htn_control_last_period %></strong>
        <br><%= @user_analytics.monthly_htn_control_last_period_patient_counts %>
        <br><strong class="green"><%= @user_analytics.monthly_htn_control_last_control_rate %>%</strong>
    </p>

    <table class="bar-chart">
        <tbody>
            <tr>
                <% @user_analytics.htn_control_monthly_period_list.each do |month_date| %>
                  <% control_rate = @user_analytics.monthly_htn_control_rate(month_date) %>
                  <td class="bar-row">
                    <div class="bar-value"><span><%= control_rate %>%</span></div>
                    <div style="height: <%= control_rate * 2 %>px;" class="bar"><span></span></div>
                  </td>
                <% end %>
            </tr>
        </tbody>
    </table>
    <p class="center">Last 12 months</p>
  </div>

  <div class="card">
     <a href="#"  onclick="open_window('progress-cohort'); return false" class="nav-next">Cohort report</a>
  </div>

  <!-- all trophies view -->
  <% if @user_analytics.achievements? %>
    <div class="trophies">
      <h4>Achievements</h4>
      <% @user_analytics.unlocked_trophies.sort.each do |trophy| %>
        <div class="trophy trophy-<%= trophy %>">
          <%= inline_svg('ribbon.svg') %>
          <em></em>
          <span>
              <%= number_to_human(trophy, :format => '%n%u', :units => { thousand: 'K', million: 'M' }) %>
            </span>
          <div><%= trophy %> follow-up<br>hypertension patients</div>
        </div>
      <% end %>

      <div class="trophy trophy-<%= @user_analytics.locked_trophy %> trophy-upcoming">
        <%= inline_svg('ribbon.svg') %>
        <em></em>
        <span>
            <%= inline_svg('icon_lock.svg') %>
          </span>
        <div><%= @user_analytics.locked_trophy %> follow-up<br>hypertension patients</div>
      </div>
    </div>
  <% end %>

  <!-- footer -->
  <footer>
    <h4 style="padding-top: 60px;">Notes</h4>
    <p>Data is for all activity at <%= @current_facility.name %>. If data appears out of date, tap the "Sync
      pending" link on the home screen.</p>
    <p>A follow-up patient is only counted for one visit each month. If a patient follows up multiple times in a month,
      he or she is
      only counted once.</p>
    <h4 style="padding-top: 60px;">Thank you</h4>
    <p>Thank you for all of your hard work treating patients with hypertension. Your work saves lives from heart
      attacks
      and strokes.</p>
    <div style="height: 100px;"></div>
  </footer>
  </div>
</div>

<div id="progress-control" class="progress-body" style="display: none; padding-bottom: 1200px;">
    <div class="progress-contents">
        <a href="#" onclick="close_window('progress-cohort'); return false" class="help-back">
            <%= inline_svg('icon_back.svg') %>
        </a>

        <h2 style="padding-top: 80px; padding-left: 8px;">Hypertension controlled</h2>
        <p>How is "Patients with controlled hypertension" calculated?</p>
        <p>Numerator: Hypertension patients with BP &lt;140/90 at their most recent visit in the last 3 months</p>

        <p>Denominator: All hypertension patients registered &gt; 3 months prior.</p>

    </div>
</div>

<div id="progress-cohort" class="progress-body" style="display: none; padding-bottom: 1200px;">
    <div class="progress-contents">
        <a href="#" onclick="close_window('progress-cohort'); return false" class="help-back">
            <%= inline_svg('icon_back.svg') %>
        </a>

        <h2 style="padding-top: 80px; padding-left: 8px;">Hypertension cohort report</h2>
        <p class="left">Cohort reports show the outcome for new hypertension patients in the months after registration.</p>
        <div class="key">
            <p class="left"><span class="key-color green"></span> Visited with BP &lt;140/90</p>
            <p class="left"><span class="key-color red"></span> Visited with BP &ge;140/90</p>
            <p class="left"><span class="key-color grey"></span> Did not have a BP measure</p>
        </div>

        <% @user_analytics.cohorts.each do |cohort| %>
          <div class="card cohort">
              <h6><%= cohort[:registered] %> patients registered in <%= cohort[:patients_registered] %></h6>
              <p>Result from last visit in <%= cohort[:results_in] %></p>
              <div class="cohort-bars">
                  <div class="cohort-controlled" style="width: <%= @user_analytics.cohort_controlled(cohort) %>;">
                    <%= @user_analytics.cohort_controlled(cohort) %>
                  </div>
                  <div class="cohort-uncontrolled" style="width: <%= @user_analytics.cohort_uncontrolled(cohort) %>;">
                    <%= @user_analytics.cohort_uncontrolled(cohort) %>
                  </div>
                  <div class="cohort-nobp" style="width: calc(<%= @user_analytics.cohort_no_bp(cohort) %> - 1%);">
                    <%= @user_analytics.cohort_no_bp(cohort) %>
                  </div>
              </div>
          </div>
        <% end %>

        <h3 style="padding-top: 40px; padding-left: 8px;">Notes</h3>
        <ul class="footnotes">
            <li><strong>Numerator:</strong> Latest follow-up visit at any facility in quarter after registration.</li>
            <li><strong>Denominator:</strong> All HTN patients assigned to at CHC Buccho, registered in the quarter.</li>
            <li>If a patient has multiple visits, their last BP is used to calculate BP control.</li>
        </ul>
    </div>
</div>
</body>

<!-- always insert JS here -->
<%= inline_js('user_analytics.js') %>
</html>
