<!DOCTYPE html>
<html lang="en" style="scroll-behavior: auto;">
  <head>
    <meta charset="utf-8">
    <meta name="HandheldFriendly" content="True">
    <meta name="MobileOptimized" content="320">
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,minimum-scale=1,shrink-to-fit=no"/>
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <title>
      <%= raw t("analytics.page_title") %>
    </title>
    <%= inline_stylesheet("user_analytics.css") %>
  </head>

  <body id="progress">
    <div id="progress-start" class="progress-body">
      <div class="progress-contents">
        <p class="updated-date">
          <span>
            <%= raw t("analytics.updated", time: @service.last_updated_at ? l(@service.last_updated_at) : "") %>
          </span>
        </p>

        <%= content_tag :div,
                         id: "statistics",
                         data: { statistics: @service.daily_statistics },
                         style: "display: none" do %>
         <% end %>
        <%= render(Reports::DailyProgressComponent.new(@service)) %>

        <div class="card">
          <a href="#" onclick="openWindow('progress-help-registered', 'progress-start'); return false" class="info">
            <span>?</span>
          </a>
          <h3>
            <%= raw t("analytics.registered_patients") %>
          </h3>
          <% registrations_table_name = 'registrations' %>
          <%= render partial: 'api/v3/analytics/user_analytics/gender_filter',
                    locals: { data_table_name: registrations_table_name,
                              is_diabetes_enabled: current_facility.diabetes_enabled? } %>
          <% @service.dimension_combinations_for(:registrations).each do |dimension| %>
            <%= render(Reports::MonthlyProgressComponent.new(dimension, service: @service)) %>
          <% end %>
        </div>

        <div class="card">
          <a href="#" onclick="openWindow('progress-help-followup', 'progress-start'); return false" class="info">
            <span>?</span>
          </a>
          <h3>
            <%= raw t("analytics.follow_up_patients") %>
          </h3>
          <% follow_ups_table_name = 'follow_ups' %>
          <%= render partial: 'api/v3/analytics/user_analytics/gender_filter',
                    locals: { data_table_name: follow_ups_table_name,
                              is_diabetes_enabled: current_facility.diabetes_enabled? } %>
          <% @service.dimension_combinations_for(:follow_ups).each do |dimension| %>
            <%= render(Reports::MonthlyProgressComponent.new(dimension, service: @service)) %>
          <% end %>
        </div>

        <% if current_facility_group.region.feature_enabled?(:drug_stocks) && controller_name == "user_analytics" %>
          <div class="mb-16px p-16px bgc-white br-4px bs-card">
            <div class="d-flex ai-flex-start jc-space-between mb-16px">
              <div class="f-1">
                <h3 class="m-0px mb-8px fw-bold fs-24px">
                  Drug stock report
                </h3>
                <p class="m-0px p-0px ta-left fw-normal fs-16px lh-150 c-grey-dark">
                  Submit <%= current_facility.name %>'s drug stock report for end of <%= @period.to_s(:mon_year) %>
                </p>
              </div>
              <div>
                <%= inline_svg("drug-stock.svg") %>
              </div>
            </div>
            <%= link_to "Enter drug stock", new_webview_drug_stock_url(user_id: current_user.id,
              access_token: current_user.access_token,
              facility_id: current_facility.id),
              style: "font-weight: 500;",
              class: "d-block p-16px ta-center fs-16px fw-regular tt-uppercase ls-1_25px c-blue b-none bb-blue-mid br-1px bgc-blue-light bs-secondary-button"
            %>
          </div>
        <% end %>

        <%= render(Reports::ProgressControlComponent.new(@service)) %>

        <div class="card">
          <a href="#" onclick="openWindow('progress-cohort', 'progress-start'); return false" class="nav-next">
            Cohort report
          </a>
        </div>

        <% if @achievements.show? %>
          <div class="trophies">
            <h4>
              <%= raw t("analytics.achievements") %>
            </h4>
            <% @achievements.unlocked_trophies.sort.each do |trophy| %>
              <div class="trophy trophy-<%= trophy %>">
                <%= inline_svg('ribbon.svg') %>
                <em></em>
                <span>
                    <%= number_to_human(trophy, :format => '%n%u', :units => { thousand: 'K', million: 'M' }) %>
                  </span>
                <div>
                  <%= trophy %> <%= raw t("analytics.follow_up") %>
                  <br>
                  <%= raw t("analytics.hypertension_patients") %>
                </div>
              </div>
            <% end %>
            <div class="trophy trophy-<%= @achievements.locked_trophy %> trophy-upcoming">
              <%= inline_svg('ribbon.svg') %>
              <em></em>
              <span>
                  <%= inline_svg('icon_lock.svg') %>
                </span>
              <div>
                <%= @achievements.locked_trophy %> <%= raw t("analytics.follow_up") %>
                <br>
                <%= raw t("analytics.hypertension_patients") %>
              </div>
            </div>
          </div>
        <% end %>
        <footer>
          <h4 style="padding-top: 60px;">
            <%= raw t("analytics.notes") %>
          </h4>
          <p>
            <%= raw t("analytics.footer_note_1", facility_name: @current_facility.name) %>
          </p>
          <h4 style="padding-top: 60px;">
            <%= raw t("analytics.thank_you") %>
          </h4>
          <p>
            <%= raw t("analytics.thank_you_note") %>
          </p>
          <div style="height: 100px;"></div>
        </footer>
      </div>
    </div>

    <div id="progress-help-registered" class="progress-body" style="display: none;">
      <div class="progress-contents">
        <a href="#" onclick="closeWindow('progress-help-registered', 'progress-start'); return false" class="help-back">
          <%= inline_svg('icon_back.svg') %>
        </a>
        <h2 style="padding-top: 80px; padding-left: 8px;">
          <%= raw t("analytics.definition") %>
        </h2>
        <div class="card">
          <h3 style="margin-bottom: 1em;">
            <%= raw t("analytics.registered_patients") %>
          </h3>
          <p class="desc" style="margin-bottom: 1em;">
            <%= raw t("analytics.registered_patients_desc") %>
          </p>
        </div>
      </div>
    </div>
    <div id="progress-help-followup" class="progress-body" style="display: none;">
      <div class="progress-contents">
        <a
          href="#"
          onclick="closeWindow('progress-help-followup', 'progress-start'); return false"
          class="help-back"
        >
          <%= inline_svg('icon_back.svg') %>
        </a>
        <h2 style="padding-top: 80px; padding-left: 8px;">
          <%= raw t("analytics.definition") %>
        </h2>
        <div class="card">
          <h3 style="margin-bottom: 1em;">
            <%= raw t("analytics.follow_up_patients") %>
          </h3>
          <p class="desc" style="margin-bottom: 1em;">
            <%= raw t("analytics.follow_up_patients_desc") %>
          </p>
        </div>
      </div>
    </div>
    <div id="progress-help-controlled" class="progress-body" style="display: none;">
      <div class="progress-contents">
        <a
          href="#"
          onclick="closeWindow('progress-help-controlled', 'progress-start'); return false"
          class="help-back"
        >
          <%= inline_svg('icon_back.svg') %>
        </a>
        <h2 style="padding-top: 80px; padding-left: 8px;">
          <%= raw t("analytics.definition") %>
        </h2>
        <div class="card">
          <h3 style="margin-bottom: 1em;">
            <%= raw t("analytics.hypertension_controlled") %>
          </h3>
          <p class="desc" style="margin-bottom: 1em;">
            <b>
              <%= raw t("analytics.numerator") %>
            </b>
            <br>
            <%= raw t("analytics.hypertension_controlled_numerator") %>
          </p>
          <p class="desc">
            <b>
              <%= raw t("analytics.denominator") %>
            </b>
            <br>
            <%= raw t("analytics.hypertension_controlled_denominator") %>
          </p>
        </div>
      </div>
    </div>
    <div id="progress-cohort" class="progress-body" style="display: none;">
      <div class="progress-contents">
        <a
          href="#"
          onclick="closeWindow('progress-cohort', 'progress-start'); return false"
          class="help-back"
        >
          <%= inline_svg('icon_back.svg') %>
        </a>
        <h2 style="padding-top: 80px; padding-left: 8px;">
          <%= raw t("analytics.hypertension_cohort_report") %>
        </h2>
        <p class="left">
          <%= raw t("analytics.hypertension_cohort_report_desc") %>
        </p>
        <div class="key">
          <p class="left" style="color: #007A31;">
            <span class="key-color green"></span> <%= raw t("analytics.patients_with_controlled_bp") %>
          </p>
          <p class="left" style="color: #FF3355;">
            <span class="key-color red"></span> <%= raw t("analytics.patients_with_uncontrolled_bp") %>
          </p>
          <p class="left" style="color: #6C737A;">
            <span class="key-color grey"></span> <%= raw t("analytics.patients_with_no_bp_measure") %>
          </p>
        </div>
        <% @user_analytics.statistics.dig(:cohorts).each do |cohort| %>
          <div class="card cohort">
            <h6>
              <%= cohort[:registered] %> <%= raw t("analytics.patient", count: cohort[:registered]) %>
              <%= raw t("analytics.registered_in") %> <%= cohort[:patients_registered] %>
            </h6>
            <div style="font-size: 16px; margin: 8px 0 12px 0;">
              <%= raw t("analytics.result_from_last_visit_in") %> <%= cohort[:results_in] %>
            </div>
            <table class="cohort-bars">
              <tr>
                <% if cohort[:registered].blank? %>
                  <td class="cohort-none">
                      <%= raw t("analytics.no_patients") %>
                  </td>
                <% else %>
                  <td class="cohort-nobp" style="width: <%= @user_analytics.cohort_no_bp(cohort) %>;">
                    <%= @user_analytics.cohort_no_bp(cohort) %>
                  </td>
                  <td class="cohort-uncontrolled" style="width: <%= @user_analytics.cohort_uncontrolled(cohort) %>;">
                    <%= @user_analytics.cohort_uncontrolled(cohort) %>
                  </td>
                  <td class="cohort-controlled" style="width: <%= @user_analytics.cohort_controlled(cohort) %>;">
                    <%= @user_analytics.cohort_controlled(cohort) %>
                  </td>
                <% end %>
              </tr>
            </table>
          </div>
        <% end %>
        <h3 style="padding-top: 40px; padding-left: 8px;">
           <%= raw t("analytics.notes") %>
        </h3>
        <ul class="footnotes">
          <li>
            <strong> <%= raw t("analytics.numerator") %>:</strong> <%= raw t("analytics.cohort_report_footnote_1") %>
          </li>
          <li>
            <strong> <%= raw t("analytics.denominator") %>:</strong> <%= raw t("analytics.cohort_report_footnote_2") %>
          </li>
          <li>
            <%= raw t("analytics.cohort_report_footnote_3") %>
          </li>
        </ul>
      </div>
    </div>
  </body>
  <%= inline_js("standalone/user_analytics.js") %>
</html>