<p id="notice"><%= notice %></p>

<h1>Protocols</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Follow up days</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @protocols.each do |protocol| %>
      <tr>
        <td><%= protocol.name %></td>
        <td><%= protocol.follow_up_days %></td>
        <td><%= link_to 'Show', protocol %></td>
        <td><%= link_to 'Edit', edit_protocol_path(protocol) %></td>
        <td><%= link_to 'Destroy', protocol, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Protocol', new_protocol_path %>
