<% if Flipper.enabled?(:new_progress_tab) %>
  <div id="progress-daily-report" class="d-none">
    <div class="mb-8px pt-16px pb-16px bgc-white bs-card">
      <a
        class="d-block w-24px h-24px mb-24px pl-16px"
        href="#"
        onclick="closeWindow('progress-daily-report', 'progress-start'); return false;"
      >
        <div class="d-inline-block">
          <%= inline_file("chevron-left.svg") %>
        </div>
      </a>
      <div class="pr-16px pl-16px">
        <h1 class="m-0px mb-8px fw-bold fs-24px">
          <%= t("progress_tab.daily_report_title") %> report
        </h1>
        <p class="m-0px p-0px ta-left fw-normal fs-16px c-grey-dark">
          <%= t("progress_tab.last_updated_at", date: @last_updated_at) %>
        </p>
        <%= select_tag "periods", options_for_select(last_30_days.map { |date| display_date(date) }, display_date(last_30_days.first)), class: "w-100 mt-16px p-12px fw-medium fs-16px ls-1_25px tt-uppercase c-blue bgc-blue-light b-none br-1px bs-secondary-button o-none a-none chevron-down-icon", id: "period-dropdown", onchange: "updateDailyReport()" %>
      </div>
    </div>
    <% last_30_days.each_with_index do |date, index| %>
      <div data-element="daily-cards" data-date="<%= display_date(date) %>" class="<% unless index == 0 %>d-none<% end %>">
        <div class="mb-8px p-16px bgc-white br-4px bs-card">
          <div class="d-flex ai-center jc-space-between mb-8px">
            <h2 class="m-0px p-0px ta-left fw-medium fs-18px c-black">
              <%= t("progress_tab.period_report.registered_patients_card.title") %>
            </h2>
            <p class="m-0px p-0px ta-right fw-medium fs-18px c-black">
              <%= daily_registrations(date) %>
            </p>
          </div>
          <p class="m-0px p-0px ta-left fw-normal fs-16px lh-150 c-grey-dark">
            <%= t("progress_tab.period_report.registered_patients_card.subtitle", facility_name: @region.name) %>
          </p>
        </div>
        <div class="mb-8px p-16px bgc-white br-4px bs-card">
          <div class="d-flex ai-center jc-space-between mb-8px">
            <h2 class="m-0px p-0px ta-left fw-medium fs-18px c-black">
              <%= t("progress_tab.period_report.follow_up_patients_card.title") %>
            </h2>
            <p class="m-0px p-0px ta-right fw-medium fs-18px c-black">
              <%= daily_follow_ups(date) %>
            </p>
          </div>
          <p class="m-0px p-0px ta-left fw-normal fs-16px lh-150 c-grey-dark">
            <%= t("progress_tab.period_report.follow_up_patients_card.subtitle", facility_name: @region.name) %>
          </p>
        </div>
      </div>
    <% end %>
    <div class="p-relative mb-8px p-16px bgc-blue-green-light br-4px bs-card">
      <h1 class="m-0px mb-8px p-0px pr-48px ta-left fw-medium fs-18px lh-135 c-black">
        <%= t("progress_tab.period_report.more_patient_data_coming_soon_card.title") %>
      </h1>
      <p class="m-0px mr-80px p-0px ta-left fw-normal fs-16px lh-165 c-black">
        <%= t("progress_tab.period_report.more_patient_data_coming_soon_card.main_text") %>
      </p>
      <div class="p-absolute t-8px r-8px w-48px h-48px">
        <%= inline_svg("checkmark.svg") %>
      </div>
    </div>
  </div>
<% else %>
  <div id="daily-stats-card" class="mb-8px p-16px bgc-white bs-card">
    <div class="day count-empty" style="display: none">
      <h3 class="stat-day"></h3>
      <%= inline_svg('icon_sync_cloud.svg') %>
      <p>
        <%= raw t("analytics.tap_sync") %>
      </p>
    </div>
    <% last_30_days.each do |date| %>
      <div class="day">
        <div class="d-flex ai-center jc-space-between mb-16px">
          <h1 class="m-0px fw-bold fs-24px c-black stat-day">
            <span class="num">
              <%= display_date(date) %>
            </span>
          </h1>
          <div class="d-flex ai-center jc-space-between">
            <button onclick="nextSlide(+1)" class="button-next">
              <span>
                <%= inline_svg('icon_arrow_back.svg') %>
              </span>
            </button>
            <button onclick="nextSlide(-1)" class="button-prev">
              <span>
                <%= inline_svg('icon_arrow_forward.svg') %>
              </span>
            </button>
          </div>
        </div>
        <div class="d-flex ai-center jc-space-between">
          <div class="f-1 mr-8px count count-1">
            <strong>
              <%= raw t("analytics.registered") %>
            </strong>
            <div class="big-number">
              <%= daily_registrations(date) %>
            </div>
            <%= raw t("analytics.patient", count: daily_registrations(date)) %>
          </div>
          <div class="f-1 ml-8px count count-2">
            <strong>
              <%= raw t("analytics.follow_up") %>
            </strong>
            <div class="big-number">
              <%= daily_follow_ups(date) %>
            </div>
            <%= raw t("analytics.patient", count: daily_follow_ups(date)) %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
<% end %>