<%= table do %>
  <tr class="total">
    <td class="row-label"><%= raw t("analytics.all_time") %> <code>(<%= dimension.field %>)</code></td>
    <td class="row-value">
      <%= total_count %>
    </td>
  </tr>
  <% range.reverse_each do |period| %>
    <tr>
      <td class="row-label no-padding"><%= period.to_s(:month_name) %></td>
      <td>
        <%= monthly_count(period) %>
      </td>
    </tr>
  <% end %>
<% end %>