<div class="card">
  <h1 class="page-title">Merge duplicate patients</h1>
  <p class="c-grey-dark">
    These patients have the same BP passport.
    Please confirm that they refer to the same person.
    <br>
    Unselect patients that don't refer to this person. They will not be merged and be left as is.
  </p>
  <table class="table table-responsive-md table-hover">
    <th>Select</th>
    <th style="min-width: 150px">Full name</th>
    <th>Gender</th>
    <th>Age</th>
    <th>Registered on</th>
    <th>Registration facility</th>
    <th>Last visited</th>
    <th>Address</th>
    <th>Phone numbers</th>

    <% @patients.each do |patient| %>
      <tr class="toggle-row" data-patient-id="<%= patient.id %>">
        <td>
          <input id="<%= patient.id %>"
                 type="checkbox"
                 name="duplicate_patients[]"
                 value="<%= patient.id %>"
                 form="deduplicate_patients"
                 checked>
        </td>
        <td><%= patient.full_name %></td>
        <td><%= patient.gender.capitalize %></td>
        <td><%= patient.current_age.to_i %></td>
        <td><%= patient.recorded_at.in_time_zone(Rails.application.config.country[:time_zone]).strftime("%d-%^b-%Y %I:%M %p") %></td>
        <td><%= patient.registration_facility.name %>, <%= patient.registration_facility.block_region.name %>
          <br>
          <%= patient.registration_facility.region.district_region.name %>, <%= patient.registration_facility.region.state_region.name %></td>
        <td>
          <% if patient.latest_blood_pressure&.recorded_at.present? %>
            <%= patient.latest_blood_pressure.facility.name %>
            <%= rounded_time_ago_in_words(patient.latest_blood_pressure.recorded_at) %>
          <% end %>
        </td>
        <td>
          <%= "#{patient.address.street_address}, " if patient.address.street_address.present? %>
          <%= patient.address.village_or_colony %>
        </td>
        <td>
          <% if patient.phone_numbers.present? %>
            <%= patient.phone_numbers.pluck(:number).join(",") %>
          <% else %>
            Not present
          <% end %>
        </td>
        </label>
      </tr>
    <% end %>
  </table>
</div>

<form id="deduplicate_patients" method="POST" action="/admin/deduplicate_patients" class="form-inline">
  <button class="btn btn-primary mr-2" type="submit">Merge selected patients</button>
  <a href="javascript:location.reload();" class="btn btn-outline-info">Skip</a>
</form>
<script>
  $("tr.toggle-row").click(function()  {
    let patientId = $(this).data()["patientId"];
    console.log($(`input#${patientId}`).is(':checked'))
    $(`input#${patientId}`).attr("checked", !$(`input#${patientId}`).is(':checked'));
  })
</script>
