<h1 class="page-title mb-3">Merge duplicate patients</h1>
<div class="card">
  <h3>Duplicate patients</h3>
  <div class="container">
    <div class="row">
      <div class="col-12">
        <p class="c-grey-dark">
          These patients have the same BP passport. Please confirm that they refer to the same person.
          Unselect patients that don't refer to this person &#8212; they will not be merged.
        </p>
      </div>
    </div>
    <div class="row mt-4 mb-4">
      <div class="col-6">
      <form id="deduplicate_patients" method="POST" action="<%= admin_deduplication_path %>">
        <button class="btn btn-primary mr-2" type="submit">Merge selected patients</button>
        <a href="javascript:location.reload();" class="btn btn-outline-primary mr-2">Skip</a>
      </form>
      </div>
      <div class="col-6 text-right c-grey-dark align-baseline">
          <% if @duplicate_count == Admin::DeduplicatePatientsController::DUPLICATE_LIMIT %>
            <%= Admin::DeduplicatePatientsController::DUPLICATE_LIMIT %>+
          <% else %>
            <%= @duplicate_count %>
          <% end %>
          duplicate patients remaining
      </div>
    </div>
  </div>
  <table class="table table-responsive-md">
    <thead>
      <th>Select</th>
      <th style="min-width: 150px">Full name</th>
      <th>Gender</th>
      <th>Age</th>
      <th>Address</th>
      <th>Phone numbers</th>
      <th>Registered on</th>
      <th>Registration facility</th>
      <th>Last visited</th>
    </thead>
    <tbody>
    <% @patients.each do |patient| %>
      <tr class="toggle-row" data-patient-id="<%= patient.id %>">
        <td>
          <input id="<%= patient.id %>"
                 type="checkbox"
                 name="duplicate_patients[]"
                 value="<%= patient.id %>"
                 form="deduplicate_patients"
                 checked>
        </td>
        <td class="<%= no_difference_class(@patients.pluck(:full_name)) %>"> <%= patient.full_name %></td>
        <td class="<%= no_difference_class(@patients.pluck(:gender)) %>"><%= patient.gender.capitalize %></td>
        <td class="<%= no_difference_class(@patients.map(&:current_age)) %>"><%= patient.current_age.to_i %></td>
        <td>
          <%= "#{patient.address.street_address}, " if patient.address.street_address.present? %>
          <%= patient.address.village_or_colony %>
        </td>
        <td class="<%= no_difference_class(@patients.map { |p| p.phone_numbers.pluck(:number) }) %>">
          <% if patient.phone_numbers.present? %>
            <% patient.phone_numbers.pluck(:number).each do |phone_number| %>
              <%= phone_number %> <br/>
            <% end %>
          <% else %>
            Not present
          <% end %>
        </td>
        <td><%= patient.recorded_at.in_time_zone(Rails.application.config.country[:time_zone]).strftime("%d-%^b-%Y %I:%M %p") %></td>
        <td class="<%= no_difference_class(@patients.map { |p| p.registration_facility.name }) %>">
          <%= patient.registration_facility.name %>, <%= patient.registration_facility.block_region.name %>
          <br>
          <%= patient.registration_facility.region.district_region.name %>, <%= patient.registration_facility.region.state_region.name %></td>
        <td>
          <% if patient.latest_blood_pressure&.recorded_at.present? %>
            <%= patient.latest_blood_pressure.facility.name %>
            <%= rounded_time_ago_in_words(patient.latest_blood_pressure.recorded_at) %>
          <% end %>
        </td>
        </label>
      </tr>
    <% end %>
    <% unless @patients.present? %>
      <tr class="text-center">
        <td colspan="9">
          <p class="bg-blue-light" style="padding: 48px; border-radius: 5px;">No duplicate patients found that need to be merged</p>
        </td>
      </tr>
    <% end %>
    </tbody>
  </table>
</div>

<script>
  $("tr.toggle-row").click(function()  {
    let patientId = $(this).data()["patientId"];
    console.log($(`input#${patientId}`).is(':checked'))
    $(`input#${patientId}`).attr("checked", !$(`input#${patientId}`).is(':checked'));
  })
</script>
