<h1>Audit Logs</h1>

<%= bootstrap_form_tag(url: [:admin, :audit_logs], local: true, label_errors: true, method: :get) do |form| %>

<div class="form-inline form-no-label">
  
      <%= form.text_field :user_name, value: params[:user_name] || "", label: "Full name", placeholder: "Search by user's full name", class: "mr-1"; %>
      <%= form.primary 'Search' %>

</div>

<% end %>


<% if params[:user_name].present? %>
  
  <% if @audit_logs.any? %>
           <% @audit_logs.each do |audit_log| %>
              <div class="card">
                <h5 class="pb-1"><%= link_to audit_log.user.full_name, [:admin, audit_log.user] %></h5>
                <div class="card-date"><%= audit_log.created_at %></div>
                <div class="row">
                    <div class="col-md-2"><span class="text-secondary">Action:</span> <%= audit_log.action %></div>
                    <div class="col-md-2"><span class="text-secondary">Type:</span> <%= audit_log.auditable_type %></div>
                    <div class="col-md-8"><span class="text-secondary">ID:</span> <%= audit_log.auditable_id %></div>
                </div>
              </div>
            <% end %>
  <% else %>
    <div class="card">
        <p>No audit logs found for "<%= params[:user_name] %>"</p>
    </div>
  <% end %>
<% end %>

<%= paginate @audit_logs %>
