<p id="notice"><%= notice %></p>

<h1>Audit Logs</h1>

<div class="row">
  <div class="col-md-6">
    <%= bootstrap_form_tag(url: [:admin, :audit_logs], local: true, label_errors: true, method: :get) do |form| %>
      <%= form.text_field :user_name, id: :protocol_drug_name %>

      <%= form.primary 'Search' %>
    <% end %>
  </div>
</div>
<br/>

<table class="table">
  <thead class="thead-light">
    <tr>
      <th>Time stamp</th>
      <th>Action type</th>
      <th>Model type</th>
      <th>Model id</th>
      <th>User Name</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @audit_logs.each do |audit_log| %>
      <tr>
        <td><%= audit_log.created_at %></td>
        <td><%= audit_log.action %></td>
        <td><%= audit_log.auditable_type %></td>
        <td><%= audit_log.auditable_id %></td>
        <td><%= link_to audit_log.user.full_name, [:admin, audit_log.user] %></td>
      </tr>
    <% end %>
  </tbody>
</table>
