<h1>Audit Log</h1>

<div class="row">
  <div class="col-md-5 col-lg-5">
    <p>
      <strong>Time Stamp:</strong>
      <%= @audit_log.created_at %>
    </p>

    <p>
      <strong>User Id:</strong>
      <%= link_to @audit_log.user.full_name, [:admin, @audit_log.user] %>
    </p>

    <p>
      <strong>Action Type:</strong>
      <%= @audit_log.action %>
    </p>

    <p>
      <strong>Model:</strong>
      <%= @audit_log.auditable_type %>
    </p>

    <p>
      <strong>Model Id:</strong>
      <%= @audit_log.auditable_id %>
    </p>
  </div>
</div>
