<div class="row">
  <div class="col-md-6">
    <%= bootstrap_form_for(
            user,
            url: admin_create_user_for_invite_path,
            local: true, label_errors: true) do |form| %>
      <%= form.text_field :full_name, id: :user_name %>
      <%= form.select :role, policy(:invitation).roles_user_can_invite.map { |k, v| [v.humanize, k] }.to_h %>

      <% if user.user_permissions.present? %>
        <%= form.collection_check_boxes :user_permissions,
                                        Permissions::ALL_PERMISSIONS.keys,
                                        :itself,
                                        :itself,
                                        label: "User Permissions",
                                        checked_value: 1 %>
      <% end %>
      <%= form.primary %>
    <% end %>
  </div>
</div>