<div class="page-header">
  <h1 class="page-title">Users</h1>
</div>

<!-- Nav tabs -->
<ul class="nav nav-tabs nav-justified" role="tablist">
  <% User.roles.values.each_with_index do |user_role, i| %>
    <li class="nav-item">
      <a class="nav-link <%= 'active' if i == 0 %>" id="<%= user_role %>-tab" data-toggle="tab"
         href="#<%= user_role %>" role="tab"
         aria-controls="<%= user_role %>" aria-selected=
      <% i == 0 %>>
        <%= user_role %>
      </a>
    </li>
  <% end %>
</ul>

<!-- Tab panes -->
<div class="tab-content">
  <% User.roles.values.each_with_index do |user_role, i| %>
    <div class="tab-pane <%= 'active' if i == 0 %>" id="<%= user_role %>" role="tabpanel" aria-labelledby="<%= user_role %>-tab">
      <div class="table-responsive">
        <table class="table">
          <thead class="thead-light">
          <tr>
            <th>Name</th>
            <th>Sync status</th>
            <th>Status reason</th>
            <th>Phone number</th>
            <th>Registered at facility</th>
            <th></th>
          </tr>
          </thead>

          <tbody>
          <% @user.where(role: user_role).each do |user| %>
            <tr>
              <td class="nowrap"><%= link_to user.full_name, [:admin, user] %></td>
              <td class="sync_approval_status nowrap">
                <span class="label <%= user.sync_approval_status %>"><%= user.sync_approval_status&.capitalize %></span>
              </td>
              <td class="sync_approval_status_reason"><%= user.sync_approval_status_reason %></td>
              <td class="nowrap"><a href="tel:<%= user.phone_number %>"><%= user.phone_number %></a></td>
              <td>
                <% if user.registration_facility.present? %>
                  <% facility = user.registration_facility %>

                  <% if policy(facility).show? %>
                    <%= link_to facility.name, admin_facilities_path(facility) %>
                  <% else %>
                    <%= user.registration_facility.name %>
                  <% end %>
                <% end %>
              </td>
              <td class="nowrap">
                <% if policy(user).edit? %>
                  <%= link_to 'Edit', edit_admin_user_path(user) %>
                <% end %>
                <% unless user.sync_approval_status == 'denied' %>
                  <span class="light divider">|</span> <%= link_to 'Deny access', '#deny-access-modal-' + user.id, 'data-toggle' => 'modal' %>
                <% end %>
                <% unless user.sync_approval_status == 'allowed' %>
                  <span class="light divider">|</span> <%= link_to 'Allow access', admin_user_enable_access_path(user), method: :put, data: { confirm: I18n.t('admin.enable_access_alert') } %>
                <% end %>

                <%= render partial: "deny_access_modal", locals: { user: user } %>
              </td>
            </tr>
          <% end %>
          </tbody>
        </table>
      </div>
    </div>
  <% end %>
</div>