<h1>Users</h1>

<table class="table">
  <thead class="thead-light">
  <tr>
    <th>Name</th>
    <th>Sync status</th>
    <th>Status reason</th>
    <th>Phone number</th>
    <th>Registered at facility</th>
    <th colspan="2"></th>
  </tr>
  </thead>

  <tbody>
  <% @users.each do |user| %>
    <tr>
      <td><%= link_to user.full_name, [:admin, user] %></td>
      <td class="sync_approval_status">
        <span class="label <%= user.sync_approval_status %>"><%= user.sync_approval_status&.capitalize %></span>
      </td>
      <td class="sync_approval_status_reason"><%= user.sync_approval_status_reason %></td>
      <td><a href="tel:<%= user.phone_number %>"><%= user.phone_number %></a></td>
      <td>
        <% if user.registered_at_facility.present? %>
          <%= link_to user.registered_at_facility.name, [:admin, user.registered_at_facility] %>
        <% end %>
      </td>
      <td>
        <% if policy(user).edit? %>
          <%= link_to 'Edit', edit_admin_user_path(user) %>
        <% end %>
        <% if policy(user).destroy? %>
          | <%= link_to 'Delete', [:admin, user], method: :delete, data: { confirm: "Are you sure you want to delete #{user.full_name}?" } %>
        <% end %>
        <% unless user.sync_approval_status == 'denied' %>
          | <%= link_to 'Deny access', '#deny-access-modal-' + user.id, 'data-toggle' => 'modal' %>
        <% end %>
        <% unless user.sync_approval_status == 'allowed' %>
          | <%= link_to 'Allow access', admin_user_enable_access_path(user), method: :put, data: { confirm: I18n.t('admin.enable_access_alert') } %>
        <% end %>

        <%= render partial: "deny_access_modal", locals: { user: user } %>
      </td>
    </tr>
  <% end %>
  </tbody>
</table>

<% if policy(User).new? %>
  <%= link_to 'New user', new_admin_user_path, class: "btn btn-sm btn-primary" %>
<% end %>
