<div class="page-header">
  <h1 class="page-title">Users</h1>
  <nav class="page-nav">
    <% if policy(User).new? %>
      <%= link_to 'New user', new_admin_user_path, class: "btn btn-sm btn-primary" %>
    <% end %>
  </nav>
</div>

<% @facility_groups.order(:name).each do |facility_group| %>
  <h2><%= facility_group.name %></h2>

  <div class="table-responsive">
    <table class="table">
      <thead class="thead-light">
      <tr>
        <th>Name</th>
        <th>Sync status</th>
        <th>Status reason</th>
        <th>Phone number</th>
        <th>Registered at facility</th>
        <th colspan="2"></th>
      </tr>
      </thead>

      <tbody>
        <% facility_group.users.order(:full_name).each do |user| %>
          <tr>
            <td class="nowrap"><%= link_to user.full_name, [:admin, user] %></td>
            <td class="sync_approval_status nowrap">
              <span class="label <%= user.sync_approval_status %>"><%= user.sync_approval_status&.capitalize %></span>
            </td>
            <td class="sync_approval_status_reason"><%= user.sync_approval_status_reason %></td>
            <td class="nowrap"><a href="tel:<%= user.phone_number %>"><%= user.phone_number %></a></td>
            <td>
              <% if user.registered_at_facility.present? %>
                <% facility = user.registered_at_facility %>

                <% if policy(facility).show? %>
                  <%= link_to facility.name, [:admin, facility.organization, facility.facility_group, facility] %>
                <% else %>
                  <%= user.registered_at_facility.name %>
                <% end %>
              <% end %>
            </td>
            <td class="nowrap">
              <% if policy(user).edit? %>
                <%= link_to 'Edit', edit_admin_user_path(user) %>
              <% end %>
              <% if policy(user).destroy? %>
                <span class="light divider">|</span> <%= link_to 'Delete', [:admin, user], method: :delete, data: { confirm: "Are you sure you want to delete #{user.full_name}?" } %>
              <% end %>
              <% unless user.sync_approval_status == 'denied' %>
                <span class="light divider">|</span> <%= link_to 'Deny access', '#deny-access-modal-' + user.id, 'data-toggle' => 'modal' %>
              <% end %>
              <% unless user.sync_approval_status == 'allowed' %>
                <span class="light divider">|</span> <%= link_to 'Allow access', admin_user_enable_access_path(user), method: :put, data: { confirm: I18n.t('admin.enable_access_alert') } %>
              <% end %>

              <%= render partial: "deny_access_modal", locals: { user: user } %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
<% end %>
