<h1>User details</h1>
<p>
  <strong>Name:</strong>
  <%= @user.full_name %>
</p>

<p>
  <strong>Phone number:</strong>
  <%= @user.phone_number %>
</p>

<p>
  <strong>Registration Facility:</strong>
  <%= link_to @user.facility.name, [:admin, @user.facility] %>
</p>

<p>
  <strong>Sync status:</strong>
  <%= @user.sync_approval_status %>
</p>

<p>
  <strong>Sync reason:</strong>
  <%= @user.sync_approval_status_reason %>
</p>

<p>
  <strong>First logged in at:</strong>
  <%= @user.logged_in_at.try(:iso8601) || 'Not logged in yet' %>
</p>

<% if policy(@user).edit? %>
  <%= link_to 'Edit', edit_admin_user_path(@user) %>
<% end %>
<% unless @user.sync_approval_status == 'denied' %>
  <span class="light divider">|</span> <%= link_to 'Deny access', '#deny-access-modal-' + @user.id , 'data-toggle' => 'modal' %>
<% end %>
<% unless @user.sync_approval_status == 'allowed' %>
  <span class="light divider">|</span> <%= link_to 'Allow access', admin_user_enable_access_path(@user), method: :put, data: { confirm: I18n.t('admin.enable_access_alert') } %>
<% end %>
<% if policy(@user.audit_logs).edit? %>
  <span class="light divider">|</span> <%= link_to 'Audit logs', admin_audit_logs_url(user_name: @user.full_name) %>
<% end %>

<%= render partial: "deny_access_modal", locals: {user: @user} %>
