<!--

1A. "Today" block should show data for the calendar day.
1B. Preload the last 30 days of data. Tapping arrow buttons goes back/forward days using JS.
1C. When first day is reached, arrow should be greyed out.
1D. Title changes to "12-Dec-2019" etc for any day that's not "Today"
1E. If data hasn't been synced up to a date display the #count-empty card instead of the counts. For instance, if data was synced yesterday, show the #count-empty for today. If data was synced 4 days ago, show #count-empty for today and last 3 days... then show data from the sync date backwards.
1F. If data has been synced but all counts are zero, just do the normal thing and show 0 in the squares (that will mean some Sundays etc have no data, and that's okay)

2A. Show follow-up patients (if Diabetes is being used, only include hypertension patients).
2B. If fewer than 6 months since deployment of Simple, just show < 6 months of rows
2C. Patient counts are for 'unique' patients that month (e.g. if a patient visited 5 times, they are only counted once... unless this is hard, in which case discuss with Daniel)
2D. Patients with controlled BP is if the patient had BP <140/90 at most recent visit

3. I think registrations is pretty obvious, but if you have questions, let me know.

4A. Achievements is based on data from 2C.
4B. Don't show any achievements if < 10. Don't show the locked "upcoming" one either
4C. When > 10 show first badge and locked "upcoming" badge for 25 follow-up visits
4D. Follow the rules in the achievements html for how to count. After "10,000" just increment by 10,000 increments for infinity

-->

<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="HandheldFriendly" content="True">
  <meta name="MobileOptimized" content="320">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, shrink-to-fit=no"/>
  <meta name="apple-mobile-web-app-capable" content="yes"/>

  <%= inline_stylesheet('common_webview.css') %>
  <%= inline_stylesheet('user_analytics.css') %>

  <%= javascript_include_tag 'user_analytics' %>
</head>

<body>
<% if @statistics.blank? %>
  <%= render 'empty_reports' %>
<% else %>
  <div class="updated-date">Last updated <span><%= l(@statistics[:last_updated_at]) %></span></div>

  <div class="card" style="min-height: 210px;">
    <div class="next-prev">
      <a href="#" onclick="nextSlide(-1)" class="button-next"><span><%= inline_svg('icon_arrow_back.svg') %></span></a>
      <a href="#" onclick="nextSlide(+1)" class="button-prev"><span><%= inline_svg('icon_arrow_forward.svg') %></span></a>
    </div>

    <!-- dump all statistics in a hidden div so that we can parse it in JS -->
    <%= content_tag :div, id: "statistics", data: { statistics: @statistics }, style: "display: none" do %>
    <% end %>

    <!-- daily stats view -->
    <div id="daily-stats-card">
      <% @daily_stats_period.sort.each do |date| %>
        <div class="day">
          <h3 class="stat-day">
            <%= display_date(doy_to_date_obj(*date)) %>
          </h3>

          <div class="counts">
            <div class="count count-1">
              <strong>Registered</strong>
              <div class="big-number">
                <%= zero_if_zero(@statistics.dig(:daily, date, :registrations)) %>
              </div>
              New patients
            </div>

            <div class="count count-2">
              <strong>Follow-up</strong>
              <div class="big-number">
                <%= zero_if_zero(@statistics.dig(:daily, date, :follow_ups)) %>
              </div>
              Follow-up patients
            </div>
          </div>
        </div>
      <% end %>

      <div class="day count-empty sync-nudge" style="display: none">
        <%= inline_svg('icon_sync_cloud.svg') %>
        <p>Tap "Sync" on the home screen for new data.</p>
      </div>
    </div>
  </div>

  <!--  <div class="card">-->
  <!--    <h3>Registered patients</h3>-->

  <!--    <form>-->
  <!--      <select class="card-dropdown">-->
  <!--        <optgroup label="All patients">-->
  <!--          <option>All registered patients</option>-->
  <!--        </optgroup>-->
  <!--        <optgroup label="Hypertension">-->
  <!--          <option>All</option>-->
  <!--          <option>Female</option>-->
  <!--          <option>Male</option>-->
  <!--          <option>Transgender</option>-->
  <!--        </optgroup>-->
  <!--        <optgroup label="Diabetes">-->
  <!--          <option>All</option>-->
  <!--          <option>Female</option>-->
  <!--          <option>Male</option>-->
  <!--          <option>Transgender</option>-->
  <!--        </optgroup>-->
  <!--      </select>-->
  <!--    </form>-->

  <!--    <table class="progress-table">-->
  <!--      <tr class="total">-->
  <!--        <td class="row-label">All-time</td>-->
  <!--        <td>2410</td>-->
  <!--      </tr>-->
  <!--      <tr>-->
  <!--        <td class="row-label no-padding">January</td>-->
  <!--        <td>14</td>-->
  <!--      </tr>-->
  <!--      <tr>-->
  <!--        <td class="row-label no-padding">December</td>-->
  <!--        <td>109</td>-->
  <!--      </tr>-->
  <!--      <tr>-->
  <!--        <td class="row-label no-padding">November</td>-->
  <!--        <td>104</td>-->
  <!--      </tr>-->
  <!--      <tr>-->
  <!--        <td class="row-label no-padding">October</td>-->
  <!--        <td>98</td>-->
  <!--      </tr>-->
  <!--      <tr>-->
  <!--        <td class="row-label no-padding">September</td>-->
  <!--        <td>87</td>-->
  <!--      </tr>-->
  <!--      <tr>-->
  <!--        <td class="row-label no-padding">August</td>-->
  <!--        <td>90</td>-->
  <!--      </tr>-->
  <!--    </table>-->
  <!--  </div>-->

  <!--  <div class="card">-->
  <!--    <h3>Follow-up patients</h3>-->

  <!--    <form>-->
  <!--      <select class="card-dropdown">-->
  <!--        <optgroup label="All patients">-->
  <!--          <option>All follow-up patients</option>-->
  <!--        </optgroup>-->
  <!--        <optgroup label="Hypertension">-->
  <!--          <option>All</option>-->
  <!--          <option>Female</option>-->
  <!--          <option>Male</option>-->
  <!--          <option>Transgender</option>-->
  <!--        </optgroup>-->
  <!--        <optgroup label="Diabetes">-->
  <!--          <option>All</option>-->
  <!--          <option>Female</option>-->
  <!--          <option>Male</option>-->
  <!--          <option>Transgender</option>-->
  <!--        </optgroup>-->
  <!--      </select>-->
  <!--    </form>-->

  <!--    <table class="progress-table">-->
  <!--      <tr class="total green">-->
  <!--        <td class="row-label">All-time</td>-->
  <!--        <td>2410</td>-->
  <!--      </tr>-->
  <!--      <tr>-->
  <!--        <td class="row-label no-padding">January</td>-->
  <!--        <td>14</td>-->
  <!--      </tr>-->
  <!--      <tr>-->
  <!--        <td class="row-label no-padding">December</td>-->
  <!--        <td>109</td>-->
  <!--      </tr>-->
  <!--      <tr>-->
  <!--        <td class="row-label no-padding">November</td>-->
  <!--        <td>104</td>-->
  <!--      </tr>-->
  <!--      <tr>-->
  <!--        <td class="row-label no-padding">October</td>-->
  <!--        <td>98</td>-->
  <!--      </tr>-->
  <!--      <tr>-->
  <!--        <td class="row-label no-padding">September</td>-->
  <!--        <td>87</td>-->
  <!--      </tr>-->
  <!--      <tr>-->
  <!--        <td class="row-label no-padding">August</td>-->
  <!--        <td>90</td>-->
  <!--      </tr>-->
  <!--    </table>-->
  <!--  </div>-->

  <!--  <div class="card">-->
  <!--    <h3>Hypertension control</h3>-->
  <!--    <p class="desc">How many patients with hypertension had BP below 140/90 at their last follow-up visit?</p>-->

  <!--    <table class="progress-table">-->
  <!--      <tr>-->
  <!--        <td class="row-label no-padding">January</td>-->
  <!--        <td><span class="percent">100%</span></td>-->
  <!--        <td>14 of 14</td>-->
  <!--      </tr>-->
  <!--      <tr>-->
  <!--        <td class="row-label no-padding">December</td>-->
  <!--        <td><span class="percent">45%</span></td>-->
  <!--        <td>52 of 109</td>-->
  <!--      </tr>-->
  <!--      <tr>-->
  <!--        <td class="row-label no-padding">November</td>-->
  <!--        <td><span class="percent">42%</span></td>-->
  <!--        <td>49 of 104</td>-->
  <!--      </tr>-->
  <!--      <tr>-->
  <!--        <td class="row-label no-padding">October</td>-->
  <!--        <td><span class="percent">38%</span></td>-->
  <!--        <td>37 of 98</td>-->
  <!--      </tr>-->
  <!--      <tr>-->
  <!--        <td class="row-label no-padding">September</td>-->
  <!--        <td><span class="percent">36%</span></td>-->
  <!--        <td>16 of 87</td>-->
  <!--      </tr>-->
  <!--      <tr>-->
  <!--        <td class="row-label no-padding">August</td>-->
  <!--        <td><span class="percent">32%</span></td>-->
  <!--        <td>31 of 90</td>-->
  <!--      </tr>-->
  <!--    </table>-->
  <!--  </div>-->

  <!-- all trophies view -->
  <div class="trophies">
    <h4>Achievements</h4>
    <!--
    10
    25
    50
    100
    250
    500
    1000
    2000
    3000
    4000
    5000
    10000
    20000
    30000
    30000
    40000
    50000
    etc...
    -->
    <% @statistics[:trophies][:unlocked_trophy_values].sort.each do |trophy| %>
      <div class="trophy trophy-<%= trophy %>">
        <%= inline_svg('ribbon.svg') %>
        <em></em>
        <span>
          <%= number_to_human(trophy, :format => '%n%u', :units => { thousand: 'K', million: 'M' }) %>
        </span>
        <div><%= trophy %> follow-up<br>hypertension patients</div>
      </div>
    <% end %>

    <div class="trophy trophy-<%= @statistics[:trophies][:locked_trophy_value] %> trophy-upcoming">
      <%= inline_svg('ribbon.svg') %>
      <em></em>
      <span>
        <%= inline_svg('icon_lock.svg') %>
      </span>
      <div><%= @statistics[:trophies][:locked_trophy_value] %> follow-up<br>hypertension patients</div>
    </div>
  </div>

  <footer>
    <h4 style="padding-top: 60px;">Notes</h4>
    <p>Data is for all activity at <%= @current_facility.name %>. If data appears out of date, tap the "Sync
      pending"
      link
      on the home screen, then check again.</p>
    <p>Follow-up patients are counted once-per-month. If a patient follows up multiple times in a month, they are
      only
      counted once.</p>
    <h4 style="padding-top: 60px;">Thank you</h4>
    <p>Thank you for all of your hard work treating patients with hypertension. Your work saves lives from heart
      attacks
      and strokes.</p>
    <div style="height: 100px;"></div>
  </footer>
<% end %>
</body>

<script>
  function today() {
    return new Date().toJSON().slice(0, 10);
  }

  function statistics() {
    return JSON.parse(document.getElementById('statistics').attributes.getNamedItem('data-statistics').value);
  }

  function dailyStatistics() {
    return Object.entries(statistics().daily);
  }

  function monthlyStatistics() {
    return Object.entries(statistics().monthly);
  }

  function trophyStatistics() {
    return Object.entries(statistics().trophies);
  }

  function showSyncNudgeIfNecessary() {
    let weHaveDataForToday = false;

    for (let [date, _] of dailyStatistics()) {
      if (today() === date) {
        weHaveDataForToday = true;
      }
    }

    if (!weHaveDataForToday) {
      document.querySelector('#daily-stats-card > .sync-nudge').style.display = 'block';
    }
  }

  function elementsForAllDaysInTheCarousel() {
    return document.getElementsByClassName("day");
  }

  function nextSlide(increment) {
    nextSlidePosition = window.lastSlidePositionForProgressCards += increment;
    showDailyProgressCards(nextSlidePosition);
  }

  window.onload = function () {
    window.lastSlidePositionForProgressCards = -1;
    showDailyProgressCards(window.lastSlidePositionForProgressCards);
    showSyncNudgeIfNecessary();
  };

  function showDailyProgressCards(next) {
    var elementsForAllDays = elementsForAllDaysInTheCarousel();

    if (next > elementsForAllDays.length) {
      window.lastSlidePositionForProgressCards = 1
    }

    if (next < 1) {
      window.lastSlidePositionForProgressCards = elementsForAllDays.length
    }

    for (let i = 0; i < elementsForAllDays.length; i++) {
      elementsForAllDays[i].style.display = "none";
    }

    elementsForAllDays[window.lastSlidePositionForProgressCards - 1].style.display = "block";
  }
</script>
</html>

<!--* populate up until current date and zero stuff out if it doesn't exist-->
<!--* user zeroes instead of dashes-->
<!--* grey out arrows on either end once you reach the end-->
