<!DOCTYPE html>
<html>
<head>

  <meta charset="utf-8">
  <meta name="HandheldFriendly" content="True">
  <meta name="MobileOptimized" content="320">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, shrink-to-fit=no"/>
  <meta name="apple-mobile-web-app-capable" content="yes"/>

  <%= inline_stylesheet('common_webview.css') %>
  <%= inline_stylesheet('user_analytics.css') %>
</head>

<body>

<div class="card">

  <%= inline_svg('icon_new_bp.svg', classname: 'icon-float') %>

  <h3>How many return patients have a BP recorded?</h3>
  <h5><%= @current_facility.name %></h5>
  <div class="bar-chart" id="return-patients">
    <table>
      <tr>
        <% @formatted_stats.reverse_each do |key, labelled_value| %>
          <td class="bars value-<%= labelled_value[:value] %>">
            <div class="column-value"><%= labelled_value[:value] %></div>
            <%= content_tag 'div', nil,
                            class: "bar-chart-column #{'active-column' if key == @max_key}",
                            style: column_height_styles(
                                labelled_value[:value],
                                max_value: @max_value,
                                max_height: 120) %>
          </td>
        <% end %>
      </tr>
      <tr>
        <% @formatted_stats.reverse_each do |key, labelled_value| %>
          <td class="bar-labels">
            <span class="label-date"><%= labelled_value[:label] %></span>
          </td>
        <% end %>
      </tr>
    </table>
  </div>
</div>

<% if @total_patients_count > 0 %>
  <div class="card">

    <%= inline_svg('icon_enroll.svg', classname: 'icon-float') %>

    <h3>How many new patients are enrolled?</h3>
    <h5>Total enrolled: XXX</h5>
    
      
    <div class="bar-chart">
        <table>
          <tr>
            <% @formatted_stats.reverse_each do |key, labelled_value| %>
              <td class="bars value-<%= labelled_value[:value] %>">
                <div class="column-value"><%= labelled_value[:value] %></div>
                <%= content_tag 'div', nil,
                                class: "bar-chart-column #{'active-column' if key == @max_key}",
                                style: column_height_styles(
                                    labelled_value[:value],
                                    max_value: @max_value,
                                    max_height: 120) %>
              </td>
            <% end %>
          </tr>
          <tr>
            <% @formatted_stats.reverse_each do |key, labelled_value| %>
              <td class="bar-labels">
                <span class="label-date"><%= labelled_value[:label] %></span>
              </td>
            <% end %>
          </tr>
        </table>
      </div>
      
  </div>
<% end %>
    
<footer></footer>
</body>
</html>