<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="HandheldFriendly" content="True">
  <meta name="MobileOptimized" content="320">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, shrink-to-fit=no"/>
  <meta name="apple-mobile-web-app-capable" content="yes"/>

  <%= inline_stylesheet('common_webview.css') %>
  <%= inline_stylesheet('user_analytics.css') %>
</head>

<body>
<% if @statistics.blank? %>
  <%= render 'empty_reports' %>
<% else %>
  <div class="card">
    <%= inline_svg('icon_new_bp.svg', classname: 'icon-float') %>
    <h3>কতজনরোগী <%= @current_facility.name %> -এবিপিরেকর্ডকরেছে?</h3>
    <%= render 'graph',
               id: 'return-patients',
               statistics: @statistics[:unique_patients_per_month],
               first_of_current_month: @statistics[:first_of_current_month],
               max_value: @statistics[:unique_patients_per_month].values.max,
               max_height: 120 %>
  </div>

  <div class="card">
    <%= inline_svg('icon_enroll.svg', classname: 'icon-float') %>
    <h3>কতজনরোগী <%= @current_facility.name %> -এনথিভুক্তকরেছে?</h3>
    <h5>সবসময়: <%= @statistics[:total_patients_count] %> জনরোগী</h5>
    <div class="bar-chart">
      <%= render 'graph',
                 id: '',
                 statistics: @statistics[:patients_enrolled_per_month],
                 first_of_current_month: @statistics[:first_of_current_month],
                 max_value: @statistics[:patients_enrolled_per_month].values.max,
                 max_height: 120 %>
    </div>
  </div>

  <footer>
    <small class="text-muted">Updated at <%= l(Time.now) %></small>
  </footer>
<% end %>
</body>
</html>