<h2>Change your password</h2>

<div class="row">
  <div class="col-md-6">
    <%= bootstrap_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }, label_errors: false) do |f| %>
      <%= f.hidden_field :reset_password_token %>

      <%= f.password_field :password, autofocus: true, autocomplete: "off", help: @minimum_password_length ? "#{@minimum_password_length} characters minimum" : "" %>
      <%= f.password_field :password_confirmation, autocomplete: "off", label: "Confirm new password" %>

      <%= f.primary "Change my password" %>
    <% end %>
  </div>
</div>

<div class="actions mt-4">
  <%= render "email_authentications/shared/links" %>
</div>
