<div class="card access-tree">
  <% current_admin
         .access_tree(user_being_edited: user_being_edited)
         .organizations
         .each do |organization, org_info| %>

    <ul class="access-item-wrapper">
      <li>
        <div class="access-item organization">
          <%= access_checkbox(
                  form,
                  "organization",
                  organization,
                  page: page,
                  checked: org_info.pre_selected
              ) %>

          <span class="access-ratio">
            <i class="fas fa-angle-down light"></i>

            <%= access_fraction(
                    "facility groups",
                    org_info.accessible_facility_group_count,
                    org_info.total_facility_group_count
                ) %>
          </span>
        </div>

        <ul class="access-item-wrapper">
          <% current_admin
                 .access_tree(user_being_edited: user_being_edited)
                 .facility_groups(organization)
                 .each do |facility_group, fg_info| %>

            <li>
              <div class="access-item collapsed">
                <span class="spacer"></span>
                <%= access_checkbox(
                        form,
                        "facility_group",
                        facility_group,
                        page: page,
                        checked: org_info.pre_selected) %>

                <span class="access-ratio collapsed">
                  <i class="fas fa-angle-down light"></i>

                  <%= access_fraction(
                          "facility",
                          fg_info.accessible_facility_count,
                          fg_info.total_facility_count) %>
                </span>
              </div>

              <ul class="access-item-wrapper collapsed">
                <% current_admin
                       .access_tree(user_being_edited: user_being_edited)
                       .facilities(facility_group)
                       .each do |facility, facility_info| %>

                  <li>
                    <div class="access-item collapsed">
                      <span class="spacer"></span>
                      <span class="spacer"></span>

                      <%= access_checkbox(
                              form,
                              "facilities",
                              facility,
                              page: page,
                              checked: facility_info.pre_selected) %>
                    </div>
                  </li>
                <% end %>
              </ul>
            </li>
          <% end %>
        </ul>
      </li>
    </ul>
  <% end %>
</div>
