<div class="card access-tree">
  <% access_tree.each do |organization, organization_metadata| %>
    <ul class="access-item-wrapper">
      <li>
        <div class="access-item organization">
          <div class="dropdown">
            <i class="fas fa-angle-down light"></i>
          </div>
          <%= access_checkbox(
                  form,
                  "organizations[]",
                  organization,
                  page: page,
                  checked_fn: -> { user_being_edited.access_tree.visible?(:organization, organization) }
              ) %>


          <span class="access-ratio">
            <%= access_fraction("facility groups", organization_metadata[:accessible_facility_count], 0) %>
          </span>
        </div>

        <ul class="access-item-wrapper">
          <% organization_metadata[:facility_groups].each do |facility_group, facility_group_metadata| %>
            <li>
              <div class="access-item collapsed">
                <span class="spacer"></span>
                <div class="dropdown">
                  <i class="fas fa-angle-down light"></i>
                </div>

                <%= access_checkbox(
                        form,
                        "facility_groups[]",
                        facility_group,
                        page: page,
                        checked_fn: -> { user_being_edited.access_tree.visible?(:facility_group, facility_group) }
                    ) %>

                <span class="access-ratio collapsed">
                  <%= access_fraction("facilities", facility_group_metadata[:accessible_facility_count], 0) %>
                </span>
              </div>

              <ul class="access-item-wrapper collapsed">
                <% facility_group_metadata[:facilities].each do |facility, _facility_metadata| %>
                  <li>
                    <div class="access-item collapsed">
                      <span class="spacer"></span>
                      <span class="spacer"></span>
                      <div class="dropdown hidden">
                        <i class="fas fa-angle-down light"></i>
                      </div>

                      <%= access_checkbox(
                              form,
                              "facilities[]",
                              facility,
                              page: page,
                              checked_fn: -> { user_being_edited.access_tree.visible?(:facility, facility) }
                          ) %>
                    </div>
                  </li>
                <% end %>
              </ul>
            </li>
          <% end %>
        </ul>
      </li>
    </ul>
  <% end %>
</div>
