<h1><%= t 'devise.invitations.edit.header' %></h1>

<div class="row">
  <div class="col-md-6">
    <%= bootstrap_form_for(resource, as: resource_name, url: invitation_path(resource_name), html: { method: :put }) do |f| %>
      <%= f.hidden_field :invitation_token, readonly: true %>

      <% if f.object.class.require_password_on_accepting %>
        <%= f.password_field :password %>
        <%= f.password_field :password_confirmation %>
      <% end %>

      <%= f.primary t("devise.invitations.edit.submit_button") %>
    <% end %>
  </div>
</div>
