<h1><%= t "devise.invitations.new.header" %></h1>
<% if Flipper.enabled?(:new_permissions_system_aug_2020, current_admin) %>
<div class="row">
    <div class="col-md-6">
        <%= bootstrap_form_with(url: email_authentication_invitation_path, local: true, autocomplete: "off", label_errors: true, html: {onsubmit: "submitForm(this)"}) do |form| %>
        <%= form.text_field :full_name, id: :full_name, required: true, autocomplete: "off", label: "Full Name *" %>
        <%= form.text_field :email, id: :email, required: true, label: "Email *" %>
        <%= form.text_field :role, id: :role, required: true, help: "CVHO, STS, State Official etc.", label: 'Job Title *' %>
        <%= form.select :access_levels, current_admin.permitted_access_levels_info, id: :access_levels, required: true, label: "Access *" %>

        <%= form.label "Facility Access *" %>
        <div id="facility-access">
            <div class="card access-tree">
                <% current_admin.access_tree(:manage)[:organizations].each do |org, org_metadata| %>
                <ul class="facility-access-item-wrapper">
                    <li>
                        <div class="facility-access-item organization">
                            <%= form.check_box :organizations,
                              {
                                  id: org.id,
                                  class: 'access-input',
                                  label: "#{org.name}"
                              } %>
                            <span class="access-ratio"> <%= org_metadata[:facility_groups].keys.size %>
                                of <%= org_metadata[:total_facility_groups] %> facility groups
                                <i class="fas fa-angle-down light"></i>
                            </span>
                        </div>
                        <ul class="facility-access-item-wrapper">
                            <% org_metadata[:facility_groups].each do |facility_group, fg_metadata| %>
                            <li>
                                <div class="facility-access-item">
                                    <span class="spacer"></span>
                                    <%= form.check_box :facility_groups,
                                      {
                                          id: facility_group.id,
                                          class: 'access-input',
                                          label: "#{facility_group.name}"
                                      } %>
                                    <span class="access-ratio collapsed"> <%= fg_metadata[:facilities].keys.size %>
                                        of <%= fg_metadata[:total_facilities] %> facilities
                                        <i class="fas fa-angle-down light"></i>
                                    </span>
                                </div>
                                <ul class="facility-access-item-wrapper collapsed">
                                    <% fg_metadata[:facilities].each do |facility, _| %>
                                    <li>
                                        <div class="facility-access-item">
                                            <span class="spacer"></span>
                                            <span class="spacer"></span>
                                            <%= form.check_box :facilities,
                                              {
                                                  id: facility.id,
                                                  class: 'access-input',
                                                  label: facility.name
                                              } %>
                                        </div>
                                    </li>
                                    <% end %>
                                </ul>
                            </li>
                            <% end %>
                        </ul>
                    </li>
                </ul>
                <% end %>
            </div>
        </div>
        <%= form.hidden_field :selected_facilities, id: "facility-access-selections", value: [], multiple: true %>
        <%= form.primary("Send Invite") %>
        <% end %>
    </div>
</div>
<% else %>
<%= react_component "InviteAdminForm",
      organizations: policy_scope([:manage, :admin, Organization.all]),
      facility_groups: policy_scope([:manage, :admin, FacilityGroup.all]).order(:name),
      facilities: policy_scope([:manage, :admin, Facility.all]).pluck(:id, :name),
      permissions: policy([:manage, :admin, User]).allowed_permissions,
      access_levels: policy([:manage, :admin, User]).allowed_access_levels,
      submit_route: '/email_authentications/invitation',
      allow_email_edit: true,
      submit_text: 'Invite Admin',
      submit_method: 'POST' %>
<% end %>