<div class="row">
  <div class="col-md-6">
    <div class="admin-header">
      <h1><%= t "devise.invitations.new.header" %></h1>
      <input type="submit" value="Send Invite" class="btn btn-primary" onclick="document.getElementById('form-submit').click()">
    </div>

    <%= bootstrap_form_with(url: email_authentication_invitation_path, local: true, autocomplete: "off", label_errors: true) do |form| %>
      <%= form.text_field :full_name, id: :full_name, required: true, autocomplete: "off", label: "Full name *", placeholder: "Full name" %>
      <%= form.text_field :email, id: :email, required: true, label: "Email *", placeholder: "Email" %>
      <%= form.text_field :role, id: :role, required: true, help: "CVHO, STS, State Official etc.", label: 'Job title *', placeholder: "Job title" %>
      <div class="mt-3 mb-3">
        <%= form.check_box(:receive_approval_notifications, checked: true, label: "Receive approval notifications") %>
      </div>
      <%= access_level_select(form, current_admin.permitted_access_levels, required: true) %>

      <%= form.label "Facility Access *" %>
      <div id="facility-access-power-user" class="hidden">
        Admin has access to all facilities in the system
      </div>

      <div id="facility-access">
        <div class="card access-tree">
          <div id="select-all-facilities" hidden="hidden">
            <%= form.check_box :select_all_facilities, id: "select-all-facilities-input" %>
            <div class="counter" id="total-selected-facilities"></div>
          </div>

          <%= render_async(access_tree_admin_path(current_admin, :new), error_message: access_tree_load_error) do %>
            <div class="spinner-wrapper">
              <div class="spinner spinner-border text-primary" role="status">
                <span class="sr-only">Loading...</span>
              </div>
            </div>
          <% end %>
        </div>
      </div>

      <%= form.submit "Send Invite", class: "btn btn-primary", id: "form-submit", hidden: :hidden %>
    <% end %>
  </div>
</div>

<script>
  new AdminAccessInvite("facility-access").initialize()
</script>
