<h1><%= t "devise.invitations.new.header" %></h1>

<% if Flipper.enabled?(:new_permissions_system_aug_2020, current_admin) %>
  <div class="row">
    <div class="col-md-6">
      <%= bootstrap_form_with(url: email_authentication_invitation_path, local: true, autocomplete: "off", label_errors: true, html: {onsubmit: "submitForm(this)"}) do |form| %>
        <%= form.text_field :full_name, id: :full_name, required: true, autocomplete: "off", label: "Full Name *" %>
        <%= form.text_field :email, id: :email, required: true %>
        <%= form.text_field :role, id: :role, required: true, label: 'Job Title' %>
        <%= form.select :access_levels, User::ACCESS_LEVEL_DESCRIPTIONS.map { |al| al[:name] }, id: :access_levels, required: true %>

        <%= form.label "Facility Access" %>
        <div id="facility-access">
          <div class="card access-tree">
            <% @current_admin.access_tree[:organizations].each do |org_id, org_data| %>
              <ul class="facility-access-item-wrapper">
                <li>
                  <div class="facility-access-item organization">
                    <%= form.check_box :organizations,
                        {
                            id: org_id,
                            class: 'access-input',
                            label: "#{org_data[:name]}",
                            disabled: !org_data[:access]
                        } %>
                        <span class="access-ratio"> <%= org_data[:access_count]  %> of <%= org_data[:total_count] %> facility groups
                          <i class="fas fa-sort-down light"></i>
                        </span>
                  </div>
                  <ul class="facility-access-item-wrapper">
                    <% org_data[:facility_groups].each do |facility_group_id, fg_data| %>
                      <li>
                        <div class="facility-access-item">
                          <span class="spacer"></span>
                          <%= form.check_box :facility_groups,
                              {
                                  id: facility_group_id,
                                  class: 'access-input',
                                  label: "#{fg_data[:name]}",
                                  disabled: !fg_data[:access]
                              } %>
                              <span class="access-ratio"> <%= fg_data[:access_count]  %> of <%= fg_data[:total_count] %> facilities
                                <i class="fas fa-sort-down light"></i>
                              </span>
                            </div>
                        <ul class="facility-access-item-wrapper">
                          <% fg_data[:facilities].each do |facility_id, f_data| %>
                            <li>
                              <div class="facility-access-item">
                              <span class="spacer"></span>
                              <span class="spacer"></span>
                                <%= form.check_box :facilities,
                                    {
                                        id: facility_id,
                                        class: 'access-input',
                                        label: f_data[:name],
                                        disabled: !f_data[:access]
                                    } %>
                              </div>
                            </li>
                          <% end %>
                        </ul>
                      </li>
                    <% end %>
                  </ul>
                </li>
              </ul>
            <% end %>
          </div>
        </div>

        <%= form.hidden_field :selected_facilities, id: "facility-access-selections", value: [] %>
        <%= form.primary("Send Invite") %>
      <% end %>
    </div>
  </div>
<% else %>
  <%= react_component "InviteAdminForm",
      organizations: policy_scope([:manage, :admin, Organization.all]),
      facility_groups: policy_scope([:manage, :admin, FacilityGroup.all]).order(:name),
      facilities: policy_scope([:manage, :admin, Facility.all]).pluck(:id, :name),
      permissions: policy([:manage, :admin, User]).allowed_permissions,
      access_levels: policy([:manage, :admin, User]).allowed_access_levels,
      submit_route: '/email_authentications/invitation',
      allow_email_edit: true,
      submit_text: 'Invite Admin',
      submit_method: 'POST' %>
<% end %>
