<% if Flipper.enabled?(:new_permissions_system_aug_2020, current_admin) %>
  <div class="row">
    <div class="col-md-6">
      <div class="admin-header">
        <h1><%= t "devise.invitations.new.header" %></h1>
        <input type="submit" value="Send Invite" class="btn btn-primary" onclick="document.getElementById('form-submit').click()">
      </div>
      <%= bootstrap_form_with(url: email_authentication_invitation_path, local: true, autocomplete: "off", label_errors: true) do |form| %>
        <%= form.text_field :full_name, id: :full_name, required: true, autocomplete: "off", label: "Full name *", placeholder: "Full name" %>
        <%= form.text_field :email, id: :email, required: true, label: "Email *", placeholder: "Email" %>
        <%= form.text_field :role, id: :role, required: true, help: "CVHO, STS, State Official etc.", label: 'Job title *', placeholder: "Job title" %>
        <%= access_level_select(form, current_admin.permitted_access_levels) %>

        <%= form.label "Facility Access *" %>
        <div id="facility-access-power-user" class="hidden">
          Admin has access to all facilities in the system
        </div>
        <div id="facility-access" data-page="new">
          <div class="card access-tree">
            <div id="select-all-facilities" hidden="hidden">
              <%= form.check_box :select_all_facilities, id: "select-all-facilities-input" %>
            </div>

            <%= render_async(access_tree_admin_path(current_admin, page: :new),
                error_message: '<p class="load-error-message">There was an error, <a href=""> please try again </a></p>') do %>
              <div class="spinner-wrapper">
                <div class="spinner spinner-border text-primary" role="status">
                  <span class="sr-only">Loading...</span>
                </div>
              </div>
            <% end %>
          </div>
        </div>

        <%= form.submit "Send Invite", class: "btn btn-primary", id: "form-submit", hidden: :hidden %>
      <% end %>
    </div>
  </div>
  <script>
    const adminAccessInvite = new AdminAccessInvite()
    adminAccessInvite.onAsyncLoaded()
    adminAccessInvite.onDOMLoaded()
  </script>
<% else %>
  <h1><%= t "devise.invitations.new.header" %></h1>
  <%= javascript_include_tag "standalone/react_components" %>
  <%= react_component "InviteAdminForm",
      organizations: policy_scope([:manage, :admin, Organization.all]),
      facility_groups: policy_scope([:manage, :admin, FacilityGroup.all]).order(:name),
      facilities: policy_scope([:manage, :admin, Facility.all]).pluck(:id, :name),
      permissions: policy([:manage, :admin, User]).allowed_permissions,
      access_levels: policy([:manage, :admin, User]).allowed_access_levels,
      submit_route: '/email_authentications/invitation',
      allow_email_edit: true,
      submit_text: 'Invite Admin',
      submit_method: 'POST' %>
<% end %>
