<!DOCTYPE html>
<html>
  <head>
    <title>Simple Server</title>
    <%= csrf_meta_tags %>

    <meta charset="utf-8">

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>

    <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed:400,700|Roboto:400,700" rel="stylesheet">

    <!-- mobile-friendly -->
    <meta name="HandheldFriendly" content="True">
    <meta name="MobileOptimized" content="320">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, shrink-to-fit=no"/>
    <meta name="apple-mobile-web-app-capable" content="yes"/>
  </head>

  <body>
    <nav class="navbar navbar-expand-md navbar-light bg-light fixed-top">
      <div class="container">
        <%= link_to root_path, class: "navbar-brand" do %>
          <%= image_tag "simple_logo.svg", width: 30, height: 30, class: "d-inline-block mr-2 align-top", alt: "Simple Server Logo" %>
        <% end %>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarsExampleDefault">
          <% if admin_signed_in? %>
            <ul class="navbar-nav mr-auto">
              <li class="nav-item">
                <%= link_to "Dashboard", admin_root_path, class: "nav-link #{active_controller?("organizations", "facility_groups")}" %>
              </li>
              <% if policy(Appointment).index? && FeatureToggle.enabled?('PATIENT_FOLLOWUPS') %>
                <li class="nav-item">
                  <%= link_to "Overdue Appointments", appointments_path, class: "nav-link #{active_controller?("patient_details")}" %>
                </li>
              <% end %>
              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle dropdown-more" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                  Manage
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <% if policy(Organization).index? %>
                    <%= link_to "Organizations", admin_organizations_path, class: "nav-link dropdown-item #{active_controller?("admin/organizations")}" %>
                  <% end %>
                  <% if policy(Facility).index? %>
                    <%= link_to "Facilities", admin_facilities_path, class: "nav-link dropdown-item #{active_controller?("admin/facilities")}" %>
                  <% end %>
                  <% if policy(Protocol).index? %>
                    <%= link_to "Protocols", admin_protocols_path, class: "nav-link dropdown-item #{active_controller?("admin/protocols")}" %>
                  <% end %>
                  <% if policy(Admin).index? %>
                    <%= link_to "Admins", admins_path, class: "nav-link dropdown-item #{active_controller?("admins")}" %>
                  <% end %>
                  <% if policy(User).index? %>
                    <%= link_to "Users", admin_users_path, class: "nav-link dropdown-item #{active_controller?("users")}" %>
                  <% end %>
                  <% if policy(AuditLog).index? %>
                    <%= link_to "Audit Logs", admin_audit_logs_path, class: "nav-link dropdown-item #{active_controller?("audit_logs")}" %>
                  <% end %>
                </div>
              </li>
            </ul>

            <ul class="navbar-nav ml-auto">
              <li class="nav-item nav-link" style="pointer-events: none;">
                <%= current_admin.email %>
              </li>
              <li class="nav-item">
                <%= link_to('Logout', destroy_admin_session_path, method: :delete, class: "nav-link") %>
              </li>
            </ul>
          <% else %>
            <ul class="navbar-nav ml-auto">
              <li class="nav-item">
                <%= link_to('Login', new_admin_session_path, class: "nav-link") %>
              </li>
            </ul>
          <% end %>
        </div>
      </div>
    </nav>

    <main role="main" class="container">
      <% flash.each do |type, message| %>
        <div class="alert <%= bootstrap_class_for_flash(type) %> alert-dismissable fade show">
          <%= message %>
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
      <% end %>

      <%= yield %>
    </main>
  </body>
</html>
