<!DOCTYPE html>
<html>
<head>
  <% if ENV["GOOGLE_ANALYTICS_ID"].present? %>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=<%= ENV["GOOGLE_ANALYTICS_ID"] %>"></script>
    <script>
      window.dataLayer = window.dataLayer || [];

      function gtag() {
        dataLayer.push(arguments);
      }

      gtag('js', new Date());

      gtag('config', '<%= ENV["GOOGLE_ANALYTICS_ID"] %>');
    </script>
  <% end %>

  <title><%= get_title_for_environment %></title>
  <%= csrf_meta_tags %>

  <meta charset="utf-8">

  <%= stylesheet_link_tag "application", media: "all" %>
  <%= stylesheet_link_tag "print", media: "print" %>

  <%= javascript_include_tag "application" %>

  <link rel="apple-touch-icon" sizes="180x180" href="<%= apple_logo_for_environment %>">
  <link rel="icon" sizes="192x192" href="<%= android_logo_for_environment(size: '192') %>">
  <link rel="icon" sizes="512x512" href="<%= android_logo_for_environment(size: '512') %>">
  <link rel="icon" type="image/png" href="<%= favicon_for_environment %>">

  <!-- Roboto font -->
  <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed:400,700|Roboto:400,700" rel="stylesheet">

  <!-- FontAwesome icons -->
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">

  <!-- Mobile-friendly -->
  <meta name="HandheldFriendly" content="True">
  <meta name="MobileOptimized" content="320">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, shrink-to-fit=no"/>
  <meta name="apple-mobile-web-app-capable" content="yes"/>
</head>

<body>
<% if email_authentication_signed_in? %>

  <nav id="nav-main" class="<%= style_class_for_environment %>">
  
      <%= link_to root_path, class: "navbar-brand" do %>
        <%= logo_for_environment %>
      <% end %>
      
      <div id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item active">
            <a class="nav-link" href="#">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Reports</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Overdue</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              More...
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <a class="dropdown-item" href="#">Action</a>
              <a class="dropdown-item" href="#">Another action</a>
              <a class="dropdown-item" href="#">Something else here</a>
            </div>
          </li>
        </ul>
      </div>
      <div  class="collapse navbar-collapse">
        <form class="form-inline">
          <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        </form>
        <span class="nav-link">
          <%= current_admin.email %>
        </span>
      </div>


      
  </nav>
<% end %>

<main role="main" class="container pb-5">
  <% flash.each do |type, message| %>
    <% next unless message.is_a? String %>

    <div class="
          <% if !email_authentication_signed_in? %>col-md-6 mx-auto
          <% end %> alert <%= bootstrap_class_for_flash(type) %> alert-dismissable fade show">
      <%= message %>
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <i class="fas fa-times" style="font-size: 85%; position: relative; bottom: 2px;"></i>
      </button>
    </div>
  <% end %>

  <%= content_for?(:content) ? yield(:content) : yield %>
  <%= content_for :render_async %>
</main>
</body>
</html>
