<!DOCTYPE html>
<html>
<head>
  <% if ENV["GOOGLE_ANALYTICS_ID"].present? %>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=<%= ENV["GOOGLE_ANALYTICS_ID"] %>"></script>
    <script>
      window.dataLayer = window.dataLayer || [];

      function gtag() {
        dataLayer.push(arguments);
      }

      gtag('js', new Date());

      gtag('config', '<%= ENV["GOOGLE_ANALYTICS_ID"] %>');
    </script>
  <% end %>

  <title><%= get_title_for_environment %></title>
  <%= csrf_meta_tags %>

  <meta charset="utf-8">

  <%= stylesheet_link_tag "application", media: "all" %>
  <%= stylesheet_link_tag "print", media: "print" %>

  <%= javascript_include_tag "application" %>

  <link rel="apple-touch-icon" sizes="180x180" href="<%= apple_logo_for_environment %>">
  <link rel="icon" sizes="192x192" href="<%= android_logo_for_environment(size: '192') %>">
  <link rel="icon" sizes="512x512" href="<%= android_logo_for_environment(size: '512') %>">
  <link rel="icon" type="image/png" href="<%= favicon_for_environment %>">

  <!-- Roboto font -->
  <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed:400,700|Roboto:400,700" rel="stylesheet">

  <!-- FontAwesome icons -->
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">

  <!-- Mobile-friendly -->
  <meta name="HandheldFriendly" content="True">
  <meta name="MobileOptimized" content="320">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, shrink-to-fit=no"/>
  <meta name="apple-mobile-web-app-capable" content="yes"/>
</head>

<body>
<% if email_authentication_signed_in? %>
<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
  <div class="container">
    <%= link_to root_path, class: "navbar-brand" do %>
      <%= logo_for_environment %>
    <% end %>
  
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Reports</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Overdue</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            More
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            
            <h6 class="dropdown-header">Settings</h6>
            <a class="dropdown-item" href="#"><i class="fas fa-hospital"></i> Facilities</a>
            <a class="dropdown-item" href="#"><i class="fas fa-network-wired"></i> Organizations</a>
            <a class="dropdown-item" href="#"><i class="fas fa-pills"></i> Protocol medications</a>
            <a class="dropdown-item" href="#"><i class="fas fa-user-tie"></i> Dashboard admins</a>
            <a class="dropdown-item" href="#"><i class="fas fa-users"></i> App users</a>
            
            <h6 class="dropdown-header">Resources</h6>
            <a class="dropdown-item" href="#"><i class="fas fa-chalkboard-teacher"></i> Training materials</a>
            
            <h6 class="dropdown-header">Legal</h6>
            <a class="dropdown-item" href="#"><i class="far fa-file"></i> Privacy policy</a>
            <a class="dropdown-item" href="#"><i class="far fa-file"></i> Terms</a>
            <div class="dropdown-divider"></div>
            <h6 class="dropdown-header">Account</h6>
            <span class="dropdown-item disabled"><i class="fas fa-user-circle"></i> <%= current_admin.email %></span>
            <a class="dropdown-item" href="#"><i class="fas fa-door-open"></i> Logout</a>
          </div>
        </li>
      </ul>
      <!--form class="form-inline my-2 my-lg-0 desktop">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-primary my-2 my-sm-0" type="submit"><i class="fas fa-search"></i></button>
      </form-->

  </div>
</nav>

<div style="border-bottom: 1px solid rgba(0,0,0,0.1); margin-top: -4px; position: relative; top: -8px; margin-bottom: 36px; white-space: nowrap; overflow-x: scroll;" class="container">
  <a href="#" style="display: inline-block; padding: 0 0 16px 18px; font-size: 16px;">Overview</a>
  <a href="#" style="display: inline-block; padding: 0 0 16px 18px; font-size: 16px;">Ranked facilities</a>
  <a href="#" style="display: inline-block; padding: 0 0 16px 18px; font-size: 16px;">BP control</a>
  <a href="#" style="display: inline-block; padding: 0 0 16px 18px; font-size: 16px;">Missed visits</a>
  <a href="#" style="display: inline-block; padding: 0 0 16px 18px; font-size: 16px;">Registrations</a>
  <a href="#" style="display: inline-block; padding: 0 0 16px 18px; font-size: 16px;">Drug stock</a>
  <span style="display: inline-block; padding: 0 0 16px 18px; font-size: 16px;">&nbsp;&nbsp;&nbsp;&nbsp;</span>
</div>

<% end %>

<main role="main" class="container pb-5">
  <% flash.each do |type, message| %>
    <% next unless message.is_a? String %>

    <div class="
          <% if !email_authentication_signed_in? %>col-md-6 mx-auto
          <% end %> alert <%= bootstrap_class_for_flash(type) %> alert-dismissable fade show">
      <%= message %>
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <i class="fas fa-times" style="font-size: 85%; position: relative; bottom: 2px;"></i>
      </button>
    </div>
  <% end %>

  <%= content_for?(:content) ? yield(:content) : yield %>
  <%= content_for :render_async %>
</main>
</body>
</html>
