<!DOCTYPE html>
<html>
  <head>
    <title>Simple Server</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>

    <!-- mobile-friendly -->
    <meta name="HandheldFriendly" content="True">
    <meta name="MobileOptimized" content="320">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1"/>
    <meta name="apple-mobile-web-app-capable" content="yes"/>
  </head>

  <body>
    <%= yield %>

    <% if admin_signed_in? %>
      <footer>
        <%= link_to('Log Out', destroy_admin_session_path, method: :delete) %>
      </footer>
    <% end %>
  </body>
</html>
