<!DOCTYPE html>
<html>
  <head>
    <title>RedappServer</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <%= yield %>

    <% if admin_signed_in? %>
      <footer>
        <%= link_to('Sign Out', destroy_admin_session_path, method: :delete) %>
      </footer>
    <% end %>
  </body>
</html>
