<% content_for(:content) do %>
<div class="sub-nav">
  <div class="container">
    <div class="px-3 px-md-0">
      
        <!--OVERVIEW-->
        <%= link_to 'Overview', my_facilities_overview_path,
            class: "sub-nav-link #{active_action?("index")}" %>
        
        <!--RANKED FACILITIES-->    
        <% if current_admin.feature_enabled?(:ranked_facilities) %>
              <%= link_to "Ranked facilities", my_facilities_ranked_facilities_path(preserve_query_params(request.query_parameters, ["size"])),
              class: "sub-nav-link #{active_action?("ranked_facilities")}" %>
        <% end %>
        
        <!--BP CONTROL-->
        <%= link_to 'BP control', my_facilities_blood_pressure_control_path(preserve_query_params(request.query_parameters, ["size"])),
            class: "sub-nav-link #{active_action?("blood_pressure_control")}" %>
        
        <!--MISSED VISITS-->
        <%= link_to 'Missed visits', my_facilities_missed_visits_path(preserve_query_params(request.query_parameters, ["size", "period"])),
            class: "sub-nav-link #{active_action?("missed_visits")}" %>
        
        <!--REGISTRATIONS-->
        <%= link_to 'Registrations', my_facilities_registrations_path(preserve_query_params(request.query_parameters, ["size", "period"])),
            class: "sub-nav-link #{active_action?("registrations")}" %>
            
        <span class="sub-nav-link mobile">&nbsp;&nbsp;&nbsp;&nbsp;</span>
    </div>
  </div>
</div>

<!-- Filter Modal -->
<div class="modal fade" id="facility-filter-modal" tabindex="-1" role="dialog" aria-labelledby="facility-filter-modal" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">

    <div class="modal-content">
      <div class="modal-header">
        <h2 class="modal-title" id="exampleModalCenterTitle">Facility filters</h2>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-6 mb-3">
            <h4>Facility sizes</h4>
            <form id="query-filters-mobile">
              <% @facility_sizes.each do |size| %>
                <div class="checkbox-row">
                  <label for=<%= "facility-#{size}-mobile" %>>
                    <%= check_box_tag("size[]", value = size, checked = @selected_sizes&.include?(size), {id: "facility-#{size}-mobile"}) %>
                    <%= size.capitalize %>
                  </label>
                </div>
              <% end %>
            </form>
          </div>
          <div class="col-6 mb-3">
            <h4>Areas</h4>
            <div class="checkbox-row">
              <label for="all-zones-filter-mobile">
                <%= radio_button_tag("zone",
                    "",
                    checked = (@selected_zones.size == @zones.size),
                    {form: "query-filters-mobile",
                        id: "all-zones-filter-mobile"}) %>
                All blocks
              </label>
            </div>
            <% @zones.each do |zone| %>
              <div class="checkbox-row">
                <label for="<%= zone %>-filter-mobile">
                  <%= radio_button_tag("zone",
                      zone,
                      checked = (@selected_zones.size == 1 && @selected_zones.first == zone),
                      {form: "query-filters-mobile",
                          id: "all-zones-filter-mobile"}) %>
                  <%= zone.capitalize %>
                </label>
              </div>
            <% end %>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <a href="?" type="button" class="btn btn-secondary">Clear all</a>
        <button type="submit" form="query-filters-mobile" class="btn btn-primary">DONE</button>
      </div>

    </div>
  </div>
</div>
  
  </div>

    <div>
      <%= yield %>
    </div>
  
<% end %>
<%= render template: "layouts/application" %>
