<% content_for(:content) do %>
  <!---------------------
  MOBILE NAV
  --------------------->
  <div class="mobile">
    <div class="dropdown">
      <% my_facilities_page_titles = { my_facilities_overview_path => 'Overview',
                                       my_facilities_ranked_facilities_path => 'Ranked facilities',
                                       my_facilities_blood_pressure_control_path => 'BP control' } %>
      <h1 class="btn btn-sm dropdown-toggle pl-0" role="button" id="dropdownMenuLink2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <%= my_facilities_page_titles[request.path] %>
      </h1>
      <div class="dropdown-menu" aria-labelledby="dropdownMenuLink2">
        <%= link_to "Overview", my_facilities_overview_path(request.query_parameters), class: "dropdown-item" %>
        <%= link_to "Ranked facilities", my_facilities_ranked_facilities_path(request.query_parameters), class: "dropdown-item" %>
        <%= link_to "BP control", my_facilities_blood_pressure_control_path(request.query_parameters), class: "dropdown-item" %>
        <%= link_to "Missed visit", "#", class: 'dropdown-item' %>
        <%= link_to "Registrations", "#", class: 'dropdown-item' %>
        <%= link_to "Medication supply", "#", class: 'dropdown-item' %>
        <%= link_to "Terminal digit pref.", "#", class: 'dropdown-item' %>
        <%= link_to "Treatment inertia", "#", class: 'dropdown-item' %>
        <%= link_to "Downloads", "#", class: 'dropdown-item' %>
      </div>
    </div>
    <% unless request.path == my_facilities_overview_path %>
      <div class="mt-0 mb-4" style="text-align: center; display: block; border-radius: 3px; background: rgba(0,0,0,0.02); padding: 10px 16px;">
        <a data-toggle="modal" data-target="#facility-filter-modal" href="#" style="display: block; text-transform: uppercase; letter-spacing: 0.3em; font-size: 12px; font-weight: bold;">
            <span class="filter-tags">
              <% Array(request.query_parameters[:size]).each do |size| %>
                <span class="badge badge-pill badge-secondary" style="font-weight: normal"><%= size.capitalize %></span>
              <% end %>
            </span>
            
            <i class="fas fa-filter"></i> Filter facilities
        </a>
      </div>
    <% end %>

    <!-- Filter Modal -->
    <div class="modal fade" id="facility-filter-modal" tabindex="-1" role="dialog" aria-labelledby="facility-filter-modal" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">

        <div class="modal-content">
          <div class="modal-header">
            <h2 class="modal-title" id="exampleModalCenterTitle">Facility filters</h2>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <div class="row">
              <div class="col-6 mb-3">
                <h4>Facility sizes</h4>
                <form id="facility-size-filter-mobile">
                  <% @facility_sizes.each do |size| %>
                    <div class="checkbox-row">
                      <label for=<%= "facility-#{size}-mobile" %>>
                        <input type="checkbox" id=<%= "facility-#{size}-mobile" %> name="size[]" value=<%= size %>
                              <% if request.query_parameters[:size].nil? || request.query_parameters[:size]&.include?(size) %>checked
                               <% end %>>
                        <%= size.capitalize %>
                      </label>
                    </div>
                  <% end %>
                </form>
              </div>
              <div class="col-6 mb-3">
                <h4>Areas</h4>
                <div class="checkbox-row">
                  <label for="all-blocks"><input type="checkbox" id="all-blocks" checked> All blocks</label></div>
                <div class="checkbox-row">
                  <label for="block-Bathinda"><input type="checkbox" id="block-Bathinda"> Bathinda</label></div>
                <div class="checkbox-row">
                  <label for="block-Bhagta"><input type="checkbox" id="block-Bhagta"> Bhagta</label></div>
                <div class="checkbox-row">
                  <label for="block-Goniana"><input type="checkbox" id="block-Goniana"> Goniana</label></div>
                <div class="checkbox-row"><label for="block-Maur"><input type="checkbox" id="block-Maur"> Maur</label>
                </div>
                <div class="checkbox-row">
                  <label for="block-Nathana"><input type="checkbox" id="block-Nathana"> Nathana</label></div>
                <div class="checkbox-row"><label for="block-Phul"><input type="checkbox" id="block-Phul"> Phul</label>
                </div>
                <div class="checkbox-row">
                  <label for="block-Rampura"><input type="checkbox" id="block-Rampura"> Rampura</label></div>
                <div class="checkbox-row">
                  <label for="block-Sangat"><input type="checkbox" id="block-Sangat"> Sangat</label></div>
                <div class="checkbox-row">
                  <label for="block-TalwandiSabo"><input type="checkbox" id="block-TalwandiSabo"> Talwandi
                    Sabo</label>
                </div>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Clear all</button>
            <button type="submit" form="facility-size-filter-mobile" class="btn btn-primary">DONE</button>
          </div>

        </div>
      </div>
    </div>
  </div>

  <!---------------------
  DESKTOP NAV
  --------------------->
  <div class="row">
    <div class="col-lg-2 pl-lg-0 desktop">
      <nav class="secondary-nav">
        <%= link_to 'Overview', my_facilities_overview_path(request.query_parameters),
                    class: request.path == my_facilities_overview_path ? "nav-link active" : "nav-link" %>
        <%= link_to 'Ranked facilities', my_facilities_ranked_facilities_path(request.query_parameters),
                    class: request.path == my_facilities_ranked_facilities_path ? "nav-link active" : "nav-link" %>
        <%= link_to 'BP control', my_facilities_blood_pressure_control_path,
                    class: request.path == my_facilities_blood_pressure_control_path ? "nav-link active" : "nav-link" %>
        <a class="nav-link" href="#">Missed visit</a>
        <a class="nav-link" href="#">Registrations</a>
        <a class="nav-link" href="#">Medication supply</a>
        <a class="nav-link" href="#">Terminal digit pref.</a>
        <a class="nav-link" href="#">Treatment inertia</a>
        <a class="nav-link" href="#">Downloads</a>
      </nav>
      <% unless request.path == my_facilities_overview_path %>
        <section id="facility-filters" class="secondary-nav-filters">
          <h4>Facility Filters</h4>
          <div class="dropdown show">
            <a class="btn btn-sm dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              All blocks
            </a>

            <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
              <a class="dropdown-item" href="#">All blocks</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="#">Bathinda</a>
              <a class="dropdown-item" href="#">Bhagta</a>
              <a class="dropdown-item" href="#">Goniana</a>
              <a class="dropdown-item" href="#">Maur</a>
              <a class="dropdown-item" href="#">Nathana</a>
              <a class="dropdown-item" href="#">Phul</a>
              <a class="dropdown-item" href="#">Rampura</a>
              <a class="dropdown-item" href="#">Sangat</a>
              <a class="dropdown-item" href="#">Talwandi Sabo</a>
            </div>
          </div>
          <form>
            <% @facility_sizes.each do |size| %>
              <div>
                <label for=<%= "facility-#{size}" %>>
                  <input type="checkbox" id=<%= "facility-#{size}" %> name="size[]" value=<%= size %>
                        <% if request.query_parameters[:size].nil? || request.query_parameters[:size]&.include?(size) %>checked
                         <% end %>>
                  <%= size.capitalize %>
                </label>
              </div>
            <% end %>
            <label>
              <button type="submit" class="btn btn-sm btn-outline-primary">Apply filters</button>
            </label>
          </form>
        </section>
      <% end %>
    </div>
    <div class="col-lg-10 pr-lg-0">
      <%= yield %>
    </div>
  </div>
<% end %>
<%= render template: "layouts/application" %>