<% content_for(:content) do %>
  <!---------------------
  MOBILE NAV
  --------------------->
  <div class="mobile">
    <div class="mt-0 mb-4 active-filters-mobile">
      <a class="filters-modal-toggle" data-toggle="modal" data-target="#facility-filter-modal">
          <span class="filter-tags">
            <% (Array(@search_filters)).each do |filter, label| %>
              <span class="badge badge-pill badge-secondary"><%= label %></span>
            <% end %>
          </span>
        <i class="fas fa-filter"></i> Search filters
      </a>
    </div>
    <!-- Filter Modal -->
    <div class="modal fade" id="facility-filter-modal" tabindex="-1" role="dialog" aria-labelledby="facility-filter-modal" aria-hidden="true">
      <div class="modal-dialog modal-dialog-centered" role="document">

        <div class="modal-content">
          <div class="modal-header">
            <h2 class="modal-title" id="exampleModalCenterTitle">Overdue filters</h2>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <div class="row">
              <div class="col-6 mb-3">
                <h4>Facility sizes</h4>
                <form id="query-filters-mobile">
                  <% @search_filters.each do |filter, label| %>
                    <div class="checkbox-row">
                      <label for=<%= "facility-#{filter}-mobile" %>>
                        <% checked = @current_search_filters.include?(filter) %>
                        <%= check_box_tag("search_filters[]", filter, checked, { id: "search-#{filter}-mobile" } ) %>
                        <%= label %>
                      </label>
                    </div>
                  <% end %>
                </form>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <a href="?" type="button" class="btn btn-secondary">Clear all</a>
            <button type="submit" form="query-filters-mobile" class="btn btn-primary">DONE</button>
          </div>

        </div>
      </div>
    </div>
  </div>

  <!---------------------
  DESKTOP NAV
  --------------------->
  <div class="row">
    <div class="col-lg-2 pl-lg-0 desktop">
      <section class="secondary-nav-filters">
        <h4>Facility Filters</h4>

        <div>
          <label>All geographic areas</label>
        </div>
      </section>

      <section id="facility-filters" class="secondary-nav-filters">
        <h4>Search Filters</h4>
        <%= form_for appointments_path, method: :get, id: "query-filters" do |form| %>
          <% puts "current search filters: #{@current_search_filters} "%>
          <% @search_filters.each do |filter, label| %>
            <div>
              <label for=<%= "search-#{filter}" %>>
                <% checked = @current_search_filters.include?(filter) %>
                <%= check_box_tag("search_filters[]", filter, checked, { id: "search-#{filter}" } ) %>
                <%= label %>
              </label>
            </div>
          <% end %>
          <label>
            <button type="submit" class="btn btn-sm btn-outline-primary">Apply filters</button>
          </label>
        <% end %>
      </section>
    </div>
    <div class="col-lg-10 pr-lg-0">
      <%= yield %>
    </div>
  </div>
<% end %>
<%= render template: "layouts/application" %>
