<!DOCTYPE html>
<html>
  <head>
    <% if ENV["GOOGLE_ANALYTICS_ID"].present? %>
      <!-- Global site tag (gtag.js) - Google Analytics -->
      <script async src="https://www.googletagmanager.com/gtag/js?id=<%= ENV["GOOGLE_ANALYTICS_ID"] %>"></script>
      <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', '<%= ENV["GOOGLE_ANALYTICS_ID"] %>');
      </script>
    <% end %>

    <title><%= get_title_for_environment %></title>
    <%= csrf_meta_tags %>

    <meta charset="utf-8">

    <%= stylesheet_link_tag '/tailwind', media: 'all' %>

    <link rel="apple-touch-icon" sizes="180x180" href="<%= apple_logo_for_environment %>">
    <link rel="icon" sizes="192x192" href="<%= android_logo_for_environment(size: '192') %>">
    <link rel="icon" sizes="512x512" href="<%= android_logo_for_environment(size: '512') %>">
    <link rel="icon" type="image/png" href="<%= favicon_for_environment %>">

    <!-- Roboto font -->
    <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed:400,700|Roboto:400,700" rel="stylesheet">

    <!-- FontAwesome icons -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">

    <!-- Mobile-friendly -->
    <meta name="HandheldFriendly" content="True">
    <meta name="MobileOptimized" content="320">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, shrink-to-fit=no"/>
    <meta name="apple-mobile-web-app-capable" content="yes"/>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0/dist/Chart.min.js" integrity="sha256-Uv9BNBucvCPipKQ2NS9wYpJmi8DTOEfTA/nH2aoJALw=" crossorigin="anonymous"></script>
  </head>
  <body class="bg-grey-100">
    <%= render "shared/nav_bar_v2" %>
    <%= yield %>
    <div id="data-json" style="display: none;">
      <%= raw @data.to_json %>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0/dist/Chart.min.js" integrity="sha256-Uv9BNBucvCPipKQ2NS9wYpJmi8DTOEfTA/nH2aoJALw=" crossorigin="anonymous"></script>
  </body>
</html>